Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jonathangiles, @srnagar, @hemanttanwar, @anuchandy, @alzimmermsft, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai, @mssfang, @conniey, @sima-zhu, @mrm9084, @xingwu1, @bgklein, @matthchr, @jianghaolu, @samvaity, @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar, @schaabs, @g2vinay, @vcolin7, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @jonathangiles @srnagar @hemanttanwar @anuchandy

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @zhoufenqin @jialindai

####
# Service teams
####
# PRLabel: %AzConfig
/sdk/appconfiguration/                              @mssfang @alzimmermsft @conniey @sima-zhu
/sdk/appconfiguration/spring-cloud-azure-*          @mrm9084 @saragluna @yiliuTo @chenrujun @zhoufenqin @jialindai

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @David-Noble-at-work @kirankumarkolli @mbhaskar
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @zhoufenqin @jialindai

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang @sima-zhu

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @sima-zhu @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @sima-zhu @kasobol-msft

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang @sima-zhu

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @zhoufenqin @jialindai  

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/management/                                    @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/parent/                                            @JimSuplizio

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny

remove tests
  sdk/core/azure-core-serializer-json-gson/src/test/java/com/azure/core/serializer/json/gson/GsonPropertyNameTests.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Added support to read from new cursor
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Changefeed.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/ChangefeedFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Chunk.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/ChunkFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Segment.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/SegmentFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Shard.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/ShardFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu, @kasobol-msft

Sync eng/common directory with azure-sdk-tools repository (#13582)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

updates to release archetype
  eng/pipelines/templates/stages/archetype-java-release.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

make constant for default etag property name and use it in all the places
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
Owners: @kushagraThapar, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai

Fix unit test
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
Owners: @conniey, @srnagar, @mssfang

Fix unit test
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
Owners: @conniey, @srnagar, @mssfang

missed a usage of constant. fix checkstyle issue
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
Owners: @kushagraThapar, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai

Remove the gson expose checking
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonSerializer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/IndexActionConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SuggestResult.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy, @sima-zhu, @mssfang, @samvaity, @conniey

Removed all references to old cursor
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedPagedFlux.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedPagedResponse.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Changefeed.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Chunk.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/ChunkFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Segment.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/SegmentFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/Shard.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/ShardFactory.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/models/BlobChangefeedEventWrapper.java
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu, @kasobol-msft

readme updates
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Owners: @samvaity, @mssfang, @sima-zhu

Regenerate SDK
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/EventGridPublisherClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/EventGridPublisherClientImplBuilder.java
Owners: @joshfree, @jonathangiles, @srnagar, @hemanttanwar, @anuchandy

Change to right provider
  sdk/core/azure-core-serializer-json-jackson/src/main/resources/META-INF/services/com.azure.core.util.serializer.MemberNameConverterProvider
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Remove and refactor
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/CloudEvent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridEvent.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/readme.md
Owners: @joshfree, @jonathangiles, @srnagar, @hemanttanwar, @anuchandy

improving test case
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/http/ReactorNettyClientTest.java
Owners: @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar

Fixed single source was empty error in direct mode
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/DocumentCrudTest.java
Owners: @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar

Added readme for field builder
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java
Owners: @alzimmermsft, @sima-zhu, @mssfang, @samvaity, @conniey

map version field to _etag (#13784)
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/converter/MappingCosmosConverterUnitTest.java
Owners: @kushagraThapar, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai

Add custom serializer
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/CloudEvent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClientBuilder.java
Owners: @joshfree, @jonathangiles, @srnagar, @hemanttanwar, @anuchandy

Use Base64 to encode application/octet-stream and avro/binary bodies instead of Arrays.toString()
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/PlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Renew currently owned partitions stored in checkpointstore (#13751)
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
Owners: @conniey, @srnagar, @mssfang

Moving the logic of shortTimer to SynchronousReceiveWork
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousMessageSubscriber.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousReceiveWork.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageManagementOperations.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
Owners: @yvgopal, @nemakam, @hemanttanwar, @conniey

Moving the logic of shortTimer to SynchronousReceiveWork
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousMessageSubscriber.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousReceiveWork.java
Owners: @yvgopal, @nemakam, @hemanttanwar, @conniey

Moving the logic of shortTimer to SynchronousReceiveWork
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousMessageSubscriber.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageManagementOperations.java
Owners: @yvgopal, @nemakam, @hemanttanwar, @conniey

Added tests for ChangefeedCursor
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/models/BlobChangefeedCursor.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/models/SegmentCursor.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/models/ShardCursor.java
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedCursorTest.groovy
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu, @kasobol-msft

reflect latest master. stage-artifacts is gone
  eng/pipelines/templates/stages/archetype-java-release.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Make spring-data-commons optional in azure-spring-data-cosmos. (#13772)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Owners: @mssfang, @JonathanGiles, @kushagraThapar, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai

Update external dependencies version minor (#13768)
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionPropertiesTest.java
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-2-2-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-core/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/EcHsmValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/RsaHsmValidationTests.java
  sdk/mediaservices/microsoft-azure-media/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/search/azure-search-documents/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-context/pom.xml
  sdk/spring/azure-spring-data-gremlin/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @mssfang, @alzimmermsft, @conniey, @sima-zhu, @xingwu1, @bgklein, @matthchr, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy, @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar, @saragluna, @yiliuTo, @chenrujun, @zhoufenqin, @jialindai, @schaabs, @g2vinay, @vcolin7, @samvaity, @joshfree, @jonathangiles, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft
