Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jonathangiles, @alzimmermsft, @conniey, @sima-zhu, @jianghaolu, @srnagar, @hemanttanwar, @moderakh, @christopheranderson, @kushagraThapar, @mssfang, @g2vinay, @samvaity, @yvgopal, @nemakam, @rickle-msft, @jaschrep-msft, @yaohaizh, @weshaggard, @mitchdenny, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jonathangiles

# Service teams
/sdk/appconfiguration/       @alzimmermsft @conniey @sima-zhu
/sdk/core/                   @alzimmermsft @jianghaolu @srnagar @hemanttanwar
/sdk/cosmos/                 @moderakh @christopheranderson @kushagraThapar
/sdk/eventhubs/              @conniey @srnagar @mssfang
/sdk/identity/               @jianghaolu @g2vinay @hemanttanwar
/sdk/keyvault/               @g2vinay @samvaity
/sdk/servicebus/             @yvgopal @nemakam
/sdk/tracing/                @samvaity @alzimmermsft

/sdk/storage/                @rickle-msft @jaschrep-msft @alzimmermsft @sima-zhu

# Management Plane
/**/resource-manager/        @yaohaizh

###########
# Eng Sys
###########
/eng/   @weshaggard @mitchdenny @danieljurek
/eng/code-quality-reports/ @mssfang @JonathanGiles
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

SearchIndexService authentication, builder and sample (#3)
  search/data-plane/data/src/main/java/com/azure/search/data/SearchIndexClient.java
  search/data-plane/data/src/main/java/com/azure/search/data/SearchIndexClientBuilder.java
  search/data-plane/data/src/main/java/com/azure/search/data/common/credentials/SearchCredentials.java
  search/data-plane/data/src/main/java/com/azure/search/data/common/credentials/SearchInterceptor.java
  search/data-plane/data/src/main/java/com/azure/search/data/customization/SearchIndexClientBuilder.java
  search/data-plane/data/src/main/java/com/azure/search/data/customization/SearchIndexClientBuilderImpl.java
  search/data-plane/data/src/main/java/com/azure/search/data/customization/SearchIndexClientImpl.java
  search/data-plane/data/src/main/java/com/azure/search/data/customization/SearchIndexClientImplAsync.java
  search/data-plane/data/src/main/java/com/azure/search/data/samples/Hotel.java
  search/data-plane/data/src/main/java/com/azure/search/data/samples/SearchIndexClientExample.java
Owners: none

Remove unused import.
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/HelloWorldAsync.java
Owners: @g2vinay, @samvaity

Add more sample scenarios and cleanup dead code
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorAsyncClient.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionProcessor.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionProcessorFactory.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/eventprocessor/models/Checkpoint.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/eventprocessor/models/PartitionContext.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/eventprocessor/models/PartitionOwnership.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/ConsolePartitionProcessor.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/EventProcessorSample.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/InMemoryPartitionManager.java
Owners: @conniey, @srnagar, @mssfang

Fix checkstyle
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorAsyncClient.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/EventProcessorSample.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/InMemoryPartitionManager.java
Owners: @conniey, @srnagar, @mssfang

Fix Build: Spotbugs and unused import (#4789)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/RetryPolicy.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/BatchOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConsumerOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubProducerOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/SendOptions.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/HelloWorldAsync.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @conniey, @mssfang, @g2vinay, @samvaity

update public API
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/Algorithm.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/AlgorithmResolver.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionAlgorithm.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/LocalSignatureAlgorithm.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/Rs256.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/Rsa15.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/RsaEncryption.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/RsaOaep.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/RsaSignature.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/SignatureEncoding.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/Strings.java
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/SymmetricEncryptionAlgorithm.java
Owners: @g2vinay, @samvaity

more sane template usage with working tests
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/install-reporting-tools.yml
  sdk/cosmos/ci.yml
  sdk/cosmos/tests.yml
Owners: @weshaggard, @mitchdenny, @danieljurek

Update runtime to 1.6.12 (#4586)
  parent/pom.xml
Owners: none

Move tenantId and authorityHost builder methods
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/AadCredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/CredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/UsernamePasswordCredentialTest.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar
