Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @samvaity, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @yijunxiems, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @trask, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @hemanttanwar @anuchandy @conniey @jianghaolu @bsiegel

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @zhenlan

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

/sdk/monitor/azure-opentelemetry-exporter-azuremonitor    @trask @joshfree @srnagar

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-starter-keyvault-certificates    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates          @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @mitchdenny @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/eng/versioning/                                    @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny

changed core version
  sdk/communication/azure-communication-administration/pom.xml
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Removed unused import
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberClientBuilderTest.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Resuming query from a continuation token after split (#18698)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

comment wording adjustment
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReceiveEventsFromEventHandler.java
Owners: @srnagar, @yijunxiems

Client implementation Maven dependencies for tests
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilder.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/test/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClientTest.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/test/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilderTest.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/test/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientTest.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/test/java/com/azure/mixedreality/remoterendering/RemoteRenderingTestBase.java
  sdk/mixedreality/remoterendering/pom.xml
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Updated readme and changelog
  sdk/communication/azure-communication-administration/CHANGELOG.md
  sdk/communication/azure-communication-administration/README.md
  sdk/communication/azure-communication-administration/src/samples/java/com/azure/communication/administration/ReadmeSamples.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/resources/session-records/createAsyncPhoneNumberClientWithManagedIdentity.json
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Retry context refactor and adding on query diagnostics
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClearingSessionContainerClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IRetryPolicyFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InvalidPartitionExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyRangeGoneRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RenameCollectionAwareClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResetSessionTokenRetryPolicyFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceThrottleRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkOperationRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Add revapi changes to allow breaking versioning
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Owners: @mssfang, @JonathanGiles

Disabling query diag tests to debug CI.
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Added tests
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/CompositeTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestoutputstreamoptionsmissingrequired.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/CompositeTestfilescopy.json
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Changelog
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Corrected revapi ignore
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Owners: @mssfang, @JonathanGiles

Cleaned up MAA Checkstyle exceptions
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Owners: @mssfang, @JonathanGiles

run autorest
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadAsyncClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatThreadImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatMessageConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AddChatParticipantsOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessage.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceipt.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceiptsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessagesCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipantsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThread.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadsInfoCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/SendChatMessageResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/SendReadReceiptRequest.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/package-info.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/AddChatParticipantsErrors.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/AddChatParticipantsResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessage.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageContent.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadInfo.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CommunicationError.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CommunicationErrorResponseException.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CreateChatThreadErrors.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/SendChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/samples/java/com/azure/communication/chat/ReadmeSamples.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTestBase.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/implementation/ChatOptionsProvider.java
  sdk/communication/azure-communication-chat/swagger/README.md
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

embedme
  sdk/communication/azure-communication-chat/README.md
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Fixed exceptions
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberClientBuilder.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

remove ChatMessagePriority.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessagePriority.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Actually fixed revapi
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Owners: @mssfang, @JonathanGiles

hide implementation
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageContent.java
  sdk/communication/azure-communication-common/src/main/java/module-info.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Nio output stream open options (#18735)
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/CompositeTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestoutputstreamoptionsmissingrequired.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/CompositeTestfilescopy.json
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft
