Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @anuchandy, @conniey, @jianghaolu, @pallavit, @lmolkova, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793, @mssfang, @mrm9084, @zhenlan, @azure-sdk-write-attestation, @larryosterman, @gingi, @paterasMSFT, @dpwatrous, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @petrsvihlik, @martinbarnas-ms, @vcolin7, @ki1729, @samvaity, @trask, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @azabbasi, @digimaun, @JamesBirdsall, @sjkwak, @g2vinay, @schaabs, @divyajay, @alongafni, @craigktreasure, @MalcolmTyrrell, @shankarsama, @yvgopal, @amishra-dev, @rickle-msft, @jaschrep-msft, @kasobol-msft, @Azure/azure-sdk-eng, @weidongxu-microsoft, @qwordy, @haolingdong-msft, @vxfield, @cgranade, @ricardo-espinoza, @anjbur, @msoeken, @guenp, @benbp, @weshaggard, @danieljurek, @JonathanGiles

We now pass the appropriate scope to BearerTokenAuthenticationPolicy creating a new instance in client builders, tests and samples.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAdministrationClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClientBuilder.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientManagedHsmTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTestBase.java
Owners: @vcolin7, @g2vinay, @samvaity

transitive requires and code coverage exclusions
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/parents/azure-client-sdk-parent/pom.xml
Owners: @alzimmermsft, @jianghaolu, @srnagar, @anuchandy, @lmolkova, @pallavit, @vcolin7, @mssfang, @joshfree, @conniey

add retry count config for open async
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

add config for ioThreadPriority
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Running Prepare-Release for azure-messaging-eventhubs-checkpointstore-blob
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @conniey, @anuchandy, @ki1729

Running Prepare-Release for azure-messaging-eventhubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @conniey, @anuchandy, @ki1729

Added support for UUID id type to spring data cosmos SDK (#24198)
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/UUIDIdDomain.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/ReactiveUUIDIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/UUIDIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveUUIDIdDomainRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/UUIDIdDomainRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/common/CosmosUtils.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/UUIDIdDomain.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Owners: @kushagraThapar, @mbhaskar, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Update README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
Owners: @conniey, @anuchandy, @ki1729, @srnagar

Update Storage POMs to Use New Surefire Argline Pattern (#24132)
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @alzimmermsft, @kasobol-msft

Adding more info to Unknown auth token kind error (#24151)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Updated test-resources.json after live test framework changes. (#24135)
  sdk/keyvault/test-resources.json
Owners: @vcolin7, @g2vinay, @samvaity

Updated release data for chat java from 09/27 to 09/15 (#24157)
  sdk/communication/azure-communication-chat/CHANGELOG.md
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Make Context.NONE a Specialized Subclass (#24140)
  sdk/core/azure-core/src/main/java/com/azure/core/util/Context.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @anuchandy, @lmolkova, @pallavit, @vcolin7, @mssfang

Addressing the issue of not terminating unconfirmed-sends due to the termination of link with no error (#24141)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Owners: @conniey, @anuchandy, @ki1729, @srnagar

Sync eng/common directory with azure-sdk-tools for PR 2009 (#24111)
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Owners: @benbp, @weshaggard, @danieljurek

Sync eng/common directory with azure-sdk-tools for PR 2016 (#24159)
  eng/common/pipelines/templates/steps/verify-changelog.yml
Owners: @benbp, @weshaggard, @danieljurek

Remove header level from changelogs (#24168)
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @alzimmermsft, @kasobol-msft

Fixed a NullPointerException in VirtualMachineImpl (#24154)
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
Owners: @weidongxu-microsoft, @qwordy, @haolingdong-msft

mgmt script, add "no-transfer-progress" to mvn call (#24175)
  eng/mgmt/automation/generate.py
Owners: @benbp, @weshaggard, @danieljurek, @weidongxu-microsoft, @haolingdong-msft

Prepare release 1.1.0 (#24163)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @MalcolmTyrrell

Increment version for eventgrid releases (#24178)
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Owners: @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @weidongxu-microsoft, @qwordy, @haolingdong-msft

add back revapi check after releasing 2.8.0 (#24177)
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-redis/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Owners: @weidongxu-microsoft, @qwordy, @haolingdong-msft

Sync eng/common directory with azure-sdk-tools for PR 2011 (#24155)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Owners: @benbp, @weshaggard, @danieljurek

Fixing Key Vault live tests. (#24142)
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/platform-matrix.json
  sdk/keyvault/tests.yml
Owners: @vcolin7, @g2vinay, @samvaity, @benbp

API consistency review updates (#24130)
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/logs/AzureLogAnalyticsImplBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/logs/models/LogsQueryHelper.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQuery.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResultStatus.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/QueryTimeInterval.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/LogsQueryWithModels.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/MetricsQuerySample.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/codesnippets/LogsQueryClientJavaDocCodeSnippets.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatistics.json
Owners: @srnagar, @pallavit

upgrade GA patch version (#24170)
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Owners: @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @mssfang

[TA] Fixes live test regression (#24184)
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeKeyPhrasesExtractionAction[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeKeyPhrasesExtractionAction[1].json
Owners: @samvaity, @mssfang

Move response error to azure-core (#24131)
  eng/versioning/version_client.txt
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/TimeInterval.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/package-info.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/models/TimeIntervalTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseError.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseInnerError.java
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricResult.java
  sdk/monitor/azure-monitor-query/src/main/java/module-info.java
Owners: @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @jianghaolu, @srnagar, @anuchandy, @lmolkova, @pallavit, @vcolin7, @mssfang

fix bug of converting header of schedule enqueue time (#24171)
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverterTest.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

mgmt, fix typo in eventgrid sample readme (#24190)
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/samples/README.md
Owners: @weidongxu-microsoft, @qwordy, @haolingdong-msft

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Java SDK - Encryption: Adding Aggregate query support (#24103)
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/ChangeFeedEncryptionProcessorBuilder.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ItemDeserializer.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Malcolm tyrrell/try release arr (#24191)
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Owners: @MalcolmTyrrell

Increment version for remoterendering releases (#24194)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @MalcolmTyrrell

Sync eng/common directory with azure-sdk-tools for PR 2010 (#24182)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @benbp, @weshaggard, @danieljurek

Fixed issue with onErrorDropped being called when using concatWith in QuorumReader (#24180)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Fix purview scanning URL (#23638)
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-scanning/src/samples/java/com/azure/analytics/purview/scanning/ReadmeSamples.java
Owners: @joshfree, @srnagar, @anuchandy, @conniey, @jianghaolu, @pallavit, @lmolkova

Feature Management updated with evaluate configuration option (#24165)
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Owners: @mrm9084, @zhenlan, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Fix spring dependency version mapping link (#24200)
  sdk/spring/README.md
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Fixes JSON property name of ClientEncryptionKeyProperties to match backend (#24160)
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/DotNetCompatibleTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/dotnetEncryption/ClientEncryptionKey1.json
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/dotnetEncryption/ClientEncryptionKey2.json
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @anuchandy @conniey @jianghaolu @pallavit @lmolkova

# BOM
# PRLabel: %bom
/sdk/boms/azure-sdk-bom/                            @pallavit @alzimmermsft @jonathangiles @srnagar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
/sdk/appconfiguration/spring-cloud-azure-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793


# PRLabel: %Attestation
/sdk/attestation/                                   @azure-sdk-write-attestation @larryosterman
/sdk/attestation/azure-security-attestation         @azure-sdk-write-attestation @larryosterman
/sdk/attestation/azure-resourcemanager-attestation  @azure-sdk-write-attestation @larryosterman

# PRLabel: %Batch
/sdk/batch/                                         @gingi @paterasMSFT @dpwatrous

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers
/sdk/communication/azure-communication-identity/    @petrsvihlik @martinbarnas-ms

# PRLabel: %Container Registry
/sdk/containerregistry/                             @pallavit @alzimmermsft @jianghaolu

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @anuchandy @lmolkova @pallavit @vcolin7 @mssfang

# PRLabel: %Azure.Core.AMQP
/sdk/core/azure-core-amqp/                          @conniey @anuchandy @ki1729 @srnagar

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft @trask @lmolkova

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft @aayush3011
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @mbhaskar @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @mbhaskar @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

# PRLabel: %Digital Twins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @azabbasi

# PRLabel: %Models Repository
/sdk/modelsrepository                               @drwill-ms @timtay-microsoft @abhipsaMisra @azabbasi @digimaun

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @lmolkova

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @anuchandy @ki1729 @srnagar

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs-eph/       @JamesBirdsall @sjkwak

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs-extensions/  @JamesBirdsall @sjkwak

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs/           @JamesBirdsall @sjkwak

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @g2vinay @schaabs @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @vcolin7 @g2vinay @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

/sdk/loganalytics/microsoft-azure-loganalytics/     @divyajay @alongafni

# PRLabel:  %Monitor - Exporter
/sdk/monitor/azure-monitor-opentelemetry-exporter   @trask @lmolkova @srnagar @samvaity

# PRLabel:  %Monitor
/sdk/monitor/azure-monitor-query                    @srnagar @pallavit

# PRLabel: %Mixed Reality Authentication
/sdk/mixedreality/azure-mixedreality-authentication @craigktreasure

# PRLabel: %Remote Rendering
/sdk/remoterendering/                               @MalcolmTyrrell

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @conniey @sjkwak @srnagar

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @pallavit @mssfang @samvaity

# PRLabel: %Service Bus
/sdk/servicebus/                                    @anuchandy @ki1729 @conniey

# PRLabel: %Service Bus
/sdk/servicebus/microsoft-azure-servicebus/         @shankarsama @yvgopal

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @alzimmermsft @kasobol-msft

# PRLabel: %Tables
/sdk/tables/                                        @vcolin7 @conniey

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @weidongxu-microsoft @qwordy @haolingdong-msft
/sdk/**/azure-resourcemanager-*                     @weidongxu-microsoft @qwordy @haolingdong-msft

# Quantum
# PRLabel: %Azure Quantum
/sdk/quantum/                                       @vxfield @cgranade @ricardo-espinoza @anjbur @msoeken @guenp

###########
# Eng Sys
###########
/eng/                                               @benbp @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @benbp @weshaggard @danieljurek @weidongxu-microsoft @haolingdong-msft
/eng/versioning/                                    @benbp @danieljurek @alzimmermsft @samvaity @g2vinay
/eng/versioning/external_dependencies.txt           @benbp @danieljurek @alzimmermsft @samvaity @g2vinay @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
/eng/bomgenerator                                   @pallavit @alzimmermsft @srnagar
/parent/                                            @alzimmermsft

/**/tests.yml                                       @benbp
/**/ci.yml                                          @benbp

# Add owners for notifications for specific pipelines
/eng/pipelines/aggregate-reports.yml                @joshfree
