Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jonathangiles, @mssfang, @alzimmermsft, @conniey, @sima-zhu, @xingwu1, @bgklein, @matthchr, @jianghaolu, @srnagar, @hemanttanwar, @moderakh, @christopheranderson, @kushagraThapar, @g2vinay, @samvaity, @yvgopal, @nemakam, @rickle-msft, @jaschrep-msft, @gapra-msft, @yaohaizh, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

Doc Index Generation Clean up
  eng/docgeneration/Generate-DocIndex.ps1
  eng/pipelines/docindex.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Corrected version number
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/src/main/java/module-info.java
Owners: @srnagar, @JonathanGiles, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

cleanup
  eng/spotbugs-aggregate-report/pom.xml
Owners: @srnagar, @JonathanGiles

config update
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretAsyncClientTest.java
Owners: @g2vinay, @samvaity

Increase memory to 6GB
  eng/pipelines/templates/variables/globals.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Update issue text and skip file if it does not exist.
  eng/versioning/update_versions.py
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Edited changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
Owners: @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

Print out test name before running test
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
Owners: @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

core interdependencies should be using current
  sdk/core/azure-core-tracing-opencensus/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar

PR feedback
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/package-info.java
Owners: @srnagar, @JonathanGiles, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

Added README for E2E module
  eng/.docsettings.yml
  sdk/e2e/README.md
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @joshfree, @jonathangiles

Doc Index Generation Clean up (#7102)
  eng/docgeneration/Generate-DocIndex.ps1
  eng/pipelines/docindex.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Fix dependency versions for azure-core-amqp.
  eng/versioning/version_client.txt
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Update azure-messaging-eventhubs to use correct pom.
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Owners: @conniey, @srnagar, @mssfang

Update changelog versions.
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @conniey, @mssfang

docsettings and empty class for compiling
  eng/.docsettings.yml
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

changing previously missed readme
  sdk/textanalytics/azure-ai-textanalytics/README.md
Owners: @joshfree, @jonathangiles

BlobOutputStream using BufferedUpload (#7067)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobOutputStreamTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageOutputStream.java
Owners: @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

add release info for 2020 January
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Owners: @mssfang, @alzimmermsft, @conniey, @sima-zhu

Fix linting issues found by change
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/AnalyzeSentimentAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizePiiAsync.java
Owners: @joshfree, @jonathangiles

Encryption client builder pipeline can be set from another client
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/AzureStorageClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
Owners: @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

Javadocs
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
Owners: @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

core interdependencies should be using current (#7110)
  sdk/core/azure-core-tracing-opencensus/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar

Added a package for Java nio implementation (#7105)
  eng/.docsettings.yml
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  pom.client.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/package-info.java
  sdk/storage/azure-storage-blob-nio/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-nio/src/main/resources/META_INF/services/java.nio.file.spi.FileSystemProvider
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @srnagar, @JonathanGiles, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

updating missing links
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/DetectLanguage.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/DetectLanguageAsync.java
Owners: @joshfree, @jonathangiles

Fix code styles
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/HttpPipelineAdapter.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Clean up pom
  sdk/identity/azure-identity/pom.xml
Owners: @jianghaolu, @g2vinay, @hemanttanwar

throw IllegalArgException
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Owners: @mssfang, @alzimmermsft, @conniey, @sima-zhu

Fix netty module version
  sdk/identity/azure-identity/pom.xml
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Ported direct tcp options from azure-cosmosdb-java-2.6.X
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestTimer.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/directconnectivity/RntbdTransportClientTest.java
Owners: @moderakh, @christopheranderson, @kushagraThapar

connection string
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Owners: @mssfang, @alzimmermsft, @conniey, @sima-zhu

Use default when HttpPipeline is not specified
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Fixed POM issue detected by Central SDK build pipeline
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
Owners: @moderakh, @christopheranderson, @kushagraThapar

Updated change log
  sdk/cosmos/changelog/README.md
Owners: @moderakh, @christopheranderson, @kushagraThapar

Fixed POM issue detected by Central SDK build pipeline
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
Owners: @moderakh, @christopheranderson, @kushagraThapar

Fixed POM issue detected by Central SDK build pipeline
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
Owners: @moderakh, @christopheranderson, @kushagraThapar

Update msal4j in eventhubs
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/MsalTest.java
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @conniey, @srnagar, @mssfang

Removed christopheranderson and added David-Noble-at-work to sdk/cosmos/CODEOWNERS
  sdk/cosmos/CODEOWNERS
Owners: @moderakh, @christopheranderson, @kushagraThapar

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jonathangiles

# Service teams
/sdk/appconfiguration/                            	@mssfang @alzimmermsft @conniey @sima-zhu
/sdk/batch/                                      	@xingwu1 @bgklein @matthchr
/sdk/core/                                        	@alzimmermsft @jianghaolu @srnagar @hemanttanwar
/sdk/cosmos/                                      	@moderakh @christopheranderson @kushagraThapar
/sdk/eventhubs/                                   	@conniey @srnagar @mssfang
/sdk/identity/                                    	@jianghaolu @g2vinay @hemanttanwar
/sdk/keyvault/                                    	@g2vinay @samvaity
/sdk/servicebus/                                  	@yvgopal @nemakam
/sdk/tracing/                                    	@samvaity @alzimmermsft

/sdk/storage/                				@rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @sima-zhu

# Management Plane
/**/resource-manager/                            	@yaohaizh
/sdk/**/azure-mgmt-*/                            	@yaohaizh

###########
# Eng Sys
###########
/eng/                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/     @srnagar @JonathanGiles
/parent/                            @JimSuplizio

/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
