Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @alzimmermsft, @jonathangiles, @pallavit, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @samvaity, @trask, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @digimaun, @yijunxiems, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @MalcolmTyrrell, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles, @xccc-msft, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @hemanttanwar @anuchandy @conniey @jianghaolu

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy @pallavit
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu
/sdk/appconfiguration/spring-cloud-azure-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Container Registry
/sdk/containerregistry/                             @pallavit @alzimmermsft @jianghaolu

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft @trask

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft @aayush3011
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @mbhaskar @stliu
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @mbhaskar @stliu

# PRLabel: %Digital Twins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Models Repository
/sdk/modelsrepository                               @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum @digimaun

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

/sdk/monitor/azure-monitor-opentelemetry-exporter   @trask @joshfree @srnagar

# PRLabel: %Remote Rendering
/sdk/remoterendering/                               @MalcolmTyrrell

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @hemanttanwar @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %Tables
/sdk/tables/                                        @vcolin7 @conniey

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @mitchdenny @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/eng/versioning/                                    @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity @g2vinay
/eng/versioning/external_dependencies.txt           @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity @g2vinay @saragluna @yiliuTo @chenrujun @backwind1233 @stliu
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @benbp
/**/ci.yml                                          @mitchdenny

domainFilter
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Owners: @samvaity, @mssfang

change backofftime
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/OperationTypeTrackingUnit.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottler.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Add opens specialized in blob
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Update Dependencies for azure-arm-parent (#21265)
  sdk/parents/azure-arm-parent/pom.xml
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu

Prepare azure-search-documents for May 2021 Patch Release (#21282)
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingPublisher.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Owners: @mssfang, @JonathanGiles, @srnagar, @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @hemanttanwar, @conniey
