Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @samvaity, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @yijunxiems, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @trask, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @hemanttanwar @anuchandy @conniey @jianghaolu @bsiegel

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @zhenlan

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

/sdk/monitor/azure-opentelemetry-exporter-azuremonitor    @trask @joshfree @srnagar

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-starter-keyvault-certificates    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates          @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @mitchdenny @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/eng/versioning/                                    @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny

resolve conversation
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Remove unused import.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Fixing tests
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinJSON.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

add autogenerated code
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/JobsClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/ProvidersClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/QuantumClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/QuotasClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/StoragesClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/fluent/models/package-info.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/fluent/package-info.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/JobsClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/ProvidersClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/QuantumClientBuilder.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/QuantumClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/QuotasClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/StoragesClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/BlobDetails.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/DimensionScope.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ErrorData.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/JobDetails.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/JobDetailsList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/JobStatus.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/MeterPeriod.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ProviderAvailability.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ProviderStatus.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ProviderStatusList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/Quota.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/QuotaList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/RestError.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/RestErrorException.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/SasUriResponse.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/TargetAvailability.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/TargetStatus.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/package-info.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/package-info.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

mgmt hdinsight regenerate package-2018-06-preview
  sdk/hdinsight/mgmt-v2018_06_01_preview/pom.xml
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ApplicationGetEndpoint.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/BillingResponseListResult.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterCreateProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterGetProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterIdentityUserAssignedIdentitiesValue.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ComputeIsolationProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ConnectivityEndpoint.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Dimension.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ExcludedServicesConfig.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/FilterMode.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/HostInfo.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/MetricSpecifications.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Operation.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/OperationDisplay.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/OperationProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Role.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ServiceSpecification.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/VmSizeCompatibilityFilterV2.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/VmSizeProperty.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ApplicationsInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/BillingResponseListResultImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/BillingResponseListResultInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ClustersInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ExtensionsInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/HostInfoImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/HostInfoInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/OperationImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/OperationInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ScriptActionsInner.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

update pom
  sdk/hdinsight/mgmt-v2018_06_01_preview/pom.xml
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

mgmt, fix app getByName
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryApplicationsImpl.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

Fix bug: OAuth2AuthorizedClient not saved for ClientNeedConsentWhenLogin (#18715)
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Add BinaryData, Domain and system events in README
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/DeserializeEventsFromString.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/PublishCloudEventsToTopic.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/PublishEventsToDomain.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReadmeSamples.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReceiveEventsFromEventHandler.java
Owners: @srnagar, @yijunxiems

mgmt hdinsight regenerate package-2018-06-preview (#18725)
  sdk/hdinsight/mgmt-v2018_06_01_preview/pom.xml
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ApplicationGetEndpoint.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/BillingResponseListResult.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterCreateProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterGetProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ClusterIdentityUserAssignedIdentitiesValue.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ComputeIsolationProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ConnectivityEndpoint.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Dimension.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ExcludedServicesConfig.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/FilterMode.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/HostInfo.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/MetricSpecifications.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Operation.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/OperationDisplay.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/OperationProperties.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/Role.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/ServiceSpecification.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/VmSizeCompatibilityFilterV2.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/VmSizeProperty.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ApplicationsInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/BillingResponseListResultImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/BillingResponseListResultInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ClustersInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ExtensionsInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/HostInfoImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/HostInfoInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/OperationImpl.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/OperationInner.java
  sdk/hdinsight/mgmt-v2018_06_01_preview/src/main/java/com/microsoft/azure/management/hdinsight/v2018_06_01_preview/implementation/ScriptActionsInner.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

Rename SharedAccessSignature to Sas
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridSasGenerator.java
Owners: @srnagar, @yijunxiems

Add exception handling for deserialization
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridDeserializer.java
Owners: @srnagar, @yijunxiems

Small fixes
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventMappings.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/DeserializationTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherClientTests.java
Owners: @srnagar, @yijunxiems

More multi-valued header support goodness.
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpResponseBase.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/RestProxyTestsWireMockServer.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeader.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

add pom file; regenerate code with fluent:false
  sdk/quantum/azure-quantum-client/pom.xml
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/Jobs.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/JobsClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/Providers.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/ProvidersClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/QuantumClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/QuantumClientBuilder.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/Quotas.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/QuotasClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/Storages.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/StoragesClient.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/fluent/models/package-info.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/fluent/package-info.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/JobsClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/ProvidersClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/QuantumClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/QuotasClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/implementation/StoragesClientImpl.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/BlobDetails.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ErrorData.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/JobDetails.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/JobDetailsList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ProviderStatus.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/ProviderStatusList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/Quota.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/QuotaList.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/RestError.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/SasUriResponse.java
  sdk/quantum/azure-quantum-client/src/main/java/com/microsoft/azure/quantum/models/TargetStatus.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Small fixes
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReadmeSamples.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReceiveEventsFromEventHandler.java
Owners: @srnagar, @yijunxiems

Adding more javadoc
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Lowering jacoco branch coverage requirement to try to get over the line
  sdk/core/azure-core-http-netty/pom.xml
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

mgmt, fix app getByName (#18726)
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryApplicationsImpl.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

More checkstyle fixes
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

CodeGen from PR 12188 in Azure/azure-rest-api-specs add eventgrid track2 config (#12188)
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/README.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/EventGridManager.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/DomainImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/EventSubscriptionImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/TopicImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Domain.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/EventSubscription.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Topic.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

Remove some unnecessary caching.
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Update version.
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

update MaxParallel in Azure China
  sdk/spring/spring-test-template.yml
  sdk/spring/tests.yml
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @danieljurek

Update tests.yml
  sdk/spring/tests.yml
Owners: @danieljurek

client classes and builder
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClient.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilder.java
  sdk/mixedreality/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/Test.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Fix two spotbugs issues
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinJSON.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

init doc
  sdk/resourcemanager/docs/RBAC.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

Cosmos DB: Rewrite RowConverter (#18642)
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/JsonSupport.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Reacting to code review feedback from Milis
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStateVersions.java
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Criteria.getInstance for Unary CriteriaType
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/Criteria.java
Owners: @kushagraThapar, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @mbhaskar

Fixing Test issues after changing ChangeFeedStateVersion from 0 to 1
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ChangeFeedStateTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/feedranges/FeedRangeContinuationTest.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Removed AzureKeyCredential
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Using DefaultAzureCredential for managed identity
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Added tests
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Added FakeCredential for playback tests
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Using DefaultAzureCredential for managed identity
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Addressed comments
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Used connection string object
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberIntegrationTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Initial implementation
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberClientBuilder.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberClientBuilderTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberIntegrationTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers
