Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @samvaity, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @yijunxiems, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @trask, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

Styles
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Enumerate resources for ci.yml
  sdk/attestation/ci.yml
Owners: @mitchdenny

Trying to get azure-core to play better in the multi-value header world
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinJSON.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/RestProxyTestsWireMockServer.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Add .gitignore
  sdk/quantum/.gitignore
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Changes for most of the libraries (#18709)
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClient.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedAsyncClient.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/AppendBlobRequestConditions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/PageBlobRequestConditions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/CommonSasQueryParameters.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/DataLakeServiceSasSignatureValues.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

More CI changes
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationTest.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

[Communication]: Add identifier model and serializer (#18685)
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberAsyncClient.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierKind.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierModel.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierSerializer.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierSerializerTests.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsAsyncClient.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

SpotBugs/CheckStyle fixes
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationPolicyManagementTests.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationPolicyTests.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationSignersTest.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/SecuredPolicyResetToken.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Generated off latest swagger for STG76
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/DataLakeStorageClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareProtocolSettings.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareSmbSettings.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Sync eng/common directory with azure-sdk-tools repository (#18708)
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Sync eng/common directory with azure-sdk-tools for PR 1317 (#18710)
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Updated the flags
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Ensure bypass conditional template gets run for 1es ubuntu image
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

String to number conversion
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

skip session token for query plan
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ReplicatedResourceClientUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

More StyleCop changes
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationMetadataTest.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationPolicyTests.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationSignersTest.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationTest.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/PlainPolicyResetToken.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/SecuredPolicyResetToken.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Final Checkstyle fixes
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationPolicyTests.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Update msal4j dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @conniey, @srnagar, @mssfang, @yijunxiems, @schaabs, @g2vinay, @jianghaolu, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Session timeout 404/1002 HA fixes (#18594)
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/resources/multi-region-testng.xml
  sdk/cosmos/tests.yml
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @danieljurek

Fix bug: OAuth2AuthorizedClient not saved for ClientNeedConsentWhenLogin.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Update MaxParallel to 7
  sdk/eventgrid/tests.yml
  sdk/keyvault/tests.yml
  sdk/search/tests.yml
  sdk/tables/tests.yml
Owners: @danieljurek

Fix test failure by catch IllegalStateException.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Added checkstyle exclusion for MAA generated code
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Owners: @mssfang, @JonathanGiles

Fixed path to archetype tests
  sdk/attestation/tests.yml
Owners: @danieljurek

Adding more tests to retryUtil
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Recover dependency: com.microsoft.azure:azure.
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Add support for token credential
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/IncidentRootCauseTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdminClientBuilderTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdministrationClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientBuilderTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/TestUtils.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/ValuesOfDimensionWithAnomaliesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithDefaultPipeline[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithInvalidEndpoint[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithInvalidKeyCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithNullServiceVersion[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithTokenCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithDefaultPipeline[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithInvalidEndpoint[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithInvalidKeyCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithNullServiceVersion[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithTokenCredential[1].json
Owners: @samvaity, @anuchandy

Update MaxParallel to 7 (#18717)
  sdk/eventgrid/tests.yml
  sdk/keyvault/tests.yml
  sdk/search/tests.yml
  sdk/tables/tests.yml
Owners: @danieljurek

Update msal4j dependency (#18714)
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @conniey, @srnagar, @mssfang, @yijunxiems, @schaabs, @g2vinay, @jianghaolu, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

remove unused imports
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/IncidentRootCauseTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdminClientBuilderTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdministrationClientTestBase.java
Owners: @samvaity, @anuchandy

Cleaned up MAA Checkstyle exceptions
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Owners: @mssfang, @JonathanGiles

Updated Key Vault dependency version to the latest stable release.
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Owners: @joshfree, @jonathangiles, @alzimmermsft, @g2vinay, @conniey, @srnagar, @JimSuplizio, @mitchdenny, @danieljurek, @samvaity, @mrm9084, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @zhenlan, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

Updated Key Vault dependency version to the latest stable release in CHANGELOGs and READMEs.
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Owners: @g2vinay, @vcolin7, @samvaity

1. Use "principal" and "request" already exist. 2. To make logic more clear: rename returned client to "clientGotByRefreshToken".
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Ensure bypass conditional template gets run for 1es ubuntu image (#18713)
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Recover the diff in gremlin starter.
  sdk/spring/azure-spring-boot-starter-data-gremlin/CHANGELOG.md
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

new samples
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsAsyncClient.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsClient.java
  sdk/communication/azure-communication-sms/src/samples/java/com/azure/communication/sms/samples/quickstart/ReadmeSamples.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Update README in storage starter.
  sdk/spring/azure-spring-boot-starter-storage/README.md
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Update CHANGELOG in azure-spring-boot and azure-spring-boot-starter.
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

resolve conversation
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @hemanttanwar @anuchandy @conniey @jianghaolu @bsiegel

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @zhenlan

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

/sdk/monitor/azure-opentelemetry-exporter-azuremonitor    @trask @joshfree @srnagar

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-starter-keyvault-certificates    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates          @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @mitchdenny @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/eng/versioning/                                    @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny
