Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jonathangiles, @srnagar, @hemanttanwar, @anuchandy, @alzimmermsft, @mssfang, @conniey, @sima-zhu, @xingwu1, @bgklein, @matthchr, @jianghaolu, @samvaity, @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar, @schaabs, @g2vinay, @vcolin7, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

Downgrade to Ubuntu 16
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Changed doc
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
Owners: @yvgopal, @nemakam, @hemanttanwar, @conniey

Fixed fieldbuilder
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/FieldBuilder.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/FieldBuilderTest.java
Owners: @alzimmermsft, @sima-zhu, @mssfang, @samvaity, @conniey

Rename FieldBase to SearchFieldBase
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/ComplexSearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchFieldBase.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchableSearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SimpleSearchField.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/FieldBuilderTest.java
Owners: @alzimmermsft, @sima-zhu, @mssfang, @samvaity, @conniey

Prepare Azure Storage for May 2020 release (#10841)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Owners: @srnagar, @JonathanGiles, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @sima-zhu

Fix the pom file version scanner
  eng/versioning/pom_file_version_scanner.ps1
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek

Fixed negation check of content response flag on write throughput and write latency
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Main.java
Owners: @moderakh, @kushagraThapar, @David-Noble-at-work, @kirankumarkolli, @mbhaskar

Add two simple multi tenant samples
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/MultiTenantServicePrincipalDemo.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/MultiTenantUserDemo.java
Owners: @g2vinay, @vcolin7, @samvaity

update changelog
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
Owners: @schaabs, @g2vinay, @jianghaolu

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @jonathangiles @srnagar @hemanttanwar @anuchandy

# BOM
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy

# Service teams
/sdk/appconfiguration/                              @mssfang @alzimmermsft @conniey @sima-zhu
/sdk/batch/                                         @xingwu1 @bgklein @matthchr
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft
/sdk/cosmos/                                        @moderakh @kushagraThapar @David-Noble-at-work @kirankumarkolli @mbhaskar
/sdk/eventhubs/                                     @conniey @srnagar @mssfang
/sdk/formrecognizer/                                @samvaity @mssfang @sima-zhu
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
/sdk/search/                                        @alzimmermsft @sima-zhu @mssfang @samvaity @conniey
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @sima-zhu
/sdk/textanalytics/                                 @samvaity @mssfang @sima-zhu

# end to end tests
/sdk/e2e/                                           @jianghaolu @g2vinay

# Management Plane
/sdk/management/                                    @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/parent/                                            @JimSuplizio

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny
