Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @anuchandy, @conniey, @jianghaolu, @pallavit, @lmolkova, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793, @mssfang, @mrm9084, @zhenlan, @azure-sdk-write-attestation, @larryosterman, @gingi, @paterasMSFT, @dpwatrous, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @petrsvihlik, @martinbarnas-ms, @vcolin7, @ki1729, @samvaity, @trask, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @azabbasi, @digimaun, @JamesBirdsall, @sjkwak, @g2vinay, @schaabs, @divyajay, @alongafni, @craigktreasure, @MalcolmTyrrell, @shankarsama, @yvgopal, @amishra-dev, @rickle-msft, @jaschrep-msft, @kasobol-msft, @Azure/azure-sdk-eng, @weidongxu-microsoft, @qwordy, @haolingdong-msft, @vxfield, @cgranade, @ricardo-espinoza, @anjbur, @msoeken, @guenp, @benbp, @weshaggard, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @anuchandy @conniey @jianghaolu @pallavit @lmolkova

# BOM
# PRLabel: %bom
/sdk/boms/azure-sdk-bom/                            @pallavit @alzimmermsft @jonathangiles @srnagar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
/sdk/appconfiguration/spring-cloud-azure-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793


# PRLabel: %Attestation
/sdk/attestation/                                   @azure-sdk-write-attestation @larryosterman
/sdk/attestation/azure-security-attestation         @azure-sdk-write-attestation @larryosterman
/sdk/attestation/azure-resourcemanager-attestation  @azure-sdk-write-attestation @larryosterman

# PRLabel: %Batch
/sdk/batch/                                         @gingi @paterasMSFT @dpwatrous

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers
/sdk/communication/azure-communication-identity/    @petrsvihlik @martinbarnas-ms

# PRLabel: %Container Registry
/sdk/containerregistry/                             @pallavit @alzimmermsft @jianghaolu

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @anuchandy @lmolkova @pallavit @vcolin7 @mssfang

# PRLabel: %Azure.Core.AMQP
/sdk/core/azure-core-amqp/                          @conniey @anuchandy @ki1729 @srnagar

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft @trask @lmolkova

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft @aayush3011
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @mbhaskar @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @mbhaskar @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

# PRLabel: %Digital Twins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @azabbasi

# PRLabel: %Models Repository
/sdk/modelsrepository                               @drwill-ms @timtay-microsoft @abhipsaMisra @azabbasi @digimaun

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @lmolkova

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @anuchandy @ki1729 @srnagar

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs-eph/       @JamesBirdsall @sjkwak

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs-extensions/  @JamesBirdsall @sjkwak

# PRLabel: %Event Hubs
/sdk/eventhubs/microsoft-azure-eventhubs/           @JamesBirdsall @sjkwak

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @g2vinay @schaabs @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @vcolin7 @g2vinay @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

/sdk/loganalytics/microsoft-azure-loganalytics/     @divyajay @alongafni

# PRLabel:  %Monitor - Exporter
/sdk/monitor/azure-monitor-opentelemetry-exporter   @trask @lmolkova @srnagar @samvaity

# PRLabel:  %Monitor
/sdk/monitor/azure-monitor-query                    @srnagar @pallavit

# PRLabel: %Mixed Reality Authentication
/sdk/mixedreality/azure-mixedreality-authentication @craigktreasure

# PRLabel: %Remote Rendering
/sdk/remoterendering/                               @MalcolmTyrrell

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @conniey @sjkwak @srnagar

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @pallavit @mssfang @samvaity

# PRLabel: %Service Bus
/sdk/servicebus/                                    @anuchandy @ki1729 @conniey

# PRLabel: %Service Bus
/sdk/servicebus/microsoft-azure-servicebus/         @shankarsama @yvgopal

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @alzimmermsft @kasobol-msft

# PRLabel: %Tables
/sdk/tables/                                        @vcolin7 @conniey

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @weidongxu-microsoft @qwordy @haolingdong-msft
/sdk/**/azure-resourcemanager-*                     @weidongxu-microsoft @qwordy @haolingdong-msft

# Quantum
# PRLabel: %Azure Quantum
/sdk/quantum/                                       @vxfield @cgranade @ricardo-espinoza @anjbur @msoeken @guenp

###########
# Eng Sys
###########
/eng/                                               @benbp @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @benbp @weshaggard @danieljurek @weidongxu-microsoft @haolingdong-msft
/eng/versioning/                                    @benbp @danieljurek @alzimmermsft @samvaity @g2vinay
/eng/versioning/external_dependencies.txt           @benbp @danieljurek @alzimmermsft @samvaity @g2vinay @saragluna @yiliuTo @chenrujun @backwind1233 @stliu @ZhuXiaoBing-cn @zhichengliu12581 @moarychan @michaelqi793
/eng/bomgenerator                                   @pallavit @alzimmermsft @srnagar
/parent/                                            @alzimmermsft

/**/tests.yml                                       @benbp
/**/ci.yml                                          @benbp

# Add owners for notifications for specific pipelines
/eng/pipelines/aggregate-reports.yml                @joshfree

Revert "Feature Management updated with evaluate configuration option (#24165)"
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Owners: @mrm9084, @zhenlan, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

When using IP address, Blob Endpoint parser throws StringIndexOutOfBoundsException if path component is not provided
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceClientBuilderTest.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @alzimmermsft, @kasobol-msft

Addressed code review comments
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @alzimmermsft, @kasobol-msft

Replaced JUnit test with Spock test
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceClientBuilderTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceClientBuilderTest.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @alzimmermsft, @kasobol-msft

Changing to minor bump because of dependency.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @conniey, @anuchandy, @ki1729

Revert "Feature Management updated with evaluate configuration option (#24165)" (#24214)
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Owners: @mrm9084, @zhenlan, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Remove extraneous period.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
Owners: @conniey, @anuchandy, @ki1729, @srnagar

Prepare September release for Event Hubs (#24212)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
Owners: @srnagar, @JonathanGiles, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @conniey, @anuchandy, @ki1729

Added unit test for UUID type
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Owners: @kushagraThapar, @mbhaskar, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Link to Log Analytics throttling guidance from Monitor Query README
  sdk/monitor/azure-monitor-query/README.md
Owners: @srnagar, @pallavit

Updated unit tests
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Owners: @kushagraThapar, @mbhaskar, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @ZhuXiaoBing-cn, @zhichengliu12581, @moarychan, @michaelqi793

Link to Log Analytics throttling guidance from Monitor Query README (#24217)
  sdk/monitor/azure-monitor-query/README.md
Owners: @srnagar, @pallavit

Move logic from AvroSchemaUtils into Serializer. Remove AvroSchemaUtils.
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/AvroSchemaUtils.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializer.java
Owners: @conniey, @sjkwak, @srnagar

Adding 404/0 filter
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011

Delete AvroSchemaUtilsTest and move tests into Serializer.
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/AvroSchemaUtilsTest.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializerTest.java
Owners: @conniey, @sjkwak, @srnagar

Test changes
  sdk/template/azure-sdk-template/src/main/java/com/azure/sdk/template/Hello.java
Owners: @Azure/azure-sdk-eng
