Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @anuchandy, @conniey, @jianghaolu, @alzimmermsft, @jonathangiles, @pallavit, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @lmolkova, @yijunxiems, @ki1729, @samvaity, @trask, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @aayush3011, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @barustum, @digimaun, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @craigktreasure, @MalcolmTyrrell, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @JimSuplizio, @benbp, @weshaggard, @danieljurek, @JonathanGiles

fix bug of setting message headers or application properties repeatedly
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverterTest.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

Initial regeneration with new Swagger
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchServiceVersion.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/SearchIndexClientImplBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/SearchServiceClientImplBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/EntityRecognitionSkillV3.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SearchIndexerDataSource.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SentimentSkillV3.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ConditionalSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityLinkingSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/LineEnding.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/OcrSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/PiiDetectionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/PiiDetectionSkillMaskingMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataNoneIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataSourceConnection.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataUserAssignedIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerKnowledgeStoreBlobProjectionSelector.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerKnowledgeStoreFileProjectionSelector.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerKnowledgeStoreObjectProjectionSelector.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerKnowledgeStoreTableProjectionSelector.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchResourceEncryptionKey.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ShaperSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/TextTranslationSkillLanguage.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/Captions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/module-info.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Owners: @alzimmermsft, @mssfang, @samvaity, @conniey

make two default credential autoconfiguration could work together
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/unity/identity/AzureDefaultTokenCredentialAutoConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureContextCredentialAutoConfiguration.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

fix compilation warning
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringCredentialBuilderBase.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

fix checkstyle errors
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/CredentialPropertiesProvider.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringAzureCliCredentialBuilder.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringAzurePowerShellCredentialBuilder.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringEnvironmentCredential.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringEnvironmentCredentialBuilder.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringIntelliJCredentialBuilder.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringManagedIdentityCredentialBuilder.java
  sdk/spring/azure-spring-boot-core/src/main/java/com/azure/spring/identity/SpringVisualStudioCodeCredentialBuilder.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

fix test failures
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureSpringConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/test/java/com/azure/spring/cloud/autoconfigure/context/AzureContextAutoConfigurationTest.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

fix checkstyle errors
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/unity/identity/AzureDefaultTokenCredentialAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/unity/identity/AzureSpringConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureContextCredentialAutoConfiguration.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureSpringConfiguration.java
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @stliu

Include new skillsets
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkillVersion.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkillVersion.java
Owners: @alzimmermsft, @mssfang, @samvaity, @conniey

Increment package version after release of com.azure azure-core (#22823)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
Owners: @srnagar, @JonathanGiles, @JimSuplizio, @benbp, @danieljurek, @alzimmermsft, @samvaity, @g2vinay, @conniey, @yijunxiems, @ki1729, @anuchandy, @jianghaolu, @lmolkova, @trask, @schaabs

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @anuchandy @conniey @jianghaolu

# BOM
# PRLabel: %bom
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @anuchandy @pallavit
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu
/sdk/appconfiguration/spring-cloud-azure-*/         @mrm9084 @zhenlan @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Container Registry
/sdk/containerregistry/                             @pallavit @alzimmermsft @jianghaolu

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @anuchandy @lmolkova

# PRLabel: %Azure.Core.AMQP
/sdk/core/azure-core-amqp/                          @conniey @yijunxiems @ki1729 @srnagar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft @trask @lmolkova

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft @aayush3011
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @mbhaskar @stliu
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @mbhaskar @stliu

# PRLabel: %Digital Twins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @barustum

# PRLabel: %Models Repository
/sdk/modelsrepository                               @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @barustum @digimaun

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

# PRLabel:  %Monitor - Exporter
/sdk/monitor/azure-monitor-opentelemetry-exporter   @trask @joshfree @srnagar @lmolkova

# PRLabel:  %Monitor
/sdk/monitor/azure-monitor-query                    @srnagar @pallavit

# PRLabel: %Mixed Reality Authentication
/sdk/mixedreality/azure-mixedreality-authentication @craigktreasure

# PRLabel: %Remote Rendering
/sdk/remoterendering/                               @MalcolmTyrrell

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @ki1729 @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %Tables
/sdk/tables/                                        @vcolin7 @conniey

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @stliu

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @benbp @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @benbp @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz
/eng/versioning/                                    @JimSuplizio @benbp @danieljurek @alzimmermsft @samvaity @g2vinay
/eng/versioning/external_dependencies.txt           @JimSuplizio @benbp @danieljurek @alzimmermsft @samvaity @g2vinay @saragluna @yiliuTo @chenrujun @backwind1233 @stliu
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @benbp
/**/ci.yml                                          @benbp

# Add owners for notifications for specific pipelines
/eng/pipelines/aggregate-reports.yml                @joshfree
