Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chenrujun, @netyyyy, @saragluna, @moarychan, @backwind1233, @hui1110, @stliu, @yiliuTo, @fangjian0423, @mrm9084, @kushagraThapar, @FabianMeiswinkel, @xinlian12, @aayush3011, @simorenoh, @jeet1995, @Pilchie

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# BOM
# PRLabel: %azure-spring
/sdk/boms/spring-cloud-azure-dependencies/          @chenrujun @netyyyy @saragluna @moarychan

# PRLabel: %azure-spring
/sdk/identity/azure-identity-extensions/            @chenrujun @netyyyy @saragluna @moarychan

# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @chenrujun @netyyyy @saragluna @moarychan

# PRLabel: %azure-spring
/sdk/spring/                                        @chenrujun @netyyyy @saragluna @moarychan
# PRLabel: %azure-spring
/sdk/spring-experimental/                           @chenrujun @netyyyy @saragluna @moarychan

/eng/versioning/external_dependencies.txt           @backwind1233 @chenrujun @hui1110 @netyyyy @saragluna @stliu @yiliuTo @moarychan @fangjian0423

# PRLabel: %azure-spring
/sdk/spring/spring-cloud-azure-appconfiguration-config*/ @mrm9084 @chenrujun @netyyyy @saragluna @moarychan
/sdk/spring/spring-cloud-azure-feature-management*/   @mrm9084 @chenrujun @netyyyy @saragluna @moarychan
/sdk/spring/spring-cloud-azure-starter-appconfiguration-config/ @mrm9084 @chenrujun @netyyyy @saragluna @moarychan

# PRLabel: %azure-spring
/sdk/spring/azure-spring-data-cosmos/                @kushagraThapar @FabianMeiswinkel @chenrujun @netyyyy @saragluna @xinlian12 @moarychan @aayush3011 @simorenoh @jeet1995 @Pilchie

use fixed fault-injector
  sdk/storage/azure-storage-blob-stress/templates/stress-test-job.yaml
  sdk/storage/azure-storage-stress/src/main/java/com/azure/storage/stress/ContentInfo.java
Owners: none

fix javadoc and always set the throughput control on the options
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedProcessorOptions.java
Owners: none

Adding unit test coverage for regex.
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQueryUnitTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQueryUnitTest.java
Owners: @kushagraThapar, @FabianMeiswinkel, @chenrujun, @netyyyy, @saragluna, @xinlian12, @moarychan, @aayush3011, @simorenoh, @jeet1995, @Pilchie

Update ResponseUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ResponseUtils.java
Owners: none

Add a test for metrics with 'applicationinsights.internal.' prefix
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MetricDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterTest.java
Owners: none

Fix spelling (preceeding=> preceding)
  eng/common/scripts/Submit-PullRequest.ps1
Owners: none

Fix import
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterTest.java
Owners: none

Update test
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterTest.java
Owners: none

Refactor
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/LogDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MappingsBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MetricDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/SpanDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterTest.java
Owners: none

Update readmes with explicit JVM support in Cosmos Spark (#38078)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
Owners: none

UpdateQueue test
  sdk/communication/azure-communication-jobrouter/assets.json
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-jobrouter/src/test/java/com.azure.communication.jobrouter/RouterQueueLiveTests.java
Owners: none

Fixing bug with annotated queries that have new lines. (#38050)
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQueryUnitTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQueryUnitTest.java
Owners: @kushagraThapar, @FabianMeiswinkel, @chenrujun, @netyyyy, @saragluna, @xinlian12, @moarychan, @aayush3011, @simorenoh, @jeet1995, @Pilchie

Simplify code
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/Providers.java
Owners: none

Refactoring.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyBasedBloomFilter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PkRangeBasedRegionScopedSessionTokenRegistry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenHelper.java
Owners: none

removing unused imports
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteTests.java
Owners: none

Refactoring.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PkRangeBasedRegionScopedSessionTokenRegistry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionContainer.java
Owners: none

Fixing test issues
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/StoredProcedureResponse.java
Owners: none

[DI] Added migration guide markdown (#38023)
  sdk/documentintelligence/azure-ai-documentintelligence/MIGRATION_GUIDE.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
Owners: none

fixed issue with blob-nio tests, revisit DataLakeDirectory prepareBuilderAppendPath method
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryApiTests.java
Owners: none

Test changes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemWriteRetriesTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemResponse.java
Owners: none

Fixing test failures
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemWriteRetriesTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemResponse.java
Owners: none

Fixing encryption test failures
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemResponse.java
Owners: none

[Automation] External Change
  eng/versioning/version_client.txt
Owners: none

Update UtilsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/UtilsTest.java
Owners: none

[Automation] External Change
  eng/versioning/version_client.txt
Owners: none

[Automation] External Change
  eng/versioning/version_client.txt
Owners: none

[Automation] External Change
  eng/versioning/version_client.txt
Owners: none

Update ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
Owners: none

fix CVE-2023-34062
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
Owners: @chenrujun, @netyyyy, @saragluna, @moarychan

[Automation] Generate SDK based on TypeSpec 0.12.1
  eng/emitter-package.json
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/JobRouterAdministrationClientImpl.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/JobRouterClientImpl.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/implementation/DocumentModelAdministrationClientImpl.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/EasmAsyncClient.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/EasmClient.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/implementation/EasmClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/MultipartFormDataHelper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranscriptionOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranslationOptions.java
Owners: none

Update CHANGELOG.md
  sdk/dataprotection/azure-resourcemanager-dataprotection/CHANGELOG.md
Owners: none

Update pom.xml
  sdk/dataprotection/azure-resourcemanager-dataprotection/pom.xml
Owners: none

[Automation] External Change
  eng/versioning/version_client.txt
Owners: none

revert documentintelligence
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentAnalysisClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/implementation/DocumentModelAdministrationClientImpl.java
Owners: none

Fixed module-related test issues.
  sdk/generic-sdk-core/generic-core-http-okhttp/pom.xml
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/DeadlockTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientBuilderTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientHttpClientTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientSingletonTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientTests.java
  sdk/generic-sdk-core/generic-core/pom.xml
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/ConfigurationSource.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/HttpBinJSON.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/HttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/HttpClientTestsServer.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/LocalTestServer.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/TestConfigurationSource.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/test/package-info.java
  sdk/generic-sdk-core/generic-core/src/main/java/module-info.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientBuilderTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientSingletonTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTest.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/SimpleBasicAuthHttpProxyServer.java
Owners: none

fix
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
Owners: @chenrujun, @netyyyy, @saragluna, @moarychan

fix
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
Owners: @chenrujun, @netyyyy, @saragluna, @moarychan

fix
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
Owners: @chenrujun, @netyyyy, @saragluna, @moarychan

update
  sdk/spring/CHANGELOG.md
Owners: @chenrujun, @netyyyy, @saragluna, @moarychan

customization for incompatibility of multipart
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranscriptionOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioTranslationOptions.java
Owners: none
