Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @jonathangiles, @alzimmermsft, @conniey, @sima-zhu, @jianghaolu, @srnagar, @hemanttanwar, @moderakh, @christopheranderson, @kushagraThapar, @mssfang, @g2vinay, @samvaity, @yvgopal, @nemakam, @rickle-msft, @jaschrep-msft, @yaohaizh, @weshaggard, @mitchdenny, @danieljurek, @JonathanGiles

Sync-Wrapper for V3 Async SDK Contains synchronous operations for - Database - Container - Item operations Scripts, Users, Conflicts etc will be part of subsequent PR
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/CosmosClientBuilder.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncClient.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncContainer.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncContainerResponse.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncDatabase.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncDatabaseResponse.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncItem.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/CosmosSyncItemResponse.java
  sdk/cosmos/sdk/src/main/java/com/azure/data/cosmos/sync/package-info.java
  sdk/cosmos/sdk/src/test/java/com/azure/data/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/sdk/src/test/java/com/azure/data/cosmos/sync/CosmosSyncContainerTest.java
  sdk/cosmos/sdk/src/test/java/com/azure/data/cosmos/sync/CosmosSyncDatabaseTest.java
  sdk/cosmos/sdk/src/test/java/com/azure/data/cosmos/sync/CosmosSyncItemTest.java
Owners: @moderakh, @christopheranderson, @kushagraThapar

Update throws to use instance ClientLogger.logAndThrow
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobInputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ServiceSASSignatureValues.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ListContainersOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ReliableDownloadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/common/credentials/SharedKeyCredential.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/common/policy/SASTokenCredentialPolicy.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/common/credentials/SharedKeyCredential.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/common/policy/SASTokenCredentialPolicy.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/common/credentials/SharedKeyCredential.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/common/policy/SASTokenCredentialPolicy.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
Owners: @rickle-msft, @jaschrep-msft, @alzimmermsft, @sima-zhu

Log informational message when HttpClient or HttpPipeline are being set to null when previously configured
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Owners: @alzimmermsft, @conniey, @sima-zhu

Use logAndThrow
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/CertificateUtil.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Update sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingPage.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingPage.java
Owners: @alzimmermsft, @conniey, @sima-zhu

Make the missed one.
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareAsyncClient.java
Owners: @rickle-msft, @jaschrep-msft, @alzimmermsft, @sima-zhu

Update DefaultAzureCredential references in key vault
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/pom.xml
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/BackupAndRestoreOperations.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/BackupAndRestoreOperationsAsync.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/HelloWorld.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/HelloWorldAsync.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/ListOperations.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/ListOperationsAsync.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/ManagingDeletedKeys.java
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/ManagingDeletedKeysAsync.java
  sdk/keyvault/azure-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/pom.xml
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/BackupAndRestoreOperations.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/BackupAndRestoreOperationsAsync.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/HelloWorld.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/HelloWorldAsync.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ListOperations.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ListOperationsAsync.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ManagingDeletedSecrets.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ManagingDeletedSecretsAsync.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTestBase.java
Owners: @g2vinay, @samvaity

More key vault references
  sdk/keyvault/azure-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
Owners: @g2vinay, @samvaity

Generated from 9930f56ea52d5fc1493145d4b382700e879b9193
  sql/resource-manager/v2014_04_01/pom.xml
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/Database.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/DatabaseEdition.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/DatabaseUpdate.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/Databases.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/ElasticPool.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/ElasticPoolEdition.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/ElasticPoolUpdate.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/ImportRequest.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/RecommendedElasticPools.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/ServerTableAuditingPolicies.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/DatabaseInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/DatabasesInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/ElasticPoolInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/MetricDefinitionInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/RecommendedElasticPoolInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/RecommendedElasticPoolsInner.java
  sql/resource-manager/v2014_04_01/src/main/java/com/microsoft/azure/management/sql/v2014_04_01/implementation/ServerTableAuditingPoliciesInner.java
Owners: @yaohaizh

Generated from 9930f56ea52d5fc1493145d4b382700e879b9193
  sql/resource-manager/v2015_05_01_preview/pom.xml
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstance.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceLicenseType.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceProxyOverride.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedServerCreateMode.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/RecommendedActionStateInfo.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualCluster.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualClusterUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualClusters.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/AdvisorInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstancesInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/SqlManagementClientImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/SqlManager.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClusterImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClusterInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClustersImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClustersInner.java
Owners: @yaohaizh

Generated from 9930f56ea52d5fc1493145d4b382700e879b9193
  sql/resource-manager/v2017_10_01_preview/pom.xml
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/Database.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/DatabaseStatus.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/DatabaseUpdate.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/ElasticPool.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/RecoverableManagedDatabase.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/RecoverableManagedDatabases.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/DatabaseImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/DatabaseInner.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/DatabaseVulnerabilityAssessmentRuleBaselineImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/ElasticPoolInner.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/ManagedDatabaseVulnerabilityAssessmentRuleBaselinesImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/RecoverableManagedDatabaseImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/RecoverableManagedDatabaseInner.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/RecoverableManagedDatabasesImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/RecoverableManagedDatabasesInner.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/SqlManagementClientImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/SqlManager.java
Owners: @yaohaizh

Bug fixes
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/CheckpointManager.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/CloseReason.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorAsyncClient.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionManager.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionProcessor.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionProcessorFactory.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/eventprocessor/models/Checkpoint.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/eventprocessor/models/PartitionContext.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/ConsolePartitionProcessor.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/EventProcessorSample.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/InMemoryPartitionManager.java
  sdk/eventhubs/azure-eventhubs/src/samples/java/com/azure/messaging/eventhubs/eventprocessor/LogPartitionProcessor.java
Owners: @conniey, @srnagar, @mssfang

Generated from 4ee2e9a00005b08cf9dda630a3f9b3b22db9b107
  logic/resource-manager/v2018_07_01_preview/pom.xml
Owners: @yaohaizh

Code clean up
  parent/pom.xml
  pom.client.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeChallenge.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/AadCredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/CredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/UserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/AuthorizationCodeListener.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MsalToken.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/CertificateUtil.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/ValidationUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DeviceCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/EnvironmentCredentialTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ManagedIdentityCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/UserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Introduce common paged iteration API to sync APIs (#4480)
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatIterator.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatStream.json
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/IterableResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/IterableResponseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/IterableResponseTest.java
Owners: @alzimmermsft, @conniey, @sima-zhu, @jianghaolu, @srnagar, @hemanttanwar

Generated from 22562b1fa125f08f38bd4a94ab072fbd24054de0
  logic/resource-manager/v2018_07_01_preview/pom.xml
Owners: @yaohaizh

Work around jdk 9 issue
  eng/spotbugs-aggregate-report/pom.xml
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DeviceCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ManagedIdentityCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/UserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Owners: @weshaggard, @mitchdenny, @danieljurek, @jianghaolu, @g2vinay, @hemanttanwar

Work around JDK 9 time accuracy
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/DeviceCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/ManagedIdentityCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/UserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  features/resource-manager/v2015_12_01/pom.xml
  features/resource-manager/v2015_12_01/src/main/java/com/microsoft/azure/management/features/v2015_12_01/OperationDisplay.java
  features/resource-manager/v2015_12_01/src/main/java/com/microsoft/azure/management/features/v2015_12_01/implementation/FeatureClientImpl.java
  features/resource-manager/v2015_12_01/src/main/java/com/microsoft/azure/management/features/v2015_12_01/implementation/FeatureResultImpl.java
  features/resource-manager/v2015_12_01/src/main/java/com/microsoft/azure/management/features/v2015_12_01/implementation/OperationInner.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  locks/resource-manager/v2016_09_01/pom.xml
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  policy/resource-manager/v2016_12_01/pom.xml
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyAssignment.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyAssignments.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/PolicyDefinition.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyAssignmentImpl.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyAssignmentsInner.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyClientImpl.java
  policy/resource-manager/v2016_12_01/src/main/java/com/microsoft/azure/management/policy/v2016_12_01/implementation/PolicyDefinitionImpl.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  policy/resource-manager/v2018_03_01/pom.xml
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/ErrorResponse.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyAssignment.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyAssignments.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicyDefinition.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/PolicySetDefinition.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyAssignmentImpl.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyAssignmentsInner.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyClientImpl.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicyDefinitionImpl.java
  policy/resource-manager/v2018_03_01/src/main/java/com/microsoft/azure/management/policy/v2018_03_01/implementation/PolicySetDefinitionImpl.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  policy/resource-manager/v2018_05_01/pom.xml
  policy/resource-manager/v2018_05_01/src/main/java/com/microsoft/azure/management/policy/v2018_05_01/PolicyAssignments.java
  policy/resource-manager/v2018_05_01/src/main/java/com/microsoft/azure/management/policy/v2018_05_01/implementation/PolicyAssignmentsInner.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  policy/resource-manager/v2019_01_01/pom.xml
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ErrorResponse.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ErrorResponseException.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/Identity.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyAssignment.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyAssignments.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinition.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinitionReference.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyDefinitions.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySetDefinition.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySetDefinitions.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicySku.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/PolicyType.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/ResourceIdentityType.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/IdParsingUtils.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PageImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentsImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyAssignmentsInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyClientImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionsImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyDefinitionsInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicyManager.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionsImpl.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/PolicySetDefinitionsInner.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/implementation/package-info.java
  policy/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/policy/v2019_01_01/package-info.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  resources/resource-manager/v2016_06_01/pom.xml
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Operation.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/OperationDisplay.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Operations.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Subscription.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/Subscriptions.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/TenantIdDescription.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/LocationImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationInner.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationsImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/OperationsInner.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/PageImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/PageImpl1.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/ResourcesManager.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionClientImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionsImpl.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/SubscriptionsInner.java
  resources/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/resources/v2016_06_01/implementation/TenantsImpl.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  resources/resource-manager/v2016_09_01/pom.xml
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/DeploymentExtended.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/DeploymentPropertiesExtended.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/Deployments.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ExportTemplateRequest.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ParametersLink.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ResourceGroup.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/ResourceGroups.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/Resources.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentExtendedImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentOperationImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/DeploymentsImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ProviderImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupInner.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceGroupsImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourceManagementClientImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcesImpl.java
  resources/resource-manager/v2016_09_01/src/main/java/com/microsoft/azure/management/resources/v2016_09_01/implementation/ResourcesInner.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  resources/resource-manager/v2018_02_01/pom.xml
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/DeploymentExtended.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/DeploymentPropertiesExtended.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/Deployments.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ExportTemplateRequest.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ParametersLink.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ResourceGroup.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/ResourceGroups.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/Resources.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentExtendedImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentOperationImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/DeploymentsImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ProviderImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceGroupImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceGroupsImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourceManagementClientImpl.java
  resources/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/resources/v2018_02_01/implementation/ResourcesImpl.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  resources/resource-manager/v2018_06_01/pom.xml
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Location.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Operation.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/OperationDisplay.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Operations.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SpendingLimit.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Subscription.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SubscriptionPolicies.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/SubscriptionState.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Subscriptions.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/TenantIdDescription.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/Tenants.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/IdParsingUtils.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/LocationImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/LocationInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationsImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/OperationsInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/PageImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/PageImpl1.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/ResourcesManager.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionClientImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionsImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/SubscriptionsInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantIdDescriptionImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantIdDescriptionInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantsImpl.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/TenantsInner.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/implementation/package-info.java
  resources/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/resources/v2018_06_01/package-info.java
Owners: @yaohaizh

Generated from d7909e7e70af1018eb2227f1250bcecd6f5634fb
  resources/resource-manager/v2019_05_01/pom.xml
  resources/resource-manager/v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/DeploymentExtended.java
  resources/resource-manager/v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/DeploymentExtendedImpl.java
  resources/resource-manager/v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/DeploymentOperationsImpl.java
  resources/resource-manager/v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ProvidersImpl.java
  resources/resource-manager/v2019_05_01/src/main/java/com/microsoft/azure/management/resources/v2019_05_01/implementation/ResourceGroupsImpl.java
Owners: @yaohaizh

Add core to identity pom.service.xml
  sdk/identity/pom.service.xml
Owners: @jianghaolu, @g2vinay, @hemanttanwar

Generated from 9c73830ab5afd883785194fa2730784e1b2b2711
  mariadb/resource-manager/v2018_06_01/pom.xml
Owners: @yaohaizh

Generated from 217752ad6691411c3e3f17555b665f0242ef1565
  mysql/resource-manager/v2017_12_01/pom.xml
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/Configuration.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/Database.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/FirewallRule.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/LogFile.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/NameAvailability.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/OperationListResult.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/PerformanceTierProperties.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/Server.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/ServerSecurityAlertPolicy.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/ServerServer.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/VirtualNetworkRule.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/CheckNameAvailabilitysImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ConfigurationImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ConfigurationsImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/DBforMySQLManager.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/DatabaseImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/DatabasesImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/FirewallRuleImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/FirewallRulesImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/LocationBasedPerformanceTiersImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/LogFileImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/LogFilesImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/NameAvailabilityImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/OperationListResultImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/OperationsImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/PerformanceTierPropertiesImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ReplicasImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ServerImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ServerSecurityAlertPoliciesImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ServerSecurityAlertPolicyImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ServerServerImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/ServersImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/VirtualNetworkRuleImpl.java
  mysql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01/implementation/VirtualNetworkRulesImpl.java
Owners: @yaohaizh

Generated from 217752ad6691411c3e3f17555b665f0242ef1565
  mysql/resource-manager/v2017_12_01_preview/pom.xml
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/Configuration.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/Database.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/FirewallRule.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/LogFile.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/NameAvailability.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/OperationListResult.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/PerformanceTierProperties.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/Server.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/ServerSecurityAlertPolicy.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/ServerServer.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/VirtualNetworkRule.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/CheckNameAvailabilitysImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ConfigurationImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ConfigurationsImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/DBforMySQLManager.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/DatabaseImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/DatabasesImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/FirewallRuleImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/FirewallRulesImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/LocationBasedPerformanceTiersImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/LogFileImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/LogFilesImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/NameAvailabilityImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/OperationListResultImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/OperationsImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/PerformanceTierPropertiesImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ReplicasImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ServerImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ServerSecurityAlertPoliciesImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ServerSecurityAlertPolicyImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ServerServerImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/ServersImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/VirtualNetworkRuleImpl.java
  mysql/resource-manager/v2017_12_01_preview/src/main/java/com/microsoft/azure/management/mysql/v2017_12_01_preview/implementation/VirtualNetworkRulesImpl.java
Owners: @yaohaizh

Generated from 34b86c9fa663a2ece7f2bf0c87f791e757fcb278
  recoveryservices/resource-manager/v2016_06_01/pom.xml
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/RegisteredIdentities.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RegisteredIdentitiesImpl.java
Owners: @yaohaizh

Move into core package.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorConnection.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSender.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSession.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/RequestResponseChannel.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @conniey, @mssfang

Using parallel scheduler. Remove redundant casts.
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerIntegrationTest.java
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ApiTestBase.java
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/BatchOptionsTest.java
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventHubProducerOptionsTest.java
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/SendOptionsTest.java
Owners: @conniey, @srnagar, @mssfang

Added token resolver == null check
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/CosmosClientBuilder.java
Owners: @moderakh, @christopheranderson, @kushagraThapar

Fix checkstyle error.
  sdk/eventhubs/azure-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
Owners: @conniey, @srnagar, @mssfang

Update RetryPolicy to use cloneable.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/RetryPolicy.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar

Use cloneable interface and call super.clone()
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/BatchOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConsumerOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubProducerOptions.java
  sdk/eventhubs/azure-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/SendOptions.java
Owners: @conniey, @srnagar, @mssfang

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jonathangiles

# Service teams
/sdk/appconfiguration/       @alzimmermsft @conniey @sima-zhu
/sdk/core/                   @alzimmermsft @jianghaolu @srnagar @hemanttanwar
/sdk/cosmos/                 @moderakh @christopheranderson @kushagraThapar
/sdk/eventhubs/              @conniey @srnagar @mssfang
/sdk/identity/               @jianghaolu @g2vinay @hemanttanwar
/sdk/keyvault/               @g2vinay @samvaity
/sdk/servicebus/             @yvgopal @nemakam
/sdk/tracing/                @samvaity @alzimmermsft

/sdk/storage/                @rickle-msft @jaschrep-msft @alzimmermsft @sima-zhu

# Management Plane
/**/resource-manager/        @yaohaizh

###########
# Eng Sys
###########
/eng/   @weshaggard @mitchdenny @danieljurek
/eng/code-quality-reports/ @mssfang @JonathanGiles
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
