Repository Azure/azure-sdk-for-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel, @alzimmermsft, @jonathangiles, @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai, @mssfang, @mrm9084, @zhenlan, @xingwu1, @bgklein, @matthchr, @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers, @samvaity, @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @yijunxiems, @schaabs, @g2vinay, @vcolin7, @divya-jay, @geneh, @alongafni, @trask, @arerlend, @sjkwak, @yvgopal, @nemakam, @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @kasobol-msft, @Azure/azure-sdk-eng, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek, @JonathanGiles

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @srnagar @hemanttanwar @anuchandy @conniey @jianghaolu @bsiegel

# BOM
# PRLabel: %Azure.Core
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy
# PRLabel: %azure-spring
/sdk/boms/azure-spring-boot-bom/                    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

####
# Service teams
####
# PRLabel: %App Configuration
/sdk/appconfiguration/                              @mssfang @alzimmermsft
# PRLabel: %azure-spring
/sdk/appconfiguration/azure-spring-cloud-*/         @mrm9084 @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @zhenlan

# PRLabel: %Batch
/sdk/batch/                                         @xingwu1 @bgklein @matthchr

# PRLabel: %Communication
/sdk/communication/                                 @JianpingChen @ankitarorabit @minnieliu @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Azure.Core
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy

# PRLabel: %Azure.Core
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft

# PRLabel: %Cosmos
/sdk/cosmos/                                        @moderakh @kushagraThapar @FabianMeiswinkel @kirankumarkolli @mbhaskar @simplynaveen20 @xinlian12 @milismsft
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos/               @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar
# PRLabel: %azure-spring
/sdk/cosmos/azure-spring-data-cosmos-test/          @kushagraThapar @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai @mbhaskar

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                                  @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                     @srnagar @yijunxiems

# PRLabel: %Event Hubs
/sdk/eventhubs/                                     @conniey @srnagar @mssfang @yijunxiems

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                @samvaity @mssfang

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                @samvaity @anuchandy

# PRLabel: %Azure.Identity
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu

# PRLabel: %KeyVault
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
# PRLabel: %azure-spring
/sdk/keyvault/azure-security-keyvault-jca           @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

/sdk/loganalytics/microsoft-azure-loganalytics/     @divya-jay @geneh @alongafni

/sdk/monitor/azure-opentelemetry-exporter-azuremonitor    @trask @joshfree @srnagar

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                @arerlend @sjkwak

# PRLabel: %Search
/sdk/search/                                        @alzimmermsft @mssfang @samvaity @conniey

# PRLabel: %Service Bus
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey @yijunxiems

# PRLabel: %Storage
/sdk/storage/                                       @amishra-dev @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @kasobol-msft

# PRLabel: %EngSys
/sdk/template/                                      @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                 @samvaity @mssfang

# PRLabel: %azure-spring
/sdk/spring/                                        @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-starter-keyvault-certificates    @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai
# PRLabel: %azure-spring
/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates          @saragluna @yiliuTo @chenrujun @backwind1233 @jialindai

# end to end tests
# PRLabel: %Azure.Identity
/sdk/e2e/                                           @jianghaolu @g2vinay
/common/smoke-tests/                                @joshfree @jonathangiles @alzimmermsft @g2vinay @conniey @srnagar

# Management Plane
/sdk/resourcemanager/                               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/azure-resourcemanager-*                     @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/eng/mgmt/                                          @JimSuplizio @mitchdenny @weshaggard @danieljurek @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/eng/versioning/                                    @JimSuplizio @mitchdenny @danieljurek @alzimmermsft @samvaity
/parent/                                            @JimSuplizio @alzimmermsft

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny

Trying to optimise multi-value header representation and make the impedance mismatch between Netty and azure-core less costly.
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyHttpResponseBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeader.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Remove synapse stuff
  sdk/synapse/azure-analytics-synapse-spark/src/samples/java/com/azure/analytics/synapse/spark/HelloWorld.java
  sdk/synapse/azure-analytics-synapse-spark/src/samples/java/com/azure/analytics/synapse/spark/HelloWorldAsync.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkBatchAsyncClientTest.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkBatchClientTest.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkClientTestBase.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkSessionAsyncClientTest.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkSessionClientTest.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkBatchAsyncClientTest.crudSparkBatchJob.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkBatchAsyncClientTest.getSparkBatchJob.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkBatchClientTest.crudSparkBatchJob.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkSessionAsyncClientTest.crudSparkSession.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkSessionAsyncClientTest.crudSparkStatement.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkSessionAsyncClientTest.getSparkSession.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkSessionClientTest.crudSparkSession.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/SparkSessionClientTest.crudSparkStatement.json
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

(WIP)
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Change from protected to public.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpRetryPolicy.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Aggregate new RetryUtil to use RetrySpec.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fixing test break.
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSenderTest.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fixing test failures.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpRetryOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/AmqpRetryOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSessionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fixing checkstyle issues.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Add amqp as unreleased dependency
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @conniey, @srnagar, @mssfang, @yijunxiems, @yvgopal, @nemakam, @hemanttanwar

Fix build breaks in ReactorConnection.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSessionTest.java
Owners: @conniey, @srnagar, @mssfang, @yijunxiems, @yvgopal, @nemakam, @hemanttanwar

Fixing build break in Event Hubs.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
Owners: @conniey, @srnagar, @mssfang, @yijunxiems

Move log message.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fix log messages
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Removing link name.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fixing test issues.
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/ExponentialAmqpRetryPolicyTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fix build failures
  pom.xml
  sdk/spring/azure-spring-boot-test-core/src/test/java/com/azure/spring/test/aad/ropc/AADOauth2ROPCGrantClientIT.java
  sdk/spring/azure-spring-boot-test-selenium-common/pom.xml
Owners: @saragluna, @yiliuTo, @chenrujun, @backwind1233, @jialindai

Adding string format parsing
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Owners: @moderakh, @kushagraThapar, @FabianMeiswinkel, @kirankumarkolli, @mbhaskar, @simplynaveen20, @xinlian12, @milismsft

Added annotations for file share and removed en-us from links (#18704)
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseClient.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Renaming HttpHeaders.put to instead be .set (to avoid the issue of adding a new put overload and it being a compile-time error in some cases). Deprecated 'put' method.
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyHttpHeadersTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/NettyFluxTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpResponseBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/PlaybackClient.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/RestProxyWithMockTests.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRequest.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersFromContextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RequestIdPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/IterableStreamJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/CredentialsTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpHeadersTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpRequestTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/AddHeadersFromContextPolicyTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedFluxTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedIterableTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyXMLTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SwaggerMethodParserTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/HttpResponseHeaderDecoderTests.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy, @samvaity, @mssfang

Added annotations and removed en-us from links
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

Override new set API in NettyHttpHeaders
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyHttpResponseBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Fix test code issue
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyHttpHeadersTests.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Increment version for cognitiveservices releases (#16410)
  eng/versioning/version_data.txt
  sdk/cognitiveservices/ms-azure-cs-computervision/pom.xml
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Fix Azure Monitor Checkstyle Suppressions
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Owners: @mssfang, @JonathanGiles

More test fixes
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpHeadersTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SwaggerMethodParserTests.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

Minor updates to readme.md, renamed readme.md for autorest to autorest.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/swagger/autorest.md
  sdk/attestation/azure-security-attestation/swagger/generate.ps1
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

Fixes for some failing unit tests
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
Owners: @alzimmermsft, @jianghaolu, @srnagar, @hemanttanwar, @anuchandy

update tests after rebase
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

ClientUri for ClassifyClient is not optional
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
Owners: @joshfree, @srnagar, @hemanttanwar, @anuchandy, @conniey, @jianghaolu, @bsiegel

adjust coverage on rebase
  sdk/communication/azure-communication-chat/pom.xml
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Added annotations and removed en-us from links (#18706)
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

refresh swagger.json
  sdk/communication/azure-communication-chat/swagger/swagger.json
Owners: @JianpingChen, @ankitarorabit, @minnieliu, @Azure/azure-sdk-communication-code-reviewers

Fix Azure Monitor Checkstyle Suppressions (#18707)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Owners: @mssfang, @JonathanGiles

ci.yml Include Only Proof of Concept (#18600)
  sdk/appconfiguration/ci.mgmt.yml
  sdk/appconfiguration/ci.yml
  sdk/keyvault/ci.data.yml
  sdk/keyvault/ci.mgmt.yml
  sdk/keyvault/ci.yml
Owners: @mssfang, @alzimmermsft, @mitchdenny, @g2vinay, @vcolin7, @samvaity

Changes for most of the libraries
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClient.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedAsyncClient.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/AppendBlobRequestConditions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/PageBlobRequestConditions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/CommonSasQueryParameters.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/DataLakeServiceSasSignatureValues.java
Owners: @amishra-dev, @rickle-msft, @jaschrep-msft, @gapra-msft, @alzimmermsft, @kasobol-msft

upgrade to 0.13.1 otel version
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/AmqpPropagationFormatUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/AmqpTraceUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/HttpTraceUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/module-info.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicyTests.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/implementation/AmqpPropagationFormatUtilTest.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/implementation/AmqpTraceUtilTest.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/implementation/HttpTraceUtilTest.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @trask, @joshfree, @srnagar

update samples
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/AmqpTraceUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/HttpTraceUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/module-info.java
  sdk/core/azure-core-tracing-opentelemetry/src/samples/AsyncListKeyVaultSecretsSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/CreateConfigurationSettingTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/ListKeyVaultSecretsTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/PublishEventsTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/implementation/AmqpTraceUtilTest.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/implementation/HttpTraceUtilTest.java
Owners: @samvaity, @alzimmermsft

update exporter lib
  eng/versioning/version_client.txt
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/HttpTraceUtil.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/CHANGELOG.md
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporter.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/module-info.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/samples/java/com/azure/opentelemetry/exporter/azuremonitor/AppConfigurationAzureMonitorExporterSample.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/samples/java/com/azure/opentelemetry/exporter/azuremonitor/EventHubsAzureMonitorExporterSample.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/samples/java/com/azure/opentelemetry/exporter/azuremonitor/SampleSpanData.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporterTest.java
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @trask, @joshfree, @srnagar

update to 0.14.1
  eng/versioning/external_dependencies.txt
  pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/module-info.java
  sdk/core/azure-core-tracing-opentelemetry/src/samples/AsyncListKeyVaultSecretsSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/CreateConfigurationSettingTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/ListKeyVaultSecretsTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/PublishEventsTracingSample.md
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporter.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/main/java/module-info.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/samples/java/com/azure/opentelemetry/exporter/azuremonitor/SampleSpanData.java
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/test/java/com/azure/opentelemetry/exporter/azuremonitor/AzureMonitorExporterTest.java
Owners: @JimSuplizio, @mitchdenny, @danieljurek, @alzimmermsft, @samvaity, @trask, @joshfree, @srnagar

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @JimSuplizio, @mitchdenny, @weshaggard, @danieljurek
