Repository Azure/azure-sdk-for-java, pull requests merged in 2018-06, with the labels that each got.

#2089 Use 1.11.1 version of resources
  api-specs.json
  appservice/resource-manager/v2016_03_01/pom.xml
  appservice/resource-manager/v2016_08_01/pom.xml
  appservice/resource-manager/v2016_09_01/pom.xml
  appservice/resource-manager/v2018_02_01/pom.xml
  authorization/resource-manager/v2015_07_01/pom.xml
  batchai/resource-manager/v2017_09_01_preview/pom.xml
  batchai/resource-manager/v2018_03_01/pom.xml
  batchai/resource-manager/v2018_05_01/pom.xml
  cognitiveservices/resource-manager/v2016_02_01_preview/pom.xml
  cognitiveservices/resource-manager/v2017_04_18/pom.xml
  compute/resource-manager/v2017_03_30/pom.xml
  compute/resource-manager/v2017_09_01/pom.xml
  compute/resource-manager/v2017_12_01/pom.xml
  compute/resource-manager/v2018_04_01/pom.xml
  containerservice/resource-manager/package_2017_09/pom.xml
  containerservice/resource-manager/v2017_07_01/pom.xml
  containerservice/resource-manager/v2017_08_31/pom.xml
  containerservice/resource-manager/v2017_09_30/pom.xml
  dns/resource-manager/v2016_04_01/pom.xml
  dns/resource-manager/v2017_10_01/pom.xml
  eventgrid/resource-manager/v2018_01_01/pom.xml
  eventgrid/resource-manager/v2018_05_01_preview/pom.xml
  features/resource-manager/v2015_12_01/pom.xml
  iotcentral/resource-manager/v2017_07_01_privatepreview/pom.xml
  iothub/resource-manager/v2018_04_01/pom.xml
  keyvault/resource-manager/v2015_06_01/pom.xml
  keyvault/resource-manager/v2016_10_01/pom.xml
  locks/resource-manager/v2016_09_01/pom.xml
  logic/resource-manager/v2016_06_01/pom.xml
  mediaservices/resource-manager/v2015_10_01/pom.xml
  mediaservices/resource-manager/v2018_30_30_preview/pom.xml
  mysql/resource-manager/v2017_12_01/pom.xml
  network/resource-manager/v2017_10_01/pom.xml
  network/resource-manager/v2018_05_01/pom.xml
  policy/resource-manager/v2016_12_01/pom.xml
  policy/resource-manager/v2018_03_01/pom.xml
  pom.xml
  postgresql/resource-manager/v2017_12_01/pom.xml
  profiles/2018-03-01-hybrid/azure/pom.xml
  redis/resource-manager/v2017_10_01/pom.xml
  redis/resource-manager/v2018_03_01/pom.xml
  resources/resource-manager/v2016_06_01/pom.xml
  resources/resource-manager/v2016_09_01/pom.xml
  resources/resource-manager/v2018_02_01/pom.xml
  signalr/resource-manager/v2018_03_01_preview/pom.xml
  storage/resource-manager/v2016_01_01/pom.xml
  storage/resource-manager/v2017_10_01/pom.xml
  storage/resource-manager/v2018_02_01/pom.xml
  storage/resource-manager/v2018_03_01_preview/pom.xml
  streamanalytics/resource-manager/v2016_03_01/pom.xml
Labels: in progress

#2102 Add swagger to sdk config
  swagger_to_sdk_config.json
Labels: in progress

#2119 [AutoPR cognitiveservices/data-plane/ComputerVision] ComputerVision add tag.hint, make scalars non-nullable
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/ComputerVisionAPI.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/implementation/ComputerVisionAPIImpl.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/implementation/package-info.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/AdultInfo.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/AzureRegions.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Category.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/CategoryDetail.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/CelebritiesModel.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/CelebrityResults.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ColorInfo.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ComputerVisionError.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ComputerVisionErrorCodes.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ComputerVisionErrorException.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Details.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/DomainModelResults.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/FaceDescription.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/FaceRectangle.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Gender.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageAnalysis.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageCaption.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageDescription.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageDescriptionDetails.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageMetadata.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageTag.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageType.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ImageUrl.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/LandmarkResults.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/LandmarksModel.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Line.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ListModelsResult.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ModelDescription.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/OcrLanguages.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/OcrLine.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/OcrRegion.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/OcrResult.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/OcrWord.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/RecognitionResult.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/RecognizeTextHeaders.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/RecognizeTextInStreamHeaders.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/TagResult.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/TextOperationResult.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/TextOperationStatusCodes.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/TextRecognitionMode.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/VisualFeatureTypes.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Word.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/package-info.java
  azure-cognitiveservices/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/package-info.java
Labels: RestPRMerged

#2121 Update versions to 1.0.0-beta1
  appservice/resource-manager/v2016_03_01/pom.xml
  appservice/resource-manager/v2016_08_01/pom.xml
  appservice/resource-manager/v2016_09_01/pom.xml
  authorization/resource-manager/v2015_07_01/pom.xml
  compute/resource-manager/v2017_03_30/pom.xml
  dns/resource-manager/v2016_04_01/pom.xml
  keyvault/resource-manager/v2016_10_01/pom.xml
  locks/resource-manager/v2016_09_01/pom.xml
  network/resource-manager/v2017_10_01/pom.xml
  policy/resource-manager/v2016_12_01/pom.xml
  profiles/2018-03-01-hybrid/azure/pom.xml
  resources/resource-manager/v2018_02_01/pom.xml
  storage/resource-manager/v2016_01_01/pom.xml
Labels: in progress

#2132 [AutoPR] network/resource-manager
  network/resource-manager/v2017_10_01/pom.xml
  network/resource-manager/v2018_05_01/pom.xml
Labels: ServicePR, in progress

#2150 [AutoPR containerregistry/resource-manager] [ACR] Fix list builds odata query
  containerregistry/resource-manager/v2018_02_01_preview/src/main/java/com/microsoft/azure/management/containerregistry/v2018_02_01_preview/BuildFilter.java
Labels: RestPRMerged

#2152 [AutoPR signalr/resource-manager] Add a new tier for Azure SignalR serivce
  signalr/resource-manager/v2018_03_01_preview/pom.xml
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/MetricSpecification.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/NameAvailability.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/NameAvailabilityParameters.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/Operation.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/OperationDisplay.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/OperationProperties.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/RegenerateKeyParameters.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/ResourceSku.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/ServiceSpecification.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRCreateOrUpdateProperties.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRCreateParameters.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRKeys.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRResource.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRSkuTier.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRUpdateParameters.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/SignalRs.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/NameAvailabilityImpl.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/NameAvailabilityInner.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/OperationImpl.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/OperationInner.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/OperationsImpl.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRKeysImpl.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRKeysInner.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRResourceImpl.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRResourceInner.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRServiceManager.java
  signalr/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/signalr/v2018_03_01_preview/implementation/SignalRsImpl.java
Labels: RestPRMerged

#2159 [AutoPR eventhub/resource-manager] EventHub: Removed space from pendingReplicationOperationsCount
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/ArmDisasterRecoveryInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/EHNamespace.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/IPAction.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/IpFilterRule.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/Namespaces.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/Sku.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/SkuName.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/SkuTier.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/VirtualNetworkRule.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/ClustersInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/ConfigurationsInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/EHNamespaceImpl.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/EHNamespaceInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/EventHub2018PreviewManagementClientImpl.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/EventHubManager.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/IpFilterRuleImpl.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/IpFilterRuleInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/NamespacesImpl.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/NamespacesInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/OperationsInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/VirtualNetworkRuleImpl.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/VirtualNetworkRuleInner.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/implementation/package-info.java
  eventhub/resource-manager/v2018_01_01_preview/src/main/java/com/microsoft/azure/management/eventhub/v2018_01_01_preview/package-info.java
Labels: RestPRMerged
