Repository Azure/azure-sdk-for-java, pull requests merged in 2019-10, with the labels that each got.

#5575 Enables "EnableReceiverRuntimeMetric" feature from Track 1
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConsumerOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/LastEnqueuedEventProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerTest.java
Labels: Client, Event Hubs

#5616 [#5525] return NPE from assertNotNull, update tests and javaDocs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobServiceSASSignatureValues.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/AccountSASSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceSASSignatureValues.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceSASSignatureValues.java
Labels: Storage

#5641 Removed azure-core-management so that it does not get built releasing
  sdk/core/ci.yml
Labels: EngSys

#5654 [#5594] update to prevent NPE on FileAsyncClient
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
Labels: Storage

#5642 preparing for preview.4
  README.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/keyvault/README.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-queue/README.md
Labels: Azure.Core, Client

#5637 [#5625] moving upload and uploadFromFile to BlobClient
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/UploadBufferPool.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/AsyncBufferedUploadExample.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/FileTransferExample.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/Sample.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
Labels: Storage

#5630 Update addSetting sync and async APIs
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: AzConfig, Client

#5557 OkHttp: Don't send null header values (consistent with netty), support for subscription disposal
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/implementation/RestProxyWithHttpProxyOkHttpTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/implementation/RestProxyWithOkHttpTests.java
Labels: Azure.Core, Bug, Client

#5650 Deleted updateSetting and updated setSetting
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorld.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/PipelineSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addExistingSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingEmptyKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingEmptyValue.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingNotFound.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingWithETag.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/getSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/getSettingNotFound.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisions.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsAcceptDateTime.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsInvalidRange.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithMultipleKeys.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithMultipleLabels.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPagination.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatIterator.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatStream.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithRange.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsAcceptDateTime.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsSelectFields.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsWithPagination.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithKeyAndLabel.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithMultipleKeys.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithMultipleLabels.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingEmptyKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingEmptyValue.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingIfEtag.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/updateNoExistingSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/updateSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/updateSettingIfEtag.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/updateSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/updateSettingOverload.json
Labels: AzConfig, Client

#5645 update deleteSetting APIs
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationSets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorld.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/PipelineSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: AzConfig, Client

#5649 update getSetting
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: AzConfig, Client

#5669 add custom retry policy
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Labels: AzConfig, Client

#5683 changing preview version
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
Labels: Client

#5658 Initial change for changeLog and readme
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file/CHANGELOG.md
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Labels: Client, Storage

#5621 Adds support for proxies in Event Hubs
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/ErrorCondition.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/ExceptionUtil.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MockReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ProxyNegotiationHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ProxyServer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/SimpleProxy.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySelectorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySendTest.java
Labels: Client, Event Hubs

#5653 azure-core JavaDocs and code snippet clean-up
  sdk/core/azure-core/src/main/java/com/azure/core/cryptography/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/Poller.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/Tracer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/TracerProxy.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/logging/ClientLoggerJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/polling/PollerJavaDocCodeSnippets.java
Labels: Azure.Core, Client, common

#5455 Storage InputStream and OutputStream
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobInputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobInputOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageInputStream.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageOutputStream.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/StorageFileInputStream.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/StorageFileOutputStream.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileRange.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/APISpec.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/StorageFileInputOutputStreamTests.groovy
  sdk/storage/azure-storage-file/src/test/resources/session-records/StorageFileInputOutputStreamTestsStreamOverLimits.json
Labels: Client, Storage

#5354 Add Ink Recognition SDK
  .github/CODEOWNERS
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/LICENSE
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/README.md
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/pom.xml
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/ApplicationKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkPoint.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkPointUnit.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkRecognizerAsyncClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkRecognizerClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkRecognizerClientBuilder.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkRecognizerCredentials.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkStroke.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/InkStrokeKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/Response.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/ServiceVersion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/Utils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkBullet.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkDrawing.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkList.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkRecognitionRoot.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkRecognitionUnit.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkRecognitionUnitKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/InkWord.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/Line.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/Paragraph.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/Point.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/Rectangle.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/Shape.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/azure/ai/inkrecognizer/model/WritingRegion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/InkPointImplementor.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/InkRecognizerAsyncClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/InkRecognizerClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/InkStrokeImplementor.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/TestUtils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/InkBulletTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/InkDrawingTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/InkRecognitionRootTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/InkRecognitionUnitTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/InkWordTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/LineTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/ShapeTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/azure/ai/inkrecognizer/model/TestUtils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/AllInkRecognitionUnitKindsRequest.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/AllInkRecognitionUnitKindsResponse.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/CircleRequest.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedInkRecognitionUnits.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedResponseMissingCategory.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedResponseMissingId.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/TwoStrokesRequest.json
Labels: Client, Cognitive Services

#5709 Fix proxy creation and proxy tests
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ConnectionProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ProxyConnectionState.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ProxyNegotiationHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ProxyServer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ReadWriteHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/ReadWriteState.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/jproxy/SimpleProxy.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySendTest.java
Labels: Client, Event Hubs

#5546 Remove configuration settings equals
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Labels: AzConfig, Client

#5385 Add AuthorizationCodeCredential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/AuthorizationCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
Labels: Azure.Identity, Client

#5724 Preview 4: Final API Review, Update java doc and sample
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationCredentialsPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/credentials/package-info.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/policy/package-info.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationSets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorld.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/PipelineSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addExistingSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingEmptyKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingEmptyValue.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/addSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/clearReadOnly.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/clearReadOnlyWithConfigurationSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingNotFound.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingNullKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/deleteSettingWithETag.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/getSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/getSettingNotFound.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisions.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsAcceptDateTime.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithMultipleKeys.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithMultipleLabels.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPagination.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatIterator.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithPaginationAndRepeatStream.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listRevisionsWithRange.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsAcceptDateTime.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsSelectFields.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listSettingsWithPagination.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithKeyAndLabel.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithMultipleKeys.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/listWithMultipleLabels.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setReadOnly.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setReadOnlyWithConfigurationSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSetting.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingEmptyKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingEmptyValue.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingIfEtag.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/setSettingNullKey.json
Labels: AzConfig, Client

#5727 Fix Spotbugs and CheckStyle errors
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/ApplicationKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkPointUnit.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerAsyncClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerCredentials.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkStrokeKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/Response.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/ServiceVersion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/Utils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkList.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionRoot.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionUnitKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkWord.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Line.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Paragraph.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Shape.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/WritingRegion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerAsyncClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/TestUtils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/TestUtils.java
Labels: Cognitive Services

#5728 update version to 1.0.0-preview.1
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/pom.xml
Labels: Cognitive Services

#5738 Remove flakey test.
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
Labels: Client, Event Hubs

#5735 azure-core JavaDocs and code snippet clean-up
  sdk/core/azure-core/src/main/java/com/azure/core/exception/AzureException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/ClientAuthenticationException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/DecodeException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpRequestException.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/Page.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/Response.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/ResponseBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SimpleResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/StreamResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Base64Url.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Context.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ExpandableStringEnum.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/IterableStream.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxJavaDocCodeSnippets.java
Labels: Azure.Core, Client, common

#5528 Storage block blob encryption
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/spotbugs-aggregate-report/pom.xml
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobCryptographyConfiguration.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobDecryptionPolicy.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/CryptographyConstants.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlob.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRange.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptionAgent.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptionAlgorithm.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptionData.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/WrappedKey.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/package-info.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/JavaDocCodeSnippetsHelpers.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/DecryptionTests.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRangeTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedFlux.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/FakeKey.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/FakeKeyResolver.java
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/testfiles/uploadFromFileTestData.txt
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BaseBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/UploadBufferPool.java
  sdk/storage/azure-storage-blob/src/main/java/module-info.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/BaseClientBuilder.java
  sdk/storage/ci.yml
  sdk/tracing/azure-core-tracing-opencensus/pom.xml
Labels: Client, Storage

#5778 update .credential(ConfigurationClientCredentials)
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationSets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorld.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/PipelineSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Labels: AzConfig, Client

#5706 [ServiceBus] Disabling DTD - Prevent Improper Restriction of XML External Entity (CWE ID 611)
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/ManagementClientAsync.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/NamespaceInfoSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/QueueDescriptionSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/QueueRuntimeInfoSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/RuleDescriptionSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/SerializerUtil.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/SubscriptionDescriptionSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/SubscriptionRuntimeInfoSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/TopicDescriptionSerializer.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/TopicRuntimeInfoSerializer.java
Labels: Service Bus

#5799 Updates to Poller implementation.
  pom.client.xml
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/Poller.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollerTests.java
Labels: Azure.Core, Client, common

#5739 Cosmos: ChangeFeedProcessor hot-fixes
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/EqualPartitionsBalancingStrategy.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/PartitionProcessorImpl.java
Labels: Cosmos

#5655 Move post processor to policy
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PostProcessor.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/StorageException.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/LeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ScrubEtagPolicy.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/BuilderHelper.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/PostProcessor.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/DirectorysImpl.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/FilesImpl.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/SharesImpl.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/StorageException.java
  sdk/storage/azure-storage-file/swagger/README.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/BuilderHelper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/PostProcessor.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessageIdsImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/StorageException.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Client, Storage

#5834 Removing test entities classes from azure-core and moving into test directory (and into azure-core-test)
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  pom.client.xml
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/AzureProxyToRestProxyTests.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/http/MockAzureHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/MyAzureException.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/MyRestException.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/AccessPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinFormDataJSON.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinHeaders.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/HttpBinJSON.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifierInner.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifiersWrapper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slide.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slideshow.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/RestProxyWithMockTests.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/clients/MockHttpClient.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/AccessPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/HttpBinJSON.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/SignedIdentifierInner.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/SignedIdentifiersWrapper.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/Slide.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/entities/Slideshow.java
Labels: Azure.Core

#5837 Return errors in Publisher's error channel for ConfigurationAsyncClient
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxUtil.java
Labels: AzConfig, Client, blocking-release

#5806 Retry not happening with direct mode - port to v3
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/RequestRateTooLargeException.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/ServiceUnavailableException.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/CosmosClientExceptionTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/FeedResponseListValidator.java
Labels: Cosmos

#5833 more API review changes
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeChallenge.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/credential/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/credential/AuthorizationCodeCredentialTest.java
Labels: Azure.Identity, blocking-release

#5871 Updated changelog for v3.3.0 release
  sdk/cosmos/README.md
  sdk/cosmos/changelog/README.md
  sdk/cosmos/microsoft-azure-cosmos-benchmark/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-examples/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/HttpConstants.java
  sdk/cosmos/pom.xml
Labels: Cosmos

#5872 Fix method and parameter names to use correct casing.
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/AccountSasPermission.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/AccountSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: Client, Storage

#5919 Update File SAS token generation to match languages.
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceSasSignatureValues.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileSASTests.groovy
Labels: Client, Storage

#5915 Update Queue SAS token generation to match languages.
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceSasSignatureValues.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Labels: Client, Storage

#5908 Sas generation
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestservicesassignaturevaluesia.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestservicesassignaturevaluesia[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestservicesassignaturevaluesia[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesassertgenerateok[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesassertgenerateok[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesassertgenerateok[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesassertgenerateok[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesia.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestservicesassignaturevaluesia[1].json
Labels: Client, Storage

#5826 Adds Poller support for BlobAsyncClient and BlobClient beginCopyFromUrl
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobCopyInfo.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobAsyncClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopypoller.json
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileCopyInfo.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileSample.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAPITestsStartCopy.json
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAPITestsStartCopyError.json
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAsyncAPITestsStartCopy.json
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAsyncAPITestsStartCopyError.json
Labels: Storage

#5951 Added @JsonIgnore to getLogger in JsonSerializable
  sdk/cosmos/changelog/README.md
  sdk/cosmos/microsoft-azure-cosmos-benchmark/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-examples/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/JsonSerializable.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/HttpConstants.java
  sdk/cosmos/pom.xml
Labels: Cosmos, cosmos:needs-v4-port

#5957 Fix the SRCCLR-SID-21682 vulnerability issue
  parent/pom.xml
Labels: Client, Service Bus, blocking-release, common

#5573 Logging on Retry policy and Temporary add AZURE_LOG_LEVEL to 2 for investigating
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
Labels: AzConfig, Client, Do not merge

#5952 Update Account SAS token generation to match languages.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestaccountsassignaturevaluesia[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestaccountsassignaturevaluesia[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestaccountsassignaturevaluesia[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestaccountsassignaturevaluesnull.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTestaccountsassignaturevaluesnullpermission.json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasSignatureValues.java
  sdk/storage/azure-storage-common/src/samples/java/com/azure/storage/common/sas/AccountSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileSASTests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Labels: Client, Storage

#5964 Fix storage live tests and bug in Poller
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/Poller.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestabortcopylease.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestabortcopyleasefail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestabortcopymin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopydestac[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopymetadata[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopymetadata[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopymin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopypoller.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceac[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceac[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceac[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceac[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceac[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceacfail[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceacfail[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceacfail[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopysourceacfail[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierarchy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierarchymin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierdelim.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshiererror.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshiermarker.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionscopy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsdeleted.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsfail[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsfail[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsmaxresults.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsmetadata.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshieroptionsprefix.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblockblobsflat.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistpageblobsflat.json
Labels: Client, Storage

#5954 Azure Storage Blob: Fix method and parameter name casing
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/AppendBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlockBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/CustomerProvidedKey.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/PageBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobAsyncClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/PageBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/PageBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAsyncAPITests.groovy
Labels: Client, Storage, blocking-release

#5982 Support for mapping paged iterable from one type to another
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterableBase.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedIterableTest.java
Labels: Azure.Core, Client, blocking-release

#6011 Updating documentation in azure-core
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpResponseException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/ServiceResponseException.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineCallContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddDatePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/CookiePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HostPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelinePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/PortPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/ProtocolPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RequestIdPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/TimeoutPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFluxBase.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java
Labels: Azure.Core, Client, common

#5747 Integration tests for Tracing
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TracerProvider.java
  sdk/core/azure-core-tracing-opencensus/CHANGELOG.md
  sdk/core/azure-core-tracing-opencensus/README.md
  sdk/core/azure-core-tracing-opencensus/pom.xml
  sdk/core/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/OpenCensusTracer.java
  sdk/core/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/implementation/AmqpTraceUtil.java
  sdk/core/azure-core-tracing-opencensus/src/samples/AsyncListKeyVaultSecrets.md
  sdk/core/azure-core-tracing-opencensus/src/samples/AsyncQueueClientEnqueueMessages.md
  sdk/core/azure-core-tracing-opencensus/src/samples/ListeKeyVaultSecrets.md
  sdk/core/azure-core-tracing-opencensus/src/samples/PublishEvents.md
  sdk/core/azure-core-tracing-opencensus/src/samples/QueueClientEnqueueMessages.md
  sdk/core/azure-core-tracing-opencensus/src/test/java/com/azure/core/tracing/opencensus/OpenCensusTracerTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/ProcessKind.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/Tracer.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/tracing/TracerJavaDocCodeSnippets.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerTest.java
Labels: Client, Monitor

#5943 Added UTF-8 encoding for blob names in methods that are used to build…
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatch.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClient.java
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopymin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopypoller.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestgetblobnameandbuildclient.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestgetblobnameandbuildclient.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialchars[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestcreateurlspecialcharsencoded[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierdelim.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestipurlparser[9].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTesturlparser.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/PageBlobAPITestgetblobnameandbuildclient.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTesturlparser.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTesturlparserblobnamespecialcharacters.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SASTesturlparserencodedblobname.json
Labels: Client, Storage, blocking-release

#5990 Add Deserialized Headers to Download Returns
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadAsyncResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ReliableDownloadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/DownloadAsyncResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/ReliableDownload.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseMockFlux.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/models/FilesDownloadResponse.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileDownloadAsyncResponse.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileDownloadHeaders.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileDownloadResponse.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file/swagger/README.md
Labels: Client, Storage, blocking-release

#6016 Identity documentation
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AadCredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AppServiceMsiCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/CredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeInfo.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VirtualMachineMsiCredential.java
Labels: Azure.Identity, Client

#6013 Added allowed headers and queries
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobHeadersAndQueryParameters.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/module-info.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareClientBuilder.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/util/FileHeadersAndQueryParameters.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/implementation/util/package-info.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/APISpec.groovy
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/QueueHeadersAndQueryParameters.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/package-info.java
Labels: Client, Storage, blocking-release

#6056 [ServiceBus] - Remove SLF4j - log4j dependency
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/src/test/java/com/microsoft/azure/servicebus/TestCommons.java
Labels: Service Bus

#6052 Update Key Vault secrets documentation
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretClientJavaDocCodeSnippets.java
Labels: Client, KeyVault

#6042 Improve uploadFromFile Performance
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/SwaggerInterfaceParser.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ParallelTransferOptions.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
Labels: Client, Storage, blocking-release

#6050 adding readme for samples
  README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/README.md
Labels: Azure.Core, Client, blocking-release

#6057 Setting azure-core-* and azure-identity to 1.0.0 for GA!
  eng/.docsettings.yml
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opencensus/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-file/pom.xml
  sdk/storage/azure-storage-queue-cryptography/pom.xml
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/template/azure-sdk-template/pom.xml
Labels: Client, EngSys, blocking-release

#6061 KV README + docs updates
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateEcKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateRsaKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/ImportKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyProperties.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyVaultKey.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Labels: Client, Docs, KeyVault

#6059 Adding samples README
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRequest.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/README.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/src/samples/README.md
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/README.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/src/samples/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/src/samples/README.md
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-file/src/samples/README.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/src/samples/README.md
Labels: Client, Docs, blocking-release

#6065 Move SAS classes into SAS package
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobContainerSasPermission.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobSasPermission.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasQueryParameters.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/package-info.java
  sdk/storage/azure-storage-blob/src/main/java/module-info.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SASTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/package-info.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareFileSasPermission.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareSasPermission.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareServiceSasQueryParameters.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareServiceSasSignatureValues.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/package-info.java
  sdk/storage/azure-storage-file-share/src/main/java/module-info.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/AsyncSample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/DirectorySample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/FileSample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/FileServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareDirectoryAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareDirectoryJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareSample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareServiceAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareServiceJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareServiceSample.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueSasPermission.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueServiceSasQueryParameters.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueServiceSasSignatureValues.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/package-info.java
  sdk/storage/azure-storage-queue/src/main/java/module-info.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceSasSignatureValuesJavaDocCodeSnippets.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Labels: Client, Storage, blocking-release

#6068 Update functionality of EventHub*Producer
  pom.client.xml
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubLinkProvider.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/BatchOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubProducerOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/SendOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEvent.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEventsFromKnownSequenceNumberPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventDataJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubProducerClientJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEvent.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventsToSpecificPartition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventsWithCustomMetadata.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventsWithPartitionKey.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubLinkProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestEventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/BatchOptionsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventHubProducerOptionsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/SendOptionsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySendTest.java
Labels: Client, Event Hubs

#6076 Set resourceResponse in CosmosResponse
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainerResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDatabaseResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosTriggerResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosUserDefinedFunctionResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosUserResponse.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDatabaseTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Labels: Cosmos

#6082 Updates for GA releases of downstream deps.
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/pom.service.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/pom.service.xml
  sdk/identity/pom.service.xml
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/AzureKeyVaultConfiguration.java
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/AzureKeyVaultConfiguration.java
  sdk/keyvault/pom.service.xml
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-queue-cryptography/pom.xml
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueConfiguration.java
  sdk/storage/pom.service.xml
Labels: EngSys

#6094 Ga version update
  eng/versioning/version_client_java_files.txt
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
Labels: Client, Storage, blocking-release

#6060 Prefetch Upload To Determine Code Path
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ParallelTransferOptions.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
Labels: Client, Storage

#6095 readme updates
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/core/README.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-tracing-opencensus/README.md
  sdk/core/azure-core/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/microsoft-azure-storage-blob/README.md
Labels: Client, Docs, common

#6098 Remove inkrecognizer from code base.
  sdk/cognitiveservices/ci.yml
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/LICENSE
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/README.md
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/pom.xml
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/ApplicationKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkPoint.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkPointUnit.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerAsyncClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerClient.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerClientBuilder.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerCredentials.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkStroke.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkStrokeKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/Response.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/ServiceVersion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/Utils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkBullet.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkDrawing.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkList.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionRoot.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionUnit.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionUnitKind.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkWord.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Line.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Paragraph.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Point.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Rectangle.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/Shape.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/main/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/WritingRegion.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkPointImplementor.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerAsyncClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkRecognizerClientTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/InkStrokeImplementor.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/TestUtils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkBulletTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkDrawingTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionRootTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkRecognitionUnitTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/InkWordTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/LineTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/ShapeTest.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/java/com/microsoft/azure/cognitiveservices/inkrecognizer/model/TestUtils.java
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/AllInkRecognitionUnitKindsRequest.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/AllInkRecognitionUnitKindsResponse.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/CircleRequest.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedInkRecognitionUnits.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedResponseMissingCategory.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/MalformedResponseMissingId.json
  sdk/cognitiveservices/ms-azure-cs-inkrecognizer/src/test/resources/TwoStrokesRequest.json
  sdk/cognitiveservices/pom.service.xml
Labels: EngSys

#6085 EventHubConsumer updates
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubLinkProvider.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/SynchronousEventSubscriber.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/SynchronousReceiveWork.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConsumerOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/PartitionContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/PartitionEvent.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEvent.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEventsFromKnownSequenceNumberPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubConsumerJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorSample.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubLinkProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventHubConsumerClientOptionsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySelectorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/proxy/ProxySendTest.java
Labels: Client, Event Hubs

#6124 Update README.md
  README.md
Labels: AzConfig, Client, Do not merge, Docs
