Repository Azure/azure-sdk-for-java, pull requests merged in 2019-02, with the labels that each got.

#2899 [AutoPR policyinsights/resource-manager] [Hub Generated] Review request for Microsoft.PolicyInsights to add version 2018-07-01-preview
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/ExpressionEvaluationDetails.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/IfNotExistsEvaluationDetails.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/PolicyEvaluationDetails.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/QueryOptions.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/implementation/OperationsInner.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/implementation/PolicyStateInner.java
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/implementation/PolicyStatesInner.java
Labels: RestPRMerged

#2918 [AutoPR compute/resource-manager] fixes for reference documentation
  compute/resource-manager/v2017_03_30/src/main/java/com/microsoft/azure/management/compute/v2017_03_30/HardwareProfile.java
  compute/resource-manager/v2017_03_30/src/main/java/com/microsoft/azure/management/compute/v2017_03_30/VaultCertificate.java
  compute/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/compute/v2017_12_01/VaultCertificate.java
Labels: RestPRMerged

#2919 [AutoPR azure-kusto/resource-manager] Ga kc 1
  azure-mgmt-kusto/src/main/java/com/microsoft/azure/management/kusto/AzureSkuName.java
  azure-mgmt-kusto/src/main/java/com/microsoft/azure/management/kusto/implementation/AzureSkuInner.java
Labels: RestPRMerged

#2913 [AutoPR authorization/resource-manager] Removed "x-ms-pageable" from the elevateAccess API
  authorization/resource-manager/v2015_07_01/src/main/java/com/microsoft/azure/management/authorization/v2015_07_01/ElevateAccess.java
  authorization/resource-manager/v2015_07_01/src/main/java/com/microsoft/azure/management/authorization/v2015_07_01/implementation/AuthorizationManagementClientImpl.java
  authorization/resource-manager/v2015_07_01/src/main/java/com/microsoft/azure/management/authorization/v2015_07_01/implementation/AuthorizationManager.java
  authorization/resource-manager/v2015_07_01/src/main/java/com/microsoft/azure/management/authorization/v2015_07_01/implementation/ElevateAccessImpl.java
  authorization/resource-manager/v2015_07_01/src/main/java/com/microsoft/azure/management/authorization/v2015_07_01/implementation/ElevateAccessInner.java
Labels: RestPRMerged

#2920 [AutoPR sql/resource-manager] Updating Data Classification Swaggers.
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/DatabasisServerSensitivityLabel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/DatabasisServerSensitivityLabelModel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/RecommendedSensitivityLabels.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/SensitivityLabel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/SensitivityLabelSource.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/SensitivityLabels.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/DatabasisServerSensitivityLabelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/DatabasisServerSensitivityLabelModelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/RecommendedSensitivityLabelsImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/RecommendedSensitivityLabelsInner.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelInner.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelsImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelsInner.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SqlManagementClientImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SqlManager.java
Labels: RestPRMerged

#2939 Introduce two build profiles into the client pom.xml
  pom.client.xml
Labels: Client

#2948 Constant names, method names, and misc fixes.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/RsaKey.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/SymmetricKey.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesKw.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesKw128.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesKw192.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesKw256.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/Ecdsa.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/Rs256.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/RsaSignature.java
Labels: Client

#2951 Adding .docsettings file. Adding readme analysis to the Analyze step.
  .azure-pipelines/client.yml
  eng/.docsettings.yml
Labels: EngSys

#2958 P2 SpotBug fixes
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/ByteExtensions.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/SymmetricKey.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesKw.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/Rsa15.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/RsaOaep.java
  keyvault/data-plane/azure-keyvault-extensions/src/main/java/com/microsoft/azure/keyvault/extensions/KeyVaultKey.java
  keyvault/data-plane/azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/ByteExtensions.java
  keyvault/data-plane/azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKey.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/models/CertificateBundle.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/models/CertificateOperation.java
Labels: Client

#2961 SpotBug P2 fixes
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  keyvault/data-plane/azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/ByteExtensions.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/implementation/KeyVaultClientCustomImpl.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/messagesecurity/JWEHeader.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/messagesecurity/JWEObject.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/CreateCertificateRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/CreateKeyRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/ImportCertificateRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/ImportKeyRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/MergeCertificateRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/SetSecretRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/UpdateCertificateRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/UpdateKeyRequest.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requests/UpdateSecretRequest.java
Labels: Client

#2962 SpotBug fixes
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  keyvault/data-plane/azure-keyvault-extensions/src/main/java/com/microsoft/azure/keyvault/extensions/KeyVaultKey.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/IssuerIdentifier.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/KeyVaultClient.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/ObjectIdentifier.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/implementation/KeyVaultClientCustomImpl.java
Labels: Client

#2955 Reporting improvements to client SDK
  .azure-pipelines/client.yml
  batch/data-plane/pom.xml
  eng/code-quality-reports/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  keyvault/data-plane/azure-keyvault-complete/pom.xml
  keyvault/data-plane/azure-keyvault-core/pom.xml
  keyvault/data-plane/azure-keyvault-cryptography/pom.xml
  keyvault/data-plane/azure-keyvault-extensions/pom.xml
  keyvault/data-plane/azure-keyvault-test/pom.xml
  keyvault/data-plane/azure-keyvault-webkey/pom.xml
  keyvault/data-plane/azure-keyvault/pom.xml
  keyvault/data-plane/pom.xml
  pom.client.xml
  template/client/pom.xml
Labels: Client

#2960 Present a prettier frontpage for the build status page
  eng/code-quality-reports/src/main/resources/index.html
Labels: Client

#2965 Update index.html
  eng/code-quality-reports/src/main/resources/index.html
Labels: Client

#2966 Fix issue where spotbugs can't find the excludes filter file
  pom.client.xml
Labels: Client

#2967 P3 Bugs
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/SignatureEncoding.java
Labels: Client

#2973 SpotBug P3 Fixes
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  keyvault/data-plane/azure-keyvault-extensions/src/main/java/com/microsoft/azure/keyvault/extensions/CachingKeyResolver.java
Labels: Client

#2978 [AutoPR cdn/resource-manager] Enable SSL on custom domains for CDN using users certificate or CDN managed c…
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/CdnCertificateSourceParameters.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/CdnManagedHttpsParameters.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/CertificateType.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/CustomDomainHttpsParameters.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/KeyVaultCertificateSourceParameters.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/ProtocolType.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/UserManagedHttpsParameters.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/implementation/CustomDomainsInner.java
Labels: RestPRMerged

#2985 [AutoPR cognitiveservices/data-plane/TranslatorText] Translator Text API V3
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/TranslatorTextClient.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/Translators.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/implementation/TranslatorTextClientImpl.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/implementation/TranslatorsImpl.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/implementation/package-info.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/BreakSentenceResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/BreakSentenceTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DetectResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DetectTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryExampleResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryExampleResultItemExamplesItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryExampleTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryLookupResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryLookupResultItemTranslationsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryLookupResultItemTranslationsItemBackTranslationsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/DictionaryLookupTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/ErrorMessage.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/ErrorMessageError.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/ErrorMessageException.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResult.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultDictionary.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultDictionaryLanguageCode.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultDictionaryLanguageCodeTranslationsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTranslation.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTranslationLanguageCode.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTransliteration.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTransliterationLanguageCode.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTransliterationLanguageCodeScriptsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/LanguagesResultTransliterationLanguageCodeScriptsItemToScriptsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemDetectedLanguage.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItemAlignment.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItemSentLen.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItemSentLenSrcSentLenItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItemSentLenTransSentLenItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultAllItemTranslationsItemTransliteration.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateResultItemTranslationItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TranslateTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TransliterateResultItem.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/TransliterateTextInput.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/models/package-info.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/package-info.java
Labels: RestPRMerged

#2988 [AutoPR sql/resource-manager] Adding Swagger and examples for VirtualClusters operation group
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstance.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceProxyOverride.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualCluster.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualClusterUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/VirtualClusters.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/SqlManagementClientImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/SqlManager.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClusterImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClusterInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClustersImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/VirtualClustersInner.java
Labels: RestPRMerged

#2982 [AutoPR containerservice/resource-manager] including apiServerAuthorizedIPRanges
  containerservice/resource-manager/v2017_07_01/pom.xml
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerService.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceAgentPoolProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceCustomProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceDiagnosticsProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceLinuxProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceMasterProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceOrchestratorProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceServicePrincipalProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceSshConfiguration.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceSshPublicKey.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceVMDiagnostics.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceWindowsProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/KeyVaultSecretRef.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/OSType.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServiceInner.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServicesImpl.java
  containerservice/resource-manager/v2017_08_31/pom.xml
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceAgentPoolProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceDiagnosticsProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceLinuxProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceMasterProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceServicePrincipalProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceSshConfiguration.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceSshPublicKey.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceVMDiagnostics.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceWindowsProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/KeyVaultSecretRef.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedCluster.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedClusterPoolUpgradeProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedClusters.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/OrchestratorProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterAccessProfileImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterAccessProfileInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterUpgradeProfileInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClustersImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClustersInner.java
  containerservice/resource-manager/v2017_09_30/pom.xml
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/ContainerServices.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/OrchestratorProfile.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/OrchestratorVersionProfile.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/ContainerServicesInner.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/OrchestratorVersionProfileListResultInner.java
Labels: RestPRMerged

#2991 Fixes breaking changes in autorest-runtime-for-java
  azconfig/client/src/main/java/com/azure/azconfig/AzConfigCredentialsPolicy.java
  azconfig/client/src/main/java/com/azure/azconfig/models/KeyValueGenericFilter.java
  azconfig/client/src/test/java/com/azure/azconfig/AzConfigTest.java
Labels: Client

#2992 [AutoPR iothub/resource-manager] changes to improve documentation of endpoint health statuses for routing
  iothub/resource-manager/v2018_04_01/src/main/java/com/microsoft/azure/management/iothub/v2018_04_01/implementation/EndpointHealthDataInner.java
  iothub/resource-manager/v2018_12_01_preview/src/main/java/com/microsoft/azure/management/iothub/v2018_12_01_preview/implementation/EndpointHealthDataInner.java
Labels: RestPRMerged
