Repository Azure/azure-sdk-for-java, pull requests merged in 2019-04, with the labels that each got.

#3265 [AutoPR imagebuilder/resource-manager] [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version preview/2019-02-01-preview
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplatePowerShellCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateShellCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/RunOutput.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/RunOutputImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/RunOutputInner.java
Labels: RestPRMerged

#3231 Updating ConfigurationClient names and methods based on feedback
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/package-info.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/ConfigurationSetting.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionOptions.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingSelector.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/package-info.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/package-info.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/addExistingSetting.json
  applicationconfig/client/src/test/resources/session-records/addSetting.json
  applicationconfig/client/src/test/resources/session-records/deleteSetting.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingWithETag.json
  applicationconfig/client/src/test/resources/session-records/getSetting.json
  applicationconfig/client/src/test/resources/session-records/getSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/getSettingRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/listRevisions.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsRange.json
  applicationconfig/client/src/test/resources/session-records/listSettingsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listSettingsSelectFields.json
  applicationconfig/client/src/test/resources/session-records/listSettingsWithPagination.json
  applicationconfig/client/src/test/resources/session-records/listWithKeyAndLabel.json
  applicationconfig/client/src/test/resources/session-records/lockAndUnlockRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSetting.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/setSetting.json
  applicationconfig/client/src/test/resources/session-records/setSettingIfEtag.json
  applicationconfig/client/src/test/resources/session-records/updateNoExistingSetting.json
  applicationconfig/client/src/test/resources/session-records/updateSetting.json
  applicationconfig/client/src/test/resources/session-records/updateSettingIfEtag.json
Labels: Azure.ApplicationModel.Configuration, Client

#3264 [AutoPR postgresql/resource-manager] add missed parameters in Postgres Update Server API to stop replication
  postgresql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/postgresql/v2017_12_01/Server.java
  postgresql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/postgresql/v2017_12_01/ServerUpdateParameters.java
  postgresql/resource-manager/v2017_12_01/src/main/java/com/microsoft/azure/management/postgresql/v2017_12_01/implementation/ServerImpl.java
Labels: RestPRMerged

#3278 [AutoPR network/resource-manager] Swagger has to just enforce a positive fileUploadLimitInMb, It doesnt have to check the upper Limit.
  network/resource-manager/v2017_10_01/src/main/java/com/microsoft/azure/management/network/v2017_10_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_04_01/src/main/java/com/microsoft/azure/management/network/v2018_04_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/network/v2018_06_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/network/v2018_07_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_08_01/src/main/java/com/microsoft/azure/management/network/v2018_08_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_12_01/src/main/java/com/microsoft/azure/management/network/v2018_12_01/implementation/VirtualNetworkGatewaysInner.java
Labels: RestPRMerged

#3280 [AutoPR cdn/resource-manager] add Premium_ChinaCdn support to cdn specification 2017-10-12
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/Sku.java
  azure-mgmt-cdn/src/main/java/com/microsoft/azure/management/cdn/SkuName.java
Labels: RestPRMerged

#3283 More tests, checkstyle, and spotbug fixes
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClientCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionRange.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingFields.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/listRevisions.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsWithPagination.json
  applicationconfig/client/src/test/resources/session-records/listSettingsWithPagination.json
Labels: Azure.ApplicationModel.Configuration, Client

#3194 [AutoPR monitor/resource-manager] #5326 Fix the criteria definition
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/LogToMetricAction.java
Labels: RestPRMerged

#3282 [AutoPR web/resource-manager] Update managedserviceidentity type enum
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/ManagedServiceIdentity.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/ManagedServiceIdentityType.java
Labels: RestPRMerged

#3242 [AutoPR recoveryservices/resource-manager] Added Swagger details for CheckNameAvailability API
  recoveryservices/resource-manager/v2016_06_01/pom.xml
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/CheckNameAvailabilityParameters.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/CheckNameAvailabilityResult.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/CheckNameAvailabilityResultResource.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/RecoveryServices.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceCertificateDetails.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceNameAvailabilityParameters.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceNameAvailabilityResponse.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceNameAvailabilityResponseResource.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceNameAvailabilityResult.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/ResourceNameAvailabilityResultResource.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/UpgradeDetails.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/Vault.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/VaultCertificateResponse.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/CheckNameAvailabilityResultResourceImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/CheckNameAvailabilityResultResourceInner.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RecoveryServicesClientImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RecoveryServicesImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RecoveryServicesInner.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RecoveryServicesManager.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/RegisteredIdentitiesImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/ResourceNameAvailabilityResponseResourceImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/ResourceNameAvailabilityResponseResourceInner.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/ResourceNameAvailabilityResultResourceImpl.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/ResourceNameAvailabilityResultResourceInner.java
  recoveryservices/resource-manager/v2016_06_01/src/main/java/com/microsoft/azure/management/recoveryservices/v2016_06_01/implementation/VaultCertificateResponseImpl.java
Labels: RestPRMerged

#3267 [AutoPR billing/resource-manager] GTM billing api for getting reservation Transactions by invoice section.
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransactionsByBillingProfiles.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransactionsByInvoiceSections.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransactionsListResult.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManagementClientImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManager.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsByBillingProfilesImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsByBillingProfilesInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsByInvoiceSectionsImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsByInvoiceSectionsInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsListResultImpl.java
Labels: RestPRMerged

#3289 Remove support for fetching Revision "Ranges"
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionOptions.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionRange.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/listRevisionsRange.json
Labels: Azure.ApplicationModel.Configuration, Client

#3291 [AutoPR web/resource-manager] Add Managed Identity envelope to SitePatchResource
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/SitePatchResource.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/Sites.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/Slots.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/SitesImpl.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/SlotsImpl.java
Labels: RestPRMerged

#3298 [AutoPR billing/resource-manager] Added specs for Agreements API in version 2018-11-01-preview
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/Agreement.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/AgreementListResult.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/Agreements.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/Participants.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementListResultImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementListResultInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementsImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/AgreementsInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManagementClientImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManager.java
Labels: RestPRMerged

#3272 JavaCheckStyleRule: Package Naming
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
Labels: Java Source Code Rules

#3297 Adding base class for PagedResponse<T>
  common/azure-common/src/main/java/com/azure/common/annotations/ReturnValueWireType.java
  common/azure-common/src/main/java/com/azure/common/http/rest/Page.java
  common/azure-common/src/main/java/com/azure/common/http/rest/PagedResponse.java
  common/azure-common/src/main/java/com/azure/common/implementation/RestProxy.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/http/PagedResponseBase.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseBodyDecoder.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/ItemPage.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpClient.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpResponse.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyWithMockTests.java
Labels: Azure.Base, common

#3316 Removes dependency on commons-io.
  applicationconfig/client/pom.xml
  applicationconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3319 Remove lock/unlock methods
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/deleteSetting.json
  applicationconfig/client/src/test/resources/session-records/getSetting.json
Labels: Azure.ApplicationModel.Configuration, Client

#3284 Spotbugs fix for azure-common pkg.
  common/azure-common/src/main/java/com/azure/common/http/HttpHeaders.java
  common/azure-common/src/main/java/com/azure/common/http/policy/HttpLoggingPolicy.java
  common/azure-common/src/main/java/com/azure/common/implementation/Base64Url.java
  common/azure-common/src/main/java/com/azure/common/implementation/OperationDescription.java
  common/azure-common/src/main/java/com/azure/common/implementation/PercentEscaper.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseBodyDecoder.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseHeaderDecoder.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/jackson/FlatteningDeserializer.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/jackson/FlatteningSerializer.java
  common/azure-common/src/main/java/com/azure/common/implementation/util/ImplUtils.java
  common/azure-common/src/test/java/com/azure/common/implementation/Base64UrlTests.java
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/spotbugs-aggregate-report/pom.xml
Labels: Client, common

#3306 API Review Changes
  applicationconfig/client/pom.xml
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzureConfiguration.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationAsyncClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationAsyncClientBuilder.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationService.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/RequestIdPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/credentials/ConfigurationClientCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/credentials/package-info.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/ConfigurationSettingPage.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/ConfigurationSetting.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingFields.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingSelector.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/package-info.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/policy/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/policy/package-info.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  applicationconfig/client/src/test/resources/session-records/addSettingEmptyKey.json
  applicationconfig/client/src/test/resources/session-records/addSettingEmptyValue.json
  applicationconfig/client/src/test/resources/session-records/addSettingNullKey.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingNullKey.json
  applicationconfig/client/src/test/resources/session-records/listSettingsSelectFields.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSetting.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/setSettingEmptyKey.json
  applicationconfig/client/src/test/resources/session-records/setSettingEmptyValue.json
  applicationconfig/client/src/test/resources/session-records/setSettingNullKey.json
  applicationconfig/client/src/test/resources/session-records/updateSettingNullKey.json
  applicationconfig/client/src/test/resources/session-records/updateSettingOverload.json
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3288 Adding samples for Application Configuration
  applicationconfig/client/pom.xml
  applicationconfig/client/src/samples/java/ConfigurationSets.java
  applicationconfig/client/src/samples/java/HelloWorld.java
  applicationconfig/client/src/samples/java/PipelineSample.java
  applicationconfig/client/src/samples/java/models/ComplexConfiguration.java
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3350 [AutoPR hybriddatamanager/resource-manager] Addition of HybridDataManager
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/AvailableProviderOperationDisplay.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/CustomerSecret.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/DataManagerUpdateParameter.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/DataStoreFilter.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/DmsBaseObject.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/Error.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/ErrorDetails.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/IsJobCancellable.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/JobDefinitionFilter.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/JobDetails.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/JobFilter.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/JobStages.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/JobStatus.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/Key.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/RunLocation.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/RunParameters.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/Schedule.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/Sku.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/State.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/SupportedAlgorithm.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/UserConfirmation.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/AvailableProviderOperationInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataManagerInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataManagersInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataServiceInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataServicesInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataStoreInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataStoreTypeInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataStoreTypesInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/DataStoresInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/HybridDataManagementClientImpl.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/JobDefinitionInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/JobDefinitionsInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/JobInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/JobsInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/OperationsInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/PageImpl.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/PageImpl1.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/PublicKeyInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/PublicKeysInner.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/implementation/package-info.java
  azure-mgmt-hybriddatamanager/src/main/java/com/microsoft/azure/management/hybriddata/package-info.java
Labels: RestPRMerged

#3130 [AutoPR policyinsights/resource-manager] [Hub Generated] Review request for Microsoft.PolicyInsights to add version 2018-07-01-preview
  policyinsights/resource-manager/v2018_07_01_preview/src/main/java/com/microsoft/azure/management/policyinsights/v2018_07_01_preview/ExpressionEvaluationDetails.java
Labels: RestPRMerged

#3340 [AutoPR consumption/resource-manager] [Hub Generated] Review request for Microsoft.Consumption to add version stable/2019-01-01
  consumption/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/consumption/v2019_01_01/Budget.java
  consumption/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/consumption/v2019_01_01/TimeGrainType.java
  consumption/resource-manager/v2019_01_01/src/main/java/com/microsoft/azure/management/consumption/v2019_01_01/implementation/BudgetInner.java
Labels: RestPRMerged

#3358 Whitespace fixes in KeyVault
  keyvault/data-plane/azure-keyvault-complete/pom.xml
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcHmacShaTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesKwTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/ECKeyBCProviderTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/ECKeyTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/PemFile.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/RsaKeyBCProviderTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/SymmetricKeyTest.java
  keyvault/data-plane/azure-keyvault-extensions/pom.xml
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverBCProviderTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverDefaultProviderTest.java
  keyvault/data-plane/azure-keyvault-test/pom.xml
  keyvault/data-plane/azure-keyvault-test/src/test/java/com/microsoft/azure/keyvault/test/EcKeyIntegrationTests.java
  keyvault/data-plane/azure-keyvault-webkey/pom.xml
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/AesValidationTests.java
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/ClearMemoryTests.java
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/EcHsmValidationTests.java
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/EcValidationTests.java
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/RsaHsmValidationTests.java
  keyvault/data-plane/azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/RsaValidationTests.java
  keyvault/data-plane/azure-keyvault/.gitignore
  keyvault/data-plane/azure-keyvault/pom.xml
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/AsyncOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/SecretOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/resources/MockUserTokenCredentials.java
  keyvault/data-plane/pom.xml
Labels: Client, KeyVault

#3364 Fixed the checkstyle indentation issue in common pkg.
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/AzureProxy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/CompletedPollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/LocationPollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/PagedList.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/PollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/ProvisioningStatePollStrategy.java
  common/azure-common/src/main/java/com/azure/common/AzureEnvironment.java
  common/azure-common/src/main/java/com/azure/common/http/HttpHeaders.java
  common/azure-common/src/main/java/com/azure/common/http/HttpPipelineCallContext.java
  common/azure-common/src/main/java/com/azure/common/implementation/PercentEscaper.java
  common/azure-common/src/main/java/com/azure/common/implementation/RestProxy.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerInterfaceParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/Validator.java
  common/azure-common/src/main/java/com/azure/common/implementation/http/PagedResponseBase.java
  common/azure-common/src/main/java/com/azure/common/implementation/http/UrlBuilder.java
  common/azure-common/src/main/java/com/azure/common/implementation/http/UrlTokenizer.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseDecodeData.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/jackson/JacksonAdapter.java
  common/azure-common/src/main/java/com/azure/common/implementation/util/FluxUtil.java
Labels: Client, common

#3342 Fixed spotbugs for azure-common-mgmt.
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/AzureAsyncOperationPollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/LocationPollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/PollStrategy.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/serializer/AzureJacksonAdapter.java
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
Labels: Client, common

#3353 Moving UserAgent policy logic into UserAgentPolicy
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzureConfiguration.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationAsyncClientBuilder.java
  common/azure-common/src/main/java/com/azure/common/http/policy/UserAgentPolicy.java
Labels: Azure.Base, Client, common

#3371 Part 1: CheckStyle fixes in KeyVault tests
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/AsyncOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/CertificateOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/EnhancedKeyVaultTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/ITManagedStorageAccountKey.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/SecretOperationsTest.java
Labels: KeyVault

#3372 Part 2: Checkstyle fixes in KeyVault tests
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/CertificateOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/EnhancedKeyVaultTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/ITManagedStorageAccountKey.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/SecretOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/resources/MockUserTokenCredentials.java
Labels: KeyVault

#3381 [AutoPR hanaonazure/resource-manager] Fixing the parameters because they should not be readonly
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/MonitoringDetails.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Monitorings.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitoringsImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitoringsInner.java
Labels: RestPRMerged

#3369 [AutoPR sql/resource-manager] [DO NOT MERGE] Sensitivity labels: Disable/Enable recommended sensitivity labels
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/DatabasisServerSensitivityLabel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/DatabasisServerSensitivityLabelModel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/SensitivityLabel.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/SensitivityLabels.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/DatabasisServerSensitivityLabelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/DatabasisServerSensitivityLabelModelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/RecommendedSensitivityLabelsInner.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelInner.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelsImpl.java
  sql/resource-manager/v2017_03_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_03_01_preview/implementation/SensitivityLabelsInner.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/CurrentSensitivityLabels.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/ManagedDatabaseSensitivityLabels.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/RecommendedSensitivityLabels.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/SensitivityLabels.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/CurrentSensitivityLabelsImpl.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/ManagedDatabaseSensitivityLabelsImpl.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/ManagedDatabaseSensitivityLabelsInner.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/RecommendedSensitivityLabelsImpl.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/SensitivityLabelInner.java
  sql/resource-manager/v2018_06_01_preview/src/main/java/com/microsoft/azure/management/sql/v2018_06_01_preview/implementation/SensitivityLabelsImpl.java
Labels: RestPRMerged

#3379 Part 3: CheckStyle fixes
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcHmacShaTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesKwTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/ECKeyTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/RsaKeyTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/SymmetricKeyTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyOperationsTest.java
  keyvault/data-plane/azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/SecretOperationsTest.java
Labels: Client, KeyVault

#3245 EventHubs: fix SpotBugs P3
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureBlobLease.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureStorageCheckpointLeaseManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/BaseLease.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/Closable.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/CompleteLease.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventProcessorHost.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/InMemoryLeaseManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/LeaseLostException.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/LoggingUtils.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionScanner.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/BatchOptions.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/ErrorContext.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/RetryPolicy.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/AmqpException.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/CBSChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ClientEntity.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ConnectionHandler.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventDataBatchImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventDataImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventHubClientImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventPositionImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ExceptionUtil.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/FaultTolerantObject.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ManagementChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageOperationResult.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageReceiver.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageSender.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessagingFactory.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/OperationResultBase.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/PartitionReceiverImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReactorDispatcher.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReceivePump.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReceiverContext.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/RequestResponseChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/RequestResponseCloser.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/RequestResponseOpener.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SendLinkHandler.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SenderContext.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SessionHandler.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/StringUtil.java
Labels: Client, Event Hub

#3390 [AutoPR hanaonazure/resource-manager] Fixing operation id to be named consistently
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaInstances.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstancesImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstancesInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaManagementClientImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaOnAzureManager.java
Labels: RestPRMerged

#3239 [AutoPR iotcentral/resource-manager] [Hub Generated] Review request for Microsoft.IoTCentral to add version 2018-09-01
  iotcentral/resource-manager/v2017_07_01_privatepreview/pom.xml
  iotcentral/resource-manager/v2017_07_01_privatepreview/src/main/java/com/microsoft/azure/management/iotcentral/v2017_07_01_privatepreview/App.java
  iotcentral/resource-manager/v2017_07_01_privatepreview/src/main/java/com/microsoft/azure/management/iotcentral/v2017_07_01_privatepreview/implementation/IotCentralClientImpl.java
  iotcentral/resource-manager/v2018_09_01/pom.xml
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/App.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/AppTemplate.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/AppTemplateProperties.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/Apps.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/implementation/AppTemplateImpl.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/implementation/AppTemplateInner.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/implementation/AppsImpl.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/implementation/AppsInner.java
  iotcentral/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/iotcentral/v2018_09_01/implementation/IotCentralClientImpl.java
Labels: RestPRMerged

#3384 Part 4: Checkstyle issues for azure-common, azure-common-mgmt, azure-common-auth tests
  common/azure-common-auth/src/test/java/com/azure/common/auth/credentials/UserTokenCredentialsTests.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/serializer/AzureJacksonAdapter.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyToRestProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/HttpBinJSON.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/http/MockAzureHttpClient.java
  common/azure-common/src/test/java/com/azure/common/entities/HttpBinJSON.java
  common/azure-common/src/test/java/com/azure/common/http/HttpHeaderTests.java
  common/azure-common/src/test/java/com/azure/common/http/HttpHeadersTests.java
  common/azure-common/src/test/java/com/azure/common/http/HttpMethodTests.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpClient.java
  common/azure-common/src/test/java/com/azure/common/http/ReactorNettyClientTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/HostPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/ProtocolPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/ProxyAuthenticationPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/RequestIdPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/RetryPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/Base64UrlTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyStressTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyWithMockTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/SwaggerMethodParserTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/http/UrlBuilderTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/serializer/jackson/JacksonAdapterTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/util/FluxUtilTests.java
Labels: Azure.Base, Client, common

#3401 Spotbugs: Last of EventHubs spotbug fixes and enables build failure
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureStorageCheckpointLeaseManager.java
  eventhubs/data-plane/pom.xml
Labels: Client, Event Hub

#3397 [AutoPR billing/resource-manager] Corrected specs and examples for BillingRP
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/BillingAccount.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/BillingAccountBillingSubscriptionSummary.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/BillingProfile.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/BillingProperty.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/EnabledAzureSKUs.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/InvoiceSectionBillingAccountBillingSubscriptionSummary.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/InvoiceSummary.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/PaymentMethod.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/Policy.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransactionsSummary.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransferBillingSubscriptionRequest.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransferBillingSubscriptionRequestProperties.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/TransferProductRequestProperties.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingAccountBillingSubscriptionSummaryImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingAccountImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingAccountInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManagementClientImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingManager.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingProfileImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingProfileInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingPropertyImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingPropertyInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingSubscriptionSummaryInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingSubscriptionsByBillingProfilesInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/BillingSubscriptionsInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/InvoiceSectionBillingAccountBillingSubscriptionSummaryImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/InvoiceSummaryImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/InvoiceSummaryInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/PaymentMethodImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/PaymentMethodInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/PolicyImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/PolicyInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/ProductsInner.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsSummaryImpl.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransactionsSummaryInner.java
Labels: RestPRMerged

#3407 Added azconfig to the live tests
  .azure-pipelines/client.test.live.yml
Labels: Azure.ApplicationModel.Configuration, Client

#3420 Enable checkstyle build failures for AppConfig and azure-common
  applicationconfig/client/pom.xml
  batch/data-plane/src/main/java/com/microsoft/azure/batch/BatchClient.java
  batch/data-plane/src/main/java/com/microsoft/azure/batch/interceptor/ClientRequestIdInterceptor.java
  batch/data-plane/src/main/java/com/microsoft/azure/batch/interceptor/DetailLevelInterceptor.java
  batch/data-plane/src/main/java/com/microsoft/azure/batch/interceptor/RequestInterceptor.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/serializer/AzureJacksonAdapter.java
  common/azure-common/src/main/java/com/azure/common/implementation/RestProxy.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/UnexpectedExceptionInformation.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseDecodeData.java
  common/pom.xml
Labels: Azure.ApplicationModel.Configuration, Azure.Core, Client, common

#3411 Support x-www-form-urlencoded requests with form data
  common/azure-common/src/main/java/com/azure/common/annotations/FormParam.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/http/ContentType.java
  common/azure-common/src/test/java/com/azure/common/entities/HttpBinFormDataJSON.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpClient.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyWithHttpProxyNettyTests.java
Labels: Client, common

#3417 [AutoPR network/resource-manager] Build release
  network/resource-manager/v2017_10_01/src/main/java/com/microsoft/azure/management/network/v2017_10_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_04_01/src/main/java/com/microsoft/azure/management/network/v2018_04_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/network/v2018_06_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/network/v2018_07_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_08_01/src/main/java/com/microsoft/azure/management/network/v2018_08_01/implementation/VirtualNetworkGatewaysInner.java
  network/resource-manager/v2018_12_01/src/main/java/com/microsoft/azure/management/network/v2018_12_01/implementation/DdosProtectionPlansInner.java
  network/resource-manager/v2018_12_01/src/main/java/com/microsoft/azure/management/network/v2018_12_01/implementation/VirtualNetworkGatewaysInner.java
Labels: RestPRMerged

#3424 [AutoPR cognitiveservices/resource-manager] Support Update properties
  cognitiveservices/resource-manager/v2016_02_01_preview/pom.xml
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/CognitiveServicesAccount.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/CognitiveServicesAccountCreateParameters.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/CognitiveServicesAccountUpdateParameters.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/CognitiveServicesAccounts.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/CognitiveServicesResourceAndSku.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/ErrorBody.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/RegenerateKeyParameters.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/Sku.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountEnumerateSkusResultInner.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountImpl.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountInner.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountKeysInner.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountsImpl.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesAccountsInner.java
  cognitiveservices/resource-manager/v2016_02_01_preview/src/main/java/com/microsoft/azure/management/cognitiveservices/v2016_02_01_preview/implementation/CognitiveServicesManagementClientImpl.java
  cognitiveservices/resource-manager/v2017_04_18/pom.xml
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CheckSkuAvailabilityParameter.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CheckSkuAvailabilityResult.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CheckSkuAvailabilitys.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CognitiveServicesAccount.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CognitiveServicesAccountCreateParameters.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CognitiveServicesAccountUpdateParameters.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/CognitiveServicesResourceAndSku.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/Error.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/ErrorBody.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/MetricName.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/OperationDisplayInfo.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/RegenerateKeyParameters.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/ResourceSkuRestrictionInfo.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/ResourceSkuRestrictions.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/Sku.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/Usage.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/AccountsImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/AccountsInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CheckSkuAvailabilityResultListInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CheckSkuAvailabilitysImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CheckSkuAvailabilitysInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CognitiveServicesAccountEnumerateSkusResultInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CognitiveServicesAccountImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CognitiveServicesAccountInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CognitiveServicesAccountKeysInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/CognitiveServicesManagementClientImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/OperationEntityInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/OperationsImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/ResourceSkuInner.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/ResourceSkusImpl.java
  cognitiveservices/resource-manager/v2017_04_18/src/main/java/com/microsoft/azure/management/cognitiveservices/v2017_04_18/implementation/UsagesResultInner.java
Labels: RestPRMerged

#3425 [AutoPR sql/resource-manager] [DO NOT MERGE] Managed instance updates plus examples
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstance.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceLicenseType.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstances.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedServerCreateMode.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceInner.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstancesImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstancesInner.java
Labels: RestPRMerged

#3380 [AutoPR web/resource-manager] VnetInfo CertBlob format changed to string
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/ServerfarmVnetInfo.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/SiteVnetInfo.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/ServerfarmVnetInfoImpl.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/SiteVnetInfoImpl.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/VnetInfoInner.java
Labels: RestPRMerged

#3412 Part 6: Last of azure-common-* checkstyle fixes
  common/azure-common-auth/pom.xml
  common/azure-common-auth/src/test/java/com/azure/common/auth/credentials/http/MockHttpClient.java
  common/azure-common-auth/src/test/java/com/azure/common/auth/credentials/http/MockHttpResponse.java
  common/azure-common-mgmt/pom.xml
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyToRestProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/HttpBinJSON.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/MockResource.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/MyAzureException.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/http/MockAzureHttpClient.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/http/MockAzureHttpResponse.java
  common/azure-common-test/pom.xml
  common/azure-common-test/src/main/java/com/azure/common/test/http/MockHttpResponse.java
  common/azure-common/src/test/java/com/azure/common/MockServer.java
  common/azure-common/src/test/java/com/azure/common/MyOtherRestException.java
  common/azure-common/src/test/java/com/azure/common/MyRestException.java
  common/azure-common/src/test/java/com/azure/common/entities/HttpBinHeaders.java
  common/azure-common/src/test/java/com/azure/common/entities/HttpBinJSON.java
  common/azure-common/src/test/java/com/azure/common/entities/SignedIdentifiersWrapper.java
  common/azure-common/src/test/java/com/azure/common/entities/Slide.java
  common/azure-common/src/test/java/com/azure/common/entities/Slideshow.java
  common/azure-common/src/test/java/com/azure/common/http/HttpPipelineTests.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpClient.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpResponse.java
  common/azure-common/src/test/java/com/azure/common/http/policy/HostPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/http/policy/ProtocolPolicyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyStressTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyWithMockTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyXMLTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/ValidatorTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/serializer/jackson/AdditionalPropertiesSerializerTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/serializer/jackson/FlatteningSerializerTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/serializer/jackson/JacksonAdapterTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/util/Foo.java
  common/azure-common/src/test/java/com/azure/common/implementation/util/TypeUtilTests.java
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestContext.java
Labels: Client

#3419 Javadoc fixes
  common/azure-common/src/main/java/com/azure/common/annotations/ReturnValueWireType.java
  common/azure-common/src/main/java/com/azure/common/credentials/AsyncServiceClientCredentials.java
  common/azure-common/src/main/java/com/azure/common/http/policy/AsyncCredentialsPolicy.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventData.java
Labels: Azure.Core, Client, Event Hub, common

#3439 Checkstyle Fixes: azure-common and azconfig.
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  common/azure-common-test/src/main/java/com/azure/common/test/http/MockHttpResponse.java
  common/azure-common/src/test/java/com/azure/common/entities/HttpBinFormDataJSON.java
  common/azure-common/src/test/java/com/azure/common/http/MockHttpClient.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyTests.java
Labels: Azure.Core, Client, common

#3432 EventHubs: LiveTests and fixing test hangs.
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/PartitionSender.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageReceiver.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/concurrency/ConcurrentReceiversTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/connstrbuilder/ConnStrBuilderTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/BackCompatTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropAmqpPropertiesTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropEventBodyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ClientEntityCreateTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/MsgFactoryOpenCloseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ReactorFaultTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SecurityExceptionsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SendLargeMessageTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestContext.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySelectorTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySendLargeMessageTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySendTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/EventDataBatchAPITest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SendTest.java
  eventhubs/data-plane/pom.xml
Labels: Client, Event Hub

#3440 Checkstyle 8: Event Hubs tests
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/connstrbuilder/ConnStrBuilderTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/connstrbuilder/TransportTypeTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/BackCompatTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/EventDataBatchTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/EventDataTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropAmqpPropertiesTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropEventBodyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ClientEntityCreateTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/MsgFactoryOpenCloseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ReceiverEpochTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SecurityExceptionsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/Mock/MockServer.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/EventDataBatchAPITest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveParallelManualTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceivePumpEventHubTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverIdentifierTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverRuntimeMetricsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SendTest.java
Labels: Client, Event Hub

#3442 Checkstyle 9: Event Hubs test fixes
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ClientEntityCreateTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/MsgFactoryOpenCloseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ReactorFaultTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/RetryPolicyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SecurityExceptionsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/jproxy/ProxyNegotiationHandler.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/jproxy/ProxyServer.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/FaultInjectingReactorFactory.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestBase.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestContext.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/mock/MockServer.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/mock/Sender1MsgOnLinkFlowHandler.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/mock/ServerTraceHandler.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySelectorTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySendTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveParallelManualTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceivePumpEventHubTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverIdentifierTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverRuntimeMetricsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/RequestResponseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SasTokenReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SasTokenSendTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SetPrefetchCountTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/WebSocketsReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/WebSocketsSendTest.java
Labels: Client, Event Hub

#3443 Checkstyle 10: Last of azure-eventhub fixes
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropAmqpPropertiesTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropEventBodyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ClientEntityCreateTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ReceiverEpochTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/impl/EventDataOrderTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/SasTokenTestBase.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxySendTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/EventDataBatchAPITest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveParallelManualTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceivePumpEventHubTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiveTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverIdentifierTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/ReceiverRuntimeMetricsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/RequestResponseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/sendrecv/SendTest.java
Labels: Client, Event Hub

#3444 Checkstyle11: Fixes for azure-eventhubs-eph
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/CheckpointManagerTest.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/DummyPump.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/EPHConstructorTests.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/LeaseManagerTest.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PartitionManagerTest.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PerTestSettings.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PrefabEventProcessor.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/RealEventHubUtilities.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/TestBase.java
Labels: Client, Event Hub

#3446 Checkstyle12: Fix azure-eventhubs-eph and azconfig
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTestBase.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PrefabEventProcessor.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/RealEventHubUtilities.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/Repros.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SadPathTests.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SmokeTest.java
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/TestBase.java
Labels: AzConfig, Client, Event Hub

#3421 [AutoPR cognitiveservices/data-plane/ComputerVision] Update CognitiveService OCR swagger file.
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/ComputerVisionClient.java
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/implementation/ComputerVisionClientImpl.java
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Line.java
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/ReadOperationResult.java
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/TextRecognitionResult.java
  cognitiveservices/data-plane/vision/computervision/src/main/java/com/microsoft/azure/cognitiveservices/vision/computervision/models/Word.java
Labels: RestPRMerged

#3452 Fix EventHubs live tests
  .azure-pipelines/client.test.live.yml
  eventhubs/data-plane/azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SmokeTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/concurrency/EventHubClientTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SecurityExceptionsTest.java
Labels: Client, Event Hub

#3430 [AutoPR cognitiveservices/data-plane/QnAMaker] QnAMaker DTO changes for Multiturn
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/Alterations.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/EndpointKeys.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/Knowledgebases.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/Operations.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/QnAMakerClient.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/AlterationsImpl.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/EndpointKeysImpl.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/KnowledgebasesImpl.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/OperationsImpl.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/QnAMakerClientImpl.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/implementation/package-info.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/AlterationsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ContextDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/CreateKbDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/CreateKbInputDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/DeleteKbContentsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/EndpointKeysDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/EnvironmentType.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/Error.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ErrorCodeType.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ErrorResponse.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ErrorResponseError.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ErrorResponseException.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/FileDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/InnerErrorModel.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/KnowledgebaseDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/KnowledgebaseEnvironmentType.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/KnowledgebaseUpdateHeaders.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/KnowledgebasesDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/MetadataDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/Operation.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/OperationStateType.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/OperationsGetDetailsHeaders.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/PromptDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/PromptDTOQna.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/QnADTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/QnADTOContext.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/QnADocumentsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/ReplaceKbDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateContextDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateKbContentsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateKbOperationDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateKbOperationDTOAdd.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateKbOperationDTODelete.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateKbOperationDTOUpdate.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateMetadataDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateQnaDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateQnaDTOContext.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateQnaDTOMetadata.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateQnaDTOQuestions.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/UpdateQuestionsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/WordAlterationsDTO.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/models/package-info.java
  cognitiveservices/data-plane/knowledge/qnamaker/src/main/java/com/microsoft/azure/cognitiveservices/knowledge/qnamaker/package-info.java
Labels: RestPRMerged

#3408 [AutoPR appconfiguration/resource-manager] 2019-02-01-preview
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/CheckNameAvailabilityParameters.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/ConfigurationStoreUpdateParameters.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/Error.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/ErrorException.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/OperationDefinitionDisplay.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/ProvisioningState.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/RegenerateKeyParameters.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/ApiKeyInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/AppConfigurationManagementClientImpl.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/ConfigurationStoreInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/ConfigurationStoresInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/NameAvailabilityStatusInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/OperationDefinitionInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/OperationsInner.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/PageImpl.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/implementation/package-info.java
  azure-mgmt-appconfiguration/src/main/java/com/microsoft/azure/management/appconfiguration/package-info.java
Labels: RestPRMerged

#3462 [AutoPR sql/resource-manager] Sqldb serverless
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/Database.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/DatabaseUpdate.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/DatabaseImpl.java
  sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/implementation/DatabaseInner.java
Labels: RestPRMerged

#3464 Re-enable remaining azure-eventhub tests
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageReceiver.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageSender.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ClientEntityCreateTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/MsgFactoryOpenCloseTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/RetryPolicyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SecurityExceptionsTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestBase.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/mock/MockServer.java
Labels: Client, Event Hub

#3467 [AutoPR hanaonazure/resource-manager] Updating the schema to adhere to the new design changes
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/MonitoringDetails.java
Labels: RestPRMerged

#3422 [AutoPR cognitiveservices/data-plane/Face] [Cogs Face] Align with latest Face API v1.12
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/FaceLists.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/Faces.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/LargeFaceLists.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/LargePersonGroupPersons.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/LargePersonGroups.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/PersonGroupPersons.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/PersonGroups.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/FaceListsImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/FacesImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/LargeFaceListsImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/LargePersonGroupPersonsImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/LargePersonGroupsImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/PersonGroupPersonsImpl.java
  cognitiveservices/data-plane/vision/faceapi/src/main/java/com/microsoft/azure/cognitiveservices/vision/faceapi/implementation/PersonGroupsImpl.java
Labels: RestPRMerged

#3339 [AutoPR datafactory/resource-manager] [Datafactory] Adding getFeatureValue API in factory scope
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/ExposureControls.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/implementation/ExposureControlsImpl.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/implementation/ExposureControlsInner.java
Labels: RestPRMerged

#3470 [AutoPR sql/resource-manager] Fix missing proxy override enum for managed instance swagger
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstance.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/ManagedInstanceUpdate.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceImpl.java
  sql/resource-manager/v2015_05_01_preview/src/main/java/com/microsoft/azure/management/sql/v2015_05_01_preview/implementation/ManagedInstanceInner.java
Labels: RestPRMerged

#3469 Close EventhubClient and PartitionReceivers at the end of test.
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/concurrency/ConcurrentReceiversTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/EventDataBatchTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/eventdata/InteropEventBodyTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/ReceiverEpochTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/SendLargeMessageTest.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/WebSocketsSendLargeMessageTest.java
Labels: Client, Event Hub

#3460 Part 1: Resolve Key Vault Checkstyle failures.
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcHmacShaTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesCbcTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesKwTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/ECKeyTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/CachingKeyResolverTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverBCProviderTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverDefaultProviderTest.java
Labels: Client, KeyVault

#3471 Azconfig retrypolicy
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/listSettingsWithPagination.json
  common/azure-common/src/main/java/com/azure/common/http/policy/RetryPolicy.java
Labels: AzConfig, Azure.Core, Client

#3477 Part 2: Checkstyle fixes for KeyVault tests
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/AesKwTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/ECKeyTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/RsaKeyTest.java
  keyvault/data-plane/azure-keyvault-cryptography/src/test/java/com/microsoft/azure/keyvault/cryptography/test/SymmetricKeyTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/CachingKeyResolverTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultClientIntegrationTestBase.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverBCProviderTest.java
  keyvault/data-plane/azure-keyvault-extensions/src/test/java/com/microsoft/azure/keyvault/extensions/test/KeyVaultKeyResolverDefaultProviderTest.java
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/keyKeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/keyKeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret128Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret128Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret192Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret192Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret256Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/target/test-classes/session-records/secret256Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/pom.xml
Labels: Client, KeyVault

#3347 Implement the basic exception hierarchy.
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationService.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/CloudException.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/OperationStatus.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/PagedList.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/PollStrategy.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/AzureProxyToRestProxyTests.java
  common/azure-common-mgmt/src/test/java/com/azure/common/mgmt/MyAzureException.java
  common/azure-common/src/main/java/com/azure/common/annotations/UnexpectedResponseExceptionType.java
  common/azure-common/src/main/java/com/azure/common/exception/AzureException.java
  common/azure-common/src/main/java/com/azure/common/exception/ClientAuthenticationException.java
  common/azure-common/src/main/java/com/azure/common/exception/ConnectException.java
  common/azure-common/src/main/java/com/azure/common/exception/DecodeException.java
  common/azure-common/src/main/java/com/azure/common/exception/HttpRequestException.java
  common/azure-common/src/main/java/com/azure/common/exception/ReadTimeoutException.java
  common/azure-common/src/main/java/com/azure/common/exception/ResourceExistsException.java
  common/azure-common/src/main/java/com/azure/common/exception/ResourceModifiedException.java
  common/azure-common/src/main/java/com/azure/common/exception/ResourceNotFoundException.java
  common/azure-common/src/main/java/com/azure/common/exception/ServerException.java
  common/azure-common/src/main/java/com/azure/common/exception/ServiceRequestException.java
  common/azure-common/src/main/java/com/azure/common/exception/ServiceResponseException.java
  common/azure-common/src/main/java/com/azure/common/exception/TooManyRedirectsException.java
  common/azure-common/src/main/java/com/azure/common/implementation/RestProxy.java
  common/azure-common/src/main/java/com/azure/common/implementation/SwaggerMethodParser.java
  common/azure-common/src/main/java/com/azure/common/implementation/UnexpectedExceptionInformation.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseBodyDecoder.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseDecodeData.java
  common/azure-common/src/main/java/com/azure/common/implementation/serializer/HttpResponseHeaderDecoder.java
  common/azure-common/src/test/java/com/azure/common/MyOtherRestException.java
  common/azure-common/src/test/java/com/azure/common/MyRestException.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyStressTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/RestProxyWithMockTests.java
  common/azure-common/src/test/java/com/azure/common/implementation/SwaggerMethodParserTests.java
Labels: Client, common

#3327 App Config README
  applicationconfig/client/README.md
Labels: AzConfig, Client

#3482 Move Key Vault session-records in the right location
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/keyKeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/keyKeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret128Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret128Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret192Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret192Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret256Base64KeyVaultKeyResolverBCProviderTest.json
  keyvault/data-plane/azure-keyvault-extensions/src/test/resources/session-records/secret256Base64KeyVaultKeyResolverDefaultProviderTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/backupRestoreForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/certificateAsyncForAsyncOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/certificateAsyncRequestCancellationForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/certificateContactsAsyncForAsyncOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/certificateUpdateForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/contactsCrudOperationsForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/createCertificatePemForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/createCertificatePkcs12ForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/createCsrForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/createSelfSignedCertificatePemForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/createSelfSignedCertificatePkcs12ForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/crudOperationsForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/crudOperationsForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/deserializeWithExtraFieldTestForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/disabledSecretGetForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/encryptDecryptOperationsForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/importCertificatePkcs12ForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/importKeyOperationForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/issuerAsyncForAsyncOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/issuerCrudOperationsForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/keyAsyncForAsyncOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listCertificateVersionsForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listCertificatesForCertificateOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listKeyVersionsForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listKeysForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listSecretVersionsForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/listSecretsForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/secretAsyncForAsyncOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/signVerifyOperationsForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/testCrudOperationsForManagedStorageAccountKey.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/testSetAndGetSasDefinitionForManagedStorageAccountKey.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/transparentAuthenticationForKeyOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/transparentAuthenticationForSecretOperationsTest.json
  keyvault/data-plane/azure-keyvault/src/test/resources/session-records/wrapUnwrapOperationsForKeyOperationsTest.json
Labels: Client, KeyVault

#3481 Implementing range header used with revision selection
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationAsyncClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/Range.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingSelector.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationAsyncClientTest.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/listRevisionsInvalidRange.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsWithRange.json
Labels: AzConfig, Client
