Repository Azure/azure-sdk-for-java, pull requests merged in 2019-09, with the labels that each got.

#5199 No more netty deps
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ExternalDependencyExposedCheck.java
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  parent/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/AuthorizationCodeListener.java
Labels: Azure.Identity

#5211 Move install of azure-sdk-parent up.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#5203 Fix authorization publishing
  sdk/authorization/microsoft-azure-authentication-msi-token-provider/pom.xml
Labels: EngSys

#5202 Update cognitive services parent POM to track 1 parent
  sdk/cognitiveservices/ms-azure-cs-autosuggest/pom.xml
  sdk/cognitiveservices/ms-azure-cs-computervision/pom.xml
  sdk/cognitiveservices/ms-azure-cs-contentmoderator/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customimagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-prediction/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-training/pom.xml
  sdk/cognitiveservices/ms-azure-cs-entitysearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-faceapi/pom.xml
  sdk/cognitiveservices/ms-azure-cs-imagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-authoring/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-runtime/pom.xml
  sdk/cognitiveservices/ms-azure-cs-newssearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-spellcheck/pom.xml
  sdk/cognitiveservices/ms-azure-cs-textanalytics/pom.xml
  sdk/cognitiveservices/ms-azure-cs-videosearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-visualsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-websearch/pom.xml
  sdk/cognitiveservices/pom.xml
Labels: EngSys

#5204 Bumping batch source version to 7.1.0-preview.1
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: EngSys

#5212 Fix loganalytics build
  sdk/loganalytics/microsoft-azure-loganalytics/pom.xml
Labels: EngSys

#5213 Fix EventGrid build
  sdk/eventgrid/microsoft-azure-eventgrid/pom.xml
Labels: EngSys

#5219 Fix incorrect artifact name.
  sdk/authorization/ci.yml
Labels: EngSys

#5061 Amqp tracing support
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpLink.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TracerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/TracerProviderTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/tracing/ProcessKind.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/tracing/Tracer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorReceiver.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSender.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientMetadataIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/implementation/AmqpPropagationFormatUtil.java
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/implementation/AmqpTraceUtil.java
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/implementation/HttpTraceUtil.java
Labels: Client

#3631 Add support for user proxy configuration
  parent/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventHubClient.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventHubClientOptions.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/ProxyConfiguration.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ConnectionHandler.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventHubClientImpl.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessagingFactory.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/WebSocketProxyConnectionHandler.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/exceptioncontracts/MsgFactoryOpenCloseTest.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/impl/WebSocketProxyConnectionHandlerTest.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/ApiTestBase.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/lib/TestBase.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyConfigurationTest.java
  sdk/eventhubs/microsoft-azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/proxy/ProxyIntegrationTest.java
Labels: Client, Event Hubs

#5224 System properties
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/CheckpointManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/Checkpoint.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/PartitionOwnership.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/PartitionBasedLoadBalancerTest.java
Labels: Client, Event Hubs

#5216 Fix Cosmos build
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/directconnectivity/RntbdTransportClientTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/rx/TestSuiteBase.java
Labels: EngSys

#5191 Fixes core app conig check style error
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/JavadocInlineTagCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ServiceClientBuilderCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ServiceClientCheck.java
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jackson/FlatteningSerializer.java
Labels: Client, Java Source Code Rules

#5241 Fail at end for running live tests
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Client, EngSys

#5240 Use logger.logExceptionAsError in Load balancer
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
Labels: Client, Event Hubs

#5231 Turn off shallow cloning.
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#5232 Turn spotbugs back on in PR.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#5262 Setting default connectionMode to DIRECT
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/ConnectionMode.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/ConnectionPolicy.java
Labels: Cosmos

#5253 Add synchronous Event Hub Consumer
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/SynchronousEventSubscriber.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/SynchronousReceiveWork.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
Labels: Client, Event Hubs

#5273 OkHttp: Fix code sample checkstyle errors
  sdk/core/azure-core-http-okhttp/src/samples/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilderJavaDocCodeSnippets.java
Labels: Client, common

#5105 Adding sync api for scripts
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncContainer.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncContainerResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncDatabase.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncDatabaseResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncItemResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncScripts.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncStoredProcedure.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncStoredProcedureResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncTrigger.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncTriggerResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncUser.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncUserDefinedFunction.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncUserDefinedFunctionResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncUserResponse.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/sync/CosmosSyncStoredProcTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/sync/CosmosSyncTriggerTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/sync/CosmosSyncUDFTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/sync/CosmosSyncUserTest.java
Labels: Cosmos

#5285 Make DatabaseAccount public
  sdk/cosmos/microsoft-azure-cosmos-benchmark/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-examples/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/BridgeInternal.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/CosmosBridgeInternal.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/CosmosClient.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/DatabaseAccount.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/DatabaseAccountLocation.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/AsyncDocumentClient.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/BaseDatabaseAccountConfigurationProvider.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/DatabaseAccountManagerInternal.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/GlobalEndpointManager.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/HttpConstants.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/RxDocumentClientImpl.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/GatewayServiceConfigurationReader.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/routing/LocationCache.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/BridgeUtils.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/TestSuiteBase.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/directconnectivity/GatewayServiceConfigurationReaderTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/directconnectivity/GatewayServiceConfiguratorReaderMock.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/routing/LocationCacheTest.java
  sdk/cosmos/pom.xml
Labels: Cosmos

#5293 Fix checkstyle issue in Key Vault secrets
  sdk/keyvault/azure-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/PersistentTokenCacheDemo.java
Labels: KeyVault

#5256 Get media services generating the right packages.
  sdk/mediaservices/microsoft-azure-media/pom.xml
Labels: EngSys

#5294 Disable condition on checkstyle step and add skip variable.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#5297 Capture Encryption Header for Playback Tests
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/PlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
Labels: Azure.Core, Storage

#5301 Adds okhttp and netty artifacts.
  sdk/core/ci.yml
Labels: EngSys

#5290 Adding support for put range from URL
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/FileUploadRangeFromURLInfo.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAPITestsUploadRangeFromURL.json
  sdk/storage/azure-storage-file/src/test/resources/session-records/FileAsyncAPITestsUploadRangeFromURL.json
Labels: Client, Storage

#5278 Partition Manager implementation with Storage Blob
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CONTRIBUTING.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobPartitionManager.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobPartitionManagerSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/blob/EventProcessorBlobPartitionManagerSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobPartitionManagerTest.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/CheckpointManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/PartitionPumpManager.java
  sdk/eventhubs/ci.yml
  sdk/eventhubs/pom.service.xml
Labels: Client, Event Hubs

#5251 Add timeout for sync API in queue and file
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareClient.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/DirectoryJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileServiceAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/FileServiceJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/samples/java/com/azure/storage/file/ShareJavaDocCodeSamples.java
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/APISpec.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/DirectoryAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileSASTests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/FileServiceAsyncAPITests.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/ShareAPITests.groovy
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/MessageSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueExceptionSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueJavaDocCodeSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceJavaDocCodeSamples.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/spock/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/spock/QueueAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/spock/QueueServiceAPITests.groovy
Labels: Client, Storage

#5309 Fix PartitionManager Issue
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobPartitionManager.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobPartitionManagerTest.java
Labels: Event Hubs

#5291 Cpk
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BaseBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/DirectorysImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/AppendBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobCreateSnapshotHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/CpkInfo.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/CustomerProvidedKey.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/PageBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ServiceSubmitBatchHeaders.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestappendblockfromurlwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestappendblockwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestgetblobpropertiesandmetadatawithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestgetblobwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputblobwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputblockfromurlwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputblocklistwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputblockwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputmultiplepageswithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputpagefromurlwihcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestputpagewithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestsetblobmetadatawithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestsetblobtierwithcpk.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestsnapshotblobwithcpk.json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Constants.java
Labels: Client, Storage

#5310 Reduce memory footprint of integration tests
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncProducerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientMetadataIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
Labels: Client, Event Hubs

#5270 Adding code snippets for sync and async container client
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ContainerAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ContainerClientJavaDocCodeSnippets.java
Labels: Storage

#5279 Adding code snippets for blob client and container builders
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobClientBuilderJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ContainerClientBuilderJavaDocCodeSnippets.java
Labels: Storage

#5281 adding code snippets for BlobService Sync and Async clients
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceClientJavaDocCodeSnippets.java
Labels: Storage

#5303 Event Hubs preview 3 documentation changes.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubConsumerJavaDocCodeSamples.java
Labels: Client, Event Hubs

#5249 adding code snippets for BlockBlob Async and sync clients
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlockBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlockBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-file/src/test/java/com/azure/storage/file/spock/DirectoryAPITests.groovy
Labels: Storage

#5319 Fix Storage Tests for Release
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/spock/APISpec.groovy
Labels: Client, Storage

#5325 CHANGELOG for AppConfiguration Preview 3
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Labels: Client, Storage

#5331 Fork spotbugs plugin to prevent build growing larger over time
  pom.client.xml
Labels: EngSys

#5269 Updated change log for preview 3
  sdk/storage/azure-storage-file/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Client, Storage

#5302 Changelog for Storage Blobs Preview 3
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Client, Storage

#5347 Bump versions for Preview 4 release
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/AzureConfiguration.java
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-keyvault-certificates/pom.xml
  sdk/keyvault/azure-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/AzureKeyVaultConfiguration.java
  sdk/keyvault/azure-keyvault-keys/pom.xml
  sdk/keyvault/azure-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/AzureKeyVaultConfiguration.java
  sdk/keyvault/azure-keyvault-secrets/pom.xml
  sdk/keyvault/azure-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/AzureKeyVaultConfiguration.java
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobConfiguration.java
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file/pom.xml
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileConfiguration.java
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueConfiguration.java
  sdk/template/azure-sdk-template/pom.xml
  sdk/template/pom.service.xml
  sdk/tracing/tracing-opentelemetry/pom.xml
Labels: Client

#5352 Update EventProcessor sample.
  sdk/eventhubs/azure-messaging-eventhubs/README.md
Labels: Client, Event Hubs

#5370 Adding docs for dev env, build and tests for contributing
  CONTRIBUTING.md
Labels: Docs, EngSys

#5383 Clean-up integration tests
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientMetadataIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestEventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
Labels: Client, Event Hubs

#5400 Enable check enforcer on the Java repo
  CHECKENFORCER
Labels: EngSys

#5263 Bump adal4j to 1.6.4
  parent/pom.xml
Labels: Azure.Identity, Client

#5317 Test for ThrowFromClientLoggerCheck.java
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheckTest.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheck/DirectThrowExceptionTestData.java
Labels: Java Source Code Rules

#5416 Split Event Hubs related connection and mapping from AMQPConnection
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubResponseMapper.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ActiveClientTokenManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpResponseMapper.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AzureTokenManagerProvider.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/CBSChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementResponseMapper.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorReceiver.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSender.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/RequestResponseChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/TokenManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/TokenManagerProvider.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/TokenResourceProvider.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/handler/ReceiveLinkHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/handler/SendLinkHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/AzureTokenManagerProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorSessionTest.java
Labels: Client, Event Hubs

#5388 [#4525] Removing todo labels for already solved issue
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
Labels: Storage

#5429 Fix signing by removing artifact from publish list.
  sdk/storage/ci.yml
Labels: EngSys

#5452 Remove Event Hubs logic from ReactorSession. Fix NullPointerException
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/handler/CustomIOHandler.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/handler/SessionHandler.java
Labels: Client, Event Hubs

#5459 Fixed repository type.
  sdk/search/ci.yml
Labels: EngSys

#5468 fix ranaming regression after merging PR with old ServiceClient class name
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/ContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/PageBlobClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/DirectoryClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/FileServiceClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareAsyncClient.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/ShareClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Labels: Storage

#5366 Fix group Id for cognitive services.
  sdk/cognitiveservices/ms-azure-cs-autosuggest/pom.xml
  sdk/cognitiveservices/ms-azure-cs-computervision/pom.xml
  sdk/cognitiveservices/ms-azure-cs-contentmoderator/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customimagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-prediction/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-training/pom.xml
  sdk/cognitiveservices/ms-azure-cs-entitysearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-faceapi/pom.xml
  sdk/cognitiveservices/ms-azure-cs-imagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-authoring/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-runtime/pom.xml
  sdk/cognitiveservices/ms-azure-cs-newssearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-spellcheck/pom.xml
  sdk/cognitiveservices/ms-azure-cs-textanalytics/pom.xml
  sdk/cognitiveservices/ms-azure-cs-videosearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-visualsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-websearch/pom.xml
Labels: EngSys

#5474 Replace EventDataUtil and ManagementResponseMapper with MessageSerializer. Add EventHubClient.getEventHubName
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/MessageSerializer.java
  sdk/core/azure-core-amqp/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubResponseMapper.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventDataUtil.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementResponseMapper.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSender.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/RequestResponseChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubMessageSerializerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorSessionTest.java
Labels: Client, Event Hubs

#5442 Fix UnsupportedOperationException when Block download and add test
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/testfiles/uploadFromFileTestData.txt
Labels: Storage

#5508 Cosmos CFP: Continuation token related regression
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/LeaseStoreManagerImpl.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/PartitionProcessorImpl.java
Labels: Cosmos

#5549 Remove dot using ampersand
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/credentials/ConfigurationClientCredentials.java
Labels: AzConfig, Client

#5555 Revert "Fix parameter names (#5539)"
  sdk/core/azure-core/src/main/java/com/azure/core/credentials/SimpleTokenCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ExpandableStringEnum.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/AccessTier.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ArchiveStatus.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/GeoReplicationStatusType.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/PublicAccessType.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/RehydratePriority.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/StorageErrorCode.java
  sdk/storage/azure-storage-file/src/main/java/com/azure/storage/file/models/StorageErrorCode.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/GeoReplicationStatusType.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/StorageErrorCode.java
Labels: Client

#5550 File ADLS packages
  eng/.docsettings.yml
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/DataLakeStorageClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/DataLakeStorageClientImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FilesystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/package-info.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeStorageError.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeStorageErrorError.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeStorageErrorException.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/Filesystem.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemCreateHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemDeleteHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemList.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemListHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemSetPropertiesHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemsCreateResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemsDeleteResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemsGetPropertiesResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemsListResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FilesystemsSetPropertiesResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/Path.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathCreateHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathDeleteHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathGetPropertiesAction.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathLeaseAction.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathLeaseHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathList.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathListHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathReadHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathRenameMode.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathResourceType.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathUpdateAction.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathUpdateHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsCreateResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsDeleteResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsGetPropertiesResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsLeaseResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsListResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsReadResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathsUpdateResponse.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/package-info.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/package-info.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/ci.yml
  sdk/storage/pom.service.xml
Labels: Client, Data Lake Storage Gen2, Storage

#5288 OpenCensus Tracing Plugin Package Cleanup
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  pom.client.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TracerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/TracerProviderTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/Tracer.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorTest.java
  sdk/tracing/README.md
  sdk/tracing/azure-core-tracing-opencensus/CHANGELOG.md
  sdk/tracing/azure-core-tracing-opencensus/README.md
  sdk/tracing/azure-core-tracing-opencensus/pom.xml
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/OpenCensusHttpPolicy.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/OpenCensusTracer.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/implementation/AmqpPropagationFormatUtil.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/implementation/AmqpTraceUtil.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/implementation/HttpTraceUtil.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/com/azure/core/tracing/opencensus/package-info.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/java/module-info.java
  sdk/tracing/azure-core-tracing-opencensus/src/main/resources/META-INF/services/com.azure.core.implementation.http.policy.spi.AfterRetryPolicyProvider
  sdk/tracing/azure-core-tracing-opencensus/src/main/resources/META-INF/services/com.azure.core.util.tracing.Tracer
  sdk/tracing/azure-core-tracing-opencensus/src/samples/java/com/azure/core/tracing/opencensus/HelloWorld.java
  sdk/tracing/azure-core-tracing-opencensus/src/samples/java/com/azure/core/tracing/opencensus/HelloWorldAsync.java
  sdk/tracing/azure-core-tracing-opencensus/src/samples/java/com/azure/core/tracing/opencensus/ListOperations.java
  sdk/tracing/azure-core-tracing-opencensus/src/samples/java/com/azure/core/tracing/opencensus/ListOperationsAsync.java
  sdk/tracing/azure-core-tracing-opencensus/src/samples/java/com/azure/core/tracing/opencensus/PublishEvents.java
  sdk/tracing/pom.service.xml
  sdk/tracing/tracing-opentelemetry/README.md
  sdk/tracing/tracing-opentelemetry/pom.xml
  sdk/tracing/tracing-opentelemetry/src/main/java/com/azure/tracing/opentelemetry/package-info.java
  sdk/tracing/tracing-opentelemetry/src/main/java/module-info.java
  sdk/tracing/tracing-opentelemetry/src/main/resources/META-INF/services/com.azure.core.http.policy.AfterRetryPolicyProvider
  sdk/tracing/tracing-opentelemetry/src/main/resources/META-INF/services/com.azure.core.util.tracing.Tracer
Labels: Azure.Core, Monitor

#5581 change version from 3.1.1 to 3.1.0. There is no 3.1.0 exist.
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Service Bus

#5565 Cosmos: update build number versions
  sdk/cosmos/microsoft-azure-cosmos-benchmark/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-examples/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/HttpConstants.java
  sdk/cosmos/pom.xml
Labels: Cosmos

#5579 Fixed small bug in test coverage pom.xml
  eng/jacoco-test-coverage/pom.xml
Labels: Client, Data Lake Storage Gen2, Storage
