Repository Azure/azure-sdk-for-java, pull requests merged in 2019-03, with the labels that each got.

#2980 [AutoPR monitor/resource-manager] new application insignts api version for unified schema in action
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/AlertingAction.java
Labels: RestPRMerged

#2997 [AutoPR privatedns/resource-manager] Adding Private DNS Swagger spec for API version 2018-09-01
  privatedns/resource-manager/v2018_09_01/pom.xml
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/ARecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/AaaaRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/CnameRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/MxRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PrivateZone.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PrivateZones.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/ProvisioningState.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PtrRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordSet.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordSets.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordType.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/SoaRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/SrvRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/TxtRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLink.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLinkState.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLinks.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/IdParsingUtils.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/NetworkManager.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PageImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateDnsManagementClientImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZoneImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZoneInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZonesImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZonesInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetsImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetsInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinkImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinkInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinksImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinksInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/package-info.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/package-info.java
Labels: RestPRMerged

#3000 Implementing listing for AppConfig sdk correctly
  azconfig/client/src/main/java/com/azure/azconfig/AzConfigClient.java
  azconfig/client/src/test/java/com/azure/azconfig/AzConfigTest.java
  azconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  azconfig/client/src/test/java/com/microsoft/azure/core/TestMode.java
Labels: Azure.ApplicationModel.Configuration, Client

#3009 [AutoPR privatedns/resource-manager] Add private dns module name for java codegen
  privatedns/resource-manager/v2018_09_01/pom.xml
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/ARecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/AaaaRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/CnameRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/MxRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PrivateZone.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PrivateZones.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/ProvisioningState.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/PtrRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordSet.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordSets.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/RecordType.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/SoaRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/SrvRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/TxtRecord.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLink.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLinkState.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/VirtualNetworkLinks.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/IdParsingUtils.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PageImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateDnsManagementClientImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZoneImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZoneInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZonesImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/PrivateZonesInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetsImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/RecordSetsInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinkImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinkInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinksImpl.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/VirtualNetworkLinksInner.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/package-info.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/implementation/privatednsManager.java
  privatedns/resource-manager/v2018_09_01/src/main/java/com/microsoft/azure/management/privatedns/v2018_09_01/package-info.java
Labels: RestPRMerged

#2976 SpotBug P3 fixes
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/RsaKey.java
  keyvault/data-plane/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/algorithms/AesCbcHmacSha2.java
  keyvault/data-plane/azure-keyvault-extensions/src/main/java/com/microsoft/azure/keyvault/extensions/CachingKeyResolver.java
  keyvault/data-plane/azure-keyvault/src/main/java/com/microsoft/azure/keyvault/implementation/KeyVaultClientCustomImpl.java
Labels: Client

#3027 [AutoPR web/resource-manager] Fix Hosting Environment Network Dependencies pagination
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/AppServiceEnvironments.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/AppServiceEnvironmentsImpl.java
  appservice/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/appservice/v2018_02_01/implementation/AppServiceEnvironmentsInner.java
Labels: RestPRMerged

#3032 [AutoPR containerservice/resource-manager] Add regex validation for ManagedClusterAgentPoolProfile.name
  containerservice/resource-manager/v2017_07_01/pom.xml
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerService.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceAgentPoolProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceCustomProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceDiagnosticsProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceLinuxProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceMasterProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceOrchestratorProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceServicePrincipalProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceSshConfiguration.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceSshPublicKey.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceVMDiagnostics.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/ContainerServiceWindowsProfile.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/KeyVaultSecretRef.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/OSType.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServiceInner.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_07_01/src/main/java/com/microsoft/azure/management/containerservice/v2017_07_01/implementation/ContainerServicesImpl.java
  containerservice/resource-manager/v2017_08_31/pom.xml
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceAgentPoolProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceDiagnosticsProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceLinuxProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceMasterProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceServicePrincipalProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceSshConfiguration.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceSshPublicKey.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceVMDiagnostics.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ContainerServiceWindowsProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/KeyVaultSecretRef.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedCluster.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedClusterPoolUpgradeProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/ManagedClusters.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/OrchestratorProfile.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterAccessProfileImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterAccessProfileInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClusterUpgradeProfileInner.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClustersImpl.java
  containerservice/resource-manager/v2017_08_31/src/main/java/com/microsoft/azure/management/containerservice/v2017_08_31/implementation/ManagedClustersInner.java
  containerservice/resource-manager/v2017_09_30/pom.xml
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/ContainerServices.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/OrchestratorProfile.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/OrchestratorVersionProfile.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/ContainerServiceManagementClientImpl.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/ContainerServicesInner.java
  containerservice/resource-manager/v2017_09_30/src/main/java/com/microsoft/azure/management/containerservice/v2017_09_30/implementation/OrchestratorVersionProfileListResultInner.java
Labels: RestPRMerged

#3015 Update AzConfig pom.xml to match SDK guidelines
  azconfig/client/pom.xml
  azconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#2969 Enable Checkstyle fail on error / violation for Key Vault
  keyvault/data-plane/pom.xml
Labels: Client

#3074 [AutoPR eventhub/resource-manager] EventHub: added VNet API to 2017 stable version
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/DefaultAction.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NWRuleSetIpRules.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NWRuleSetVirtualNetworkRules.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Namespaces.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NetworkRuleIPAction.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NetworkRuleSet.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Subnet.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesImpl.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesInner.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NetworkRuleSetImpl.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NetworkRuleSetInner.java
Labels: RestPRMerged

#3079 Fixes IllegalStateException, removes unneeded classes, overloads
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzConfigClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzConfigCredentialsPolicy.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/AzConfigTest.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/MockHttpResponse.java
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3082 [AutoPR eventhub/resource-manager] EventHub : corrected typo
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Namespaces.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesImpl.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesInner.java
Labels: RestPRMerged

#3086 [AutoPR eventhub/resource-manager] EventHub: Revert the NetworkRuleSet
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Namespaces.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesImpl.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesInner.java
Labels: RestPRMerged

#3070 Update ApplicationConfig tests and other fixes
  applicationconfig/client/pom.xml
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzConfigClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzConfigCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueFilter.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/AzConfigTest.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/MockHttpResponse.java
  applicationconfig/client/src/test/resources/session-records/crudKeyValue.json
  applicationconfig/client/src/test/resources/session-records/getWithEtag.json
  applicationconfig/client/src/test/resources/session-records/getWithLabel.json
  applicationconfig/client/src/test/resources/session-records/listKeys.json
  applicationconfig/client/src/test/resources/session-records/listLabels.json
  applicationconfig/client/src/test/resources/session-records/listRevisions.json
  applicationconfig/client/src/test/resources/session-records/listWithKeyAndLabel.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockKeyValue.json
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3018 [AutoPR graphrbac/data-plane] graph: improve API coverage on application & service principal
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/AddOwnerParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/AppRole.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationCreateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationUpdateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/CheckGroupMembershipParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ConsentType.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GetObjectsParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GraphError.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GraphErrorException.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GroupAddMemberParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GroupCreateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/GroupGetMemberGroupsParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/InformationalUrl.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/KeyCredentialsUpdateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/OAuth2Permission.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/OptionalClaim.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/OptionalClaims.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/PasswordCredentialsUpdateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/PasswordProfile.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/PreAuthorizedApplication.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/PreAuthorizedApplicationExtension.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/PreAuthorizedApplicationPermission.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/RequiredResourceAccess.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ResourceAccess.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ServicePrincipalBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ServicePrincipalCreateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ServicePrincipalUpdateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/SignInName.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/UserBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/UserCreateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/UserGetMemberGroupsParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/UserType.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/UserUpdateParameters.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ADGroupInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ApplicationInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ApplicationsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/CheckGroupMembershipResultInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/DeletedApplicationsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/DirectoryObjectInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/DomainInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/DomainsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/GraphRbacManagementClientImpl.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/GroupsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/KeyCredentialInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/OAuth2PermissionGrantInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/OAuth2PermissionGrantsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/OAuth2sInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ObjectsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/PageImpl.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/PageImpl1.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/PasswordCredentialInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/PermissionsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ServicePrincipalInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ServicePrincipalsInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/SignedInUsersInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/UserInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/UsersInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/package-info.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/package-info.java
Labels: RestPRMerged

#3103 [AutoPR monitor/resource-manager] fix package tag for new API version
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/ArmRoleReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/AutomationRunbookReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/AzureFunctionReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/EmailReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/LogicAppReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/WebhookReceiver.java
  azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor/implementation/ActionGroupsInner.java
Labels: RestPRMerged

#3102 [AutoPR edgegateway/resource-manager] typo: upto -> up to
  azure-mgmt-edgegateway/src/main/java/com/microsoft/azure/management/edgegateway/PeriodicTimerSourceInfo.java
Labels: RestPRMerged

#3101 [AutoPR graphrbac/data-plane] typo: graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/OptionalClaim.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ServicePrincipalBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ApplicationInner.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ServicePrincipalInner.java
Labels: RestPRMerged

#3112 Updates service to latest v3 runtime and clean-up in AzConfigClient
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigService.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/AzConfigClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/PipelineOptions.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/RestPagedResponseImpl.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/AzConfigTest.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/MockHttpResponse.java
Labels: Azure.ApplicationModel.Configuration, Client

#3121 Rename classes to fit App Configuration names
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigService.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/RequestRetryPolicyFactory.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/ConfigurationSetting.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/Key.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueCreateUpdateParameters.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/Label.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/package-info.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
Labels: Azure.ApplicationModel.Configuration, Client

#2984 [AutoPR cognitiveservices/data-plane/AnomalyDetector] [AnomalyDetector] add cognitive service AnomalyDetector [DO NOT MERGE]
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/AnomalyDetectorClient.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/implementation/AnomalyDetectorClientImpl.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/implementation/package-info.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/APIError.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/APIErrorException.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/EntireDetectResponse.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/Granularity.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/LastDetectResponse.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/Point.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/Request.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/models/package-info.java
  cognitiveservices/data-plane/anomalydetector/src/main/java/com/microsoft/azure/cognitiveservices/anomalydetector/package-info.java
Labels: RestPRMerged

#3129 Upgrade to Checkstyle 8.18
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  pom.client.xml
Labels: Client

#3114 [AutoPR iothub/resource-manager] making the health status description shorter
  iothub/resource-manager/v2018_04_01/src/main/java/com/microsoft/azure/management/iothub/v2018_04_01/implementation/EndpointHealthDataInner.java
Labels: RestPRMerged

#3110 [AutoPR search/resource-manager] [Azure Search] Add L-Series SKU values to management plane
  searchmanagementclient/resource-manager/v2015_08_19/src/main/java/com/microsoft/azure/management/searchmanagementclient/v2015_08_19/Sku.java
  searchmanagementclient/resource-manager/v2015_08_19/src/main/java/com/microsoft/azure/management/searchmanagementclient/v2015_08_19/SkuName.java
Labels: RestPRMerged

#3128 Removing extraneous methods from and adding missing functionality to ConfigurationClient
  applicationconfig/client/pom.xml
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigService.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/RequestIdPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/Page.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/PageImpl.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/implementation/RestPagedResponseImpl.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/ConfigurationSetting.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/InterceptorManager.java
  applicationconfig/client/src/test/java/com/microsoft/azure/core/MockHttpResponse.java
  applicationconfig/client/src/test/resources/session-records/listKeys.json
  applicationconfig/client/src/test/resources/session-records/listKeysWithPage.json
  applicationconfig/client/src/test/resources/session-records/listLabels.json
  pom.client.xml
Labels: Azure.ApplicationModel.Configuration, Client

#3153 Fixes Checkstyle build errors
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Labels: Client

#3152 [AutoPR graphrbac/data-plane] graph: identifierUris should not be required
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationCreateParameters.java
Labels: RestPRMerged

#3087 [AutoPR eventhub/resource-manager] EventHub: Added NetwrokruleSet API
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NWRuleSetIpRules.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/NWRuleSetVirtualNetworkRules.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Namespaces.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/Subnet.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesImpl.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NamespacesInner.java
  eventhub/resource-manager/v2017_04_01/src/main/java/com/microsoft/azure/management/eventhub/v2017_04_01/implementation/NetworkRuleSetInner.java
Labels: RestPRMerged

#3105 EventHubs integration part 2 - spotbugs
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureStorageCheckpointLeaseManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventProcessorHost.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ICheckpointManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/IEventProcessor.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/IEventProcessorFactory.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ILeaseManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/InMemoryCheckpointManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/InMemoryLeaseManager.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionScanner.java
  eventhubs/data-plane/azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PumpManager.java
  eventhubs/data-plane/azure-eventhubs-extensions/src/main/java/com/microsoft/azure/eventhubs/extensions/appender/EventHubsAppender.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/BatchOptions.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/ConnectionStringBuilder.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventDataBatch.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventHubClient.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/PartitionReceiveHandler.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/PartitionReceiver.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ActiveClientTokenManager.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/AmqpResponseCode.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/AmqpSender.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/CBSChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventDataBatchImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/EventHubClientImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/IOObject.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ManagementChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageReceiver.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessageSender.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/MessagingFactory.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/PartitionReceiverImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/PartitionSenderImpl.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReactorDispatcher.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReceivePump.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ReceiverSettingsProvider.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/RequestResponseChannel.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SendLinkHandler.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SessionProvider.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/SharedAccessSignatureTokenProvider.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/Timer.java
  eventhubs/data-plane/azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/WebSocketProxyConnectionHandler.java
  eventhubs/data-plane/azure-eventhubs/src/test/java/com/microsoft/azure/eventhubs/jproxy/ProxyNegotiationHandler.java
Labels: Client

#3109 [AutoPR datafactory/resource-manager] Update the public swagger by reference to private swagger
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/AzureDataLakeStoreDataset.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/CustomDataset.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/OracleTableDataset.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/implementation/DatasetInner.java
Labels: RestPRMerged

#3094 [AutoPR healthcareapis/resource-manager] Adding swagger spec for healthcareapis resource manager and examples.
  healthcareapis/resource-manager/v2018_08_20_preview/pom.xml
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/CheckNameAvailabilityParameters.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ErrorDetailsInternal.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/MoveResourcesParameters.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/MoveResourcesStatus.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/Operation.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/OperationDisplay.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/OperationResultStatus.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/OperationResults.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/Operations.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ProvisioningState.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServiceAccessPolicyEntry.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServiceCosmosDbConfigurationInfo.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServiceNameUnavailabilityReason.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/Services.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServicesDescription.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServicesNameAvailabilityInfo.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServicesPatchDescription.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/ServicesProperties.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ErrorDetailsInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ErrorDetailsInnerException.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/HealthcareApisManagementClientImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/HealthcareApisManager.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/IdParsingUtils.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/MoveResourcesStatusImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/MoveResourcesStatusInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationResultsDescriptionInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationResultsImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationResultsInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationsImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/OperationsInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/PageImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesDescriptionImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesDescriptionInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesNameAvailabilityInfoImpl.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/ServicesNameAvailabilityInfoInner.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/implementation/package-info.java
  healthcareapis/resource-manager/v2018_08_20_preview/src/main/java/com/microsoft/azure/management/healthcareapis/v2018_08_20_preview/package-info.java
Labels: RestPRMerged

#3069 [AutoPR peering/resource-manager] Adding Specifications for Peering
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/BgpSession.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ConnectionState.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ContactInfo.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/DirectConnection.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/DirectPeeringFacility.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ErrorResponse.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ErrorResponseException.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ExchangeConnection.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ExchangePeeringFacility.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/Family.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/Kind.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/Name.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/OperationDisplayInfo.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeerAsnProperties.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringBandwidthOffer.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringLocationPropertiesDirect.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringLocationPropertiesExchange.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringPropertiesDirect.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringPropertiesExchange.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/PeeringSku.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ProvisioningState.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ResourceTags.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/SessionStateV4.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/SessionStateV6.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/Size.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/Tier.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/ValidationState.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/LegacyPeeringsInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/OperationInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/OperationsInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PageImpl.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeerAsnInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeerAsnsInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeerInfoInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeeringInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeeringLocationInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeeringLocationsInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeeringManagementClientImpl.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/PeeringsInner.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/implementation/package-info.java
  azure-mgmt-peering/src/main/java/com/microsoft/azure/management/peering/package-info.java
Labels: RestPRMerged

#3186 [AutoPR adhybridhealthservice/resource-manager] New operations for adhealth
  azure-mgmt-adhybridhealthservice/src/main/java/com/microsoft/azure/management/adhybridhealthservice/ConnectorMetadataDetails.java
  azure-mgmt-adhybridhealthservice/src/main/java/com/microsoft/azure/management/adhybridhealthservice/implementation/ConnectorMetadataInner.java
  azure-mgmt-adhybridhealthservice/src/main/java/com/microsoft/azure/management/adhybridhealthservice/implementation/ServiceMembersInner.java
Labels: RestPRMerged

#3185 [AutoPR graphrbac/data-plane] typo: informations -> information about
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/ApplicationBase.java
  azure-graphrbac/src/main/java/com/microsoft/azure/graphrbac/implementation/ApplicationInner.java
Labels: RestPRMerged

#3199 JavaDoc: remove EPH from Other Packages
  pom.client.xml
Labels: Client

#3200 Update AsyncServiceClientCredentials to take HttpRequest
  .editorconfig
  common/azure-common/src/main/java/com/azure/common/credentials/AsyncServiceClientCredentials.java
  common/azure-common/src/main/java/com/azure/common/http/policy/AsyncCredentialsPolicy.java
Labels: Client, common

#2983 [AutoPR imagebuilder/resource-manager] [Hub Generated] Review request for Microsoft.VirtualMachineImages to add version 2019-02-01-preview
  imagebuilder/resource-manager/v2019_02_01_preview/pom.xml
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ApiError.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ApiErrorBase.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ApiErrorException.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplate.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateDistributor.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateIsoSource.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateLastRunStatus.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateManagedImageDistributor.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateManagedImageSource.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplatePlatformImageSource.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplatePowerShellCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateRestartCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateSharedImageDistributor.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateShellCustomizer.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateSource.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateUpdateParameters.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ImageTemplateVhdDistributor.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/InnerError.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/Operation.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/OperationDisplay.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/Operations.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/ProvisioningError.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/RunOutput.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/VirtualMachineImageTemplates.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/IdParsingUtils.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/ImageBuilderClientImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/ImageTemplateImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/ImageTemplateInner.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/OperationImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/OperationInner.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/OperationsImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/OperationsInner.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/PageImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/RunOutputImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/RunOutputInner.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/VirtualMachineImageTemplatesImpl.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/VirtualMachineImageTemplatesInner.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/VirtualMachineImagesManager.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/implementation/package-info.java
  imagebuilder/resource-manager/v2019_02_01_preview/src/main/java/com/microsoft/azure/management/imagebuilder/v2019_02_01_preview/package-info.java
Labels: RestPRMerged

#3222 [AutoPR cognitiveservices/data-plane/TranslatorText] typo: cognitiveservices/data-plane/TranslatorText
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/Translators.java
  cognitiveservices/data-plane/translatortext/src/main/java/com/microsoft/azure/cognitiveservices/translatortext/implementation/TranslatorsImpl.java
Labels: RestPRMerged

#3173 Update Azure Configuration Service to use Builder.
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClientCredentials.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
Labels: Azure.ApplicationModel.Configuration, Client

#3220 Fix azure-common-auth Credential classes to take HttpRequest
  common/azure-common-auth/src/main/java/com/azure/common/auth/credentials/AzureTokenCredentials.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/policy/AsyncCredentialsPolicy.java
Labels: Client, common

#3230 Pulling fixes from master into azconfig
  common/azure-common-auth/src/main/java/com/azure/common/auth/credentials/AzureTokenCredentials.java
  common/azure-common-mgmt/src/main/java/com/azure/common/mgmt/policy/AsyncCredentialsPolicy.java
Labels: Client

#3216 Adding support for field selection and revision range
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ApplicationConfigService.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationClient.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/ConfigurationCredentialsPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/RequestIdPolicy.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/ETagFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/Key.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyFilters.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyLabelFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueCreateUpdateParameters.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueFields.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueGenericFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/KeyValueListFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/Label.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/LabelFilters.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RequestOptions.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionFilter.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionOptions.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/RevisionRange.java
  applicationconfig/client/src/main/java/com/azure/applicationconfig/models/SettingFields.java
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/addAndDeleteSetting.json
  applicationconfig/client/src/test/resources/session-records/listRevisions.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsRange.json
  applicationconfig/client/src/test/resources/session-records/listSettingsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listSettingsSelectFields.json
  applicationconfig/client/src/test/resources/session-records/listSettingsWithPagination.json
Labels: Azure.ApplicationModel.Configuration, Client

#3233 Delay creation of Flux that emits buffer based on fixed sized string and byte[].
  common/azure-common/src/main/java/com/azure/common/http/HttpRequest.java
Labels: common

#3204 [AutoPR datafactory/resource-manager] Webhook activity
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/ControlActivity.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/WebHookActivity.java
  datafactoryv2/resource-manager/v2018_06_01/src/main/java/com/microsoft/azure/management/datafactoryv2/v2018_06_01/WebHookActivityMethod.java
Labels: RestPRMerged

#3218 [AutoPR billing/resource-manager] fix: billing/resource-manager/Microsoft.Billing
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/ProductDetails.java
  billing/resource-manager/v2018_11_01_preview/src/main/java/com/microsoft/azure/management/billing/v2018_11_01_preview/implementation/TransferDetailsInner.java
Labels: RestPRMerged

#3235 [AutoPR adhybridhealthservice/resource-manager] typo: adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService
  azure-mgmt-adhybridhealthservice/src/main/java/com/microsoft/azure/management/adhybridhealthservice/implementation/RiskyIPBlobUriInner.java
Labels: RestPRMerged

#3202 [AutoPR hanaonazure/resource-manager] [Hub Generated] Review request for Microsoft.HanaOnAzure to add version 2017-11-03-preview
  hanaonazure/resource-manager/v2017_11_03_preview/pom.xml
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Disk.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Display.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/ErrorResponse.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/ErrorResponseException.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaDatabaseContainersEnum.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaHardwareTypeNamesEnum.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaInstance.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaInstancePowerStateEnum.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaInstanceSizeNamesEnum.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HanaInstances.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/HardwareProfile.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/IpAddress.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/MonitoringDetails.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Monitorings.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Monitors.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/NetworkProfile.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/OSProfile.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Operation.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Operations.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/StorageProfile.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/Tags.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstanceImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstanceInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstancesImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaInstancesInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaManagementClientImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/HanaOnAzureManager.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/IdParsingUtils.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitoringsImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitoringsInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitorsImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/MonitorsInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/OperationImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/OperationInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/OperationsImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/OperationsInner.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/PageImpl.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/PageImpl1.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/implementation/package-info.java
  hanaonazure/resource-manager/v2017_11_03_preview/src/main/java/com/microsoft/azure/management/hanaonazure/v2017_11_03_preview/package-info.java
Labels: RestPRMerged

#3247 [AutoPR netapp/resource-manager] Updating NetApp readme to include Java
  netapp/resource-manager/v2017_08_15/pom.xml
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Accounts.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/ActiveDirectory.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/CapacityPool.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/CapacityPoolPatch.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Dimension.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Error.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/ErrorException.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/ExportPolicyRule.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/MetricSpecification.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/MountTarget.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/MountTargets.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/NetAppAccount.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/NetAppAccountPatch.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Operation.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/OperationDisplay.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Operations.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Pools.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/ServiceLevel.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/ServiceSpecification.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Snapshot.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/SnapshotPatch.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Snapshots.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Volume.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/VolumePatch.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/VolumePatchPropertiesExportPolicy.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/VolumePropertiesExportPolicy.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/Volumes.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/AccountsImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/AccountsInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/AzureNetAppFilesManagementClientImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/CapacityPoolImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/CapacityPoolInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/IdParsingUtils.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/MountTargetImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/MountTargetInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/MountTargetsImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/MountTargetsInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/NetAppAccountImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/NetAppAccountInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/NetAppManager.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/OperationImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/OperationInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/OperationsImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/OperationsInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/PageImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/PoolsImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/PoolsInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/SnapshotImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/SnapshotInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/SnapshotsImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/SnapshotsInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/VolumeImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/VolumeInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/VolumesImpl.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/VolumesInner.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/implementation/package-info.java
  netapp/resource-manager/v2017_08_15/src/main/java/com/microsoft/azure/management/netapp/v2017_08_15/package-info.java
Labels: RestPRMerged

#3244 Unit Test Converage for AzConfig
  applicationconfig/client/src/test/java/com/azure/applicationconfig/ConfigurationClientTest.java
  applicationconfig/client/src/test/resources/session-records/addAndDeleteSetting.json
  applicationconfig/client/src/test/resources/session-records/addExistingSetting.json
  applicationconfig/client/src/test/resources/session-records/addSetting.json
  applicationconfig/client/src/test/resources/session-records/deleteSetting.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/deleteSettingWithETag.json
  applicationconfig/client/src/test/resources/session-records/getNotFound.json
  applicationconfig/client/src/test/resources/session-records/getSetting.json
  applicationconfig/client/src/test/resources/session-records/getSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/getSettingRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/getWithLabel.json
  applicationconfig/client/src/test/resources/session-records/listRevisions.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listRevisionsRange.json
  applicationconfig/client/src/test/resources/session-records/listSettingsAcceptDateTime.json
  applicationconfig/client/src/test/resources/session-records/listSettingsSelectFields.json
  applicationconfig/client/src/test/resources/session-records/listSettingsWithPagination.json
  applicationconfig/client/src/test/resources/session-records/listWithKeyAndLabel.json
  applicationconfig/client/src/test/resources/session-records/lockAndUnlockRequiresKey.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSetting.json
  applicationconfig/client/src/test/resources/session-records/lockUnlockSettingNotFound.json
  applicationconfig/client/src/test/resources/session-records/setSetting.json
  applicationconfig/client/src/test/resources/session-records/setSettingIfEtag.json
  applicationconfig/client/src/test/resources/session-records/updateNoExistingSetting.json
  applicationconfig/client/src/test/resources/session-records/updateSetting.json
  applicationconfig/client/src/test/resources/session-records/updateSettingIfEtag.json
Labels: Azure.ApplicationModel.Configuration, Client

#3250 [AutoPR applicationinsights/resource-manager] [App Insights control plane] fix: validate subId, apiVersion, rgName
  applicationinsights/resource-manager/v2015_05_01/pom.xml
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/APIKeyRequest.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/APIKeys.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/AnalyticsItems.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/Annotations.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponent.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponentDataVolumeCap.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponentFavorite.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponentFeature.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponentFeatureCapability.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ApplicationInsightsComponentProactiveDetectionConfigurationRuleDefinitions.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ComponentAvailableFeatures.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ComponentCurrentBillingFeatures.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ComponentFeatureCapabilities.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ComponentPurgeBodyFilters.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ComponentQuotaStatus.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/Components.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ErrorResponse.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ExportConfigurations.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/Favorites.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/ProactiveDetectionConfigurations.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/WebTest.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/WebTestLocations.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/WebTests.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/WorkItemConfigurations.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/WorkItemCreateConfiguration.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/Workbook.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/Workbooks.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/APIKeysInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/AnalyticsItemsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/AnnotationsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentAPIKeyImpl.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentAPIKeyInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentAvailableFeaturesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentBillingFeaturesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentExportConfigurationInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentFavoriteImpl.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsComponentFeatureCapabilitiesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ApplicationInsightsManagementClientImpl.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ComponentAvailableFeaturesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ComponentCurrentBillingFeaturesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ComponentFeatureCapabilitiesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ComponentQuotaStatusInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ComponentsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ExportConfigurationsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/FavoritesInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/ProactiveDetectionConfigurationsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/WebTestLocationsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/WebTestsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/WorkItemConfigurationsInner.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/WorkbookImpl.java
  applicationinsights/resource-manager/v2015_05_01/src/main/java/com/microsoft/azure/management/applicationinsights/v2015_05_01/implementation/WorkbooksInner.java
Labels: RestPRMerged

#3225 [AutoPR storage/resource-manager] [DO NOT REVIEW/MERGE] Swagger for Lease Container API from Oct17 to latest
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/BlobContainers.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/LeaseContainerRequest.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/LeaseContainerResponse.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/implementation/BlobContainersImpl.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/implementation/BlobContainersInner.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/implementation/LeaseContainerResponseImpl.java
  storage/resource-manager/v2018_02_01/src/main/java/com/microsoft/azure/management/storage/v2018_02_01/implementation/LeaseContainerResponseInner.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/BlobContainers.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/LeaseContainerRequest.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/LeaseContainerResponse.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/implementation/BlobContainersImpl.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/implementation/BlobContainersInner.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/implementation/LeaseContainerResponseImpl.java
  storage/resource-manager/v2018_03_01_preview/src/main/java/com/microsoft/azure/management/storage/v2018_03_01_preview/implementation/LeaseContainerResponseInner.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/BlobContainers.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/LeaseContainerRequest.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/LeaseContainerResponse.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/implementation/BlobContainersImpl.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/implementation/BlobContainersInner.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/implementation/LeaseContainerResponseImpl.java
  storage/resource-manager/v2018_07_01/src/main/java/com/microsoft/azure/management/storage/v2018_07_01/implementation/LeaseContainerResponseInner.java
Labels: RestPRMerged

#3249 Clean up pom files and fix failure tests.
  common/.travis.yml
  common/ChangeLog.txt
  common/LICENSE
  common/azure-android-client-authentication/build.gradle
  common/azure-android-client-authentication/gradle.properties
  common/azure-android-client-authentication/gradle/wrapper/gradle-wrapper.jar
  common/azure-android-client-authentication/gradle/wrapper/gradle-wrapper.properties
  common/azure-android-client-authentication/gradlew
  common/azure-android-client-authentication/gradlew.bat
  common/azure-android-client-authentication/proguard-rules.pro
  common/azure-android-client-authentication/src/main/AndroidManifest.xml
  common/azure-android-client-authentication/src/main/java/com/microsoft/azure/credentials/AzureEnvironment.java
  common/azure-android-client-authentication/src/main/java/com/microsoft/azure/credentials/UserTokenCredentials.java
  common/azure-android-client-authentication/src/main/java/com/microsoft/azure/credentials/package-info.java
  common/azure-android-client-authentication/src/main/res/values/strings.xml
  common/azure-common-auth/pom.xml
  common/azure-common-mgmt/pom.xml
  common/azure-common/pom.xml
  common/azure-common/src/test/java/com/azure/common/implementation/util/FluxUtilTests.java
  common/build-tools/pom.xml
  common/build-tools/src/main/resources/checkstyle.xml
  common/build-tools/src/main/resources/suppressions.xml
  common/pom.xml
  common/versionConfig.csv
  pom.client.xml
Labels: Client, common
