Repository Azure/azure-sdk-for-java, pull requests merged in 2020-04, with the labels that each got.

#9660 Jetty usage rework
  eng/pipelines/templates/jobs/archetype-sdk-data.yml
  parent/pom.xml
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/TaskTests.java
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault/pom.xml
  sdk/keyvault/microsoft-azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/KeyOperationsTest.java
  sdk/keyvault/microsoft-azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/SecretOperationsTest.java
  sdk/keyvault/pom.xml
Labels: Do not merge, EngSys

#9665 support legacy PagedList for convenience of migration
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/fluentcore/utils/PagedList.java
  sdk/resources/mgmt/src/test/java/com/azure/management/resources/fluentcore/utils/PagedListTests.java
Labels: Mgmt - Track 2

#9725 move AddDatePolicy and credential policy to after addBeforeRetryPolicies
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
Labels: Client, TextAnalytics

#9031 Leveraged common datalake buffered upload classes in blob
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/UploadBufferPool.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
Labels: Client, Storage

#9747 Update ci yaml for style check
  sdk/management/azure/src/config/checkstyle/checkstyle.xml
  sdk/management/azure/src/config/checkstyle/suppressions.xml
  sdk/management/pipelines/fluentJavaMgmt.yml
  sdk/management/pom.xml
Labels: Mgmt

#7733 Add az namespace span attribute for Storage
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyServiceClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
Labels: Client, Storage

#9805 Fix template build.
  pom.xml
  sdk/template/pom.xml
Labels: EngSys

#9855 Smoke Tests: Configure authority host from AZURE_CLOUD, use dynamic resources
  common/smoke-tests/src/main/java/com/azure/KeyVaultSecrets.java
  common/smoke-tests/test-resources.json
  eng/pipelines/smoke-test.yml
Labels: EngSys

#9869 Release 1.1.1 version preparation
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
Labels: AzConfig, Client

#9860 Fixes issues in auto-* operations
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ReceiveMessageOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ReceiverOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageLockContainer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementNode.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/ReceiveAsyncOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAndSettleAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageSyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxyReceiveTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusClientBuilderTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessorTest.java
Labels: Client, Service Bus

#9867 Throws exception when the given list is an empty list support and Beta 4 release preparation
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeSentimentAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/DetectLanguageAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/ExtractKeyPhraseAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeLinkedEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/DocumentInputTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderUnitTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/detectLanguagesNullInput.json
Labels: Client, TextAnalytics

#9891 Changing Title for readme examples
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Client, Docs, Service Bus

#9864 Cosmos CFP: port V4 fix for handling partition splits
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/Lease.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/ServiceItemLease.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/DocumentServiceLeaseUpdaterImpl.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/PartitionControllerImpl.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation/PartitionProcessorImpl.java
Labels: Cosmos, cosmos:v3-item

#9918 Make ActiveTokenManager tests more reliable.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ActiveClientTokenManager.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ActiveClientTokenManagerTest.java
Labels: Client

#9899 Rename storage perf module folder
  sdk/storage/azure-storage-perf/README.md
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/App.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/DownloadBlobTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/ListBlobsTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlockBlobTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadFromFileTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadOutputStreamTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/BlobTestBase.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/ContainerTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/ServiceTest.java
  sdk/storage/pom.xml
Labels: EngSys

#9942 Update missing module
  pom.client.xml
Labels: Storage

#9978 Service Bus ARM template for live tests
  .editorconfig
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxyReceiveTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxySendTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/test-resources.json
  sdk/servicebus/tests.yml
Labels: Client, Service Bus

#10036 mgmt use java prefix for autorest
  sdk/management/gulpfile.js
Labels: Mgmt - Track 2

#10050 Revision to CONTRIBUTING.md after POM restructure.
  CONTRIBUTING.md
Labels: EngSys

#10044 Smoke Tests: install cosmos
  common/smoke-tests/pom.xml
Labels: EngSys

#10097 Add proxy option samples, readme
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ProxyOptionsSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
Labels: AzConfig, Client

#9956 mgmt appservice, port from track1
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/FunctionApp.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/FunctionAppImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/KuduClient.java
  sdk/appservice/mgmt/src/test/java/com/azure/management/appservice/HostnameSslTests.java
Labels: Mgmt - Track 2

#10115 fix checkstyle for management managedserviceidentity
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/Identity.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/OperationDisplay.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/implementation/IdentitesImpl.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/implementation/IdentityImpl.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/implementation/MSIManager.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/IdentityInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/ManagedServiceIdentityClientBuilder.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/ManagedServiceIdentityClientImpl.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/OperationInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/OperationListResultInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/OperationsInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/UserAssignedIdentitiesInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/UserAssignedIdentitiesListResultInner.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/models/package-info.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/management/msi/package-info.java
  sdk/managedserviceidentity/mgmt/src/test/java/com/azure/management/msi/MSIIdentityManagementTests.java
Labels: Mgmt - Track 2

#10114 mgmt checkstyle azure
  sdk/management/azure/src/main/java/com/azure/management/AccessManagement.java
  sdk/management/azure/src/main/java/com/azure/management/Azure.java
  sdk/management/azure/src/main/java/com/azure/management/package-info.java
  sdk/management/azure/src/test/java/com/azure/management/ApplicationGatewayTests.java
  sdk/management/azure/src/test/java/com/azure/management/AzureTests.java
  sdk/management/azure/src/test/java/com/azure/management/TestApplicationGateway.java
  sdk/management/azure/src/test/java/com/azure/management/TestAvailabilitySet.java
  sdk/management/azure/src/test/java/com/azure/management/TestBatch.java
  sdk/management/azure/src/test/java/com/azure/management/TestCdn.java
  sdk/management/azure/src/test/java/com/azure/management/TestCdnCrud.java
  sdk/management/azure/src/test/java/com/azure/management/TestContainerInstanceWithPrivateIpAddress.java
  sdk/management/azure/src/test/java/com/azure/management/TestContainerInstanceWithPublicIpAddressWithSystemAssignedMSI.java
  sdk/management/azure/src/test/java/com/azure/management/TestContainerRegistry.java
  sdk/management/azure/src/test/java/com/azure/management/TestContainerService.java
  sdk/management/azure/src/test/java/com/azure/management/TestCosmosDB.java
  sdk/management/azure/src/test/java/com/azure/management/TestDns.java
  sdk/management/azure/src/test/java/com/azure/management/TestExpressRouteCircuit.java
  sdk/management/azure/src/test/java/com/azure/management/TestKubernetesCluster.java
  sdk/management/azure/src/test/java/com/azure/management/TestLoadBalancer.java
  sdk/management/azure/src/test/java/com/azure/management/TestLocalNetworkGateway.java
  sdk/management/azure/src/test/java/com/azure/management/TestNSG.java
  sdk/management/azure/src/test/java/com/azure/management/TestNetwork.java
  sdk/management/azure/src/test/java/com/azure/management/TestNetworkInterface.java
  sdk/management/azure/src/test/java/com/azure/management/TestNetworkWatcher.java
  sdk/management/azure/src/test/java/com/azure/management/TestPublicIPAddress.java
  sdk/management/azure/src/test/java/com/azure/management/TestPublicIPPrefix.java
  sdk/management/azure/src/test/java/com/azure/management/TestRedis.java
  sdk/management/azure/src/test/java/com/azure/management/TestResourceStreaming.java
  sdk/management/azure/src/test/java/com/azure/management/TestRouteTables.java
  sdk/management/azure/src/test/java/com/azure/management/TestSearchService.java
  sdk/management/azure/src/test/java/com/azure/management/TestSql.java
  sdk/management/azure/src/test/java/com/azure/management/TestTemplate.java
  sdk/management/azure/src/test/java/com/azure/management/TestTrafficManager.java
  sdk/management/azure/src/test/java/com/azure/management/TestUtils.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachine.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineCustomData.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineDataDisk.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineInAvailabilitySet.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineNics.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineSizes.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualMachineSsh.java
  sdk/management/azure/src/test/java/com/azure/management/TestVirtualNetworkGateway.java
  sdk/management/azure/src/test/java/com/azure/management/VirtualNetworkGatewayTests.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppBasic.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppLogs.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppWithAuthentication.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppWithDomainSsl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxFunctionAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxWebAppBasic.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxWebAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxWebAppWithDomainSsl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppBasic.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppLogs.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppSourceControlAsync.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppWithAuthentication.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppWithDomainSsl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppWithTrafficManager.java
Labels: Mgmt - Track 2

#10022 Add support for receiving from Subscription
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/test-resources.json
Labels: Client, Service Bus

#9975 Added listModels() API implementation and a few samples
  .github/CODEOWNERS
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImpl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/CustomFormModelInfo.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/ModelTrainingStatus.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ExtractPrebuiltReceipt.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ExtractReceiptsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ListModelsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/listModels.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/listModelsWithContext.json
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Labels: Client, FormRecognizer

#10169 port deployment template unit test from track1
  sdk/resources/mgmt/src/test/java/com/azure/management/resources/implementation/TypeSerializationTests.java
Labels: Mgmt - Track 2

#9912 Update whitelist includes
  common/perf-test-core/pom.xml
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/update_versions.py
  eng/versioning/utils.py
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/core/ci.yml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-examples/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/storage/ci.yml
Labels: EngSys

#10278 Adding Ashish to CODEOWNERS for storage code
  .github/CODEOWNERS
Labels: EngSys

#9858 Cosmos CFP: fix for handling partition splits or partition not found
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/Lease.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/ServiceItemLease.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/DocumentServiceLeaseUpdaterImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/PartitionControllerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ServiceItemLeaseTests.java
Labels: Cosmos, cosmos:v4-item

#10315 azure-core-management add unit tests
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/CloudExceptionTests.java
Labels: Mgmt - Track 2

#10352 mgmt resources spotbugs regen code
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/DeploymentOperationsInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/DeploymentsInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/OperationsInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/ProvidersInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/ResourceGroupsInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/ResourceManagementClientImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/ResourcesInner.java
  sdk/resources/mgmt/src/main/java/com/azure/management/resources/models/TagsInner.java
Labels: Mgmt - Track 2

#10391 mgmt fix appservice spotbugs
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/AppServiceBaseImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/AppServicePlanImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/DeploymentSlotImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/FunctionAppImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/FunctionDeploymentSlotImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/KuduClient.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/WebAppBaseImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/WebAppImpl.java
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/WebAppMsiHandler.java
Labels: Mgmt - Track 2

#10393 mgmt fix monitor spotbugs
  sdk/keyvault/mgmt/src/main/java/com/azure/management/keyvault/implementation/KeyImpl.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/MetricAlertCriteria.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/MultiMetricCriteria.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/implementation/ActionGroupImpl.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/implementation/ActivityLogsImpl.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/implementation/MetricAlertImpl.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/implementation/MetricDefinitionImpl.java
Labels: Mgmt - Track 2

#10394 mgmt update dependency version
  sdk/appservice/mgmt/src/main/java/com/azure/management/appservice/implementation/KuduClient.java
  sdk/management/pom.xml
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/MetricAlertCriteria.java
  sdk/monitor/mgmt/src/main/java/com/azure/management/monitor/MultiMetricCriteria.java
Labels: Mgmt - Track 2

#9953 [FR] implements auto-content-detection method getContentType()
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/Utility.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledDataAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeCustomFormsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/ContentTypeDetectionTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample-files/cell.tif
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample-files/docFile.doc
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample-files/pngFile.png
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample-files/sample.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/extractCustomFormLabeledDataWithContentTypeAutoDetection.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/extractReceiptDataWithContentTypeAutoDetection.json
Labels: Client, FormRecognizer

#10211 [FR] Codesnippest for all client's APIs
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormTrainingAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormTrainingClientJavaDocCodeSnippets.java
Labels: Client, FormRecognizer

#10351 Exclude NP_LOAD_OF_KNOWN_NULL_VALUE from the files generated by autorest
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
Labels: Mgmt - Track 2

#10409 Add support for analytical ttl to java sdk
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosStoredProcedureProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/FeedOptions.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/AnalyticalStorageCodeSnippet.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
Labels: cosmos:v4-item

#10385 Adding support for completing messages on receiver link. Moving logic out of azure-core-amqp. Adding more status codes
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpResponseCode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ExceptionUtil.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseUtils.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReceiveLinkHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseUtilsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageLockContainer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusErrorCondition.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusSession.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessorTest.java
Labels: Client, Event Hubs, Service Bus

#10427 Make connection string parsing more permissive.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionStringProperties.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionStringPropertiesTest.java
Labels: Client, Service Bus

#10420 [FR] Async API should always return error but not throw error
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeCustomFormLabeledDataWithContentTypeAutoDetection.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeCustomFormLabeledDataWithNullValues.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeLayoutDataWithContentTypeAutoDetection.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeLayoutDataWithNullData.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataTextDetailsWithNullData.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataWithContentTypeAutoDetection.json
Labels: Client, FormRecognizer

#10413 New Constructors for AzureException, HttpRequestException, and HttpResponseException
  sdk/core/azure-core/src/main/java/com/azure/core/exception/AzureException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpRequestException.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpResponseException.java
Labels: APIChange, Azure.Core, Client

#10432 Update Service Bus README with samples.
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/README.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/MessageCancelScheduleAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/MessageScheduleAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/MessageSendAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/PeekMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAndSettleAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAzureIdentityAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageSyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendAndReceiveSessionMessageSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendMessageBatchSyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendMessageWithAzureIdentityAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendScheduledMessageAndCancelAsyncSample.java
Labels: Client, Service Bus

#10353 [AppConfig] Javadoc and readme revision
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
Labels: AzConfig, Client

#10471 Add Additional API to Deprecate One With a Typo
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
Labels: Azure.Core, Client

#10469 Update Linux OS images to Ubuntu 18.04
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/client.yml
  eng/pipelines/mgmt.yml
  eng/pipelines/templates/jobs/archetype-sdk-bom.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-data.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/stages/archetype-sdk-management.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: EngSys

#10487 mgmt samples monitor
  sdk/management/pom.xml
  sdk/management/samples/src/main/java/com/azure/management/monitor/samples/AutoscaleSettingsBasedOnPerformanceOrSchedule.java
  sdk/management/samples/src/main/java/com/azure/management/monitor/samples/QueryMetricsAndActivityLogs.java
  sdk/management/samples/src/main/java/com/azure/management/monitor/samples/SecurityBreachOrRiskActivityLogAlerts.java
  sdk/management/samples/src/main/java/com/azure/management/monitor/samples/WebAppPerformanceMonitoringAlerts.java
  sdk/management/samples/src/main/java/com/azure/management/monitor/samples/package-info.java
  sdk/management/samples/src/main/java/com/azure/management/samples/Utils.java
  sdk/management/samples/src/test/java/com/azure/management/samples/MonitorTests.java
  sdk/management/samples/src/test/resources/session-records/testAutoscaleSettingsBasedOnPerformanceOrSchedule.json
  sdk/management/samples/src/test/resources/session-records/testQueryMetricsAndActivityLogs.json
  sdk/management/samples/src/test/resources/session-records/testSecurityBreachOrRiskActivityLogAlerts.json
  sdk/management/samples/src/test/resources/session-records/testWebAppPerformanceMonitoringAlerts.json
Labels: Mgmt - Track 2

#10488 simple credcheck to delete storage key
  sdk/management/credcheck.js
  sdk/management/gulpfile.js
  sdk/management/package.json
  sdk/management/pipelines/fluentJavaMgmt.yml
Labels: Mgmt - Track 2

#10470 Add InputStream to Flux<ByteBuffer> Utility Method
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Labels: APIChange, Azure.Core, Client

#10532 Update Event Hubs READMEs.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ReadmeSamples.java
Labels: Docs, Event Hubs

#10490 Artifact segregation
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#10525 Adds session operations to receiver
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementNode.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLink.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ManagementChannelTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/MessageUtilsTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorReceiverTest.java
Labels: Client, Service Bus

#10582 Fix azure-test-watcher for scheduled builds.
  common/azure-test-watcher/pom.xml
Labels: EngSys

#10591 Supply ServiceDirectory to uses of remove-test-resources.yml
  eng/pipelines/smoke-test.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#9727 Pluggable Modules for JSON Serialization
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonSerializer.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonSerializerBuilder.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/package-info.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/module-info.java
  sdk/core/azure-core-serializer-json-gson/src/test/java/com/azure/core/serializer/json/gson/GsonJsonSerializerTests.java
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializer.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializerBuilder.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/package-info.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/module-info.java
  sdk/core/azure-core-serializer-json-jackson/src/test/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializerTests.java
  sdk/core/azure-core-serializer-json-jackson/src/test/java/com/azure/core/serializer/json/jackson/Person.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JsonSerializer.java
  sdk/core/ci.yml
  sdk/core/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: APIChange, Azure.Core, Client, feature-request

#10596 mgmt move test url to azure-sdk-for-java, and use raw.githubusercontent
  sdk/appservice/mgmt/src/test/java/com/azure/management/appservice/FunctionAppsTests.java
  sdk/appservice/mgmt/src/test/java/com/azure/management/appservice/WebAppsWebDeployTests.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageFunctionAppWithAuthentication.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageLinuxFunctionAppSourceControl.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppLogs.java
  sdk/management/samples/src/main/java/com/azure/management/appservice/samples/ManageWebAppSourceControl.java
Labels: Mgmt - Track 2

#10638 Correctly parent azure-test-watcher
  common/azure-test-watcher/pom.xml
Labels: Client, EngSys

#10636 CBS: return error when no response
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannelTest.java
Labels: Azure.Core, Client

#10642 README.md for azure-test-watcher
  common/azure-test-watcher/README.md
Labels: EngSys

#10637 Add support for associated link name, session id, and clean up ManagementNode
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementNode.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ManagementChannelTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAsyncConsumerTest.java
Labels: Client, Service Bus

#10419 POM-only release pipeline
  eng/pipelines/templates/jobs/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/scripts/Publish-MavenPackages.ps1
  sdk/boms/ci.yml
  sdk/parents/azure-sdk-parent/pom.xml
  sdk/parents/ci.yml
Labels: EngSys
