Repository Azure/azure-sdk-for-java, pull requests merged in 2020-07, with the labels that each got.

#12608 mgmt, improve lro error handling
  sdk/compute/mgmt/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/management/azure/src/test/resources/session-records/testDeployments.json
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/AzureServiceClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/AcceptedImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentsImpl.java
  sdk/resources/mgmt/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resources/mgmt/src/test/resources/session-records/canDeployVirtualNetworkSyncPollWithFailure.json
Labels: Mgmt - Track 2

#12742 Version range needs the , at the end
  eng/versioning/set_versions.py
Labels: EngSys

#12708 Subscription and Topic Management and Service Version
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusManagementAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusManagementClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusManagementClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusServiceVersion.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/EntityHelper.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/QueueDescription.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/QueueHelper.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/SubscriptionDescription.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/SubscriptionRuntimeInfo.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/TopicDescription.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/TopicRuntimeInfo.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusManagementAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusManagementAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusManagementClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementSerializerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createQueue.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createSubscriptionExistingName.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/createTopicWithResponse.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteQueue.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/deleteTopic.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getQueueRuntimeInfo.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscription.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getSubscriptionRuntimeInfo.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopic.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicDoesNotExist.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/getTopicRuntimeInfo.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listQueues.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listSubscriptions.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/listTopics.json
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/xml/CreateSubscriptionEntry.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/xml/SubscriptionDescriptionEntry.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/xml/SubscriptionDescriptionFeed.xml
Labels: Client, Service Bus

#12779 Parameter Passing Fixes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
Labels: Client, Storage

#12781 Update Azure Core Versions for July 2020 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/search/azure-search-documents/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Client

#12782 Live tests: Location, Subscription Config, and ARM template params to live tests
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#12787 Skip Changelog processing for data track
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/versioning/version_data.txt
  sdk/cognitiveservices/ms-azure-cs-luis-authoring/pom.xml
Labels: EngSys

#12793 mgmt core disable flaky assert
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
Labels: Mgmt - Track 2

#12794 mgmt regen resources
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/implementation/VaultImpl.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/implementation/VaultsImpl.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/models/Sku.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/models/SkuFamily.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/fluent/inner/UsageInner.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/implementation/NetworkUsageImpl.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/AzureFirewallSkuTier.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/ConnectionMonitorEndpointFilterItemType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/ConnectionMonitorEndpointFilterType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/FirewallPolicyNatRuleActionType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/FlowLogFormatType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/HttpMethod.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/ManagedRuleEnabledState.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/NatGatewaySkuName.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/NetworkUsage.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/NetworkUsageUnit.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/OutputType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/PublicIpPrefixSkuName.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/RouteFilterRuleType.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/models/UsageUnit.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/fluent/BlobContainersClient.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/fluent/ManagementPoliciesClient.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/fluent/inner/StorageAccountInner.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/implementation/ManagementPoliciesImpl.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/implementation/ManagementPolicyImpl.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/implementation/PolicyRuleImpl.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/ListContainersInclude.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/ManagementPolicyName.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/ManagementPolicyRule.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/MinimumTlsVersion.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/PolicyRule.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/RuleType.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/StorageAccountCreateParameters.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/models/StorageAccountUpdateParameters.java
Labels: Mgmt - Track 2

#12798 mgmt fix todo
  sdk/appservice/mgmt/src/main/java/com/azure/resourcemanager/appservice/implementation/KuduClient.java
  sdk/appservice/mgmt/src/test/java/com/azure/resourcemanager/appservice/WarDeployTests.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/implementation/KeyImpl.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/models/Key.java
  sdk/keyvault/mgmt/src/test/java/com/azure/resourcemanager/keyvault/KeyTests.java
Labels: Mgmt - Track 2

#12844 mgmt, add url to pom description
  sdk/management/README.md
  sdk/management/azure/pom.xml
Labels: Mgmt - Track 2

#12512 Testing for Tables Autorest Code
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TablesSharedKeyCredential.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TablesSharedKeyCredentialPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/package-info.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/AzureTableImplTest.java
  sdk/tables/azure-data-tables/src/test/resources/session-records/createTable.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/createTableDuplicateName.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/deleteEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/deleteNonExistentEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/deleteNonExistentTable.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/deleteTable.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/insertNoEtag.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/mergeEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/mergeNonExistentEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryEntitiesWithPartitionAndRowKey.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryEntityWithFilter.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryEntityWithSelect.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryEntityWithTop.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryTable.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/queryTablewithTop.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/updateEntity.json
  sdk/tables/azure-data-tables/src/test/resources/session-records/updateNonExistentEntity.json
Labels: Client, Tables

#12833 July patch release preparation for AppConfig, TA and FR
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: AzConfig, Client, Cognitive - Text Analytics

#12879 Add plugin to internal avro to add empty javadoc
  sdk/storage/azure-storage-internal-avro/pom.xml
Labels: Storage

#12889 SpotBugs step to use the Maven proxy.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#12885 Remove ServiceBusMessageProcessor
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/UnnamedSessionReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusMessageProcessorTest.java
Labels: Client, Service Bus

#12863 mgmt, core, open to azure-core, for f.setAccessible(true); in FlatteningSerializer
  sdk/core/azure-core-management/src/main/java/module-info.java
Labels: Mgmt - Track 2

#12908 mgmt, move AzureServiceClient to fluentcore
  sdk/appplatform/mgmt/src/main/java/com/azure/resourcemanager/appplatform/AppPlatformManagementClient.java
  sdk/appservice/mgmt/src/main/java/com/azure/resourcemanager/appservice/WebSiteManagementClient.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/AuthorizationManagementClient.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/GraphRbacManagementClient.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/ComputeManagementClient.java
  sdk/containerregistry/mgmt/src/main/java/com/azure/resourcemanager/containerregistry/ContainerRegistryManagementClient.java
  sdk/containerservice/mgmt/src/main/java/com/azure/resourcemanager/containerservice/ContainerServiceManagementClient.java
  sdk/cosmos/mgmt/src/main/java/com/azure/resourcemanager/cosmos/CosmosDBManagementClient.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/DnsManagementClient.java
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/KeyVaultManagementClient.java
  sdk/managedserviceidentity/mgmt/src/main/java/com/azure/resourcemanager/msi/ManagedServiceIdentityClient.java
  sdk/monitor/mgmt/src/main/java/com/azure/resourcemanager/monitor/MonitorClient.java
  sdk/network/mgmt/src/main/java/com/azure/resourcemanager/network/NetworkManagementClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/package-info.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/FeatureClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/PolicyClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/ResourceManagementClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/SubscriptionClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/AzureServiceClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/package-info.java
  sdk/sql/mgmt/src/main/java/com/azure/resourcemanager/sql/SqlManagementClient.java
  sdk/storage/mgmt/src/main/java/com/azure/resourcemanager/storage/StorageManagementClient.java
Labels: Mgmt - Track 2

#12627 Add Javadoc Escapes to README Overview
  eng/pipelines/scripts/generate_overview_from_readme.py
Labels: EngSys

#12918 Update change log date for azure-core 1.7.0-beta.1
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#12915 Ignored flaky CF tests
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
Labels: Storage

#12922 Ignored flaky CF tests (#12915)
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
Labels: Storage

#12914 Prepare Azure Core Management 1.0.0-beta.2 Release
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/src/main/java/module-info.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
Labels: Azure.Core, Mgmt

#12917 Added script logging enabled API to CosmosStoredProcedureRequestOptions
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/StoredProcedureResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosStoredProcedureRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosSyncStoredProcTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/StoredProcedureUpsertReplaceTest.java
Labels: Cosmos

#12929 disable flaky assert (#12793)
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
Labels: Azure.Core

#12926 Creating yml file for ctl image build ci
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos

#12930 Use proper variable syntax
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos, EngSys

#12933 Tweaking the Java Cosmos CTL pipeline yml
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos

#12921 Close message processor downstream.
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumerTest.java
Labels: Client, Service Bus

#12932 Prepare EH beta release
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/LoadBalancingStrategy.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientErrorHandlingTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
Labels: Event Hubs

#12965 add key vault certificate permission
  sdk/keyvault/mgmt/src/main/java/com/azure/resourcemanager/keyvault/models/AccessPolicy.java
Labels: KeyVault

#6593 Add workaround for Checkstyle error, closes #6216
  CONTRIBUTING.md
Labels: Client, Docs

#12894 Fix the issue of ChangeFeedProcessorCodeSnippet
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ChangeFeedProcessorCodeSnippet.java
Labels: Cosmos

#12977 Added an exception to unsupported provider methods instead of no-op'i…
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
Labels: Storage

#12973 Update ctl-image-build.yml
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos

#12991 Reduce read timeout and add retry options to Wagon settings for Maven.
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#12974 Added idle tcp connection timeout
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConnectionConfigTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/CosmosPartitionKeyTests.java
Labels: Cosmos

#12878 Use Varargs in Model APIs
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/AnalyzeRequestConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/CjkBigramTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/EdgeNGramTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/ElisionTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/EntityRecognitionSkillConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/ImageAnalysisSkillConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/LuceneStandardAnalyzerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/NGramTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/PatternAnalyzerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/PatternTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/ScoringProfileConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/StopAnalyzerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/WordDelimiterTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AnalyzeTextOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CjkBigramTokenFilter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CustomAnalyzer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EdgeNGramTokenizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ElisionTokenFilter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ImageAnalysisSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/InputFieldMappingEntry.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/LuceneStandardAnalyzer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/NGramTokenizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/PatternAnalyzer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/PatternTokenizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ScoringProfile.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndex.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkillset.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/StopAnalyzer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/StopwordsTokenFilter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/WordDelimiterTokenFilter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/AutocompleteOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SuggestOptions.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/IndexAndServiceStatisticsExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RefineSearchCapabilitiesExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/SynonymMapsCreateExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/LifecycleSetupExample.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/IndexingSyncTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchSyncTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchTestBase.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/CustomAnalyzerSyncTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/IndexManagementSyncTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SkillsetManagementSyncTests.java
  sdk/search/tests.yml
Labels: Search

#12975 Updates prefetch algorithm and test updates.
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/UnnamedSessionReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/UnnamedSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessorTest.java
Labels: Client, Service Bus

#12784 Update to deal with use of Spring BOM in samples
  eng/versioning/pom_file_version_scanner.ps1
Labels: EngSys

#12972 Readme
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBlobFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/samples/java/com/azure/storage/blob/nio/ReadmeSamples.java
Labels: Client, Storage

#13026 Update CHANGELOG and README for preview 4.
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Client, Service Bus

#12989 Move AzureTestWatcher into azure-core-test
  common/azure-test-watcher/README.md
  common/azure-test-watcher/pom.xml
  common/azure-test-watcher/src/main/java/com/azure/testing/package-info.java
  common/azure-test-watcher/src/main/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  eng/versioning/version_client.txt
  pom.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/AzureTestWatcher.java
  sdk/core/azure-core-test/src/main/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core, Client, test enhancement

#13029 Add token refresh options to identity library
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/CredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/IntelliJCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VisualStudioCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityTokenRefreshOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MsalToken.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
Labels: Azure.Identity

#13030 Add change log for identity 1.1.0-beta.6
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#12464 Corrected broken link in README and sample with error.
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
Labels: Client, Docs, KeyVault

#13033 Review Before Releasing Azure Cognitive Search
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchDocument.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchServiceVersion.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerDataSources.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/package-info.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/package-info.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/package-info.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/package-info.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/package-info.java
  sdk/search/azure-search-documents/src/main/java/module-info.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RefineSearchCapabilitiesExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RunningSearchSolutionExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/LifecycleSetupExample.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/TestHelpers.java
Labels: Client, Search

#12836 [BUG] Cosmos | Addresses GitHub issue #10401 : Operator called default onErrorDropped
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/TransportException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestArgs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponseHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdThreadFactory.java
Labels: Cosmos, cosmos:v4-item

#13087 Fixed release date
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#12978 Fixed block issue and tier issue
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/KeyvaultKeyTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/LocalKeyTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/KeyvaultKeyTestencryptionnotanoop.json
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/KeyvaultKeyTestuploaddownload.json
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/LocalKeyTestencryptionnotanoop.json
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/LocalKeyTestuploaddownload.json
  sdk/storage/test-resources.json
Labels: Storage

#13041 Updated CHANGELOG and README files for KeyVault's July 2020 release.
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Labels: KeyVault

#13125 Remove Container throughput default value from SDK
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/Document.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/CosmosAnnotationUnitTest.java
Labels: Cosmos

#12987 Refactor Formrecognizer samples
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledData.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledDataAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/Authentication.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/CopyModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormTrainingAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormTrainingClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxes.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxesAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ManageCustomModels.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ManageCustomModelsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContent.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeCustomFormsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeCustomFormsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/StronglyTypedRecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/TrainModelWithLabels.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/TrainModelWithLabelsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/TrainModelWithoutLabels.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/TrainModelWithoutLabelsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
Labels: Cognitive - Form Recognizer

#13147 Fix field order to match service side field ordering
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
Labels: Cognitive - Form Recognizer

#10564 Artifact grouping
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/stage-artifacts.yml
  eng/versioning/version_client.txt
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
Labels: EngSys

#12899 mgmt doc on LRO beginCreate/beginDelete
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/compute/mgmt/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/management/README.md
  sdk/management/docs/DESIGN_PREVIEW.md
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/Accepted.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/AcceptedImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/CreatableUpdatableImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentsImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/GenericResourceImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/GenericResourcesImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/models/GenericResource.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/models/GenericResources.java
  sdk/resources/mgmt/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resources/mgmt/src/test/java/com/azure/resourcemanager/resources/GenericResourcesTests.java
  sdk/resources/mgmt/src/test/resources/session-records/canCreateDeleteResourceSyncPoll.json
Labels: Mgmt - Track 2

#13085 mgmt, update user-agent
  sdk/management/README.md
  sdk/management/pom.xml
  sdk/resources/mgmt/pom.xml
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/AzureServiceClient.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/UserAgentPolicy.java
  sdk/resources/mgmt/src/main/resources/azure.properties
Labels: Mgmt - Track 2

#13062 Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys

#13128 Support AllIgnoreCase and IgnoreCase keywords in Cosmos
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/Criteria.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/CosmosQueryCreator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/ReactiveCosmosQueryCreator.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIllegalTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplatePartitionIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplatePartitionIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/query/CriteriaUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/query/DocumentQueryUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/StudentRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/StudentRepository.java
Labels: Cosmos

#13144 Upload incorrect length
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestuploadincorrectsize[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestuploadincorrectsize[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestuploadincorrectsize[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestuploadincorrectsize[3].json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
Labels: Storage

#13150 Nio javadocs
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributes.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBlobFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBlobFileAttributes.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureDirectoryStream.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileStore.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystem.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzurePath.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/LoggingUtility.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/NioBlobInputStream.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/NioBlobOutputStream.java
  sdk/storage/azure-storage-blob-nio/src/samples/java/com/azure/storage/blob/nio/ReadmeSamples.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AttributeViewTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
Labels: Storage

#13096 Implemented ORS List Blobs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobItemProperties.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobsflators.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierors.json
Labels: APIChange, Storage

#13204 Update Additional Modules in keyvault/ci.yml
  eng/versioning/version_client.txt
  sdk/keyvault/ci.yml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: EngSys

#13205 Prepare release for serialization modules
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
Labels: Azure.Core

#13211 Update for bannedDependency includes and beta_ tags
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/set_versions.py
  eng/versioning/update_versions.py
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/spring/azure-spring-boot-test-aad/pom.xml
  sdk/spring/azure-spring-boot-test-core/pom.xml
  sdk/spring/azure-spring-boot-test-cosmosdb/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: EngSys

#13224 Add resourcemanager CI configuration.
  sdk/resourcemanager/ci.yml
  sdk/resourcemanager/pom.xml
Labels: EngSys

#13227 mgmt, fix code bug
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentsImpl.java
  sdk/resources/mgmt/src/test/resources/session-records/canDeployVirtualNetwork.json
Labels: Mgmt - Track 2

#13151 Support web apps for oauth based credentials
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#13243 Add createOrUpdateSchemaGroup operation
  sdk/schemaregistry/azure-data-schemaregistry/swagger/swagger.json
Labels: Schema Registry

#13270 encryption followup PR - separate CI
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/AeadAes256CbcHmac256Algorithm.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/CosmosDataEncryptionKeyProvider.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/EncryptionTest2.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/DecryptDataEncryptedByDotNetTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionTests.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/encryption-testng.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
Labels: Client, Cosmos, cosmos:v4-item

#13260 Fixed module info
  sdk/storage/azure-storage-blob-nio/src/main/java/module-info.java
Labels: Storage

#13255 Confirmed support for static website Default Index Document Path for set/get properties
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestsetpropsstaticwebsite.json
Labels: Storage

#13210 Quick Query Input Stream Filter
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/FluxInputStream.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/FluxInputStreamTest.groovy
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
Labels: Storage

#13197 support multiple database in azure-spring-data-cosmos
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-spring-data-cosmos/CONTRIBUTING.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/config/CosmosRepositoryConfigurationExtension.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/config/EnableCosmosRepositories.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/config/EnableReactiveCosmosRepositories.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/config/ReactiveCosmosRepositoryConfigurationExtension.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactory.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactoryBean.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/ReactiveCosmosRepositoryFactory.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/ReactiveCosmosRepositoryFactoryBean.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleReactiveCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/DatabaseConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/MultiDatasourceApplication.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/primarydatasource/User.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/primarydatasource/UserRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/secondarydatasource/Book.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/secondarydatasource/BookRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/MultiCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/SecondaryTestRepositoryConfig.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactoryUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/resources/application.properties
  sdk/cosmos/test-resources.json
Labels: Cosmos

#13256 Added support for blob rehydrate priority on blob properties
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobItemProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsettierrehydratepriority[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsettierrehydratepriority[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsettierrehydratepriority[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobsflatrehydratepriority[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobsflatrehydratepriority[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobsflatrehydratepriority[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierrehydratepriority[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierrehydratepriority[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistblobshierrehydratepriority[2].json
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: APIChange, Storage

#13299 Release prep
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzurePath.java
Labels: Storage

#13259 Attach README.md and CHANGELOG.md as artifacts
  common/perf-test-core/CHANGELOG.md
  eng/.docsettings.yml
  eng/jacoco-test-coverage/CHANGELOG.md
  eng/jacoco-test-coverage/README.md
  sdk/e2e/CHANGELOG.md
  sdk/parents/azure-client-sdk-parent/README.md
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys

#13251 Single result queries
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/AbstractReactiveCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/CosmosQueryExecution.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/ReactiveCosmosQueryExecution.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/ReactiveCosmosQueryMethod.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/SingleResponseRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQueryUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/query/AbstractReactiveCosmosQueryUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ContactRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
Labels: Cosmos

#13309 Add changelog to benchmark
  sdk/cosmos/azure-cosmos-benchmark/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
Labels: Cosmos, EngSys

#13300 Fixed flaky test with or clause
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
Labels: Cosmos

#13230 mgmt, if service says 404 is error, it is error
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryApplicationsImpl.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryGroupsImpl.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryUsersImpl.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/RoleAssignmentHelper.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/RoleAssignmentsImpl.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/RoleDefinitionsImpl.java
  sdk/authorization/mgmt/src/main/java/com/azure/resourcemanager/authorization/implementation/ServicePrincipalsImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/DiskImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/GalleryImageVersionsImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/GalleryImagesImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/LinuxDiskVolumeLegacyEncryptionMonitorImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/LinuxDiskVolumeNoAADEncryptionMonitorImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/ProxyEncryptionMonitorImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotsImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineExtensionImageVersionImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineExtensionImagesImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineExtensionImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImagesImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/WindowsVolumeLegacyEncryptionMonitorImpl.java
  sdk/compute/mgmt/src/main/java/com/azure/resourcemanager/compute/implementation/WindowsVolumeNoAADEncryptionMonitorImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/ARecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/AaaaRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/CNameRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/CaaRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/MXRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/NSRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/PtrRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/SrvRecordSetsImpl.java
  sdk/dns/mgmt/src/main/java/com/azure/resourcemanager/dns/implementation/TxtRecordSetsImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/PolicyAssignmentsImpl.java
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/implementation/PolicyDefinitionsImpl.java
Labels: Mgmt - Track 2

#13320 mgmt, prepare for shared SerializerAdapter
  sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/AzureServiceClient.java
Labels: Mgmt - Track 2

#13325 mgmt, upgrade gulp to 4
  eng/mgmt/gulpfile.js
  eng/mgmt/package.json
Labels: Mgmt-EngSys

#12540 Update msal4j and msal4j extension version
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/HttpPipelineAdapter.java
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/management/README.md
  sdk/management/pom.xml
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-perf/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Azure.Identity, Client

#13306 encryption: no logic change, only minor cleanup, docs, style, etc
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/AeadAes256CbcHmac256Algorithm.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/CosmosDataEncryptionKeyProvider.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/DataEncryptionKeyContainerCore.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionExceptionFactory.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionKeyWrapMetadata.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/SymmetricKey.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/EncryptionTest2.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/DecryptDataEncryptedByDotNetTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionProcessorTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionTests.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/TestUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/api/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/api/CosmosEncryptionAlgorithm.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/api/DataEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/encryption/api/EncryptionOptions.java
Labels: Client, Cosmos, cosmos:v4-item

#13335 Added support to seal an append blob
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobItemPropertiesInternal.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobItemProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobSealOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobBeginCopyOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/AppendBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/AppendBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealac[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealacfail[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealdefaults.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealerror.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/AppendBlobAPITestsealmin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopyseal[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopyseal[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopyseal[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestcopyseal[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistappendblobsflat.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestlistappendblobshier.json
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: APIChange, Storage

#13334 Fixes broken links in azure-batch and eventhubs-eph README
  sdk/batch/microsoft-azure-batch/README.md
  sdk/eventhubs/microsoft-azure-eventhubs-eph/README.md
Labels: Docs

#13339 Consolidate behavior of options
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
Labels: Storage

#13324 Add support for context passing in FormRecognizer
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledData.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormTrainingClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxes.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientTest.java
Labels: Cognitive - Form Recognizer

#13207 Live test fix
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestfindblobsquery.json
  sdk/storage/test-resources.json
Labels: Storage

#13341 Centralize versioning for resource manager libraries
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/version_client.txt
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-authorization/README.md
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/README.md
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/README.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/README.md
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/README.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/README.md
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/README.md
  sdk/resourcemanager/azure-resourcemanager-msi/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/README.md
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/README.md
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/README.md
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/README.md
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: EngSys, Mgmt - Track 2, Mgmt-EngSys

#13347 Add changelog for azure-spring-boot-test-core
  sdk/spring/azure-spring-boot-test-core/CHANGELOG.md
Labels: EngSys

#13342 Fixed flaky test with request timeout exception
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/CosmosFactory.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PageablePersonRepositoryIT.java
Labels: Cosmos

#13346 Fix issue of SDK hangs when log level is debug
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Labels: Cosmos

#13304 Update Reactor Netty Proxy Handling
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/DeferredHttpProxyProvider.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyHandler.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientResponseTransformer.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyHttpResponseTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/DeferredHttpProxyProviderTests.java
Labels: Azure.Core, Client, HttpClient

#13226 Fix missing object batch send method
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatchBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchBaseTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ObjectBatchTest.java
Labels: Event Hubs

#13383 Remove Jackson Avro from Build and Release
  eng/jacoco-test-coverage/pom.xml
  sdk/core/ci.yml
  sdk/core/pom.xml
Labels: Azure.Core, Client

#13370 Changed to use reactive test class StepVerifier to confirm test result
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveLongIdDomainPartitionPartitionRepositoryIT.java
Labels: Cosmos

#13327 escaping querying with IN clause #12720
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ProjectRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ProjectRepository.java
Labels: Cosmos

#13405 Use msiexec to install Cosmos emulator.
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/steps/cosmos-emulator.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Cosmos, EngSys

#13395 Fix RecordNetworkCallPolicy Improperly Redacting Certain Response Values
  eng/versioning/version_client.txt
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/RecordingRedactor.java
  sdk/storage/azure-storage-blob/pom.xml
Labels: Azure.Core, Client, MQ-Testing

#13393 Update PagedFluxCore Javadoc Code Snippets
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java
Labels: Azure.Core, Client, Docs

#13340 Update OffsetDateTime Handling during Deserialization
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/DateTimeDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/DateTimeSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/DateTimeDeserializerTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
Labels: Azure.Core, Client, common

#13351 Add managed identity client id config in DAC
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
Labels: Azure.Identity

#13154 Identity API updates July 2020
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthenticationRecord.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureAuthorityHosts.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IntelliJCacheAccessor.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/VisualStudioCacheAccessor.java
Labels: Azure.Identity

#13425 Integrate authentication record in SharedTokenCacheCredential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredentialBuilder.java
Labels: Azure.Identity

#13430 Reduce the Cosmos emulator partition count.
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: Cosmos, EngSys

#13322 mgmt core move deserializer to implementation
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/package-info.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/package-info.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/ManagementErrorDeserializer.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/package-info.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/polling/package-info.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/serializer/AzureJacksonAdapter.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/serializer/package-info.java
Labels: Mgmt - Track 2

#12961 Partner release pipeline
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/steps/java-publishing.yml
  eng/scripts/Publish-MavenPackages.ps1
Labels: EngSys

#13431 Use the shared cosmos emulator template.
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: Cosmos, EngSys

#13444 Update Contact Repository flaky integration test
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ContactRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/CosmosAnnotationIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PageablePersonRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/SingleResponseRepositoryIT.java
Labels: Cosmos

#13449 Fix for stored procedure retry
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/StoredProcedureRetryThrottleTest.java
Labels: Cosmos

#13382 Cosmos diagnostic fixes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#13463 Fix DownloadResponseTests
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseMockFlux.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
Labels: Client, MQ-Testing, Storage

#13464 Use absolute path for Cosmos emulator template.
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: Cosmos, EngSys

#13470 Removing strong integration tests from spring since Strong is already being tested on emulator
  sdk/cosmos/tests.yml
Labels: Cosmos

#13487 Update storage dependency to point to latest GA
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: EngSys

#13491 Updated spring tests to properly close cosmos client on invalid keys and endpoints tests
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/CosmosFactoryTestIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PageableMemoRepositoryIT.java
Labels: Cosmos

#13448 Adding write and query workload for ctl run
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsynReadWithMultipleClients.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncMixedBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncWriteBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/BenchmarkHelper.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/BenchmarkRequestSubscriber.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Main.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/SyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
Labels: Cosmos

#13355 Receipt design changes FormRecognizer
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/BoundingBox.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FieldValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FieldValueType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/Point.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledData.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledDataAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/Authentication.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxes.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetBoundingBoxesAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/Receipt.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/StronglyTypedRecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FieldValueExtensionMethodTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FieldValueTypeCastTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
Labels: Cognitive - Form Recognizer

#13489 Initializing query options if user passes null
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncScripts.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncUser.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Labels: Cosmos

#13477 Remove redudant document.
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/add-graph.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/create-a-resource.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/create-azure-cosmos-db-account.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/create-azure-cosmos-db.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/execute-result.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/get-password.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/graph-detail.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/new-graph.png
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/readme-images/spring-initializr.png
Labels: Client, azure-spring, azure-spring.gremlin

#13516 mgmt, fix doc
  sdk/management/docs/DESIGN_PREVIEW.md
Labels: Mgmt - Track 2

#13495 changing ctl default workload to CtlWorkload
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
Labels: Cosmos

#13525 update net.jonathangiles.tools:whitelistgenerator-maven-plugin version
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys

#13427 Storage/set tier version snapshot
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatch.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/options/BlobBatchSetBlobAccessTierOptions.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/options/package-info.java
  sdk/storage/azure-storage-blob-batch/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/OptionsBagTest.groovy
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulkdeleteblobs.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulksetaccesstier.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulksetaccesstiersnapshot.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulksetaccesstierversion.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierac[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierac[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierac[2].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettieracfail[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettieracfail[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierrehydratepriority[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierrehydratepriority[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierrehydratepriority[2].json
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobSetAccessTierOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobAsyncClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsettiersnapshot.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsettiersnapshoterror.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/VersioningTestsettierwithversion.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/VersioningTestsettierwithversionerror.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: APIChange, Storage

#13497 adding missing API upsert with PartitionKey
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/TestObject.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/DocumentCrudTest.java
Labels: Cosmos

#13493 Consume/drain the inbound in case a cancellation is received before subscription
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Labels: Cosmos

#13527 Fixing http proxy bug in direct mode
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncWriteBenchmark.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConnectionConfigTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos

#13526 Added to pom of internal avro
  sdk/storage/azure-storage-common/src/main/java/module-info.java
  sdk/storage/azure-storage-internal-avro/pom.xml
Labels: Storage

#13538 Changed breakPeriod from Integer to Duration
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobBreakLeaseOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/LeaseAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/LeaseClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseAPITest.groovy
Labels: APIChange, Storage

#13548 rebased to afe7b5964710686a53aa5dbe6839d5429eab85db and upgrade to v5.0.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#13537 Fix receive and peek message API exceptions when queue is empty
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAysncAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAysncAPITestsDequeueMessageFromEmptyQueue.json
  sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAysncAPITestsPeekMessageFromEmptyQueue.json
Labels: Storage

#13389 Auditing support
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/config/AbstractCosmosConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosAuditingRegistrar.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/EnableCosmosAuditing.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/AuditableUser.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/cosmos/multidatasource/DatabaseConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/AuditableEntity.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/StubAuditorProvider.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/StubDateTimeProvider.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/TestRepositoryConfig.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveAuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AuditableRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveAuditableRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactoryBeanUnitTest.java
Labels: Cosmos

#13578 [TA] Merge changes from v5.0.0 release branch
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#13581 Fixing formatting for Instant type in diagnostics
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsInstantSerializer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#13492 Use TypeReference<T> in ObjectSerializer and JsonSerializer Interfaces
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/serializer/JsonSerializer.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/serializer/ObjectSerializer.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/serializer/TypeReference.java
  sdk/core/azure-core-serializer-avro-apache/src/main/java/com/azure/core/serializer/avro/apache/ApacheAvroSerializer.java
  sdk/core/azure-core-serializer-avro-apache/src/test/java/com/azure/core/serializer/avro/apache/ApacheAvroSerializerTests.java
  sdk/core/azure-core-serializer-avro-jackson/src/main/java/com/azure/core/serializer/avro/jackson/JacksonAvroSerializer.java
  sdk/core/azure-core-serializer-avro-jackson/src/test/java/com/azure/core/serializer/avro/jackson/JacksonAvroSerializerTests.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonSerializer.java
  sdk/core/azure-core-serializer-json-gson/src/test/java/com/azure/core/serializer/json/gson/GsonJsonSerializerTests.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializer.java
  sdk/core/azure-core-serializer-json-jackson/src/test/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializerTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/JsonWrapper.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/Config.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/Deserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/JsonApi.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/Node.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/Type.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/api/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/jacksonwrapper/JacksonDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/jacksonwrapper/JacksonNode.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/jacksonwrapper/JacksonPlugin.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/jacksonwrapper/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/spi/JsonPlugin.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/jsonwrapper/spi/package-info.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/main/resources/META-INF/services/com.azure.core.implementation.serializer.jsonwrapper.spi.JsonPlugin
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/Car.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/Entry.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/Foo.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/FooWithInner.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/GenericFoo.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/JacksonDeserializationTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/jsonwrapper/JsonDeserializationTests.java
Labels: Azure.Core, Client

#13576 update IdleStateHandlerReadWriteTimer
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
Labels: Cosmos

#13511 Artifact grouping take 2
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/steps/java-publishing.yml
  eng/pipelines/templates/steps/stage-artifacts.yml
  eng/scripts/MavenPackaging.ps1
  eng/scripts/Publish-MavenPackages.ps1
  eng/scripts/Stage-MavenPackageArtifacts.ps1
  eng/versioning/version_client.txt
  sdk/template/azure-sdk-template/CHANGELOG.md
  sdk/template/azure-sdk-template/pom.xml
Labels: EngSys

#13348 Increase storage live test timeout.
  sdk/storage/tests.yml
Labels: EngSys, Storage

#13590 mgmt compute fix npe
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/AvailabilitySetImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java
Labels: Mgmt - Track 2

#13585 Fixed redundant source was empty reactor errors on calling single()
  sdk/cosmos/azure-cosmos-benchmark/src/test/java/com/azure/cosmos/benchmark/ReadMyWritesConsistencyTest.java
  sdk/cosmos/azure-cosmos-benchmark/src/test/java/com/azure/cosmos/benchmark/WorkflowTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncConflict.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncPermission.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncScripts.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncStoredProcedure.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncTrigger.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncUser.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncUserDefinedFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DatabaseForTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ConsistencyTestsBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RetryCreateDocumentTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/DCDocumentCrudTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/BackPressureTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/CosmosAuthorizationTokenResolverTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/PermissionQueryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ReadFeedOffersTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ReadFeedPermissionsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ResourceTokenTest.java
Labels: Cosmos

#13474 [FR] Added the remaining test scenario coverage cases
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/ContentTypeDetectionTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeContentFromDamagedPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeContentFromUrlWithEncodedBlankSpaceSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeCustomFormDamagedPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeCustomFormFromUrlWithEncodedBlankSpaceSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeCustomFormUrlNonExistModelId.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromDamagedPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromUrlWithEncodedBlankSpaceSourceUrl.json
Labels: Client, Cognitive - Form Recognizer

#13569 adding missing API for SBRM
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceivedMessage.java
Labels: Service Bus

#13546 Modified APIs for blobs according to 73 review comments
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobBeginCopyOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Labels: APIChange, Storage

#13579 Add Synchronous APIs to ObjectSerializer and JsonSerializer
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/serializer/JsonSerializer.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/serializer/ObjectSerializer.java
  sdk/core/azure-core-serializer-avro-apache/src/main/java/com/azure/core/serializer/avro/apache/ApacheAvroSerializer.java
  sdk/core/azure-core-serializer-avro-apache/src/test/java/com/azure/core/serializer/avro/apache/ApacheAvroSerializerTests.java
  sdk/core/azure-core-serializer-avro-jackson/src/main/java/com/azure/core/serializer/avro/jackson/JacksonAvroSerializer.java
  sdk/core/azure-core-serializer-avro-jackson/src/test/java/com/azure/core/serializer/avro/jackson/JacksonAvroSerializerTests.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonSerializer.java
  sdk/core/azure-core-serializer-json-gson/src/test/java/com/azure/core/serializer/json/gson/GsonJsonSerializerTests.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializer.java
  sdk/core/azure-core-serializer-json-jackson/src/test/java/com/azure/core/serializer/json/jackson/JacksonJsonSerializerTests.java
Labels: Azure.Core, Client

#13539 Identity bugs fix July 2020
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
Labels: Azure.Identity

#13608 Add missing versioning tag for rbac
  sdk/e2e/pom.xml
Labels: Azure.Identity

#13603 Identity Authentication API rollback
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthenticationRequiredException.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/AuthenticationRecord.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MsalAuthenticationAccount.java
Labels: Azure.Identity

#13634 Encryption filling gaps
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionCosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InternalObjectNode.java
Labels: Cosmos
