Repository Azure/azure-sdk-for-java, pull requests merged in 2020-12, with the labels that each got.

#17892 Version upgrade after release of core-amqp 2.0.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Event Hubs

#17887 [Service Bus T2] First GA Release Version 7.0.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus

#17891 Fix RntbdRequestTimeline Duration
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestTimeline.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#17839 Add incremental consent
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/AuthorizationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/AzureActiveDirectoryConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/AzureActiveDirectoryOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/AzureClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/implementation/AzureActiveDirectoryConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#17899 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#17911 udpate refdoc link in readme
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-data-gremlin/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-context/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-storage/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
Labels: azure-spring

#17913 remove refdocs of appconfiguration starter readme
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
Labels: App Configuration

#17703 runs cosmos spark unit tests in CI
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/pom.xml
  sdk/cosmos/ci.yml
Labels: Cosmos

#17912 mgmt, update spotbugs exclude for generated resourcemanager code
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
Labels: Mgmt - Track 2

#17847 Update AAD diagram
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/resource/aad-based-standalone-web-application.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/add-based-resource-server-access-other-resources.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/add-based-standalone-resource-server.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/add-based-web-application-access-resources.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/auth-in-backend-code-mode.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/auth-in-backend-id-token-mode.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/auth-in-frontend-with-aad-filter.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/aad-based-standalone-web-application.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/add-based-resource-server-access-other-resources.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/add-based-standalone-resource-server.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/add-based-web-application-access-resources.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/auth-in-backend-code-mode.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/auth-in-backend-id-token-mode.drawio
  sdk/spring/azure-spring-boot-starter-active-directory/resource/source-file/auth-in-frontend-with-aad-filter.drawio
Labels: azure-spring, azure-spring-aad

#17931 Require playbackmode for share enable protocol tests
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestuploadfromurldestinationrequestconditions[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestuploadfromurldestinationrequestconditions[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestuploadfromurldestinationrequestconditions[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestuploadfromurldestinationrequestconditions[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestuploadfromurldestinationrequestconditions[4].json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncAPITests.groovy
Labels: Storage

#17925 fix consumer processError in the service bus example
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReadmeSamples.java
Labels: Service Bus, customer-reported

#17967 Sync eng/common directory with azure-sdk-tools for PR 1233
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#17966 Fix invoice url in form recognizer tests
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/invoiceValidLocale.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeInvoiceFromUrlIncludeFieldElements.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeInvoiceSourceUrl.json
Labels: Cognitive - Form Recognizer

#17916 Use '#microsoft.graph.group' instead of 'properties.getUserGroup().getValue()' in GraphClient.isGroupObject.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/GraphClient.java
Labels: azure-spring

#17915 Update nested group usage in readme
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring

#17917 update spring.factories,ensure that will not start AzureActiveDirectoryConfiguration in preview
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureOAuth2AuthenticatedPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/package-info.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AzureJwtAudienceValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AzureJwtIssuerValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/package-info.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureActiveDirectoryResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureJwtAudienceValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureJwtBearerTokenAuthenticationConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureJwtIssuerValidatorTest.java
Labels: azure-spring

#17948 Update CreationSource.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/CreationSource.java
Labels: customer-reported

#17918 Change package name from 'aad.implementation' to 'aad.webapp'.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationServerEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureActiveDirectoryOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureClientRegistration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/package-info.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfigurationTest.java
Labels: azure-spring

#17962 CosmosException when using azure-spring-data-cosmos query methods with repeated parameters
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ProjectRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ProjectRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
Labels: Cosmos, customer-reported

#17947 modify keyvault certificates starter readme
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Labels: azure-spring

#17997 mgmt, add track2 mgmt code owner for sdk/**/azure-resourcemanager-*
  .github/CODEOWNERS
Labels: Mgmt - Track 2

#17981 integrate with AAD sign out
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationServerEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
Labels: azure-spring

#17996 mgmt, bug fix on appservice
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/HostnameBindingImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/PricingTier.java
Labels: Mgmt - Track 2

#17993 Fix memory leak in ServiceBusReceiverAsyncClient client lock containers
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/LockContainer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
Labels: Service Bus, customer-reported

#17941 SB T2 - Updating change log with known issues.
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/known-issues.md
Labels: Service Bus

#17988 Updated docs for metadata to indicate no trailing or leading whitespace is allowed
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/BlobDecryptionPolicy.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/CryptographyConstants.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatametadata[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatametadata[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatametadata[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatametadata[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatawhitespaceerror[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatawhitespaceerror[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatawhitespaceerror[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestsetmetadatawhitespaceerror[3].json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/MetadataValidationPolicy.java
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareCreateOptions.java
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
Labels: Storage

#17952 Cosmos Spark End to End Integration Test against Cosmos Emulator runs in CI
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/FilterAnalyzer.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/IntegrationSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/RequiresCosmosEndpoint.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteSpec.scala
Labels: Cosmos, cosmos:spark3

#18010 Remove duplicate maven clean description
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-stateless/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-queue-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-eventhubs/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-servicebus/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-storage-queue/README.adoc
Labels: azure-spring

#17995 Add client id as aud validation
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
Labels: azure-spring, azure-spring-aad

#18005 Update smoke-tested SDK version and add module-info.java for Java11
  common/smoke-tests/README.md
  common/smoke-tests/pom.xml
  common/smoke-tests/smoke-test.yml
  common/smoke-tests/src/main/java/com/azure/smoketest/App.java
  common/smoke-tests/src/main/java/com/azure/smoketest/CosmosDB.java
  common/smoke-tests/src/main/java/com/azure/smoketest/EventHubs.java
  common/smoke-tests/src/main/java/com/azure/smoketest/KeyVaultSecrets.java
  common/smoke-tests/src/main/java/com/azure/smoketest/StorageBlob.java
  common/smoke-tests/src/main/java/module-info.java
Labels: Client

#18011 Cosmos spark3 DataSourceV2 catalog api implementation
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogSpec.scala
Labels: Cosmos, cosmos:spark3

#17998 aad necessary permission configuration in readme
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/docs/image-platform-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/README.md
Labels: azure-spring

#18015 fix issue #17953
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerFactory.java
Labels: KeyVault

#18004 Updated versions for Storage STG75 Beta Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#17984 Update identity stable release versions dec 2020
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#18023 Sync eng/common directory with azure-sdk-tools for PR 1257
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#18034 expose user account type
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipal.java
Labels: azure-spring

#18019 Boolean to determine whether the user is a person or a work/school account
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureOAuth2AuthenticatedPrincipal.java
Labels: azure-spring, azure-spring-aad

#18035 Serialize and deserialize OAuth2AuthorizedClient with JSON.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
Labels: azure-spring

#18046 mgmt, regen locks
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/ManagementLocksClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ManagementLocksImpl.java
  sdk/resourcemanager/gulpfile.js
Labels: Mgmt - Track 2

#18031 basic support for user provided schema in the query path
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosBatchWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScan.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
Labels: Cosmos, cosmos:spark3

#17842 Change scheduler for reactor executor
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorExecutor.java
Labels: Azure.Core

#17944 Sync eng/common directory with azure-sdk-tools for PR 1243
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Labels: Central-EngSys, EngSys

#18051 Fix(Pipeline): Wait 30 seconds after deployment is done.
  sdk/digitaltwins/remove-test-resources-pre.ps1
  sdk/digitaltwins/test-resources-post.ps1
Labels: DigitalTwins

#17698 Increment version for servicebus releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Service Bus

#17980 Handle conditional access.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Error.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2ResponseErrorHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuthenticationFailureHandler.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AzureOAuth2ResponseErrorHandlerTest.java
Labels: azure-spring

#18045 set tenantId default value
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AzureActiveDirectoryResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Labels: azure-spring

#18022 Small readme fix on creating a filestore
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/src/samples/java/com/azure/storage/blob/nio/ReadmeSamples.java
Labels: Storage

#18074 Sync eng/common directory with azure-sdk-tools for PR 1266
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#18040 Support for merging spark application config with dataframe config.
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTable.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionSpec.scala
Labels: Cosmos, cosmos:spark3

#18069 Solve the MacAddressHelper.computeHashedMacAddress() throws NPE problem.
  sdk/spring/azure-spring-cloud-telemetry/src/main/java/com/azure/spring/cloud/telemetry/MacAddressHelper.java
Labels: azure-spring

#18080 Access to multi-tenant app
  sdk/spring/azure-spring-boot-starter-active-directory/ACCESS_TO_MULTI_TENANT_APP.md
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/administrators-revoke-access-1.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/administrators-revoke-access-2.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/need-admin-approval.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/permissions-requested.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/users-revoke-access-1.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/users-revoke-access-2.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/access-to-multi-tenant-app/users-revoke-access-3.png
Labels: azure-spring

#17926 Deprecate AADAppRoleStatelessAuthenticationFilter and AADAuthenticationFilter
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
Labels: azure-spring

#18088 Release azure cosmos 4.9.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkOperations.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkProcessingOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosBulkItemResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosBulkOperationResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatch.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchOperationResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedProcessorState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemIdentity.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/FeedRange.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedIterable.java
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos

#18090 Sync eng/common directory with azure-sdk-tools for PR 1270
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#18026 Conflict read/query support.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncConflict.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Conflict.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ConflictResolutionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosConflictProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosConflictRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConflictTestPojo.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ConflictTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosConflictsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/MultiMasterConflictResolutionTest.java
  sdk/cosmos/azure-cosmos/src/test/resources/conflict-resolver-sproc
Labels: Cosmos

#18089 Sync eng/common directory with azure-sdk-tools for PR 1274
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#18097 Updated direct connection config docs
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
Labels: Cosmos

#18093 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos

#18096 Sync eng/common directory with azure-sdk-tools for PR 1273
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#18101 [SB T2 javadoc bus bash ] javadoc / samples updates
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientJavaDocCodeSamples.java
Labels: Service Bus

#18071 modify AzureOAuth2ResponseErrorHandler.class name and add notes.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADConditionalAccessResponseErrorHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuthenticationFailureHandler.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADConditionalAccessResponseErrorHandlerTest.java
Labels: azure-spring

#17872 add spring security resource server sample
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/docs/image-app-id-uri-config.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/docs/image-register-an-application.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/docs/image-scope-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/docs/image-select-new-registration.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/java/com/azure/spring/sample/aad/AzureADOAuth2ResourceServerSampleApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2ResourceServerSecurityConfig.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring, azure-spring-aad

#18099 Added support for file key
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributes.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBlobFileAttributes.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AttributeViewTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AttributeViewTestazurebasicfileattributeviewreadattributes.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AttributeViewTestazureblobfileattributeviewreadattributes.json
Labels: Storage

#18130 4.10.0 release PR
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos

#18111 Remove the old configuration
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2LoginSecurityConfig.java
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationServerEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFailureHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2ErrorCode.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/Membership.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/ServiceEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/ServiceEndpointsProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/main/resources/aad-oauth2-common.properties
  sdk/spring/azure-spring-boot/src/main/resources/service-endpoints.properties
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/AADOAuth2LoginConfigSample.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterPropertiesTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADOAuth2ConfigTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/MicrosoftGraphConstants.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/TestConstants.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalAzureADGraphTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalManagerAudienceTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Labels: azure-spring, azure-spring-aad

#18135 Update version for spring boot starter parent
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-stateless/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-resource/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-cache/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management-web/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-messaging/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-queue-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin-web-service/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-eventhubs/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-storage-queue/pom.xml
  sdk/spring/azure-spring-boot-test-aad/pom.xml
  sdk/spring/azure-spring-boot-test-application/pom.xml
  sdk/spring/azure-spring-boot-test-core/pom.xml
  sdk/spring/azure-spring-boot-test-cosmos/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/KeyVaultIT.java
  sdk/spring/azure-spring-boot-test-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-storage/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring/scripts/replace_util.py
Labels: App Configuration, Cosmos, azure-spring

#18146 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Cosmos

#18128 Changed method used to check Key Vault connectivity for Spring Boot Starter
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultOperation.java
Labels: azure-spring

#18095 Nio check access
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBlobFileAttributeView.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureDirectoryStream.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileStore.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystem.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzurePath.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/CompositeTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccess.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessaccessdenied[0].json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessaccessdenied[1].json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessaccessdenied[2].json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessfsclosed.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessioexception.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessnofile.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestcheckaccessroot.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/CompositeTestfilescreatedirs.json
Labels: Storage

#17741 On branch edburns-msft-17740-keyvault-certificates-properties Fixes #17740
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/src/main/java/com/azure/spring/security/keyvault/certificates/starter/KeyVaultCertificatesEnvironmentPostProcessor.java
Labels: azure-spring

#18169 mgmt, upgrade lite generator to 4.0.6
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#18136 Add refresh token converter to fix scopes error
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOauth2RefreshTokenGrantRequestEntityConverter.java
Labels: azure-spring, azure-spring-aad

#18170 Remove unused configuration for two resource-server samples
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/resources/application.properties
Labels: azure-spring, azure-spring-aad

#18162 Fix integration test failure.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/ClientRegistrationDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/ClientRegistrationMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/DefaultOAuth2UserMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/DefaultOidcUserMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/JsonNodeUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AccessTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthenticationExceptionMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthenticationTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthorizationRequestDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthorizationRequestMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthorizedClientMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2ClientJackson2Module.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2ErrorMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2RefreshTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2UserAuthorityMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcIdTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcUserAuthorityMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcUserInfoMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/StdConverters.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/UnmodifiableMapDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/UnmodifiableMapMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/package-info.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/Memberships.java
Labels: azure-spring, azure-spring-aad

#18163 rename method
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AzureActiveDirectoryConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#18181 Sync eng/common directory with azure-sdk-tools for PR 1285
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#18158 Sanitize Non-Proxy Host Configurations
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/BufferedReactorNettyHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/DeferredHttpProxyProvider.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilderTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/ProxyOptionsTests.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/ListOperations.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/ListOperationsAsync.java
Labels: Azure.Core, Client, HttpClient

#18166 Fix displayName in pipeline.
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Cosmos

#18100 Update skipPackageJson variables ci.yml for spring boot starter
  eng/pipelines/templates/stages/archetype-java-release.yml
  sdk/spring/ci.yml
  sdk/template/ci.yml
Labels: azure-spring

#18143 Update CHANGELOG for AAD features
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring, azure-spring-aad

#18193 Changed 'exports' to 'opens' for Azure Core dpendency in Key Vault Administration module-info
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/module-info.java
Labels: Client, KeyVault

#18086 Test code coverage publishing
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/eventhubs/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
  sdk/template/pom.xml
Labels: Azure.Core, Event Hubs, Schema Registry

#18216 Sync eng/common directory with azure-sdk-tools for PR 1287
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#18173 Add scopes for on-demand=true client
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADWebApiClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADWebApiConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADWebApiConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
Labels: azure-spring

#18109 SpringCloud and SpringBoot version schema
  sdk/spring/VERSIONSCHEMA.md
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
Labels: azure-spring

#18209 Update spring boot parent version
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-cloud-foundry-service-sample/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-stateless/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-data-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-resource/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-cache/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management-web/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-messaging/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-queue-operation/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin-web-service/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-data-sample-gremlin/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-eventhubs/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-storage-queue/pom.xml
  sdk/spring/azure-spring-boot-test-aad/pom.xml
  sdk/spring/azure-spring-boot-test-application/pom.xml
  sdk/spring/azure-spring-boot-test-core/pom.xml
  sdk/spring/azure-spring-boot-test-cosmos/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot-test-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-storage/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring/scripts/spring_managed_external_dependencies.txt
  sdk/spring/scripts/update_external_dependencies_by_spring.py
Labels: App Configuration, Cosmos, azure-spring

#18079 For BI purpose, add http headers when use authorizationCode to get accessToken.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/utils/ApplicationId.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
Labels: azure-spring, azure-spring-aad

#18240 fix typos
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#18257 Modify ZhiHao's msal cache PR
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
Labels: azure-spring, azure-spring-aad

#18255 mgmt, set flatten-payloads to true, as generator would default it to false in new versions
  eng/mgmt/automation/parameters.py
  sdk/resourcemanager/gulpfile.js
Labels: Mgmt - Track 2

#18266 Increment version for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Event Grid

#18242 mgmt add script to update single-service packages
  sdk/resourcemanager/autocent.js
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
  sdk/resourcemanager/package.json
Labels: Mgmt - Track 2

#18044 mgmt append introduction for lite packages
  sdk/resourcemanager/README.md
Labels: Mgmt - Track 2

#18092 Converting cosmos exception into json format
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosExceptionTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/AddressSelectorTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/MultiMasterConflictResolutionTest.java
Labels: Cosmos

#18185 Update smoke test pipeline to run samples directories in matrix
  common/smoke-tests-samples/Initialize-SmokeTests.ps1
  common/smoke-tests-samples/README.md
  common/smoke-tests-samples/pom.xml
  common/smoke-tests-samples/smoke-tests.yml
  common/smoke-tests-samples/src/main/java/com/azure/smoke/test/core/RunSmokeTest.java
  common/smoke-tests/smoke-test-dependencies.yml
  common/smoke-tests/smoke-test-job.yml
  common/smoke-tests/smoke-test-samples.yml
  common/smoke-tests/smoke-test.yml
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/PeekMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAndSettleAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAutoLockRenewal.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveNamedSessionAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveNamedSessionSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveSingleSessionAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/Sample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendMessageBatchSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendScheduledMessageAndCancelAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendSessionMessageAsyncSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java
  sdk/servicebus/test-resources.json
Labels: Central-EngSys

#18274 [Communication] - SMS - Remove 401 check from SMS bad sig test
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveClientTests.java
Labels: Communication

#18236 SB : Sample Disable queue from administration client
  sdk/servicebus/azure-messaging-servicebus/src/samples/README.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/AdministrationClientUpdateQueueSample.java
Labels: Service Bus

#18256 Remove unused configuration items in AADLoginIT
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/login/AADLoginIT.java
Labels: azure-spring

#18258 Delete unnecessary configuration in DefaultAzureOAuth2Configuration
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
Labels: azure-spring

#18260 Add new feature descriptions and examples in aad starter readme
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-platform-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/ClientController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/OnDemandClientController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/utils/JsonMapper.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/templates/index.html
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/AADAuthenticationFilterConfigSample.java
  sdk/spring/pom.xml
Labels: azure-spring

#18221 Enable code coverage reporting for all services
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/anomalydetector/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/communication/pom.xml
  sdk/core/pom.xml
  sdk/cosmos/pom.xml
  sdk/digitaltwins/pom.xml
  sdk/eventgrid/pom.xml
  sdk/eventhubs/pom.xml
  sdk/formrecognizer/pom.xml
  sdk/identity/pom.xml
  sdk/keyvault/pom.xml
  sdk/metricsadvisor/pom.xml
  sdk/monitor/pom.xml
  sdk/schemaregistry/pom.xml
  sdk/search/pom.xml
  sdk/servicebus/pom.xml
  sdk/storage/pom.xml
  sdk/synapse/pom.xml
  sdk/tables/pom.xml
  sdk/textanalytics/pom.xml
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Cosmos, DigitalTwins, Event Grid, Event Hubs, KeyVault, Schema Registry, Search, Service Bus, Storage

#18268 add test case for AADB2COidcLoginConfigurer OAuth2 Additional Parameters
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolverTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
Labels: azure-spring

#18297 Add OAuth2AuthorizedClientProvider in AzureAuthorizedClientRepository
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOauth2RefreshTokenGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
Labels: azure-spring

#18269 Add test for RefreshToken scopes
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/converter/AADWebAppRefreshTokenConverterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/login/AADLoginIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/oauth/OAuthLoginUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/PropertiesUtils.java
Labels: azure-spring

#18316 [Communication] - Common - Adding MicrosoftTeamsUserIdentifier
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftTeamsUserIdentifier.java
Labels: Communication

#18311 Enable code coverage reporting for Spring
  sdk/spring/pom.xml
Labels: azure-spring

#18317 Remove the old configuration from AADLoginIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/login/AADLoginIT.java
Labels: azure-spring

#18308 add post logout redirectUri
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Labels: azure-spring

#18117 Update AADAppRoleStatelessAuthenticationFilter and AADAuthenticationFilter Javadoc
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
Labels: azure-spring, azure-spring-aad

#18315 Enable coverage reports for resourcemanager directory
  sdk/resourcemanager/pom.xml
  sdk/template/pom.xml
Labels: EngSys

#18309 mgmt fix VirtualNetworkGatewayConnection shared key update
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/VirtualNetworkGatewayConnectionImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/VirtualNetworkGatewayConnectionsImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/VirtualNetworkGatewayConnections.java
Labels: Mgmt - Track 2

#18322 Add test: accessTokenScopesIT
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/converter/AADWebAppRefreshTokenConverterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/converter/RefreshTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/login/AADLoginIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/oauth/SeleniumTestUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthzCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/PropertiesUtils.java
Labels: azure-spring

#18288 Add aad obo integration test case
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-test-aad-obo/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-aad-obo/README.md
  sdk/spring/azure-spring-boot-test-aad-obo/pom.xml
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/oauth/OAuthResponse.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/oauth/OAuthUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AzureJwtAudienceValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AzureJwtClaimValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AzureJwtIssuerValidator.java
  sdk/spring/pom.xml
  sdk/spring/scripts/replace_util.py
  sdk/spring/tests.yml
Labels: azure-spring, azure-spring-aad

#18319 Fixed Event Hubs Sample issues #16872
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishIterableEvents.java
Labels: Event Hubs

#18261 Add new webapi sample link in azure-spring-boot README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/java/com/azure/spring/sample/aad/AzureAdIntegrationSpringBootAutoconfigureSampleApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/java/com/azure/spring/sample/aad/controller/TodoListController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/java/com/azure/spring/sample/aad/model/TodoItem.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/java/com/azure/spring/sample/aad/security/WebSecurityConfig.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/app.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/homeCtrl.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/indexCtrl.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/msal.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/msalModule.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/todoListCtrl.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/todoListSvc.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Scripts/userDataCtrl.js
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Views/Home.html
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Views/TodoList.html
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/App/Views/UserData.html
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-with-filter/src/main/resources/static/index.html
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-app-id-uri-config.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-register-an-application.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-scope-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-select-new-registration.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/AzureADOAuth2ResourceServerSampleApplication.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2ResourceServerSecurityConfig.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-spring-security-resource-server/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/ci.yml
  sdk/spring/pom.xml
Labels: azure-spring, azure-spring-aad

#18331 Change package name in aad test module
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/AADTestUtils.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/OAuthResponse.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADLoginIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/RefreshTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/SeleniumTestUtils.java
Labels: azure-spring, azure-spring-aad

#18333 Modify the configuration of post-logout-redirect-uri to support springboot 2.2.x version.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureOAuth2Configuration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Labels: azure-spring

#18346 mgmt cleanup unused class
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/Components1Q1Og48SchemasManagedclusterAllof1.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/ComponentsQit0EtSchemasManagedclusterpropertiesPropertiesIdentityprofileAdditionalproperties.java
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/src/main/java/com/azure/resourcemanager/trafficmanager/implementation/ProxyResourceInner.java
Labels: Mgmt - Track 2

#18302 remove updating rotating dependencies and handle network error
  eng/versioning/external_dependencies.txt
  sdk/spring/scripts/spring_managed_external_dependencies.txt
  sdk/spring/scripts/update_external_dependencies_by_spring.py
Labels: azure-spring

#18332 add scopes for graph and office client in test and sample
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/RefreshTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/accessTokenScopes/AccessTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/login/AADLoginIT.java
Labels: azure-spring, azure-spring-aad

#18353 Fix integration test failure
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/group/count/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/stateful/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/filter/stateless/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/access/token/scopes/AccessTokenScopesIT.java
Labels: azure-spring

#18312 Add AADDatabindModule
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADClientRegistrationDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADClientRegistrationMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADDatabindModule.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADJsonNodeUtil.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADOAuth2AccessTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADOAuth2AuthorizedClientMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADOAuth2RefreshTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADStdConverters.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADUnmodifiableMapDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/AADUnmodifiableMapMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/ClientRegistrationMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/DefaultOAuth2UserMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/DefaultOidcUserMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/JsonNodeUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthenticationExceptionMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthenticationTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthorizationRequestDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2AuthorizationRequestMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2ClientJackson2Module.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2ErrorMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2RefreshTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OAuth2UserAuthorityMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcIdTokenMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcUserAuthorityMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/OidcUserInfoMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/jackson/package-info.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
Labels: azure-spring

#18349 Update README.md file in the azure-spring-boot-sample-active-directory-webapp
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-add-a-platfform.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-add-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-api-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-app-add-url.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-creat-secrets-app.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-final.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-grant-permission.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-platform-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-protal-manage.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/docs/image-register-a-web-app.png
Labels: azure-spring, azure-spring-aad

#18356 Rename java classes: Use AAD prefix.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2ResourceServerSecurityConfig.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2LoginSecurityConfig.java
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthenticatedPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AADJwtAudienceValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AADJwtClaimValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AADJwtIssuerValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADAuthenticationFailureHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2Error.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AzureAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/ConditionalAccessResponseErrorHandler.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad/AADOAuth2LoginConfigSample.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADJwtBearerTokenAuthenticationConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/validator/AADJwtAudienceValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/validator/AADJwtIssuerValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/ConditionalAccessResponseErrorHandlerTest.java
Labels: azure-spring, azure-spring-aad

#18207 Create obo clientRegistration Repo
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yaml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/ClientRegistrationInitialization.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2AuthenticatedPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADWebApiClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADWebApiConfiguration.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerOboConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADWebApiConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#18363 Add changelog for post logout redirect uri
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#18358 Add tenantId in AADAuthorizationServerEndpoints.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADAuthorizationServerEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalManagerAudienceTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Labels: azure-spring

#18347 Add wiki to tell how to run AAD integration test in localhost.
  sdk/spring/azure-spring-boot-test-aad/HOW_TO_RUN_AAD_INTEGRATION_TEST_IN_LOCALHOST.md
  sdk/spring/azure-spring-boot-test-aad/images/add-api-permission.png
  sdk/spring/azure-spring-boot-test-aad/images/allow-implicit-flow.png
  sdk/spring/azure-spring-boot-test-aad/images/change-password.png
  sdk/spring/azure-spring-boot-test-aad/images/copy-tenant-id.png
  sdk/spring/azure-spring-boot-test-aad/images/create-aad-multitenant-client.png
  sdk/spring/azure-spring-boot-test-aad/images/create-user1.png
  sdk/spring/azure-spring-boot-test-aad/images/created-a-new-tenant.png
  sdk/spring/azure-spring-boot-test-aad/images/open-inPrivate-window.png
  sdk/spring/azure-spring-boot-test-aad/images/role-user.png
Labels: azure-spring, azure-spring-aad

#18359 mgmt, fix issue caused by service
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/IpFilterTag.java
Labels: Mgmt - Track 2

#18370 add empty java doc and sources
  sdk/spring/azure-spring-cloud-starter-cache/pom.xml
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-cloud-starter-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-storage-queue/pom.xml
Labels: azure-spring

#18362 Rename the 'azure.activedirectory.authorization' to 'azure.activedirectory.authorization-clients'
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/access/token/scopes/AccessTokenScopesIT.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerOboConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AuthorizedClientRepoTest.java
Labels: azure-spring

#18375 exclude unimported poms
  sdk/spring/scripts/update_spring_managed_external_dependencies.py
Labels: azure-spring

#18371 Delete conditional access related configuration.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
Labels: azure-spring

#18357 update aad changelog and readme
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring, azure-spring-aad

#18381 Fix Spring nightly build pipeline
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/pom.xml
Labels: azure-spring

#18374 Remove 'tokenUri' and 'jwkSetUri' for AADResourceServerOboConfiguration
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yaml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADOAuth2OboAuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
Labels: azure-spring, azure-spring-aad

#18373 Make allowed groups optional
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADAuthorizationServerEndpoints.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADUserGroupsPropertyValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalManagerAudienceTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Labels: azure-spring

#18383 add a table to display properties
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring, azure-spring-aad

#18385 Improve obo sample logic
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/java/com/azure/spring/sample/aad/controller/SampleController.java
Labels: azure-spring, azure-spring-aad

#18377 Update aad starter readme
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring, azure-spring-aad

#18372 Update README.md file in the resource-server-obo
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/docs/image-aad-obo-flow.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/docs/image-add-grant-admin-consent.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/docs/image-add-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/docs/image-resource-server-obo-add-scope.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/docs/image-select-myapis.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/resource/resource-server-obo-add-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/resource/resource-server-obo-add-scope.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/java/com/azure/spring/sample/aad/controller/SampleController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yaml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yml
Labels: azure-spring, azure-spring-aad

#18361 Update README.md file in the azure-spring-boot-sample-active-directory-resource-server
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-add-a-scope.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-add-custom-apis-to-webapp.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-add-resource-server.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-app-id-uri-config.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-creat-secrets-api.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-expose-api.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-final.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-granted-permission.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-protal-manage.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-register-a-web-api.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-register-an-application.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-scope-configurations.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-select-new-registration.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/docs/image-set-application-id-url.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/resources/application.yml
Labels: azure-spring, azure-spring-aad

#18388 Fix DateTimeFormatter Pattern and Jacoco Coverage Configuration
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationClientCredential.java
Labels: Communication

#18348 Vijay idle receiver cpu
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/servicebus/microsoft-azure-servicebus/README.md
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/MessageAndSessionPump.java
  sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/primitives/CoreMessageReceiver.java
  sdk/servicebus/microsoft-azure-servicebus/src/test/java/com/microsoft/azure/servicebus/ClientSessionTests.java
  sdk/servicebus/microsoft-azure-servicebus/src/test/java/com/microsoft/azure/servicebus/MessageAndSessionPumpTests.java
Labels: Service Bus

#18393 add external dependencies for webapi in readme
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring

#18340 WIP: Fix contract on Key Vault broken with premature merge #17741
  .gitignore
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/sample/com/azure/security/keyvault/jca/ClientSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/sample/com/azure/security/keyvault/jca/ServerSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AuthClientTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameterTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/src/main/resources/application.properties
Labels: KeyVault, azure-spring

#18380 Add SAS credential and policy.
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AzureSasCredential.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AzureSasCredentialPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/CredentialsTests.java
Labels: Azure.Core

#18396 make aad obo autoconfiguration depend on aad.client-id
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerOboConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerOboConfigurationTest.java
Labels: azure-spring, azure-spring-aad
