Repository Azure/azure-sdk-for-java, pull requests merged in 2020-01, with the labels that each got.

#7092 Move version and product name from amqp to event hubs library
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClientConstants.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MockReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/resources/azure-messaging-eventhubs.properties
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
Labels: Client, Event Hubs

#7073 Added async samples and refactored sync samples
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/AnalyzeSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/AnalyzeSentimentAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/ExtractKeyPhrases.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/ExtractKeyPhrasesAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/HelloWorld.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/HelloWorldAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizeEntities.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizeEntitiesAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizeLinkedEntities.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizeLinkedEntitiesAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizePii.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/RecognizePiiAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/AnalyzeSentimentBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/AnalyzeSentimentBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DetectLanguageBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DetectLanguageBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/ExtractKeyPhrasesBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/ExtractKeyPhrasesBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeEntitiesBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeEntitiesBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeLinkedEntitiesBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeLinkedEntitiesBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiBatchDocumentsAsync.java
Labels: Client, Text Analytics

#7098 Initial update for January 2020 release
  README.md
Labels: Client, Docs

#7074 AAD sample and README revised, and correct indentation
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/AadAuthentication.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
Labels: AzConfig, Client

#7123 Port from v2.6 | Default Direct TCP Options feature to v3
  sdk/cosmos/CODEOWNERS
  sdk/cosmos/changelog/README.md
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestTimer.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/internal/directconnectivity/RntbdTransportClientTest.java
Labels: Cosmos, cosmos:needs-v4-port, cosmos:v3-item, cosmos:v4-item

#7130 Reactor netty connection pooling
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/http/ReactorNettyClient.java
Labels: Cosmos, cosmos:needs-v4-port, cosmos:v3-item, cosmos:v4-item

#7121 connectionString() method should throw IllegalArgurmentException
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Labels: AzConfig, Client

#7116 add release info for 2020 January
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Labels: AzConfig, Client

#7127 Use standard scheduler and dispose of Integration test one
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorClientAggregateEventsSample.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
Labels: Client, Event Hubs

#7100 Update Event Hubs and azure-core-amqp current versions and CHANGELOG to GA
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/update_versions.py
  eng/versioning/version_client.txt
  eng/versioning/version_client_java_files.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-tracing-opencensus/src/samples/PublishEvents.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/PublishEventsTracingSample.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Client, Event Hubs

#7109 Print Test Name Before Running
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
Labels: Client, Storage

#7151 Update AzConfig release version to 1.0.1
  CONTRIBUTING.md
  eng/jacoco-test-coverage/pom.xml
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/core/azure-core-tracing-opentelemetry/src/samples/CreateConfigurationSettingTracingSample.md
Labels: AzConfig, Client

#7161 release update and minor fix
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
Labels: AzConfig, Client

#7124 Port from v2.6 | Default Direct TCP Options feature to v4
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestTimer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
  sdk/cosmos/changelog/README.md
Labels: Cosmos, cosmos:v3-item, cosmos:v4-item

#7175 Improve logging and update consumer close logic
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/Messages.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/resources/com/azure/messaging/eventhubs/checkpointstore/blob/messages.properties
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobEventProcessorClientStoreTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
Labels: Client, Event Hubs

#7090 Recreating connections on transient failures
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpRetryPolicy.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessorTest.java
Labels: Client, Event Hubs

#7166 Fixes NullReferenceException when using long running producer
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ActiveClientTokenManager.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ActiveClientTokenManagerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AzureTokenManagerProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySendTest.java
Labels: Client, Event Hubs

#7253 Fix for Cosmos dev feed packages
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: EngSys

#6661 Move SpotBugs Analysis to Module References
  eng/.docsettings.yml
  eng/pipelines/client.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/spotbugs-aggregate-report/pom.xml
  pom.client.xml
  sdk/e2e/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/AnalyzeSentimentAsync.java
Labels: EngSys

#7278 README udpate
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
Labels: AzConfig, Client

#7254 Added codesnippet for sync client and builder
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/DetectLanguage.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/ReadmeSamples.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/analyseSentimentForFaultyText.json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/analyseSentimentForTextInput.json
Labels: Client, Text Analytics

#7291 Update Event Hubs and Checkpoint Store READMEs
  eng/.docsettings.yml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/samples/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/README.md
Labels: Client, Event Hubs

#7289 Finalized Text Analytics and prepare to release Text Analytics Preview 1
  eng/docgeneration/service-mapper.json
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Text Analytics

#7321 Remove SpotBugs Upload Step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#7306 Retry transient send errors that occur on Event Hubs Producer
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
Labels: Client, Event Hubs

#7335 Make azure resource creation can be disabled.
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: EngSys

#7343 Fix dyanmic resource deprovision
  eng/New-TestResources.ps1
  eng/Remove-TestResources.ps1
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#7363 Disable feature CI builds by default.
  sdk/appconfiguration/ci.yml
  sdk/applicationinsights/ci.yml
  sdk/authorization/ci.yml
  sdk/batch/ci.yml
  sdk/cognitiveservices/ci.yml
  sdk/core/ci.yml
  sdk/cosmos/ci.yml
  sdk/eventgrid/ci.yml
  sdk/eventhubs/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.yml
  sdk/loganalytics/ci.yml
  sdk/mediaservices/ci.yml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/spring/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys

#7336 Continue to use same .receive() method on disconnection
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/Handler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AzureTokenManagerProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
Labels: Client, Event Hubs

#6877 [After Jan 7] Removing dependency on java.desktop module.
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/module-info.java
Labels: Azure.Identity

#7227 Direct TCP | Add support for request timelines to be used in diagnostic strings
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestTimeline.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestArgs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/pom.xml
Labels: Cosmos, cosmos:v4-item

#7386 Feature/release verify
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/versioning/scan_for_unreleased_dependencies.ps1
  eng/versioning/set_versions.py
  eng/versioning/version_client.txt
  sdk/appconfiguration/ci.yml
  sdk/applicationinsights/ci.yml
  sdk/authorization/ci.yml
  sdk/batch/ci.yml
  sdk/cognitiveservices/ci.yml
  sdk/core/ci.yml
  sdk/cosmos/ci.yml
  sdk/eventgrid/ci.yml
  sdk/eventhubs/ci.data.yml
  sdk/eventhubs/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.data.yml
  sdk/keyvault/ci.yml
  sdk/loganalytics/ci.yml
  sdk/mediaservices/ci.yml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/spring/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys

#7401 fixes some bugs and add tests to improve code coveragwe
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ClientConstants.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/SettingSelectorTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/defaultPipeline.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/emptyConnectionString.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/invalidConnectionStringSegmentCount.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/malformedURLExceptionForEndpoint.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/missingEndpoint.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/missingId.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/missingSecretKey.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/nullAADCredential.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/nullConnectionString.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/nullServiceVersion.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/resources/session-records/timeoutPolicy.json
Labels: AzConfig, Client

#7479 Replace AutoCloseable with reactor's Disposable. Retry and timeout fixes
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpLink.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSessionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/LinkHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorConnectionIntegrationTest.java
Labels: Client, Event Hubs

#7430 Fix cancellation handling
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests-pre-sdk.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/cache-maven-repository.yml
Labels: EngSys

#7512 Fix up SDKType parameter condition.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#7489 Moving aggregate reports out of the unified pipelines.
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#7556 DocWarden version lock-down.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#6053 Add markdown for code of conduct and pr template
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
Labels: Client, Infrastructure

#7625 Free proton-j Receiver and Reactor resources on close
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpExceptionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorExecutor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
Labels: Client, Event Hubs

#7606 Clean-up aggregate report uploads.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#7666 Upgrade doc-warden to 0.5.0.
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#7670 Move dependencies.json under the eng folder
  eng/DependencyChecker/client_dependencies.json
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/client.yml
Labels: EngSys

#7669 Update Module-Info Jackson Requires
  sdk/core/azure-core-http-netty/src/main/java/module-info.java
  sdk/core/azure-core-http-okhttp/src/main/java/module-info.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/module-info.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-batch/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/module-info.java
  sdk/storage/azure-storage-blob/src/main/java/module-info.java
  sdk/storage/azure-storage-file-share/src/main/java/module-info.java
  sdk/storage/azure-storage-queue/src/main/java/module-info.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/module-info.java
Labels: Azure.Core, Client

#7675 Moving open of send and receive link into reactor dispatcher.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Labels: Client, Event Hubs

#7677 Removing buggy default Content-Type setting in OkHttpAsyncClient
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
Labels: Azure.Core

#7631 Bump KV versions
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: Client, KeyVault

#7629 improve toString to avoid reconstructing constant string values
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ConflictResolutionMode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ConsistencyLevel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DataType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/IndexKind.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/IndexingDirective.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/IndexingMode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/PartitionKind.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/PermissionMode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/SpatialType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TriggerOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TriggerType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Strings.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressInformation.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/AddressSelectorTest.java
Labels: Client, Cosmos

#7701 Add missing header field in CBS request.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/SessionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
Labels: Client, Event Hubs

#7495 Migration: Java perf framework + Storage perf tests
  sdk/.gitignore
  sdk/core/azure-perfstress/pom.xml
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/CircularFlux.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/CircularStream.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/CountOptions.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/ExceptionTest.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/NoOpTest.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/PerfStressHttpClient.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/PerfStressOptions.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/PerfStressProgram.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/PerfStressTest.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/RandomFlux.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/RandomStream.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/SizeOptions.java
  sdk/core/azure-perfstress/src/main/java/com/azure/perfstress/SleepTest.java
  sdk/storage/perf-test/pom.xml
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/App.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/DownloadTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/GetBlobsTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/UploadBlockBlobTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/UploadFromFileTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/UploadOutputStreamTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/UploadTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/core/ContainerTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/core/RandomBlobTest.java
  sdk/storage/perf-test/src/main/java/com/azure/storage/blob/perfstress/core/ServiceTest.java
Labels: Client

#7736 Recreate HMAC algorithm every time a signature is generated.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubSharedKeyCredential.java
Labels: Event Hubs

#7734 Code coverage in aggregate reports
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/aggregate-reports.yml
Labels: EngSys

#7593 Add Support for Environment Proxy Configurations
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  pom.client.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpProxySelector.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/ProxyOptionsTests.java
Labels: Azure.Core, Client

#7770 disable tests because react-netty aggregate random order of response …
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: AzConfig, Client

#7628 Guava Version Downgrade to 25.0-jre
  THIRD-PARTY-NOTICE.txt
  eng/versioning/external_dependencies.txt
  sdk/cosmos/microsoft-azure-cosmos-benchmark/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-benchmark/src/test/java/com/azure/data/cosmos/benchmark/ReadMyWritesConsistencyTest.java
  sdk/cosmos/microsoft-azure-cosmos-examples/pom.xml
  sdk/cosmos/microsoft-azure-cosmos-examples/src/test/java/com/azure/data/cosmos/DocumentClientTest.java
  sdk/cosmos/microsoft-azure-cosmos/pom.xml
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/Utils.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdContextRequest.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdFramer.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequest.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestFrame.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdResponseStatus.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdToken.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdTokenStream.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdTokenType.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/directconnectivity/rntbd/RntbdUUID.java
  sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/guava27/Strings.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/CosmosClientExceptionTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/CosmosClientTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/DocumentClientTest.java
  sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/rx/DocumentClientResourceLeakTest.java
Labels: Do not merge

#7156 Adding retry context to diagnostics and moving to JSON format
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/BackoffRetryUtility.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClearingSessionContainerClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IRetryPolicyFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InvalidPartitionExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyRangeGoneRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RenameCollectionAwareClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResetSessionTokenRetryPolicyFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceThrottleRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryPolicyWithDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/RxClientCollectionCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DefaultDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosResponseDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RetryUtilsTest.java
Labels: cosmos:v4-item

#7828 Not closing session when a link is closed
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/LinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReceiveLinkHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/LinkHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
Labels: Client, Event Hubs

#7842 Updates to test push script merge changes
  eng/versioning/version_client.txt
  eng/versioning/version_data.txt
Labels: EngSys

#6954 Implement Digest Authorization Support
  THIRD-PARTY-NOTICE.txt
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-http-netty/cgmanifest.json
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/ChallengeHolder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyExceptionHandler.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyHandler.java
  sdk/core/azure-core-http-netty/src/main/java/module-info.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpProxyExceptionHandlerTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpProxyHandlerTests.java
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpProxySelector.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/ProxyAuthenticator.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpClientTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/implementation/ProxyAuthenticatorTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/AuthorizationChallengeHandler.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/AuthorizationChallengeHandlerTests.java
Labels: Azure.Core

#7865 release diabled test back
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: AzConfig, Client

#7875 Update version of com.puppycrawl.tools:checkstyle
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  eng/versioning/external_dependencies.txt
  pom.client.xml
  pom.data.xml
  pom.xml
Labels: Client, Infrastructure
