Repository Azure/azure-sdk-for-java, pull requests merged in 2020-10, with the labels that each got.

#15847 Release version update for cosmos spring
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos

#15843 Update Service Directory tests.yml
  sdk/communication/test-resources.json
  sdk/communication/tests.yml
Labels: Client, Communication, test enhancement

#15828 Disable Maven proxy usage
  eng/settings.xml
Labels: Central-EngSys, EngSys

#15854 Increment version for cosmos releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring

#15842 Added code to return batch failures in results for recursive ACL
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/AccessControlChangeResult.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/AccessControlChanges.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestremoveaclrecursivecontinueonfailurebatchfailures.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestsetaclrecursivecontinueonfailurebatchfailures.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestupdateaclrecursivecontinueonfailurebatchfailures.json
Labels: Storage

#15839 Wrapped continuation token with Exception when recursive acl call is …
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeAclChangeFailedException.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestremoveaclrecursiveerrormiddleofbatches[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestremoveaclrecursiveerrormiddleofbatches[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestsetaclrecursiveerrormiddleofbatches[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestsetaclrecursiveerrormiddleofbatches[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestupdateaclrecursiveerrormiddleofbatches[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestupdateaclrecursiveerrormiddleofbatches[1].json
Labels: Storage

#15836 Implemented equals and hashcode for SqlParameter and JsonSerialzable
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConsistencyPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DatabaseAccount.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Document.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OfferAutoscaleAutoUpgradeProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OfferAutoscaleSettings.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ReplicationPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Resource.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/GroupByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionedQueryExecutionInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionedQueryExecutionInfoInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryItem.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/OrderByRowResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SqlParameter.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SqlParameterTest.java
Labels: Cosmos

#15411 Sync eng/common directory with azure-sdk-tools for PR 1031
  eng/common/scripts/New-ReleaseAsset.ps1
Labels: Central-EngSys, EngSys

#15805 Javadoc sample code generated
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/models/IncomingRelationship.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/RelationshipsSyncSamples.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/CodeSnippetBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/DigitalTwinsAsyncClientJavaDocCodeSnippets.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/DigitalTwinsClientJavaDocCodeSnippets.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipTest.java
Labels: DigitalTwins

#15809 Redact sensitive information from response body in test recordings
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/RecordingRedactor.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/RecordingRedactorTests.java
Labels: Azure.Core

#15860 Fix(pagination): Fix paging APIs - Regenerate from swagger.
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/autorest.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImplBuilder.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinModelsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/EventRoutesImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DigitalTwinModelsListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/Error.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ErrorResponse.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/EventRoute.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/EventRouteCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/EventRoutesListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/IncomingRelationship.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/IncomingRelationshipCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/InnerError.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ModelData.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/PagedModelDataCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/QueryResult.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/QuerySpecification.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/RelationshipCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/package-info.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/ModelsAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/ModelsTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/componentLifecycleTest.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/createEventRouteThrowsIfFilterIsMalformed.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/createModelThrowsIfModelAlreadyExists.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/digitalTwinLifecycle.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/eventRouteLifecycleTest.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/getEventRouteThrowsIfEventRouteDoesNotExist.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/getModelThrowsIfModelDoesNotExist.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/getModelThrowsIfModelIdInvalid.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/listModelsMultiplePages.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/modelLifecycleTest.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/publishTelemetryLifecycleTest.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/relationshipLifecycleTest.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/relationshipListOperationWithMultiplePages.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/twinNotExistThrowsNotFoundException.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/validQuerySucceeds.json
Labels: DigitalTwins

#15808 [TA] Removed length property in model classes of 5.1.0-beta.2
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeSentimentAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeLinkedEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizePiiEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AspectSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CategorizedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LinkedEntityMatch.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/OpinionSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/PiiEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SentenceSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiEntitiesBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiEntitiesBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiEntitiesBatchStringDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizePiiEntitiesBatchStringDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#15844 [Service Bus] Run live tests in the canary region
  sdk/servicebus/tests.yml
Labels: Client, Service Bus, test enhancement

#15863 Updated versions for Storage 74 beta release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#15867 Release prep for 2020-10-01
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
Labels: DigitalTwins

#15859 Add Nightly Test Runs for Core and Identity
  sdk/core/tests.yml
  sdk/identity/tests.yml
Labels: Azure.Core, Azure.Identity, Client, MQ-Testing

#15646 Decouple PagedIterable and PagedFlux to Prevent Background Page Requests
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFluxBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedByItemIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedByIteratorBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedByPageIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedFluxCore.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuationState.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/OnlyOneContinuablePage.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/OnlyOnePageRetriever.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/OnlyOnePagedFlux.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/OnlyOnePagedIterable.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedFluxTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedIterableTest.java
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureDirectoryStreamTestnexthasnextfailafterclose.json
Labels: Azure.Core

#15869 Add digital twins test for pagination of event routes
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/EventRoutesAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/EventRoutesTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/EventRoutesTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/listEventRoutesPaginationWorks.json
Labels: DigitalTwins

#15874 Increment version for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: DigitalTwins

#15875 Prepare Azure Core for October 2020 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: App Configuration, Azure.Core, Client, Event Hubs

#15850 Add EventGrid distributed tracing
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/CloudEvent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClientBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/CloudEventTracingPipelinePolicy.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/Constants.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageEventBaseProperties.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatThreadEventBaseProperties.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/module-info.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/implementation/CloudEventTracingPipelinePolicyTests.java
Labels: Client, Event Grid

#15886 Prepare azure-core-experimental for release
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
Labels: Azure.Core

#15735 Internal: Fixed exception handling around GoneException and RequestTimeoutException
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ReadMyWriteWorkflow.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/Utility.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/resources/log4j2.properties
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/BackoffRetryUtility.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GoneException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestTimeoutException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/FailFastRntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RetryUtilsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/AddressSelectorWrapper.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicyTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientGoneForWriteTest.java
Labels: Cosmos

#15834 Add support for verify peer.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/StrictTlsContext.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/StrictTlsContextSpi.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MockReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/StrictTlsContextSpiTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySendTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/UnnamedSessionManagerTest.java
Labels: Azure.Core, Client, Event Hubs, Service Bus

#15876 Increment version for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Storage

#15896 [CODEOWNERS] Update Code Owners for sdk/communication
  .github/CODEOWNERS
Labels: auto-merge

#15561 Add SNI support in Identity SDK
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MsalAuthenticationAccount.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/CertificateUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/CertificateUtilTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
  sdk/identity/azure-identity/src/test/resources/cert-chain.pem
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity

#15560 Added docs and readme samples for copy blob
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ReadmeSamples.java
Labels: Storage

#15898 Prepare azure-search-documents for October Patch Release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/test/README.md
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-perf/pom.xml
Labels: Client, Search

#15906 Update Patch Release Versions Identity October 2020
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#15818 Added new APIs for querying the status of backup and restore operations in Key Vault backup clients.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/getBackupStatus.json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/getRestoreStatus.json
Labels: KeyVault

#15851 Created classes for parsing certificates, keys and secrets identifiers.
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClientBuilder.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/KeyVaultCertificateIdentifier.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/models/KeyVaultCertificateIdentifierTest.java
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyVaultKeyIdentifier.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/models/KeyVaultKeyIdentifierTest.java
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/models/KeyVaultSecretIdentifier.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/models/KeyVaultSecretIdentifierTest.java
Labels: KeyVault

#15885 Added Key Vault APIs for passing specific polling intervals for long running operations.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/createCertificateNull.json
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTest.java
Labels: KeyVault

#15929 Update ContinuablePagedFluxCore Page Retrieving Logic
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedFluxCore.java
Labels: Azure.Core, Client

#15933 Identity stable versions update october 2020
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/identity/azure-identity/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: App Configuration, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Text Analytics, Cosmos, DigitalTwins, Event Hubs, KeyVault, Schema Registry, Service Bus, Storage, azure-spring

#15814 Support InputStream as input for ClientCertificateCredential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#15962 Add update info
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: auto-merge

#15932 Reduce settlement API on receiver Use Options instead
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/AbandonOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/CompleteOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/DeadLetterOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/DeferOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/models/SettlementOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ManagementChannelTests.java
Labels: Service Bus

#15965 Search Support New Builder Functionality
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchClientBuilderTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SearchIndexClientBuilderTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SearchIndexerClientBuilderTests.java
Labels: Client, Search

#15924 Adding a fix to pick the annotated container name for annotated queries
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/Book.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/BookRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/CosmosAnnotationIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/BookRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
Labels: Cosmos

#15920 Sb BinaryData - Binary representation of data from different sources
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/util/BinaryData.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/util/package-info.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-experimental/src/samples/java/com/azure/core/experimental/util/BinaryDateJavaDocCodeSnippet.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/util/BinaryDataTest.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/util/Person.java
Labels: Azure.Core

#15994 Update EventGrid readme and changelog to use version 2.0.0-beta.3
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Labels: Client, Event Grid

#15927 Adding diagnostic in CTL run for higher latency requests
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/BenchmarkRequestSubscriber.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
Labels: Cosmos

#15989 Prep to release core-experimental
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
Labels: Azure.Core

#15992 Prepare Search for October 2020 Beta Release
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Client, Search

#15995 update changelog identity beta
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#15963 [TA+FR] Prepares TA and FR October release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive - Text Analytics

#16003 Increment version for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#16004 Increment version for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
Labels: Azure.Core

#16001 Update Search Large Document Set Test
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchIndexingBufferedSenderTests.java
Labels: Client, Search

#15996 [AppConfig] Prepares for October release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
Labels: App Configuration, Client

#15921 Add `ARRAY_CONTAINS` CriteriaType
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/Person.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/MultiCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CriteriaType.java
Labels: Cosmos, customer-reported

#15919 Increment version for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: App Configuration, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Text Analytics, Cosmos, DigitalTwins, Event Hubs, KeyVault, Schema Registry, Service Bus, Storage, azure-spring

#16012 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#16019 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
Labels: App Configuration

#15909 Sync eng/common directory with azure-sdk-tools for PR 1052
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Labels: Central-EngSys, EngSys

#16017 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#15997 Fix Paging Samples That Produce NullPointerExceptions
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableBaseJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/paging/PagedFluxCoreJavaDocCodeSnippets.java
Labels: Azure.Core, Client

#16038 Add Raw JSON Accepting APIs to JsonPatchDocument
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/jsonpatch/JsonPatchDocument.java
  sdk/core/azure-core-experimental/src/samples/java/com/azure/core/experimental/jsonpatch/JsonPatchDocumentJavaDocCodeSnippet.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/jsonpatch/JsonPatchDocumentTests.java
Labels: Azure.Core, Client

#15966 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-administration/CHANGELOG.md
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge

#16034 Porting SessionTokenMismatchRetryPolicy from .Net-SDK
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReaderTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientTest.java
Labels: Cosmos

#16032 Handling SslException on channel close
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
Labels: Cosmos

#15846 Remove BinaryData Type from core-amqp
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/AmqpDataBody.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/BinaryData.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/AmqpAnnotatedMessageTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/AmqpDataBodyTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/BinaryDataTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceivedMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
Labels: Azure.Core, Service Bus

#16040 Sync eng/common directory with azure-sdk-tools for PR 1066
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#16037 Sync eng/common directory with azure-sdk-tools for PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#16043 Adding link references to the pom.xml
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#16074 Made share tier tests more reliable
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
Labels: Storage

#16080 Updated README/CHANGELOG for beta release of blobs
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
Labels: Storage

#16079 Updated azure-core dependency to 1.9.0 (Released)
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
Labels: Azure.Core

#16090 Remove digital twins API doc
  sdk/digitaltwins/azure-digitaltwins-core/API design.md
Labels: DigitalTwins

#15235 Fix send span to encapsulate multiple retries and use shared context
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TracerProvider.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/TracerProviderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageBatch.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusMessageBatchTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderClientTest.java
Labels: Azure.Core, Service Bus

#16073 Communication - Remove phone number administration local swagger
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/implementation/PhoneNumberAdministrationsImpl.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/PhoneNumberEntity.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/models/UpdatePhoneNumberCapabilitiesResponse.java
  sdk/communication/azure-communication-administration/swagger/PNM_Swagger.json
  sdk/communication/azure-communication-administration/swagger/README.md
Labels: Communication

#16069 Increment version for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#16091 Added date to internal avro changelog for release
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
Labels: Storage

#15998 Communication - Added Phone Number Administration Create Search LRO
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberAsyncClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberClient.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberIntegrationTestBase.java
  sdk/communication/azure-communication-administration/src/test/resources/session-records/beginCreateSearch.json
Labels: Client, Communication

#15852 [Event Hubs] Check connection status of each partition periodically
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
Labels: Azure.Core, Event Hubs

#15582 Add integration test module for appconfiguration
  .github/CODEOWNERS
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config-test/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config-test/src/test/java/com/microsoft/azure/spring/cloud/config/SampleIT.java
  sdk/appconfiguration/ci.yml
  sdk/appconfiguration/pom.xml
  sdk/appconfiguration/tests.yml
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/scripts/replace_util.py
Labels: App Configuration, azure-spring

#16075 Updated versions and CHANGELOG for the October 2020 Key Vault release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault

#15826 mgmt, keyvault refactor, avoid GET when list keys/secrets
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/test/java/com/azure/resourcemanager/appplatform/SpringCloudLiveOnlyTest.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/KeyImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/KeysImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/SecretImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/SecretsImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Key.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Secret.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/SecretTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appplatform/samples/ManageSpringCloud.java
Labels: Mgmt - Track 2

#16025 Add tests.yml and test resources file to template.
  sdk/template/test-resources.json
  sdk/template/tests.yml
Labels: Central-EngSys, EngSys

#16102 Increment version for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: App Configuration, Azure.Identity, KeyVault, azure-spring

#16096 Sync eng/common directory with azure-sdk-tools for PR 1083
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#15645 Internal: Fixed NPE in dotnet benchmark tool when concurrency is very high
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/ParallelExecutionStrategy.java
Labels: Cosmos

#16086 Updated CHANGELOGs and READMEs for the October 2020 Key Vault Beta release.
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Labels: KeyVault

#16122 Cache partitions after first fetch
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
Labels: Event Hubs

#16129 modify timer as static
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java
Labels: azure-spring

#16123 Increment version for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity, KeyVault

#16130 mgmt, support webapp with windows container
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/AppServiceBaseImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/DeploymentSlotBaseImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/DeploymentSlotImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionDeploymentSlotImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/WebAppBaseImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/WebAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/DeploymentSlot.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/DeploymentSlotBase.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/FunctionDeploymentSlot.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/PricingTier.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/WebApp.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/WebAppBase.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionDeploymentSlotsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/WebAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/resources/session-records/FunctionDeploymentSlotsTests.canCRUDFunctionSlots.json
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/resources/session-records/WebAppsTests.canCRUDWebAppWithContainer.json
Labels: Mgmt - Track 2

#16103 mgmt, update README with latest dependency, also force latest core version in pom
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt - Track 2

#16143 fix bug of creating refreshing tasks accumulatively when refresh context
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java
Labels: azure-spring

#16145 mgmt, exclude netty httpclient from data-plane lib
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
Labels: Mgmt - Track 2

#15801 Use 'tenant-id' instead of 'common' in ClientRegistration.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/src/main/resources/application.properties
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/test/utils/AppRunner.java
  sdk/spring/azure-spring-boot-test-cosmos/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/ActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/DummyApp.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/KeyVaultIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/MultipleKeyVaultsIT.java
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/resources/aad-oauth2-common.properties
  sdk/spring/azure-spring-boot/src/test/resources/aad-backend-oauth2-minimum.properties
Labels: azure-spring

#16139 update keyvault-secrets readme file
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Labels: azure-spring

#16184 Make KeyVaultEnvironmentPostProcessor only work in key-vault-starter
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot/src/main/resources/META-INF/spring.factories
Labels: azure-spring

#15961 Upgrade JCommander Version
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
Labels: Client, Cosmos

#16092 Increment version for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage, azure-spring

#16107 Update azure-core-amqp verison and change log for Oct release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Client

#15223 Remove hard-code repo path from pipeline parameters
  eng/pipelines/docindex.yml
  eng/pipelines/templates/jobs/archetype-sdk-data.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: auto-merge

#15775 Transactional batch for Java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatch.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchOperationResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatchResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchExecUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstant.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchResponseParser.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBatchOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ServerBatchRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/SinglePartitionKeyServerBatchRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestFrame.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/BatchOperationResultTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/BatchTestBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/TransactionalBatchAsyncContainerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/TransactionalBatchTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/BatchResponsePayloadWriter.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/TransactionalBatchResponseTests.java
Labels: Cosmos

#16198 Update JUnit 4 to 4.13.1 to Mitigate CVE
  common/smoke-tests/pom.xml
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/authorization/microsoft-azure-authentication-msi-token-provider/pom.xml
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/e2e/pom.xml
  sdk/eventgrid/microsoft-azure-eventgrid/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-test/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/keyvault/microsoft-azure-keyvault/pom.xml
  sdk/loganalytics/microsoft-azure-loganalytics/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-autoconfigure/pom.xml
  sdk/spring/azure-spring-cloud-context/pom.xml
  sdk/spring/azure-spring-cloud-messaging/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-test/pom.xml
  sdk/spring/azure-spring-cloud-telemetry/pom.xml
  sdk/spring/azure-spring-integration-test/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: App Configuration, Azure.Identity, Batch, Cosmos, Event Hubs, KeyVault, Service Bus, Storage, azure-spring

#16203 Sync eng/common directory with azure-sdk-tools for PR 1081
  eng/common/README.md
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys, auto-merge

#16201 [Event Hubs] Update EventHubs version and dependency SDK versions for Oct release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Client, Event Hubs

#15799 Implement version schema for spring-cloud-azure
  .github/CODEOWNERS
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-test-storage/pom.xml
  sdk/spring/pom.xml
  sdk/spring/scripts/replace_util.py
Labels: azure-spring

#16214 Increment version for eventhubs releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Event Hubs, azure-spring

#16108 mgmt, support enable/disable secret
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/KeyImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/KeysImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/SecretImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/SecretsImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Key.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Secret.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Secrets.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/SecretTests.java
Labels: Mgmt - Track 2

#16188 Add more api in UserPrincipal
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAccessTokenClaim.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADTokenClaim.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AADAppRoleAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalAzureADGraphTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Labels: azure-spring

#16187 Check AAD authorization scopes before configuration
  sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
Labels: azure-spring

#16234 mgmt, switch to WEBSITE_RUN_FROM_PACKAGE for linux web app sample
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/RuntimeStack.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/LinuxWebAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/UtilsTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppBasic.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppSqlConnection.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithDomainSsl.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/appservice/samples/ManageLinuxWebAppWithTrafficManager.java
Labels: Mgmt - Track 2

#16111 Optimize reads/queries to Gateway and only send SessionToken when applicable
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Labels: Cosmos

#16235 update readme and changelog for aad scope updates
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#16204 RntbdBugFix
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequest.java
Labels: Cosmos

#16199 AddAcquireChannelStartedForRntbdTimeline
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#16241 Avoiding ctl workload failure on some write failures
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
Labels: Cosmos

#16247 Add more pagination testing to query and relationship tests
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsServiceVersion.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/EventRoutesAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/EventRoutesTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ComponentsAsyncTests.componentLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ComponentsTests.componentLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipAsyncTest.relationshipLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipAsyncTest.relationshipListOperationWithMultiplePages[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipTest.relationshipLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipTest.relationshipListOperationWithMultiplePages[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesAsyncTest.createEventRouteThrowsIfFilterIsMalformed[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesAsyncTest.eventRouteLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesAsyncTest.getEventRouteThrowsIfEventRouteDoesNotExist[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesAsyncTest.listEventRoutesPaginationWorks[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesTest.createEventRouteThrowsIfFilterIsMalformed[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesTest.eventRouteLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesTest.getEventRouteThrowsIfEventRouteDoesNotExist[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/EventRoutesTest.listEventRoutesPaginationWorks[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsAsyncTest.createModelThrowsIfModelAlreadyExists[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsAsyncTest.getModelThrowsIfModelDoesNotExist[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsAsyncTest.getModelThrowsIfModelIdInvalid[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsAsyncTest.listModelsMultiplePages[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsAsyncTest.modelLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsTest.createModelThrowsIfModelAlreadyExists[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsTest.getModelThrowsIfModelDoesNotExist[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsTest.getModelThrowsIfModelIdInvalid[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsTest.listModelsMultiplePages[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/ModelsTest.modelLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/PublishTelemetryAsyncTests.publishTelemetryLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/PublishTelemetryTests.publishTelemetryLifecycleTest[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/QueryAsyncTests.validQuerySucceeds[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/QueryTests.validQuerySucceeds[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.twinNotExistThrowsNotFoundException[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.twinNotExistThrowsNotFoundException[1].json
Labels: DigitalTwins

#16250 Updated changelog with note to version update
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#16256 Fix digital twins pagination test
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipAsyncTest.relationshipListOperationWithMultiplePages[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/DigitalTwinsRelationshipTest.relationshipListOperationWithMultiplePages[1].json
Labels: DigitalTwins

#16244 Increment core-amqp version after 1.6.0 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Client

#15602 mgmt, sync README with release post
  sdk/resourcemanager/README.md
  sdk/resourcemanager/docs/THROTTLING.md
Labels: Mgmt - Track 2

#16270 mgmt generate digitaltwins package-2020-10
  sdk/digitaltwins/mgmt-v2020_10_31/pom.xml
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/CheckNameRequest.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/CheckNameResult.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwins.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsDescription.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsEndpointResource.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsEndpointResourceProperties.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsEndpoints.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsPatchDescription.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/DigitalTwinsResource.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/EndpointProvisioningState.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ErrorDefinition.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ErrorResponse.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ErrorResponseException.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/EventGrid.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/EventHub.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ExternalResource.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/Operation.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/OperationDisplay.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/Operations.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ProvisioningState.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/Reason.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/ServiceBus.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/AzureDigitalTwinsManagementClientImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/CheckNameResultImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/CheckNameResultInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsDescriptionImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsDescriptionInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsEndpointResourceImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsEndpointResourceInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsEndpointsImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsEndpointsInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/DigitalTwinsManager.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/IdParsingUtils.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/OperationImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/OperationInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/OperationsImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/OperationsInner.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/PageImpl.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/implementation/package-info.java
  sdk/digitaltwins/mgmt-v2020_10_31/src/main/java/com/microsoft/azure/management/digitaltwins/v2020_10_31/package-info.java
  sdk/digitaltwins/pom.mgmt.xml
Labels: DigitalTwins

#16264 Sync eng/common directory with azure-sdk-tools for PR 1088
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys, auto-merge

#16281 mgmt, remove InvalidParameterException
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/ResourceId.java
Labels: Mgmt - Track 2

#16262 Update com.microsoft:azure-eventhubs to 3.2.1
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ClientConstants.java
Labels: Event Hubs

#16242 Upgrades Batch SDK to 2020-09-01.12.0
  sdk/batch/microsoft-azure-batch/README.md
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/JobOperations.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/Accounts.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/Jobs.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/AccountsImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/BatchServiceClientImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/JobsImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/CloudPool.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/CloudTask.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ComputeNode.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ComputeNodeFillType.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/DataDisk.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/DiskEncryptionTarget.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ImageReference.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/JobManagerTask.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/JobReleaseTask.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/OutputFile.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolAddParameter.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolEndpointConfiguration.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolSpecification.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PublicIPAddressConfiguration.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/TaskAddParameter.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/TaskCountsResult.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/TaskSlotCounts.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/BatchIntegrationTestBase.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/PoolTests.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/TaskTests.java
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDJob.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDJobSchedule.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDLowPriIaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDLowPriPaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDPaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDTest.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCreateCustomImageWithExpectedError.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCreateDataDisk.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canReadFromNode.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canReadFromTaskFile.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canUpdateJobScheduleState.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canUpdateJobState.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/failCreateContainerTaskWithRegularPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/failIfPoisonTaskTooLarge.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/shouldFailOnCreateContainerPoolWithRegularImage.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/shouldFailOnCreateLinuxPoolWithWindowsConfig.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testGetTaskCounts.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testJobUser.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testOutputFiles.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testPoolOData.json
Labels: Batch

#16296 Protocal to Protocol
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#16251 Renamed DeleteSnapshotsOptionType to ShareSnapshotsDeleteOptionType for Share Delete API
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DeleteSnapshotsOptionType.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareSnapshotsDeleteOptionType.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareDeleteOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#16317 Add Live Test Resource Deployment for Schema Registry
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializerTest.java
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientTest.java
  sdk/schemaregistry/test-resources.json
  sdk/schemaregistry/tests.yml
Labels: Client, MQ-Testing, Schema Registry

#16016 Regenerate Using Latest Swagger to Add Encryption Features
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchIndexerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchIndexerDataSourceConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchIndexerSkillsetConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SearchIndexer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SearchIndexerDataSource.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SearchIndexerSkillset.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataSourceConnection.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkillset.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Client, Search

#16239 Add more fields in UserPrincipal
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/src/main/java/com/azure/aad/controller/TodoListController.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/groups/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADTokenClaim.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/Constants.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/MemberShip.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/MemberShips.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipal.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAppRoleAuthenticationFilterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADUserGroupsPropertyValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/MemberShipTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalAzureADGraphTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
Labels: azure-spring

#16383 Fix the readme files of samples under azure-spring-boot-samples, a…
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-stateless/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-cache/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management-web/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-feature-management/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-queue-operation/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-resource/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-eventhubs/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-servicebus/README.adoc
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-storage-queue/README.adoc
Labels: azure-spring

#16206 Add diagram
  sdk/spring/azure-spring-doc-resource/spring-to-azure-mappings.vsdx
Labels: azure-spring

#16390 Test using client template
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/eventhubs/ci.data.yml
Labels: Event Hubs

#16359 Fix azure-spring-data-cosmos checkstyle regression
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/AppConfiguration.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/AppConfigurationCodeSnippet.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/MemoizerUnitTest.java
Labels: Cosmos

#16394 Replace digital twins componentPath with componentName
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/DigitalTwinsAsyncClientJavaDocCodeSnippets.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/DigitalTwinsClientJavaDocCodeSnippets.java
Labels: DigitalTwins

#16392 [FR] delete unnecessary model constructors
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/CustomModelTransforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/models/CustomFormModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/models/CustomFormModelInfo.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/models/CustomFormModelProperties.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/models/CustomFormSubmodel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/models/TrainingDocumentInfo.java
Labels: Client, Cognitive - Form Recognizer

#16395 Remove -beta tag from digital twins library
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: DigitalTwins

#16283 cosmos lazy decryption
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/AbstractEncryptableItem.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/DecryptableItem.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/DecryptableItemCore.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/DecryptionContext.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/DecryptionInfo.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/DecryptionResult.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptableItem.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionCosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionException.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionItemRequestOptions.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionQueryRequestOptions.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/Constants.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/implementation/encryption/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/models/EncryptionFeedResponse.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/models/EncryptionItemResponse.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/models/EncryptionModelBridgeInternal.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionProcessorTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/EncryptionTests.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/implementation/encryption/NewEncryptionProcessorTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/UtilsTest.java
Labels: Cosmos

#16243 Update JsonPatchOperationKind to ExpandableStringEnum
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/jsonpatch/JsonPatchOperationKind.java
Labels: Azure.Core, Client

#16027 Add locale support for Form recognizer prebuilt API's
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizeReceiptsOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeReceiptsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/StronglyTypedRecognizedForm.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.businessCardValidLocale[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.receiptEmptyLocale[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerAsyncClientTest.receiptValidLocale[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.invalidLocale[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.receiptValidLocale[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/getFormRecognizerClientAndValidate.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardData.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardDataIncludeFieldElements.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardDataWithBlankPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardDataWithContentTypeAutoDetection.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardDataWithPngFile.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardFromDamagedPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardFromUrlIncludeFieldElements.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardFromUrlWithEncodedBlankSpaceSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardInvalidSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeBusinessCardSourceUrlWithPngFile.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptData.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataIncludeFieldElements.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataWithBlankPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataWithContentTypeAutoDetection.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptDataWithPngFile.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromDamagedPdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromDataMultiPage.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromUrlIncludeFieldElements.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromUrlMultiPage.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptFromUrlWithEncodedBlankSpaceSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptInvalidSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptSourceUrl.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/recognizeReceiptSourceUrlWithPngFile.json
Labels: Cognitive - Form Recognizer

#16326 Multiple fixes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/SinglePartitionDocumentQueryTest.java
Labels: Cosmos

#16322 [Service Bus] Remove the use of environment variable in Service Bus
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Client, Service Bus

#16008 Only check the touched markdown files in PR for the Verify link step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#16401 Add missing listIncomingRelationships minimal API to digital twins async client
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/snippets/DigitalTwinsAsyncClientJavaDocCodeSnippets.java
Labels: DigitalTwins

#16400 Update digital twin javadocs to clarify that create APIs behave like createOrUpdate APIs
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClient.java
Labels: DigitalTwins

#16421 Sync eng/common directory with azure-sdk-tools for PR 1091
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: Central-EngSys, EngSys

#16389 Sync eng/common directory with azure-sdk-tools for PR 1062
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys, auto-merge

#16469 Removed generic IO exception condition in network failure. Replaced with specific exceptions. Included in unit testing
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/WebExceptionUtility.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/WebExceptionUtilityTest.java
Labels: Cosmos

#16472 Release 4.7.0: Versioning and changelog
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos

#16474 Increment version for cosmos releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Cosmos

#16426 mgmt, update README and MIGRATION_GUIDE
  sdk/resourcemanager/README.md
  sdk/resourcemanager/docs/MIGRATION_GUIDE.md
Labels: Mgmt - Track 2

#16489 Add Codespaces configuration.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/git-lfs-debian.sh
Labels: Central-EngSys, EngSys
