Repository Azure/azure-sdk-for-java, pull requests merged in 2021-08, with the labels that each got.

#23244 Support setting response timeout for individual requests in Netty HTTP client
  common/perf-test-core/src/main/java/com/azure/perf/test/core/HttpPipelineOptions.java
  common/perf-test-core/src/main/java/com/azure/perf/test/core/HttpPipelineTest.java
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressTest.java
  common/perf-test-core/src/main/java/com/azure/perf/test/core/TestProxyPolicy.java
  common/perf-test-core/src/main/java/module-info.java
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/keyvault/azure-security-keyvault-perf/src/main/java/com/azure/security/keyvault/certificates/perf/core/CertificatesTest.java
  sdk/keyvault/azure-security-keyvault-perf/src/main/java/com/azure/security/keyvault/keys/perf/core/KeysTest.java
  sdk/keyvault/azure-security-keyvault-perf/src/main/java/com/azure/security/keyvault/secrets/perf/core/SecretsTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/ServiceTest.java
Labels: Azure.Core

#23227 Not require "Directory.Read.All" scope if "azure.activedirectory.user-group.allowed-group-names" not configured.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebApplicationConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#23266 mgmt, vm, no update on plan
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VMSSPatchPayload.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
Labels: Mgmt - Track 2

#23287 add sample links
  sdk/spring/spring-reference.yml
Labels: azure-spring

#23284 Delete unnecessary content in azure security keyvault jca
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#23252 Increment version for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Storage

#23219 Update BOM
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Azure.Core, bom

#23159 Allow creating client spans and other customizations
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/StartSpanOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/Tracer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/TracerProxy.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/tracing/TracerJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/StartSpanOptionsTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosTracerTest.java
Labels: Azure.Core

#23205 Make improvements to the BOM tool
  eng/bomgenerator/azuresdkbomreport.log
  eng/bomgenerator/azurespringbootbomreport.log
  eng/bomgenerator/azurespringcloudbomreport.log
  eng/bomgenerator/generateAzureSDKBOM.cmd
  eng/bomgenerator/readme.md
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/BomGenerator.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/DependencyAnalyzer.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/Main.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/Utils.java
  eng/bomgenerator/validateAzureSpringBootBom.cmd
  eng/bomgenerator/validateAzureSpringCloudBom.cmd
Labels: bom

#22591 Fix FlatteningSerializer to not split on dot when using a Map
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/JsonFlatten.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningSerializer.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/JsonFlattenNestedInner.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineIdentity.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/FlatteningSerializerTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/Foo.java
Labels: Azure.Core

#23289 Make RequestOptions internal
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RequestOptions.java
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubAsyncGroup.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubAsyncServiceClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubAuthenticationPolicy.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubClientBuilder.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubGroup.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceClient.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/AzureWebPubSubServiceRestAPIImpl.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/HealthApisImpl.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/WebPubSubsImpl.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/models/GetAuthenticationTokenOptions.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/models/WebPubSubAuthenticationToken.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/models/WebPubSubContentType.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/models/WebPubSubPermission.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/BroadcastingSample.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/ChatApp.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/DirectMessageSample.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/ManagingGroupsSample.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/ReadmeSamples.java
  sdk/webpubsub/azure-messaging-webpubsub/src/samples/java/com/azure/messaging/webpubsub/WebPubSubJavaDocCodeSnippets.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/TokenGenerationTest.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/java/com/azure/messaging/webpubsub/WebPubSubServiceClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testBroadcastBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testBroadcastString.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testRemoveNonExistentUserFromGroup.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testRemoveNonExistentUserFromHub.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendMessageToGroup.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToAllJson.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionJson.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToConnectionString.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToUserBytes.json
  sdk/webpubsub/azure-messaging-webpubsub/src/test/resources/session-records/WebPubSubServiceClientTests.testSendToUserString.json
  sdk/webpubsub/azure-messaging-webpubsub/swagger/README.md
  sdk/webpubsub/azure-messaging-webpubsub/swagger/llc_readme.md
Labels: Azure.Core

#23311 [TA] Switch to using API key credential instead of AAD in Live Tests
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Cognitive - Text Analytics

#23304 Fix BlobBatch Not Emitting Responses
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchHelper.java
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkDeleteBlobs.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkDeleteBlobsContainerScoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkSetAccessTier.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkSetAccessTierContainerScoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkSetAccessTierSnapshot.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestBulkSetAccessTierVersion.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobAllSucceed.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobAllSucceedContainerScoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobContainerScopedErrorWrongContainer.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobNoneSucceedDoNotThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobNoneSucceedThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobSomeSucceedDoNotThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestDeleteBlobSomeSucceedThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierACFailAsync[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierACFailAsync[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierACFail[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierACFail[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierAC[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierAC[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierAC[2].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierAllSucceed.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierAllSucceedContainerScoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierContainerScopedErrorWrongContainer.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierNoneSucceedDoNotThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierNoneSucceedThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierRehydratePriority[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierRehydratePriority[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierSomeSucceedDoNotThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierSomeSucceedThrowOnAnyError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSetTierSomeSucceedThrowOnAnyErrorAsync.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSingleOperationExceptionThrowsBlobBatchStorageException.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithAccountSasCredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithAccountSasCredentialsError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithContainerSasCredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithContainerSasCredentialsError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[0].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[10].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[11].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[12].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[13].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[14].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[15].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[16].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[17].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[18].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[19].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[1].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[2].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[3].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[4].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[5].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[6].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[7].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[8].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmittingSameBatchManyTimes[9].json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestTooManyOperationsFails.json
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
Labels: Client, Storage

#23309 Fix live test pipeline Form Recognizer
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.checkRecognizeFormTypeComposedModelWithModelName[1].json
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer

#23316 Add prefetch option to EventProcessorClientBuilder
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientErrorHandlingTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
Labels: Client, Event Hubs

#21203 Add multipleQueryParams to QueryParam.
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/QueryParam.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/QuerySubstitution.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/QueryParameter.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SubstitutionTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/QueryParameterTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/UrlBuilderTests.java
Labels: Azure.Core

#23318 Fix typo in javadoc config
  pom.xml
Labels: Azure.Core

#23319 fix broken link in spring modules
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#23310 Fix live tests for Event Hubs
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientBuilderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/tests.yml
Labels: Event Hubs

#22719 Fix azure-cosmos-encryption readme issues
  sdk/cosmos/azure-cosmos-encryption/README.md
Labels: Client, Cosmos, Docs

#23325 Redact KeyVault secret in response body of the playback file
  sdk/keyvault/microsoft-azure-keyvault/src/test/java/com/microsoft/azure/keyvault/test/CertificateOperationsTest.java
  sdk/keyvault/microsoft-azure-keyvault/src/test/resources/session-records/importCertificatePkcs12ForCertificateOperationsTest.json
Labels: KeyVault

#23327 [Storage] Fix quick query tests.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[10].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[11].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[12].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[13].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[14].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[15].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobBaseAPITestQueryCsvSerializationSeparator[9].json
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[10].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[11].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[12].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[13].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[14].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[15].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[3].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[4].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[5].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[6].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[7].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[8].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestQueryCsvSerializationSeparator[9].json
Labels: Storage

#23122 [Metrics Advisor] Fix datafeed ingestion failing live test
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedAsyncClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedIngestionOperationTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricEnrichedSeriesDataTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/AnomalyAlertAsyncTest.updateAnomalyAlertHappyPath[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/AnomalyAlertTest.updateAnomalyAlertHappyPath[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedAsyncClientTest.testListDataFeedFilterByCreator[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedAsyncClientTest.testListDataFeedFilterByGranularityType[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedAsyncClientTest.testListDataFeedFilterByStatus[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedClientTest.testListDataFeedFilterByCreator[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedClientTest.testListDataFeedFilterByGranularityType[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedClientTest.testListDataFeedFilterByStatus[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/FeedbackAsyncTest.testListMetricFeedback[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/FeedbackTest.testListMetricFeedback[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricEnrichedSeriesDataAsyncTest.getEnrichedSeriesData[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricEnrichedSeriesDataTest.getEnrichedSeriesData[1].json
Labels: Client, Cognitive - Metrics Advisor, test bug

#23328 Updated ServiceBusAdministrationClientBuilder to Support HttpPipelinePosition
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/CoreUtilsTests.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientBuilderTest.java
Labels: Azure.Core, Client, Service Bus

#22934 Add basic serialization benchmarks
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/SerializationBenchmark.java
Labels: Azure.Core

#23213 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/pom.xml
Labels: Communication, auto-merge

#23330 Increment version for batch releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch, auto-merge

#22676 Enable properties which supported in sdk
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusQueueAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusTopicAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusQueueAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusTopicAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-context/src/main/java/com/azure/spring/cloud/context/core/util/Constants.java
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/src/main/java/com/azure/spring/servicebus/stream/binder/ServiceBusMessageChannelBinder.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/src/main/java/com/azure/spring/servicebus/stream/binder/properties/ServiceBusConsumerProperties.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusQueueSessionBinderConfigTest.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusTopicSessionBinderConfigTest.java
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/ServiceBusClientConfig.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/factory/DefaultServiceBusQueueClientFactory.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/factory/DefaultServiceBusTopicClientFactory.java
Labels: azure-spring

#23337 Revert "add sample links"
  sdk/spring/spring-reference.yml
Labels: azure-spring

#23290 Migrate IT(azure-spring-cloud-test-eventhubs-kafka) from azure-spring-boot-samples
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/src/test/java/com/azure/spring/sample/eventhubs/kafka/EventHubKafkaBinderApplication.java
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/src/test/java/com/azure/spring/sample/eventhubs/kafka/EventHubKafkaBinderApplicationIT.java
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/src/test/java/com/azure/spring/sample/eventhubs/kafka/MessagesController.java
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/src/test/resources/application.yaml
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/test-resources.json
  sdk/spring/pom.xml
  sdk/spring/spring-test-template.yml
Labels: azure-spring

#23338 update spring version in reference yaml
  sdk/spring/spring-reference.yml
Labels: azure-spring

#23335 Fixing missing error handling in regularly scheduled callbacks
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Labels: Cosmos

#23333 Fixing library dependency version
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/pom.xml
Labels: Communication

#23183 Fix Issues with FluxUtil.writeFile
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncLiveTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/DeadlockTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/FileWriteSubscriber.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/FileWriteSubscriberTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Labels: Azure.Core, Client

#23354 [Storage] Fix weekly tests.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/LargeBlobTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/LargeFileTest.groovy
Labels: Storage

#23344 [TA] fix missing parameters
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionSortedByRankScore[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithDefaultParameterValues[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionSortedByRankScore[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithDefaultParameterValues[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
Labels: Client, Cognitive - Text Analytics

#23332 Fix Timer leak when send link remotely closed.
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSenderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Event Hubs, Service Bus, amqp, blocking-customer-adoption

#23306 Add support for overriding dependencies coming from input file.
  eng/bomgenerator/generateAzureSDKBOM.cmd
  eng/bomgenerator/inputDependencies.txt
  eng/bomgenerator/readme.md
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/BomGenerator.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/DependencyAnalyzer.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/Main.java
  eng/bomgenerator/src/main/java/com/azure/tools/bomgenerator/Utils.java
Labels: bom

#23329 CosmosClientCache changes to improve robustness
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
Labels: Cosmos

#23356 [TA] Update sample input and larger non-default sentence count value
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarizationAsync.java
Labels: Client, Cognitive - Text Analytics

#23262 Fixing bug preventing recovering from 410/0 after split
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/GoneAndRetryPolicyWithSpyClientTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos

#23355 [Form Recognizer] Update test resource location to canada central
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#23360 Fixing formatting issues in ClientSideRequestStatistics
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
Labels: Cosmos

#23357 Fix Potential NullPointException using HttpClientProviders
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientProvider.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncClientProvider.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncClientProviderTests.java
Labels: Azure.Core, Client, HttpClient

#23274 Sync eng/common directory with azure-sdk-tools for PR 1852
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#23377 Update release date for ACS Chat 1.1.0-beta.1
  sdk/communication/azure-communication-chat/CHANGELOG.md
Labels: Communication

#23374 Regenerate azure-search-documents to Include Indexer Caching
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchIndexerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/DataSourcesImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/IndexersImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/SkillsetsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SearchIndexer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerCache.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search, Client

#23379 [TA] Added extractive summarization links in READMEs
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
Labels: Client, Cognitive - Text Analytics

#22818 Add Azure Quantum team to code owners
  .github/CODEOWNERS
Labels: Quantum

#20502 fix Microsoft Azure Batch Readme issue
  sdk/batch/microsoft-azure-batch/README.md
Labels: Batch

#21878 Fix Analytics Synapse Readme issue #19473
  sdk/synapse/azure-analytics-synapse-spark/README.md
Labels: Synapse

#23346 Add TimeInterval to azure-core-experimental
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/TimeInterval.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/package-info.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/HttpAuthorizationTests.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/models/TimeIntervalTest.java
Labels: Azure.Core

#23322 add test for keyless
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultPrivateKey.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/src/test/java/com/azure/spring/test/keyvault/KeyVaultCertificateIT.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/test-resources.json
Labels: KeyVault

#22861 update readme for text analytics to include BOM information
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#22791 Add the properties file to the ACR project.
  sdk/containerregistry/azure-containers-containerregistry/src/main/azure-containers-containerregistry.properties
Labels: Container Registry

#22950 Adding option to pass bulk context per operation and mitigating bulk ingestion hang
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedTable.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/Exceptions.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsReadOnlyTable.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScan.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkExecutionThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkOperations.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkProcessingOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkProcessingThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorUtil.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/FlushBuffersItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBatchOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBulkOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ServerBatchRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/BulkProcessingOptionsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/CosmosBulkItemResponseTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/PartitionKeyRangeServerBatchRequestTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholdsTest.java
Labels: Cosmos

#22855 Update readme for form recognizer to include BOM information
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#22856 update readme for azure-identity to include BOM information
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#23380 Prepare Core Libraries for August 2021 Release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/TimeInterval.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/models/TimeIntervalTest.java
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicy.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/SpanKind.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/StartSpanOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/Tracer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/tracing/TracerProxy.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/tracing/TracerJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/StartSpanOptionsTests.java
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus, Client, Azure.Core, Azure.Identity

#22903 Identity update core version
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#22852 update readme for cosmos to include BOM information.
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#22853 update readme for digitaltwins library to include BOM information
  sdk/digitaltwins/azure-digitaltwins-core/README.md
Labels: Digital Twins

#23411 Add new system event
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/SystemEventMappingNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceNewKubernetesVersionAvailableEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#23404 Fix List.Add Exception and Performance Improvements
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/CustomClaimRequest.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IntelliJCacheAccessor.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/VisualStudioCacheAccessor.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/VisualStudioCacheAccessorTests.java
Labels: Client, Azure.Identity

#23412 Prep azure-search-documents for Patch Release
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RefineSearchCapabilitiesExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RunningSearchSolutionExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/LifecycleSetupExample.java
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Search, Client

#23409 Update README.md
  sdk/identity/azure-identity/README.md
Labels: Client, Azure.Identity, Docs

#23364 Remove from CODEOWNERS
  .github/CODEOWNERS
Labels: Client, Infrastructure

#23413 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Client, Infrastructure

#23414 Post Patch Release Updates for azure-search-documents
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Client

#20714 Added suppliers for loggers
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/logging/ClientLoggerJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
Labels: Azure.Core, customer-reported

#23166 Mapping spring legacy props
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-cloud-autoconfigure/pom.xml
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/unity/AbstractLegacyPropertyEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/unity/AzurePropertyEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/unity/CredentialProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/unity/PreLegacyPropertyEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/keyvault/KeyVaultEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/keyvault/KeyVaultProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/keyvault/PostLegacyPropertyEnvironmentPostProcessor.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/utils/PropertyLoader.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/utils/package-info.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/legacy-keyvault-property-suffix-mapping.properties
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/legacy-property-mapping.properties
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/jms/PremiumServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/unity/PreLegacyPropertyProcessorTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/keyvault/KeyVaultEnvironmentPostProcessorTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/keyvault/PostLegacyPropertyProcessorTest.java
Labels: azure-spring

#23381 Add timeout to cleaning up sender/receiver links.
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/Handler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/LinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReceiveLinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/SendLinkHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/HandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/LinkHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ReceiveLinkHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/SendLinkHandlerTest.java
Labels: Event Hubs, Service Bus, Azure.Core

#23050 Servicebus health indicator implementation and doc.
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusTopicAutoConfiguration.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/main/java/com/azure/spring/servicebus/stream/binder/ServiceBusQueueHealthIndicator.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/main/java/com/azure/spring/servicebus/stream/binder/config/ServiceBusQueueBinderConfiguration.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/main/java/com/azure/spring/servicebus/stream/binder/config/ServiceBusQueueBinderHealthIndicatorConfiguration.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusQueueBinderHealthIndicatorTest.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusQueuePartitionBinderTests.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/src/test/java/com/azure/spring/servicebus/stream/binder/support/ServiceBusQueueTestOperation.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/main/java/com/azure/spring/servicebus/stream/binder/ServiceBusTopicHealthIndicator.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/main/java/com/azure/spring/servicebus/stream/binder/config/ServiceBusTopicBinderConfiguration.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/main/java/com/azure/spring/servicebus/stream/binder/config/ServiceBusTopicBinderHealthIndicatorConfiguration.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusTopicBinderHealthIndicatorTest.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/test/java/com/azure/spring/servicebus/stream/binder/ServiceBusTopicPartitionBinderTests.java
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/src/test/java/com/azure/spring/servicebus/stream/binder/support/ServiceBusTopicTestOperation.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/ServiceBusTemplate.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/health/Instrumentation.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/health/InstrumentationManager.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/health/package-info.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/queue/ServiceBusQueueOperation.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/queue/ServiceBusQueueTemplate.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/topic/ServiceBusTopicOperation.java
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/topic/ServiceBusTopicTemplate.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/queue/QueueTemplateSubscribeTest.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/queue/ServiceBusQueueInboundAdapterTest.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/support/ServiceBusQueueTestOperation.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/support/ServiceBusTopicTestOperation.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/topic/ServiceBusTopicInboundAdapterTest.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/topic/TopicTemplateSubscribeTest.java
Labels: azure-spring, azure-spring-servicebus

#23366 Use Oauth2AuthorizedClientProvider to implement authorize clients delegated by azure client.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADAuthorizationGrantType.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADOAuth2ClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AbstractOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/AADClientRegistrationDeserializer.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/AADClientRegistrationMixin.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/AADOAuth2ClientJackson2Module.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/JsonNodeUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/SerializerUtils.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/implementation/jackson/StdConverters.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADAzureDelegatedOAuth2AuthorizedClientProvider.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/utils/ApplicationId.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/AADClientRegistrationRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/AADOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/AADOAuth2ClientConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/implementation/jackson/SerializerUtilsTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADAzureDelegatedOAuth2AuthorizedClientProviderTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebApplicationConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationPropertiesTest.java
Labels: Client, azure-spring, azure-spring-aad

#23387 Add help method for key vault to create keyVault keyStore
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ClientSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ServerSSLSample.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/PropertyConvertorUtils.java
Labels: KeyVault, azure-spring

#23415 Update Code Coverage Report Step to use Maven Cache
  eng/pipelines/templates/jobs/ci.tests.yml
Labels: EngSys, Client

#23417 Fixed issue that made `getRandomBytes()` pass an empty body in the service request.
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyService.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/RandomBytes.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyAsyncClientManagedHsmTest.getRandomBytes[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyClientManagedHsmTest.getRandomBytes[1].json
Labels: KeyVault

#23283 Jackson version tests
  eng/scripts/generate_from_source_pom.py
  eng/versioning/pom_file_version_scanner.ps1
  sdk/core/azure-core-jackson-tests/CHANGELOG.md
  sdk/core/azure-core-jackson-tests/README.md
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/pom.xml
  sdk/core/tests.yml
  sdk/core/version-matrix.json
Labels: Azure.Core, test-enhancement

#22854 update readme for eventgrid library to include BOM information.
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Labels: Event Grid

#23436 [Storage] Re-enable download file with OkHttpClient.
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Labels: Storage

#23430 [TA] Disable the unstable tests until the service hotfix is deployed.
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#23438 Regenerate with updated KV property names
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultAccessPolicyChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultCertificateExpiredEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultCertificateNearExpiryEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultCertificateNewVersionCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultKeyExpiredEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultKeyNearExpiryEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultKeyNewVersionCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultSecretExpiredEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultSecretNearExpiryEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/KeyVaultSecretNewVersionCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#23437 Update the azure sdk bom readme link
  sdk/cosmos/azure-cosmos/README.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cosmos, Client, Azure.Identity, Docs, Cognitive - Text Analytics, Cognitive - Form Recognizer, Digital Twins

#23345 [Core] Improve performance for parsing RFC1123 format string
  sdk/core/azure-core/src/main/java/com/azure/core/util/DateTimeRfc1123.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/DateTimeRfc1123Tests.java
Labels: Azure.Core

#21667 AMQP span context should set remote parent
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/implementation/AmqpPropagationFormatUtil.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryHttpPolicyTests.java
  sdk/core/azure-core-tracing-opentelemetry/src/test/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracerTest.java
Labels: Azure.Core

#22678 [Core] Refactor implem code for the ArmChallengeAuthenticationPolicy
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/ArmChallengeAuthenticationPolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/ARMScopeHelper.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AzureEnvironment.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/policy/AuthenticationChallengeTest.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/http/policy/ArmChallengeAuthenticationPolicy.java
Labels: Client, Azure.Core

#23444 Deprecate AADB2CJwtBearerTokenAuthenticationConverter
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADWeiResourceServerIT.java
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AbstractJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/autoconfigure/b2c/ResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CUserPrincipalTest.java
Labels: azure-spring

#23343 Update identity to enable live testing in sovereign clouds for multiple services
  sdk/identity/tests.yml
Labels: Client, Azure.Identity, test-enhancement

#23455 Prepare Identity versions stable release August 2020
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Core, Azure.Identity

#23435 Support Additional Environment Configurations
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/ExponentialBackoff.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/FixedDelay.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/HttpClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/test/java/com/azure/core/UserAgentTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/CoreUtilsTests.java
Labels: Client, Azure.Core, HttpClient

#22860 update readme for azure messaging servicebus to include BOM information
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#22859 update readme for search documents to include BOM information
  sdk/search/azure-search-documents/README.md
Labels: Search

#23178 Add Azure Application Credential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureApplicationCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureApplicationCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureApplicationCredentialTest.java
Labels: Azure.Identity

#23462 Bump chat version to beta2. Fix dependencies on unreleased common and identity packages.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#23443 Fix Javadoc Errors in ClientLogger
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/DefaultLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
Labels: Client, Azure.Core

#23448 Vijay/json smart version change
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-autosuggest/pom.xml
  sdk/cognitiveservices/ms-azure-cs-computervision/pom.xml
  sdk/cognitiveservices/ms-azure-cs-contentmoderator/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customimagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-prediction/pom.xml
  sdk/cognitiveservices/ms-azure-cs-customvision-training/pom.xml
  sdk/cognitiveservices/ms-azure-cs-entitysearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-faceapi/pom.xml
  sdk/cognitiveservices/ms-azure-cs-imagesearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-authoring/pom.xml
  sdk/cognitiveservices/ms-azure-cs-luis-runtime/pom.xml
  sdk/cognitiveservices/ms-azure-cs-newssearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-qnamaker/pom.xml
  sdk/cognitiveservices/ms-azure-cs-spellcheck/pom.xml
  sdk/cognitiveservices/ms-azure-cs-textanalytics/pom.xml
  sdk/cognitiveservices/ms-azure-cs-videosearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-visualsearch/pom.xml
  sdk/cognitiveservices/ms-azure-cs-websearch/pom.xml
  sdk/eventgrid/microsoft-azure-eventgrid/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/keyvault/microsoft-azure-keyvault/pom.xml
  sdk/loganalytics/microsoft-azure-loganalytics/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/README.md
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Batch, Event Grid, Event Hubs, KeyVault, Service Bus

#23461 Making sure ItemsDataWriteFactory.abort does not block (or throw exceptions)
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/AsyncItemWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
Labels: Cosmos

#23399 mgmt, support Context in create and update
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/HostnameBindingImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DisksImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetVMImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachinesImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/java/com/azure/resourcemanager/containerregistry/implementation/RegistryTaskImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/ApplicationGatewayImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/FlowLogSettingsImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/NetworkInterfaceImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/NetworkInterfacesImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PublicIpAddressImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/PublicIpAddressesImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/implementation/ExternalChildResourceImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/TaskGroup.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/Appliable.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/Creatable.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/AcceptedImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/CreatableUpdatableImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/implementation/CreateUpdateTask.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/HttpPipelineProvider.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/DeploymentImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/GenericResourceImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/GenericResourcesImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ResourceGroupsImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Deployment.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentsTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/resources/session-records/DeploymentsTests.canDeployVirtualNetworkWithContext.json
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlDatabaseAutomaticTuningImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlServerAutomaticTuningImpl.java
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Labels: Mgmt - Track 2

#23446 Update CODEOWNERS: add all azure-spring developers.
  .github/CODEOWNERS
Labels: azure-spring

#23445 mgmt, AKS support disk type
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClusterAgentPoolImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesClusterAgentPool.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canCRUDKubernetesCluster.json
Labels: Mgmt - Track 2

#23474 Fix integration test failure.
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADWeiResourceServerIT.java
Labels: azure-spring

#22829 Update BinaryData implementation to support LLC
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/BinaryDataContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/ByteArrayContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/InputStreamContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/SerializableContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/implementation/StringContent.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/BinaryDataJavaDocCodeSnippet.java
  sdk/core/azure-core/src/test/java/com/azure/core/models/CloudEventTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/MyFileChannel.java
Labels: Azure.Core

#23426 Enable disable aad authonication by remove properties
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerConfigurationTest.java
Labels: azure-spring

#23486 Prepare azure-search-documents for August Beta Release
  .github/CODEOWNERS
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search, Client

#22857 update readme for communication group to include BOM information
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-sms/README.md
Labels: Communication

#22851 Update readme files for the core libraries.
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core/README.md
  sdk/template/azure-sdk-template/README.md
Labels: EngSys, Azure.Core

#23488 Prepare Event Grid for Aug release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, Azure.Core, Communication

#23466 Allow overriding MaxItemCount for query/changefeed in Spark connector
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosScripts.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedIterable.java
Labels: Cosmos

#23493 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Azure.Core, Cognitive - Text Analytics, auto-merge, Communication

#23492 Update RevApi Suppressions
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Labels: EngSys, Client

#23490 [Storage] Decrease load on SRP.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestAccountSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestAppendBlobCreate.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlobSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlockBlobCommitBlockList.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlockBlobUpload.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestContainerProperties.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestContainerSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestCopy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestDeleteImmutabilityPolicy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestDeleteImmutabilityPolicyError.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestDeleteImmutabilityPolicyMin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestPageBlobCreate.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyACIA[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyAC[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyAC[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyError.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyIA.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyMin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicy[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetLegalHoldError.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetLegalHoldMin[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetLegalHoldMin[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetLegalHold[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetLegalHold[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSyncCopy.json
Labels: Storage

#23496 [TA] v5.2.0-beta.1 Release prepare
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive - Text Analytics

#23499 [AppConfig] Prepare for Aug patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: Client, App Configuration

#23495 Prepare azure-search-documents for August Patch Release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  sdk/communication/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Search, Client, Azure.Core, Communication

#23500 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#23479 Increment version for servicebus releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Service Bus, auto-merge

#23476 Increment version for synapse releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/synapse/azure-analytics-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-accesscontrol/pom.xml
  sdk/synapse/azure-analytics-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
  sdk/synapse/pom.xml
Labels: Azure.Core, auto-merge

#23463 Sync eng/common directory with azure-sdk-tools for PR 1866
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#23501 cosmos spark 4.3.0 release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#23468 Prepare August patch release for FR and MA
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#23504 azure-search-documents Post Patch Update
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Client

#23507 Increment version for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: auto-merge, Cognitive - Metrics Advisor

#23506 cosmos spark version bump
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#23464 AddingChannelAcquisitionConext
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/ChannelPromiseWithExpiryTime.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdChannelAcquisitionEvent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdChannelAcquisitionEventType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdChannelAcquisitionTimeline.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdChannelState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdPollChannelEvent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerOpenConnectionsAndInitCachesTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#23512 Update change log for 4.18.0-beta release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#22949 Added Health Check for Azure App Configuration
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationAutoConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceLocator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationRefresh.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/State.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/StateHolder.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/health/AppConfigurationHealthIndicator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/health/AppConfigurationStoreHealth.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/health/package-info.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationRefreshTest.java
Labels: App Configuration, azure-spring-app-configuration

#23515 Increment version for cosmos releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#23517 mgmt, update hdinsights tests to include delete
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/parameters.py
  sdk/hdinsight/azure-resourcemanager-hdinsight/src/test/java/com/azure/resourcemanager/hdinsight/HDInsightTests.java
Labels: Mgmt - Track 2

#23521 mgmt, allow gulpfile to use pre-released autorest.java
  sdk/resourcemanager/gulpfile.js
Labels: Mgmt - Track 2

#23520 disable channel acquisition context
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#23516 Add logging.properties to configure log
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/resources/logging.properties
Labels: KeyVault, Client, azure-spring

#23526 Increment version for hdinsight releases
  eng/versioning/version_client.txt
  sdk/hdinsight/azure-resourcemanager-hdinsight/CHANGELOG.md
  sdk/hdinsight/azure-resourcemanager-hdinsight/pom.xml
Labels: auto-merge

#23508 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#23509 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: App Configuration, Azure.Core, auto-merge

#23511 Increment version for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, auto-merge

#23527 Increment version for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/pom.xml
Labels: auto-merge

#19093 Replace Reflection Calls with MethodHandles
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/ResponseConstructorsCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/ResponseConstructorsCacheBenchMark.java
Labels: Client, Azure.Core

#23472 Expand Functionality of RetryPolicy
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryStrategy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/RetryPolicyTests.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientBuilderUnitTest.java
Labels: Client, Azure.Core

#23529 Preparation for Key Vault patch release for August 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault, Azure.Identity

#23513 Updated Key Vault's README at the root level to look more like the one for Storage.
  sdk/keyvault/README.md
Labels: KeyVault

#23544 Sync eng/common directory with azure-sdk-tools for PR 1894
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23452 update readme for unified configuration
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
Labels: Client, Docs, azure-spring

#23551 mgmt, after releasing resourcemanager 2.7.0
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt - Track 2

#23451 Make azure-spring-cloud related integration test.
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-cloud-test-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-test-parent/CHANGELOG.md
  sdk/spring/azure-spring-cloud-test-parent/README.md
  sdk/spring/azure-spring-cloud-test-parent/pom.xml
  sdk/spring/azure-spring-cloud-test-servicebus-binder/pom.xml
  sdk/spring/scripts/replace_util.py
Labels: azure-spring

#23363 Fix default behavior of storage actuator that breaks spring actuator.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/cosmos/CosmosHealthConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/StorageHealthConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultHealthConfiguration.java
  sdk/spring/azure-spring-boot/src/main/resources/azure-spring-actuator.properties
Labels: azure-spring, azure-spring-storage

#23543 [AppConfig] Replace a deadlink
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SettingSelector.java
Labels: Client, App Configuration

#23542 Sync eng/common directory with azure-sdk-tools for PR 1876
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23569 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: KeyVault, App Configuration, Azure.Core, Azure.Identity, azure-spring, auto-merge

#23555 Add common http response error type in azure-core
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpResponseException.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/exception/InvalidReturnTypeException.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/exception/package-info.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/HttpResponseError.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/HttpResponseInnerError.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: Azure.Core

#23566 Sync eng/common directory with azure-sdk-tools for PR 1884
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys
