Repository Azure/azure-sdk-for-java, pull requests merged in 2021-01, with the labels that each got.

#18416 update spring bom version and add aad stater
  sdk/boms/azure-spring-boot-bom/pom.xml
Labels: azure-spring

#18417 Update the OBO README.md file and application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yml
Labels: azure-spring, azure-spring-aad

#18418 mgmt, update generator version
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#18339 Fix query with sort and limit
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
Labels: Cosmos, azure-spring, customer-reported

#18028 Increment version for identity releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/communication/azure-communication-administration/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-identity-spring/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/synapse/azure-analytics-synapse-accesscontrol/pom.xml
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/azure-analytics-synapse-monitoring/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: App Configuration, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Text Analytics, Cosmos, DigitalTwins, Event Hubs, KeyVault, Schema Registry, Service Bus, Storage, azure-spring

#17985 check if index policy has changed on repo initialization and update if needed
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ExcludedPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IncludedPath.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/ComplexIndexPolicyEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/IndexPolicyEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/IndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveIndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/IndexPolicyCompareService.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleReactiveCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/SimpleCosmosRepositoryIllegalTest.java
Labels: Cosmos, customer-reported

#18426 Updating service bus and event hubs java docs
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/CheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/LoadBalancingStrategy.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventBatchContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubsJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventBatchContextTest.java
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Event Hubs, Service Bus

#18411 modify the readme for keyvault certificates sample
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/README.md
Labels: azure-spring

#18435 ServiceBus ServiceBusSessionManager - Not Receiving message after gap of 60 seconds of no activity
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionManager.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
Labels: Service Bus

#18439 Add code snippets and update Service Bus Javadocs
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusErrorSource.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/AuthorizationRule.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/CorrelationRuleFilter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/CreateRuleOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/CreateTopicOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/EmptyRuleAction.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/FalseRuleFilter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/QueueProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/QueueRuntimeProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/RuleAction.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/RuleFilter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/RuleProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/SharedAccessAuthorizationRule.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/SqlRuleAction.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/SqlRuleFilter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/SubscriptionProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/SubscriptionRuntimeProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/TopicProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/TopicRuntimeProperties.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/TrueRuleFilter.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusAdministrationClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverClientJavaDocCodeSample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSenderClientJavaDocCodeSamples.java
Labels: Client, Service Bus

#18157 Added support for container rename (datalake + blob) and container restore (datalake)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobDeleteType.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainerRenameHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainersRenameResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobRetentionPolicy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/ContainerRenameOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontainer.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontainerac[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontainerac[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracfail[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracillegal[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracillegal[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracillegal[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracillegal[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontaineracillegal[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontainererror.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestrenameblobcontainersas.json
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileSystemItem.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileSystemListDetails.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileSystemRenameOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileSystemUndeleteOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeServiceClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystem.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemac[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemac[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemacfail[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemacillegal[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemacillegal[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemacillegal[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemacillegal[3].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemerror.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrenamefilesystemsas.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystem.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemasync.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemasyncwithresponse.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemerror.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemintoexistingfilesystemerror.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemintootherfilesystem.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/ServiceAPITestrestorefilesystemwithresponse.json
Labels: Storage

#18063 [Batch] Exposes BatchClient factory method
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/README.md
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/BatchClient.java
Labels: Batch

#18448 move getCosmosClientBuilderAccessor package private
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/SparkBridgeInternal.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#18458 Sync eng/common directory with azure-sdk-tools for PR 1278
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#18453 Updated file share swagger to point to correct file
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#18442 mgmt-core, ignore invalid url in location
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/Util.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/UtilTests.java
Labels: Azure.Core, Mgmt - Track 2

#18462 [Communication] - All SDKs- Print headers
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityTests.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationLoggerPolicy.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberIntegrationTestBase.java
  sdk/communication/azure-communication-administration/src/test/resources/session-records/beginCreateReservationBeginPurchaseReservationTestCapabilitiesWithResponseBeginReleasePhoneNumber.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/beginCreateReservationBeginPurchaseReservationTestCapabilitiesWithResponseBeginReleasePhoneNumberSync.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/beginCreateReservationBeginPurchaseReservationTestConfigurationWithResponseBeginReleasePhoneNumber.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/beginCreateReservationBeginPurchaseReservationTestConfigurationWithResponseBeginReleasePhoneNumberSync.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/purchaseReservationBeginReleasePhoneNumber.json
  sdk/communication/azure-communication-administration/src/test/resources/session-records/purchaseReservationBeginReleasePhoneNumberSync.json
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTestBase.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/CommunicationLoggerPolicy.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/CommunicationLoggerPolicy.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveAsyncClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveTestBase.java
Labels: Communication

#18407 Add test: haveResourceServerScopeInAccessTokenWhenThereAreMultiResourceServerScopesInAuthCode
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#18421 Core-Mgmt: update azure environment for graph api
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
Labels: Azure.Core, Mgmt - Track 2

#18467 Change name for app configuration related modules.
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Labels: App Configuration

#18456 Sync eng/common directory with azure-sdk-tools for PR 1298
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#18459 Changed getServiceAsyncClient to getServiceClient
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java
Labels: Storage

#18447 Composite index support
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CompositePath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/ComplexIndexPolicyEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/CompositeIndexEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/CompositeIndexIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CompositeIndex.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CompositeIndexPath.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosIndexingPolicy.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/IndexPolicyCompareService.java
Labels: Cosmos, azure-spring, customer-reported

#17150 Fix issue #14403
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/BackupAndRestoreOperations.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/BackupAndRestoreOperationsAsync.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/ManagingDeletedCertificates.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/ManagingDeletedCertificatesAsync.java
Labels: KeyVault

#18454 Upgrade dependency version of bouncycastle and fix broken link.
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CONTRIBUTING.md
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
  sdk/mediaservices/pom.xml
Labels: Cosmos, Event Hubs, KeyVault

#18477 Regenerated blob based off 04-08 swagger
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobDeleteType.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ServiceGetAccountInfoHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#18415 Add support for Azure China
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADWebAppConfigurationTest.java
Labels: azure-spring, azure-spring-aad

#18300 feat: add has id in feature
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/FeatureImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Feature.java
Labels: Mgmt - Track 2

#18486 Sync eng/common directory with azure-sdk-tools for PR 1302
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#18465 Add readme description for azure keyvault secrets sample
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
Labels: azure-spring

#18423 Replace unnecessary dependency in webapi samples
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/pom.xml
Labels: azure-spring, azure-spring-aad

#18484 Sync eng/common directory with azure-sdk-tools for PR 1301
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#18492 [Automation] Generate Fluent Lite from healthbot#
  eng/versioning/version_client.txt
  pom.xml
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/README.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/HealthbotManager.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/BotsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/HealthbotClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/OperationsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/HealthBotInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/OperationDetailInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthBotImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientBuilder.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationDetailImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/Utils.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/AvailableOperations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/BotResponseList.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Bots.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/ErrorAdditionalInfo.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBot.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotProperties.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotUpdateParameters.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/IdentityType.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/OperationDetail.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/OperationDisplay.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Operations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Sku.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/SkuName.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/SystemData.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/module-info.java
  sdk/healthbot/ci.yml
  sdk/healthbot/pom.xml
Labels: Mgmt - Track 2

#18495 Update description in readme
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/java/com/azure/spring/sample/aad/controller/SampleController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring, azure-spring-aad

#18460 Fixing RntbdServiceEnpoint close issue
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdServiceEndpointTest.java
Labels: Cosmos

#18502 Upgrade Reactor and Reactor Netty to Latest Patch
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/e2e/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-data-sdk-parent/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/search/azure-search-documents/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: App Configuration, Azure.Core, Azure.Identity, Client, Communication, Cosmos, Event Grid, Event Hubs, HttpClient, KeyVault, Schema Registry, Search, Service Bus, Storage, azure-spring

#18516 Sync eng/common directory with azure-sdk-tools for PR 1306
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#17329 fix issue #15509
  sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableBaseJavaDocCodeSnippets.java
Labels: Azure.Core

#18520 Sync eng/common directory with azure-sdk-tools for PR 1308
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#18527 Update Spring code owners
  .github/CODEOWNERS
Labels: azure-spring

#18511 Update words and add Azure CLI for sp and cert creating
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/src/main/java/com/azure/spring/sample/keyvault/KeyVaultSampleApplication.java
Labels: azure-spring, azure-spring-keyvault

#18529 Spring - make the artifact id consistent with directory
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-complete/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial/pom.xml
  sdk/spring/ci.yml
Labels: azure-spring

#18468 Update spring maven link
  sdk/spring/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring

#18504 [Service Bus] Update migration guide to follow template
  sdk/servicebus/azure-messaging-servicebus/migration-guide.md
Labels: Service Bus

#18517 [Batch] Bumps Batch SDK to 9.0.0
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch

#18537 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#18539 Prepare Core for January 2021 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-administration/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
Labels: Azure.Core, Azure.Identity, Client, Communication

#18518 Servicebus: ServiceBusAdministrationAsyncClient : NPE while mapException when service 401 Unauthorized access
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.getSubscriptionRuntimePropertiesUnauthorizedClient[1].json
Labels: Service Bus

#18282 Add migration guides for Azure Key Vault client libraries.
  sdk/keyvault/azure-security-keyvault-certificates/migration_guide.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/migration_guide.md
  sdk/keyvault/azure-security-keyvault-secrets/migration_guide.md
Labels: KeyVault

#18543 Client telemetry miscellaneous fixes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/ClientTelemetryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/MetricInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/cpu/CpuMemoryMonitor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#18422 Add API to update polling interval in PollerFlux
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultSyncPoller.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/SyncPoller.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollerTests.java
Labels: Azure.Core

#18541 Increment version for batch releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch, auto-merge

#18540 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#18535 Fix appconfiguration's sample readme
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial/README.md
Labels: azure-spring, azure-spring-app-configuration

#18553 Fix broken AutoRest link. Update dependency for bouncycastle
  sdk/keyvault/REGENERATING.md
  sdk/keyvault/azure-security-keyvault-administration/swagger/autorest.md
  sdk/parents/azure-arm-parent/pom.xml
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Labels: KeyVault, Service Bus

#18489 aad b2c optimization
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/java/com/azure/spring/sample/aad/b2c/security/WebSecurityConfiguration.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CSeleniumITHelper.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CClientRegistrationRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COidcLoginConfigurer.java
Labels: azure-spring, azure-spring-aad-b2c

#15283 Patch API support in Java
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkOperations.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemOperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosPatchOperations.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/TransactionalBatch.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestVerb.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RuntimeConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorUtil.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBatchOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBulkOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestFrame.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/patch/PatchConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/patch/PatchOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/patch/PatchOperationCore.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/patch/PatchOperationType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/patch/PatchUtil.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/BatchTestBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/PatchAsyncTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/PatchTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RxDocumentServiceRequestTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/TcpServerMock/rntbd/ServerRntbdConstants.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/patch/PatchUnitTest.java
Labels: Cosmos

#18545 [Communication] - All - Added powershell docs to readme
  sdk/communication/azure-communication-administration/README.md
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-sms/README.md
Labels: Communication

#18568 Update Identity versions for Patch Release 2021 January.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity

#18558 [Metrics Advisor] Export admin namespace in module info
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationAsyncClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/models/DataFeed.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/module-info.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/AnomalyDetectionConfigurationAsyncSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/AnomalyDetectionConfigurationSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/MetricsAnomalyAlertConfigOperationsAsyncSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/MetricsAnomalyAlertConfigOperationsSample.java
Labels: Cognitive - Metrics Advisor

#18571 Sync eng/common directory with azure-sdk-tools for PR 1314
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#18575 Increment version for identity releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/communication/azure-communication-administration/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/azure-identity-spring/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/synapse/azure-analytics-synapse-accesscontrol/pom.xml
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/azure-analytics-synapse-monitoring/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: App Configuration, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Cosmos, DigitalTwins, Event Hubs, KeyVault, Schema Registry, Service Bus, Storage, azure-spring

#18551 Improve Spark Tests Framework
  sdk/cosmos/.gitignore
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/.gitignore
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/Dev-README.md
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/FilterAnalyzerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SampleCosmosCatalogE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SampleE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SampleReadE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQuerySpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/TestUtils.scala
Labels: Cosmos, cosmos:spark3

#18549 Fix bug in deleteSubscription and added unit test cases in sync client
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/resources/session-records/ServiceBusAdministrationAsyncClientIntegrationTest.deleteRule[1].json
Labels: Service Bus

#18473 [Storage] Sas credential in storage
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderTest.groovy
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BuilderHelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestscanusesastoauthenticate.json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/credentials/CredentialValidator.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/credentials/SasTokenCredential.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/policy/SasTokenCredentialPolicy.java
  sdk/storage/azure-storage-common/src/samples/java/com/azure/storage/common/credentials/SASTokenCredentialJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/BuilderHelperTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SASTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SASTestcanusesastoauthenticate.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClientBuilder.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/BuilderHelperTest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsCanUseSasToAuthenticate.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/BuildHelperTest.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
  sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueSASTestsCanUseSasToAuthenticate.json
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClientBuilder.java
Labels: Storage

#18580 Move HttpClient SPI Implementation to Public API
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClientProvider.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/JdkHttpClientProvider.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/module-info.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/resources/META-INF/services/com.azure.core.http.HttpClientProvider
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/RestProxyWithHttpProxyJdkHttpClientTests.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/RestProxyWithJdkHttpClientTests.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyClientProvider.java
  sdk/core/azure-core-http-netty/src/main/java/module-info.java
  sdk/core/azure-core-http-netty/src/main/resources/META-INF/services/com.azure.core.http.HttpClientProvider
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/ReactorNettyClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/RestProxyWithHttpProxyNettyTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/RestProxyWithNettyTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpClientProvider.java
  sdk/core/azure-core-http-okhttp/src/main/java/module-info.java
  sdk/core/azure-core-http-okhttp/src/main/resources/META-INF/services/com.azure.core.http.HttpClientProvider
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/RestProxyWithHttpProxyOkHttpTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/RestProxyWithOkHttpTests.java
Labels: Azure.Core, Client, HttpClient

#18567 Reorder aggregate-report Steps
  eng/pipelines/aggregate-reports.yml
Labels: EngSys

#18542 Fixed bug where getFileClient and getSubDirectoryClient on DirectoryClient would throw IllegalArgumentException if either resource had special characters.
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestgetfileandsubdirectoryclient[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestgetfileandsubdirectoryclient[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestgetfileandsubdirectoryclient[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestgetfileandsubdirectoryclient[3].json
Labels: Storage

#17582 Add HttpClientOptions
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/ReactorNettyClientProvider.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpClientProvider.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpClientProvider.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpClientProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/HttpClientOptions.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/HttpPipelineBuilderJavaDocCodeSnippets.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/ClientOptionsJavaDocCodeSnippets.java
Labels: Azure.Core, Client

#18579 Communication - Update the CODEOWNERS
  .github/CODEOWNERS
Labels: Client, Communication

#18591 Delete VM related resource to fix pipeline failure.
  sdk/spring/azure-spring-boot-test-keyvault/test-resources.json
Labels: azure-spring

#18596 Include only hand-written code in Jacoco test coverage calculation
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#18592 remove shaded packages from source jar
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#18573 Use conditional logic for setting TestPipeline parameter to true
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/template/ci.yml
Labels: EngSys

#18605 mgmt, update lite generator
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#18606 [Automation] Generate Fluent Lite from confluent#package-2020-03-01
  eng/versioning/version_client.txt
  pom.xml
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/README.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/ConfluentManager.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/ConfluentManagementClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/MarketplaceAgreementsClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/OrganizationOperationsClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/OrganizationsClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/ConfluentAgreementResourceInner.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/OperationResultInner.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/OrganizationResourceInner.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/package-info.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/package-info.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ConfluentAgreementResourceImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ConfluentManagementClientBuilder.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ConfluentManagementClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/MarketplaceAgreementsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/MarketplaceAgreementsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OperationResultImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationOperationsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationOperationsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationResourceImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/Utils.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/package-info.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/ConfluentAgreementResource.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/ConfluentAgreementResourceListResponse.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/MarketplaceAgreements.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OfferDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OperationDisplay.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OperationListResult.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OperationResult.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationOperations.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResource.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourceListResult.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourceProperties.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourcePropertiesOfferDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourcePropertiesUserDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourceUpdate.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/Organizations.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/ProvisionState.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/SaaSOfferStatus.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/UserDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/package-info.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/package-info.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/module-info.java
  sdk/confluent/ci.yml
  sdk/confluent/pom.xml
Labels: Mgmt - Track 2

#18609 Put all environment variables into EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-aad-obo/src/test/java/com/azure/test/aad/webapi/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/group/count/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateful/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateless/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADWeiResourceServerIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/Constant.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/AADWebApiITHelper.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/aad/EnvironmentVariables.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/Access.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/management/ClientSecretAccess.java
  sdk/spring/azure-spring-boot-test-core/src/test/java/com/azure/spring/test/aad/ropc/AADOauth2ROPCGrantClientIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/ActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/KeyVaultIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/test/keyvault/MultipleKeyVaultsIT.java
Labels: azure-spring

#18194 Cleaned up Key Vault READMEs
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/AccessControlHelloWorld.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/AccessControlHelloWorldAsync.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/BackupAndRestoreHelloWorld.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/BackupAndRestoreHelloWorldAsync.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/CreateRoleAssignmentsForDifferentScopes.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/SelectiveRestore.java
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ClientSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ServerSSLSample.java
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Labels: KeyVault, azure-spring

#18619 Prepare Patch release 3.0.4 Form Recognizer January 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#18523 Update migration guide.
  sdk/eventhubs/azure-messaging-eventhubs/migration-guide.md
Labels: Event Hubs

#18617 Updated readmes, changelogs, and poms for new version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Storage

#18148 Add setter to configure ClientOptions on processor builder
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#18621 [Communication] - Common - MicrosoftTeamsUserIdentifier Rename "Id" to "UserId"
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftTeamsUserIdentifier.java
Labels: Communication

#18620 [AppConfig] Prepare for AppConfig 1.1.8 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
Labels: App Configuration

#18618 [TA] Prepare for Text Analytics 5.0.2, January 2021 patch release
  eng/jacoco-test-coverage/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#18598 Removed a deep copy in payload size gate. Added a deep copy in BlobOu…
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobOutputStreamTest.groovy
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/PayloadSizeGate.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
Labels: Storage

#18625 Increment patch release version updates for FormRecognizer
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#18628 [AppConfig] Include the version updates for external libraries.
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Labels: App Configuration

#18624 Stream size validation update
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/HelperTestutilityconvertstreamtobufferavailable.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: Storage

#18627 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#18629 Fix changelog
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
Labels: Event Hubs

#18631 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
Labels: App Configuration

#18578 writePerfFix
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
Labels: Cosmos

#18633 use single-tenant client for default webapp IT
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
Labels: azure-spring

#18630 Prepare azure-search-documents for January 2021 Patch Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-perf/pom.xml
Labels: Client, Search

#18645 Cosmos 4.11.0 release and spring data cosmos 3.3.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#18394 Increment version for servicebus releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Service Bus, auto-merge

#18648 Update dependency version of azure-search-documents
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Client, Search

#18636 Increment version for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Event Hubs, azure-spring

#18401 Checkstyle version increment and checks update
  eng/code-quality-reports/pom.xml
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/BlacklistedWordsCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ExternalDependencyExposedCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/GoodLoggingCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/HttpPipelinePolicyCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ServiceClientCheck.java
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheck.java
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/GoodLoggerCheckTest.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/GoodLoggerCheck/NonStaticLoggerTestData.java
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-administration/pom.xml
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberAsyncClient.java
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberClient.java
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/ReturnType.java
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClient.java
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-data-sdk-parent/pom.xml
  sdk/search/azure-search-perf/src/main/java/com/azure/search/perf/App.java
  sdk/tables/azure-data-tables/src/samples/java/ReadmeSamples.java
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
Labels: Azure.Core, Cognitive - Form Recognizer, Cognitive - Text Analytics, Communication, Cosmos, Event Hubs, KeyVault, Search, Storage, azure-spring

#18652 [TA] Add TA changes from 2021 January
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#18649 [AppConfig] Merge patch release changes back to Master
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/monitor/azure-opentelemetry-exporter-azuremonitor/pom.xml
Labels: App Configuration

#18653 Updated CHANGELOG, README and POM versions for the January 2021 Key Vault stable release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/pom.xml
Labels: Azure.Identity, KeyVault

#18651 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring

#18612 Mgmt: Changelog tool
  eng/mgmt/automation/changelog.py
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/generation.yml
  eng/mgmt/automation/init.sh
  eng/mgmt/automation/parameters.py
  eng/mgmt/changelog/pom.xml
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/Main.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/ChangeLog.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/DefinitionStageChangeLog.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/AllMethods.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/ClassName.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/MethodName.java
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/Namespaces.java
Labels: Mgmt - Track 2

#18607 change the sample's application type from web to spa
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/add_permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/add_tokens.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/application-register.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/create_secret.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/grant_admin_consent.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter/docs/secret_value.png
Labels: azure-spring

#18635 Update EnvironmentVariable, and use it in b2c integration tests
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/utils/AADB2CTestUtils.java
  sdk/spring/azure-spring-boot-test-core/src/main/java/com/azure/spring/test/EnvironmentVariable.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/spring/test/keyvault/KeyVaultActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/spring/test/keyvault/KeyVaultSecretValueIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/spring/test/keyvault/MultipleKeyVaultsIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/spring/test/keyvault/app/DummyApp.java
  sdk/spring/azure-spring-boot-test-storage/src/test/java/com/microsoft/azure/test/storage/StorageActuatorIT.java
  sdk/spring/azure-spring-boot-test-storage/src/test/java/com/microsoft/azure/test/storage/StorageWriteIT.java
Labels: azure-spring

#18667 [Communication] - All - Homogenize test env variable names
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTestBase.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveTestBase.java
Labels: Communication

#18603 Enabled 1ES pools for live tests.
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/tests.yml
  sdk/tables/tests.yml
Labels: Central-EngSys, EngSys

#18657 User name attribute name configure for aad b2c
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/java/com/azure/spring/sample/aad/b2c/controller/WebController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
Labels: azure-spring, azure-spring-aad-b2c

#18613 [Communication] - PNM and SMS - Which auth is used for PNM and SMS tests is now clearer
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/PhoneNumberClientIntegrationTest.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveAsyncClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveClientTests.java
Labels: Communication

#18623 Increment version for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Storage

#18654 Service Bus January release preparation
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track1-perf/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#18676 Updated versions for blob batch and cryptography STG 75 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/pom.xml
Labels: Storage

#18483 Added support for container scoped batch
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClientBuilder.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchHelper.java
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulkdeleteblobscontainerscoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestbulksetaccesstiercontainerscoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestdeletebloballsucceedcontainerscoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestdeleteblobcontainerscopederrorwrongcontainer.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettierallsucceedcontainerscoped.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsettiercontainerscopederrorwrongcontainer.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsubmitbatchwithaccountsascredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsubmitbatchwithaccountsascredentialserror.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsubmitbatchwithcontainersascredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestsubmitbatchwithcontainersascredentialserror.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainerSubmitBatchHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainersSubmitBatchResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobRetentionPolicy.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
Labels: Storage

#18677 Removing after burner illegalAccessError warning on client telemetry Compute class
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/AzureVMMetadata.java
Labels: Cosmos

#18678 [Communication] - All - Bugfix: Changed env variable names from json
  sdk/communication/azure-communication-administration/src/test/java/com/azure/communication/administration/CommunicationIdentityClientTestBase.java
  sdk/communication/test-resources.json
Labels: Communication

#17965 Query plan caching
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RxDocumentClientUnderTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SpyClientUnderTestFactory.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Labels: Cosmos

#18695 mgmt, update lite generator to 4.0.11
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#18696 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#18692 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity, Cosmos, KeyVault

#18686 Sync eng/common directory with azure-sdk-tools for PR 1318
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#18500 [Communication] - SMS - Added AAD Auth Support
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsClientBuilder.java
  sdk/communication/azure-communication-sms/src/samples/java/com/azure/communication/sms/samples/quickstart/ReadmeSamples.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveAsyncClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveTestBase.java
  sdk/communication/azure-communication-sms/src/test/resources/session-records/sendSmsRequestAsyncUsingManagedIdentity.json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/sendSmsRequestWithManagedIdentity.json
Labels: Communication

#18701 [Communication] - SMS - Use getEndpoint function in managed identity tests
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsLiveTestBase.java
Labels: Communication

#17397 Increment version for cognitiveservices releases
  eng/versioning/version_data.txt
  sdk/cognitiveservices/ms-azure-cs-qnamaker/pom.xml
Labels: Cognitive - QnA Maker

#18688 Added annotations for datalake and removed en-us from links
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/specialized/DataLakeLeaseAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/specialized/DataLakeLeaseClient.java
Labels: Storage

#18684 Added annotations to blob and removed en-us from links in the library
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
Labels: Storage

#18704 Added annotations for file share and removed en-us from links
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseClient.java
Labels: Storage

#16410 Increment version for cognitiveservices releases
  eng/versioning/version_data.txt
  sdk/cognitiveservices/ms-azure-cs-computervision/pom.xml
Labels: Cognitive - Computer Vision

#18706 Added annotations and removed en-us from links for Queues
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Labels: Storage

#18707 Fix Azure Monitor Checkstyle Suppressions
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
Labels: Client

#18600 ci.yml Include Only Proof of Concept
  sdk/appconfiguration/ci.mgmt.yml
  sdk/appconfiguration/ci.yml
  sdk/keyvault/ci.data.yml
  sdk/keyvault/ci.mgmt.yml
  sdk/keyvault/ci.yml
Labels: App Configuration, EngSys, KeyVault

#18685 [Communication]: Add identifier model and serializer
  sdk/communication/azure-communication-administration/src/main/java/com/azure/communication/administration/PhoneNumberAsyncClient.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierKind.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierModel.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifierSerializer.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierSerializerTests.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsAsyncClient.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
Labels: Communication

#18710 Sync eng/common directory with azure-sdk-tools for PR 1317
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Labels: Central-EngSys, EngSys

#18594 Session timeout 404/1002 HA fixes
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/resources/multi-region-testng.xml
  sdk/cosmos/tests.yml
Labels: Cosmos

#18717 Update MaxParallel to 7
  sdk/eventgrid/tests.yml
  sdk/keyvault/tests.yml
  sdk/search/tests.yml
  sdk/tables/tests.yml
Labels: EngSys, Event Grid, KeyVault, Search

#18714 Update msal4j Dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity, Event Hubs, azure-spring

#18713 Sync eng/common directory with azure-sdk-tools for PR 1327
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#18715 Fix bug: OAuth2AuthorizedClient not saved for ClientNeedConsentWhenLogin
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizedClientRepository.java
Labels: azure-spring

#18726 mgmt, fix app getByName
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryApplicationsImpl.java
Labels: Mgmt - Track 2

#18642 Cosmos DB: Rewrite RowConverter
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosDataWriteFactory.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/JsonSupport.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/main/scala/com/azure/cosmos/spark/RowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-0_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Labels: Cosmos

#18698 Resuming query from a continuation token after split
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Labels: Cosmos

#18735 Nio output stream open options
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/CompositeTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/AzureFileSystemProviderTestoutputstreamoptionsmissingrequired.json
  sdk/storage/azure-storage-blob-nio/src/test/resources/session-records/CompositeTestfilescopy.json
Labels: Storage

#18711 Generated off latest swagger for STG76
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/DataLakeStorageClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareProtocolSettings.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareSmbSettings.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
Labels: Storage

#18721 Update Key Vault dependency version for the January 2021 release
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: App Configuration, Cosmos, KeyVault, azure-spring

#18740 [Perf] Add example perf test for template
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/versioning/version_client.txt
  sdk/template/azure-template-perf/CHANGELOG.md
  sdk/template/azure-template-perf/README.md
  sdk/template/azure-template-perf/pom.xml
  sdk/template/azure-template-perf/src/main/java/com/azure/sdk/template/perf/App.java
  sdk/template/azure-template-perf/src/main/java/com/azure/sdk/template/perf/GetMessageTest.java
  sdk/template/ci.yml
  sdk/template/pom.xml
Labels: EngSys

#18738 Bump Digital twins version for 1/21/2021 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: DigitalTwins

#18718 Support AAD authentication for Metrics Advisor
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/IncidentRootCauseTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdminClientBuilderTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdministrationClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientBuilderTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/TestUtils.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/ValuesOfDimensionWithAnomaliesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithDefaultPipeline[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithInvalidEndpoint[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithInvalidKeyCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithNullServiceVersion[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorAdminClientBuilderTest.clientBuilderWithTokenCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithDefaultPipeline[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithInvalidEndpoint[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithInvalidKeyCredential[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithNullServiceVersion[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/MetricsAdvisorClientBuilderTest.clientBuilderWithTokenCredential[1].json
Labels: Cognitive - Metrics Advisor

#18743 Sync eng/common directory with azure-sdk-tools for PR 1251
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#18586 Enhance aad multi tenant it
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/multitenant/AADMultipleTenantIT.java
Labels: azure-spring
