Repository Azure/azure-sdk-for-java, pull requests merged in 2021-06, with the labels that each got.

#21966 Use different connection strings for ServiceBus binders integration tests.
  sdk/spring/azure-spring-cloud-test-eventhubs/src/test/java/com/azure/spring/test/eventhubs/stream/binder/EventHubBinderBatchModeIT.java
  sdk/spring/azure-spring-cloud-test-eventhubs/src/test/java/com/azure/spring/test/eventhubs/stream/binder/EventHubBinderManualModeIT.java
  sdk/spring/azure-spring-cloud-test-eventhubs/src/test/java/com/azure/spring/test/eventhubs/stream/binder/EventHubBinderRecordModeIT.java
  sdk/spring/azure-spring-cloud-test-eventhubs/src/test/java/com/azure/spring/test/eventhubs/stream/binder/EventHubBinderSyncModeIT.java
  sdk/spring/azure-spring-cloud-test-servicebus-binder/src/test/java/com/azure/spring/sample/servicebus/binder/MultiServiceBusQueueAndTopicBinderIT.java
  sdk/spring/azure-spring-cloud-test-servicebus-binder/src/test/java/com/azure/spring/sample/servicebus/binder/SingleServiceBusQueueAndTopicBinderIT.java
  sdk/spring/azure-spring-cloud-test-servicebus-binder/src/test/resources/application-multi.yml
  sdk/spring/azure-spring-cloud-test-servicebus-binder/src/test/resources/application-single.yml
  sdk/spring/azure-spring-cloud-test-servicebus-binder/test-resources.json
Labels: azure-spring

#21427 update changelog
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring, azure-spring-aad

#21942 Fix Broken Link Explaining Spring Duration Conversions
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config/README.md
Labels: App Configuration

#21654 [Communication]: Remove unused code in pom and test files
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatClientTestBase.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityAsyncTests.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityTests.java
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientBuilderTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersIntegrationTestBase.java
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
  sdk/communication/communication-tests-template.yml
  sdk/communication/tests.yml
Labels: Communication

#21991 Adds AsyncCloseable
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AsyncAutoCloseable.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/util/AsyncCloseable.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/AsyncCloseableJavaDocCodeSnippet.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLink.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
Labels: Azure.Core

#21853 Sync eng/common directory with azure-sdk-tools for PR 1611
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#21993 Update Build Script to Perform Additional Tasks
  eng/precommit_local_build.py
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Client, EngSys

#21995 Set AMQP connection idle timeout to 60 seconds.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
Labels: Azure.Core, amqp

#21939 Angiurgiu/add missing chat thread async client options methods
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadAsyncClient.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/resources/session-records/ChatThreadAsyncClientTest.canAddListAndRemoveMembersWithOptionsAsync[1].json
  sdk/communication/azure-communication-chat/src/test/resources/session-records/ChatThreadAsyncClientTest.canSendThenListReadReceiptsWithOptions[1].json
Labels: Communication

#21967 Add participant fix and style fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/InviteParticipantsRequestConverter.java
Labels: Communication

#21989 add ut test for jre certificates
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/JreKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/JreKeyStoreTest.java
Labels: KeyVault, azure-spring

#21573 Add integration test for keyvault certificate
  sdk/spring/azure-spring-boot-test-keyvault-certificate/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-keyvault-certificate/README.md
  sdk/spring/azure-spring-boot-test-keyvault-certificate/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault-certificate/src/test/java/com/azure/spring/test/keyvault/KeyVaultCertificateIT.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/src/test/java/com/azure/spring/test/keyvault/PropertyConvertorUtils.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/src/test/java/com/azure/spring/test/keyvault/app/DummyApp.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/test-resources.json
  sdk/spring/pom.xml
  sdk/spring/spring-test-template.yml
Labels: azure-spring, azure-spring-jca, azure-spring-keyvault

#22014 Playback unit test for CallClient and CallAsyncClient
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreatePlayAudioHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreatePlayAudioHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreatePlayAudioHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreatePlayAudioHangupScenario[1].json
Labels: Communication

#22010 azure-messaging-eventhubs-checkpointstore-blob Post Release Version Increment
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Event Hubs, azure-spring

#22004 Update CODEOWNERs for Mixed Reality Authentication
  .github/CODEOWNERS
Labels: auto-merge

#22025 Add-remove participant unit tests
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.inviteUserRemoveParticipantScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.inviteUserRemoveParticipantScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.inviteUserRemoveParticipantScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.inviteUserRemoveParticipantScenario[1].json
Labels: Communication

#22020 Bump versions of core amqp and servicebus
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-integration-servicebus/pom.xml
Labels: Azure.Core, Service Bus, azure-spring

#21851 Add autoscale RU support for azure-spring-data-cosmos
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/AutoScaleSample.java
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/Container.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/UserSample.java
Labels: Cosmos, azure-spring, customer-reported

#22035 Adding a No Op version of the List RR with Options test, for code coverage
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/resources/session-records/ChatThreadAsyncClientTest.canListReadReceiptsWithOptions[1].json
Labels: Communication

#22001 Prepare azure-sdk-bom for Release
  eng/versioning/external_dependencies.txt
  pom.xml
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core

#21961 mgmt core, move ArmChallengeAuthenticationPolicy from experimental
  eng/versioning/version_client.txt
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/http/policy/ArmChallengeAuthenticationPolicy.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/http/policy/package-info.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/http/AuthenticationChallenge.java
  sdk/core/azure-core-management/src/main/java/module-info.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/http/policy/AuthenticationChallengeTest.java
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/AuthenticationPolicy.java
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/utils/AuthFile.java
  sdk/resourcemanager/azure-resourcemanager/CHANGELOG.md
Labels: Azure.Core

#22038 Using the latest swagger file
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ConversationsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallModality.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallModalityModel.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateModel.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CommunicationParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/EventSubscriptionType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/EventSubscriptionTypeModel.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/GetCallRecordingStateResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/OperationStatus.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/OperationStatusModel.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneValue.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/package-info.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/package-info.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallRequest.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22040 Added join-call, add-remove-participant for out-call
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
Labels: Communication

#22044 sync with dot net sdk
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ConversationsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/InviteParticipantsRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/ResultInfoConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ResultInfoInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneValue.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/InviteParticipantsRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ResultInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneValue.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/package-info.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#19513 Check if a queue exists but the name is used for a topic and vice versa
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClient.java
Labels: Service Bus, customer-reported

#22021 Adding PlayAudio Api to Conversation Client (Out-Call)
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationAsyncClientTests.runAllClientFunctionsAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationAsyncClientTests.runAllClientFunctionsWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationAsyncClientTests.runPlayAudioFunctionAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationAsyncClientTests.runPlayAudioFunctionWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationAsyncClientTests.startRecordingFailsAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationClientTests.runAllClientFunctionsWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationClientTests.runAllClientFunctions[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationClientTests.runPlayAudioFunctionWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationClientTests.runPlayAudioFunction[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ConversationClientTests.startRecordingFails[1].json
Labels: Communication

#22053 fix style errors
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ConversationsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/OperationStatus.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/GetCallRecordingStateResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/GetCallRecordingStateResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/OperationStatus.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResponse.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationClientTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22046 Updating AAP jar version for signed jar and moving it to azure dev-ops feed from blob storage
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
Labels: Cosmos

#22059 Sync eng/common directory with azure-sdk-tools for PR 1658
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#22064 event deserialization
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CommunicationParticipantInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ParticipantsUpdatedEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallEventBase.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventBase.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22037 Use sparse-checkout When Performing a POM Only Release
  eng/pipelines/templates/jobs/build-validate-pom.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
Labels: Client, EngSys

#22036 [ServiceBus] Dispose link immediately if updateDisposition timeout.
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
Labels: Service Bus

#22052 Set azure-sdk-bom to In-Dev
  .github/CODEOWNERS
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Azure.Core, Client, bom

#22068 Fix review suggestions
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallModality.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/EventSubscriptionType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22067 fix(*): fix issue with tests failing in maven
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/module-info.java
  sdk/communication/azure-communication-callingserver/tests.yml
Labels: Communication

#22071 fix review feedbacks
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ConversationsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingStateResponse.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationClientTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22075 unit tests for delete call
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateDeleteScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateDeleteScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateDeleteScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateDeleteScenario[1].json
Labels: Communication

#22076 remove unused generated events
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22016 mgmt, aks support spot vm
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClusterAgentPoolImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesClusterAgentPool.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canCreateClusterWithSpotVM.json
Labels: Mgmt - Track 2

#22072 Expose CbsAuthorizationType
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/CbsAuthorizationType.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AzureTokenManagerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
Labels: Azure.Core, Event Hubs, Service Bus

#22023 Addressed API Feedback for Storage STG77
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobContainerSasPermission.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobSasPermission.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasPermission.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeSignedIdentifier.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/FileSystemSasPermission.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/PathSasPermission.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareFileSasPermission.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareSasPermission.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueSasPermission.java
  sdk/storage/microsoft-azure-storage-blob/src/main/java/com/microsoft/azure/storage/blob/AccountSASPermission.java
  sdk/storage/microsoft-azure-storage-blob/src/main/java/com/microsoft/azure/storage/blob/BlobSASPermission.java
  sdk/storage/microsoft-azure-storage-blob/src/main/java/com/microsoft/azure/storage/blob/ContainerSASPermission.java
Labels: Storage

#22060 Update AMQP Error Context and adding more AMQP error codes
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpErrorCondition.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpErrorContext.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpException.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpResponseCode.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/exception/AmqpErrorContextTest.java
Labels: Azure.Core

#22073 Fixed mapping cosmos converter to handle value nodes
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ContactRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ContactRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
Labels: Cosmos, azure-spring

#22082 Test Wagon Changes to Determine Install Performance
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys, common

#22080 [Storage] Use FluxUtil for reliable download.
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/ReliableDownload.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseMockFlux.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#22090 fix event de-serialization issue by adding default constructors
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
Labels: Communication

#21998 Sync eng/common directory with azure-sdk-tools for PR 1645
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#22089 Sync eng/common directory with azure-sdk-tools for PR 1654
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#22081 Update proton-j and qpid-proton-j-extensions
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Azure.Core, Event Hubs, Service Bus

#22002 Use sparse checkout for Update Package Version release stage
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: Central-EngSys

#22099 PR review fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/InviteParticipantsRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
Labels: Communication

#22101 Use JSON annotated event definition
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantsResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
Labels: Communication

#22085 Fix subscription bugs in ReactorSession and ReactorConnection
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
Labels: Azure.Core, Event Hubs

#22018 Fixing max length of userAgent header
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/resources/azure-cosmos-spark.properties
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConstantsSpec.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UserAgentContainer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/UserAgentContainerTest.java
Labels: Cosmos

#22079 Cosmos Spark: Support CustomQuery to be used for inference
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
Labels: Cosmos, cosmos:spark3

#22084 Prepare Core Libraries for June 2021 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-test/pom.xml
  sdk/search/azure-search-documents/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Azure.Core, Azure.Identity, Client

#22095 Exposes management node in azure-core-amqp
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpLink.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpManagementNode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/ClaimsBasedSecurityNode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ExceptionUtil.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/MessageUtils.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/DeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/DeliveryState.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/ModifiedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/ReceivedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/RejectedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/TransactionalDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ManagementChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MessageUtilsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/DeliveryStateTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
Labels: Azure.Core

#22119 Annotate HttpRange with Immutable
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRange.java
Labels: Azure.Core, Client

#22049 Cosmos Spark: Changing inferSchema.forceNullableProperties default to true
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
Labels: Cosmos, cosmos:spark3

#22120 Make getScopes in the ARM Authentication Policy Public
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/http/policy/ArmChallengeAuthenticationPolicy.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/AuthenticationPolicy.java
Labels: Azure.Core, Client

#22125 pr review fix
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AddParticipantConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
Labels: Communication

#22123 Chrwhit/master update two
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpLink.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpManagementNode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/ClaimsBasedSecurityNode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ExceptionUtil.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/MessageUtils.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/DeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/DeliveryState.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/ModifiedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/ReceivedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/RejectedDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/TransactionalDeliveryOutcome.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ClaimsBasedSecurityChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ManagementChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MessageUtilsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RequestResponseChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/ConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/DeliveryStateTest.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/http/policy/ArmChallengeAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRange.java
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorConnectionTest.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/AuthenticationPolicy.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
Labels: Azure.Core, Cosmos, Event Hubs, Service Bus

#22061 [Communication]: Update version, changelog, and dependency for June release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#22041 Add module-info to jca and jca test module and change package name of jca test module
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/AuthClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/RestClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/module-info.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/module-info.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/test/TestModularization.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/main/java/module-info.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/AuthClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/JreKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultCertificatesTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultKeyManagerTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/PropertyConvertorUtils.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/ServerSocketTest.java
Labels: KeyVault, azure-spring

#22131 PR review fix
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
Labels: Communication

#22109 Fix error in aad-starter-sample
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/utils/JsonMapper.java
Labels: azure-spring

#22126 EventGrid Add 4.4.0 new system events.
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/SystemEventMappingNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRecordingChunkInfoProperties.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingApplicationDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingBoundaryChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingCropChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingCropVarietyChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmOperationDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmerChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFieldChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingHarvestDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingJobStatus.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingPlantingDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingResourceActionType.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSatelliteDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSeasonChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSeasonalFieldChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingTillageDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingWeatherDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/StorageBlobInventoryPolicyCompletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#22122 Fix Management Bug
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
Labels: Azure.Core, Event Hubs

#22134 Add domain_hint in aad-stater.
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationRequestResolver.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Labels: azure-spring

#22121 Update datafeed tests to remove error code asserts
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedAsyncClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedClientTest.java
Labels: Cognitive - Metrics Advisor

#22148 Re-generate EventGrid 4.4.0 events without FarmsBeat events
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/SystemEventMappingNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingApplicationDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingBoundaryChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingCropChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingCropVarietyChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmOperationDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFarmerChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingFieldChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingHarvestDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingJobStatus.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingPlantingDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingResourceActionType.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSatelliteDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSeasonChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingSeasonalFieldChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingTillageDataChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AgriFoodFarmingWeatherDataIngestionJobStatusChangedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#22155 [Communication]: Update pom in communication for release
  sdk/communication/pom.xml
Labels: Communication

#22156 Update EventGrid Version to 4.4.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#22152 Prepared storage for GA release of STG77
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileUploadRangeFromUrlInfo.java
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Communication, Storage

#22153 Identity versions Update June 2021
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity, Communication

#22133 updated keyvault jca changelog for local jre keystore certificates
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
Labels: KeyVault, azure-spring

#22164 new schema fix + new class model
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ConversationClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/AzureCommunicationCallingServerServiceImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/AzureCommunicationCallingServerServiceImplBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/ServerCallingErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CommunicationParticipantInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ParticipantsUpdatedEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallConnectionState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallConnectionStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallLegStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ConversationClientReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerClientBuilderTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationAsyncClientTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationClientBuilderTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ConversationClientTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22165 roll back azure common lib
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerClientBuilderTests.java
Labels: Communication

#22169 Update the release dates for June release
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: Communication

#21014 Change Track 2 SB sendMessages() API for messages are being sent at a slow pace
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageBatch.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
Labels: Service Bus, customer-reported

#21228 Implement an Event Hubs Shared Access Key Credential
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientBuilderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
Labels: Azure.Identity, customer-reported

#22175 Prepare for metricsadvisor Beta release
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
Labels: Cognitive - Metrics Advisor

#22057 [Form recognizer] Add validation checks before setting valueData
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/module-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/ErrorImage.tiff
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.invoiceSubLineItemsNull[1].json
Labels: Cognitive - Form Recognizer

#22026 Adding ACS Recording Download SDK
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ContentDownloader.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/Constants.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerResponseException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ParallelDownloadOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReceiver.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReporter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadContent404Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadMetadataAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadMetadataStreamingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadMetadataToStreamAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadVideoAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentTests.downloadContent404[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentTests.downloadMetadataStreaming[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentTests.downloadMetadata[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentTests.downloadVideo[1].json
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/implementation/HmacAuthenticationPolicy.java
Labels: Communication

#22171 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#22179 Increment version for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#22172 Increment version for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Storage

#22183 new schema minor fix
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ContentDownloader.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallingServerErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerErrorException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ServerCallingError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ServerCallingErrorException.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallTests.java
Labels: Communication

#22157 Adding IoT Hub connection string sample
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/IoTHubConnectionSample.java
Labels: Event Hubs

#22182 Making ProgressReporter.reportProgress to release the lock everytime.
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReporter.java
Labels: Communication

#22180 Prepare patch Formrecognizer 3.1.1
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#22188 Sync eng/common directory with azure-sdk-tools for PR 1685
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#22167 mgmt, enhance on vm msi
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineMsiHandler.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineIdentity.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineScaleSetIdentity.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineEMSILMSIOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetEMSILMSIOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineEMSILMSIOperationsTests.canUpdateVirtualMachineWithEMSIAndLMSI.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineScaleSetEMSILMSIOperationsTests.canUpdateVirtualMachineScaleSetWithEMSIAndLMSI.json
Labels: Mgmt - Track 2

#22190 update keyvault starter readme
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/add-access-policy.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/back-to-key-vault.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/check-certificates-status.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/choose-application.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/copy-secrets.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/create-certificates.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/create-key-vault-resource.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/create-secrets.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/creating-an-azure-key-vault-01.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/creating-an-azure-key-vault-02.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/creating-an-azure-key-vault-03.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/get-info-for-app.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/go-to-resource.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/new-registration.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/save-access-policy.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/save-vault-uri.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/select-azure-active-directory.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/select-configure.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/specify-application.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/specify-certificates-info.png
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/resource/specify-the-options.png
Labels: azure-spring

#21840 App config integration tests
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/java/com/microsoft/azure/spring/cloud/config/LoadConfigsTest.java
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/java/com/microsoft/azure/spring/cloud/config/SampleIT.java
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/java/com/microsoft/azure/spring/cloud/config/app/AppConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/java/com/microsoft/azure/spring/cloud/config/app/DummyApp.java
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/java/com/microsoft/azure/spring/cloud/config/app/MyCredentials.java
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/src/test/resources/META-INF/spring.factories
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/test-resources.json
  sdk/appconfiguration/ci.yml
  sdk/appconfiguration/tests.yml
Labels: App Configuration, azure-spring

#22187 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#22191 Renamed Response to result
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingStateResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResult.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ConversationClientReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22194 update keyvault starter readme
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
Labels: azure-spring

#22141 Deprecate aad.group.enable-full-list.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GroupInformation.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/cache/AzureRedisAutoConfigurationTest.java
Labels: azure-spring

#22199 Modify the aad user group related readme.
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring

#22201 fix unit tests with new schema
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateAddRemoveHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateAddRemoveHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateDeleteScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreateDeleteScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallAsyncClientTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateAddRemoveHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateAddRemoveHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateDeleteScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreateDeleteScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallClientTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreateAddRemoveHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreateAddRemoveHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreateJoinHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreateJoinHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreateAddRemoveHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreateAddRemoveHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreateJoinHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreateJoinHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncTests.runAddRemoveScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncTests.runAddRemoveScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallTests.runAddRemoveScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallTests.runAddRemoveScenario[1].json
Labels: Communication

#21847 Fix Spring Data Cosmos Readme issue #20246
  sdk/cosmos/azure-spring-data-cosmos/README.md
Labels: Cosmos, azure-spring, customer-reported

#22173 Increment version for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#22127 Add samples and test for the national clouds support in ACR
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryClientBuilder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/Utils.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/NationalCloudSample.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ReadmeSamples.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/TestUtils.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryClientIntegrationTests.authenticationScopeTest[1].json
Labels: Container Registry

#22211 Preparing for azure-core-amqp 2.2.0 release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorExecutor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseUtils.java
  sdk/core/azure-core-amqp/src/samples/java/com/azure/core/amqp/models/AmqpAnnotatedMessageJavaDocCodeSamples.java
  sdk/core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
Labels: Azure.Core, Event Hubs

#22178 Add @Generated annotation
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/Generated.java
Labels: Azure.Core

#22214 [Communication]: Move auth policy to after retry policy
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatClientBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadClientBuilder.java
  sdk/communication/azure-communication-identity/src/main/java/com/azure/communication/identity/CommunicationIdentityClientBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersClientBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientBuilderTest.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/SmsClientBuilder.java
Labels: Communication

#22220 [AppConfig] June patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: App Configuration, Client

#22215 [TA] Prepare for June patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#22221 fix javadoc
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/package-info.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/package-info.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerErrorException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/package-info.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/CallingServerAsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/CallingServerClientBuilderJavaDocCodeSnippets.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/CallingServerClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22147 Increment version for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
  sdk/confidentialledger/pom.xml
Labels: Communication

#22226 Multiple changes
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ContentDownloader.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReporter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadMetadataRetryingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncTests.downloadToFileAsync[1].json
Labels: Communication

#22228 PR review feedbacks
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioConverter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#22230 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#22232 Added performance tests for Tables
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/CHANGELOG.md
  sdk/tables/azure-data-tables-perf/README.md
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/App.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/CreateEntityWithAllTypes.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/CreateEntityWithAllTypesUsingTransaction.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/CreateEntityWithStringsOnly.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/CreateEntityWithStringsOnlyUsingTransaction.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/ListEntitiesWithAllTypesTest.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/ListEntitiesWithStringsOnlyTest.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/core/ServiceTest.java
  sdk/tables/azure-data-tables-perf/src/main/java/com/azure/data/tables/perf/core/TableTestBase.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClientBuilder.java
  sdk/tables/pom.xml
Labels: Client, Tables

#22240 make events immutable
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AddParticipantConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallRecordingStateResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallingServerErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CancelAllMediaOperationsResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CommunicationIdentifierConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/ResultInfoConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/StartCallRecordingResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallConnectionStateChangedEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateChangeEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/InviteParticipantsResultEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ResultInfoInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneInfoInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ToneReceivedEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CommunicationParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ResultInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallConnectionStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22241 PR review fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallingServerErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingStateResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ParallelDownloadOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReporter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ResultInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallConnectionStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
Labels: Communication

#18503 Subpartitioning: Adds SDK changes to support subpartitioning.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternalHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKind.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Labels: Cosmos

#22239 Fix problems when closing ReactorExecutor
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
Labels: Azure.Core

#22246 Fixed indexing policy getting reset when not provided
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/IndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveIndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleReactiveCosmosRepository.java
Labels: Cosmos, azure-spring

#22235 [TA] Fixed live tests
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForBatchInputShowStatistics[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForBatchInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForBatchStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForListLanguageHint[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForListStringWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.extractKeyPhrasesForTextInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForBatchInputShowStatisticsWithRecognizeEntitiesOption[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForBatchInputShowStatistics[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForBatchInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForBatchStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForListLanguageHint[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForListWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesForTextInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForBatchInputShowStatistics[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForBatchInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForBatchStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForListLanguageHint[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForListStringWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.extractKeyPhrasesForTextInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForBatchInputShowStatisticsWithRecognizeEntitiesOption[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForBatchInputShowStatistics[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForBatchInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForBatchStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForListLanguageHint[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForListWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesForTextInput[1].json
Labels: Client, Cognitive - Text Analytics

#22251 Release azure cosmos 4.16.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/pom.xml
Labels: Cosmos, azure-spring

#22260 Increment version of azure-core-amqp after release
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Azure.Core, Event Hubs, Service Bus

#22263 PR review test fixes
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerClientBuilderUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadContent404Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataRetryingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataToStreamAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadToFileAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadToFileRetryingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadVideoAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContent404[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContentStreamFailure[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContentWrongUrl[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadMetadataStreaming[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadMetadata[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadVideo[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.startRecordingFailsAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctions[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunctionWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunction[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.startRecordingFails[1].json
Labels: Communication

#22264 PR review fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/Constants.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/AddParticipantConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallRecordingStateResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallingServerErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CancelAllMediaOperationsResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CommunicationIdentifierConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/InviteParticipantRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/ResultInfoConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/StartCallRecordingResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingStateResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerErrorException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ResultInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallConnectionStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventBase.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ConversationClientReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallLiveTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22265 PR review fixes
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ConversationClientReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
Labels: Communication

#22267 pr review fixes
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ContentDownloader.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
Labels: Communication

#22266 Update ServiceBus to 7.2.3
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#22271 Prepare for Event Hubs release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#22274 PR review fixes
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallParticipant.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingStateResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerError.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingServerErrorException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ResultInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartCallRecordingResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ToneInfo.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallConnectionStateChangedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallRecordingStateChangeEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/InviteParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/PlayAudioResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ToneReceivedEvent.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
Labels: Communication

#22258 [TA] Remove StringIndexType type in the TA
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeHealthcareEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeSentimentAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizeLinkedEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/RecognizePiiEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeSentimentOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeLinkedEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizePiiEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/StringIndexType.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Client, Cognitive - Text Analytics

#22273 Add AzureNamedKeyCredential and AzureSasCredential to EventProcessorClientBuilder
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
Labels: Event Hubs

#22097 Applied APIView feedback for Key Vault libraries.
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/KeyVaultAdministrationUtils.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultAdministrationException.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultDataAction.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultLongRunningOperation.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultRestoreResult.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultRoleDefinitionType.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultRoleType.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultSelectiveKeyRestoreOperation.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultSelectiveKeyRestoreResult.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/SetRoleDefinitionOptions.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/AccessControlHelloWorld.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/AccessControlHelloWorldAsync.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/BackupAndRestoreHelloWorld.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/SelectiveKeyRestore.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAccessControlAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/X509CertificateProperties.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/KeyVaultCertificateIdentifier.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/CertificateClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateRsaKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyVaultKeyIdentifier.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/models/KeyVaultSecretIdentifier.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTestBase.java
Labels: KeyVault

#22275 Fix maximumSilentTime validation issue hitting Spark
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/EventHubClientOptions.java
Labels: Event Hubs

#22276 PR Fixes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReporter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentLiveTests.java
Labels: Communication

#22277 Move EventHubConnectionStringProperties into models folder.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConnectionStringProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventHubConnectionStringPropertiesTest.java
Labels: Event Hubs

#21214 Cosmos DB: Spark CI for Databricks pipeline
  sdk/cosmos/ci.spark.databricks.yml
  sdk/cosmos/ci.spark.yml
  sdk/cosmos/tests.yml
Labels: Cosmos, cosmos:spark3

#22280 pr review fixes
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallUnitTests.java
Labels: Communication

#21227 Implement a Service Bus Shared Access Key Credential
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusClientBuilderTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusAdministrationClientImplIntegrationTests.java
Labels: Azure.Identity, customer-reported

#22254 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos

#21947 Load cert from file system in key vault
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/ClasspathCertificates.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/FileSystemCertificates.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ClasspathCertificatesTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/FileSystemCertificatesTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultCertificatesTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/resources/custom/sideload.x509
  sdk/keyvault/azure-security-keyvault-jca/src/test/resources/well-known/sideload.pem
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/FileSystemCertificatesTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/JreKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultCertificatesTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultKeyManagerTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/PropertyConvertorUtils.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/ServerSocketTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/resources/custom/sideload.x509
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/resources/well-known/sideload.x509
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/src/main/java/com/azure/spring/security/keyvault/certificates/starter/KeyVaultCertificatesEnvironmentPostProcessor.java
Labels: KeyVault, azure-spring, azure-spring-keyvault

#22107 List Spring sample README to the doc site
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-conversion-sample-complete/README.md
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-conversion-sample-initial/README.md
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-sample/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-by-filter-stateless/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server-obo/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-client-side/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-server-side/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-mediaservices/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-cache/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-multibinders/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-operation/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-messaging-eventhubs/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-messaging-servicebus/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-operation/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-multibinders/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-storage-queue-operation/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-eventhubs/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-servicebus/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-integration-sample-storage-queue/README.md
Labels: azure-spring

#22233 mgmt, support settings from kudu
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/KuduClient.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/WebAppBaseImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/WebAppBase.java
Labels: Mgmt - Track 2

#22292 Increment version for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Azure.Core, Event Hubs, azure-spring

#22295 Rename spark databricks deploy pipeline config
  sdk/cosmos/spark.databricks.yml
  sdk/cosmos/spark.yml
Labels: Cosmos

#22248 Additional HttpClientOptions Configurations
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientProvider.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncClientProvider.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/HttpClientOptions.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/HttpClientOptionsTests.java
Labels: Azure.Core, Client

#22298 apply new name changes
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallConnectionRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CallingServerErrorConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CancelAllMediaOperationsResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/InviteParticipantRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/JoinCallRequestConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/PlayAudioResultConverter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AddParticipantRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AddParticipantResultEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/AddParticipantResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallParticipantInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingPropertiesInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CallRecordingStateChangeEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CancelAllMediaOperationsResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CommunicationErrorResponseException.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/CreateCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/JoinCallRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ParticipantsUpdatedEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultEventInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlayAudioResultInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AddParticipantResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallConnectionState.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallModality.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallRecordingProperties.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CancelAllMediaOperationsResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CreateCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/JoinCallOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/MediaType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayAudioResult.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/AddParticipantResultEvent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/ParticipantsUpdatedEvent.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/CallingServerAsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/CallingServerClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ConversationClientReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/samples/java/com/azure/communication/callingserver/ReadmeSamples.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestUtils.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunctionWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunction[1].json
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#22255 [Storage] SAS version cleanup.
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobSasImplUtil.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobSasServiceVersion.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceSasModelsTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/AccountSasImplUtil.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasSignatureValues.java
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/DataLakeSasImplUtil.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/DataLakeServiceSasSignatureValues.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SASTest.groovy
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ShareSasImplUtil.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/sas/ShareServiceSasSignatureValues.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSasClientTests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsRememberAboutStringToSignDeprecation.json
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/QueueSasImplUtil.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueServiceSasSignatureValues.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSasClientTests.groovy
  sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueSASTestsAccountSASCreateDeleteQueue.json
  sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueSasClientTestsRememberAboutStringToSignDeprecation.json
Labels: Storage

#21280 Added support to get a BlobClient that uses a specific encryption scope and customer provided key
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/BlobCryptographyBuilderTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/BlobCryptographyBuilderTestGetCustomerProvidedKeyClient.json
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/BlobCryptographyBuilderTestGetEncryptionScopeClient.json
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/module-info.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKNTestGetEncryptionScopeClient.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/CPKTestGetCustomerProvidedKeyClient.json
Labels: Storage

#22297 Add pr: none to spark.yml pipeline config
  sdk/cosmos/spark.yml
Labels: Cosmos
