Repository Azure/azure-sdk-for-java, pull requests merged in 2021-07, with the labels that each got.

#22697 Limit the size of cached URL builders
  sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/UrlBuilderTests.java
Labels: Azure.Core

#22679 Fix spring eventhub IT failure
  sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/src/test/java/com/azure/spring/sample/eventhubs/binder/EventHubBinderApplicationIT.java
Labels: azure-spring

#22504 Added support for file share reliable download
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/policy/MockRetryRangeResponsePolicy.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/DownloadRetryOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileDownloadOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileTestHelper.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsDownloadAllNull.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsDownloadEmptyFile.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsDownloadRetryDefault.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsDownloadWithRetryRange.json
Labels: Storage

#22556 create Subscription Rule with CorrelationFilter does not create respect properties
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/models/CorrelationFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/models/SqlFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/models/SqlRuleActionImpl.java
Labels: Service Bus, customer-reported

#22320 Fix service bus readme issue
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#22142 [Service Bus] Add Dead Letter Queues Sample
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/DeadletterQueueSample.java
Labels: Service Bus, customer-reported

#22700 Sync eng/common directory with azure-sdk-tools for PR 1768
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: Central-EngSys, EngSys

#22724 Update Core Library Changelog Release Dates
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Client

#22694 Fix Metrics Advisor Readme issues
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
Labels: Cognitive - Metrics Advisor

#22693 Add login hint support to InteractiveBrowserCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#22729 [TA] Enabled AAD in tests
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#22726 Add new configurations to default configuration array
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
Labels: Azure.Core

#22723 [TA] Allow only one actions per actionType, otherwise, throw IllegalArgumentException
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsActionsUnitTest.java
Labels: Client, Cognitive - Text Analytics

#22734 Sync eng/common directory with azure-sdk-tools for PR 1772
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#22720 Update aad-starter's CHANGELOG.md. Make it easier to understand.
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
Labels: azure-spring

#20968 Add the usage of azure spring BOMs for azure starter
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/spring/AZURE_SPRING_BOMS_USAGE.md
  sdk/spring/ENVIRONMENT_CHECKLIST.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-storage/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
  sdk/spring/images/search-for-tag.png
  sdk/spring/images/tag-main-page.png
Labels: azure-spring, azure-spring-dependency

#22689 fixing loading correct class bug that Naveen found
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#22725 Use swagger file in azure-rest-api-specs branch sb_dataplane_namespace
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Labels: Service Bus

#22758 Rename adminEmails to admins, viewerEmails to viewers & correcting links in README
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationAsyncClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/DataFeedOptions.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/EmailNotificationHook.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/NotificationHook.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/WebNotificationHook.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/implementation/util/DataFeedTransforms.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/implementation/util/HookHelper.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/implementation/util/HookTransforms.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/DatafeedAsyncSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/DatafeedSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationAsyncClientJavaDocCodeSnippets.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationClientJavaDocCodeSnippets.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/NotificationHookTestBase.java
Labels: Cognitive - Metrics Advisor

#19551 Fix readme issues for the azure service bus
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Client, Service Bus, customer-reported

#22759 Adding detailed javaDoc for feed admin and viewers & hook admins
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/DataFeedOptions.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/EmailNotificationHook.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/NotificationHook.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/models/WebNotificationHook.java
Labels: Cognitive - Metrics Advisor

#22431 Set up local path scanner using Flux and created unit tests
  sdk/storage/azure-storage-data-movement/src/main/java/com/azure/storage/data/movement/Temp.java
  sdk/storage/azure-storage-data-movement/src/main/java/com/azure/storage/data/movement/implementation/PathScanner.java
  sdk/storage/azure-storage-data-movement/src/main/java/com/azure/storage/data/movement/implementation/PathScannerFactory.java
  sdk/storage/azure-storage-data-movement/src/main/java/com/azure/storage/data/movement/implementation/package-info.java
  sdk/storage/azure-storage-data-movement/src/main/java/module-info.java
  sdk/storage/azure-storage-data-movement/src/test/java/com/azure/storage/data/movement/implementation/PathScannerTest.groovy
Labels: Storage

#22160 [Service Bus] Add Topic Filters Sample
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/TopicSubscriptionWithRuleOperationsSample.java
Labels: Service Bus, customer-reported

#22717 In sample project, add content about client_credential.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/java/com/azure/spring/sample/aad/controller/HomeController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/controller/WebApiController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/templates/index.html
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
Labels: azure-spring

#22769 Increment version for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: KeyVault, azure-spring

#22770 mgmt, codegen related changes
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/generation.yml
  eng/mgmt/automation/parameters.py
  eng/mgmt/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/Main.java
  sdk/resourcemanager/tools/changelog.py
Labels: Mgmt - Track 2

#22683 Fix bug of converting system properties from EventData to Spring message in Eventhub binder
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-test-eventhubs/src/test/java/com/azure/spring/test/eventhubs/stream/binder/EventHubBinderSyncModeIT.java
  sdk/spring/azure-spring-integration-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverter.java
Labels: azure-spring

#22628 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#22711 Fix KeyVualt Secrets sample issues
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ListOperations.java
Labels: KeyVault

#22574 [Communication]: Remove Date header added by Hmac Policy
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/implementation/HmacAuthenticationPolicy.java
Labels: Communication

#22763 Catalog api synapse integration fix
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
Labels: Cosmos

#22639 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
Labels: KeyVault, azure-spring

#21848 Fix Key Vault Certificate Sample issue #20244
  sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/HelloWorld.java
Labels: KeyVault, customer-reported

#22718 CosmosDB: fix a regression in ChangeFeedProcessor when handling split events
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/PartitionSynchronizerImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorTest.java
Labels: Cosmos, cosmos:v4-item

#22794 [TA] Live test with AAD
  sdk/textanalytics/tests.yml
Labels: Client, Cognitive - Text Analytics

#22789 [AppConfig] Make sure the consistency behaviors between languages.
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingJsonDeserializer.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingJsonSerializer.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/FeatureFlagConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SecretReferenceConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/FeatureFlagSettingUnitTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/SecretReferenceConfigurationSettingUnitTest.java
Labels: App Configuration, Client

#22792 [TA] Improve readme content
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive - Text Analytics

#22780 Increment version for spring releases
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/spring/AZURE_SPRING_BOMS_USAGE.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-client-side/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-server-side/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault-certificate/pom.xml
Labels: azure-spring

#22766 Update release notes about required scopes in auth code flow.
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#22804 Prepare Identity Stable Release versions June 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity

#21986 Fix azure-cosmos-spark Reademe issue
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
Labels: Cosmos

#22806 Updated Mixed Reality Auththentication to 1.1.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#22814 Sync eng/common directory with azure-sdk-tools for PR 1782
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#22811 [Storage] Fix flaky test.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
Labels: Storage

#22644 Swagger update for blobs, file share
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageImplBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/DirectoriesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/QueryFormat.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/src/main/java/com/azure/storage/blob/customization/BlobStorageCustomization.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/DirectoriesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/FilesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/swagger/src/main/java/com/azure/storage/file/share/customization/ShareStorageCustomization.java
Labels: Storage

#22813 [TA] Enhance the java doc string.
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsOperationDetail.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesOperationDetail.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeSentimentAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeSentimentActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeSentimentOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeSentimentResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AssessmentSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CategorizedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CategorizedEntityCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DetectLanguageInput.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DetectLanguageResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DetectedLanguage.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DocumentSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/EntityDataSource.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractKeyPhraseResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractKeyPhrasesAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractKeyPhrasesActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntityAssertion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntityRelation.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntityRelationRole.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/KeyPhrasesCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LinkedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LinkedEntityCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LinkedEntityMatch.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/PiiEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/PiiEntityCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/PiiEntityDomain.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeEntitiesAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeEntitiesActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeLinkedEntitiesAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeLinkedEntitiesActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizeLinkedEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizePiiEntitiesAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizePiiEntitiesActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizePiiEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RecognizePiiEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SentenceOpinion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SentenceSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TargetSentiment.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/AnalyzeActionsResultPagedFlux.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/AnalyzeHealthcareEntitiesPagedFlux.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/AnalyzeHealthcareEntitiesResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/AnalyzeSentimentResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/DetectLanguageResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/ExtractKeyPhrasesResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/RecognizeEntitiesResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/RecognizeLinkedEntitiesResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/RecognizePiiEntitiesResultCollection.java
Labels: Client, Cognitive - Text Analytics

#22761 Sync eng/common directory with azure-sdk-tools for PR 1767
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#22816 Update json smart identity dependency
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#22619 Docs updates
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/SpecializedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ReadmeSamples.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
Labels: Storage

#22620 Updated queues swagger
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueMetrics.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#22821 Prepare identity June 2021 Stable Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity

#22822 Increment version for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Core, Azure.Identity

#22745 mgmt core, new azure region westus3
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java
Labels: Azure.Core, Mgmt - Track 2

#22832 [Automation] Generate Fluent Lite from elastic#package-2020-07-01
  sdk/elastic/azure-resourcemanager-elastic/CHANGELOG.md
Labels: Mgmt - Track 2

#22616 Container encryption policy and database cek cache redesigning for staleness
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionDatabase.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/EncryptionBridgeInternal.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/Constants.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionSettings.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/models/SqlQuerySpecWithEncryption.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/CosmosEncryptionClientCachesTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/EncryptionProcessorAndSettingsTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#22825 Fixed double decoding in getBlobName
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestGetBlobName[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestGetBlobName[1].json
Labels: Storage

#22623 Updated datalake swagger
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FileSystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Labels: Storage

#22797 Update to Ubuntu 20.04
  sdk/cosmos/integration-matrix.json
  sdk/cosmos/platform-matrix.json
  sdk/keyvault/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
  sdk/tables/platform-matrix.json
Labels: Cosmos, KeyVault, Storage

#22826 ADT: Regenerate code using the service interface as public flag
  sdk/digitaltwins/azure-digitaltwins-core/autorest.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinModelsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/EventRoutesImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/QueriesImpl.java
Labels: DigitalTwins

#22846 [MA] Increment MA version to 1.0.0 for July Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#22850 [TA] Update release date to today
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Client, Cognitive - Text Analytics

#22827 [Storage] Logging in tests.
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/test-shared/assembly/assembly.xml
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test/resources/log4j2.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/tests.yml
Labels: Storage

#22847 Updated release versions for azure-cosmos 4.17.0, azure-spring-data-cosmos 3.9.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#22820 [AppConfig] Update release version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: App Configuration, Client

#22862 Increment version for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#22848 Increment ServiceBus version to 7.3.0 for July Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
Labels: Service Bus

#22863 Added java docs for BulkProcessingOptions
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkProcessingOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkProcessingThresholds.java
Labels: Cosmos

#22868 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#22870 Prepare Form Recognize July patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#22874 Sync eng/common directory with azure-sdk-tools for PR 1780
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#22864 Preparing Key Vault stable releases for July 2021
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: Azure.Identity, KeyVault

#22878 [Automation] Generate Fluent Lite from appconfiguration#package-2021-03-01-preview
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/README.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/SAMPLE.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/AppConfigurationManager.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/ConfigurationStoreImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ConfigurationStore.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ConfigurationStoreUpdateParameters.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresCreateSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresDeleteSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresGetByResourceGroupSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresListByResourceGroupSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresListKeysSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresListSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresRegenerateKeySamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/ConfigurationStoresUpdateSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/KeyValuesCreateOrUpdateSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/KeyValuesDeleteSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/KeyValuesGetSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/KeyValuesListByConfigurationStoreSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/OperationsCheckNameAvailabilitySamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateEndpointConnectionsCreateOrUpdateSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateEndpointConnectionsDeleteSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateEndpointConnectionsGetSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateEndpointConnectionsListByConfigurationStoreSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateLinkResourcesGetSamples.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/samples/java/com/azure/resourcemanager/appconfiguration/PrivateLinkResourcesListByConfigurationStoreSamples.java
Labels: App Configuration, Mgmt - Track 2

#22879 [Automation] Generate Fluent Lite from signalr#package-2021-06-01-preview
  sdk/signalr/azure-resourcemanager-signalr/CHANGELOG.md
  sdk/signalr/azure-resourcemanager-signalr/README.md
  sdk/signalr/azure-resourcemanager-signalr/SAMPLE.md
  sdk/signalr/azure-resourcemanager-signalr/pom.xml
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/SignalRManager.java
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/fluent/models/SignalRResourceInner.java
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/implementation/SignalRManagementClientImpl.java
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/implementation/SignalRResourceImpl.java
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/models/SignalRFeature.java
  sdk/signalr/azure-resourcemanager-signalr/src/main/java/com/azure/resourcemanager/signalr/models/SignalRResource.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/OperationsListSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRCheckNameAvailabilitySamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRCreateOrUpdateSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRDeleteSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRGetByResourceGroupSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRListByResourceGroupSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRListKeysSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRListSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRPrivateEndpointConnectionsDeleteSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRPrivateEndpointConnectionsGetSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRPrivateEndpointConnectionsListSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRPrivateEndpointConnectionsUpdateSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRPrivateLinkResourcesListSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRRegenerateKeySamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRRestartSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRSharedPrivateLinkResourcesCreateOrUpdateSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRSharedPrivateLinkResourcesDeleteSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRSharedPrivateLinkResourcesGetSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRSharedPrivateLinkResourcesListSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/SignalRUpdateSamples.java
  sdk/signalr/azure-resourcemanager-signalr/src/samples/java/com/azure/resourcemanager/signalr/UsagesListSamples.java
Labels: Mgmt - Track 2

#22875 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring

#22882 mgmt appconfigure, fix for previous unmerged version incre
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/README.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/AppConfigurationManager.java
Labels: App Configuration

#22884 [Automation] Generate Fluent Lite from appconfiguration#package-2021-03-01-preview
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
Labels: App Configuration, Mgmt - Track 2

#22885 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
Labels: App Configuration

#22886 [automation] mgmt, update consumption
  sdk/consumption/azure-resourcemanager-consumption/CHANGELOG.md
  sdk/consumption/azure-resourcemanager-consumption/README.md
  sdk/consumption/azure-resourcemanager-consumption/SAMPLE.md
  sdk/consumption/azure-resourcemanager-consumption/pom.xml
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/ConsumptionManager.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/fluent/ReservationsSummariesClient.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/fluent/UsageDetailsClient.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/fluent/models/ReservationRecommendationDetailsModelInner.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/implementation/BalancesClientImpl.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/implementation/ReservationRecommendationDetailsModelImpl.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/implementation/ReservationsSummariesClientImpl.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/implementation/UsageDetailsClientImpl.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/models/ModernReservationRecommendation.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/models/ReservationRecommendationDetailsModel.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/models/ReservationRecommendationsListResult.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/models/ReservationsSummaries.java
  sdk/consumption/azure-resourcemanager-consumption/src/main/java/com/azure/resourcemanager/consumption/models/UsageDetails.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/AggregatedCostGetByManagementGroupSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/AggregatedCostGetForBillingPeriodByManagementGroupSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BalancesGetByBillingAccountSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BalancesGetForBillingPeriodByBillingAccountSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BudgetsCreateOrUpdateSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BudgetsDeleteSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BudgetsGetSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/BudgetsListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ChargesListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/CreditsGetSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/EventsOperationListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ForecastsListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/LotsOperationListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/MarketplacesListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/PriceSheetGetByBillingPeriodSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/PriceSheetGetSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationRecommendationDetailsGetSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationRecommendationsListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationTransactionsListByBillingProfileSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationTransactionsListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsDetailsListByReservationOrderAndReservationSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsDetailsListByReservationOrderSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsDetailsListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsSummariesListByReservationOrderAndReservationSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsSummariesListByReservationOrderSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/ReservationsSummariesListSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/TagsGetSamples.java
  sdk/consumption/azure-resourcemanager-consumption/src/samples/java/com/azure/resourcemanager/consumption/UsageDetailsListSamples.java
Labels: customer-reported

#22891 delete empty modules
  sdk/spring/azure-spring-boot-starter-mediaservices/README.md
  sdk/spring/azure-spring-boot-starter-metrics/README.md
  sdk/spring/azure-spring-boot-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-telemetry/CHANGELOG.md
  sdk/spring/azure-spring-cloud-telemetry/README.md
  sdk/spring/azure-spring-starter-storage/CHANGELOG.md
  sdk/spring/azure-spring-starter-storage/README.md
Labels: azure-spring

#22314 Extend EventData with AmqpAnnotatedMessage
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/MessageUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/SystemProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientBuilderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubMessageSerializerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/MessageUtilsTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SystemPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
Labels: Event Hubs, customer-reported

#22872 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: App Configuration, Azure.Core

#22895 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: KeyVault

#22900 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#22876 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-integration-servicebus/pom.xml
Labels: Service Bus, azure-spring

#22904 Increase Key Vault versions after July 2021 patch release.
  common/smoke-tests/pom.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: App Configuration, Azure.Core, Cosmos, KeyVault, Storage, azure-spring

#22905 Updated Key Vault Keys CHANGELOG for beta release.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: KeyVault

#22906 Increment version for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/pom.xml
Labels: Azure.Identity, KeyVault

#22918 Fix link not exist error.
  sdk/spring/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
Labels: azure-spring

#22890 Fix error: ApplicationId.VERSION is always "unknown".
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/spring/utils/test/ApplicationIdTest.java
  sdk/spring/azure-spring-boot/pom.xml
Labels: azure-spring

#22924 Enrich spring boms changelog to include dependency upgrades
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-cloud-dependencies/CHANGELOG.md
Labels: azure-spring

#21891 Fix Storage File Datalake Sample issues #18203
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemAsyncClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/JavaDocCodeSnippetsHelpers.java
Labels: Storage, customer-reported

#22898 Prepare Event Hubs release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#22371 Adding architecture docs.
  sdk/core/azure-core-amqp/docs/architecture-uml.jpeg
  sdk/core/azure-core-amqp/docs/architecture.md
  sdk/core/azure-core-amqp/docs/receive-flow.jpeg
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorDispatcher.java
Labels: Azure.Core, Client, Event Hubs, amqp

#22930 Increment version for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Event Hubs, azure-spring

#22932 ADT: Take advantage of the new HttpPipelinePosition functionality
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClientBuilder.java
Labels: DigitalTwins

#22907 Fix spring ITs
  sdk/spring/spring-test-template.yml
Labels: azure-spring

#22750 mgmt core, strict validation on URL, but relax in LRO response header processing
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/PollingState.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/Util.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/UtilTests.java
Labels: Azure.Core, Mgmt - Track 2

#22823 Increment version for core releases in main
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Core, Azure.Identity

#21616 Only Record Network Calls when in RECORD Mode
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
Labels: Azure.Core, Client, test bug

#22948 Update CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys, common

#22944 Sync eng/common directory with azure-sdk-tools for PR 1808
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: Central-EngSys, EngSys

#22929 Prepare to release azure spring boot bom 3.6.1
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultCertificates.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultCertificatesTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/test/KeyVaultCertificatesTest.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-client-side/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-server-side/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault-certificate/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Client, KeyVault, azure-spring

#22955 mgmt, add code owner to mgmt
  .github/CODEOWNERS
Labels: Mgmt - Track 2

#22643 Sync eng/common directory with azure-sdk-tools for PR 1748
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#22202 Integrating cosmos diagnostics with open telemetry tracer
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DefaultDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos

#22819 [EH Perf improvement] Translate Reactor's no-backpressure to prefetch in amqp Flow
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessorTest.java
Labels: Event Hubs

#22686 Regenerate EventGrid AcsChatMessage model classes
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageEditedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageEditedInThreadEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsChatMessageReceivedInThreadEventData.java
Labels: Event Grid

#22946 Added storage event sample
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/StorageEventExample.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryPolicy.java
Labels: Storage

#16088 Add LogLevel Hooks to HttpLogOptions and HttpLoggingPolicy
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineCallContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpRequestLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpRequestLoggingContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpResponseLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpResponseLoggingContext.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineCallContextHelper.java
Labels: Azure.Core, Client

#22952 Update changelog for azure-spring-boot-bom:3.6.1
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
Labels: azure-spring

#22817 Adding reactor netty timeline to query plan calls
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionedQueryExecutionInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#23028 Fix Broken Link to Sample Data
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RefineSearchCapabilitiesExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/RunningSearchSolutionExample.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/LifecycleSetupExample.java
Labels: Azure.Core, Client, Search

#23026 Fix Maven Build Warnings
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys

#23057 Add ClientOptions and HttpPipelinePosition Support to Schema Registry Builders
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClientBuilder.java
Labels: Client, Schema Registry

#23033 Add Overload to Sanitize AzureSasCredential Signature
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AzureSasCredential.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/AzureSasCredentialTests.java
Labels: Azure.Core, Client

#22735 Add EventGrid AAD authentication
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClientBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/ReadmeSamples.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherClientOnlyTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherClientTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/publishWithTokenCredential.json
Labels: Event Grid

#23066 Get EventGrid 4.5.0 ready for release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#22967 ADT: Add bicep to generate arm template
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/prerequisite/generateArmTemplate.ps1
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/prerequisite/prerequisite readme.md
  sdk/digitaltwins/test-resources.bicep
  sdk/digitaltwins/test-resources.json
Labels: Digital Twins

#22960 [Core] Add support for taking init capacity in the HttpHeaders
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
Labels: Azure.Core

#22661 Use Default DNS Resolver when Creating a New HttpClient
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
Labels: Azure.Core, Client, HttpClient

#23058 Support Using TokenCredential in Search Client Builders
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchClientBuilderTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SearchIndexClientBuilderTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SearchIndexerClientBuilderTests.java
Labels: Client, Search

#22968 App Configuration Updated Change Log
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
Labels: App Configuration, azure-spring-app-configuration

#23068 App Config - Changing from Thrown Error to warning log.
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySource.java
Labels: App Configuration, azure-spring-app-configuration

#22980 Add webapp and webapi in one app integration testcase
  eng/versioning/version_client.txt
  sdk/spring/HOW_TO_RUN_AAD_INTEGRATION_TEST_IN_LOCALHOST.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/README.md
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/pom.xml
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/src/test/java/com/azure/test/aad/selenium/AADWebAppAndWebApiInOneAppIT.java
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/src/test/java/com/azure/test/aad/webapi/conditional/access/webapi/a/ConditionalAccessPolicyTestWebApiA.java
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/src/test/java/com/azure/test/aad/webapi/obo/AADWebApiOboIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/AADITHelper.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/conditional/access/AADConditionalAccessIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/groupid/role/AADGroupIdRoleIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/logout/AADLogoutIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/multitenant/AADMultipleTenantIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/oauth2client/issuedat/AADOauth2AuthorizedClientCachedIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/oauth2client/scopes/AADAccessTokenScopesIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/ondemand/AADOnDemandIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/role/AADRoleIT.java
  sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/user/name/attribute/UserNameAttributeIT.java
  sdk/spring/azure-spring-boot-test-selenium-common/src/main/java/com/azure/test/aad/common/AADSeleniumITHelper.java
  sdk/spring/pom.xml
  sdk/spring/spring-test-template.yml
Labels: azure-spring

#22939 fix bug of setting message headers or application properties repeatedly in servicebus message converter
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverterTest.java
Labels: azure-spring

#23074 Update changelog and readme for websocket in service bus
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
Labels: azure-spring

#23078 Update azure sample links with specific branch
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
Labels: App Configuration, Cosmos, azure-spring

#23056 fix EventHubMessageConverter encode bug
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverter.java
  sdk/spring/azure-spring-integration-eventhubs/src/test/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverterTest.java
Labels: azure-spring

#23060 Fixing logger names.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
Labels: Azure.Core, amqp

#23069 Increment version for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#23089 Rename getVersion to getSkillVersion in Multi-Version Skills
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
Labels: Client, Search

#23092 Prepare for azure-search-documents July 2021 Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Client, Search

#22971 reflect changes from Azure/azure-docs-sdk-java#2070
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Labels: Event Grid

#23091 [Storage] More stress tests.
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/StoragePerfStressOptions.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobNoLengthTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadOutputStreamTest.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/file/datalake/perf/UploadFileDatalakeTest.java
  sdk/storage/tests.yml
Labels: Storage

#23097 Fix link error.
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Labels: azure-spring

#23085 Replace link with taged urls
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-cosmos/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot-starter-storage/README.md
  sdk/spring/azure-spring-boot-starter/README.md
  sdk/spring/azure-spring-boot/README.md
  sdk/spring/azure-spring-cloud-autoconfigure/README.md
  sdk/spring/azure-spring-cloud-starter-cache/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/README.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/README.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-eventhubs/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-storage-queue/README.md
Labels: App Configuration, Cosmos, azure-spring

#23042 Add description for setting ServiceBus message header in readme
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-servicebus/README.md
Labels: azure-spring

#23096 Move sample codes used in azure-spring-boot-starter-keyvault-certificates.
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/src/samples/java/com/azure/spring/keyvault/KeyVaultJcaManagedIdentitySample.java
  sdk/spring/azure-spring-boot/pom.xml
Labels: azure-spring

#23099 Add azure-spring-boot-starter-keyvault-certificates in bom.
  sdk/boms/azure-spring-boot-bom/pom.xml
Labels: azure-spring

#23107 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
Labels: App Configuration

#23108 Increment version for spring releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot-test-application/pom.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom-reactive.xml
  sdk/spring/azure-spring-boot-test-keyvault/pom.xml
  sdk/spring/azure-spring-boot-test-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-test-storage/pom.xml
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-autoconfigure/pom.xml
  sdk/spring/azure-spring-cloud-context/CHANGELOG.md
  sdk/spring/azure-spring-cloud-context/pom.xml
  sdk/spring/azure-spring-cloud-messaging/CHANGELOG.md
  sdk/spring/azure-spring-cloud-messaging/pom.xml
  sdk/spring/azure-spring-cloud-starter-cache/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-cache/pom.xml
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/pom.xml
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-storage-queue/pom.xml
  sdk/spring/azure-spring-cloud-storage/CHANGELOG.md
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-test/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-test/pom.xml
  sdk/spring/azure-spring-cloud-test-eventhubs/pom.xml
  sdk/spring/azure-spring-cloud-test-servicebus-binder/pom.xml
  sdk/spring/azure-spring-integration-core/CHANGELOG.md
  sdk/spring/azure-spring-integration-core/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/CHANGELOG.md
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/spring/azure-spring-integration-test/CHANGELOG.md
  sdk/spring/azure-spring-integration-test/pom.xml
  sdk/spring/pom.xml
Labels: azure-spring

#20484 Add Custom Annotation to Parameterize Tests with more Complex Scenarios
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepository.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientTest.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRepositoryAnonymousAccessTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRepositoryAsyncIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/RegistryArtifactAsyncIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/RegistryArtifactTests.java
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/AzureMethodSource.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/AzureMethodSourceArgumentsProvider.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestIterationContext.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestRunMetrics.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestingHelpers.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/AzureMethodSourceArgumentsProviderTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/AzureTestingServiceVersion.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/FullyQualifiedSourceSupplierTestHelper.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/NonEnumServiceVersion.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/ServiceVersionWithoutGetLatest.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/DefaultLogger.java
Labels: Azure.Core, test-enhancement

#23093 Increment version for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Search

#23086 Fixing serialisation warning on clientSideRequestDiagnostics
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#23103 Increment version for spring releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-identity-spring/CHANGELOG.md
  sdk/spring/azure-identity-spring/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot-starter-servicebus-jms/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot-starter/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter/pom.xml
  sdk/spring/azure-spring-boot-test-aad-b2c/pom.xml
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/pom.xml
  sdk/spring/azure-spring-boot-test-aad-resource-server/pom.xml
  sdk/spring/azure-spring-boot-test-aad-webapp-and-resource-server-with-obo/pom.xml
  sdk/spring/azure-spring-boot-test-aad/pom.xml
  sdk/spring/azure-spring-boot-test-core/pom.xml
  sdk/spring/azure-spring-boot-test-cosmos/pom.xml
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-context/pom.xml
  sdk/spring/pom.xml
Labels: azure-spring

#23088 Add Utility Methods to TestBase
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
Labels: Azure.Core, Client, test-enhancement

#21890 Fix Storage Blob Sample issues #18202
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/SetMetadataAndHTTPHeadersExample.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/AppendBlobClientJavaDocCodeSnippets.java
Labels: Storage, customer-reported

#21893 Fix Storage Queue Sample issues #18200
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceJavaDocCodeSamples.java
Labels: Storage, customer-reported

#20977 fix issue #18808 about Storage Blob Cryptography
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/ReadmeSamples.java
Labels: Storage

#23121 Fix build.
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/ReadmeSamples.java
Labels: Storage
