Repository Azure/azure-sdk-for-java, pull requests merged in 2021-09, with the labels that each got.

#23716 Fixes AAD application type validation
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-test-aad-resource-server/src/test/java/com/azure/test/aad/resource/server/AADResourceServerIT.java
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADApplicationType.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADOAuth2ClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AuthorizationClientProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/AADClientRegistrationRepositoryTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/AADOAuth2ClientConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/WebApplicationContextRunnerUtils.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerPropertiesTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationCodeGrantRequestEntityConverterTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/WebApplicationContextRunnerUtils.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationPropertiesTest.java
Labels: azure-spring

#23854 Adding tests. Fixing bugs in deserialization/serialization. Closing resources.
  sdk/schemaregistry/azure-data-schemaregistry-avro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/AvroSchemaRegistryUtils.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/AvroSchemaUtils.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializer.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializerBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/AvroSchemaRegistryUtilsTest.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/AvroSchemaUtilsTest.java
  sdk/schemaregistry/azure-data-schemaregistry-avro/src/test/java/com/azure/data/schemaregistry/avro/SchemaRegistryAvroSerializerTest.java
Labels: Schema Registry

#23640 Make storage account optional in the eventhub binder configuration.
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhub/AzureEventHubAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/src/test/java/com/azure/spring/eventhub/stream/binder/EventHubBinderConfigurationTest.java
  sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/factory/DefaultEventHubClientFactory.java
Labels: Client, azure-spring, azure-spring-eventhubs

#23531 support spring jms configuration for listener
  sdk/spring/azure-spring-boot-starter-servicebus-jms/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-servicebus-jms/README.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/AbstractServiceBusJMSAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/AzureServiceBusJMSProperties.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/PremiumServiceBusJMSAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/AbstractServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/jms/PremiumServiceBusJMSAutoConfigurationTest.java
Labels: bug, Client, azure-spring, azure-spring-servicebus

#23819 PartitionKeyDelete: Adds API to delete all items in a partition key
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/BaseAuthorizationTokenProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Paths.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PathsHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Labels: Cosmos

#23856 Fix broken link in Azure Spring Cloud Storage readme
  sdk/spring/azure-spring-cloud-storage/README.md
Labels: Client, Docs, azure-spring, azure-spring-docs

#23870 Sync eng/common directory with azure-sdk-tools for PR 1967
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: EngSys, Central-EngSys

#23879 Add actuator details configuration
  sdk/spring/azure-spring-boot-test-cosmos/src/test/java/com/azure/test/cosmos/CosmosActuatorIT.java
  sdk/spring/azure-spring-boot-test-keyvault-certificate/src/test/java/com/azure/spring/test/keyvault/KeyVaultCertificateIT.java
  sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/azure/spring/test/keyvault/MultipleKeyVaultsIT.java
Labels: azure-spring

#23882 Fixes unsolved comments in azure-spring-cloud-4.0
  eng/versioning/external_dependencies.txt
  sdk/spring/azure-spring-cloud-autoconfigure/pom.xml
  sdk/spring/azure-spring-cloud-core/pom.xml
  sdk/spring/azure-spring-cloud-starter/pom.xml
Labels: azure-spring

#23872 Sync eng/common directory with azure-sdk-tools for PR 1972
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#23868 Updating from ApiReview
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/AppConfigurationEndpoint.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/AppConfigurationWebAutoConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/AppConfigurationWebConstants.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pullrefresh/AppConfigurationEventListener.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushbusrefresh/AppConfigurationBusRefreshEndpoint.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushbusrefresh/AppConfigurationBusRefreshEvent.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushbusrefresh/AppConfigurationBusRefreshEventListener.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushrefresh/AppConfigurationRefreshEndpoint.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushrefresh/AppConfigurationRefreshEvent.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/pushrefresh/AppConfigurationRefreshEventListener.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationBootstrapConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySource.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceLocator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationRefresh.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/JsonConfigurationParser.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/State.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/feature/management/entity/Feature.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/feature/management/entity/FeatureSet.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/health/AppConfigurationHealthIndicator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/pipline/policies/BaseAppConfigurationPolicy.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationProperties.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationStoreMonitoring.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationStoreSelects.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationStoreTrigger.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/ConfigStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/FeatureFlagStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/resource/AppConfigManagedIdentityProperties.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/resource/Connection.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/resource/ConnectionPool.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/stores/ClientStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/stores/KeyVaultClient.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationBootstrapConfigurationTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertiesTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationRefreshTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/pipline/policies/BaseAppConfigurationPolicyTest.java
Labels: App Configuration, azure-spring-app-configuration

#23885 [Storage] Tests - thread dumper.
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/ThreadDumper.java
Labels: Storage

#23822 SwitchOffIOThread
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosSchedulers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/TransportClient.java
Labels: Cosmos

#23887 4.19.0-BetaReleaseChangeLog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
Labels: Cosmos, azure-spring

#23886 Update schema registry API names
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClient.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClient.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClientBuilder.java
Labels: Client, Schema Registry

#22795 Add PollingStrategy to PollerFlux
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/ChainedPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/LocationPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/OperationResourcePollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/StatusCheckPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/implementation/PollingConstants.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/implementation/PollingUtils.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/samples/java/com/azure/core/util/polling/PollerJavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollingStrategyTests.java
Labels: Azure.Core

#23890 Increment version for cosmos releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge, Communication

#23907 Make fromFlux read streams eagerly
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
Labels: Azure.Core

#23906 Fix for resuming orderby queries from continuation that includes undefined/null
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByContinuationToken.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Labels: Cosmos

#23918 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Labels: auto-merge

#23900 Fix keyvault starter readme
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/README.md
Labels: azure-spring

#23895 Delete un-supported AAD features.
  sdk/spring/HOW_TO_RUN_AAD_INTEGRATION_TEST_IN_LOCALHOST.md
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/README.md
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/pom.xml
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/group/count/AADGroupsCountIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateful/AADAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-aad-resource-server-by-filter/src/test/java/com/azure/test/aad/filter/stateless/AADAppRoleStatelessAuthenticationFilterIT.java
  sdk/spring/azure-spring-boot-test-cosmos/src/test/java/com/azure/test/cosmos/CosmosIT.java
  sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/webapp/AADWebApplicationConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/AADAppRoleStatelessAuthenticationFilter.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/AzureADGraphClient.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/JacksonObjectMapperFactory.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/Membership.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/Memberships.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipal.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/aad/AADClientRegistrationRepositoryTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/aad/webapp/AADIdTokenRolesExtractionTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/AADAppRoleAuthenticationFilterTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterPropertiesTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/AADAuthenticationPropertiesTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/AzureADGraphClientTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/MembershipTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/MicrosoftGraphConstants.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/ResourceRetrieverTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/TestConstants.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalAzureADGraphTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalManagerAudienceTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalManagerTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/aad/UserPrincipalMicrosoftGraphTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/resources/jwt-bad-issuer.txt
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/resources/jwt-null-issuer.txt
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/resources/jwt-signed.txt
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/resources/jwt-valid-issuer.txt
  sdk/spring/pom.xml
Labels: Client, feature-request, azure-spring, azure-spring-aad

#23910 Update HttpResponseError based on arch board feedback
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/HttpResponseError.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/HttpResponseInnerError.java
  sdk/core/azure-core/src/main/java/com/azure/core/exception/HttpResponseException.java
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricResult.java
Labels: Azure.Core

#23866 Add OBO Credential && Token Exchange Support
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/SynchronizedAccessor.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureApplicationCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
Labels: Azure.Core, Azure.Identity

#23909 Consistency Updates for Azure Search
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/AnalyzeRequestConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/AsciiFoldingTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/CjkBigramTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/ClassicTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/CommonGramTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/DictionaryDecompounderTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/EdgeNGramTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/EdgeNGramTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/ElisionTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/IndexActionConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/LexicalTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/MicrosoftLanguageStemmingTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/MicrosoftLanguageTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/NGramTokenizerConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/PhoneticTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/WordDelimiterTokenFilterConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/AnalyzeRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AnalyzeTextOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CreateOrUpdateDataSourceConnectionOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CreateOrUpdateIndexerOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CreateOrUpdateSkillsetOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/Captions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryCaption.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/SearchJavaDocCodeSnippets.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/UtilityMethodTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/NonRestCallTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/SkillsSupportedVersionsTests.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search, Client

#23855 Drain Reactor Netty Response Body on Close
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpResponseTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpResponseDrainsBufferTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
Labels: Client, Azure.Core, HttpClient

#23891 Update release date for network-traversal and common package
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: Communication

#23955 Sync eng/common directory with azure-sdk-tools for PR 1986
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#23957 update spring-reference.yml after release
  sdk/spring/spring-reference.yml
Labels: azure-spring

#23933 Delete azure-spring-boot-starter-active-directory-b2c related content.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/spring/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-graph-permissions.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-webapia-permission.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/add-webapib-permission-to-webapia.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/b2c-webapp-webapi-overall.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/configure-app-roles.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/expose-web-api-b-approle.png
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/resource/source-file/b2c-webapp-webapi-overall.drawio
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/src/main/resources/aadb2c.enable.config
  sdk/spring/azure-spring-boot-test-aad-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot-test-aad-b2c/README.md
  sdk/spring/azure-spring-boot-test-aad-b2c/pom.xml
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CSeleniumITHelper.java
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/resources/logback.xml
  sdk/spring/azure-spring-boot-test-aad-b2c/src/test/resources/templates/index.html
  sdk/spring/azure-spring-cloud-autoconfigure/README-SPRINGBOOT.md
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/AADTrustedIssuerRepository.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/aad/webapi/AADResourceServerProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolver.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CClientRegistrationRepository.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CConditions.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CConfigurationException.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CJwtBearerTokenAuthenticationConverter.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CLogoutSuccessHandler.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2ClientConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COidcLoginConfigurer.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CTrustedIssuerRepository.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CURL.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/AuthorizationClientProperties.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/java/com/azure/spring/autoconfigure/b2c/package-info.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/azure-spring-cloud-autoconfigure/src/samples/java/com/azure/spring/autoconfigure/b2c/ResourceServerConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/samples/java/com/azure/spring/autoconfigure/b2c/ResourceServerController.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/samples/java/com/azure/spring/autoconfigure/b2c/WebappAccessResourceConfiguration.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/samples/java/com/azure/spring/autoconfigure/b2c/WebappAccessResourceController.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolverTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CLogoutSuccessHandlerTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfigurationTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CURLTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CUserPrincipalTest.java
  sdk/spring/azure-spring-cloud-autoconfigure/src/test/java/com/azure/spring/autoconfigure/b2c/AbstractAADB2COAuth2ClientTestConfiguration.java
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/scripts/Update-DevOps-Release-WorkItem/Update-DevOps-Release-WorkItems-For-SpringBoot.ps1
  sdk/spring/spring-reference.yml
Labels: Client, feature-request, azure-spring, azure-spring-aad-b2c

#23965 Prepare Identity Stable Release Versions September 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity

#23968 Sync eng/common directory with azure-sdk-tools for PR 1982
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: EngSys, Central-EngSys

#23974 Add change log for 1.21.0-beta.1
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#23884 Update search to enable live testing in sovereign clouds for multiple services
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchSyncTests.java
  sdk/search/test-resources.json
  sdk/search/tests.yml
Labels: Search

#23981 JsonIgnore ClientLogger
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkill.java
Labels: Search, Client

#23984 Increment version for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, auto-merge, Communication

#23983 Prepare azure-search-documents for September Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search, Client

#23971 Turn - Update release date to Sep 8
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Labels: Communication

#23978 Increment version for synapse releases
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/pom.xml
Labels: auto-merge, Communication

#23995 Sync eng/common directory with azure-sdk-tools for PR 1977
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#23973 Reducing public surface area in CosmosBulkExecutionOptions
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/linkedin/DataLoader.java
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkGatewayTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholdsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/BulkProcessingOptionsTest.java
Labels: Cosmos

#23990 Sync eng/common directory with azure-sdk-tools for PR 1995
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#24009 [TA] September monthly patch release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#24016 Increment version for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Search, auto-merge

#24007 [AppConfig] September monthly patch release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: Client, App Configuration

#24015 [TA] Changelog format updated
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Client, Cognitive - Text Analytics

#24019 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#24023 Update CHANGELOG Entry to Match New Guidelines
  eng/scripts/Generate-Patch.ps1
Labels: EngSys

#24022 Update azure-search-documents Dependency Version Post Branch Release
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Client

#24005 Updated release versions for azure-cosmos 4.19.0, azure-spring-data-cosmos 3.11.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchPatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkPatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemOperationType.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#23902 Add sample about publish and consume events for event grid
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/samples/java/README.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/samples/java/com/azure/resourcemanager/eventgrid/EventGridPublishAndConsumeExample.java
Labels: Event Grid

#24029 Move eventgrid sample README to sample/ folder
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/samples/README.md
Labels: Event Grid

#24025 mgmt, specs changed on web
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AllowedPrincipalsProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AppRegistrationProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AppleProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AzureActiveDirectoryLoginProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AzureActiveDirectoryRegistrationProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AzureActiveDirectoryValidationProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/AzureStaticWebAppsProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/BlobStorageTokenStoreProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/CustomOpenIdConnectProviderProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/GitHubProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/GoogleProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/LegacyMicrosoftAccountProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/fluent/models/TwitterProperties.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AllowedPrincipals.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AppRegistration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/Apple.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AzureActiveDirectoryLogin.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AzureActiveDirectoryRegistration.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AzureActiveDirectoryValidation.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/AzureStaticWebApps.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/BlobStorageTokenStore.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/CustomOpenIdConnectProvider.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/GitHub.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/Google.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/IdentityProviders.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/LegacyMicrosoftAccount.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/Twitter.java
Labels: Mgmt - Track 2

#24024 Run pipelines for feature/azure-spring-cloud-4.0
  .github/ISSUE_TEMPLATE/bug_report.md
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/steps/java-publishing.yml
  eng/scripts/Generate-Patch.ps1
  eng/scripts/Publish-MavenPackages.ps1
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/linkedin/DataLoader.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchPatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkPatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemOperationType.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkGatewayTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholdsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/BulkProcessingOptionsTest.java
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Cosmos, Search, App Configuration, Cognitive - Form Recognizer, azure-spring

#24031 Move sample folder under src folder
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/samples/java/README.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/samples/java/com/azure/resourcemanager/eventgrid/EventGridPublishAndConsumeExample.java
Labels: Event Grid

#24027 mgmt, specs changed on compute
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/DiskAccessesClient.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/DiskEncryptionSetsClient.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/DiskRestorePointsClient.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/DisksClient.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/SnapshotsClient.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskAccessInner.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskEncryptionSetInner.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskInner.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskRestorePointInner.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskRestorePointProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/DiskUpdateProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/EncryptionSetProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/SnapshotInner.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/SnapshotProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/fluent/models/SnapshotUpdateProperties.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskAccessesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskEncryptionSetsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskRestorePointsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DisksClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/DiskCreateOption.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/DiskState.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/DiskUpdate.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/PublicNetworkAccess.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/SnapshotUpdate.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/SupportedCapabilities.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnEmptyManagedDisk.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnManagedDiskFromDisk.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnManagedDiskFromSnapshot.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnManagedDiskFromUpload.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineAvailabilityZoneOperationsTests.canCreateZonedVirtualMachineWithExplicitZoneForRelatedResources.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineAvailabilityZoneOperationsTests.canCreateZonedVirtualMachineWithImplicitZoneForRelatedResources.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineCustomImageOperationsTest.canCreateImageFromManagedDisk.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineManagedDiskOperationsTests.canCreateUpdateVirtualMachineWithEmptyManagedDataDisks.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineManagedDiskOperationsTests.canCreateVirtualMachineByAttachingManagedOsDisk.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineManagedDiskOperationsTests.canCreateVirtualMachineFromCustomImageWithManagedDisks.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineManagedDiskOperationsTests.canCreateVirtualMachineFromPIRImageWithManagedOsDisk.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineManagedDiskOperationsTests.canUpdateVirtualMachineByAddingAndRemovingManagedDisks.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineOperationsTests.canPerformSimulateEvictionOnSpotVirtualMachine.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/VirtualMachineScaleSetManagedDiskOperationsTests.canCreateUpdateVirtualMachineScaleSetFromPIRWithManagedDisk.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingCustomImageFromVHD.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingCustomImageFromVM.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingSpecializedDiskFromSnapshot.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testCreateVirtualMachineUsingSpecializedDiskFromVhd.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testManageManagedDisks.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testManageVirtualMachine.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testManageVirtualMachineAsync.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testManageVirtualMachineWithDisk.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ComputeSampleTests.testManageZonalVirtualMachine.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ResourceSampleTests.testManageLocks.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testManagementLocks.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testVirtualMachineSyncPoller.json
Labels: Mgmt - Track 2

#24032 mgmt, update codegen to 4.0.37
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#24039 fix changelog
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
Labels: Mgmt - Track 2

#24044 Increment version for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: auto-merge

#24010 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#24043 Prepare azure-messaging-eventgrid for patch release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#24020 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: App Configuration, Azure.Core, auto-merge

#23982 Adding transaction batch support in cosmos encryption
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/ChangeFeedEncryptionProcessorBuilder.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionSyncApiCrudTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchOperationResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchResponse.java
Labels: Cosmos

#24030 Addressing STG 78 API Comments
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobImmutabilityPolicy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobListDetails.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ListBlobsIncludeItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobAppendBlockFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobCreateOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobCopyFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobStageBlockFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/PageBlobUploadPagesFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobSasServiceVersion.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileInputStreamOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileDownloadOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileUploadRangeFromUrlOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareListFilesAndDirectoriesOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
Labels: Storage

#24050 Prepare MA Sept Patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#23840 Added new models for Mixed Audio Feature
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerServiceVersion.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCall.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ServerCallAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/AzureCommunicationCallingServerServiceImplBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/RecordingChannelType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/RecordingContentType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/RecordingFormatType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingRequest.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingChannelType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingContentType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingFormatType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/package-info.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/ServerCallUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateAddRemoveHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithConnectionStringAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreateJoinHangupScenarioWithTokenCredentialAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionAsyncLiveTests.runCreatePlayCancelHangupScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateAddRemoveHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreateJoinHangupScenarioWithTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallConnectionLiveTests.runCreatePlayCancelHangupScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAddRemoveScenarioWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsForConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsForTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runAllClientFunctionsWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.runPlayAudioFunctionWithResponseAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallAsyncLiveTests.startRecordingFailsAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenarioWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAddRemoveScenario[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsForConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsForTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runAllClientFunctionsWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunctionWithResponse[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.runPlayAudioFunction[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/ServerCallLiveTests.startRecordingFails[1].json
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#24048 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#24057 Increment version for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Labels: auto-merge

#24054 Increment version for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: auto-merge, Cognitive - Metrics Advisor

#23963 Fixing maxItemCount from Spark to control batch Size of query requests
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/SimpleDiagnosticsSlf4jLogger.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SimpleFileDiagnosticsProvider.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SimpleFileDiagnosticsSlf4jLogger.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedIterable.java
Labels: Cosmos

#23888 Minor API Additions and Implementation Changes
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/DeferredCacheImmutableMap.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpBufferedResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyToAzureCoreHttpHeadersWrapper.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/NettyToAzureCoreHttpHeadersWrapperTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncBufferedResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/ResumeOperation.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeader.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpClientProviders.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpHeadersTests.java
Labels: Client, Azure.Core, HttpClient

#24056 Preparing Key Vault patch release for September 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupAsyncClientTest.beginSelectiveKeyRestore[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupClientTest.beginSelectiveKeyRestore[1].json
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault, Azure.Identity

#24060 Increment version for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, auto-merge

#24061 Increment version for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/pom.xml
Labels: auto-merge

#24012 Update versions of communication for release of networktraversal
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#23992 Cosmos DB - Fix Spark Partition Planner with ReadLimit
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/PartitionMetadata.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlanerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/PartitionMetadataSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkBridgeImplementationInternalSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
Labels: Cosmos, cosmos:spark3

#24067 Preparing Key Vault beta releases for September 2021.
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
Labels: KeyVault

#24065 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: KeyVault, Azure.Identity, auto-merge

#24045 mgmt, update automation script
  eng/mgmt/automation/generate.py
Labels: Mgmt - Track 2

#24073 [Automation] Generate Fluent Lite from mysql#package-flexibleserver-2021-05-01
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/CHANGELOG.md
Labels: Mgmt - Track 2

#24036 [Automation] Generate Fluent Lite from baremetalinfrastructure#
  eng/versioning/version_client.txt
  pom.xml
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/CHANGELOG.md
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/README.md
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/SAMPLE.md
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/pom.xml
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/BareMetalInfrastructureManager.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/AzureBareMetalInstancesClient.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/BareMetalInfrastructureClient.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/OperationsClient.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/models/AzureBareMetalInstanceInner.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/models/AzureBareMetalInstanceProperties.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/models/OperationInner.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/models/package-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/fluent/package-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/AzureBareMetalInstanceImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/AzureBareMetalInstancesClientImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/AzureBareMetalInstancesImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/BareMetalInfrastructureClientBuilder.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/BareMetalInfrastructureClientImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/OperationImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/OperationsClientImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/OperationsImpl.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/Utils.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/implementation/package-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalHardwareTypeNamesEnum.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalInstance.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalInstancePowerStateEnum.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalInstanceSizeNamesEnum.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalInstances.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalInstancesListResult.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/AzureBareMetalProvisioningStatesEnum.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/Disk.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/Display.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/HardwareProfile.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/IpAddress.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/NetworkProfile.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/OSProfile.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/Operation.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/OperationList.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/Operations.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/StorageProfile.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/Tags.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/models/package-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/com/azure/resourcemanager/baremetalinfrastructure/package-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/main/java/module-info.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/samples/java/com/azure/resourcemanager/baremetalinfrastructure/generated/AzureBareMetalInstancesGetByResourceGroupSamples.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/samples/java/com/azure/resourcemanager/baremetalinfrastructure/generated/AzureBareMetalInstancesListByResourceGroupSamples.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/samples/java/com/azure/resourcemanager/baremetalinfrastructure/generated/AzureBareMetalInstancesListSamples.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/samples/java/com/azure/resourcemanager/baremetalinfrastructure/generated/AzureBareMetalInstancesUpdateSamples.java
  sdk/baremetalinfrastructure/azure-resourcemanager-baremetalinfrastructure/src/samples/java/com/azure/resourcemanager/baremetalinfrastructure/generated/OperationsListSamples.java
  sdk/baremetalinfrastructure/ci.yml
  sdk/baremetalinfrastructure/pom.xml
Labels: Mgmt - Track 2

#24028 mgmt, update code owner
  .github/CODEOWNERS
Labels: Mgmt - Track 2

#24076 Increment version for mysqlflexibleserver releases
  eng/versioning/version_client.txt
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/CHANGELOG.md
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/pom.xml
Labels: auto-merge

#24077 Increment version for synapse releases
  eng/versioning/version_client.txt
  sdk/synapse/azure-resourcemanager-synapse/CHANGELOG.md
  sdk/synapse/azure-resourcemanager-synapse/pom.xml
Labels: auto-merge

#24081 Increment version for quota releases
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
Labels: auto-merge

#24082 Increment version for kusto releases
  eng/versioning/version_client.txt
  sdk/kusto/azure-resourcemanager-kusto/CHANGELOG.md
  sdk/kusto/azure-resourcemanager-kusto/pom.xml
Labels: auto-merge

#24026 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#24000 Sync eng/common directory with azure-sdk-tools for PR 1983
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#24072 Prepare ServiceBus 7.4.1 September release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
Labels: Service Bus

#24090 cosmos spark 4.3.1 release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#24094 Fixed cosmos release notes header
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#24096 Increment Digital Twins dataplane SDK version for release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: Digital Twins

#24101 Sync eng/common directory with azure-sdk-tools for PR 2006
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#24068 Sync eng/common directory with azure-sdk-tools for PR 1946
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#24102 Sync eng/common directory with azure-sdk-tools for PR 1979
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24104 Update MR Authentication to 1.1.1
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#24091 Included a comment on query plan caching for cosmos-spring
  sdk/cosmos/azure-spring-data-cosmos/README.md
Labels: Cosmos, azure-spring

#24100 Remove "en-us" from links in digital twins SDK
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsClient.java
Labels: Digital Twins

#24099 cosmos spark version bump
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#24109 Increment version for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#24110 Increment version for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity, auto-merge

#24097 App Configuration Refresh fixes
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySource.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceLocator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationRefresh.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/NormalizeNull.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/stores/ClientStore.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceKeyVaultTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceLocatorTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationRefreshTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/stores/ClientStoreTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
Labels: App Configuration, azure-spring-app-configuration

#24105 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-integration-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge

#24119 Updating the Spark configuration reference with missing properties
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
Labels: Cosmos

#24120 Update AutoRest Setup to Use New Default Branch Main
  sdk/communication/azure-communication-callingserver/swagger/README.md
  sdk/communication/azure-communication-chat/swagger/README.md
  sdk/communication/azure-communication-identity/swagger/README.md
  sdk/communication/azure-communication-networktraversal/swagger/README.md
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
  sdk/communication/azure-communication-sms/swagger/README.md
  sdk/deviceupdate/azure-iot-deviceupdate/swagger/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/swagger/README.md
  sdk/search/azure-search-documents/swagger/README.md
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
  sdk/synapse/azure-analytics-synapse-accesscontrol/swagger/README.md
  sdk/synapse/azure-analytics-synapse-artifacts/swagger/README.md
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/swagger/README.md
  sdk/synapse/azure-analytics-synapse-monitoring/swagger/README.md
  sdk/synapse/azure-analytics-synapse-spark/swagger/README.md
  sdk/tables/azure-data-tables/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Search, Service Bus, Client, Docs, Cognitive - Text Analytics, Cognitive - Form Recognizer, Communication, Cognitive - Metrics Advisor

#24071 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: KeyVault, Azure.Identity, auto-merge

#24124 Increment version for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: auto-merge, Communication, Digital Twins

#18392 Dump Heap on OOM and Retain Heap Dump
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/retain-heap-dump-hprofs.yml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys, common

#24122 Delete Baseline
  eng/java.gdnbaselines
Labels: EngSys

#23442 Prevent RuntimeException on selectionMark with null value.
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
Labels: customer-reported, Cognitive - Form Recognizer

#24134 Stg78 ga prep
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Storage

#24115 [AppConfig-CustomerReported] Add samples for FeatureFlag and SecretReference
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/FeatureFlagConfigurationSettingSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/FeatureFlagConfigurationSettingSampleAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/SecretReferenceConfigurationSettingSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/SecretReferenceConfigurationSettingSampleAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/SecretReferenceConfigurationSettingUnitTest.java
Labels: Client, App Configuration

#24139 Sync eng/common directory with azure-sdk-tools for PR 2008
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24132 Update Storage POMs to Use New Surefire Argline Pattern
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage, Client

#24151 Adding more info to Unknown auth token kind error
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
Labels: Cosmos

#24140 Make Context.NONE a Specialized Subclass
  sdk/core/azure-core/src/main/java/com/azure/core/util/Context.java
Labels: Client, Azure.Core

#24157 Updated release data for chat java from 09/27 to 09/15
  sdk/communication/azure-communication-chat/CHANGELOG.md
Labels: Communication

#24111 Sync eng/common directory with azure-sdk-tools for PR 2009
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Labels: EngSys, Central-EngSys

#24141 Addressing the issue of not terminating unconfirmed-sends due to the termination of link with no error
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Labels: Event Hubs, Client, Azure.Core, pillar-reliability

#24135 Add provisioner OID to initial MHSM admins
  sdk/keyvault/test-resources.json
Labels: KeyVault

#24159 Sync eng/common directory with azure-sdk-tools for PR 2016
  eng/common/pipelines/templates/steps/verify-changelog.yml
Labels: EngSys, Central-EngSys

#24168 Remove header level from changelogs
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
Labels: Storage

#24154 Fixed a NullPointerException in VirtualMachineImpl
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
Labels: customer-reported

#24175 mgmt script, add "no-transfer-progress" to mvn call
  eng/mgmt/automation/generate.py
Labels: Mgmt - Track 2

#24163 Prepare release 1.1.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Labels: auto-merge

#24178 Increment version for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Event Grid, auto-merge

#24155 Sync eng/common directory with azure-sdk-tools for PR 2011
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#24130 API consistency review updates
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/logs/AzureLogAnalyticsImplBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/logs/models/LogsQueryHelper.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQuery.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResultStatus.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/QueryTimeInterval.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/LogsQueryWithModels.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/MetricsQuerySample.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/codesnippets/LogsQueryClientJavaDocCodeSnippets.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatistics.json
Labels: Client, Monitor - Query

#24170 [TA] Upgrade GA patch version
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive - Text Analytics

#24184 [TA] Fixes live test regression
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeKeyPhrasesExtractionAction[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithDefaultLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguageForBatchOperation[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientBuilderTest.clientBuilderWithNewLanguage[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsPagination[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeActionsWithOptions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeKeyPhrasesExtractionAction[1].json
Labels: Client, Cognitive - Text Analytics

#24131 Move response error to azure-core
  eng/versioning/version_client.txt
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/TimeInterval.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/models/package-info.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/models/TimeIntervalTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseError.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseInnerError.java
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryResult.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricResult.java
  sdk/monitor/azure-monitor-query/src/main/java/module-info.java
Labels: Client, Azure.Core

#24171 fix bug of converting service bus header of scheduled enqueue time
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-queue/README.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/README.md
  sdk/spring/azure-spring-integration-servicebus/CHANGELOG.md
  sdk/spring/azure-spring-integration-servicebus/README.md
  sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverter.java
  sdk/spring/azure-spring-integration-servicebus/src/test/java/com/azure/spring/integration/servicebus/converter/ServiceBusMessageConverterTest.java
Labels: Client, azure-spring, azure-spring-servicebus

#24190 mgmt, fix typo in eventgrid sample readme
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/samples/README.md
Labels: Event Grid

#24103 Java SDK - Encryption: Adding Aggregate query support
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/ChangeFeedEncryptionProcessorBuilder.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ItemDeserializer.java
Labels: Cosmos

#24191 Malcolm tyrrell/try release arr
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#24194 Increment version for remoterendering releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/pom.xml
Labels: auto-merge

#24180 Fixed issue with onErrorDropped being called when using concatWith in QuorumReader
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
Labels: Cosmos

#24182 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24167 Increment version for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: Storage, auto-merge

#24165 Feature Management updated with evaluate configuration option
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Labels: App Configuration, azure-spring-app-configuration

#24205 [TA] Only regenerate classes by using new swagger
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TextAnalyticsClientImplBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/ClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomEntitiesTask.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomEntitiesTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomEntitiesTaskResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiClassificationTask.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiClassificationTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiClassificationTaskResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleClassificationTask.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleClassificationTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleClassificationTaskResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/JobManifestTasks.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/MultiClassificationDocument.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/SingleClassificationDocument.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasks.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksCustomEntityRecognitionTasksItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksCustomMultiClassificationTasksItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksCustomSingleClassificationTasksItem.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Client, Cognitive - Text Analytics

#24206 [TA] missing regenerate files
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomEntitiesTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiClassificationTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleClassificationTaskParameters.java
Labels: Client, Cognitive - Text Analytics

#24160 Fixes JSON property name of ClientEncryptionKeyProperties to match backend
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/DotNetCompatibleTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/dotnetEncryption/ClientEncryptionKey1.json
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/dotnetEncryption/ClientEncryptionKey2.json
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
Labels: Cosmos

#24200 Fix spring dependency version mapping link
  sdk/spring/README.md
Labels: azure-spring

#24198 Added support for UUID id type to spring data cosmos SDK
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/UUIDIdDomain.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/ReactiveUUIDIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/UUIDIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveUUIDIdDomainRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/UUIDIdDomainRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/common/CosmosUtils.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/UUIDIdDomain.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Labels: Cosmos, azure-spring

#24214 Revert "Feature Management updated with evaluate configuration option"
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/entities/Feature.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/filters/AlwaysOnFilter.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/SpringBootTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/TestConfiguration.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/PercentageFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TargetingFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/filters/TimeWindowFilterTest.java
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Labels: App Configuration, azure-spring-app-configuration

#24212 Prepare September release for Event Hubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#24216 Added unit test for UUID type serialization
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Labels: Cosmos, azure-spring

#24197 When using IP address, Blob Endpoint parser throws StringIndexOutOfBoundsException if path component is not provided
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceClientBuilderTest.groovy
Labels: Storage, customer-reported

#23835 Add Support for Java 9 in Multi-Release JAR for azure-core
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/ResponseConstructorsCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtilsApi.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/HeaderCollectionHandler.java
  sdk/core/azure-core/src/main/java9/com/azure/core/implementation/ReflectionUtils.java
  sdk/core/azure-core/src/main/java9/com/azure/core/implementation/package-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ReflectionUtilsIT.java
  sdk/core/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-sdk-parent/pom.xml
Labels: Client, Azure.Core
