Repository Azure/azure-sdk-for-java, pull requests merged in 2021-05, with the labels that each got.

#21070 Adding validation for all config-settings with a name starting with "spark.cosmos."
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/02_StructuredStreaming.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
Labels: Cosmos

#21034 Sync eng/common directory with azure-sdk-tools for PR 1579
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#21101 Updating heading
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
Labels: Cosmos

#20972 [AppConfig-PerfTest] init appconfiguraiton performance test
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration-perf/README.md
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/src/main/java/com/azure/data/appconfiguration/perf/App.java
  sdk/appconfiguration/azure-data-appconfiguration-perf/src/main/java/com/azure/data/appconfiguration/perf/ListConfigurationSettingsTest.java
  sdk/appconfiguration/azure-data-appconfiguration-perf/src/main/java/com/azure/data/appconfiguration/perf/core/ServiceTest.java
  sdk/appconfiguration/pom.xml
Labels: App Configuration, Client

#21028 [TA] Use the new autorest to generate the modified swagger, and be able to support multiple service version
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsServiceVersion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TextAnalyticsClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TextAnalyticsClientImpl.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TextAnalyticsClientImplBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/Certainty.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/Conditionality.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasks.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksDetails.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/swagger/v3.1-preview.4.json
Labels: Client, Cognitive - Text Analytics

#21073 Sync eng/common directory with azure-sdk-tools for PR 1524
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#21102 [Storage] Parallel Spock in Live Tests
  sdk/storage/azure-storage-blob-batch/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileStoreTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzurePathTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RetryTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/implementation/util/StorageBlockingSinkTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-internal-avro/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-queue/src/test/resources/SpockConfig.groovy
Labels: Storage

#20956 cosmos spark update readme after release
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
Labels: Cosmos

#21112 Updated cosmos changelog to have important title
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
Labels: Cosmos, azure-spring

#20953 Remove cosmos unused credentials in test code
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/EncryptionProcessorAndSettingsTest.java
Labels: Client, Cosmos, azure-cosmos-encryption

#21110 Eagerly Read Void Response Bodies
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseBodyDecoder.java
Labels: Azure.Core, Client

#21085 Use multiple subscribers for `maxConcurrentCalls` in ServiceBusProcessorClient
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
Labels: Client, Service Bus

#21087 Allow MSCV to be logged
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilder.java
Labels: auto-merge

#21113 [Storage] Common test package - structure and test mode.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/KeyvaultKeyTest.groovy
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/AzuriteTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SASTest.groovy
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncAPITests.groovy
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Labels: Storage

#20403 Update ProxyConnectionException Retrying Tests
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyHandler.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/MockProxyServer.java
Labels: Azure.Core

#20987 Add Slice<T> support for azure-spring-data-cosmos
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/PageableMemoRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableMemoRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CosmosSliceImpl.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/CosmosQueryExecution.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQueryUnitTest.java
Labels: Cosmos, azure-spring, azure-spring-cosmos, customer-reported

#21127 [FR] replace ID and ReadingOrder by identity and FormReadingOrder respectively
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/FormReadingOrder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizeContentOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/RecognizeIdentityDocumentOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocuments.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocumentsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocumentsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeIdentityDocumentsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/resources/sample-forms/IdentityDocuments/license.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
Labels: Client, Cognitive - Form Recognizer

#21144 Updated Change Log with 2.0.0 changes
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
Labels: App Configuration, azure-spring-app-configuration

#21114 Fix ignored HttpClient-decoder configuration issue
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/http/ReactorNettyHttpClientTest.java
Labels: Cosmos, customer-reported

#21133 Change to use sub configuration
  sdk/communication/test-resources.json
  sdk/communication/tests.yml
Labels: Communication

#21121 cosmos db spark connector name
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Pyspark-Sample.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/02_StructuredStreaming.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/Predicate-Pushdown/Predicate-PushDown-Sample.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Scala-Sample.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/catalog-api.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/migration.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SampleE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SampleReadE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EThroughputControlITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/test-databricks/notebooks/basicScenario.scala
Labels: Cosmos

#21103 Update pkg descriptions for azure-eventhubs and eph to include pointer to new package
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/README.md
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/README.md
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/src/main/java/com/microsoft/azure/eventhubs/impl/ClientConstants.java
Labels: Event Hubs

#21145 Adding support of having account name in graphite reporter
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ScheduledReporterFactory.java
Labels: Cosmos

#21153 Add Sample for ConnectionProvider
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/samples/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderJavaDocCodeSnippets.java
Labels: Azure.Core, Client, HttpClient

#21154 Use partner-provided subscription for cosmos live tests
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/tests.yml
Labels: Central-EngSys, Cosmos

#21152 Hid QQ Parquet from public API
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobQueryReader.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobQueryParquetSerialization.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobQuerySerialization.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileQueryParquetSerialization.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileQuerySerialization.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Labels: Storage

#20994 Passing environment name to client telemetry from CTL runs
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clientTelemetry/ClientTelemetry.java
Labels: Cosmos

#21159 Fixing diagnostic on metadata failure
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsClientContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/CilentConfigDiagnosticsTest.java
Labels: Cosmos

#21169 cosmos spark 4.0.0-beta3 release
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/dev/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
Labels: Cosmos

#21180 Rename EV to consolidated EV
  sdk/communication/CONTRIBUTING.md
  sdk/communication/azure-communication-identity/src/samples/java/com/azure/communication/identity/CreateAndIssueTokenExample.java
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersIntegrationTestBase.java
  sdk/communication/azure-communication-sms/src/samples/java/com/azure/communication/sms/samples/quickstart/SendSmsToASinglePhoneExample.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
  sdk/communication/test-resources.json
Labels: Communication

#21177 version bump cosmos spark 4.0.0-beta3 -> 4.0.0-beta4
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#21163 Check for Leading Slash in Path
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/PlaybackClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
Labels: Azure.Core, Client

#21183 Prepare the ACR package for release
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
Labels: Container Registry

#21158 [FR] support multiple versions
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerServiceVersion.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImpl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImplBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/v2.1-preview.3.json
Labels: Client, Cognitive - Form Recognizer

#21186 Fix recordings.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsAccountSASNetworkAccountSasTokenOnEndpoint.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsAccountSASNetworkCreateDeleteShare.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsCanUseSasToAuthenticate.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsFileSASNetworkTestDownloadUpload.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsFileSASNetworkTestUploadFails.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsShareSASNetworkIdentifierPermissions.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsAccountSASNetworkCreateDeleteShare.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsFileSASNetworkTestDownloadUpload.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsFileSASNetworkTestUploadFails.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsShareSASNetworkIdentifierPermissions.json
Labels: Storage, auto-merge

#21185 [Storage] Fix race in tests.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
Labels: Storage, auto-merge

#21080 Add property enable-full-list
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/resources/application.yml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2UserService.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/GraphClient.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapp/AADAccessTokenGroupRolesExtractionTest.java
Labels: azure-spring

#21160 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-conversion-sample-complete/CHANGELOG.md
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-conversion-sample-initial/CHANGELOG.md
  sdk/spring/azure-spring-boot-samples/azure-appconfiguration-sample/CHANGELOG.md
Labels: App Configuration, azure-spring

#21208 Fix recordings.
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithAccountSasCredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithAccountSasCredentialsError.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithContainerSasCredentials.json
  sdk/storage/azure-storage-blob-batch/src/test/resources/session-records/BatchAPITestSubmitBatchWithContainerSasCredentialsError.json
Labels: Storage

#21197 [FR] flatten TextStyle's properties in TextAppearance
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/TextAppearanceHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/TextStyleHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/TextAppearance.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/TextStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContent.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeContentWithSelectionMarks.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/FormRecognizerClientTest.recognizeContentAppearance[1].json
Labels: Client, Cognitive - Form Recognizer

#21175 Added PR links to changelog for spark configuration renames.
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
Labels: Cosmos

#21184 update dataSource cosmos.changeFeed to cosmos.oltp.changeFeed
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/02_StructuredStreaming.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
Labels: Cosmos

#21211 [Storage] Tests - make blob tests parallelizable everywhere
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RetryTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/SpockConfig.groovy
Labels: Storage

#21135 Updates to azure-sdk-bom
  eng/versioning/version_client.txt
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Azure.Core, Client, bom

#20910 Service bus Readme , SAS Key sample update
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/migration-guide.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/README.md
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageUsingSasSample.java
Labels: Service Bus

#21215 Added tests for BufferStagingArea
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/BufferStagingAreaTest.groovy
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
Labels: Storage

#20566 Update Bearer Token Challenge Auth API + Add Env Var Switch to disable CP1 capability in Identity
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryCredentialsPolicy.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryCredentialPolicyTests.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/ArmChallengeAuthenticationPolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/ARMScopeHelper.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/implementation/AzureEnvironment.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/policy/AuthenticationChallengeTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Labels: Azure.Core

#21209 [FR] Add default log options to training client and test
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClientBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientBuilderUnitTest.java
Labels: Client, Cognitive - Form Recognizer

#18944 Update Identity readme
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#21218 Sync eng/common directory with azure-sdk-tools for PR 1596
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#21196 Extend Check Enforcer timeout
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#21198 mgmt, sample for private link
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-samples/samples.json
  sdk/resourcemanager/azure-resourcemanager-samples/samples.schema.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/network/samples/ManagePrivateLink.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/samples/Utils.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/NetworkSampleTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/NetworkSampleTests.testManagePrivateLink.json
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
Labels: Mgmt - Track 2

#21219 [Storage] Tests - Make test account configuration read DRY
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/BlobCryptographyBuilderTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/KeyvaultKeyTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/LocalKeyTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileStoreTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzurePathTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/LargeBlobTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ProgressReporterTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RequestRetryTestFactory.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HelperTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestAccount.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/AsyncErrorMappingTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/LargeFileTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SASTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/specialized/LeaseAsyncErrorMappingTest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAysncAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
Labels: Storage

#21232 Prepare for May 2021 Azure Core Releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Core, Azure.Identity, Client

#21233 [Storage] Tests - get rid of primary account aliases
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchClientBuilderJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/AsyncSample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/DirectorySample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/FileSample.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareSample.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAysncAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSASTests.groovy
  sdk/storage/test-resources.json
Labels: Storage

#21240 [Storage] Separate soft delete accounts.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SoftDeleteTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SoftDeleteTestListBlobsFlatOptionsDeleted.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SoftDeleteTestListBlobsHierOptionsDeleted.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SoftDeleteTestUndelete.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SoftDeleteTestUndeleteMin.json
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestListDeletedPaths.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestListDeletedPathsError.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestListDeletedPathsOptionsMaxResultsByPage.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestListDeletedPathsPath.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePath.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePathError.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePathSpecialCharacters[0].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePathSpecialCharacters[1].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePathSpecialCharacters[2].json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/SoftDeleteTestRestorePathSpecialCharacters[3].json
  sdk/storage/test-resources.json
Labels: Storage

#21241 Fixed convertStreamToFlux code to update correctly on end of stream
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: Storage

#21247 Sync eng/common directory with azure-sdk-tools for PR 1597
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#21251 udpate pic link from relative to absolute ones
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-keyvault-certificates/README.md
Labels: azure-spring

#21089 Optimization aad b2c configuration condition
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CConditions.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2COAuth2ClientConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AbstractAADB2COAuth2ClientTestConfiguration.java
Labels: azure-spring, azure-spring-aad

#21234 Update msal dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity, Event Hubs, azure-spring

#21261 [Storage] Tests - parametrize parallelization.
  sdk/storage/azure-storage-blob-batch/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob-nio/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-blob/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-internal-avro/src/test/resources/SpockConfig.groovy
  sdk/storage/azure-storage-queue/src/test/resources/SpockConfig.groovy
Labels: Storage

#21264 [Storage] Tests - Live and playback only annotations.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/ChangefeedNetworkTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureDirectoryStreamTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/NioBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobInputOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/LargeBlobTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ProgressReporterTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/LiveOnly.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/LiveOnlyExtension.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/PlaybackOnly.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/PlaybackOnlyExtension.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/LargeFileTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileInputOutputStreamTests.groovy
Labels: Storage

#21269 Removed beta annotation from Cosmos Item Identity class
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemIdentity.java
Labels: Cosmos

#21270 Prepare azure-search-documents for May 2021 Beta Release
  .github/CODEOWNERS
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
Labels: Client, Search

#20533 Use variable for bom version
  sdk/spring/spring-reference.yml
Labels: azure-spring

#21259 mgmt, upgrade codegen
  eng/mgmt/automation/parameters.py
Labels: Mgmt - Track 2

#20988 SB - Fixing Live test - ServiceBusReceiverAsyncClientIntegrationTest
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/FluxAutoLockRenewTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxySendTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessorTest.java
Labels: Service Bus

#21294 [Communication] -SMS- re-adding smsAsyc repeteabilty test
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsAsyncClientTests.java
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.checkForRepeatabilityOptions[1].json
Labels: Communication

#21282 Prepare azure-search-documents for May 2021 Patch Release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingPublisher.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Client, Search

#21304 [Storage] Don't run cleanup in playback mode.
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-changefeed/src/test/java/com/azure/storage/blob/changefeed/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteTest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
Labels: Storage

#20782 Add Azure PowerShell Credential & Update Identity version for Release May 2021.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePowerShellCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePowerShellCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/PowershellManager.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePowerShellCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientOptionsTest.java
  sdk/identity/pom.xml
Labels: Azure.Identity

#21297 Fixing Spark samples (Typo in config name) and removing SqlQuerySpec.toPrettyString from public Api
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/Predicate-Pushdown/Predicate-PushDown-Sample.ipynb
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScan.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SqlQuerySpecLogger.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SqlQuerySpec.java
Labels: Cosmos

#21325 Update EventGrid to 4.3.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Client, Communication, Event Grid

#21260 run spring IT on spring boot 2.4.x
  sdk/spring/scripts/replace_util.py
  sdk/spring/spring-test-template.yml
Labels: azure-spring

#21226 Setup INT live tests
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
  sdk/communication/tests.yml
Labels: Communication

#21321 [storage] Add weekly live test matrix to test all service versions
  sdk/storage/platform-matrix-all-versions.json
  sdk/storage/tests.yml
Labels: Storage

#21212 Adding sync api support for cosmos encryption
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncDatabase.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionDatabase.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/CosmosEncryptionClientCachesTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionPojo.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionSyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/implementation/EncryptionProcessorAndSettingsTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClientEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
Labels: Cosmos

#21274 Sync eng/common directory with azure-sdk-tools for PR 1594
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#21347 Added java doc for constructor
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/DedicatedGatewayRequestOptions.java
Labels: Cosmos

#21334 [TA] Prepare for May monthly patch v5.0.6
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#21245 [Eventhub] Delete myself as owner in Eventhub SDK
  .github/CODEOWNERS
Labels: Event Hubs

#21346 [Storage] Testing various service versions.
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatch.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/ServiceVersionValidationPolicy.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestEnvironment.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsParseProtocol.json
Labels: Storage

#21338 ServiceBus may 2021 GA release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#21313 Increment version for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-eventhubs/pom.xml
  sdk/spring/azure-spring-integration-eventhubs/pom.xml
Labels: Communication, Event Hubs, azure-spring

#21345 Rename environment variable for consistency
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersIntegrationTestBase.java
  sdk/communication/azure-communication-sms/src/samples/java/com/azure/communication/sms/samples/quickstart/SendSmsToASinglePhoneExample.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
Labels: Communication

#21357 Updated release versions for azure-cosmos 4.15.0, azure-spring-data-cosmos 3.7.0 and azure-cosmos-encryption 1.0.0-beta.4
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientEncryptionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDatabase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/pom.xml
Labels: Cosmos, azure-spring

#21360 [FR] Prepare for May monthly patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Client, Cognitive - Form Recognizer

#21356 Add getter method to get poll interval
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java
Labels: Azure.Core

#21300 Fix keyVaultHealthIndicator bug.
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultHealthIndicator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultOperation.java
Labels: azure-spring, azure-spring-keyvault

#21318 Preparing storage for beta release
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/UndeleteBlobContainerOptions.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobServiceClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileSystemUndeleteOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeServiceClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#21355 Spark: Documentation regarding bulk
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md
Labels: Cosmos, cosmos:spark3

#21351 [Storage] Boundary for service version.
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobInputOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/RequiredServiceVersion.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/RequiredServiceVersionExtension.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/implementation/util/TransformUtilsTest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/specialized/LeaseAPITest.groovy
Labels: Storage

#21365 [Automation] Generate Fluent Lite from maintenance#package-2021-05
  sdk/maintenance/azure-resourcemanager-maintenance/CHANGELOG.md
  sdk/maintenance/azure-resourcemanager-maintenance/README.md
  sdk/maintenance/azure-resourcemanager-maintenance/pom.xml
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/MaintenanceManager.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/ApplyUpdateForResourceGroupsClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/ApplyUpdatesClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/MaintenanceConfigurationsClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/MaintenanceConfigurationsForResourceGroupsClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/MaintenanceManagementClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/PublicMaintenanceConfigurationsClient.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/models/ApplyUpdateInner.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/models/ConfigurationAssignmentInner.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/models/MaintenanceConfigurationInner.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/models/OperationInner.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/models/package-info.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/fluent/package-info.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ApplyUpdateForResourceGroupsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ApplyUpdateForResourceGroupsImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ApplyUpdateImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ApplyUpdatesClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ApplyUpdatesImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ConfigurationAssignmentImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/ConfigurationAssignmentsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceConfigurationImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceConfigurationsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceConfigurationsForResourceGroupsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceConfigurationsForResourceGroupsImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceManagementClientBuilder.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/MaintenanceManagementClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/OperationImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/OperationsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/PublicMaintenanceConfigurationsClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/PublicMaintenanceConfigurationsImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/UpdatesClientImpl.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/implementation/package-info.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/ApplyUpdate.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/ApplyUpdateForResourceGroups.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/ApplyUpdates.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/ConfigurationAssignment.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/ListApplyUpdate.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/MaintenanceConfiguration.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/MaintenanceConfigurations.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/MaintenanceConfigurationsForResourceGroups.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/MaintenanceScope.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/Operation.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/PublicMaintenanceConfigurations.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/Visibility.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/models/package-info.java
  sdk/maintenance/azure-resourcemanager-maintenance/src/main/java/com/azure/resourcemanager/maintenance/package-info.java
Labels: Mgmt - Track 2

#21367 [Automation] Generate Fluent Lite from confluent#package-2021-03-01-preview
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/README.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/ConfluentManager.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/ConfluentManagementClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/MarketplaceAgreementsClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/ValidationsClient.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/ConfluentAgreementResourceInner.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/fluent/models/OrganizationResourceInner.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ConfluentAgreementResourceImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ConfluentManagementClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/MarketplaceAgreementsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/MarketplaceAgreementsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OperationResultImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationOperationsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationOperationsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationResourceImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/OrganizationsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/Utils.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ValidationsClientImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/implementation/ValidationsImpl.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/ConfluentAgreementResource.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/MarketplaceAgreements.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OfferDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResource.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourceProperties.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourcePropertiesOfferDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/OrganizationResourcePropertiesUserDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/UserDetail.java
  sdk/confluent/azure-resourcemanager-confluent/src/main/java/com/azure/resourcemanager/confluent/models/Validations.java
Labels: Mgmt - Track 2

#21366 [Automation] Generate Fluent Lite from maps#package-2021-02
  eng/versioning/version_client.txt
  pom.xml
  sdk/maps/azure-resourcemanager-maps/CHANGELOG.md
  sdk/maps/azure-resourcemanager-maps/README.md
  sdk/maps/azure-resourcemanager-maps/pom.xml
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/AzureMapsManager.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/AccountsClient.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/AzureMapsManagementClient.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/CreatorsClient.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/MapsClient.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/models/CreatorInner.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/models/MapsAccountInner.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/models/MapsAccountKeysInner.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/models/OperationDetailInner.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/models/package-info.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/fluent/package-info.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/AccountsClientImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/AccountsImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/AzureMapsManagementClientBuilder.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/AzureMapsManagementClientImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/CreatorImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/CreatorsClientImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/CreatorsImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/MapsAccountImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/MapsAccountKeysImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/MapsClientImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/MapsImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/OperationDetailImpl.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/Utils.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/implementation/package-info.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Accounts.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Creator.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/CreatorList.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/CreatorProperties.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/CreatorUpdateParameters.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Creators.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Dimension.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/KeyType.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Kind.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Maps.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsAccount.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsAccountKeys.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsAccountProperties.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsAccountUpdateParameters.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsAccounts.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsKeySpecification.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MapsOperations.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/MetricSpecification.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Name.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/OperationDetail.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/OperationDisplay.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/ServiceSpecification.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/Sku.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/models/package-info.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/com/azure/resourcemanager/maps/package-info.java
  sdk/maps/azure-resourcemanager-maps/src/main/java/module-info.java
  sdk/maps/ci.yml
  sdk/maps/pom.xml
Labels: Mgmt - Track 2

#21370 [Automation] Generate Fluent Lite from netapp#package-netapp-2021-02-01
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/README.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/NetAppFilesManager.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/AccountBackupsClient.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/BackupPoliciesClient.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/BackupsClient.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/NetAppManagementClient.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/VolumeBackupStatusClient.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/models/BackupInner.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/models/BackupsListInner.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/fluent/models/VolumeInner.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/AccountBackupsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/AccountBackupsImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/AccountsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupPoliciesClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupPolicyImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupsImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/BackupsListImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/NetAppManagementClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/NetAppResourcesClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/OperationsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/PoolsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/SnapshotPoliciesClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/SnapshotsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/VaultsClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/VolumeBackupStatusClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/VolumeBackupStatusImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/implementation/VolumesClientImpl.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/AccountBackups.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/Backup.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/BackupPatch.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/BackupType.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/Backups.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/BackupsList.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/Volume.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/VolumeBackupStatus.java
  sdk/netapp/azure-resourcemanager-netapp/src/main/java/com/azure/resourcemanager/netapp/models/VolumePatchPropertiesDataProtection.java
Labels: Mgmt - Track 2

#20810 Add module for jca integration test.
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-test-keyvault-jca/README.md
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AuthClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultClientTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultJcaProviderTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultKeyStoreTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameterTest.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/PropertyConvertorUtils.java
  sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java
  sdk/keyvault/pom.xml
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Labels: KeyVault, azure-spring

#21379 mgmt, upgrade codegen
  eng/mgmt/automation/parameters.py
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/DeployType.java
Labels: customer-reported

#21385 Add live test yml configuration(Testing)
  pom.xml
  sdk/spring-2-3/pom.xml
  sdk/spring-2-3/spring-test-template.yml
  sdk/spring-2-3/tests.yml
Labels: customer-reported

#21362 Bump digitaltwins-core version for 5/13/2021 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: DigitalTwins

#18470 [Storage File Share] Change Storage File Share readme and sample to fix issue 10317
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ReadmeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareJavaDocCodeSamples.java
Labels: Storage

#20773 fix the issue 18809
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/ReadmeSamples.java
Labels: Storage

#21391 [Storage] Flaky test fixes
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/APISpec.groovy
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BatchAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/APISpec.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/BlobCryptographyBuilderTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/APISpec.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AttributeViewTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureFileSystemProviderTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureResourceTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureSeekableByteChannelTest.groovy
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/CompositeTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobOutputStreamTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RetryTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SoftDeleteTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseTest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAPITest.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageSpec.groovy
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestDataFactory.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SASTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/APISpec.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAPITests.groovy
  sdk/storage/microsoft-azure-storage-blob/src/test/java/com/microsoft/azure/storage/APISpec.groovy
Labels: Storage

#21393 Core-amqp may 2021 beta release for Servicebus beta
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpTransactionCoordinator.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/TransactionCoordinator.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/models/AmqpMessageBody.java
  sdk/core/azure-core-amqp/src/samples/java/com/azure/core/amqp/models/AmqpAnnotatedMessageJavaDocCodeSamples.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSessionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/TransactionCoordinatorTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/models/AmqpMessageBodyTest.java
  sdk/core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxAutoLockRenew.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceivedMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusCreateSessionOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorAmqpConnection.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/SendReceiveAmqpMessageBodySample.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverClientJavaDocCodeSample.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/FluxAutoLockRenewTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusMessageTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusMixClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSessionTest.java
Labels: Azure.Core, Event Hubs, Service Bus

#21401 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-multi-account/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-cosmos-multi-database-single-account/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring

#21394 Faster maven ?
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
Labels: Storage

#21032 [Communication]- PhoneNumber - Changing the updateCapabilities test to just assert for the status Complete
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/beginUpdatePhoneNumberCapabilities.json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/beginUpdatePhoneNumberCapabilitiesWithoutContext.json
Labels: Communication

#21404 [TA] Update release date to 5/13 today
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Client, Cognitive - Text Analytics

#21405 [FR] Update release date
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#21403 Updated storage versions for patch release to increment core and identity versions
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/digitaltwins/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: DigitalTwins, Storage

#21413 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#21395 Increment version for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/pom.xml
Labels: DigitalTwins, KeyVault, Storage

#21343 Count support
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/CountIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ContactRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosOperations.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/AbstractReactiveCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/CosmosQueryExecution.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/PartTreeCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/PartTreeReactiveCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/ReactiveCosmosQueryExecution.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/AnnotatedQueriesUserReactiveRepositoryCodeSnippet.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/AnnotatedQueriesUserRepositoryCodeSnippet.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/UserRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/query/AbstractCosmosQueryUnitTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/query/AbstractReactiveCosmosQueryUnitTest.java
Labels: Cosmos, azure-spring, azure-spring-cosmos, customer-reported

#21124 Enable Paging to Use a Predicate to Determine Continuation
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedFluxBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedFluxCore.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuationState.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/IterableResponseTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedFluxTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
Labels: Azure.Core, Client

#21412 ServiceBus - Live/UnitTest Merge to release branch
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/FluxAutoLockRenewTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxySendTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessorTest.java
Labels: Service Bus

#21415 ServiceBus beta release prep - May 2021
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
Labels: Service Bus

#21383 [Automation] Generate Fluent Lite from iothub#package-2020-03
  sdk/iothub/azure-resourcemanager-iothub/CHANGELOG.md
  sdk/iothub/azure-resourcemanager-iothub/README.md
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/IotHubManager.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/IotHubResourcesClient.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificateDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificateListDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificateWithNonceDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificatesClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificatesImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/EndpointHealthDataImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/EventHubConsumerGroupInfoImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/GroupIdInformationImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubNameAvailabilityInfoImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubQuotaMetricInfoImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubResourcesClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubResourcesImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubSkuDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubsClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/JobResponseImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/OperationImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/OperationsClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/OperationsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateEndpointConnectionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateEndpointConnectionsClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateEndpointConnectionsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateLinkResourcesImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateLinkResourcesOperationsClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/PrivateLinkResourcesOperationsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/RegistryStatisticsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/ResourceProviderCommonsClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/ResourceProviderCommonsImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/SharedAccessSignatureAuthorizationRuleImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/TestAllRoutesResultImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/TestRouteResultImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/UserSubscriptionQuotaListResultImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/Utils.java
Labels: Mgmt - Track 2

#21050 Fix AAD B2C cannot complete well know metadata acquisition through issuer.
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/README.md
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-add-application-roles.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-add-delegated-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-add-user-flow.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-configuration-application-roles.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-consent-application-and-delegated-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-consent-application-permissions.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-expose-an-api.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-final-configuration.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-select-a-user-flow-type.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-selected-application.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-setting-relevant-content.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/docs/image-user-flow-finally.png
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/java/com/azure/spring/sample/aad/b2c/controller/WebController.java
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server/src/main/resources/application.yml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/src/main/resources/application.yml
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADIssuerJWSKeySelector.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADTrustedIssuerRepository.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/validator/AADJwtIssuerValidator.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CTrustedIssuerRepository.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/AADResourceServerConfigurationTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/aad/webapi/validator/AADJwtIssuerValidatorTest.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CConstants.java
  sdk/spring/azure-spring-boot/src/test/java/com/azure/spring/autoconfigure/b2c/AADB2CResourceServerAutoConfigurationTest.java
Labels: azure-spring, azure-spring-aad-b2c

#21419 [Automation] Generate Fluent Lite from appconfiguration#package-2021-03-01-preview
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/README.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/AppConfigurationManager.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/AppConfigurationManagementClient.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/ConfigurationStoresClient.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/KeyValuesClient.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/models/ConfigurationStoreInner.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/models/KeyValueInner.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/fluent/models/OperationDefinitionInner.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/AppConfigurationManagementClientImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/ConfigurationStoreImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/ConfigurationStoresClientImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/ConfigurationStoresImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/KeyValueImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/KeyValuesClientImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/KeyValuesImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/implementation/OperationDefinitionImpl.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ConfigurationStore.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ConfigurationStoreUpdateParameters.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ConfigurationStores.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/KeyValue.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/KeyValueListResult.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/KeyValues.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ListKeyValueParameters.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/LogSpecification.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/MetricDimension.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/MetricSpecification.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/OperationDefinition.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/OperationProperties.java
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/src/main/java/com/azure/resourcemanager/appconfiguration/models/ServiceSpecification.java
Labels: App Configuration, Mgmt - Track 2

#21424 Preparation for Key Vault Patch release - May 2021
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: Azure.Identity, KeyVault

#21481 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Azure.Identity, KeyVault

#21429 Updated Key Vault CHANGELOGs and READMEs for May 2020 beta release.
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: KeyVault

#21483 azure-storage Scheme does not include ://
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
Labels: Storage, customer-reported

#21502 Increment version for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: Azure.Identity, KeyVault

#21348 [Communication]: Add package specific tests.yml
  sdk/communication/azure-communication-chat/tests.yml
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/azure-communication-phonenumbers/tests.yml
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication

#21396 Unignore the upload from file with reporter test
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Labels: Storage

#21392 Support JsonFlatten on Fields
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/JsonFlatten.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/AdditionalPropertiesSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningSerializer.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/FlatteningSerializerTests.java
Labels: Azure.Core, Client

#21508 Sync eng/common directory with azure-sdk-tools for PR 1598
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#21509 Updated changelog and readme for storage patch release
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#21369 ThroughputControl- Discard response out of cycle
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTrackingUnit.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/controller/request/GlobalThroughputRequestController.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/controller/request/PkRangesThroughputRequestController.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottlerTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/controller/GlobalThroughputRequestControllerTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/controller/PkRangesThroughputRequestControllerTests.java
Labels: Cosmos

#21510 [FR] Resolve security manager issue, access denied on ReflectPermission
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImpl.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Labels: Cognitive - Form Recognizer

#21482 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
Labels: Service Bus, azure-spring

#21409 Only Log in Verify Version if Error or Verbose
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/variables/globals.yml
  eng/versioning/pom_file_version_scanner.ps1
Labels: EngSys

#21525 [Automation] Generate Fluent Lite from imagebuilder#package-2020-02
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/CHANGELOG.md
Labels: Mgmt - Track 2

#21526 [Automation] Generate Fluent Lite from maps#package-2021-02
  sdk/maps/azure-resourcemanager-maps/CHANGELOG.md
Labels: Mgmt - Track 2

#21428 AAD B2C related changelog.
  sdk/spring/azure-spring-boot-starter-active-directory-b2c/CHANGELOG.md
  sdk/spring/azure-spring-boot/CHANGELOG.md
Labels: azure-spring

#21420 Fix for bulk operations incorrect routing on split
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorUtil.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkOperationRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/RxPartitionKeyRangeCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkGatewayTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
Labels: Cosmos

#21612 Cosmos Spark connector GA Release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
Labels: Cosmos

#21155 Only Log Test Status when Debugging
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/AzureTestWatcher.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
Labels: Azure.Core, Client, test enhancement

#20545 Generate system event mappings for Event Grid
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/SystemEventMappingNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRecordingFileStatusUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ServiceBusDeadletterMessagesAvailableWithNoListenersEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#21618 Servicebus version increment after May release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-integration-servicebus/pom.xml
Labels: Service Bus, azure-spring

#21249 Support setting redirect uri.
  sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
  sdk/spring/azure-spring-boot-starter-active-directory/README.md
  sdk/spring/azure-spring-boot-starter-active-directory/resource/redirect-uri.png
  sdk/spring/azure-spring-boot-starter-active-directory/resource/web-application-config-redirect-uri.png
  sdk/spring/azure-spring-boot/CHANGELOG.md
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java
  sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java
Labels: azure-spring, azure-spring-aad

#21621 [Communication] - Phone Numbers - Wait on sync LRO calls for samples and tests
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/ReadmeSamples.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
Labels: Communication

#21518 [Automation] Generate Fluent Lite from iothub#package-2021-03
  eng/versioning/version_client.txt
  sdk/iothub/azure-resourcemanager-iothub/CHANGELOG.md
  sdk/iothub/azure-resourcemanager-iothub/README.md
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/IotHubManager.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/CertificatesClient.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/IotHubResourcesClient.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/models/EndpointHealthDataInner.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/models/EventHubConsumerGroupInfoInner.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/fluent/models/IotHubDescriptionInner.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificateDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/CertificatesClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/EndpointHealthDataImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/EventHubConsumerGroupInfoImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubDescriptionImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubResourcesClientImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/implementation/IotHubResourcesImpl.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ArmIdentity.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ArmUserIdentity.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/CertificateBodyDescription.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/CertificateDescription.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/DefaultAction.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/EndpointHealthData.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/EndpointHealthStatus.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/EventHubConsumerGroupBodyDescription.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/EventHubConsumerGroupInfo.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/EventHubConsumerGroupName.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ExportDevicesRequest.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ImportDevicesRequest.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/IotHubDescription.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/IotHubProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/IotHubResources.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ManagedIdentity.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/NetworkRuleIpAction.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/NetworkRuleSetIpRule.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/NetworkRuleSetProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/ResourceIdentityType.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/RoutingEventHubProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/RoutingServiceBusQueueEndpointProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/RoutingServiceBusTopicEndpointProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/RoutingSource.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/RoutingStorageContainerProperties.java
  sdk/iothub/azure-resourcemanager-iothub/src/main/java/com/azure/resourcemanager/iothub/models/StorageEndpointProperties.java
Labels: Mgmt - Track 2

#21643 [Appconfig] 1.1.12 May release prepare
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: App Configuration

#21623 ADT: Bug fix: serialization issue with strings which starts with a numeric value.
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serializer/DigitalTwinsStringSerializer.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/StringSerializerUnitTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/TwinTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.createOrReplaceTwinFailsWhenIfNoneMatchStar[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.createOrReplaceTwinSucceedsWhenNoIfNoneHeader[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.deleteTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.deleteTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.digitalTwinWithNumericStringProperty[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.patchTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.patchTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinAsyncTests.twinNotExistThrowsNotFoundException[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.createOrReplaceTwinFailsWhenIfNoneMatchStar[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.createOrReplaceTwinSucceedsWhenNoIfNoneHeader[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.deleteTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.deleteTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.digitalTwinLifecycle[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.digitalTwinWithNumericStringProperty[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.patchTwinFailsWhenETagDoesNotMatch[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.patchTwinSucceedsWhenETagMatches[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/session-records/TwinTests.twinNotExistThrowsNotFoundException[1].json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/test-assets/FloorModelPayload.json
Labels: DigitalTwins

#21030 [Storage] Stress tests in pipeline?
  common/perf-test-core/src/main/java/com/azure/perf/test/core/PerfStressProgram.java
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
  sdk/storage/tests.yml
Labels: Storage

#21639 Sync eng/common directory with azure-sdk-tools for PR 1585
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#21646 Delete all contents about azure-spring-boot-starter-data-gremlin.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
Labels: azure-spring
