Repository Azure/azure-sdk-for-java, pull requests merged in 2022-01, with the labels that each got.

#26196 Add Pipeline for /eng/code-quality-reports
  eng/code-quality-reports/ci.yml
  eng/pipelines/code-quality-reports.yml
  eng/pipelines/scripts/Get-Linting-Reports.ps1
  eng/versioning/external_dependencies.txt
  sdk/core/ci.yml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys, Client, Azure.Core

#26206 Add Performance Test Parent POM
  .vscode/cspell.json
  common/perf-test-core/pom.xml
  eng/.docsettings.yml
  eng/scripts/Generate-Client-Aggregate-Pom.ps1
  eng/scripts/generate_from_source_pom.py
  eng/versioning/external_dependencies.txt
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/set_versions.py
  eng/versioning/version_client.txt
  pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-perf-test-parent/CHANGELOG.md
  sdk/parents/azure-perf-test-parent/README.md
  sdk/parents/azure-perf-test-parent/pom.xml
  sdk/parents/azure-sdk-parent/pom.xml
  sdk/parents/ci.yml
  sdk/parents/pom.xml
  sdk/resourcemanager/azure-resourcemanager-perf/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track1-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/microsoft-azure-storage-perf/pom.xml
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/template/azure-template-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
Labels: Event Hubs, KeyVault, Search, Service Bus, Storage, EngSys, Client, App Configuration, Azure.Identity, Cognitive - Text Analytics, Cognitive - Form Recognizer, Communication, Cognitive - Metrics Advisor

#26223 Sync eng/common directory with azure-sdk-tools for PR 2464
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26224 Remove Accidental Line from POM Generation
  eng/scripts/generate_from_source_pom.py
Labels: EngSys

#26229 [Automation] Generate Fluent Lite from notificationhubs#package-2017-04
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/CHANGELOG.md
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/README.md
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/NotificationHubsManager.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/fluent/NamespacesClient.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/fluent/models/SharedAccessAuthorizationRuleListResultInner.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/implementation/NamespacesClientImpl.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/implementation/NamespacesImpl.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/implementation/NotificationHubsClientImpl.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/implementation/SharedAccessAuthorizationRuleListResultImpl.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/implementation/SharedAccessAuthorizationRuleResourceImpl.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/models/Namespaces.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/models/SharedAccessAuthorizationRuleListResult.java
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/src/main/java/com/azure/resourcemanager/notificationhubs/models/SharedAccessAuthorizationRuleResource.java
Labels: Mgmt - Track 2

#26232 Increment version for notificationhubs releases
  eng/versioning/version_client.txt
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/CHANGELOG.md
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/pom.xml
Labels: auto-merge

#26231 LLC, fix bug on swagger automation
  eng/mgmt/automation/generate_data.py
  eng/mgmt/automation/parameters.py
Labels: LLC

#26221 Code Quality Reports CI Template Follow-Up
  eng/code-quality-reports/ci.yml
  eng/pipelines/code-quality-reports.yml
  eng/pipelines/scripts/Get-Linting-Reports.ps1
  eng/scripts/generate_from_source_pom.py
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadAsyncClient.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerBaseClientTests.java
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/test/TestModularization.java
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingAsyncClient.java
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/RemoteRenderingClientBuilder.java
  sdk/remoterendering/azure-mixedreality-remoterendering/src/test/java/com/azure/mixedreality/remoterendering/RemoteRenderingTestBase.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesClusterAgentPool.java
Labels: EngSys, Client

#26266 Improve Checkstyle Performance
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Cosmos, EngSys, Client, App Configuration, Azure.Core, Schema Registry, Digital Twins

#26008 Optimize ModelHelper and Use Class Wrapper instead of Copying
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobUrlParts.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/accesshelpers/BlobDownloadHeadersConstructorProxy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/accesshelpers/BlobPropertiesConstructorProxy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobPropertiesInternal.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobPropertiesInternalConstructorProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobPropertiesInternalDownload.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobPropertiesInternalGetProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ChunkedDownloadUtils.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobProperties.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ObjectReplicationPolicy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
Labels: Storage, Client

#26199 Keep same style of using AzureSpringIdentifier.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/CosmosUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventHubUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventProcessorUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/ServiceBusUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusProcessorUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusReceiverUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSenderUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionProcessorUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionReceiverUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/AppConfigurationUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultCertificateUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/storage/BlobServiceUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/storage/QueueServiceUserAgentTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/storage/ShareServiceUserAgentTest.java
Labels: Client, azure-spring

#26268 Updates to ReflectionUtils Implementation
  sdk/core/azure-core/src/main/java9/com/azure/core/implementation/ReflectionUtils.java
  sdk/mixedreality/azure-mixedreality-authentication/src/main/java/module-info.java
  sdk/template/azure-sdk-template/src/main/java/com/azure/sdk/template/implementation/Hidden.java
  sdk/template/azure-sdk-template/src/main/java/com/azure/sdk/template/implementation/package-info.java
  sdk/template/azure-sdk-template/src/main/java/module-info.java
Labels: Client, Azure.Core

#26162 Fixed Storage file Datalake test improvement
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestAsyncListPathsMaxResultsByPage.json
Labels: Storage

#26161 Add confidence score to DocumentField fieldvalue
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisClientTestBase.java
Labels: Cognitive - Form Recognizer

#26145 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#26280 App Config Revert Removal of unused Properties
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationProperties.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/StateHolderTest.java
Labels: App Configuration, azure-spring-app-configuration

#26283 removecom.azure.communication.callingserver.implementation.RedirectPolicy
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/RedirectPolicy.java
Labels: Communication

#26282 Sync eng/common directory with azure-sdk-tools for PR 2484
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#26284 Prepare Core Libraries for January 2022 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Labels: Client, App Configuration, Azure.Core, Azure.Identity

#26286 Upgrade Jackson Dependencies from 2.13.0 to 2.13.1
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management/pom.xml
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/edgeorder/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
  sdk/modelsrepository/azure-iot-modelsrepository/pom.xml
  sdk/spring/azure-spring-boot-starter-active-directory/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-autoconfigure/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-test/pom.xml
  sdk/spring/azure-spring-integration-test/pom.xml
Labels: Batch, Cosmos, KeyVault, Client, App Configuration, Azure.Core, azure-spring, Digital Twins

#26313 Increment version for streamanalytics releases
  eng/versioning/version_client.txt
  sdk/streamanalytics/azure-resourcemanager-streamanalytics/CHANGELOG.md
  sdk/streamanalytics/azure-resourcemanager-streamanalytics/pom.xml
Labels: auto-merge

#26272 fix: event hubs track2 perf coverage check fail
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
Labels: Event Hubs

#26311 Prepare app config release
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/properties/AppConfigurationProperties.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/StateHolderTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
Labels: Client, App Configuration, azure-spring

#26317 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
Labels: App Configuration, auto-merge

#26274 Refactor the AzureResourceMetadata to an interface and add configuration properties for AzureResourceMetadata
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/properties/AzureEventHubsCommonProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/properties/AzureEventHubsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/properties/core/AbstractAzureServiceConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/properties/resourcemanager/AzureResourceMetadataConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/AzureRedisProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/EventHubsResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/ServiceBusResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/StorageQueueResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/cosmos/CosmosSampleApplication.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/cosmos/User.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/cosmos/UserRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/jms/CustomMessageConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/jms/QueueReceiveController.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/jms/SendController.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/jms/TopicReceiveController.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/jms/User.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/samples/java/com/azure/spring/keyvault/KeyVaultSample.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsKafkaAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/resource/AzureResourceMetadata.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/connectionstring/EventHubsArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/connectionstring/ServiceBusArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/connectionstring/StorageQueueArmConnectionStringProvider.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioner/eventhubs/DefaultEventHubsProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioner/servicebus/DefaultServiceBusProvisioner.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/EventProcessorClientProperties.java
Labels: azure-spring

#26321 Change CHANGELOG Release Date
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Labels: Client, Azure.Core

#26038 App Config - Dynamic features bounds Checking
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationConstants.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/AppConfigurationPropertySource.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfigurationPropertySourceTest.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/StateHolderTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/src/test/java/com/azure/spring/cloud/feature/manager/FeatureHandlerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/feature/evaluators/TargetingEvaluator.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/feature/evaluators/TargetingEvaluatorTest.java
Labels: App Configuration, azure-spring-app-configuration

#25948 Sync eng/common directory with azure-sdk-tools for PR 2416
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26331 Skip Redundant Compilation in Analyze Job
  eng/pipelines/templates/jobs/ci.yml
Labels: EngSys, Client

#26002 support both spring-boot 2.5 and spring-boot 2.6 in pipeline
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/spring/ci.yml
  sdk/spring/scripts/ci_insert_dependency_management_in_pom_files.py
  sdk/spring/scripts/ci_read_dependency_tree.py
  sdk/spring/scripts/ci_update_versions.py
  sdk/spring/scripts/get_spring_boot_managed_external_dependencies.py
  sdk/spring/scripts/log.py
  sdk/spring/scripts/replace_util.py
  sdk/spring/scripts/spring_boot_2.5.7_managed_external_dependencies.txt
  sdk/spring/spring-sdk-client-test.yml
Labels: azure-spring

#26287 Rename types\method arguments based on archboard feedback
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryAsyncClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryClientBuilder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepository.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepositoryAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/RegistryArtifact.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/RegistryArtifactAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/Utils.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestOrder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestOrderBy.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactTagOrder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactTagOrderBy.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ContainerRegistryAudience.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ContainerRepositoryProperties.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/resources/azure-containers-containerregistry.properties
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ContainerRepositoryAsyncJavaDocSnippets.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ContainerRepositoryJavaDocSnippets.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DeleteImagesAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ReadmeSamples.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/RegistryArtifactAsyncJavaDocSnippets.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/RegistryArtifactJavaDocSnippets.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientsTestBase.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRepositoryAsyncIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/RegistryArtifactAsyncIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/swagger/autorest.md
Labels: Container Registry

#26320 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Labels: App Configuration, auto-merge

#26332 Release for Cosmos spark connector 4.5.3
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#26349 Prepare bom relesae
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/CHANGELOG.md
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/CHANGELOG.md
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
Labels: Client, azure-spring

#26360 Add some java doc for storage
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AbstractAzureStorageProtocolResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageBlobProtocolResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageFileProtocolResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageResource.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/AzureStorageUtils.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/StorageBlobResource.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/resource/StorageFileResource.java
Labels: azure-spring

#26363 Version bump after cosmos spark release 4.5.3
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#26334 [EventGrid] Address feedbacks that left on the closed PR.
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/README.md
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/samples/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/samples/PublishNativeCloudEventToDomain.java
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/samples/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/samples/PublishNativeCloudEventToDomainAsync.java
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/EventGridCloudNativeEventPublisherTests.java
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/resources/session-records/EventGridCloudNativeEventPublisherTests.publishEventGridEventsToDomain.json
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/resources/session-records/EventGridCloudNativeEventPublisherTests.publishEventGridEventsToTopic.json
Labels: Event Grid, Client

#26365 Prepare azure-core-amqp 2.3.6 for release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/pom.xml
Labels: Azure.Core

#26367 Add serviceclients, servicemethods annotations to clientlets
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryClientBuilder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepository.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepositoryAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/RegistryArtifact.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/RegistryArtifactAsync.java
Labels: auto-merge

#26370 Sync eng/common directory with azure-sdk-tools for PR 2500
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#26228 Lock renewal bugfix
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/LockRenewalOperation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusConstants.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/FluxAutoLockRenewTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/LockRenewalOperationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
Labels: Service Bus

#26368 Upgrade codesnippet-maven-plugin to Latest Version
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/AttestationClientJavaDocCodeSnippets.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/AttestationSamples.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/PolicyManagementCertificatesSamples.java
  sdk/attestation/azure-security-attestation/src/samples/java/com/azure/security/attestation/PolicySamples.java
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/resourcemanagerhybrid/pom.xml
Labels: Client

#26281 Updates to Enable Java 17 Compilation for all Libraries
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SmokeTest.java
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
Labels: Event Hubs, Client

#26276 Schema Registry: Serialization Fix
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/samples/java/com/azure/data/schemaregistry/apacheavro/generatedtestsources/Person.java
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/samples/resources/avro/Person.avro
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/java/com/azure/data/schemaregistry/apacheavro/SchemaRegistryApacheAvroSerializerIntegrationTest.java
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/java/com/azure/data/schemaregistry/apacheavro/SchemaRegistryApacheAvroSerializerTest.java
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/resources/session-records/SchemaRegistryApacheAvroSerializerIntegrationTest.registerAndGetSchema.json
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/resources/session-records/SchemaRegistryApacheAvroSerializerTest.serializeFromPortal.json
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClient.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryClientBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/SchemaRegistryJsonSerializer.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetByIdResponse.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientPlaybackTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryAsyncClientTests.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/resources/session-records/SchemaRegistryAsyncClientPlaybackTests.getSchemaBackCompatibility.json
  sdk/schemaregistry/azure-data-schemaregistry/src/test/resources/session-records/SchemaRegistryAsyncClientPlaybackTests.getSchemaByIdFromPortal.json
  sdk/schemaregistry/azure-data-schemaregistry/src/test/resources/session-records/SchemaRegistryAsyncClientTests.registerAndGetSchema.json
Labels: Schema Registry

#26390 [EventGrid] Fixed the the CI resource missing error
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/README.md
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/samples/README.md
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/EventGridCloudNativeEventPublisherTests.java
  sdk/eventgrid/test-resources.json
Labels: Event Grid, Client

#26395 TransferCallResultEvent inherits from CallingServerEventBase
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/CallingServerEventType.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/events/TransferCallResultEvent.java
Labels: Communication

#26392 Add Base Test Compile using Java 8 when JDK is 9 or Above
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/DownloadResponseMockFlux.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/extensions/RequiredServiceVersionExtension.java
Labels: Client

#25671 Use structured logging in core-amqp
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheck.java
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheckTest.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/ThrowFromClientLoggerCheck/DirectThrowExceptionTestData.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpShutdownSignal.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ActiveClientTokenManager.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpExceptionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpLoggingUtils.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AzureTokenManagerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClientConstants.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorDispatcher.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorExecutor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/CustomIOHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/Handler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/LinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReactorHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReceiveLinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/SendLinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/SessionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ManagementChannelTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSenderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/HandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/LinkHandlerTest.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorReceiverTest.java
Labels: Azure.Core, feature-request, amqp

#26187 Delete jacoco setting in spring modules
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/servicebus/factory/AbstractServiceBusSubClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/module-info.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/cosmos/CosmosClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/credential/AzureDefaultAzureCredentialBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/EventHubsClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/implementation/storage/credential/StorageSharedKeyCredentialResolverTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/ServiceBusClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/TestServiceBusClientCommonProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/TestServiceBusProcessorClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/TestServiceBusReceiverClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/TestServiceBusSenderClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/AbstractServiceBusSubClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/ServiceBusProcessorClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/ServiceBusReceiverClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/ServiceBusSenderClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/ServiceBusSessionProcessorClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/servicebus/factory/ServiceBusSessionReceiverClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/storage/blob/AzureBlobClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/storage/fileshare/AzureStorageFileShareClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/storage/queue/AzureStorageQueueClientBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/EventHubsMessageChannelBinder.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/EventHubsHealthIndicatorTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/src/test/java/com/azure/spring/tracing/sleuth/SleuthHttpPolicyTests.java
  sdk/spring/spring-cloud-azure-trace-sleuth/src/test/java/com/azure/spring/tracing/sleuth/implementation/HttpTraceUtilTests.java
  sdk/spring/spring-cloud-azure-trace-sleuth/src/test/java/com/azure/spring/tracing/sleuth/implementation/SpanIdTests.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/instrumentation/AbstractProcessorInstrumentation.java
  sdk/spring/spring-integration-azure-core/src/test/java/com/azure/spring/integration/instrumentation/AbstractProcessorInstrumentationTests.java
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-eventhubs/src/main/java/com/azure/spring/integration/eventhubs/inbound/health/EventHubsProcessorInstrumentation.java
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundAdapterTest.java
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapterTests.java
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/inbound/health/EventHusProcessorInstrumentationTests.java
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/outbound/EventHubsMessageHandlerTests.java
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-servicebus/src/main/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapter.java
  sdk/spring/spring-integration-azure-servicebus/src/main/java/com/azure/spring/integration/servicebus/inbound/health/ServiceBusProcessorInstrumentation.java
  sdk/spring/spring-integration-azure-servicebus/src/test/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapterTests.java
  sdk/spring/spring-integration-azure-servicebus/src/test/java/com/azure/spring/integration/servicebus/inbound/health/ServiceBusProcessorInstrumentationTests.java
  sdk/spring/spring-integration-azure-servicebus/src/test/java/com/azure/spring/integration/servicebus/outbound/ServiceBusMessageHandlerTests.java
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueTemplate.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/support/StorageQueueHelper.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/support/converter/StorageQueueMessageConverter.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/DefaultStorageQueueClientFactoryTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/StorageQueueTemplateReceiveTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/StorageQueueTemplateSendTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/support/converter/StorageQueueMessageConverterTests.java
Labels: Client, azure-spring

#26319 Refactor the configuration properties to generate description metadata
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/properties/AADAuthenticationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/properties/AADProfileEnvironmentProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/properties/AADResourceServerProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/properties/AADB2CProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/appconfiguration/properties/AzureAppConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cosmos/properties/AzureCosmosProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/properties/AzureEventHubsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultPropertySourceProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/properties/AzureKeyVaultSecretProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/properties/core/profile/AzureProfileConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/redis/AzureRedisProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/EventHubsResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/ServiceBusResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/StorageQueueResourceMetadata.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/properties/AzureServiceBusCommonProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/properties/AzureServiceBusProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/properties/AzureStorageBlobProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/common/AzureStorageProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/common/StorageRetryConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/properties/AzureStorageFileShareProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/properties/AzureStorageQueueProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/aware/AzureProfileAware.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/AzureSdkProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/AzureEnvironmentProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/AzureProfileAdapter.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/AzureProfileProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/KnownAzureEnvironment.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/core/util/AzurePropertiesUtilsTest.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/EventBatchProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/EventProcessorClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/LoadBalancingProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/storage/queue/QueueServiceClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/storage/queue/QueueServiceClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/core/properties/AbstractServiceProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/eventhubs/TestAzureEventHubsProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/storage/queue/TestAzureStorageQueueProperties.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/EventHubsHealthIndicatorTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/eventhubs/core/properties/ProcessorProperties.java
Labels: azure-spring

#26400 mgmt, fix dns cname update flow
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/src/main/java/com/azure/resourcemanager/dns/implementation/CnameRecordSetImpl.java
  sdk/resourcemanager/azure-resourcemanager-dns/src/test/java/com/azure/resourcemanager/dns/DnsTestBase.java
  sdk/resourcemanager/azure-resourcemanager-dns/src/test/java/com/azure/resourcemanager/dns/DnsZoneRecordSetETagTests.java
  sdk/resourcemanager/azure-resourcemanager-dns/src/test/java/com/azure/resourcemanager/dns/RecordSetTests.java
  sdk/resourcemanager/azure-resourcemanager-dns/src/test/resources/session-records/RecordSetTests.canCRUDCname.json
Labels: Mgmt, Mgmt - Track 2

#26128 [privatedns] Update to a CnameRecordSet no longer ignores changes to the cname property
  sdk/resourcemanager/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/java/com/azure/resourcemanager/privatedns/implementation/CnameRecordSetImpl.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/test/java/com/azure/resourcemanager/privatedns/PrivateDnsZoneCnameRecordSetTests.java
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/test/resources/session-records/PrivateDnsZoneCnameRecordSetTests.canUpdateCname.json
Labels: Mgmt, customer-reported, Mgmt - Track 2

#26397 Prepare Azure Core for Patch Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity

#26391 Prepare Identity Patch Release Jan 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity

#26382 Add autoconfiguration for storage queue client
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/properties/AzureStorageQueueProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfigurationTest.java
Labels: azure-spring

#26423 mgmt, update codegen script, when fail when called as script, return exit code via error
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/generate_data.py
Labels: Mgmt, Mgmt - Track 2, LLC

#26444 Fixed redirect to fallback endpoint in FeatureGate annotation
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/src/main/java/com/azure/spring/cloud/feature/manager/FeatureHandler.java
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/src/test/java/com/azure/spring/cloud/feature/manager/FeatureHandlerTest.java
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/src/main/java/com/microsoft/azure/spring/cloud/feature/manager/FeatureHandler.java
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/src/test/java/com/microsoft/azure/spring/cloud/feature/manager/FeatureHandlerTest.java
Labels: App Configuration, customer-reported

#26417 DigitalTwins - Update broken links in documentation files.
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/prerequisite/prerequisite readme.md
Labels: Digital Twins

#26369 Sync eng/common directory with azure-sdk-tools for PR 2513
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26416 [EventGrid] re-generated for 2022 Jan release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRecordingChunkInfoProperties.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRecordingFileStatusUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryArtifactEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryChartDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryChartPushedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryEventConnectedRegistry.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryImageDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerRegistryImagePushedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/RecordingChannelType.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/RecordingContentType.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/RecordingFormatType.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/eventgrid/pom.xml
Labels: Event Grid, Client

#26433 mgmt, hybrid, dns, bug fix on cname
  sdk/resourcemanagerhybrid/azure-resourcemanager-dns/src/main/java/com/azure/resourcemanager/dns/implementation/CnameRecordSetImpl.java
Labels: Mgmt, Mgmt - Track 2

#26464 mgmt, hybrid, fix checkstyle
  sdk/resourcemanagerhybrid/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/WebAppBaseImpl.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImagesImpl.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/WindowsVolumeLegacyEncryptionMonitorImpl.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/fluentcore/dag/DAGErrorTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/policy/TextReplacementPolicy.java
Labels: Mgmt, Mgmt - Track 2

#26468 mgmt, upgrade codegen
  eng/mgmt/automation/parameters.py
Labels: Mgmt, Mgmt - Track 2, LLC

#26445 Prepare January Formrecognizer 3.1.7 patch release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/src/main/java/com/azure/ai/formrecognizer/perf/core/package-info.java
  sdk/formrecognizer/azure-ai-formrecognizer-perf/src/main/java/com/azure/ai/formrecognizer/perf/package-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#26388 Prepare Tables patch release for January 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Labels: Client, Tables

#25784 Fixing issue with pipeline still succeeds with error in compilation
  eng/pipelines/templates/steps/compilation.check.yml
Labels: Central-EngSys

#26463 Prepare Key Vault patch release for January 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault, Azure.Identity

#26479 Increment version for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Labels: auto-merge

#26477 Prepare Beta release Form recognizer and patch release Metrics advisor January
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Form Recognizer

#26478 Increment version for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: auto-merge

#26457 [AppConfing-Patch-Release] Monthly Patch release for Jan 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: Client, App Configuration

#26485 [AppConfig-Patch] Update the year from 2021 to 2022
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Labels: Client, App Configuration

#26480 Increment version for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: KeyVault, Azure.Identity, auto-merge

#26484 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#26487 Increment version for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: auto-merge, Cognitive - Metrics Advisor

#26490 Prepare Key Vault beta release for January 2022
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/azure-spring-boot-starter-keyvault-secrets/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: KeyVault, Client

#26495 Release/azure communication common/1.0.7
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
Labels: Communication

#26159 enable-caching-and-pooling #26072
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/NonPremiumServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/PremiumServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryCustomizer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsContainerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/SpringServiceBusJmsConnectionFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AbstractServiceBusJmsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsPropertiesTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/NonPremiumServiceBusJmsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/PremiumServiceBusJmsAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: azure-spring, azure-spring-servicebus

#26501 Fix javadoc checkstyle errors
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryCustomizer.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/AzureEnvironmentProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/profile/AzureProfileProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/EventBatchProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/LoadBalancingProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/service/eventhubs/properties/StartPositionProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/module-info.java
Labels: azure-spring

#26446 [Formrecognizer] Regenerate implementation for latest swagger
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/FormRecognizerClientImplBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/ApiVersion.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/BuildDocumentModelRequest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/CurrencyValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/DocTypeInfo.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/DocumentBuildMode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/DocumentFieldType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/InnerError.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/ModelSummary.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/models/OperationInfo.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Labels: Cognitive - Form Recognizer

#26030 File rename
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/AzureFileStorageImplBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/DirectoriesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/FilesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/CopyFileSmbInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DestinationLeaseAccessConditions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DirectoriesRenameHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DirectoriesRenameResponse.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesRenameHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesRenameResponse.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SourceLeaseAccessConditions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileRenameOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareDirectoryAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareDirectoryJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameDestACFail[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameDestAC[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameDifferentDirectory.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameError.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameFilePermission.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameFilePermissionAndKeySet.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameFileSmbProperties.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameIgnoreReadOnly[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameIgnoreReadOnly[1].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameMetadata.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameMin.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameReplaceIfExists[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameReplaceIfExists[1].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameWithResponse.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameDestACFail[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameDestAC[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameDifferentDirectory.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameError.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameFilePermission.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameFilePermissionAndKeySet.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameFileSmbProperties.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameIgnoreReadOnly[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameIgnoreReadOnly[1].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameMetadata.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameMin.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameReplaceIfExists[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameReplaceIfExists[1].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameSourceACFail[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameSourceAC[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameWithResponse.json
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#26499 Increment version for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault, auto-merge

#26507 Updated release versions for cosmos 4.25.0, spring 3.17.0, encryption 1.0.0-beta.10
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#26373 Reducing AMQP ReactorSender memory consumption
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSender.java
Labels: Azure.Core, pillar-reliability

#26481 [TA-Patch-Release] Monthly patch release for Text Analytics 5.1.5
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/DetectLanguageTest.java
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/core/package-info.java
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/package-info.java
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/ReadmeSamples.java
  sdk/textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#26510 Increment version for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: auto-merge, Digital Twins

#26512 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#26513 Increment version for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/pom.xml
Labels: auto-merge

#26514 [TA] Apply Jan 2022 patch changes
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/DetectLanguageTest.java
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/core/package-info.java
  sdk/textanalytics/azure-ai-textanalytics-perf/src/main/java/com/azure/ai/textanalytics/perf/package-info.java
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#26516 [EventGrid] Release Jan 2022 v4.8.0
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
Labels: Event Grid, Client

#26509 Sync eng/common directory with azure-sdk-tools for PR 2554
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#26508 Prepare January 2022 release for ServiceBus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
Labels: Service Bus

#26519 Increment version for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, auto-merge

#26522 Storage jan22 patch merge
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/azure-spring-boot-starter-storage/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
  sdk/spring/azure-spring-cloud-storage/pom.xml
  sdk/spring/azure-spring-integration-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring

#26496 mgmt, mediaservices, fix wrong location of Tests
  sdk/mediaservices/azure-resourcemanager-mediaservices/src/test/java/com/azure/resourcemanager/mediaservices/MediaServicesTests.java
Labels: Mgmt, Mgmt - Track 2

#26511 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#26524 Increment version for cosmos releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-boot-bom/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/spring/azure-spring-boot-starter-cosmos/pom.xml
  sdk/spring/azure-spring-boot/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#26375 mgmt, appservice, support async deploy with deployment ID
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/DeploymentSlotImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/KuduClient.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/WebAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/DeployOptions.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/KuduDeploymentResult.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/SupportsOneDeploy.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/OneDeployTests.java
Labels: Mgmt, Mgmt - Track 2

#26542 fix: remove an unused parameter
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfiguration.java
Labels: azure-spring

#26543 Increment version for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: auto-merge

#26472 refactor spring messaging storage queue
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureServiceBusResourceManagerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageQueueMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/properties/AzureStorageQueueProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureEventHubsResourceManagerAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/resourcemanager/AzureServiceBusResourceManagerAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/eventhubs/DefaultEventHubsProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/eventhubs/EventHubsProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/eventhubs/package-info.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/servicebus/DefaultServiceBusProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/servicebus/ServiceBusProvisioner.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/provisioning/servicebus/package-info.java
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/module-info.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/service/implementation/storage/queue/TestAzureStorageQueueProperties.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/config/EventHubsBinderConfiguration.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/provisioning/EventHubsChannelResourceManagerProvisioner.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/config/EventHubsBinderConfigurationTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/config/ServiceBusBinderConfiguration.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/provisioning/ServiceBusChannelResourceManagerProvisioner.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/config/ServiceBusBinderConfigurationTests.java
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/src/main/java/com/azure/spring/integration/storage/queue/inbound/StorageQueueMessageSource.java
  sdk/spring/spring-integration-azure-storage-queue/src/test/java/com/azure/spring/integration/storage/queue/StorageQueueMessageSourceTest.java
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/servicebus/core/ServiceBusTemplate.java
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/DefaultStorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueOperation.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/StorageQueueTemplate.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/factory/DefaultStorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/factory/StorageQueueClientFactory.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/factory/package-info.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/properties/StorageQueueProperties.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/storage/queue/core/properties/package-info.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/DefaultStorageQueueClientFactoryTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/StorageQueueTemplateReceiveTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/storage/queue/core/StorageQueueTemplateSendTests.java
Labels: Client, azure-spring, azure-spring-storage

#26552 Update ci.yml for release
  sdk/spring/ci.yml
Labels: azure-spring

#26555 client, prepare webpubsub 1.0.1
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Labels: Client, WebPubSub

#26558 Increment version for webpubsub releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Labels: auto-merge

#26526 Sync eng/common directory with azure-sdk-tools for PR 2545
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#26521 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/azure-spring-cloud-dependencies/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/azure-spring-cloud-starter-servicebus/pom.xml
  sdk/spring/azure-spring-cloud-stream-binder-servicebus-core/pom.xml
  sdk/spring/azure-spring-integration-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge

#26545 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#26560 Update log4j to 2.17.1
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Cosmos, Event Hubs, Storage

#26447 Servicebus: adding link to sync receive prefech document
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
Labels: Service Bus

#26564 Preparing January release for Schema Registry
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
Labels: Schema Registry

#25832 Implements the new public preview version of the Phone Number SDK.
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumberAdminClientImpl.java
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginPurchaseandReleasePhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginSearchAvailablePhoneNumbersWithoutOptions[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginSearchAvailablePhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.beginUpdatePhoneNumberCapabilities[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.getPurchasedPhoneNumberWithAAD[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.getPurchasedPhoneNumberWithResponse[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.getPurchasedPhoneNumber[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersAsyncClientIntegrationTest.listPurchasedPhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.beginPurchaseandReleasePhoneNumbersWithoutContext[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.beginPurchaseandReleasePhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.beginSearchAvailablePhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.beginUpdatePhoneNumberCapabilitiesWithoutContext[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.beginUpdatePhoneNumberCapabilities[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.getPurchasedPhoneNumberWithAAD[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.getPurchasedPhoneNumberWithResponse[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.getPurchasedPhoneNumber[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.listPurchasedPhoneNumbersWithoutContext[1].json
  sdk/communication/azure-communication-phonenumbers/src/test/resources/session-records/PhoneNumbersClientIntegrationTest.listPurchasedPhoneNumbers[1].json
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Labels: Communication

#26565 Running Prepare Release script for Event Hubs
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#26520 [EventGrid-CNCF] Release CNCF bridge cloud event first beta. v1.0.0-beta.1
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/CHANGELOG.md
Labels: Event Grid, Client

#26554 Update release notes for 4.0.0-beta.3
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#26582 add changelog for AzureMessageListener
  sdk/spring/azure-spring-cloud-messaging/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md
  sdk/spring/azure-spring-cloud-starter-servicebus/CHANGELOG.md
Labels: Client, azure-spring

#26566 Increment version for schemaregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#26486 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/appconfiguration/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: App Configuration, Azure.Core, auto-merge

#26581 Increment version for deviceupdate releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/deviceupdate/pom.xml
Labels: auto-merge

#26379 Add time out when acquiring completionLock to avoid application stuck after ctrl-c
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
Labels: Service Bus

#26588 Update Mixed Reality Authentication to 1.1.4
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
Labels: auto-merge

#26575 Update azure-communication-chat for 1.1.3 release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: Client, Communication

#26549 code quality, add revapi exception to ContinuablePagedFlux in core
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
Labels: Azure.Core

#26548 core, use UTC in RetryPolicyTests.getWellKnownRetryDelay
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/RetryPolicyTests.java
Labels: Azure.Core

#26593 Using child-modules versions for Cosmos Spark 3.1 and 3.2 to fix build issue
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/ci.yml
Labels: Cosmos

#26492 Update supported spring boot version
  sdk/spring/README.md
Labels: Client, azure-spring

#24694 [DO NOT MERGE] Updating Track1 Key Vault relocation message and preparing release.
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/keyvault/microsoft-azure-keyvault-complete/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-core/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-test/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/keyvault/microsoft-azure-keyvault/pom.xml
Labels: KeyVault, Client, Track 1

#26596 Update changelog and readme after 4.0.0-beta.3 release
  sdk/spring/CHANGELOG.md
  sdk/spring/README.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-trace-sleuth/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#26590 Increment version for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#25528 Increment version for synapse releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/synapse/azure-analytics-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/pom.xml
Labels: auto-merge

#25070 Increment version for videoanalyzer releases
  eng/versioning/version_client.txt
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
Labels: auto-merge

#26622 fix the bug of consumer group autocreation in binder
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/src/main/java/com/azure/spring/resourcemanager/implementation/crud/EventHubsConsumerGroupCrud.java
Labels: bug, azure-spring, azure-spring-eventhubs

#26605 Fixing version-validation of azure-cosmos-spark_3_2-12 pom
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/stripDependencyReducedPom.xsl
  sdk/cosmos/ci.yml
  sdk/cosmos/pom.xml
Labels: Cosmos

#26267 add multi-orderby continuation token support
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/WFConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponseHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryExecutionInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/ComparisonFilters.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/ComparisonWithDefinedFilters.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/ComparisonWithUndefinedFilters.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/FeedResponseListValidator.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/MultiOrderByQueryTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Labels: Cosmos

#26202 Add message on DocumentModelOperationException
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/DocumentModelOperationError.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentAnalysisExceptionHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentModelOperationErrorHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentModelOperationException.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.beginBuildModelThrowsDocumentModelOperationException[1].json
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer

#26629 fix QueryDocumentsWithTopTest
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/FeedResponseListValidator.java
Labels: Cosmos

#26612 Sync eng/common directory with azure-sdk-tools for PR 2592
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26608 Sync eng/common directory with azure-sdk-tools for PR 2585
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25024 Dynamic Features Readme
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureVariantProperties.java
Labels: App Configuration

#26523 Fix javadoc for template/readme.md
  sdk/template/azure-sdk-template/README.md
Labels: EngSys

#26635 Sync eng/common directory with azure-sdk-tools for PR 2578
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26609 Update Compilation Check Step
  eng/pipelines/templates/steps/compilation.check.yml
Labels: EngSys

#26611 Track If Netty Builder Set Resolver and Properly Use Noop Resolver When Proxying
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
Labels: Client, Azure.Core, HttpClient

#26625 Change scs binder property type of `send-timeout`
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/properties/EventHubsProducerProperties.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/EventHubsMessageChannelBinder.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/properties/ServiceBusProducerProperties.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/ServiceBusMessageChannelBinder.java
Labels: Client, azure-spring, azure-spring-servicebus

#26647 [Automation] Generate Fluent Lite from eventgrid#package-2021-12
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/README.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/EventGridManager.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/DomainTopicsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/DomainsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/EventSubscriptionsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/ExtensionTopicsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/PrivateEndpointConnectionsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/PrivateLinkResourcesClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/SystemTopicEventSubscriptionsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/SystemTopicsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/TopicTypesClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/fluent/TopicsClient.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/DomainTopicsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/DomainsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/EventSubscriptionsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/ExtensionTopicsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/OperationsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/PrivateEndpointConnectionsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/PrivateLinkResourcesClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/SystemTopicEventSubscriptionsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/SystemTopicsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/TopicTypesClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/implementation/TopicsClientImpl.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Domain.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/DomainTopics.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Domains.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/EventSubscription.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/EventSubscriptions.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/ExtensionTopics.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/PrivateEndpointConnections.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/PrivateLinkResources.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/SystemTopicEventSubscriptions.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/SystemTopics.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Topic.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/TopicTypes.java
  sdk/eventgrid/azure-resourcemanager-eventgrid/src/main/java/com/azure/resourcemanager/eventgrid/models/Topics.java
Labels: Event Grid, Mgmt - Track 2

#26651 Increment version for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Event Grid, auto-merge

#26180 fix(issue#25182): eventhub and svervicebus processor client start span independently
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
Labels: Event Hubs, Service Bus

#26653 [Automation] Generate Fluent Lite from communication#package-2020-08-20
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/README.md
  sdk/communication/azure-resourcemanager-communication/SAMPLE.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/CommunicationManager.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/CommunicationServiceManagementClient.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/CommunicationServicesClient.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/OperationStatusesClient.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/models/CommunicationServiceProperties.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/models/CommunicationServiceResourceInner.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/models/OperationInner.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/fluent/models/OperationStatusInner.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/CommunicationServiceManagementClientImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/CommunicationServiceResourceImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/CommunicationServicesClientImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/CommunicationServicesImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/OperationStatusImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/OperationStatusesClientImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/OperationStatusesImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/OperationsClientImpl.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/CommunicationServiceResource.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/CommunicationServices.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/OperationStatus.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/OperationStatuses.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/Status.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/models/TaggedResource.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceCheckNameAvailabilitySamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceCreateOrUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceDeleteSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceGetByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceLinkNotificationHubSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceListByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceListKeysSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceListSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceRegenerateKeySamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServiceUpdateSamples.java
Labels: Mgmt - Track 2, Communication

#26655 Increment version for mysql releases
  eng/versioning/version_client.txt
  sdk/mysql/azure-resourcemanager-mysql/CHANGELOG.md
  sdk/mysql/azure-resourcemanager-mysql/pom.xml
Labels: auto-merge

#26654 Increment version for synapse releases
  eng/versioning/version_client.txt
  sdk/synapse/azure-resourcemanager-synapse/CHANGELOG.md
  sdk/synapse/azure-resourcemanager-synapse/pom.xml
Labels: auto-merge

#26661 Increment version for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
Labels: auto-merge, Communication
