Repository Azure/azure-sdk-for-java, pull requests merged in 2022-08, with the labels that each got.

#30216 [Automation] Generate Fluent Lite from fluidrelay#package-2022-06-01
  eng/versioning/version_client.txt
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/CHANGELOG.md
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/README.md
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/pom.xml
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/FluidRelayManager.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/fluent/models/FluidRelayContainerInner.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/fluent/models/FluidRelayServerInner.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/fluent/models/FluidRelayServerProperties.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/implementation/FluidRelayManagementClientBuilder.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/CmkIdentityType.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/CustomerManagedKeyEncryptionProperties.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/CustomerManagedKeyEncryptionPropertiesKeyEncryptionKeyIdentity.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/FluidRelayServer.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/KeyName.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/OperationListResult.java
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/main/java/com/azure/resourcemanager/fluidrelay/models/ResourceIdentityType.java
Labels: Mgmt - Track 2

#30217 Increment versions for fluidrelay releases
  eng/versioning/version_client.txt
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/CHANGELOG.md
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/pom.xml
Labels: auto-merge

#30002 Update Identity Redis Samples
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/versioning/external_dependencies.txt
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/ApiManager.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Authenticator.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClient.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClientBuilder.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AzureJedisWrapperSample.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HellloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HellloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HelloWorld.java
Labels: Azure.Identity

#30186 STG84 Arch Board Feedback
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/AccessorUtility.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/FileSystemProperties.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathItem.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathProperties.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileAppendOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileSystemEncryptionScopeOptions.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAPITest.groovy
Labels: Storage

#30211 Storage - retry policy - add information about exceptions from previous tries into suppressed.
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/RetryPolicyTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RequestRetryTestFactory.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/RetryTest.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryPolicy.java
Labels: Storage

#30194 Connecting EventHubBufferedProducerClient to internal classes.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataAggregatorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
Labels: Event Hubs

#30224 Merge buffered producer into release/azure-messaging-eventhubs
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionResolver.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/SendBatchFailedContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/SendBatchSucceededContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PartitionResolverTests.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataAggregatorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Event Hubs

#30228 Disable Failing CdnSampleTests
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/CdnSampleTests.java
Labels: Mgmt, test bug, Mgmt - Track 2

#30205 Rename updates Formrecognizer
  sdk/aot/azure-aot-graalvm-samples/src/main/java/com/azure/aot/graalvm/samples/formrecognizer/FormRecognizerSample.java
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/DocumentModelDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/DocumentTypeDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/ModelOperationDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocTypeInfoHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentModelDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentTypeDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/ModelOperationDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Utility.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentSelectionMark.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCard.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCardAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCardFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCardFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeCustomDocumentAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeIdentityDocuments.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeIdentityDocumentsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeIdentityDocumentsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeIdentityDocumentsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeInvoices.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeInvoicesAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeInvoicesFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeInvoicesFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeLayout.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeLayoutAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeLayoutFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeLayoutFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeReceiptsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeReceiptsFromUrl.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeReceiptsFromUrlAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeTaxW2.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeTaxW2Async.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/Authentication.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ComposeModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ComposeModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ManageCustomModels.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ManageCustomModelsAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTest
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTestBase.java
Labels: Cognitive - Form Recognizer

#29903 [TA] Update slug
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
Labels: Client, Cognitive - Text Analytics

#30233 Revert "Add client id as identifier to client and link (#27910)"
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpClientOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpConstants.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientErrorHandlingTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
Labels: Event Hubs, Azure.Core

#30239 Increment versions for eventhubs releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs, auto-merge

#30206 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#30230 Added retries to tests that rely on slow-ish service response
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAPITests.groovy
Labels: Storage

#30235 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#30231 [FormRecognizer] Remodel copy authorization
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/CopyAuthorization.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/CopyAuthorizationHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
Labels: Cognitive - Form Recognizer

#30183 Apply suggestions to shared credential sample
  sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/PersistentTokenCacheDemo.java
Labels: KeyVault

#30257 Attempt to resolve Cosmos Spark test failure in Core From Source run
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
Labels: Cosmos, Azure.Core

#30240 [CommunicationIdentifier] Added setter for rawId
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftTeamsUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/UnknownIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
Labels: Communication

#30123 Fixing IN clause for @Query Annotation
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
Labels: Cosmos, azure-spring

#30259 Update identity Redis samples links
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
Labels: Azure.Identity

#30223 Use JsonProcessingException instead of JacksonException in Test
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
  sdk/core/ci.yml
Labels: Client, Azure.Core, MQ-Testing

#30138 Update sample to use different account for throughput control
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Scala/NYC-Taxi-Data/01_Batch.scala
Labels: Cosmos

#30221 Regenerate azure-data-tables to Use ResponseBase and Custom Headers Deserialization
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/AzureTableImplBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/ServicesImpl.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesImpl.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TransactionalBatchImpl.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/CorsRule.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/GeoReplication.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/GeoReplicationStatusType.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/Metrics.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/OdataMetadataFormat.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/QueryOptions.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ResponseFormat.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/RetentionPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesGetPropertiesHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesGetPropertiesResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesGetStatisticsHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesGetStatisticsResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesSetPropertiesHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/ServicesSetPropertiesResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableServiceProperties.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableServiceStats.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesCreateHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesCreateResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesDeleteEntityHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesDeleteEntityResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesDeleteHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesDeleteResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesGetAccessPolicyHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesGetAccessPolicyResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesInsertEntityHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesInsertEntityResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesMergeEntityHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesMergeEntityResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryEntitiesHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryEntitiesResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryEntityWithPartitionAndRowKeyHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryEntityWithPartitionAndRowKeyResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesQueryResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesSetAccessPolicyHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesSetAccessPolicyResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesUpdateEntityHeaders.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TablesUpdateEntityResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TransactionalBatchResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TransactionalBatchSubmitBatchHeaders.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/implementation/AzureTableImplTest.java
  sdk/tables/azure-data-tables/swagger/README.md
Labels: Client, Tables

#30246 Update VSCodeCredential to include a link to the TSG
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VisualStudioCodeCredential.java
Labels: Azure.Identity

#30263 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30254 Modify sources of Kafka binder context for Azure Identity support
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/AzureKafkaSpringCloudStreamConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/BindingServicePropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/BindingServicePropertiesBeanPostProcessorAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/kafka/BindingServicePropertiesBeanPostProcessorAutoConfigurationTest.java
Labels: azure-spring

#30162 Integrate Sync Stack on KV Keys
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyClientImpl.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyService.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
Labels: KeyVault

#30180 Miscellaneous Fixes and Improvements
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/ProxyAuthenticator.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessibleByteArrayOutputStream.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/AuthorizationChallengeHandler.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ETag.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Header.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/QueryParameter.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java
Labels: Azure.Core

#30264 Removing context from Async methods.
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMedia.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMediaAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecording.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecordingAsync.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncUnitTests.java
Labels: Communication

#30136 Update kv secrets sync stack
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretService.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTest.java
Labels: KeyVault

#30242 Cleanup Checkstyle and Spotbugs Suppressions
  eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/DenyListedWordsCheck.java
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/code-quality-reports/src/test/java/com/azure/tools/checkstyle/checks/DenyListedWordsCheckTest.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/DenyListedWordsChecks/DenyListedWordsInterface.java
  eng/code-quality-reports/src/test/resources/com/azure/tools/checkstyle/checks/DenyListedWordsChecks/DenyListedWordsTestData.java
Labels: Java Source Code Rules

#30212 Formrecognizer update to ResponseError usage
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/DocumentModelOperationError.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/DocumentModelOperationInnerError.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/ModelOperationDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentModelOperationErrorHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/InnerErrorHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/ModelOperationDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentModelOperationException.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTest
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.beginBuildModelThrowsHttpResponseException[1].json
Labels: Cognitive - Form Recognizer

#30010 Adding framework for perf testing and samples for JedisRedisCheckpointStore
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/EventProcessorJedisRedisCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/test/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreTests.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/App.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorJedisOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/src/main/java/com/azure/messaging/eventhubs/perf/EventProcessorJedisTest.java
Labels: Event Hubs

#30199 Fixing sorted queries to utilize composite indexes.
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/NativeQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGeneratorTest.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/generator/NativeQueryGeneratorTest.java
Labels: Cosmos, azure-spring

#30268 mgmt, AKS, deprecate listKubernetesVersions as service behavior changed
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesCluster.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesClusters.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/resources/session-records/KubernetesClustersTests.canListOrchestrators.json
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
Labels: Mgmt

#30289 Hide BindingServicePropertiesBeanPostProcessor to package scope
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/AzureEventHubsKafkaBinderOAuth2AutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/AzureEventHubsKafkaOAuth2AutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/kafka/BindingServicePropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/kafka/AzureEventHubsKafkaBinderOAuth2AutoConfigurationTest.java
Labels: azure-spring

#30266 Fixing the SerializationDateTimeConversionMode `AlwaysEpochMillisecdsWithSystemDefaultTimezone`
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateSpark2ContinuationsFromChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
Labels: Cosmos

#30279 Updates to patch release for the release portion
  eng/pipelines/Patch-Release-README.md
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/scripts/Generate-ServiceDirectories-From-Project-List.ps1
  eng/scripts/generate_from_source_pom.py
Labels: EngSys

#29676 [Core] Support relative path in Polling Strategy
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/LocationPollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/OperationResourcePollingStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/implementation/PollingUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollingStrategyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollingUtilsTests.java
Labels: Client, Azure.Core, ARM - Core

#30285 Enabled some tests that were wrongly disabled
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
Labels: Storage

#30234 Add support for building model with AzureBlobContentSource
  sdk/formrecognizer/azure-ai-formrecognizer-perf/src/main/java/com/azure/ai/formrecognizer/perf/BuildDocumentModelTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/administration/models/BuildModelOptions.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModel.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ComposeModelAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelFailsWithInvalidPrefix[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelIncludeSubfolderWithNonExistPrefixName[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelNullInput[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelWithJPGTrainingSet[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelWithMultiPagePDFTrainingSet[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginCopy[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginCreateComposedModel[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.copyAuthorization[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.deleteModelNonExistingModelID[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.deleteModelValidModelIDWithResponse[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.getDocumentAnalysisClientAndValidate[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.getModelNonExistingModelID[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.getModelNullModelID[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.getModelWithResponse[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.listModelsWithContext[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.listModels[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.validGetResourceDetailsWithResponse[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.validGetResourceDetails[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.validGetResourceDetailsWithResponse[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.validGetResourceDetails[1].json
Labels: Cognitive - Form Recognizer

#30283 Fixing id encoding issues when using special characters for customers already on ComputeGateway
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosAsyncClientTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemIdEncodingTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Labels: Cosmos

#30306 Update README.md
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#30305 azure cosmos release 4.34.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos, azure-spring

#30308 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30311 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#30325 Remove Unreleased Core Version Tags
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: Event Hubs, KeyVault, Storage, App Configuration, Azure.Identity

#30276 Fixing Pagintation When Retrieving a Page Other Than the First Page
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/IntegerIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/LongIdDomainRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
Labels: Cosmos, azure-spring

#30329 Fixing tests
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
Labels: Communication

#30302 Update javadocs
  sdk/applicationinsights/microsoft-azure-applicationinsights-query/README.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogOptions.java
  sdk/core/azure-json/src/main/java/com/azure/json/implementation/jackson/core/JsonGenerator.java
  sdk/core/azure-json/src/main/java/com/azure/json/implementation/jackson/core/JsonParser.java
  sdk/core/azure-json/src/main/java/com/azure/json/implementation/jackson/core/json/UTF8DataInputJsonParser.java
  sdk/core/azure-json/src/main/java/com/azure/json/implementation/jackson/core/json/UTF8StreamJsonParser.java
Labels: Azure.Core

#30326 Fix IndexOutOfBoundsException when Metadata Header Value is Empty
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/MetadataValidationPolicy.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/policy/MetadataValidationPolicyTest.groovy
Labels: Storage, Client

#30165 Fixed some javadoc samples
  sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BlobContainerAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/AsyncSample.java
Labels: Storage

#30272 Remove AdditionalBuildOptions from Stages and Templates
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/steps/build-and-test.yml
  eng/scripts/Update-Artifacts-List-For-Patch-Release.ps1
  eng/versioning/external_dependencies.txt
  sdk/core/azure-json/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/dev/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/ci.yml
  sdk/cosmos/spark.databricks.yml
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
Labels: Cosmos, KeyVault, Azure.Core, azure-spring

#30331 Support National Clouds in azure-search-documents
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAudience.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClientBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexerClientBuilder.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java
Labels: Search, Client

#30330 Increment versions for eventhubs releases (#30239)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs, auto-merge

#30353 release/azure-communication-common/1.2.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/pom.xml
Labels: Communication, Communication - Identity

#30358 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#30361 Updating CHANGELOG with release date for ACS Email Java SDK
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Labels: Communication

#30328 Updates to azure-json APIs
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonReader.java
  sdk/core/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonWriter.java
  sdk/core/azure-json/src/main/java/com/azure/json/DefaultJsonReader.java
  sdk/core/azure-json/src/main/java/com/azure/json/DefaultJsonWriter.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonReader.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriter.java
  sdk/core/azure-json/src/test/java/com/azure/json/contract/ContractUtils.java
  sdk/core/azure-json/src/test/java/com/azure/json/contract/JsonReaderContractTests.java
  sdk/core/azure-json/src/test/java/com/azure/json/contract/JsonWriterContractTests.java
Labels: Client, Azure.Core

#29738 Add id to log AmqpChannelProcessor.ChannelSubscriber lifetime
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubConnectionProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/SynchronousEventSubscriber.java
Labels: Azure.Core

#30365 Updated the dependency on ACS Common to the latest released version.
  sdk/communication/azure-communication-email/pom.xml
Labels: Client, Communication

#30367 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Labels: auto-merge, Communication

#30366 Append and Upload with BinaryData for Data Lake
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileParallelUploadOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestAppendBinaryData.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestAppendBinaryDataMin.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestUploadBinaryData.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestUploadBinaryDataMin.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestUploadBinaryDataOverwrite.json
Labels: Storage

#30369 Fixing the naming of PlayToAll
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMedia.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMediaAsync.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaUnitTests.java
Labels: Communication

#30372 Increment versions for automanage releases
  eng/versioning/version_client.txt
  sdk/automanage/azure-resourcemanager-automanage/CHANGELOG.md
  sdk/automanage/azure-resourcemanager-automanage/pom.xml
Labels: auto-merge

#30373 Release/azure-communication-identity/1.3.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/pom.xml
Labels: Communication, Communication - Identity

#30376 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
Labels: auto-merge, Communication

#30371 [ACS-Rooms]Fix java doc generation failure.
  sdk/communication/azure-communication-rooms/README.md
Labels: Communication

#30381 Upgrade Azure Communication Services Phone Numbers from 1.1.0-beta.8 to 1.1.0-beta.9
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
Labels: Communication

#30386 Increment the package Azure Communication Services SMS to 1.1.5
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#30389 Increment versions for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#30388 [Rooms] Prepare for release Prepare-Release.ps1 Commit
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
Labels: Communication

#30296 [Cosmos] Fix intermittent request session token diagnostics test
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
Labels: Cosmos

#30392 Prepare Schema Registry release for August
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#30393 Prepare FormRecognizer beta release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
Labels: Cognitive - Form Recognizer

#30375 Fix #30354.
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/properties/AadAuthenticationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/properties/AadAuthenticationPropertiesTests.java
Labels: azure-spring

#30395 Add missing line in CHANGELOG for Schema Registry
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
Labels: Schema Registry

#30355 Fixes issue where FAIL_OVERFLOW results in tight loop of retrying.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/UncheckedInterruptedException.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
Labels: Event Hubs, Azure.Core

#30379 Adding NOT CONTAINS support to Criteria Queries.
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CriteriaType.java
Labels: Cosmos, azure-spring

#30408 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#30391 Increased expiry time to prevent service errors
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningTest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestAccountSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestAppendBlobCreate.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlobSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlockBlobCommitBlockList.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlockBlobUpload.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestContainerSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestCopy.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestDeleteImmutabilityPolicyMin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestPageBlobCreate.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicyMin.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSetImmutabilityPolicy[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestSyncCopy.json
Labels: Storage

#30407 [TA] Added the test json files for the bespoken methods
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.multiLabelClassification[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeCustomEntities[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.singleLabelClassificationAction[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.singleLabelClassification[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.multiLabelClassification[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeCustomEntities[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.singleLabelClassificationAction[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.singleLabelClassification[1].json
Labels: Client, Cognitive - Text Analytics

#30405 Adds reads to com.azure.http.netty for ACR tests
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: Azure.Core

#30416 Prepare Metrics Advisor patch release - August
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#30418 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#30420 [TA] Prepare for monthly patch release Aug 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#30415 Patch + Minor release for 08/11/2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#30423 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#30401 webpubsub, prepare patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: WebPubSub

#30427 Increment versions for webpubsub releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: auto-merge

#30431 Increment versions for automation releases
  eng/versioning/version_client.txt
  sdk/automation/azure-resourcemanager-automation/CHANGELOG.md
  sdk/automation/azure-resourcemanager-automation/pom.xml
Labels: auto-merge

#30432 Updated ACS Common CHANGELOG and README for August 2022 beta release.
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
Labels: Client, Communication, Communication - Common

#30435 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
Labels: auto-merge, Communication

#30438 [ACS Rooms] Fix ACS Rooms CHANGELOG to include links
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
Labels: Communication

#30421 [TA] Remove partial succeeded status code
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
Labels: Client, Cognitive - Text Analytics

#30282 Add Token Caching Support For Managed Identity
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AksExchangeTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AppServiceMsiCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ArcIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ServiceFabricMsiCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VirtualMachineMsiCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ManagedIdentityParameters.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ManagedIdentityType.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureApplicationCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ManagedIdentityCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#30430 Increment versions for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: auto-merge

#30439 [AppConfig] Prepare for Aug 2022 Patch release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Labels: Client, App Configuration

#30441 [TA] Prepare to 5.2.0-beta.4 release
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
Labels: Client, Cognitive - Text Analytics

#30442 [ACS Rooms] Beta release version update
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/pom.xml
Labels: Communication

#30380 Digital Twins August release update
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: Digital Twins

#30445 updating the dates for 2022-08-12 release in changelogs
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#30447 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#30448 Increment versions for metricsadvisor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: auto-merge, Cognitive - Metrics Advisor

#30444 Prepare release for Aug 2022 Identity Beta
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/resourcemanager/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Event Hubs, Service Bus, Azure.Identity, Schema Registry, Cognitive - Form Recognizer

#30449 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, auto-merge

#30265 File Share Rename Sas
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClientBuilder.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClientBuilder.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSASTests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameSasToken.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameSasToken.json
Labels: Storage

#30453 Increment versions for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity, auto-merge

#30452 Adding Live Tests for Recording use cases
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallRecordingAsyncLiveTests.recordingOperations[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/CallRecordingLiveTests.recordingOperations[1].json
Labels: Communication

#30454 Increment versions for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: App Configuration, Azure.Core, azure-spring, auto-merge

#30398 Fix parameter missing when using OBO process
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
Labels: bug, Client, azure-spring

#30227 Updated upload length bounds check
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileUploadRangeOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ModelTests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/ModelTestsUploadZeroLengthFails.json
Labels: Storage

#30450 Increment versions for formrecognizer patch and beta releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#30471 [EventGrid] Prepare monthly patch version for August
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, Client

#30473 Increment versions for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, auto-merge

#30470 Sync eng/common directory with azure-sdk-tools for PR 3945
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30463 mgmt, fix snapshot withDataFromDisk(Disk disk)
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/resources/session-records/ManagedDiskOperationsTests.canOperateOnManagedDiskFromSnapshot.json
Labels: Mgmt, Mgmt - Track 2

#30481 Add "Fix bug: Cannot configure "azure" authorization client." into changelog
  sdk/spring/CHANGELOG.md
Labels: bug, Client, azure-spring

#30484 mgmt, upgrade codegen
  eng/mgmt/automation/parameters.py
Labels: Mgmt, DPG

#30487 Add channel affinity to recording
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecording.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecordingAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ContentsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/ChannelAffinityInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ChannelAffinity.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingUnitTests.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#30477 Prepare Tables patch release for August 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Client, Tables

#30468 Java Aug release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: Communication

#30451 Increment versions for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: auto-merge, Digital Twins

#30446 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/pom.xml
Labels: auto-merge, Communication

#30411 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#30404 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#30488 Prepare Mixed Reality Remote Rendering patch release for August 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: Client, Remote Rendering

#30402 Increment versions for schemaregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#30489 Prepare Attestation patch release for August 2022
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/pom.xml
Labels: Client, Attestation

#30493 Added missing header to Mixed Reality Remote Rendering CHANGELOG.
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
Labels: Client, Remote Rendering

#30494 Increment versions for attestation releases
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
Labels: auto-merge

#30490 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: auto-merge, Communication

#30495 Increment versions for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: auto-merge

#30501 Disable Spring Cloud Azure kv IT for issue
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretIT.java
Labels: azure-spring

#30497 Increment versions for remoterendering releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#30310 Update links checkpointstore jedis
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/README.md
Labels: Event Hubs

#30506 Prepare azure-search-documents August 2022 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAudience.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/Utility.java
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search, Client

#30478 BlobItem.isPrefix() returns false instead of null
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobItem.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
Labels: Storage

#30273 Reduce Warnings Logged in CI
  eng/versioning/external_dependencies.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-json/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-data-sdk-parent/pom.xml
  sdk/parents/azure-sdk-parent/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/tools/azure-sdk-archetype/pom.xml
Labels: Cosmos, KeyVault, Storage, App Configuration, Azure.Core, Cognitive - Text Analytics, Cognitive - Form Recognizer

#30509 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search, auto-merge

#30492 Adding Exists API for DataLakeFileSystemClient
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemAsyncClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestDoesNotExist.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestExists.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestExistsNotExists.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestExists.json
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileSystemAPITestExistsNotExists.json
Labels: Storage

#30515 Prepare Confidential Ledger patch release for August 2022
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: Client, Confidential Ledger

#30519 Increment version for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: auto-merge

#30520 [CallAutomation SDK] Updated documentation and version
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallAutomationClient.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAutomationClientUnitTests.java
Labels: Communication

#30512 Update KV Credential Policy
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/KeyVaultCredentialPolicyTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyVaultCredentialPolicyTest.java
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/KeyVaultCredentialPolicyTest.java
Labels: KeyVault

#30524 Add yml files for the new service directory
  sdk/jdbc/ci.yml
  sdk/jdbc/tests.yml
Labels: Client, azure-spring

#30525 Prepare Key Vault Keys and Secrets hotfix release for August 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client

#29994 mgmt, support functionapp java17
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/FunctionRuntimeStack.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/resources/session-records/FunctionAppsTests.canCRUDLinuxFunctionAppJava11.json
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/resources/session-records/FunctionAppsTests.canCRUDLinuxFunctionAppJava17.json
Labels: Mgmt

#30529 [BUGFIX]Fix Jdbc pipeline ci.yml wrong configuration name
  sdk/jdbc/ci.yml
Labels: Client, azure-spring
