Repository Azure/azure-sdk-for-java, pull requests merged in 2022-07, with the labels that each got.

#29740 Increment versions for spring releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-test-eventhubs-binder/pom.xml
  sdk/spring/spring-cloud-azure-test-servicebus-binder/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/CHANGELOG.md
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/CHANGELOG.md
  sdk/spring/spring-messaging-azure/pom.xml
Labels: azure-spring, auto-merge

#29742 Finish updating spring libraries
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: azure-spring

#29745 Upgrade spring-appconfiguration related version after release
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
Labels: App Configuration

#29754 Prepare azure-search-documents for July 2022 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search, Client

#29756 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search, auto-merge

#29741 [Perf] Add pipeline for Core
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/perf-resources.bicep
  sdk/core/perf.yml
Labels: Azure.Core

#29757 azure-search-documents July 2022 Patch Release Merge Back
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Client

#29758 Fix SyncRestProxy Double Serializing Request
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
Labels: Client, Azure.Core

#29731 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#29730 Update BearerTokenAuthenticationPolicy implementations with sync workflow
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/authentication/ContainerRegistryCredentialsPolicy.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/authentication/ContainerRegistryTokenService.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryCredentialPolicyTests.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/BearerTokenAuthenticationChallengePolicy.java
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/http/policy/package-info.java
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultCredentialPolicyTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/KeyVaultCredentialPolicyTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyVaultCredentialPolicyTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/KeyVaultCredentialPolicy.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/KeyVaultCredentialPolicyTest.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableBearerTokenChallengeAuthorizationPolicy.java
Labels: Azure.Core

#29759 Add Heap Dump on OOME to Storage CI Memory Tests
  eng/pipelines/templates/steps/retain-heap-dump-hprofs.yml
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
  sdk/storage/tests-template.yml
Labels: Storage, EngSys

#29760 Update verify release set
  eng/versioning/verify_release_set.ps1
Labels: EngSys

#29787 Update step names in spring compatibility tests
  sdk/spring/compatibility-tests-job.yml
Labels: azure-spring

#29790 Update sdk/spring/spring-reference.yml
  sdk/spring/spring-reference.yml
Labels: azure-spring

#29793 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#29792 Sync eng/common directory with azure-sdk-tools for PR 3563
  eng/common/pipelines/templates/steps/verify-samples.yml
Labels: EngSys, Central-EngSys

#29761 Add support for BinaryData for Form Recognizer
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/aot/azure-aot-graalvm-samples/src/main/java/com/azure/aot/graalvm/samples/formrecognizer/FormRecognizerSample.java
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCard.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeIdentityDocuments.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeInvoices.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeLayout.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeReceipts.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeTaxW2.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/GetWordsUsingSpans.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/administration/DocumentModelAdministrationClientTestBase.java
Labels: Cognitive - Form Recognizer

#29590 listCheckpoints and listOwnership implementation
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/module-info.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/test/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisRedisCheckpointStoreTests.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/RedisClientConfig.java
  sdk/eventhubs/ci.yml
  sdk/eventhubs/pom.xml
  sdk/eventhubs/tests.yml
Labels: Event Hubs

#29802 Sync eng/common directory with azure-sdk-tools for PR 3428
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#29771 Adding option to use CF in batch mode with continuations and migrate collected/parsed Spark2 checkpoint info to Spark3 offset
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/SparkBridgeInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosItemsDataSource.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/BasicLoggingTrait.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateChangeFeedOffsetFromSpark2.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStartFromInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStartFromInternalDeserializer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStartFromLegacyContinuationImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/ChangeFeedStartFromTypes.java
Labels: Cosmos

#29806 Using new windowTimeout operator with backpressure support
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorShim.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorShimTest.java
Labels: Event Hubs

#29770 Core perf tests
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/CorePerfStressOptions.java
  sdk/core/azure-core-perf/src/main/java/com/azure/core/perf/core/RestProxyTestBase.java
  sdk/core/perf-resources.bicep
  sdk/core/perf.yml
Labels: Azure.Core

#29810 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Event Grid, auto-merge

#29817 use westus2 for testing azuredigitaltwins
  sdk/digitaltwins/tests.yml
Labels: Digital Twins

#29815 Sync eng/common directory with azure-sdk-tools for PR 3577
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#29763 Sync eng/common directory with azure-sdk-tools for PR 3527
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#29820 Sync eng/common directory with azure-sdk-tools for PR 3568
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#29824 Increment versions for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: auto-merge

#29816 Sync eng/common directory with azure-sdk-tools for PR 3500
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#29827 [TA-patch-July] Prepare for July patch release for TA
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#29830 Sync eng/common directory with azure-sdk-tools for PR 3480
  eng/common/pipelines/templates/steps/validate-filename.yml
Labels: EngSys, Central-EngSys

#29829 Prepare Key Vault patch releases for July 2022.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client, Azure.Identity

#29833 [Automation] Generate Fluent Lite from education#package-2021-12-01-preview
  sdk/education/azure-resourcemanager-education/CHANGELOG.md
  sdk/education/azure-resourcemanager-education/README.md
  sdk/education/azure-resourcemanager-education/src/main/java/com/azure/resourcemanager/education/EducationManager.java
  sdk/education/azure-resourcemanager-education/src/main/java/com/azure/resourcemanager/education/models/LabStatus.java
Labels: Mgmt - Track 2

#29835 Increment versions for education releases
  eng/versioning/version_client.txt
  sdk/education/azure-resourcemanager-education/CHANGELOG.md
  sdk/education/azure-resourcemanager-education/pom.xml
Labels: auto-merge

#29836 Increment versions for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, App Configuration, Azure.Core, Azure.Identity, azure-spring, auto-merge

#29838 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#29809 Adding isAll and isNone as read-only methods
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/CopyableFileSmbProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/CopyableFileSmbPropertiesList.java
Labels: Storage

#29840 Prepare patch release Metrics Advisor July
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#29845 Fix storage stress tests.
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/core/AbstractUploadTest.java
Labels: Storage

#29844 Apiview feedback and release prep
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/module-info.java
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Storage

#29848 Sync eng/common directory with azure-sdk-tools for PR 3546
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#29850 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, auto-merge

#29853 Prepare Tables patch release for July 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Client, Tables

#29852 Prepare Attestation patch release for July 2022
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/pom.xml
Labels: Client, Attestation

#29851 Sync eng/common directory with azure-sdk-tools for PR 3590
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#29859 Increment versions for loganalytics releases
  eng/versioning/version_client.txt
  sdk/loganalytics/azure-resourcemanager-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-resourcemanager-loganalytics/pom.xml
Labels: auto-merge

#29860 Increment versions for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: auto-merge

#29861 Increment versions for attestation releases
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
Labels: auto-merge

#29862 DPG, update codegen
  eng/mgmt/automation/generate_utils.py
  eng/mgmt/automation/parameters.py
  eng/mgmt/automation/utils.py
Labels: DPG

#29769 mgmt, update a few ci.yml on release_ parameter
  sdk/appconfiguration/ci.yml
  sdk/eventgrid/ci.yml
  sdk/networkfunction/ci.yml
  sdk/orbital/ci.yml
Labels: Event Grid, Mgmt, App Configuration

#29868 Increment versions for resourceconnector releases
  eng/versioning/version_client.txt
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/pom.xml
Labels: auto-merge

#29871 Increment versions for storagecache releases
  eng/versioning/version_client.txt
  sdk/storagecache/azure-resourcemanager-storagecache/CHANGELOG.md
  sdk/storagecache/azure-resourcemanager-storagecache/pom.xml
Labels: auto-merge

#27910 Add client id as identifier to client and link
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/AmqpClientOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpConstants.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorAmqpConnection.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientErrorHandlingTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
Labels: Event Hubs, Azure.Core

#29506 Update JavaDoc for ServiceBus
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
Labels: Service Bus

#29876 [TA] Merge patch release back to main branch
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive - Text Analytics

#29880 Azure-DigitalTwins-Core July Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: Digital Twins

#29882 [EG] GA the publishing the Cloud Event to partner topic
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, Client

#29887 Increment versions for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid, auto-merge

#29874 [AppConfig ]Add doc for feature flag and secret reference settings
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
Labels: Client, App Configuration

#29888 [EG] Merge "Feature/eventgrid partnertopic" GA released branch to main
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherClientBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/samples/PublishCloudEventsToPartnerTopic.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherClientTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/EventGridPublisherClientTests.publishCloudEventsToPartnerTopic.json
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/session-records/EventGridPublisherClientTests.publishEventGridEventToPartnerTopic.json
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
  sdk/eventgrid/tests.yml
Labels: Event Grid, Client

#29891 Increment versions for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: App Configuration, Azure.Core, azure-spring, auto-merge

#29797 Upload binary data block blob apis
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSimpleUploadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobStageBlockOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobAsyncClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlockBlobClientJavaDocCodeSnippets.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockDoesNotTransformReplayableBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockDoesNotTransformReplayableBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockDoesNotTransformReplayableBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockIllegalArgumentsWithBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockIllegalArgumentsWithBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockIllegalArgumentsWithBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockIllegalArgumentsWithBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockLeaseBinaryData.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockMinWithBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockMinWithBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockMinWithBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockMinWithBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockMinWithBinaryData[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockRetryOnTransientFailureWithRetriableBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockRetryOnTransientFailureWithRetriableBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockRetryOnTransientFailureWithRetriableBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockTransactionalMD5FailBinaryData.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryDataAsync[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryDataAsync[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryDataAsync[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryDataAsync[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryDataAsync[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestStageBlockWithBinaryData[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadBinaryData[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadDoesNotTransformReplayableBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadDoesNotTransformReplayableBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadDoesNotTransformReplayableBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadIllegalArgumentBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadIllegalArgumentBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadIllegalArgumentBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadIllegalArgumentBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadMinBinaryData[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadMinBinaryData[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadMinBinaryData[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadMinBinaryData[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestUploadMinBinaryData[4].json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryPolicy.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/TestDataFactory.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/http/WireTapHttpClient.java
Labels: Storage

#29897 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#29898 Increment package versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#29902 Implement get body as binary data
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/BufferedJdkHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpBufferedResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncBufferedResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/BufferedVertxHttpResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
Labels: Azure.Core

#29896 Rephrase requirements for TTL in throughput control container
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/scenarios/Ingestion.md
Labels: Cosmos

#29858 miscellaneousUpdate
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/PatchOnSparkConnector.pdf
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
Labels: Cosmos

#29883 SparkPatchFix
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPatchHelper.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/BulkWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/PointWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/utils/CosmosPatchTestHelper.scala
Labels: Cosmos

#29905 Sync eng/common directory with azure-sdk-tools for PR 3606
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#29906 Increment versions for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#29890 GA release for Event Hubs July
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#29912 Increment versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Grid, Event Hubs, Azure.Core, Schema Registry, azure-spring, auto-merge

#29909 Update Cosmos addReply trigger
  .github/fabricbot.json
Labels: Cosmos, Infrastructure

#29870 webpubsub, prepare release 1.1.4
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/README.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: WebPubSub

#29915 Increment versions for webpubsub releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: auto-merge

#29919 [Automation] Generate Fluent Lite from deviceprovisioningservices#package-2022-02
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/src/main/java/com/azure/resourcemanager/deviceprovisioningservices/implementation/IotDpsResourcesClientImpl.java
Labels: Mgmt - Track 2

#29921 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: auto-merge, Communication

#29920 Increment versions for deviceprovisioningservices releases
  eng/versioning/version_client.txt
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/pom.xml
Labels: auto-merge

#29923 Increment versions for communication release
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: Communication

#29908 Sync eng/common directory with azure-sdk-tools for PR 3584
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#29925 Prepare release for Schema Registry
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry

#29929 Sync eng/common directory with azure-sdk-tools for PR 3578
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#29932 ServiceBus July 2022 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#29931 Increment version for deviceupdate releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
Labels: auto-merge

#29926 Increment versions for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: auto-merge, Digital Twins

#29869 Increment versions for networkfunction releases
  eng/versioning/version_client.txt
  sdk/networkfunction/azure-resourcemanager-networkfunction/CHANGELOG.md
  sdk/networkfunction/azure-resourcemanager-networkfunction/pom.xml
Labels: auto-merge

#29935 Increment versions for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge

#29936 Increment versions for schemaregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#29938 Java release for July
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: Communication

#29950 Sync eng/common directory with azure-sdk-tools for PR 3642
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Labels: EngSys, Central-EngSys

#29952 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: auto-merge, Communication

#29791 fix lint warnings for CommunicationIdentifierTests
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
Labels: Communication

#29964 Use PackageVersion from Jackson Libraries for Version Checking
  sdk/core/azure-core-jackson-tests/src/test/java/com/azure/core/implementation/jackson/UnsupportedJacksonVersionsTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JacksonVersion.java
Labels: Client, Azure.Core

#29970 [Microsoft.DigitalTwins] Remove preview moniker from README
  sdk/digitaltwins/azure-digitaltwins-core/README.md
Labels: Digital Twins

#29948 Append with Flush
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileAppendOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestAppendDataFlush.json
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Labels: Storage

#29951 Release azure-cosmo:4.33.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeEpkImpl.java
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos, azure-spring

#29977 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#29841 Fixing issues with offset and limit where you cannot use offset and limit
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/CountQueryGenerator.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CosmosQuery.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/PartTreeCosmosQuery.java
Labels: Cosmos, azure-spring

#29986 Sync eng/common directory with azure-sdk-tools for PR 3657
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#29988 Don't depend on latest common in track 1 storage.
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Storage

#29987 Sync eng/common directory with azure-sdk-tools for PR 3656
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#29971 Transfer http response body to channels
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AsynchronousByteChannelWriteSubscriber.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AsynchronousFileChannelAdapter.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/IOUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/AsynchronousByteChannelWriteSubscriberTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/AsynchronousFileChannelAdapterTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/IOUtilsTest.java
Labels: Azure.Core

#30001 Adding option to fall back to Spark 2.4 Date/Time conversion assuming System default time zone instead of UTC when date has no explicit time zone
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosRowConverterSpec.scala
Labels: Cosmos

#29972 Azure Communication Services Phone Numbers Release For July 2022
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
Labels: Communication

#29982 fix404ExceptionOnSparkAfterSplit
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ContainerFeedRangesCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedSplitITest.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeCompositeContinuationImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ChangeFeedFetcher.java
Labels: Cosmos

#29957 mgmt, cdn, fix samples
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/cdn/generated/AfdEndpointsCreateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/cdn/generated/EndpointsCreateSamples.java
Labels: Mgmt

#30017 [Automation] Generate Fluent Lite from healthbot#package-2020-12-08
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/README.md
  sdk/healthbot/azure-resourcemanager-healthbot/SAMPLE.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/HealthbotManager.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/BotsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/OperationsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/HealthBotInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/OperationDetailInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthBotImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientBuilder.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationDetailImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/Utils.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/AvailableOperations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/BotResponseList.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Bots.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/ErrorAdditionalInfo.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBot.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotProperties.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotUpdateParameters.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/IdentityType.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/OperationDisplay.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Operations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Sku.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/SystemData.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsCreateSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsDeleteSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsGetByResourceGroupSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsListByResourceGroupSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsListSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsUpdateSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/OperationsListSamples.java
Labels: Mgmt - Track 2

#30019 Increment versions for healthbot releases
  eng/versioning/version_client.txt
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
Labels: auto-merge

#30022 Increment versions for relay releases
  eng/versioning/version_client.txt
  sdk/relay/azure-resourcemanager-relay/CHANGELOG.md
  sdk/relay/azure-resourcemanager-relay/pom.xml
Labels: auto-merge

#30023 Increment versions for recoveryservices releases
  eng/versioning/version_client.txt
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
Labels: auto-merge

#30003 [Storage] Accept sas token with leading ? in connection string.
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsCanUseConnectionStringWithSasAndQuestionMark.json
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/SasImplUtils.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/connectionstring/StorageConnectionStringTest.java
Labels: Storage

#30012 Adds hashing algorithm for buffered producer
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionResolver.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PartitionResolverTests.java
Labels: Event Hubs

#30026 Stream response - transfer to byte channels.
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/MockHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/MessageDigestUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/RestProxyTestsWireMockServer.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/StreamResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/StreamResponseTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/SyncRestProxyTests.java
Labels: Azure.Core

#30013 Increment version for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: auto-merge

#29996 Added disclaimers for cryptographic operations using Key Vault Keys.
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/models/DecryptParameters.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/models/EncryptParameters.java
Labels: KeyVault, Client, Docs

#30030 Core Rename transfer to to write to on responses.
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/StreamResponse.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/StreamResponseTest.java
Labels: Azure.Core

#30036 Sync eng/common directory with azure-sdk-tools for PR 3700
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#30037 Sync eng/common directory with azure-sdk-tools for PR 3702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#30034 Prepare BOM patch release for July 2022.
  eng/versioning/version_client.txt
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Client, Azure.Core, azure-sdk-bom

#29264 Updated ManageVirtualMachineExtension.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/compute/samples/ManageVirtualMachineExtension.java
Labels: Compute - Extensions, Mgmt, customer-reported

#30025 Fixes a regression for distinct queries with PoJo serialization
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
Labels: Cosmos

#30004 DisableProxyForIMDSRequest
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/GatewayConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientTelemetryConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos

#30008 Remove VisualStudioCodeCredential from DAC
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#30040 Update BOM versions for July patch release.
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Client, Azure.Core, azure-sdk-bom

#30062 CallRecording/CallMedia changes
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallContent.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallContentAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMedia.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMediaAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecording.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallRecordingAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerAsyncClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClient.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ContentDownloader.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/ProgressReporter.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ContentsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/accesshelpers/ErrorConstructorProxy.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/accesshelpers/ListParticipantsResponseConstructorProxy.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/accesshelpers/RecordingStatusResponseConstructorProxy.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/FileSourceInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/GetParticipantsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/PlaySourceInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/RecordingStatusInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/models/RecordingStatusResponseInternal.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/AddParticipantsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallConnectionProperties.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/CallingOperationResultDetails.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/DownloadToFileOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/FileSource.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ListParticipantsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ParallelDownloadOptions.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlayResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/PlaySource.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ProgressReceiver.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingIdResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingStateResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingStatus.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RecordingStatusResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/RemoveParticipantsResponse.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callingserver/swagger/README.md
Labels: Communication

#30063 Adding CancelAllMediaOperations methods
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnection.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallConnectionAsync.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMedia.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallMediaAsync.java
Labels: Communication

#30049 Fixes IllegalArgumentException when trying to update targetThroughput(Threshold) without cluster restart
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EThroughputControlITest.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ContainerThroughputControlGroupProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/config/ThroughputControlGroupInternal.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlGroupConfigConfigurationTests.java
Labels: Cosmos

#30071 Increment versions for netapp releases
  eng/versioning/version_client.txt
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
Labels: auto-merge

#30075 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: auto-merge, Communication

#30079 Increment versions for fluidrelay releases
  eng/versioning/version_client.txt
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/CHANGELOG.md
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/pom.xml
Labels: auto-merge

#30086 Eagerly read response on Mono<Void>
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseBodyDecoder.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyTests.java
Labels: Azure.Core

#30041 mgmt, msgraph, add delayed retry on 404 for eventual consistency after create AAD app
  sdk/resourcemanager/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-authorization/pom.xml
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/implementation/ActiveDirectoryApplicationImpl.java
  sdk/resourcemanager/azure-resourcemanager-authorization/src/test/java/com/azure/resourcemanager/authorization/implementation/RetryTests.java
Labels: Mgmt

#30087 Add global configuration switch for sync proxy.
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
Labels: Azure.Core

#29696 Fix incorrect message ordering after session processor abandon message and when `maxConcurrentSessions` is 1
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionManager.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
Labels: Service Bus

#30059 supportEnableClientTelemetryForBenchmark
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsynReadWithMultipleClients.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Main.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/SyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/ctl/AsyncCtlWorkload.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/encryption/AsyncEncryptionBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/linkedin/AsyncClientFactory.java
Labels: Cosmos

#29965 Download to file optimizations.
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AsynchronousFileChannelAdapter.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ByteCountingAsynchronousByteChannel.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ByteCountingWritableByteChannel.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/io/IOUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/io/package-info.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/MockFluxHttpResponse.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/StreamResponseTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/AsynchronousByteChannelWriteSubscriberTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ByteCountingAsynchronousByteChannelTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ByteCountingWritableByteChannelTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FaultyAsynchronousByteChannel.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/IOUtilsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/PartialWriteAsynchronousChannel.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/PartialWriteChannel.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/accesshelpers/BlobDownloadAsyncResponseConstructorProxy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ChunkedDownloadUtils.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadAsyncResponse.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
Labels: Storage, Azure.Core

#30097 azure-cosmos hotfix release 2022-07-22
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CosmosQuery.java
Labels: Cosmos, azure-spring

#30102 Update codeowners
  .github/CODEOWNERS
Labels: auto-merge

#30101 Adding unit testing for Recording/Media operations
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/CallingServerClientBuilder.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/GroupCallLocator.java
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/models/ServerCallLocator.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerResponseMocker.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallingServerTestBase.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/MockHttpClient.java
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecording401Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecording404Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecordingWithConnectionStringAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteAsyncLiveTests.deleteRecordingWithTokenCredentialAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecording401[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecording404[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecordingWithConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DeleteLiveTests.deleteRecordingWithTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadContent404Async[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataRetryingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataWithConnectionStringAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataWithRedirectAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadMetadataWithTokenCredentialAsyncClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadToFileAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadToFileRetryingAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentAsyncLiveTests.downloadVideoAsync[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContent404[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContentStreamFailure[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadContentWrongUrl[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadMetadataWithConnectionStringClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadMetadataWithTokenCredentialClient[1].json
  sdk/communication/azure-communication-callingserver/src/test/resources/session-records/DownloadContentLiveTests.downloadVideo[1].json
Labels: Communication

#30100 Added returnTypeDecodeable and responseEagerlyRead to SwaggerMethodParser
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseBodyDecoder.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseDecodeData.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/HttpResponseBodyDecoderTests.java
Labels: Azure.Core

#30107 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#30078 Adding internal classes to support buffered producer.
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionResolver.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PartitionResolverTests.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataAggregatorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Event Hubs

#30111 Remerge "Using new windowTimeout operator with backpressure support"
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ReactorShim.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/ReactorShimTest.java
Labels: Event Hubs

#30091 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#30112 [Automation] Generate Fluent Lite from recoveryservices#package-2022-04
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/README.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/SAMPLE.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/RecoveryServicesManager.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/implementation/RecoveryServicesManagementClientImpl.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/AlertsState.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/AzureMonitorAlertSettings.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/BackupStorageVersion.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/ClassicAlertSettings.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/CrossRegionRestore.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/MonitoringSettings.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/ResourceCertificateAndAadDetails.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/Sku.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/StandardTierStorageRedundancy.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/VaultProperties.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/main/java/com/azure/resourcemanager/recoveryservices/models/VaultPropertiesRedundancySettings.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/OperationsListSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/PrivateLinkResourcesOperationGetSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/PrivateLinkResourcesOperationListSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/RecoveryServicesCheckNameAvailabilitySamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/RegisteredIdentitiesDeleteSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/ReplicationUsagesListSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/ResourceProviderGetOperationResultSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/ResourceProviderGetOperationStatusSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/UsagesListByVaultsSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultCertificatesCreateSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultExtendedInfoCreateOrUpdateSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultExtendedInfoGetSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultExtendedInfoUpdateSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsCreateOrUpdateSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsDeleteSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsGetByResourceGroupSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsListByResourceGroupSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsListSamples.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/samples/java/com/azure/resourcemanager/recoveryservices/generated/VaultsUpdateSamples.java
Labels: Mgmt - Track 2

#30114 Increment versions for mobilenetwork releases
  eng/versioning/version_client.txt
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/pom.xml
Labels: auto-merge

#30115 Increment versions for recoveryservices releases
  eng/versioning/version_client.txt
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
Labels: auto-merge

#30095 mgmt samples, add cmk for aks
  sdk/resourcemanager/azure-resourcemanager-samples/samples.json
  sdk/resourcemanager/azure-resourcemanager-samples/samples.schema.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/kubernetescluster/samples/ManageKubernetesClusterWithCustomerManagedKey.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/KubernetesClusterTests.java
Labels: Mgmt, Mgmt - Track 2

#29231 #25907 StorageBlobResource performance improvement
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/resource/StorageBlobResource.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/resource/StorageFileResource.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/resource/AbstractAzureStorageProtocolResolverTests.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/resource/AzureStorageBlobProtocolResolverTest.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/resource/AzureStorageFileProtocolResolverTest.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/resource/StorageBlobResourceTests.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/resource/StorageFileResourceTests.java
Labels: azure-spring

#30119 dpg, update sdk automation script
  eng/mgmt/automation/generate_data.py
Labels: DPG
