Repository Azure/azure-sdk-for-java, pull requests merged in 2022-10, with the labels that each got.

#31243 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#31251 Fixes issue where FAIL_OVERFLOW results in tight loop of retrying.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/UncheckedInterruptedException.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
Labels: Event Hubs

#31247 Feature/call automation automated live test
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnection.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/DeleteAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/DeleteLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/DownloadContentAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/DownloadContentLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/RecordedEventListener.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndAnswerThenHangupAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncAutomatedLiveTests.createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncAutomatedLiveTests.playMediaInACallAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallAndUnmixedAudioTest[1].json
Labels: Communication

#31176 Adding Event enum for Recognize/Play
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallAutomationEventWithReasonCodeBase.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCompletedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayFailedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ReasonCode.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCompleted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeFailed.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#31244 Renaming Tone to DtmfTone
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CollectTonesResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/DtmfOptionsInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/DtmfTone.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecognizeOptionsInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallMediaRecognizeDtmfOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CollectTonesResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/DtmfTone.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/Tone.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
Labels: Communication

#31056 Add Sync Get Token in Token Cred Interface
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenCredential.java
Labels: Azure.Core

#31242 Creating Play/Recognize canceled events.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCanceled.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ReasonCode.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCanceled.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Cosmos, Event Hubs, Storage, App Configuration, Azure.Core, Schema Registry, azure-spring, Communication

#31254 Add session records for call recording tests
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallAndUnmixedAudioTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallUnmixedAudioAffinityTest[1].json
Labels: Communication

#31050 Fix the phonenumber serialization
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
Labels: Communication

#31258 Change Design of Vertx HttpClient Implementation to Resolve Flaky Tests
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClient.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/BufferedVertxHttpResponse.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxHttpAsyncResponse.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/DeadlockTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxAsyncHttpClientTests.java
Labels: Client, Azure.Core, HttpClient

#31253 Limited exception to take only Interrupted and ExecutionExceptions.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/UncheckedExecutionException.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/UncheckedInterruptedException.java
Labels: Event Hubs

#31265 AddThroughputControlDoc
  sdk/cosmos/azure-cosmos/docs/ThroughputControl-ppt.pdf
Labels: Cosmos

#31270 App Config Spring - Fix Normalize Null usage
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationPropertySourceLocator.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationReplicaClient.java
Labels: App Configuration

#31249 Add timeout doc
  sdk/cosmos/azure-cosmos/docs/ClientRetryPolicy.png
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
Labels: Cosmos

#31274 Reset Vertx Dependencies to Current
  sdk/core/azure-core-http-vertx/pom.xml
Labels: Client, Azure.Core, HttpClient

#31276 [Core-Vertx] Re-enable the CI pipeline test for Vertx HttpClient
  sdk/core/ci.yml
Labels: Azure.Core

#31269 Add Live tests for Recognize DTMF Tones feature
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncLiveTests.recognizeDtmfInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaLiveTests.recognizeDtmfInACall[1].json
Labels: Communication

#31282 [CredScan] Remove potential SAS explored
  sdk/translation/azure-ai-documenttranslator/src/samples/java/com/azure/ai/documenttranslator/TranslateDocuments.java
Labels: Client

#31284 Sync eng/common directory with azure-sdk-tools for PR 4315
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30674 Add KV Certficates Async Client Unit Test
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.backupCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.backupCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.cancelCertificateOperation[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createCertificateEmptyName[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createCertificateNullPolicy[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createCertificateNull[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createCertificateWithMultipleTenants[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createIssuerEmptyName[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createIssuerNullProvider[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createIssuerNull[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificateIssuerNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificateOperation[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteContacts[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateIssuerNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateOperationNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateOperation[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificatePolicyNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificatePolicy[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateSpecificVersion[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getDeletedCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getDeletedCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.importCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.importPemCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listCertificateIssuers[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listCertificateVersions[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listCertificates[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listContacts[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listDeletedCertificates[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listPropertiesOfCertificates[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.mergeCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.recoverDeletedCertificateNotFound[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.recoverDeletedCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.restoreCertificateFromMalformedBackup[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.restoreCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.setContacts[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.updateCertificatePolicy[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.updateCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.updateDisabledCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.updateIssuer[1].json
Labels: KeyVault

#31296 Remove DefaultSyncPoller, use factory method on SyncPoller instead
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/DefaultSyncPoller.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/SyncPoller.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollerTests.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
Labels: KeyVault, Azure.Core

#31294 Sync eng/common directory with azure-sdk-tools for PR 4311
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#31302 Prepare Core Libraries for October 2022 GA Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: KeyVault, Client, Azure.Core, Azure.Identity, Schema Registry

#31268 Formrecognizer ignore custom field getters in deserialization
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentLine.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentFieldSerializationTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/insurance.png
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentFieldSerializationTest.deserializeAnalyzeResult[1].json
Labels: Cognitive - Form Recognizer

#31298 Add sslHandshakeTimeoutMinDuration in the RntbdTransportClient.Options
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
Labels: Cosmos

#31307 Fixing incorrect RU metric reporting in micrometer metrics
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientMetricsTest.java
Labels: Cosmos

#31313 Cosmos hotfix - RU metrics fixes
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos, azure-spring

#31297 Feature/sdk idempotency
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnection.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AddParticipantsOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AnswerCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/HangUpOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RedirectCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RejectCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RemoveParticipantsOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RepeatabilityHeaders.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TransferToParticipantCallOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAsyncLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/RepeatabilityHeadersUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndAnswerThenHangupAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncAutomatedLiveTests.createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest[1].json
Labels: Communication

#31314 Read failover fix to preferred locations/regions.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
Labels: Cosmos

#31323 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#31319 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#31353 Increment versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/CHANGELOG.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-test-appconfiguration-config/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management-web/pom.xml
  sdk/appconfiguration/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/appconfiguration/spring-cloud-azure-feature-management/pom.xml
Labels: App Configuration, auto-merge

#31281 Adding Service Versions for Repeatedly Failing Weekly Tests
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureResourceTest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
Labels: Storage

#31365 Add default .assets directory to .gitignore
  .gitignore
Labels: Central-EngSys

#31366 Azure-DigitalTwins-Core October Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: Digital Twins

#31369 [Confidential Ledger] Increment SDK Release
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: auto-merge, Confidential Ledger

#31371 Increment version for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: auto-merge

#31370 [Confidential Ledger] Enable Batch Release
  sdk/confidentialledger/ci.yml
Labels: auto-merge, Confidential Ledger

#30770 Update the wrong logging wiki link in readme
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#28958 Add stress tests module for Event Hubs
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-stress/.helmignore
  sdk/eventhubs/azure-messaging-eventhubs-stress/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-stress/Chart.yaml
  sdk/eventhubs/azure-messaging-eventhubs-stress/Dockerfile
  sdk/eventhubs/azure-messaging-eventhubs-stress/README.md
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/EventHubsScenarioRunner.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/RateMeter.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/RateMeterConfig.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/TelemetryConfig.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventHubsScenario.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessorWithOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSender.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/ScenarioOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/stress-test-resources.bicep
  sdk/eventhubs/azure-messaging-eventhubs-stress/templates/job.yaml
  sdk/eventhubs/ci.yml
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#31321 mgmt, enable batch on confidentialledger ci
  sdk/confidentialledger/ci.yml
Labels: Mgmt-EngSys

#31362 Added option to set throughput control group name on per-request level for batch and bulk operations.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/CosmosBatchItemRequestOptionsTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/models/CosmosBulkExecutionOptionsTest.java
Labels: Cosmos

#31309 Create Media Streaming package parser with updated contracts
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingAudioInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingMetadataInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingAudio.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingMetadata.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingPackageBase.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingPackageParser.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/MediaStreamingPackageParserUnitTests.java
Labels: Communication

#31375 Prepare release for Schema Registry
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry

#31310 Sync eng/common directory with azure-sdk-tools for PR 4341
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30870 List Blobs with Prefix, Delimiter, and Versioning
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ContainerAPITestListBlobsHierSegmentWithVersionPrefixAndDelimiter.json
Labels: Storage

#31389 Storage Version and Changelog updates for STG84 GA (2022-10-11)
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#31393 Increment versions for schemaregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#31392 Fixing dependencies to not include betas
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#31405 Increment versions for hybridcontainerservice releases
  eng/versioning/version_client.txt
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/CHANGELOG.md
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/pom.xml
Labels: auto-merge

#31385 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#31396 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, auto-merge

#31411 Increment versions for devcenter releases
  eng/versioning/version_client.txt
  sdk/devcenter/azure-resourcemanager-devcenter/CHANGELOG.md
  sdk/devcenter/azure-resourcemanager-devcenter/pom.xml
Labels: auto-merge

#31413 [Java] Custom token expiration feature GA release updates
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
Labels: Communication, Communication - Identity

#31379 Fix bug: Put a value into Collections.emptyMap().
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/jackson/SerializerUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepositoryTest.java
Labels: bug, Client, azure-spring

#31420 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
Labels: auto-merge, Communication

#31412 update common version to 1.3.0-beta.2
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
Labels: Communication, Communication - Identity

#31388 New Swagger generations
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataNoneIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataUserAssignedIdentity.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search

#31368 Update misspelled error code IncrementalCopyOfEarlierVersionSnapshotNotAllowed
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageImplBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/FilterBlobItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/FilterBlobsIncludeItem.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobErrorCode.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#31426 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search, auto-merge

#31395 unflatten mediastreaming packages
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingAudioDataInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingAudioData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingPackageParser.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/MediaStreamingPackageParserUnitTests.java
Labels: Communication

#31425 [TA] Prepare October patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Client, Cognitive - Text Analytics

#31424 [AppConfig] October release preparation
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Labels: Client, App Configuration

#31430 Sync eng/common directory with azure-sdk-tools for PR 4372
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#31432 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#31427 Prepare patch release for Form Recognizer & Metrics Advisor
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/TROUBLESHOOTING.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#31441 Increment versions for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: auto-merge

#31442 Updated release versions to 4.38.0 for azure-cosmos and connectors
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos, azure-spring

#31283 ServiceBus metrics
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-metrics-opentelemetry/src/main/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributes.java
  sdk/core/azure-core-metrics-opentelemetry/src/test/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributesTests.java
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTrace.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageBatch.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiverTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusMeter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/module-info.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ReceiveLinkTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusMessageBatchTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
Labels: Event Hubs, Service Bus, Azure.Core

#31402 Rollback client-close behaviors in templates' send calls
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
Labels: azure-spring

#31287 Update README.md in healthcareapi
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/README.md
Labels: customer-reported

#31455 Increment versions for webpubsub releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: auto-merge

#31456 Increment versions for appcontainers releases
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
Labels: auto-merge

#31457 Increment versions for nginx releases
  eng/versioning/version_client.txt
  sdk/nginx/azure-resourcemanager-nginx/CHANGELOG.md
  sdk/nginx/azure-resourcemanager-nginx/pom.xml
Labels: auto-merge

#31453 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#31458 Increment versions for securitydevops releases
  eng/versioning/version_client.txt
  sdk/securitydevops/azure-resourcemanager-securitydevops/CHANGELOG.md
  sdk/securitydevops/azure-resourcemanager-securitydevops/pom.xml
Labels: auto-merge

#31439 Increment versions for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#31408 Increment versions for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: auto-merge, Digital Twins

#31431 Increment versions for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: App Configuration, Azure.Core, azure-spring, auto-merge

#31437 Prepare Search beta release for October 2022
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
Labels: Search

#31443 Add reading regional authority from environment
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Labels: Azure.Identity

#31467 prepare eventgrid release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#31463 reduce warning level if background address cache refresh failed
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/AsyncCacheNonBlocking.java
Labels: Cosmos

#31262 Integrate Sync Stack In Identity
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/HttpPipelineAdapter.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/PersistentTokenCacheImpl.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/SynchronousAccessor.java
  sdk/identity/azure-identity/src/main/java/module-info.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DeviceCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/EnvironmentCredentialTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/UsernamePasswordCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/HttpPipelineAdapterTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
  sdk/jdbc/azure-identity-providers-core/pom.xml
  sdk/jdbc/azure-identity-providers-core/src/test/java/com/azure/identity/providers/jdbc/implementation/credential/provider/DefaultTokenCredentialProviderTest.java
Labels: Azure.Identity

#31483 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: auto-merge

#31484 Increment versions for policyinsights releases
  eng/versioning/version_client.txt
  sdk/policyinsights/azure-resourcemanager-policyinsights/CHANGELOG.md
  sdk/policyinsights/azure-resourcemanager-policyinsights/pom.xml
Labels: auto-merge

#31473 Increment version for maps releases
  eng/versioning/version_client.txt
  sdk/maps/azure-maps-geolocation/CHANGELOG.md
  sdk/maps/azure-maps-geolocation/pom.xml
Labels: auto-merge

#31470 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search, auto-merge

#31472 Increment versions for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: auto-merge

#31486 Increment versions for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity, auto-merge

#31435 Feature/swagger update
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/CallConnectionPropertiesConstructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallConnectionPropertiesInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallConnectionProperties.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/AddParticipantsFailedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/AddParticipantsSucceededEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallAutomationEventBase.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallAutomationEventWithReasonCodeBase.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallTransferAcceptedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallTransferFailedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCanceledEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCompletedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayFailedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCanceledEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCompletedEvent.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeFailedEvent.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#30382 fix sample to use correct listIncomingRelationships() overload
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/RelationshipsSyncSamples.java
Labels: Digital Twins

#31485 [ServiceBus-Doc] Updating processor sample to show explicit settlement and add separate samples for each receive mode
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReadmeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorClientJavaDocCodeSamples.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorPeekLockReceiveSample.java
Labels: Service Bus

#31498 Oct release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: Communication

#31469 Add missing AMQP builder traits. Remove Messages from public API
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/Messages.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/MessagesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
Labels: Event Hubs

#31468 Increment version for Metrics Advisor patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#31507 Increment versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Grid, Event Hubs, Azure.Core, Schema Registry, azure-spring, auto-merge

#30249 Update kv certs sync stack
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAdministrationClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateAsyncClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClient.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClientBuilder.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/CertificateClientImpl.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/CertificateService.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTestBase.java
Labels: KeyVault

#31480 Fix 31218 rest template is not well configured when jwk resolver is null
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/AbstractAzureServiceConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreatorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/RestTemplateProxyCustomizerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/CosmosUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventHubsUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/ServiceBusUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSenderUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/util/UserAgentTestUtil.java
Labels: bug, Client, azure-spring, azure-spring-aad

#31517 Increment versions for loadtestservice releases
  eng/versioning/version_client.txt
  sdk/loadtestservice/azure-resourcemanager-loadtestservice/CHANGELOG.md
  sdk/loadtestservice/azure-resourcemanager-loadtestservice/pom.xml
Labels: auto-merge

#31489 Issue 31482 rest template used to get access token should only contains 2 converters
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreator.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreatorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/aad/access-token-response.json
Labels: bug, Client, azure-spring, azure-spring-aad

#31519 Increment versions for avs releases
  eng/versioning/version_client.txt
  sdk/avs/azure-resourcemanager-avs/CHANGELOG.md
  sdk/avs/azure-resourcemanager-avs/pom.xml
Labels: auto-merge

#31520 Increment versions for education releases
  eng/versioning/version_client.txt
  sdk/education/azure-resourcemanager-education/CHANGELOG.md
  sdk/education/azure-resourcemanager-education/pom.xml
Labels: auto-merge

#31488 Disable PasswordlessMySQLIT
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/tests.yml
Labels: Client, feature-request, azure-spring

#31499 Increment version for maps releases
  eng/versioning/version_client.txt
  sdk/maps/azure-maps-elevation/CHANGELOG.md
  sdk/maps/azure-maps-elevation/pom.xml
Labels: auto-merge

#31509 [TA] Added back the extract summary feature
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeActionsResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryActionResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/SummarySentencePropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentence.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentenceCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SummarySentencesOrder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/module-info.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionSortedByOffset[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithNonDefaultSentenceCount[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithSentenceCountLessThanMaxCount[1].json
Labels: Client, Cognitive - Text Analytics

#31531 Make external_dependency error like it is supposed to.
  eng/versioning/update_versions.py
Labels: EngSys

#31529 Prepare Key Vault patch release for October 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Azure.Identity

#31534 Prepare monitor patch release oct 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor, Client

#31539 updated live test and automated live test recording sessions
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndAnswerThenHangupAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.createPSTNCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.createVOIPCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientLiveTests.startACallWithMultipleTargetsTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.createPSTNCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.createVOIPCallAndHangupTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationClientLiveTests.startACallWithMultipleTargetsTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncAutomatedLiveTests.createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.removeAPSTNUserAndAcsUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.removeAPSTNUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncLiveTests.transferACallFromOneUserToAnotherUserTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.removeAPSTNUserAndAcsUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.removeAPSTNUserFromAnOngoingCallTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionLiveTests.transferACallFromOneUserToAnotherUserTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncAutomatedLiveTests.playMediaInACallAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncLiveTests.playMediaInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncLiveTests.recognizeDtmfInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaLiveTests.playMediaInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaLiveTests.recognizeDtmfInACall[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAsyncLiveTests.recordingOperations[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallAndUnmixedAudioTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallUnmixedAudioAffinityTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingLiveTests.recordingOperations[1].json
Labels: Communication

#31537 Remove Test module-info in AppConfiguration for Plugin Configurations
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/module-info.java
Labels: Client, App Configuration

#31525 Miscellaneous Updates to azure-core
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/BinaryDataContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
Labels: Client, Azure.Core

#31505 Azure Communication Services SMS October Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#31506 Azure Communication Services Phone Numbers October 2022 Release
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
Labels: Communication

#31556 Add Script to Enable Easier Switching of JAVA_HOME for a Process on Windows
  eng/scripts/Set-JavaVersion.ps1
Labels: EngSys

#31570 [EH,SB] Better error message indicating websocket transport requirement for proxy, adding sizing heap section to troubleshooting doc
  sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/images/healthyheappattern.png
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Event Hubs, Service Bus

#31559 Update Jackson Databind to Latest Version
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Labels: Cosmos, KeyVault, App Configuration, Azure.Core, Schema Registry, azure-spring

#30955 deviceupdate, enable jacoco after GA
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
Labels: DPG, DeviceUpdate

#31560 Increment versions for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#31564 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#31563 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#31568 Increment versions for attestation releases
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
Labels: auto-merge

#30924 Adds HttpHeaderName to azure-core
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyToAzureCoreHttpHeadersWrapper.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeader.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaderName.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
Labels: Client, Azure.Core, HttpClient

#31579 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#31578 Add Delay in Live Test to Ensure Service Updates
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchAliasTests.java
  sdk/search/azure-search-documents/src/test/resources/session-records/SearchAliasTests.canDeleteAlias.json
Labels: Search, Client

#31581 [CallAutomation] Unmixed Recording unmixed arb feedback items
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImplBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ContentsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallingsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AcsCallParticipantInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantsRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantsResponseInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallConnectionPropertiesInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallSourceInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ChannelAffinityInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CommunicationErrorResponseException.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/GetParticipantsResponseInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingConfigurationInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RemoveParticipantsRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RemoveParticipantsResponseInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TransferCallResponseInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TransferToParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/package-info.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/package-info.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/ChannelAffinity.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingPackageParser.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/package-info.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingUnitTests.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication

#30985 Eagerly Convert Headers Concept
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpBufferedResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponseBase.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpResponseTests.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncBufferedResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponse.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpAsyncResponseBase.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/OkHttpToAzureCoreHttpHeadersWrapper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/RestProxyTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/serializer/HttpResponseDecodeData.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
Labels: Client, Azure.Core, HttpClient

#31586 Feature/event name update
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/AddParticipantsFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/AddParticipantsSucceeded.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallConnected.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallDisconnected.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallTransferAccepted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallTransferFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ParticipantsUpdated.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCanceled.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayCompleted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/PlayFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCanceled.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCompleted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecordingStateChanged.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#31542 Fix cosmos query metrics no longer logged
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataDiagnosticsConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/data/cosmos/CosmosDataDiagnosticsConfigurationTests.java
Labels: azure-spring

#31601 October 2022 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#31602 Fixing broken link in samples readme
  sdk/servicebus/azure-messaging-servicebus/src/samples/README.md
Labels: Service Bus

#31604 Fixing RecordingStateChanged event type
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#31594 Cleanup Based on Changes in Generated Code
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/accesshelpers/BlobQueryHeadersConstructorProxy.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobQueryHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFileDownloadHeadersConstructorProxy.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileDownloadHeaders.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#30706 Loadtestservice - SDK initial version
  .github/CODEOWNERS
  eng/versioning/version_client.txt
  sdk/loadtestservice/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtestservice/azure-developer-loadtesting/README.md
  sdk/loadtestservice/azure-developer-loadtesting/pom.xml
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationAsyncClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestAdministrationClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestingAsyncClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestingClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestingClientBuilder.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/LoadTestingServiceVersion.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/TestRunAsyncClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/TestRunClient.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestAdministrationsImpl.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/LoadTestingClientImpl.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/TestRunsImpl.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/package-info.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/implementation/util/MultipartHelper.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/package-info.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/java/module-info.java
  sdk/loadtestservice/azure-developer-loadtesting/src/main/resources/azure-developer-loadtesting.properties
  sdk/loadtestservice/azure-developer-loadtesting/src/samples/java/com/azure/developer/loadtesting/ReadmeSamples.java
  sdk/loadtestservice/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/CreateOrUpdateTestRunTests.java
  sdk/loadtestservice/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/CreateOrUpdateTestTests.java
  sdk/loadtestservice/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
  sdk/loadtestservice/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/UploadTestFileTests.java
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/sample-JMX-file.jmx
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/session-records/CreateOrUpdateTestRunTests.createOrUpdateTestRunDict.json
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/session-records/CreateOrUpdateTestRunTests.createOrUpdateTestRunString.json
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/session-records/CreateOrUpdateTestTests.createOrUpdateTestDictDict.json
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/session-records/CreateOrUpdateTestTests.createOrUpdateTestString.json
  sdk/loadtestservice/azure-developer-loadtesting/src/test/resources/session-records/UploadTestFileTests.uploadTestFile.json
  sdk/loadtestservice/azure-developer-loadtesting/swagger/README.md
  sdk/loadtestservice/ci.yml
  sdk/loadtestservice/pom.xml
Labels: DPG

#31582 Sync eng/common directory with azure-sdk-tools for PR 3790
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31585 [TA] Added Resolutions to CategoryEntity
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/CategorizedEntityPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/CurrencyResolutionPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/DateTimeResolutionPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TemporalSpanResolutionPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AgeResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AgeUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AreaResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AreaUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/BaseResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/BooleanResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CategorizedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CurrencyResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DateTimeResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DateTimeSubKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/InformationResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/InformationUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LengthResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LengthUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/NumberKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/NumberResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/NumericRangeResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/OrdinalResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RangeKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/RelativeTo.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ResolutionKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SpeedResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SpeedUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TemperatureResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TemperatureUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TemporalModifier.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TemporalSpanResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/VolumeResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/VolumeUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/WeightResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/WeightUnit.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeEntitiesBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/RecognizeEntitiesBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeEntitiesRecognitionActionResolution[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.recognizeEntitiesResolutions[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeEntitiesRecognitionActionResolution[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.recognizeEntitiesResolutions[1].json
Labels: Client, Cognitive - Text Analytics

#31650 [TA] Disable regression tests
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#31417 Fix Spring Data Cosmos not work JDK 16
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/test/resources/non-emulator-testng.xml
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/AuditableIdGeneratedEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/AuditableConfig.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/TestRepositoryConfig.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/AuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveAuditableIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableAddressRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageableMemoRepository.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/PageablePersonRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosMappingContext.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosSimpleTypes.java
  sdk/cosmos/integration-matrix.json
  sdk/cosmos/platform-matrix.json
  sdk/cosmos/tests.yml
Labels: Cosmos, azure-spring

#31659 [Automation] Generate Fluent Lite from elasticsan#package-2021-11-20-preview
  sdk/elasticsan/azure-resourcemanager-elasticsan/CHANGELOG.md
  sdk/elasticsan/azure-resourcemanager-elasticsan/pom.xml
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanInnerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanListTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanOperationDisplayTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanOperationListResultTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanPropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanRPOperationInnerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanUpdatePropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSanUpdateTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSansCreateMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSansDeleteMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSansListByResourceGroupMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/ElasticSansListMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/IscsiTargetInfoTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/NetworkRuleSetTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/OperationsListMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkuCapabilityTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkuInformationInnerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkuInformationListTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkuLocationInfoTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkuTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SkusListMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/SourceCreationDataTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VirtualNetworkRuleTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupInnerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupListTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupPropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupUpdatePropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupUpdateTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupsCreateMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupsDeleteMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeGroupsListByElasticSanMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeInnerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeListTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumePropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeUpdatePropertiesTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumeUpdateTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumesCreateMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumesDeleteMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/generated/VolumesListByVolumeGroupMockTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Mgmt - Track 2

#31660 Increment versions for elasticsan releases
  eng/versioning/version_client.txt
  sdk/elasticsan/azure-resourcemanager-elasticsan/CHANGELOG.md
  sdk/elasticsan/azure-resourcemanager-elasticsan/pom.xml
Labels: auto-merge

#31597 Fix #31593: Proxy setting not work in Azure AD B2C web application
  .vscode/cspell.json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cOidcIdTokenDecoderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
Labels: bug, Client, azure-spring

#31674 Updated apache commons text dependency to version 1.10.0
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/StringEscapeUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/WordUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/AggregateTranslator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/CharSequenceTranslator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/EntityArrays.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/LookupTranslator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/OctalUnescaper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/text/translate/UnicodeUnescaper.java
  sdk/cosmos/cgmanifest.json
Labels: Cosmos

#31676 Sync eng/common directory with azure-sdk-tools for PR 4486
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#31677 Updated release versions to 4.38.1 for azure-cosmos and connectors
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosSimpleTypes.java
Labels: Cosmos, azure-spring

#31653 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#31687 Increment versions for recoveryservicesbackup releases
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Labels: auto-merge

#31681 Sync eng/common directory with azure-sdk-tools for PR 4480
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#31665 Fix bugs caused by supporting azure ad proxy
  .vscode/cspell.json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreator.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/RestTemplateProxyCustomizerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/jackson/SerializerUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AbstractOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOidcIdTokenDecoderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cOidcIdTokenDecoderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/AbstractAzureServiceConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreatorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/JacksonHttpSessionOAuth2AuthorizedClientRepositoryTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2AuthorizationCodeGrantRequestEntityConverterTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/CosmosUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventHubsUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/EventProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/ServiceBusUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSenderUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionProcessorUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/amqp/servicebus/ServiceBusSessionReceiverUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/util/UserAgentTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/aad/access-token-response.json
Labels: bug, Client, azure-spring

#31691 Increment versions for loadtestservice releases
  eng/versioning/version_client.txt
  sdk/loadtestservice/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtestservice/azure-developer-loadtesting/pom.xml
Labels: auto-merge

#31522 added handling of deserialization with 'kind' property and unit tests
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/CommunicationIdentifierConverter.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CommunicationIdentifierConverterUnitTests.java
  sdk/communication/azure-communication-callingserver/CHANGELOG.md
  sdk/communication/azure-communication-callingserver/src/main/java/com/azure/communication/callingserver/implementation/converters/CommunicationIdentifierConverter.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CommunicationIdentifierConverterUnitTests.java
Labels: Communication, Communication - Identity
