Repository Azure/azure-sdk-for-java, pull requests merged in 2022-12, with the labels that each got.

#32290 Add diagnostics to readMany result
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
Labels: Cosmos

#32274 Storage Common Partitioned Upload Utils Based on `BinaryData`
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/ListByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobParallelUploadOptions.java
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/BufferAggregator.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/BinaryDataParamWrapper.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/BinaryDataProvider.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/UploadUtilsTest.groovy
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileParallelUploadOptions.java
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileUploadOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileUploadRangeOptions.java
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsParallelUploadDataLengthMismatch[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsParallelUploadDataLengthMismatch[1].json
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage, Azure.Core

#32312 Changing isServerEncrypted parameter to Boolean to avoid NPE
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlockBlobItem.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlockBlobAPITestBlockBlobItemNullHeaders.json
Labels: Storage

#32401 Address the apireview commnts for azure identity extensions
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/jdbc/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/jdbc/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/jdbc/azure-identity-extensions/CHANGELOG.md
  sdk/jdbc/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/mysql/AzureMysqlAuthenticationPlugin.java
  sdk/jdbc/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/mysql/package-info.java
  sdk/jdbc/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/postgresql/AzurePostgresqlAuthenticationPlugin.java
  sdk/jdbc/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/postgresql/package-info.java
  sdk/jdbc/azure-identity-extensions/src/main/java/module-info.java
  sdk/jdbc/azure-identity-extensions/src/test/java/com/azure/identity/extensions/jdbc/mysql/AzureMysqlAuthenticationPluginTest.java
  sdk/jdbc/azure-identity-extensions/src/test/java/com/azure/identity/extensions/jdbc/postgresql/AzurePostgresqlAuthenticationPluginTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertyConstants.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertyConstantsTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jdbc/JdbcPropertiesBeanPostProcessorWithApplicationContextRunnerTest.java
Labels: azure-spring

#32156 Spring Cloud Azure support native images
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/properties/AzureServiceBusCommonProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/aot/SpringCloudAzureCoreRuntimeHints.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/RuntimeHintsUtils.java
  sdk/spring/spring-cloud-azure-core/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/aot/AzureSdkRuntimeHints.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/aot/SpringCloudAzureServiceRuntimeHints.java
  sdk/spring/spring-cloud-azure-service/src/main/resources/META-INF/native-image/azure/native-image.properties
  sdk/spring/spring-cloud-azure-service/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/aot/SpringMessagingAzureEventHubsRuntimeHints.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/aot/SpringMessagingAzureServiceBusRuntimeHints.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/resources/META-INF/spring/aot.factories
Labels: azure-spring

#32336 Enhance the Azure AD Resource Server configurer to accept the custom jwt granted authorities converter
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/AadResourceServerHttpSecurityConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapi/AadResourceServerConfigurationTests.java
Labels: azure-spring

#32397 Sync eng/common directory with azure-sdk-tools for PR 4856
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: EngSys, Central-EngSys

#30274 Don't Log First Exception when Connecting to Proxy
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/HttpProxyHandler.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/RequestProxyState.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpProxyHandlerTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/HttpResponseDrainsBufferTests.java
Labels: Azure.Core

#32380 Move azure-core-tracing-opentelemetry Samples into a Separate Library
  eng/versioning/version_client.txt
  sdk/core/azure-core-tracing-opentelemetry-samples/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry-samples/README.md
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/src/samples/java/com/azure/core/tracing/opentelemetry/samples/CreateConfigurationSettingLoggingExporterSample.java
  sdk/core/azure-core-tracing-opentelemetry-samples/src/samples/java/com/azure/core/tracing/opentelemetry/samples/ListKeyVaultSecretsAutoConfigurationSample.java
  sdk/core/azure-core-tracing-opentelemetry-samples/src/samples/java/com/azure/core/tracing/opentelemetry/samples/ListKeyVaultSecretsJaegerExporterSample.java
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/ci.yml
  sdk/core/pom.xml
Labels: Azure.Core

#32417 Fix Spring hints for storage
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/aot/AzureSdkRuntimeHints.java
Labels: azure-spring

#32426 Increment versions for jdbc releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/jdbc/azure-identity-extensions/CHANGELOG.md
  sdk/jdbc/azure-identity-extensions/pom.xml
Labels: auto-merge

#32432 Clean up versions, docs, and links after jdbc release branch merged to main
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/jdbc/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/jdbc/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/jdbc/azure-identity-extensions/CHANGELOG.md
  sdk/jdbc/azure-identity-extensions/README.md
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
Labels: azure-spring

#32434 Remove jdbc from spring pom profile
  sdk/spring/pom.xml
Labels: azure-spring

#32428 Move classes of Key Vaule environment to internal implementation package
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultOperation.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultPropertySource.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultEnvironmentPostProcessorTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultOperationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/environment/KeyVaultPropertySourceTests.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/AzureCloudTypeEnvironmentPostProcessor.java
Labels: azure-spring

#32438 remove jdbc from spring pom profile
  sdk/spring/pom.xml
Labels: azure-spring

#32306 Parse expire_in attribute as seconds from now
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/MSITokenTests.java
Labels: Azure.Identity

#32452 Sync eng/common directory with azure-sdk-tools for PR 4878
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#32458 Fix ua in Key Vault property source
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/KeyVaultEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/KeyVaultSecretPropertySourceUserAgentTests.java
Labels: azure-spring

#32335 Enhance the token authentication converter to accept the custom jwt granted authorities converter
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/AadJwtBearerTokenAuthenticationConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/AadResourceServerWebSecurityConfigurerAdapter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/AadJwtBearerTokenAuthenticationConverterTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapi/AadResourceServerConfigurationTests.java
Labels: azure-spring

#29407 Add stress tests module for Service Bus
  .vscode/cspell.json
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/.helmignore
  sdk/servicebus/azure-messaging-servicebus-stress/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus-stress/Chart.yaml
  sdk/servicebus/azure-messaging-servicebus-stress/Dockerfile
  sdk/servicebus/azure-messaging-servicebus-stress/README.md
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/scenarios-matrix.yaml
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/ServiceBusScenarioRunner.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/config/RateMeter.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/config/RateMeterConfig.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/config/TelemetryConfig.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/config/package-info.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/package-info.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageProcessor.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageReceiver.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageReceiverAsync.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageSender.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageSenderAsync.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/MessageSessionSender.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/ServiceBusScenario.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/scenarios/package-info.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/util/EntityType.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/util/ScenarioOptions.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/util/package-info.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/resources/logback.xml
  sdk/servicebus/azure-messaging-servicebus-stress/stress-test-resources.bicep
  sdk/servicebus/azure-messaging-servicebus-stress/templates/job.yaml
  sdk/servicebus/ci.yml
  sdk/servicebus/pom.xml
Labels: Service Bus

#31714 Add stress test for EventHubBufferedProducer and update options for existing test
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/Chart.yaml
  sdk/eventhubs/azure-messaging-eventhubs-stress/Dockerfile
  sdk/eventhubs/azure-messaging-eventhubs-stress/README.md
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/scenarios-matrix.yaml
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/RateMeter.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/RateMeterConfig.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/TelemetryConfig.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/config/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/CheckpointReset.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessor.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventProcessorWithOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSender.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSenderBuffered.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/ScenarioOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/resources/logback.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/templates/job.yaml
Labels: Event Hubs

#32437 Move jdbc/azure-identity-extensions to identity/azure-identity-extensions
  .github/CODEOWNERS
  .vscode/cspell.json
  pom.xml
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/README.md
  sdk/identity/azure-identity-extensions/img/mysql-architecture.png
  sdk/identity/azure-identity-extensions/img/mysql_design.png
  sdk/identity/azure-identity-extensions/img/postgresql-architecture.png
  sdk/identity/azure-identity-extensions/img/postgresql_design.png
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/TokenCredentialProviderOptions.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/provider/DefaultTokenCredentialProvider.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/provider/TokenCredentialProvider.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/provider/TokenCredentialProviders.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/enums/AuthProperty.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/exception/AzureInstantiateException.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/template/AzureAuthenticationTemplate.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/token/AccessTokenResolver.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/token/AccessTokenResolverImpl.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/token/AccessTokenResolverOptions.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/utils/ClassUtil.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/mysql/AzureMysqlAuthenticationPlugin.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/mysql/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/postgresql/AzurePostgresqlAuthenticationPlugin.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/jdbc/postgresql/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/module-info.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/credential/provider/DefaultTokenCredentialProviderTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/credential/provider/SpringTokenCredentialProviderTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/credential/provider/TokenCredentialProvidersTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/enums/AuthPropertyFromEnvTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/enums/AuthPropertyFromPropertiesTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/template/AzureAuthenticationTemplateTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/token/AccessTokenResolverOptionsTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/jdbc/mysql/AzureMysqlAuthenticationPluginTest.java
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/jdbc/postgresql/AzurePostgresqlAuthenticationPluginTest.java
  sdk/identity/ci.yml
  sdk/identity/pom.xml
  sdk/jdbc/pom.xml
  sdk/jdbc/tests.yml
Labels: Azure.Identity, azure-spring

#32468 Remove early deprecation metadata for Spring configuration
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: azure-spring

#32465 Remove some meaningless service bus jms properties
  .vscode/cspell.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsPropertiesTests.java
Labels: azure-spring

#32471 Add Profiling Flag to Performance Pipelines
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/perf.yml
  sdk/storage/azure-storage-blob/perf.yml
  sdk/storage/azure-storage-file-datalake/perf.yml
  sdk/storage/azure-storage-file-share/perf.yml
Labels: Storage, Azure.Core

#32446 BlockBlob upload uses BinaryData throughout
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSimpleUploadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
Labels: Storage, Azure.Core

#32448 AppendBlock uses BinaryData throughout
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobAppendBlockOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
Labels: Storage

#32478 Prepare spring cloud azure 6.0.0 beta.4 release
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#32303 Fanling/cadl dpg anomalydetector
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectAnomaliesEntireSeries.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectAnomaliesLastPoint.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectChangePoints.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/MultivariateSample.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/ReadmeSamples.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTestBase.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/MultivariateAnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/resources/session-records/AnomalyDetectorClientTest.testDetect.json
Labels: customer-reported

#32481 Fanling/cadl dpg anomalydetector
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/MultivariateAnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/resources/session-records/MultivariateAnomalyDetectorClientTest.testDetect.json
Labels: customer-reported

#32482 Update readme in azure-identity-extensions
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
Labels: Client, Azure.Identity, azure-spring

#32444 See if Redesign of InputStream Converter Helps Memory Usage
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: Storage

#32490 Only Include SDK Test Results
  eng/pipelines/templates/steps/build-and-test.yml
Labels: EngSys

#31973 Update versions and artifact ids for the file spring-reference.yml
  sdk/spring/spring-reference.yml
Labels: azure-spring

#32503 Use a unified link for each version changelog in the submodules
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#32389 Support PPE live tests for Identity SDK
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/communication-tests-template.yml
Labels: Communication, Communication - Identity

#32517 Update documentation to support the ones in EventHubMessageSerializer.
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
Labels: Event Hubs

#32499 Remove client logging section from Azure Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#32521 updateTheSDKCapabilitiesHeaderName
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
Labels: Cosmos

#31732 `azure-json-reflect` README Update
  sdk/core/azure-json-reflect/README.md
Labels: Azure.Core, customer-reported

#31723 Read many optimization
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncReadManyBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Configuration.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/Main.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos

#32513 Update Spring changelog
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#32510 Simple the changelog structure for each release
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#32519 Sync eng/common directory with azure-sdk-tools for PR 4813
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#32542 session recordings to fix the pipeline
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallAndUnmixedAudioTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallUnmixedAudioAffinityTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenHangupAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndRejectAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/playMediaInACallAutomatedTest.txt
Labels: Communication

#32548 [Automation] Generate Fluent Lite from resourcehealth#package-2020-05-01
  eng/versioning/version_client.txt
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/README.md
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/pom.xml
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/ResourceHealthManager.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/fluent/AvailabilityStatusesClient.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/fluent/OperationsClient.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/fluent/models/AvailabilityStatusInner.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/fluent/models/OperationListResultInner.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/AvailabilityStatusesClientImpl.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/AvailabilityStatusesImpl.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/MicrosoftResourceHealthBuilder.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/MicrosoftResourceHealthImpl.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/OperationsClientImpl.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/implementation/OperationsImpl.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/AvailabilityStateValues.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/AvailabilityStatusListResult.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/AvailabilityStatusProperties.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/AvailabilityStatusPropertiesRecentlyResolved.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/AvailabilityStatuses.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/Operation.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/OperationDisplay.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/Operations.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/ReasonChronicityTypes.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/RecommendedAction.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/ServiceImpactingEvent.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/ServiceImpactingEventIncidentProperties.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/main/java/com/azure/resourcemanager/resourcehealth/models/ServiceImpactingEventStatus.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusInnerTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusListResultTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusPropertiesRecentlyResolvedTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusPropertiesTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusesGetByResourceWithResponseMockTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusesListByResourceGroupMockTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusesListBySubscriptionIdMockTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/AvailabilityStatusesListMockTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/OperationDisplayTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/OperationListResultInnerTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/OperationTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/OperationsListWithResponseMockTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/RecommendedActionTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/ServiceImpactingEventIncidentPropertiesTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/ServiceImpactingEventStatusTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/generated/ServiceImpactingEventTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Mgmt - Track 2

#32550 Increment versions for resourcehealth releases
  eng/versioning/version_client.txt
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/pom.xml
Labels: auto-merge

#32551 Increment version for anomalydetector releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
Labels: auto-merge

#32500 Add recognize choices and custom cognitive service endpoint
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImplBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ContentsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallingsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AnswerCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ChoiceResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/GenderType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecognitionTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecognizeInputTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecognizeOptionsInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TextSourceInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AnswerCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallMediaRecognizeChoiceOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/ChoiceResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecognizeInputType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TextSource.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ReasonCode.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RecognizeCompleted.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndAnswerThenHangupAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallAutomationAsyncClientAutomatedLiveTests.createVOIPCallAndRejectAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallConnectionAsyncAutomatedLiveTests.createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallMediaAsyncAutomatedLiveTests.playMediaInACallAutomatedTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallAndUnmixedAudioTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/CallRecordingAutomatedLiveTests.createACSCallUnmixedAudioAffinityTest[1].json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallAndUnmixedAudioTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallAndUnmixedAudioTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallUnmixedAudioAffinityTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallUnmixedAudioAffinityTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenHangupAutomatedTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenHangupAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndRejectAutomatedTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndRejectAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/playMediaInACallAutomatedTest
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/playMediaInACallAutomatedTest.txt
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication

#32561 Prep Identity patch release dec 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#32559 Support for additional property types.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/Messages.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/resources/eventhubs-messages.properties
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/SampleCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
Labels: Event Hubs, Client

#32549 Move cloud foundry classes into impl package
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cloudfoundry/environment/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/cloudfoundry/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/AzureCfService.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/AzureCloudFoundryEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/Constants.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/VcapPojo.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/VcapProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/VcapResult.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/VcapServiceConfig.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/VcapServiceType.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/AzureCloudFoundryEnvironmentPostProcessorTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cloudfoundry/environment/AzureCloudFoundryServiceApplicationTests.java
Labels: azure-spring

#32536 Correct some word errors and add a picture in readme.
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/README.md
  sdk/identity/azure-identity-extensions/img/passwordless-connections-from-java-apps-to-data-services.jpg
Labels: Client, Azure.Identity, azure-spring

#32523 Sync StageBlock uses BinaryData throughout
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
Labels: Storage

#32574 Sync eng/common directory with azure-sdk-tools for PR 4930
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#32504 Add the azure-identity-extensions to the azure-sdk-bom
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Azure.Core

#32552 Xiada/improve jms api
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsContainerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsPropertiesTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfigurationTests.java
Labels: azure-spring

#32505 mgmt, core, deprecate AZURE_GERMANY
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
Labels: Mgmt, Azure.Core

#32507 mgmt, core, add unit test for LRO with BinaryData
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
Labels: Mgmt, Azure.Core

#32493 Parallelize Checkstyle, Spotbugs, and RevApi Everywhere
  eng/pipelines/scripts/Get-Linting-Reports.ps1
  eng/pipelines/templates/jobs/ci.yml
Labels: EngSys

#32520 Change How Maven Cache is Cleaned
  eng/pipelines/templates/steps/generate-project-list-and-cache-maven-repository.yml
  eng/scripts/Remove-Azure-Artifacts-From-Cache.ps1
Labels: EngSys

#32578 call source code refactor
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImplBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallConnectionsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ContentsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallingsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/ServerCallsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/CallSourceConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallSource.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
Labels: Communication

#32590 adding missing changelogs for blob-cryptography and blob-nio
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
Labels: Storage

#30513 Use 1ES pool for pipeline "cosmos-ctl-image-build"
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos

#32531 Test Spring integration tests
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application.yml
Labels: azure-spring

#32584 Update prepare-pipelines.yml to use the new jobs-based template
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys

#32582 Reduce public APIs of Spring Cloud Azure
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/compatibility/AzureCompatibilityVerifierAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureCompatibilityNotMetException.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureGlobalConfigurationEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/compatibility/AzureCompatibilityVerifierAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifierTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureGlobalConfigurationEnvironmentPostProcessorTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsPropertiesTests.java
Labels: azure-spring

#32498 Validate Code Generation as Part of CI
  eng/pipelines/scripts/Compare-CurrentToCodegeneration.ps1
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Invoke-Codegeneration.ps1
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/Update-Codegeneration.ps1
  sdk/storage/azure-storage-file-datalake/swagger/Update-Codegeneration.ps1
  sdk/storage/azure-storage-file-share/swagger/Update-Codegeneration.ps1
  sdk/storage/azure-storage-queue/swagger/Update-Codegeneration.ps1
Labels: Storage, EngSys

#32495 BlobOutputStream Implementations use BinaryData
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobOutputStream.java
Labels: Storage

#32450 Client Retry Policy: Adds HTTP timeouts with request-level cross-region retry
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
Labels: Cosmos

#32589 [Formrecognizer] Remove unsupported feature tests
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.docx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.html
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.pptx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.xlsx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testDocxDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testHtmlDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testPptDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testXlsxDocumentPrebuiltRead[1].json
Labels: Cognitive - Form Recognizer

#32607 Sync eng/common directory with azure-sdk-tools for PR 4944
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31576 Add new ServiceBus perf test
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/App.java
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/ReceiveMessagesTest.java
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/SendBatchTest.java
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/ServiceBusTestUtil.java
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/core/ServiceBatchTest.java
  sdk/servicebus/azure-messaging-servicebus-track1-perf/src/main/java/com/microsoft/azure/servicebus/perf/core/ServiceBusStressOptions.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/App.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ReceiveAndDeleteMessageTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ReceiveAndLockMessageTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ReceiveMessagesTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/SendBatchTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusBatchTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusEventTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusStressOptions.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceBusTestUtil.java
  sdk/servicebus/azure-messaging-servicebus-track2-perf/src/main/java/com/azure/messaging/servicebus/perf/ServiceTest.java
Labels: Service Bus

#32597 Reduce public apis for Spring Cloud Azure AD
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadAuthenticationFilterAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadWebApplicationConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cResourceServerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AadResourceServerConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/configuration/AzureAuthenticationFilterConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/filter/AadAuthenticationFilterPropertiesTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/filter/AadAuthenticationFilterTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/filter/ResourceRetrieverTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/WebApplicationContextRunnerUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/AadB2cConstants.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AadB2cResourceServerAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/AbstractAadB2cOAuth2ClientTestConfigurations.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/WebOAuth2ClientApp.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/configuration/WebResourceServerApp.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAuthorizationRequestResolverTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cConstants.java
Labels: azure-spring

#32606 Sync eng/common directory with azure-sdk-tools for PR 4514
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#32620 Sync eng/common directory with azure-sdk-tools for PR 4962
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#32595 Refactor implementation of AadOAuth2UserService
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2UserService.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2UserServiceTest.java
Labels: Client, azure-spring

#32622 Refactor implementation of AadOAuth2UserService
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2UserService.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AadOAuth2UserServiceTest.java
Labels: azure-spring

#32626 Use the group id and artifact id name as the layout
  sdk/spring/spring-cloud-azure-service/src/main/resources/META-INF/native-image/com.azure.spring/spring-cloud-azure-service/native-image.properties
Labels: azure-spring

#32613 Improve verifier ut and rename test configuration
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreatorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/RestTemplateProxyCustomizerTestConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/oauth2/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifierTest.java
Labels: azure-spring

#32310 More autorest cleanup in Eventgrid
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/EventGridPublisherClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/EventGridPublisherClientImplBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/SystemEventMappingNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsUserDisconnectedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiReleaseCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiReleaseDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiReleaseUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementApiUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementProductCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementProductDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementProductUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementSubscriptionCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementSubscriptionDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementSubscriptionUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementUserCreatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementUserDeletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiManagementUserUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherImplTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/customization/MultipleEventsInSameBatch.json
  sdk/eventgrid/azure-messaging-eventgrid/src/test/resources/customization/ServiceBusDeadletterMessagesAvailableWithNoListenersEvent.json
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#32618 Sync eng/common directory with azure-sdk-tools for PR 4940
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#32601 Cosmos: Bulk processing - reduce log noise level
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
Labels: Cosmos

#32632 Sync eng/common directory with azure-sdk-tools for PR 4988
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#32635 Upgrade external dependencies to Spring Cloud 2022.0.0
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/CHANGELOG.md
  sdk/spring/scripts/spring_boot_3.0.0_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: App Configuration, azure-spring

#32515 Use slf4j-simple instead of Log4j in Test Logging
  eng/versioning/external_dependencies.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/test-shared/assembly/assembly.xml
  sdk/storage/azure-storage-common/src/test/resources/log4j2.xml
  sdk/storage/azure-storage-common/src/test/resources/simplelogger.properties
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Storage

#32357 webpubsub, fix "audience" bug in async client
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/WebPubSubServiceAsyncClient.java
Labels: WebPubSub

#32651 fix the unit test failure of kafka configuring user agent
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AbstractKafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AbstractKafkaPropertiesBeanPostProcessorTest.java
Labels: azure-spring

#32655 Increment versions for recoveryservices releases
  eng/versioning/version_client.txt
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
Labels: auto-merge

#32656 Increment versions for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
Labels: auto-merge, Digital Twins

#32650 Added azure cosmos setup guide
  sdk/cosmos/azure-cosmos/docs/setup.md
Labels: Cosmos

#32649 Sync eng/common directory with azure-sdk-tools for PR 4880
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#32453 Migrate from win2019 to win2022
  common/smoke-tests/smoke-test-dependencies.yml
  common/smoke-tests/smoke-test-samples.yml
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/bompreparation.yml
  eng/pipelines/partner-release.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
  sdk/storage/platform-matrix-ci.json
  sdk/storage/platform-matrix.json
  sdk/tables/platform-matrix.json
Labels: Storage, Communication

#32661 Update prepare-pipelines flags
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys

#32420 Better Logging and Miscellaneous Cleanup
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/RetriableDownloadFlux.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/SemanticVersion.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/StringBuilderWriter.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/TypeUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Base64Url.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ConfigurationBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ConfigurationProperty.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ConfigurationPropertyBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/DateTimeRfc1123.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ETag.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/MetricsOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/io/IOUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/LoggingEventBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedFluxCore.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/paging/ContinuablePagedIterable.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
Labels: Azure.Core

#32663 Updated compute gateway encoding test
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos/docs/setup.md
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosItemIdEncodingTest.java
Labels: Cosmos

#32516 Enhancing CosmosTemplate to Support Multi-Tenancy at a DB Level
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/MultiTenantDBCosmosFactory.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/MultiTenantDBCosmosFactoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/MultiCosmosTemplateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/MultiTenantTestRepositoryConfig.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/CosmosFactory.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/MultiTenantDBCosmosFactory.java
Labels: Cosmos, azure-spring

#32467 Remove some meaningless jms properties
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsPropertiesTests.java
Labels: azure-spring

#32682 Sync eng/common directory with azure-sdk-tools for PR 4985
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#32672 Fixing java benchmark
  sdk/cosmos/azure-cosmos-benchmark/ctl/run_benchmark.sh
Labels: Cosmos

#32678 [Cosmos] update changelogs to reflect missed changes and new issue introduced
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#32664 Standardize RetryPolicy Behavior Between Async and Sync
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/RetriableDownloadFlux.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/RetryPolicyTests.java
Labels: Azure.Core

#32683 Upgrade Netty, Reactor, and Vertx
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/appconfiguration/azure-spring-cloud-feature-management/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: Event Hubs, App Configuration, Azure.Core, azure-spring

#32676 Increment versions for mobilenetwork releases
  eng/versioning/version_client.txt
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/pom.xml
Labels: auto-merge

#32686 [Automation] Generate Fluent Lite from digitaltwins#package-2022-10
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/README.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/src/main/java/com/azure/resourcemanager/digitaltwins/AzureDigitalTwinsManager.java
Labels: Mgmt - Track 2

#32690 Increment versions for servicenetworking releases
  eng/versioning/version_client.txt
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/pom.xml
Labels: auto-merge

#32691 Increment versions for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
Labels: auto-merge, Digital Twins

#32693 Fixing azure-cosmos-spark changelogs for V4.12.2
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
Labels: Cosmos

#32623 Enhance the ObjectMapper support Spring Boot's pattern to enable autoconfiguration
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageQueueMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageQueueMessagingAutoConfigurationTests.java
Labels: azure-spring

#32699 Fix CHANGELOG error
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#32703 Enhance the ObjectMapper support Spring Boot's pattern to enable autoconfiguration
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/AzureStorageQueueMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/AzureStorageQueueMessagingAutoConfigurationTests.java
Labels: azure-spring

#32617 filter while copying spark sample
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/CSharp/filtering-while-querying.ipynb
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/filtering-during-migration.py
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Scala/filteringDuringMigration.scala
Labels: Cosmos

#32710 Update spring compatibility tests
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#32713 Update spring compatibility tests
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
Labels: azure-spring

#32709 Update compatibility tests about 3.0
  sdk/spring/compatibility-tests.yml
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#32714 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#32718 increase throughput units of EH IT
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/eventhubs/test-resources.json
Labels: azure-spring

#32717 Support the PROPERTY_AZURE_CLIENT_CERTIFICATE_PASSWORD property in Spring
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalConfigurationEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/context/AzureGlobalConfigurationEnvironmentPostProcessorTests.java
Labels: azure-spring

#32719 increase throughput units of EH IT
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/eventhubs/test-resources.json
Labels: azure-spring

#32720 Support the PROPERTY_AZURE_CLIENT_CERTIFICATE_PASSWORD property in Spring
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureGlobalConfigurationEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureGlobalConfigurationEnvironmentPostProcessorTests.java
Labels: azure-spring

#32716 Hide classes into impl package
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/AzureStorageQueueMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusTemplateConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/AzureStorageQueueMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/implementation/ServiceBusMessageChannelBinder.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/implementation/config/ServiceBusBinderConfiguration.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/implementation/config/ServiceBusBinderConfigurationTests.java
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapterTests.java
  sdk/spring/spring-integration-azure-servicebus/src/test/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapterTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/config/MethodEventHubsListenerEndpoint.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/listener/adapter/BatchMessagingMessageListenerAdapter.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/listener/adapter/RecordMessagingMessageListenerAdapter.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/support/converter/EventHubsBatchMessageConverter.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/support/converter/EventHubsMessageConverter.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/support/converter/package-info.java
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/implementation/support/converter/EventHubsBatchMessageConverterTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/implementation/support/converter/EventHubsMessageConverterTests.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/config/MethodServiceBusListenerEndpoint.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/listener/adapter/RecordMessagingMessageListenerAdapter.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/support/converter/ServiceBusMessageConverter.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/support/converter/package-info.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/implementation/support/converter/ServiceBusMessageConverterTests.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/messaging/storage/queue/core/StorageQueueTemplate.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/messaging/storage/queue/implementation/support/converter/StorageQueueMessageConverter.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/messaging/storage/queue/support/converter/package-info.java
  sdk/spring/spring-messaging-azure-storage-queue/src/main/java/com/azure/spring/messaging/storage/queue/support/package-info.java
  sdk/spring/spring-messaging-azure-storage-queue/src/test/java/com/azure/spring/messaging/storage/queue/implementation/converter/StorageQueueMessageConverterTests.java
  sdk/spring/spring-messaging-azure/src/main/java/com/azure/spring/messaging/implementation/converter/AbstractJacksonAzureMessageConverter.java
Labels: azure-spring

#32721 Improve message UT
  sdk/spring/spring-integration-azure-eventhubs/src/test/java/com/azure/spring/integration/eventhubs/inbound/EventHubsInboundChannelAdapterTests.java
  sdk/spring/spring-integration-azure-servicebus/src/test/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapterTests.java
Labels: azure-spring

#32364 Minor improvements to Context Implementation
  sdk/core/azure-core/src/main/java/com/azure/core/util/Context.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
Labels: Azure.Core

#32722 Update changelog
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#32727 Use doFinally Instead of doOnTerminate to Support Cancellation Scenarios
  sdk/core/azure-core/src/main/java/com/azure/core/credential/SimpleTokenCache.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/SimpleTokenCacheTests.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
Labels: Storage, Client, Azure.Core
