Repository Azure/azure-sdk-for-java, pull requests merged in 2022-06, with the labels that each got.

#29144 Update link about app configuration sample.
  sdk/appconfiguration/azure-spring-cloud-feature-management/README.md
  sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config/README.md
Labels: Client, App Configuration, azure-spring

#29172 Updating service versions for blobs and datalake
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#29174 Release for azure-cosmos 4.30.1 and adding reason to rntbd channel health check failures
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#29173 OKHttp propagate underlying cause.
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
Labels: Azure.Core

#29165 mgmt, add sample for DiskEncryptionSet and CMK
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/compute/samples/CreateVirtualMachineEncryptedUsingCustomerManagedKey.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/compute/samples/ManageDiskEncryptionSet.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/samples/Utils.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/ComputeSampleTests.java
Labels: Mgmt, Mgmt - Track 2

#29095 fix-servicebus-message listener issue
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/src/main/java/com/azure/spring/integration/servicebus/inbound/ServiceBusInboundChannelAdapter.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProcessorFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/properties/ServiceBusContainerProperties.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/annotation/ServiceBusListener.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/config/ServiceBusMessageListenerContainerFactory.java
Labels: azure-spring

#29188 Change pipeline name of Spring compatibility tests
  sdk/spring/compatibility-tests.yml
Labels: azure-spring

#28728 Update compatibility test for spring
  sdk/spring/compatibility-tests-job.yml
  sdk/spring/compatibility-tests.yml
  sdk/spring/scripts/compatibility_delete_version.py
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_insert_dependencymanagement.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/supported-version-matrix.json
Labels: azure-spring

#29179 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#29151 Fix sparse checkout and set list of service directories based upon the project list
  eng/pipelines/code-quality-reports.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
  eng/scripts/Generate-ServiceDirectories-From-Project-List.ps1
  eng/scripts/generate_from_source_pom.py
Labels: EngSys

#29100 Sync eng/common directory with azure-sdk-tools for PR 3381
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#29195 Sync eng/common directory with azure-sdk-tools for PR 3392
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: EngSys, Central-EngSys

#29198 Add perf-test-core to additional modules since the service directory perf module requires it
  sdk/eventhubs/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
Labels: Event Hubs, Service Bus, Storage, EngSys

#29199 Update/consolidate logger keys
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/LinkHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/SendLinkHandler.java
Labels: Azure.Core

#29202 Prepare Azure Core for June release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity

#29205 Add Secure Supply Chain Analysis to Aggregate Reports after Component Detection
  eng/pipelines/aggregate-reports.yml
Labels: EngSys

#29208 Fix live tests storage.
  sdk/storage/tests-template.yml
Labels: Storage

#29207 Update ci.yml to include perf libraries as additional modules
  sdk/communication/azure-communication-common-perf/README.md
  sdk/communication/azure-communication-common/ci.yml
  sdk/containerregistry/azure-containers-containerregistry-perf/README.md
  sdk/containerregistry/ci.yml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/README.md
  sdk/formrecognizer/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.yml
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/README.md
  sdk/metricsadvisor/ci.yml
  sdk/monitor/azure-monitor-query-perf/README.md
  sdk/monitor/ci.yml
  sdk/resourcemanager/ci.yml
  sdk/resourcemanager/pom.xml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.data.yml
  sdk/tables/ci.yml
  sdk/textanalytics/azure-ai-textanalytics-perf/README.md
  sdk/textanalytics/ci.yml
Labels: KeyVault, Search, Service Bus, Storage, Azure.Identity, Cognitive - Text Analytics, Cognitive - Form Recognizer, Communication, Cognitive - Metrics Advisor

#29211 [Storage] Fix flaky tests.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
Labels: Storage

#29213 Update parent pom to use Java 11 to compile and prepare for core release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-jackson-tests/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/pom.xml
  sdk/e2e/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core, Azure.Identity

#29189 mgmt, storage enabling blob versioning
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/implementation/BlobServicePropertiesImpl.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/models/BlobServiceProperties.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/test/java/com/azure/resourcemanager/storage/StorageBlobServicesTests.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/test/resources/session-records/StorageBlobServicesTests.canCreateBlobServices.json
  sdk/resourcemanager/azure-resourcemanager-storage/src/test/resources/session-records/StorageBlobServicesTests.canUpdateBlobServices.json
Labels: Mgmt, Mgmt - Track 2

#29192 update cosmos properties description
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosProperties.java
Labels: Client, azure-spring, azure-spring-cosmos

#29160 Remove the junit-vintage-engine from Spring projects
  sdk/spring/spring-cloud-azure-test-eventhubs-binder/pom.xml
  sdk/spring/spring-cloud-azure-test-eventhubs-binder/src/test/java/com/azure/spring/sample/eventhubs/binder/EventHubsBinderSyncModeIT.java
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: azure-spring

#29236 Delete superfluous SDK/communication/ci.yml file
  sdk/communication/ci.yml
Labels: Communication

#29235 Fix more flaky tests.
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
Labels: Storage

#28732 Azure Redis Cache AAD OSS Client Library Samples
  sdk/identity/azure-identity/images/lettuce-aad-handshake.png
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/ApiManager.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Authenticator.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClient.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClientBuilder.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Main.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenResult.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AuthenticationInfo.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
Labels: Azure.Identity

#29237 Enable large file tests on okhttp
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/LargeFileTest.groovy
Labels: Storage, test bug

#29242 Fixing error where query fails when setAllowPartialErrors is true.
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryAllowPartialSuccess.json
Labels: Event Hubs, Monitor - Query

#29244 Prepare release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/pom.xml
Labels: Azure.Identity, auto-merge

#29240 Disable AmqpChannelProcessorTest
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
Labels: Azure.Core

#29154 Added private method isCheckPointValid and JedisPool object
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/JedisRedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/redis/RedisClientConfig.java
Labels: Event Hubs

#28467 Stop processor client when load balance occurs errors.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobEventProcessorClientStoreTest.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
Labels: Event Hubs

#29177 dpg, upgrade codegen and autorest.core
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/generate_data.py
  eng/mgmt/automation/generate_utils.py
  eng/mgmt/automation/parameters.py
Labels: Mgmt, DPG

#29175 [Key Vault] Adding error logging for when downloading an HSM's security domain fails.
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault, Client, test-reliability

#29259 update cosmos properties decription
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosProperties.java
Labels: azure-spring

#29263 Regenerate azure-communication-identity with new Autorest Features
  sdk/communication/azure-communication-identity/swagger/README.md
Labels: Communication

#29238 Fully Support Null Fields when Using Custom ObjectSerializer
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/IndexActionConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/IndexAction.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/IndexActionSerializer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexAction.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryAnswerType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryCaptionType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryLanguage.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QuerySpellerType.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/implementation/models/IndexActionTests.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/pom.xml
  sdk/search/azure-search-documents/swagger/src/main/java/SearchIndexCustomizations.java
Labels: Search, Client

#29050 Add Sync Rest Proxy Tests and Centralize Rest Proxy Common Code - Part 1
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ResponseExceptionConstructorCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/ResponseConstructorsCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyUtils.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/ResponseConstructorsCacheBenchMark.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/ResponseConstructorsCacheLambdaMetaFactory.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyResponseConstructionBenchmark.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/RestProxyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/SyncRestProxyTests.java
Labels: Azure.Core

#29275 DigitalTwins-Core 1.2.3 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: Digital Twins

#29204 Adding new sub options overloads and changing lease duration to int
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FileSystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathExpiryOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsAppendDataHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsCreateHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsFlushDataHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsReadHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsUpdateHeaders.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakePathCreateOptions.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakePathScheduleDeletionOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeDirectoryClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemAsyncClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/PathAsyncClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/PathClientJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/CopyableFileSmbPropertiesList.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCopyOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
Labels: Storage

#29280 Prepare azure-search-documents for June 2022 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search, Client

#29283 Increment version for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
  sdk/search/pom.xml
Labels: Search, auto-merge

#29279 Fix Large BinaryData from file.
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Labels: Azure.Core

#29201 [AMQP] Ensure ReceiverEndpointState completes in case no link remote-close ack
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/docs/reactor-receiver-closeflow.png
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorReceiver.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/AmqpReceiveLinkProcessor.java
Labels: Event Hubs, Service Bus, Azure.Core, pillar-reliability, amqp

#29281 Enable batch release for Core and Identity
  sdk/core/ci.yml
  sdk/identity/ci.yml
Labels: EngSys, Azure.Core, Azure.Identity

#29292 Increment version for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/pom.xml
Labels: auto-merge, Digital Twins

#29176 Convert http logs into structured ones
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpChannelProcessor.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/DefaultRedirectStrategy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/LoggingKeys.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/logging/ClientLoggerTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/AppConfigurationUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultCertificateUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTests.java
Labels: Azure.Core

#29258 Remove the junit4 from Spring Cloud Azure
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/graph/UserPrincipalAzureADGraphTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/aad/implementation/graph/UserPrincipalMicrosoftGraphTests.java
Labels: azure-spring

#29094 Add storage common property configuration supports all Storage features
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/condition/ConditionalOnAnyProperty.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/condition/OnAnyPropertyCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/properties/utils/AzureGlobalPropertiesUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/properties/utils/AzureServicePropertiesUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/common/AzureStorageProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobResourceAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareResourceAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/condition/ConditionalOnAnyPropertyTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-starter-storage/pom.xml
Labels: Client, azure-spring, azure-spring-storage

#29270 Prepare formrecognizer beta 4.0.0-beta.5 release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentPageHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/DocumentTableHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentPage.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentPageKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/models/DocumentTable.java
Labels: Cognitive - Form Recognizer

#29298 Increment version for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
Labels: App Configuration, auto-merge

#29300 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#29268 Fixed Store Response headers case insensitivity (alternative)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerOpenConnectionsAndInitCachesTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/ConsistencyTestsBase.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreResponseTest.java
  sdk/cosmos/test-resources.json
Labels: Cosmos

#29293 Update scripts to support automatic updating vesions of spring
  sdk/spring/scripts/README.md
  sdk/spring/scripts/get_spring_boot_managed_external_dependencies.py
  sdk/spring/scripts/sync_external_dependencies.py
Labels: azure-spring

#29272 Prepare Metrics Advisor June patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#29303 [AppConfig-June-Patch] Monthly Patch release for June 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/pom.xml
Labels: App Configuration

#29253 Add IdleStateHandler after SslHandler
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConnectionStateListener.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
Labels: Cosmos

#29315 Removing new public ctor overload
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/config/CosmosConfig.java
Labels: Cosmos, azure-spring

#29318 Cosmos monthly release 2022-06
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
Labels: Cosmos, azure-spring

#29319 Add missing credential types to Azure Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#29320 Increment version for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#29323 Increment version for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
  sdk/storage/pom.xml
Labels: Storage, auto-merge

#29306 Add key vault common properties configuration supports all key vault features
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/common/AzureKeyVaultProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/properties/utils/AzureServicePropertiesUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/AzureKeyVaultConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/package-info.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/properties/utils/AzureServicePropertiesUtilsTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/AzureKeyVaultAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/AzureKeyVaultConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzurePropertiesUtils.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/util/AzurePropertiesUtilsTests.java
  sdk/spring/spring-cloud-azure-starter-keyvault/pom.xml
Labels: Client, azure-spring, azure-spring-keyvault

#29331 Increment version for webpubsub releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/pom.xml
Labels: auto-merge

#29311 Pipeline failure fix for the INT env
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CteTestHelper.java
Labels: Communication

#29290 Examine flakey test failures due to timings.
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ActiveClientTokenManagerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Labels: Azure.Core

#29338 Fixes bug preventing usage of feedRangeFilter with change feed
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeInternal.java
Labels: Cosmos

#29348 [TA-June-Patch] Monthly patch release for June 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsServiceVersion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsException.java
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics

#29249 App Config Fix Push Refresh URI Issue
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/config/web/AppConfigurationEndpoint.java
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/config/web/AppConfigurationEndpointTest.java
Labels: App Configuration

#29353 Increment version for mixedreality releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/mixedreality/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: auto-merge

#26160 Cosmos Spark connector: Ingestion scenario best practices
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/scenarios/Ingestion.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/scenarios/media/BulkIngestionProcessOverview.png
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/scenarios/media/Spark_partitioning.png
Labels: Cosmos, Client

#29355 Increment version for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
Labels: Cosmos, auto-merge

#29357 [EG] Monthly patch release for June 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/pom.xml
Labels: Event Grid

#29359 Increment version for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#29362 Increment version for applicationinsights releases
  eng/versioning/version_client.txt
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/CHANGELOG.md
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/pom.xml
Labels: auto-merge

#29363 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#29383 Enable Batch Release for Group2 Packages part 1
  sdk/appconfiguration/ci.yml
  sdk/cosmos/ci.yml
  sdk/digitaltwins/ci.yml
  sdk/eventgrid/ci.yml
  sdk/formrecognizer/ci.yml
  sdk/mixedreality/ci.yml
  sdk/search/ci.yml
  sdk/storage/ci.yml
  sdk/textanalytics/ci.yml
  sdk/webpubsub/ci.yml
Labels: Cosmos, Event Grid, Search, Storage, App Configuration, Cognitive - Text Analytics, Cognitive - Form Recognizer, Central-EngSys, Digital Twins

#29385 Prepare release for schema registry for June.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
Labels: Schema Registry

#29374 Increment version for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/monitor/pom.xml
Labels: auto-merge

#29387 Enable batch release for resource manager single artifact pipelines part 1
  sdk/advisor/ci.yml
  sdk/apimanagement/ci.yml
  sdk/appcontainers/ci.yml
  sdk/applicationinsights/ci.yml
  sdk/automanage/ci.yml
  sdk/automation/ci.yml
  sdk/avs/ci.yml
  sdk/azureadexternalidentities/ci.yml
  sdk/azurearcdata/ci.yml
  sdk/azurestack/ci.yml
  sdk/azurestackhci/ci.yml
  sdk/baremetalinfrastructure/ci.yml
  sdk/batch/ci.yml
  sdk/batchai/ci.yml
  sdk/billing/ci.yml
  sdk/botservice/ci.yml
  sdk/changeanalysis/ci.yml
  sdk/cognitiveservices/ci.yml
  sdk/commerce/ci.yml
  sdk/confluent/ci.yml
Labels: Central-EngSys

#29388 Increment version for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: auto-merge

#29367 Prepare Tables patch release for June 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Labels: Client, Tables

#29384 Prepare Key Vault patch release for June 2022
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault, Azure.Identity

#29390 Enable batch release for resource manager single library pipelines part 3
  sdk/dynatrace/ci.yml
  sdk/edgeorder/ci.yml
  sdk/education/ci.yml
  sdk/elastic/ci.yml
  sdk/extendedlocation/ci.yml
  sdk/frontdoor/ci.yml
  sdk/hanaonazure/ci.yml
  sdk/hardwaresecuritymodules/ci.yml
  sdk/hdinsight/ci.yml
  sdk/healthbot/ci.yml
  sdk/healthcareapis/ci.yml
  sdk/hybridcompute/ci.yml
  sdk/hybridkubernetes/ci.yml
  sdk/hybridnetwork/ci.yml
  sdk/imagebuilder/ci.yml
  sdk/iotcentral/ci.yml
  sdk/iothub/ci.yml
  sdk/kubernetesconfiguration/ci.yml
  sdk/kusto/ci.yml
  sdk/labservices/ci.yml
Labels: Central-EngSys

#29392 Enable batch release for resource manager single library pipelines part 4
  sdk/loadtestservice/ci.yml
  sdk/loganalytics/ci.yml
  sdk/logic/ci.yml
  sdk/logz/ci.yml
  sdk/machinelearning/ci.yml
  sdk/machinelearningservices/ci.yml
  sdk/maintenance/ci.yml
  sdk/managedapplications/ci.yml
  sdk/maps/ci.yml
  sdk/mariadb/ci.yml
  sdk/marketplaceordering/ci.yml
  sdk/mediaservices/ci.yml
  sdk/mobilenetwork/ci.yml
  sdk/mysql/ci.yml
  sdk/mysqlflexibleserver/ci.yml
  sdk/netapp/ci.yml
  sdk/notificationhubs/ci.yml
  sdk/oep/ci.yml
  sdk/operationsmanagement/ci.yml
  sdk/peering/ci.yml
  sdk/policyinsights/ci.yml
  sdk/postgresql/ci.yml
  sdk/postgresqlflexibleserver/ci.yml
  sdk/powerbidedicated/ci.yml
Labels: Central-EngSys

#29393 Enable batch release for resource manager single library pipelines part 5
  sdk/quota/ci.yml
  sdk/recoveryservices/ci.yml
  sdk/recoveryservicesbackup/ci.yml
  sdk/redisenterprise/ci.yml
  sdk/relay/ci.yml
  sdk/resourcegraph/ci.yml
  sdk/resourcehealth/ci.yml
  sdk/resourcemover/ci.yml
  sdk/scvmm/ci.yml
  sdk/security/ci.yml
  sdk/securityinsights/ci.yml
  sdk/servicefabric/ci.yml
  sdk/servicelinker/ci.yml
  sdk/signalr/ci.yml
  sdk/sqlvirtualmachine/ci.yml
  sdk/storagecache/ci.yml
  sdk/storageimportexport/ci.yml
  sdk/storagepool/ci.yml
  sdk/streamanalytics/ci.yml
  sdk/subscription/ci.yml
  sdk/support/ci.yml
  sdk/timeseriesinsights/ci.yml
  sdk/vmwarecloudsimple/ci.yml
  sdk/workloads/ci.yml
Labels: Central-EngSys

#29397 Increment version for schemaregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/pom.xml
Labels: Schema Registry, auto-merge

#29321 Fix flaky tests - openConnectionsAndInitCachesForDirectMode
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosContainerOpenConnectionsAndInitCachesTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
Labels: Cosmos, azure-spring

#29395 Increment version for attestation releases
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/attestation/pom.xml
Labels: auto-merge

#29394 Increment version for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/pom.xml
Labels: auto-merge

#29399 Increment versions for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
Labels: Cosmos, KeyVault, Storage, App Configuration, Azure.Core, Azure.Identity, azure-spring, auto-merge

#29313 servicebus jms autoconfiguration enabled fix
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/jms/ServiceBusJmsAutoConfigurationTests.java
Labels: azure-spring

#29325 Add new scripts to support automatic updating vesions of spring
  sdk/spring/scripts/README.md
  sdk/spring/scripts/compatibility_delete_version.py
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_insert_dependencymanagement.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/scripts/get_spring_boot_managed_external_dependencies.py
  sdk/spring/scripts/replace_util.py
  sdk/spring/scripts/sync_external_dependencies.py
  sdk/spring/scripts/update_changelog.py
  sdk/spring/scripts/update_external_dependencies_comment.py
Labels: azure-spring

#29368 Add configuration for storage and key vault global enable properties
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobResourceAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareResourceAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/AzureKeyVaultAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/AzureStorageAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfigurationTests.java
Labels: Client, azure-spring, azure-spring-keyvault, azure-spring-storage

#29402 Increment version for eventhubs releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-redis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Grid, Event Hubs, Azure.Core, Schema Registry, azure-spring, auto-merge

#29410 Enable batch release part 3
  sdk/attestation/ci.yml
  sdk/communication/azure-communication-callingserver/ci.yml
  sdk/communication/azure-communication-chat/ci.yml
  sdk/communication/azure-communication-common/ci.yml
  sdk/communication/azure-communication-identity/ci.yml
  sdk/communication/azure-communication-networktraversal/ci.yml
  sdk/communication/azure-communication-phonenumbers/ci.yml
  sdk/communication/azure-communication-sms/ci.yml
  sdk/communication/azure-resourcemanager-communication/ci.yml
  sdk/containerregistry/ci.yml
  sdk/eventhubs/ci.yml
  sdk/monitor/ci.yml
  sdk/schemaregistry/ci.yml
  sdk/tables/ci.yml
Labels: Event Hubs, Schema Registry, Central-EngSys, Communication

#29413 Cosmos Spark: Add comment about `id` column population in migration document
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/migration.md
Labels: Cosmos

#29401 Upgrade phone numbers from 1.1.0-beta.6 to 1.1.0-beta.7
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#29400 Update Azure Communication Services SMS from 1.1.2 to 1.1.3
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#29415 Sync eng/common directory with azure-sdk-tools for PR 3433
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#29317 Increment version for appconfiguration releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml
  sdk/appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring-experimental/spring-cloud-azure-native-configuration/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: App Configuration, Azure.Core, azure-spring, auto-merge

#29416 [TA] Merge patch release note back to main repo from release SHA
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#29424 Fix spring scripts about version update
  sdk/spring/scripts/update_changelog.py
  sdk/spring/scripts/update_external_dependencies_comment.py
Labels: azure-spring

#29461 Sync eng/common directory with azure-sdk-tools for PR 3386
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
Labels: EngSys, Central-EngSys

#29464 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#29049 HttpPipeline sync refactor
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipeline.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpPipelineNextSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelinePolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelineSyncPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineCallState.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpPipelineNextSyncPolicyHelper.java
  sdk/core/azure-core/src/test/java/com/azure/core/UserAgentTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpPipelineTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpPipelinePolicyTests.java
Labels: Azure.Core

#29423 Sync eng/common directory with azure-sdk-tools for PR 3402
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#29463 Add `BinaryData.isReplayable`
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/BinaryDataContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/ByteArrayContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FluxByteBufferContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/InputStreamContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/SerializableContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/StringContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/BinaryData.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Labels: Azure.Core

#29418 Fixing STG83 tests with correct service versions
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAPITest.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/APISpec.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAPITests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncAPITests.groovy
Labels: Storage

#29468 Move Thread dumper to core.
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core-test/src/main/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: Azure.Core

#29474 Increment version for purview releases
  eng/versioning/version_client.txt
  sdk/purview/azure-analytics-purview-catalog/CHANGELOG.md
  sdk/purview/azure-analytics-purview-catalog/pom.xml
  sdk/purview/pom.xml
Labels: auto-merge

#29478 Fix spring compatibility test in 2.5.x
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/AppConfigurationUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultCertificateUserAgentTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/useragent/http/KeyVaultSecretUserAgentTests.java
Labels: azure-spring

#29487 Fix azure-cosmos CI Pipeline
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: Cosmos, EngSys, Client

#29421 Add 3.1.12 FR patch release to main
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#29472 Jimin/june
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/pom.xml
Labels: Communication

#29485 Fixed regression due to too strict LatestLsn validation
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/PartitionMetadata.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerSpec.scala
Labels: Cosmos

#29490 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#29382 Increment version for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge

#29493 Stg 83 Encryption v2 beta release prep
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#29496 Fixing analytics violations found in release pipeline
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/migration.md
Labels: Cosmos

#29492 [Amqp] Moving tests using VirtualTimeScheduler to dedicated test classes to run them in sequential and isolated mode
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/AmqpChannelProcessorTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorReceiverTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorSenderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/RetryUtilTest.java
Labels: Azure.Core

#29494 Updating Javadocs for RequestRetryOptions and BlobParallelUploadOptions
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobParallelUploadOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
Labels: Storage

#29497 Increment versions for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
  sdk/storage/pom.xml
Labels: Storage, auto-merge

#29498 Cosmos Spark release 4.11.2 and removing one noisy log
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
Labels: Cosmos

#29479 [TA] Regenerated based on the new swagger 2022-05-01
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeHealthcareEntityAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsServiceVersion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeActionsResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeHealthcareEntitiesResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeTextsImpl.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryActionResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/ExtractSummaryResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/MicrosoftCognitiveLanguageServiceImplBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/TextAnalyticsClientImplBuilder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextLROResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextLROResultsKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextLROTask.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextLROTaskKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/ClassificationDocumentResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomLabelClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomLabelClassificationResultDocumentsItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiLabelClassificationLROResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiLabelClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomMultiLabelClassificationResultDocumentsItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/CustomSingleLabelClassificationLROResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/ErrorCode.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/FhirVersion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntitiesDocumentResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/JobState.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/State.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TaskState.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksExtractiveSummarizationTasksItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/TasksStateTasksOld.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeActionsResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryActionResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/FhirVersion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsActions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/ExtractSummaryResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeExtractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntities.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesActionSample.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesActionSampleAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Cognitive - Text Analytics

#29501 Fix BinaryData.fromFile scenarios preventing deletion.
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/BinaryDataContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
Labels: Azure.Core

#29511 Make Large File Tests Faster and Remove StepVerifier DefaultTimeout
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/PollerTests.java
Labels: Client, Azure.Core, test-enhancement

#29514 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#29515 June 2022 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
Labels: Service Bus

#29510 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
Labels: Cosmos, auto-merge

#29513 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/pom.xml
Labels: auto-merge, Communication

#29518 Increment version for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge

#29519 Update verify_release_set to handle uberJars and detect when no libraries have been selected for release
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/versioning/verify_release_set.ps1
  sdk/cosmos/ci.yml
Labels: Cosmos, Central-EngSys

#29522 Increment version for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
Labels: Client, Communication, Communication - Phone Numbers

#29521 Update servicebus to use batch release
  sdk/servicebus/ci.yml
Labels: Service Bus, Central-EngSys

#29467 Exclude test recording files.
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: azure-spring

#29526 fixWrongPRReferenceInChangeLog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#29409 Fix sovereign clouds authority host in azure identity clients not configured bug
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/context/AzureTokenCredentialAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/AbstractAzureServiceConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/appconfiguration/AzureAppConfigurationAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/cosmos/AzureCosmosAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/certificates/AzureKeyVaultCertificateAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/keyvault/secrets/AzureKeyVaultSecretAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/blob/AzureStorageBlobResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/fileshare/AzureStorageFileShareResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/storage/queue/AzureStorageQueueAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/credential/resolver/AzureTokenCredentialResolver.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/AbstractAzureServiceClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/ReflectionUtils.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/credential/resolver/AzureTokenCredentialResolverTests.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/factory/credential/AzureAadCredentialBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/factory/credential/ClientCertificateCredentialBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/factory/credential/ClientSecretCredentialBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/factory/credential/UsernamePasswordCredentialBuilderFactoryTest.java
Labels: azure-spring

#29524 Sync eng/common directory with azure-sdk-tools for PR 3457
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#29499 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#29473 Update spring to enable live testing in sovereign clouds
  sdk/spring/spring-cloud-azure-test-eventhubs-binder/src/test/resources/application.yaml
  sdk/spring/spring-cloud-azure-test-eventhubs-binder/test-resources.json
  sdk/spring/tests.yml
Labels: azure-spring

#29530 Updated spring boot version support policy
  sdk/cosmos/azure-spring-data-cosmos/README.md
Labels: Cosmos, azure-spring

#29540 fixed changelog with correct PR link
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
Labels: Cosmos

#29412 API Changes to Support Code Generation
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseError.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JsonUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/AnimalWithTypeIdContainingDot.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/CatWithTypeIdContainingDot.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/ComposeTurtles.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/DogWithTypeIdContainingDot.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/FlattenDangling.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/Foo.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/NewFoo.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/RabbitWithTypeIdContainingDot.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/FlattenedProduct.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/FlattenedPropertiesAndJsonAnyGetter.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/JsonFlattenNestedInner.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/JsonFlattenOnArrayType.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/JsonFlattenOnCollectionType.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/JsonFlattenOnJsonIgnoredProperty.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/Student.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineIdentity.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineScaleSet.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineScaleSetNetworkConfiguration.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineScaleSetNetworkProfile.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/models/jsonflatten/VirtualMachineScaleSetVMProfile.java
  sdk/core/azure-json/src/main/java/com/azure/json/DefaultJsonReader.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonReader.java
  sdk/core/azure-json/src/main/java/com/azure/json/JsonWriter.java
  sdk/core/azure-json/src/test/java/com/azure/json/JsonWriterContractTests.java
Labels: Client, Azure.Core

#29537 Fix Spring compatibility test error
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/AbstractAzureServiceConfigurationTests.java
Labels: azure-spring

#29548 [Automation] Generate Fluent Lite from botservice#package-preview-2021-05
  sdk/botservice/azure-resourcemanager-botservice/CHANGELOG.md
  sdk/botservice/azure-resourcemanager-botservice/README.md
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/BotServiceManager.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/AzureBotServiceImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/BotConnectionsClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/BotImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/BotsClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/ChannelsClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/ConnectionSettingImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/DirectLinesClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/HostSettingsClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/PrivateEndpointConnectionsClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/implementation/PrivateLinkResourcesClientImpl.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/Bot.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/ConnectionSetting.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/Kind.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/MsaAppType.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/OperationResultStatus.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/PrivateEndpointConnectionProvisioningState.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/PrivateEndpointServiceConnectionStatus.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/PublicNetworkAccess.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/SkuName.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/SkuTier.java
  sdk/botservice/azure-resourcemanager-botservice/src/main/java/com/azure/resourcemanager/botservice/models/SlackChannelProperties.java
Labels: Mgmt - Track 2

#29546 Update Spring Cloud Azure Support File
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: Client, azure-spring

#29549 Increment versions for botservice releases
  eng/versioning/version_client.txt
  sdk/botservice/azure-resourcemanager-botservice/CHANGELOG.md
  sdk/botservice/azure-resourcemanager-botservice/pom.xml
Labels: auto-merge

#29552 [Automation] Generate Fluent Lite from datafactory#package-2018-06
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/fluent/models/SapOdpLinkedServiceTypeProperties.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/fluent/models/SapOdpResourceDatasetTypeProperties.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/Dataset.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/LinkedService.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/SapOdpLinkedService.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/SapOdpResourceDataset.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/SapOdpSource.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/TabularSource.java
Labels: Mgmt - Track 2

#29553 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: auto-merge
