Repository Azure/azure-sdk-for-java, pull requests merged in 2023-03, with the labels that each got.

#33792 Sync eng/common directory with azure-sdk-tools for PR 5581
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#33768 Sync change - Fix Java Dev Feed Publish
  sdk/spring/ci.yml
Labels: azure-spring

#33796 [TA] Renaming for Dynamic classification and API changes.
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/DynamicClassifyUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/BooleanResolutionPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/BaseResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/BooleanResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DynamicClassifyOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DynamicClassificationBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DynamicClassifyBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DynamicClassifyBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#33800 Sync eng/common directory with azure-sdk-tools for PR 5540
  eng/common/scripts/Cadl-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#33644 Fixing App Configuration Test Case
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/AppConfiguration.java
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/CustomClient.java
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/test-resources.json
Labels: azure-spring

#33805 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
Labels: auto-merge

#33786 Fix the live tests for Azure Confidential Ledger client library
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/UserTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetConsortiumMembersTests.testGetConsortiumMembersTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetEnclaveQuotesTests.testGetEnclaveQuotes.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testGetCollectionIdsTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testPostLedgerEntryTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/UserTests.testGetUserTests.json
Labels: auto-merge, Confidential Ledger

#33824 [TA] fix the ordering of categries in dynamicClassifyBatch API
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Client, Cognitive - Text Analytics

#33818 Prepare KeyVault JCA patch release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: bug, azure-spring, azure-spring-jca

#33826 Increment versions for keyvault releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: auto-merge

#33730 Fixing issues with returning a Flux<JsonNode> in reactive spring.
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
Labels: Cosmos, azure-spring

#33837 [Confidential Ledger] Add missing outputs for the test-resource template
  sdk/confidentialledger/azure-security-confidentialledger/test-resources.json
Labels: auto-merge

#33839 Sync eng/common directory with azure-sdk-tools for PR 5603
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#33702 Remove the legacy RntbdServiceEndpoint tag from metrics
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
Labels: Cosmos, customer-reported

#33835 Sync eng/common directory with azure-sdk-tools for PR 5595
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#33860 [TA] Remove enum value BooleanResoluton and renamings
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AbstractSummaryUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/BaseResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/BooleanResolution.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AbstractSummaryAction.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AbstractSummaryOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ResolutionKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AbstractiveSummarization.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AbstractiveSummarizationAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#33855 Re-enable test proxy unit tests
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Labels: auto-merge

#33868 [Confidential Ledger] Increment SDK Release
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
Labels: auto-merge, Confidential Ledger

#33861 Fixes to live tests.
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/CertificateContentType.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTestBase.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/FakeCredentialInTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.createIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.deleteCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.getCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.importCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.listCertificateIssuers[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateAsyncClientTest.updateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.createIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.deleteCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.getCertificateIssuer[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.importCertificate[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.listCertificateIssuers[1].json
  sdk/keyvault/azure-security-keyvault-certificates/src/test/resources/session-records/CertificateClientTest.updateIssuer[1].json
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-reliability

#33862 Removed support for OKP operations.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/SignatureHashResolver.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/implementation/KeySignRequest.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/implementation/KeyVerifyRequest.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/models/SignatureAlgorithm.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyClientImpl.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyRequestParameters.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateOkpKeyOptions.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/JsonWebKey.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyCurveName.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyType.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientManagedHsmTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientManagedHsmTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientManagedHsmTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTestBase.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/CryptographyClientManagedHsmTest.signVerifyOkp[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/CryptographyClientTest.signVerifyOkp[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyAsyncClientManagedHsmTest.createOkpKey[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyAsyncClientTest.createOkpKey[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyClientManagedHsmTest.createOkpKey[1].json
  sdk/keyvault/azure-security-keyvault-keys/src/test/resources/session-records/KeyClientTest.createOkpKey[1].json
Labels: KeyVault, Client

#33884 Updated Azure Identity CHANGELOG and README after release.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
Labels: Client, Azure.Identity, Docs

#33886 [Automation] Generate Fluent Lite from storagemover#package-2023-03
  eng/versioning/version_client.txt
  sdk/storagemover/azure-resourcemanager-storagemover/CHANGELOG.md
  sdk/storagemover/azure-resourcemanager-storagemover/README.md
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
  sdk/storagemover/azure-resourcemanager-storagemover/src/main/java/com/azure/resourcemanager/storagemover/StorageMoverManager.java
Labels: Mgmt - Track 2

#33888 Increment versions for storagemover releases
  eng/versioning/version_client.txt
  sdk/storagemover/azure-resourcemanager-storagemover/CHANGELOG.md
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
Labels: auto-merge

#33882 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Labels: auto-merge

#33568 Updates to the automated patch release process
  eng/pipelines/patch_release_client.txt
  eng/scripts/Generate-Patches-For-Automatic-Releases.ps1
  eng/scripts/Update-Artifacts-List-For-Patch-Release.ps1
  eng/scripts/patchhelpers.ps1
  eng/scripts/patchreleases.ps1
Labels: EngSys, Client

#33600 Onboard EventHubs onto new tracing
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubsProducerInstrumentation.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/instrumentation/EventHubsConsumerInstrumentation.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/instrumentation/EventHubsTracer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/BackCompatTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientMetadataIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/LongRunningTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxyIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxyReceiveTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySelectorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySendTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SetPrefetchCountTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusMeter.java
Labels: Event Hubs

#33899 Sync eng/common directory with azure-sdk-tools for PR 5627
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#33904 Increment versions for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: auto-merge

#33897 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge

#33906 Quoted object key expected but got `{` at line 3848 column 5
  .github/fabricbot.json
Labels: EngSys

#33910 [TA] Revert 33381 "[TA] Replace json object Map<String, Object> by BinaryData"
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeHealthcareEntitiesResultPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/AnalyzeTextsImpl.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntitiesDocumentResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntitiesDocumentResultWithDocumentDetectedLanguage.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareResultDocumentsItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AnalyzeHealthcareEntitiesResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntities.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesActionSample.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesActionSampleAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/lro/AnalyzeHealthcareEntitiesAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Client, Cognitive - Text Analytics

#33913 [TA] Add missing override methods for bespoken method optional bags.
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/AbstractSummaryOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractSummaryOptions.java
Labels: Client, Cognitive - Text Analytics

#33914 [TA] Simplify README samples + Prepare for the new beta release
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/ReadmeSamples.java
Labels: Client, Cognitive - Text Analytics

#33917 Servicebus Java SDK March 2023 release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#33918 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, auto-merge

#33916 [TA] Fix the regression result in extractive summarization test
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.analyzeExtractSummaryActionWithDefaultParameterValues[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.analyzeExtractSummaryActionWithDefaultParameterValues[1].json
Labels: Client, Cognitive - Text Analytics

#33920 Increment versions for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge, Communication

#33924 Addressing #33545 post-merge feedback
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlobReadBehavior.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehavior.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehaviorTests.groovy
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/ByteBufferMarkableInputStream.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageSeekableByteChannel.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/StorageSeekableByteChannelTest.groovy
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileReadBehavior.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileWriteBehavior.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileWriteBehaviorTests.groovy
  sdk/storage/azure-storage-file-share/src/test/resources/StorageSeekableByteChannelShareFileWriteBehaviorTestsWriteBehaviorThrowsWhenSeekingBeyondRange[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/StorageSeekableByteChannelShareFileWriteBehaviorTestsWriteBehaviorThrowsWhenSeekingBeyondRange[1].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/StorageSeekableByteChannelShareFileWriteBehaviorTestsWriteBehaviorThrowsWhenSeekingBeyondRange[0].json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/StorageSeekableByteChannelShareFileWriteBehaviorTestsWriteBehaviorThrowsWhenSeekingBeyondRange[1].json
Labels: Storage

#33907 Fix Java Version in Latest JDK Cache
  eng/pipelines/templates/steps/install-latest-jdk.yml
Labels: EngSys

#33915 fix linux/mac string for detecting missing az/azd
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Labels: Azure.Identity

#33933 ACR API cleanup
  sdk/containerregistry/azure-containers-containerregistry/README.md
  sdk/containerregistry/azure-containers-containerregistry/TROUBLESHOOTING.md
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistriesImpl.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/UtilsImpl.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestWrapper.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/V2Manifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ContainerRegistryAudience.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/DownloadManifestResult.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/OciDescriptor.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/OciImageManifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/UploadManifestOptions.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/specialized/ContainerRegistryBlobAsyncClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/specialized/ContainerRegistryBlobClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DownloadImage.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/DownloadImageAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/ReadmeSamples.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/UploadImage.java
  sdk/containerregistry/azure-containers-containerregistry/src/samples/java/com/azure/containers/containerregistry/UploadImageAsync.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryBlobClientIntegrationTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryBlobClientTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryClientsTestBase.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/TestUtils.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.canDownloadManifestWithListOfTypes[1].json
  sdk/containerregistry/azure-containers-containerregistry/src/test/resources/session-records/ContainerRegistryBlobClientIntegrationTests.downloadManifestWithListOfTypesAsync[1].json
  sdk/containerregistry/azure-containers-containerregistry/swagger/autorest.md
Labels: Container Registry, Client

#33929 Increment versions for loadtesting releases
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Labels: auto-merge

#33919 Update automated patch releases tracking file
  eng/pipelines/patch_release_client.txt
  eng/scripts/Update-Artifacts-List-For-Patch-Release.ps1
Labels: Client

#33922 Patch release of the azure-communication-identity [1.4.4]
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
Labels: Communication

#33909 Using VersionedClient for SeekableByteChannel Tests
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[2].json
Labels: Storage

#33937 Removing the dead code in ServiceBusReceiverAsyncClient attempting to deal with session scenario when there is not going to be one
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ReceiverOptions.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSession.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
Labels: Service Bus, Azure.Core

#33936 Increment versions for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: auto-merge

#33945 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
Labels: auto-merge, Communication

#33942 Increment versions for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: auto-merge

#33939 Add http clients to test proxy
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Labels: Azure.Core, auto-merge

#32501 [Cosmos] Tests and changes for subpartitioning
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/OrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternalHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKind.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
Labels: Cosmos

#33943 Test Proxy minor updates
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Labels: Azure.Core

#33947 client method for getting write channel blockblob
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSeekableByteChannelWriteMode.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehavior.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehaviorTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[2].json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelWriteOptions.java
Labels: Storage

#33940 [ACS][CallAutomation] CallRecording BYOS changes
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/BlobStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ExternalStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PlaySourceInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PlaySourceTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/SsmlSource.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/BlobStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/ExternalStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorageType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication

#33950 Increment versions for purview releases
  eng/versioning/version_client.txt
  sdk/purview/azure-analytics-purview-sharing/CHANGELOG.md
  sdk/purview/azure-analytics-purview-sharing/pom.xml
Labels: auto-merge

#33954 STG87 Changelog Updates
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#33949 Alter `BlobClientBase.openSeekableByteChannelRead()` to return the `BlobProperties` fetched when making the channel
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobSeekableByteChannelReadResult.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
Labels: Storage

#33766 Update Managed Identity token refresh
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/MSITokenTests.java
Labels: Azure.Identity

#33975 [Automation] Generate Fluent Lite from datafactory#package-2018-06
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/README.md
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/DataFactoryManager.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/fluent/models/AzureBlobFSLinkedServiceTypeProperties.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/main/java/com/azure/resourcemanager/datafactory/models/AzureBlobFSLinkedService.java
Labels: Mgmt - Track 2

#33976 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: auto-merge

#33978 Increment versions for storagecache releases
  eng/versioning/version_client.txt
  sdk/storagecache/azure-resourcemanager-storagecache/CHANGELOG.md
  sdk/storagecache/azure-resourcemanager-storagecache/pom.xml
Labels: auto-merge

#33981 Increment versions for redisenterprise releases
  eng/versioning/version_client.txt
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/pom.xml
Labels: auto-merge

#33984 [TA] Disable dynamic classify test and remove samples
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DynamicClassifyBatchDocuments.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/batch/DynamicClassifyBatchDocumentsAsync.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Client, Cognitive - Text Analytics

#33960 Fix Cognitive Search Javadocs in the Latest JDK Versions
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedAsyncSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/FieldBuilderOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/IndexDocumentsBatch.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/IndexingParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexAction.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexBatchBase.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexBatchException.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/IndexDocumentsOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/RangeFacetResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchAudience.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/ValueFacetResult.java
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Labels: Search, Client, Java Source Code Rules

#33992 Add string comparison of tones
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CollectChoiceResultInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CollectChoiceResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CollectTonesResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/DtmfTone.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#34000 Remove prohibited java package in java.com.azure.cosmos.test
  sdk/cosmos/azure-cosmos-test/src/samples/java/com/azure/cosmos/test/ReadmeSamples.java
Labels: Cosmos

#33997 Increment Azure Communication Services SMS from 1.1.10 to 1.1.11
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication

#33996 Upgrade ACS Phone Numbers beta from 1.1.0-beta.14 to 1.1.0-beta.15
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Labels: Communication

#33854 App Configuration Spring Feature Management Usage
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationFeatureManagementPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationPropertySourceLocator.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/AppConfigurationReplicaClientsBuilder.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/HostType.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/RequestTracingConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/http/policy/BaseAppConfigurationPolicy.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/http/policy/FeatureFlagTracing.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/http/policy/TracingInfo.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/implementation/properties/ConfigStore.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/AppConfigurationFeatureManagementPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/AppConfigurationPropertySourceLocatorTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/AppConfigurationReplicaClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/http/policy/BaseAppConfigurationPolicyTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/http/policy/FeatureFlagTracingTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/config/implementation/http/policy/TracingInfoTest.java
Labels: bug, feature-request, azure-spring, azure-spring-app-configuration

#33990 Regenerate Azure Container Registry using Source Autorest
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrAccessToken.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrorInfo.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrors.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrManifests.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrRefreshToken.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactTagPropertiesInternal.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/DeleteRepositoryResult.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/FsLayer.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/History.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ImageSignature.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/JWK.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/JWKHeader.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/Manifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesManifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestList.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestListAttributes.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestWrapper.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestWriteableProperties.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/OCIIndex.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/Paths108HwamOauth2ExchangePostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/PathsV3R3RxOauth2TokenPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/Platform.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/Repositories.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/RepositoryTags.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/RepositoryWriteableProperties.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/TagAttributesBase.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/TagAttributesTag.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/TagList.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/TagWriteableProperties.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/V1Manifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/models/V2Manifest.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactArchitecture.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestOrder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestPlatform.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ArtifactTagOrder.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/ContainerRepositoryProperties.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/OciAnnotations.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/OciDescriptor.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/models/OciImageManifest.java
  sdk/containerregistry/azure-containers-containerregistry/swagger/autorest.md
Labels: Container Registry, Client

#34009 Fix package version after release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
Labels: Communication

#34025 Increment versions for hybridcontainerservice releases
  eng/versioning/version_client.txt
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/CHANGELOG.md
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/pom.xml
Labels: auto-merge

#34023 Fault injection fix
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionConditionInternal.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorRule.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/FaultInjectionRequestContext.java
Labels: Cosmos

#34031 Sync eng/common directory with azure-sdk-tools for PR 5702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#33972 enableHandleLatestChanges API
  .vscode/cspell.json
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ChangeFeedProcessorBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PkRangeIdVersionLeaseStoreBootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/feedRangeGoneHandler/FeedRangeGoneSplitHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/controller/container/ThroughputContainerController.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/FeedRangeGoneSplitHandlerTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionControllerImplTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImplTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/PkRangeIdVersionLeasesBootstrapperImplTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/platform-matrix.json
  sdk/cosmos/test-resources.json
Labels: Cosmos

#33958 [Test Proxy ]Add key with regex sanitizer
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/TestProxySanitizer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
  sdk/core/azure-core-test/src/test/resources/session-records/TestProxyTests.testRecordWithRedaction.json
Labels: Azure.Core

#34042 mgmt, update codegen for a bug fix
  eng/mgmt/automation/parameters.py
Labels: Mgmt

#34028 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#34037 Benchmark changes to allow capturing Open Telemetry metrics
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/TracerProvider.java
Labels: Cosmos

#33970 MSAL expects epoch seconds for `setRefreshInSeconds`, not relative seconds
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/MSITokenTests.java
Labels: Azure.Identity

#34068 [Form recognizer] Add canary to supported clouds
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#34063 Jiriburant/fixing ga release comments
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClientBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingServiceVersion.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/converters/SipRoutingErrorConverter.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/SipRoutingError.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/SipRoutingResponseException.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/module-info.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/AsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/BuilderJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/ReadmeSamples.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/SyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClientBuilderTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingIntegrationTestBase.java
Labels: Communication

#34078 faultInjectionTestFix
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Labels: Cosmos

#34074 Cosmos Release March 2023
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/cosmos/ci.yml
Labels: Cosmos, azure-spring

#34061 Increment versions for desktopvirtualization releases
  eng/versioning/version_client.txt
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/pom.xml
Labels: auto-merge

#34064 Adjust all `pip install` to `python -m pip install`
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  sdk/spring/compatibility-tests-job.yml
  sdk/spring/compatibility-tests.yml
Labels: azure-spring

#34066 Richardcho/remove participant
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RedirectCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RemoveParticipantFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RemoveParticipantSucceeded.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ParticipantsUpdated.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RemoveParticipantFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/RemoveParticipantSucceeded.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication

#34069 Sync eng/common directory with azure-sdk-tools for PR 5722
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#34039 [Communication][Email] Preparing SDK for GA Release
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailServiceVersion.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/implementation/AzureCommunicationEmailServiceImplBuilder.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/implementation/EmailsImpl.java
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailAsyncClientTests.sendEmailToMultipleRecipients[1].json
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailAsyncClientTests.sendEmailToSingleRecipient[1].json
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailAsyncClientTests.sendEmailWithAttachment[1].json
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailClientTests.sendEmailToMultipleRecipients[1].json
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailClientTests.sendEmailToSingleRecipient[1].json
  sdk/communication/azure-communication-email/src/test/resources/session-records/EmailClientTests.sendEmailWithAttachment[1].json
  sdk/communication/azure-communication-email/swagger/README.md
Labels: Communication

#34090 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos-test/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#34099 UpdateChangeLog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#34101 Prepare patch releases for Group 3 libraries for March 2023
  eng/pipelines/patch-release.yml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
Labels: Event Hubs, Client, Remote Rendering

#34102 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
Labels: auto-merge, Communication

#34103 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#34105 Increment version for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#34104 Increment versions for patch releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Grid, Event Hubs, Schema Registry, azure-spring, auto-merge

#34106 Increment versions for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Labels: auto-merge

#34107 Increment versions for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: Azure.Identity, azure-spring, auto-merge

#34097 Key Vault Admin feedback for `7.4`
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultGetSettingsResult.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultListSettingsResult.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultSetting.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/ReadmeSamples.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/SettingsHelloWorld.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/SettingsHelloWorldAsync.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultSettingsAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultSettingsClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultSettingsClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultSettingsClientTestBase.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsAsyncClientTest.getSettings[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsClientTest.getSettings[1].json
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client

#34091 [AppConfig] Default to false if null returned when deserilizing ENABLED in feature flag setting
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationSettingDeserializationHelper.java
Labels: Client, App Configuration

#34112 Increment versions for graphservices releases
  eng/versioning/version_client.txt
  sdk/graphservices/azure-resourcemanager-graphservices/CHANGELOG.md
  sdk/graphservices/azure-resourcemanager-graphservices/pom.xml
Labels: auto-merge

#34116 [Automation] Generate Fluent Lite from desktopvirtualization#package-2022-09
  eng/versioning/version_client.txt
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/README.md
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/pom.xml
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/src/main/java/com/azure/resourcemanager/desktopvirtualization/DesktopVirtualizationManager.java
Labels: Mgmt - Track 2

#34118 Increment versions for reservations releases
  eng/versioning/version_client.txt
  sdk/reservations/azure-resourcemanager-reservations/CHANGELOG.md
  sdk/reservations/azure-resourcemanager-reservations/pom.xml
Labels: auto-merge

#34119 Increment versions for desktopvirtualization releases
  eng/versioning/version_client.txt
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/azure-resourcemanager-desktopvirtualization/pom.xml
Labels: auto-merge

#34131 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
Labels: auto-merge, Communication

#33116 Identity Javadoc Update
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AadCredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthenticationRecord.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthenticationRequiredException.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureAuthorityHosts.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePowerShellCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePowerShellCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/CredentialUnavailableException.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeInfo.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/IntelliJCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/IntelliJCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/SharedTokenCacheCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/TokenCachePersistenceOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VisualStudioCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VisualStudioCodeCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/doc-files/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/package-info.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
Labels: Azure.Identity

#34133 Increment versions for signalr releases
  eng/versioning/version_client.txt
  sdk/signalr/azure-resourcemanager-signalr/CHANGELOG.md
  sdk/signalr/azure-resourcemanager-signalr/pom.xml
Labels: auto-merge

#34134 Increment versions for imagebuilder releases
  eng/versioning/version_client.txt
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/pom.xml
Labels: auto-merge

#34139 Increment versions for security releases
  eng/versioning/version_client.txt
  sdk/security/azure-resourcemanager-security/CHANGELOG.md
  sdk/security/azure-resourcemanager-security/pom.xml
Labels: auto-merge

#34140 [Automation] Generate Fluent Lite from redisenterprise#package-preview-2023-03
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/README.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/RedisEnterpriseManager.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/implementation/DatabasesClientImpl.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/implementation/OperationsStatusClientImpl.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/implementation/PrivateEndpointConnectionsClientImpl.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/implementation/PrivateLinkResourcesClientImpl.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/implementation/RedisEnterprisesClientImpl.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/ClusterPropertiesEncryptionCustomerManagedKeyEncryptionKeyIdentity.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/ManagedServiceIdentity.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/Name.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/SkuDetail.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/SkuName.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/main/java/com/azure/resourcemanager/redisenterprise/models/UserAssignedIdentity.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/ClusterInnerTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/ClusterListTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/ClusterUpdateTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/ManagedServiceIdentityTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RedisEnterprisesCreateMockTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RedisEnterprisesGetByResourceGroupWithResponseMockTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RedisEnterprisesListByResourceGroupMockTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RedisEnterprisesListMockTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RegionSkuDetailInnerTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/RegionSkuDetailsTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/SkuDetailTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/SkusListMockTests.java
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/src/test/java/com/azure/resourcemanager/redisenterprise/generated/UserAssignedIdentityTests.java
Labels: Mgmt - Track 2

#34141 Increment versions for orbital releases
  eng/versioning/version_client.txt
  sdk/orbital/azure-resourcemanager-orbital/CHANGELOG.md
  sdk/orbital/azure-resourcemanager-orbital/pom.xml
Labels: auto-merge

#34142 Increment versions for redisenterprise releases
  eng/versioning/version_client.txt
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/pom.xml
Labels: auto-merge

#32614 Add sample for write
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#34129 [TA] Removed dynamic classification
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/DynamicClassifyUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/TextAnalyticsClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/DynamicClassifyDocumentResultCollectionPropertiesHelper.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextDynamicClassificationInput.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextTask.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextTaskKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextTaskResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/AnalyzeTextTaskResultsKind.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/DynamicClassificationDocumentResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/DynamicClassificationResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/DynamicClassificationResultDocumentsItem.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/DynamicClassificationTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/DynamicClassificationTaskResult.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/DynamicClassifyOptions.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/util/DynamicClassifyDocumentResultCollection.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/samples/java/com/azure/ai/textanalytics/TextAnalyticsClientJavaDocCodeSnippets.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.dynamicClassificationBatchWarning[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.dynamicClassificationDuplicateIdInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.dynamicClassificationMaxOverload[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsAsyncClientTest.dynamicClassificationStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.dynamicClassificationBatchWarning[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.dynamicClassificationDuplicateIdInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.dynamicClassificationMaxOverload[1].json
  sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/TextAnalyticsClientTest.dynamicClassificationStringInput[1].json
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Client, Cognitive - Text Analytics

#34146 Sync eng/common directory with azure-sdk-tools for PR 5742
  eng/common/scripts/trust-proxy-certificate.ps1
Labels: EngSys, Central-EngSys

#34122 Addressing IllegalStateException due to double free of Connection reference by the Transport
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/GlobalIOHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/GlobalIOHandlerTest.java
Labels: Azure.Core, amqp

#34152 [Communication][Email] Adding parameter for only running the PPE stage
  sdk/communication/azure-communication-email/tests.yml
Labels: Communication

#34149 App Config Spring Feature Flag Updates
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/AlwaysOnFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/FeatureFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/PercentageFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/TargetingFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/TimeWindowFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/filters/package-info.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/targeting/TargetingContextAccessor.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/manager/targeting/TargetingFilterContext.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/manager/filters/TargetingFilterTest.java
Labels: azure-spring

#34096 FaultInjectionFix-WarmUpFlow
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionConditionInternal.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/RntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/IOpenConnectionsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressInformation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/SharedTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/TransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/Uri.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/ChannelPromiseWithExpiryTime.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/IRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/OpenChannelPromise.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/OpenConnectionRntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdOpenConnectionsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/IRntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/RntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
Labels: Cosmos

#34006 mgmt core, add MANAGED_HSM to AzureEnvironment
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/AzureEnvironmentTests.java
Labels: Mgmt, Azure.Core

#34160 Increment versions for webpubsub releases
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-resourcemanager-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-resourcemanager-webpubsub/pom.xml
Labels: auto-merge

#34163 SeekableByteChannel API changes
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobSeekableByteChannelReadOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.groovy
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/StorageSeekableByteChannelBlockBlobWriteBehaviorTests.groovy
  sdk/storage/azure-storage-blob/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[7].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelReadmode[8].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[2].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[3].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[4].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[5].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsClientCreatesAppropriateChannelWritemode-Block[6].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsE2EChannelRead[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobSeekableByteChannelTestsSupportsGreaterThanMaxintBlobSize[2].json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelReadOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileSeekableByteChannelTests.groovy
Labels: Storage

#34167 Cleaning Up before release
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/properties/AppConfigurationProperties.java
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
Labels: azure-spring

#34143 Fix handling when there is no NextRowKey in response header
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/EntityPaged.java
Labels: customer-reported

#34165 add event handler for remove participant events
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/EventHandler.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/EventHandlerUnitTests.java
Labels: Communication

#34086 Add appconfiguration to Spring Cloud Azure
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/pom.xml
Labels: feature-request, azure-spring, azure-spring-app-configuration

#34175 [Automation] Generate Fluent Lite from webpubsub#package-2023-02-01
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-resourcemanager-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-resourcemanager-webpubsub/README.md
  sdk/webpubsub/azure-resourcemanager-webpubsub/pom.xml
  sdk/webpubsub/azure-resourcemanager-webpubsub/src/main/java/com/azure/resourcemanager/webpubsub/WebPubSubManager.java
Labels: Mgmt - Track 2

#34176 Increment versions for webpubsub releases
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-resourcemanager-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-resourcemanager-webpubsub/pom.xml
Labels: auto-merge

#34170 Onboard storage onto new tracing
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatch.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchAsyncClient.java
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClientBuilder.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/BlobChangefeedClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/BuilderHelper.java
Labels: Storage

#34040 Supporting encrypted upload for EncryptedBlobClient.upload(InputStream) with no length specified
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncyptedBlockBlobAPITest.groovy
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/EncyptedBlockBlobAPITestEncryptionUploadISNoLength.json
  sdk/storage/azure-storage-blob-cryptography/src/test/resources/session-records/EncyptedBlockBlobAPITestEncryptionUploadISNoLengthWithOptions.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
Labels: Storage

#34114 Spring Cloud Azure supports native images without adding extra dependencies
  .vscode/cspell.json
  sdk/spring/CHANGELOG.md
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/PasswordlessRuntimeHints.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/SpringCloudAzureCoreRuntimeHints.java
  sdk/spring/spring-cloud-azure-core/src/main/resources/META-INF/native-image/com.azure.spring/spring-cloud-azure-core/native-image.properties
  sdk/spring/spring-cloud-azure-core/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-cloud-azure-native-reachability/CHANGELOG.md
  sdk/spring/spring-cloud-azure-native-reachability/README.md
  sdk/spring/spring-cloud-azure-native-reachability/pom.xml
  sdk/spring/spring-cloud-azure-native-reachability/src/main/java/com/azure/spring/implementation/cloud/service/AzureSdkRuntimeHints.java
  sdk/spring/spring-cloud-azure-native-reachability/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/SpringCloudAzureServiceRuntimeHints.java
  sdk/spring/spring-cloud-azure-service/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/SpringMessagingAzureEventHubsRuntimeHints.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/resources/META-INF/spring/aot.factories
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/SpringMessagingAzureServiceBusRuntimeHints.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/resources/META-INF/spring/aot.factories
Labels: feature-request, azure-spring

#34195 Increment versions for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
Labels: auto-merge, Digital Twins

#33634 add bot identifier
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftBotIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
Labels: Communication, Communication - Common, Communication - Identity

#34204 Updating Web
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/DisabledFeaturesHandler.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/FeatureGate.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/FeatureHandler.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/FeatureManagerSnapshot.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/implementation/FeatureConfig.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/implementation/FeatureManagementWebConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/main/java/com/azure/spring/cloud/feature/management/web/package-info.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/test/java/com/azure/spring/cloud/feature/management/web/FeatureHandlerTest.java
  sdk/spring/spring-cloud-azure-feature-management-web/src/test/java/com/azure/spring/cloud/feature/management/web/FeatureManagerSnapshotTest.java
Labels: azure-spring

#34206 Fixing issues in winutils on Windows
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalogBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITestBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SampleCosmosCatalogE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SampleE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SampleReadE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SampleStructuredStreamingE2EMain.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EConfigResolutionITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TestUtils.scala
Labels: Cosmos

#34212 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/pom.xml
Labels: auto-merge, Communication

#34211 Improved setup.md instructions based on my setup experience.
  sdk/cosmos/azure-cosmos/docs/setup.md
Labels: Cosmos, customer-reported

#34038 [BugFix-AppConfig] Single authentication support only in client builder
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
Labels: Client, App Configuration

#34145 Update CosmosDBLiveSingleContainerMigration.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveSingleContainerMigration.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/README.md
Labels: Cosmos

#34220 [Communication] - Phone Numbers - Prepare for 1.1.0 GA release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: Communication

#33663 Onboard ServiceBus onto new tracing
  sdk/core/azure-core-metrics-opentelemetry/src/main/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributes.java
  sdk/core/azure-core-metrics-opentelemetry/src/test/java/com/azure/core/metrics/opentelemetry/OpenTelemetryAttributesTests.java
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTrace.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntityHelper.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
Labels: Service Bus, Azure.Core

#34187 [Form Recognizer] Support new document types
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.docx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.html
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.pptx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/example.xlsx
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testDocxDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testHtmlDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testPptDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testXlsxDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisClientTest.testDocxDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisClientTest.testHtmlDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisClientTest.testPptDocumentPrebuiltRead[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisClientTest.testXlsxDocumentPrebuiltRead[1].json
Labels: Cognitive - Form Recognizer

#34184 Try removing sync stack context flag
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRegistryClient.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/ContainerRepository.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/RegistryArtifact.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/UtilsImpl.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/specialized/ContainerRegistryBlobClient.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/SyncRestProxyTests.java
  sdk/keyvault/tests.yml
  sdk/monitor/azure-monitor-ingestion/pom.xml
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClient.java
Labels: Azure.Core

#33171 Adding new flag for not having the CosmosIndexingPolicy override.
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/domain/IndexPolicyOverwriteEntity.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/CompositeIndexIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/IndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveIndexPolicyUpdateIT.java
  sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md
  sdk/cosmos/azure-spring-data-cosmos/README.md
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosIndexingPolicy.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/SimpleReactiveCosmosRepository.java
  sdk/cosmos/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/SimpleCosmosRepositoryIllegalTest.java
Labels: Cosmos, breaking-change, azure-spring

#34219 Sync eng/common directory with azure-sdk-tools for PR 5726
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#34190 Added Owner, Group, and Permissions to PathProperties
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/AccessorUtility.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/PathProperties.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/DirectoryAPITestGetPropertiesOwnerGroupPermissions.json
Labels: Storage

#34239 STG87 Beta Release
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#34242 Increment versions for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage, auto-merge

#34245 Increment versions for newrelicobservability releases
  eng/versioning/version_client.txt
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/pom.xml
Labels: auto-merge

#34199 [Communication Identity] Removing contributors who are leaving a team
  .github/CODEOWNERS
Labels: Communication - Common, Communication - Identity
