Repository Azure/azure-sdk-for-java, pull requests merged in 2023-04, with the labels that each got.

#34302 [Automation] Generate Fluent Lite from communication#package-2023-03
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/README.md
  sdk/communication/azure-resourcemanager-communication/SAMPLE.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/CommunicationManager.java
  sdk/communication/azure-resourcemanager-communication/src/main/java/com/azure/resourcemanager/communication/implementation/CommunicationServiceManagementClientImpl.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesCheckNameAvailabilitySamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesCreateOrUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesDeleteSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesGetByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesLinkNotificationHubSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesListByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesListKeysSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesListSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesRegenerateKeySamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/CommunicationServicesUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsCancelVerificationSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsCreateOrUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsDeleteSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsGetSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsInitiateVerificationSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsListByEmailServiceResourceSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/DomainsUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesCreateOrUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesDeleteSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesGetByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesListByResourceGroupSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesListSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesListVerifiedExchangeOnlineDomainsSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/EmailServicesUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/OperationsListSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/SenderUsernamesCreateOrUpdateSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/SenderUsernamesDeleteSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/SenderUsernamesGetSamples.java
  sdk/communication/azure-resourcemanager-communication/src/samples/java/com/azure/resourcemanager/communication/generated/SenderUsernamesListByDomainsSamples.java
Labels: Mgmt - Track 2, Communication

#34282 [AppConfig-Customization] Snapshot models
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/AzureAppConfigurationImpl.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/ErrorDetail.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/InnerError.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/OperationDetails.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/SnapshotListResult.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/SnapshotUpdateParameters.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/models/State.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/CompositionType.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSettingSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SnapshotSettingFilter.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SnapshotStatus.java
  sdk/appconfiguration/azure-data-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-data-appconfiguration/swagger/src/main/java/AppConfigCustomization.java
Labels: App Configuration

#34311 Split up ModelHelper to prevent potential deadlock
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceAsyncClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/ModelHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableEntityAccessHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableItemAccessHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableTransactionActionResponseAccessHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesMultipartSerializer.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/models/TableEntity.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/models/TableItem.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/models/TableTransactionActionResponse.java
Labels: Client, Tables

#34280 Revert URLs on the way back through the pipeline
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Labels: Azure.Core

#34313 Addressing the issue of not retrying on session-acquire timeout (due to using Mono.empty() with RetryWhen in version 7.13.3)
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionManager.java
Labels: Service Bus

#34319 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
Labels: auto-merge, Communication

#34301 ThroughputControlOnSpark - WithoutDedicatedThroughputControlContainer
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ThroughputControlHelper.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EThroughputControlITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#34297 Update DefaultAzureCredential flow diagram
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#34016 Integrate Sync stack for Metrics advisor
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/MetricsAdvisorAsyncClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/MetricsAdvisorClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationAsyncClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationClient.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/administration/MetricsAdvisorAdministrationClientBuilder.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/implementation/MetricsAdvisorImpl.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/com/azure/ai/metricsadvisor/implementation/util/Utility.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/ListDimensionValuesForMetricAsyncSample.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyAlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyDimensionValuesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyDimensionValuesTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentDetectedTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentForAlertAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentForAlertTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentRootCauseAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/AnomalyIncidentRootCauseTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedAsyncClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedClientTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedIngestionOperationAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedIngestionOperationTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DataFeedWithCredentialsAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DatasourceCredentialAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DetectionConfigurationAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DetectionConfigurationTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/DetectionConfigurationTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/FeedbackTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricEnrichedSeriesDataAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricEnrichedSeriesDataTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorAdministrationClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsAdvisorClientTestBase.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsSeriesAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/MetricsSeriesTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/NotificationHookAsyncTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/java/com/azure/ai/metricsadvisor/NotificationHookTest.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedWithCredentialsTest.testBlobStorage[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedWithCredentialsTest.testDataExplorer[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedWithCredentialsTest.testDataLakeGen2[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DataFeedWithCredentialsTest.testSqlServer[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DatasourceCredentialTest.createDataLakeGen2SharedKey[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DatasourceCredentialTest.createServicePrincipal[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DatasourceCredentialTest.createSqlConnectionString[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/test/resources/session-records/DatasourceCredentialTest.testListDataSourceCredentials[1].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/swagger/README.md
Labels: Cognitive - Metrics Advisor

#34237 Dev credential timeout
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureDeveloperCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Labels: Azure.Identity

#34296 DataLake ContainerAlreadyExists Live Test Failure Fix
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/APISpec.groovy
Labels: Storage

#34093 Increment versions for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity, auto-merge

#34232 [Form Recognizer] Add support for building model with Blob List source
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdminClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdminClientTest.beginBuildModelWithJsonLTrainingSet[1].json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentModelAdministrationAsyncClientTest.beginBuildModelWithJsonLTrainingSet[1].json
Labels: Cognitive - Form Recognizer

#34325 Update CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#34330 Replay the terminal error to work (receive calls) that arrives after the underlying async client termination.
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousMessageSubscriber.java
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusReceiverClientRetrySample.java
Labels: Service Bus

#34343 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#34341 Java doc improvements on receive API about the terminal events
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
Labels: Service Bus

#34227 Retriable writes
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorResult.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorResultBuilder.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/RntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosAsyncClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemWriteRetriesTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/TracerUnderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/InternalObjectNodeTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/caches/AsyncCacheNonBlockingTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InternalObjectNode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RetryContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WriteRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/IRntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/RntbdServerErrorInjector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosPatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#34344 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#34342 [Test Proxy] Fix Operation location for header sanitizer
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
  sdk/core/azure-core-test/src/test/resources/session-records/TestProxyTests.testRecordWithRedaction.json
Labels: Azure.Core

#34347 Reset URIs on playback pipeline also
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
Labels: Azure.Core

#34351 mgmt, redact record
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ContainerInstanceTests.testManageContainerInstanceZeroToOneAndOneToManyUsingContainerServiceOrchestrator.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ContainerRegistryTests.testManageContainerRegistry.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/resources/session-records/ContainerRegistryTests.testManageContainerRegistryWithWebhooks.json
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testContainerRegistry.json
  sdk/resourcemanager/azure-resourcemanager/src/test/resources/session-records/AzureResourceManagerTests.testDeployments.json
  sdk/resourcemanager/credcheck.js
Labels: Mgmt

#34315 Adding StorageAccountInfo.isHnsEnabled()
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/StorageAccountInfo.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
Labels: Storage

#34359 [Key Vault Certificates] Added small workaround for a live test issue.
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
Labels: KeyVault, Client, test-reliability

#34349 FaultInjectionFix - IncludePrimaryChange
  eng/scripts/Language-Settings.ps1
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorType.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/TestNGLogListener.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos-test/src/test/resources/direct-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/e2e-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/emulator-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/examples-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/fast-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/long-testng.xml
  sdk/cosmos/azure-cosmos-test/src/test/resources/multi-region-testng.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/tests.yml
Labels: Cosmos

#34334 [TA] Return empty list but not null for getter that returns IterableStream
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/CategorizedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/LinkedEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/SentenceOpinion.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/TextAnalyticsException.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Client, Cognitive - Text Analytics

#34360 Fix how requests are rewritten for sending to the proxy
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Labels: Azure.Core, auto-merge

#34361 Update CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#34362 Update CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#34358 Version bump to 4.43.0 for azure-cosmos, 4.18.0 for cosmos spark
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
Labels: Cosmos, azure-spring

#34366 API review code changes for Diagnostics Logging
  eng/CredScanSuppression.json
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsLoggerConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsThresholds.java
  sdk/cosmos/azure-cosmos/src/test/resources/client.jks
  sdk/cosmos/azure-cosmos/src/test/resources/server.jks
Labels: Cosmos

#34308 Form Recognizer: Enable live tests with native image
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/tests.native.yml
Labels: Cognitive - Form Recognizer

#34312 Package Deprecation Documentation
  doc/deprecation_process.md
Labels: Docs

#34369 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-spring-data-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, auto-merge

#34363 [Form Recognizer] Add misc properties on models
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/DocumentModelDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/DocumentModelSummary.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/QuotaDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ResourceDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/documentanalysis/models/DocumentAnalysisFeature.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/documentanalysis/models/package-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/AddressValueHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/CurrencyValueHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentKeyValuePairHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentModelDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentModelSummaryHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/DocumentStyleHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/QuotaDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/ResourceDetailsHelper.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/AddressValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/CurrencyValue.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentAnalysisFeature.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentFieldType.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentKeyValuePair.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/FontStyle.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/FontWeight.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/ParagraphRole.java
Labels: Cognitive - Form Recognizer

#34357 Update Core to use Azure Json
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonAdapter.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/module-info.java
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ReflectionSerializableTests.java
Labels: Client, Azure.Core

#34364 Files Share Swagger Update
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#34373 Don't install the proxy in CI
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Labels: Azure.Core, auto-merge

#34372 Prepare Core Libraries for April 2023 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-json-gson/pom.xml
  sdk/core/azure-json-reflect/pom.xml
  sdk/core/azure-json/CHANGELOG.md
  sdk/core/azure-json/README.md
  sdk/core/azure-json/pom.xml
  sdk/core/azure-json/src/main/java/com/azure/json/JsonProviders.java
  sdk/e2e/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/monitor/azure-monitor-ingestion/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core, Azure.Identity, Cognitive - Metrics Advisor

#34377 Fix azure-core-experimental CHANGELOG
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
Labels: Azure.Core

#34375 Fix MSI version logic
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Labels: Azure.Identity

#34306 update docs.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureDeveloperCliCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureDeveloperCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
Labels: Azure.Identity

#34391 Extend test proxy initialization timeout
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
Labels: Azure.Core, auto-merge

#34345 [Form recognizer] Add classify API on documentAnalysis client
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Test/IRS-1040_3.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/session-records/DocumentAnalysisAsyncClientTest.testClassifyAnalyze[1].json
Labels: Cognitive - Form Recognizer

#34393 FixDefaultThroughputControlGroupWithTargetThroughput
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/controller/container/ThroughputContainerController.java
Labels: Cosmos

#34401 spark 4.18.1 release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#34404 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
Labels: Cosmos, auto-merge

#34412 Prepare beta release Form Recognizer
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/ReadmeSamples.java
Labels: Cognitive - Form Recognizer

#34414 Prepare 1.16.1 patch
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, Azure.Core.AMQP

#34417 Prepare release Metrics advisor patch
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
Labels: Cognitive - Metrics Advisor

#34398 Sync eng/common directory with azure-sdk-tools for PR 5951
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#34416 BinaryDataTests Updates
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/io/IOUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/CoreTestUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/TestByteArrayOutputStream.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/HttpRequestTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/StreamResponseTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/AsynchronousFileChannelAdapterTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ByteBufferCollectorTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ByteCountingAsynchronousByteChannelTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ByteCountingWritableByteChannelTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/RetriableDownloadFluxTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/AsyncRestProxyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/LengthValidatingInputStreamTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/RestProxyUtilsTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/util/IterableOfByteBuffersInputStreamTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/util/SliceInputStreamTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/util/StreamUtilTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/models/CloudEventTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/Base64UrlTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BinaryDataTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/BufferedFluxByteBufferTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/ReferenceManagerTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockAsynchronousFileChannel.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockFile.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockFileContent.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockFileInputStream.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockPath.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
Labels: Client, Azure.Core, test-enhancement

#34418 Add mock token credential to azure-core-test
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/MockTokenCredential.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Labels: Azure.Core

#34428 [TA-LiveTest] use RECORD mode for recording
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientBuilderTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Cognitive - Text Analytics

#34431 Increment versions for aot releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-support-netty/CHANGELOG.md
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/aot/azure-aot-graalvm-support/CHANGELOG.md
  sdk/aot/azure-aot-graalvm-support/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
Labels: KeyVault, Storage, Cognitive - Text Analytics, Cognitive - Form Recognizer, auto-merge, AOT

#34419 SeekableByteChannel ExpandableEnum to boolean for WriteMode
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelReadOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileSeekableByteChannelWriteOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileSeekableByteChannelTests.groovy
Labels: Storage

#34445 Redesign AppConfiguration Credential
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialsPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialPolicyTest.java
Labels: Client, App Configuration

#34440 Add testing for MockTokenCredential model
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/utils/MockTokenCredentialTests.java
Labels: Azure.Core

#34235 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: auto-merge, Communication

#34293 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Labels: auto-merge, Communication

#34411 Increment versions for containerregistry releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: Container Registry, auto-merge

#34421 Increment version for healthinsights releases
  eng/versioning/version_client.txt
  sdk/healthinsights/azure-health-insights-cancerprofiling/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-cancerprofiling/pom.xml
  sdk/healthinsights/azure-health-insights-clinicalmatching/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-clinicalmatching/pom.xml
Labels: auto-merge

#34449 Update changelog
  sdk/core/azure-core-test/CHANGELOG.md
Labels: Azure.Core

#34447 Prepare release for April identity beta
  .vscode/cspell.json
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanager/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Service Bus, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Anomaly Detector

#34450 STG87 GA Release 2023-04-13
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#34451 Increment versions for identity releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity, auto-merge

#34423 Adding Encryption Context on DataLakeFileUploadOptions
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/FileParallelUploadOptions.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestUploadEncryptionContext.json
Labels: Storage

#34458 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, auto-merge, AOT, Azure Quantum

#33648 Client Encryption: Adds fix to allow partition key path and id to be part of client encryption policy.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncClient.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/Constants.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionSettings.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/models/SqlQuerySpecWithEncryption.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/CosmosEncryptionClientCachesTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/DotNetCompatibleTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiCrudTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiHierarchicalPkTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiQueryTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionCosmosEncryptionChangeFeedTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/dotnetEncryption/EncryptedPOCO.json
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ClientEncryptionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
Labels: Cosmos

#34460 Revert URL to URI
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonAdapter.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpRequest.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollingUtil.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
Labels: Azure.Core

#34110 Adding sub status codes for 503's
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosExceptionTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GoneException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ServiceUnavailableException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressSelector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/TimeoutHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/FailFastRntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Labels: Cosmos

#34420 Azure Monitor Query: Add javadocs and validation
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/logs/models/LogsQueryHelper.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
Labels: Monitor

#34466 Adding log text to warn when Processor.stop-start apis used in resume-pause style
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
Labels: Service Bus

#34469 Add Delay to Fake File Writing in Tests
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/mocking/MockAsynchronousFileChannel.java
Labels: Client, Azure.Core, test-enhancement

#34471 Prepare April 2023 release for Service Bus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#34470 Reset azure-core-test versions
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, Azure.Core.AMQP

#34456 Fix spring changelog script
  sdk/spring/scripts/update_changelog.py
Labels: azure-spring

#34481 [Automation] Generate Fluent Lite from workloads#package-2023-04
  sdk/workloads/azure-resourcemanager-workloads/CHANGELOG.md
  sdk/workloads/azure-resourcemanager-workloads/pom.xml
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/WorkloadsManager.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/fluent/models/package-info.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/fluent/package-info.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/MonitorsClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/ProviderInstancesClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/ResourceProvidersClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/SapApplicationServerInstancesClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/SapCentralInstancesClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/SapDatabaseInstancesClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/SapLandscapeMonitorsClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/SapVirtualInstancesClientImpl.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/implementation/package-info.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/models/UserAssignedIdentity.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/models/UserAssignedServiceIdentity.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/models/package-info.java
  sdk/workloads/azure-resourcemanager-workloads/src/main/java/com/azure/resourcemanager/workloads/package-info.java
  sdk/workloads/azure-resourcemanager-workloads/src/test/java/com/azure/resourcemanager/workloads/generated/SapVirtualInstanceInnerTests.java
  sdk/workloads/azure-resourcemanager-workloads/src/test/java/com/azure/resourcemanager/workloads/generated/UpdateMonitorRequestTests.java
  sdk/workloads/azure-resourcemanager-workloads/src/test/java/com/azure/resourcemanager/workloads/generated/UpdateSapVirtualInstanceRequestTests.java
  sdk/workloads/azure-resourcemanager-workloads/src/test/java/com/azure/resourcemanager/workloads/generated/UserAssignedIdentityTests.java
  sdk/workloads/azure-resourcemanager-workloads/src/test/java/com/azure/resourcemanager/workloads/generated/UserAssignedServiceIdentityTests.java
Labels: Mgmt - Track 2

#34485 Increment versions for webpubsub releases
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub-client/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: auto-merge

#34487 Increment versions for quota releases
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
Labels: auto-merge

#34473 Fix Test Resources json for Form recognizer
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer

#34493 Update JFR Profile
  eng/PerfAutomation.jfc
Labels: EngSys

#34368 Fix naming of credential timeout
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureDeveloperCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Labels: Client, Azure.Identity, feature-request

#34497 Enable native tests pipeline for Text Analytics
  sdk/appconfiguration/azure-data-appconfiguration/src/main/resources/META-INF/native-image/com.azure/azure-data-appconfiguration/proxy-config.json
  sdk/core/azure-core/src/main/resources/META-INF/native-image/com.azure/azure-core/native-image.properties
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/tests.native.yml
Labels: App Configuration, Azure.Core, Cognitive - Text Analytics

#34499 Fix parameter name mismatch
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureDeveloperCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
Labels: Azure.Identity

#34505 Prepare Tables April 2023 Patch Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#34520 Increment versions for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
Labels: auto-merge

#34521 Increment versions for security releases
  eng/versioning/version_client.txt
  sdk/security/azure-resourcemanager-security/CHANGELOG.md
  sdk/security/azure-resourcemanager-security/pom.xml
Labels: auto-merge

#34522 Increment versions for qumulo releases
  eng/versioning/version_client.txt
  sdk/qumulo/azure-resourcemanager-qumulo/CHANGELOG.md
  sdk/qumulo/azure-resourcemanager-qumulo/pom.xml
Labels: auto-merge

#34523 Increment versions for elastic releases
  eng/versioning/version_client.txt
  sdk/elastic/azure-resourcemanager-elastic/CHANGELOG.md
  sdk/elastic/azure-resourcemanager-elastic/pom.xml
Labels: auto-merge

#34524 [Automation] Generate Fluent Lite from newrelic#package-2022-07-01
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/README.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/SAMPLE.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/pom.xml
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/NewRelicObservabilityManager.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/fluent/MonitorsClient.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/implementation/MonitorsClientImpl.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/implementation/MonitorsImpl.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/implementation/NewRelicMonitorResourceImpl.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/implementation/NewRelicObservabilityImpl.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/models/Monitors.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/models/MonitorsSwitchBillingHeaders.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/models/MonitorsSwitchBillingResponse.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/main/java/com/azure/resourcemanager/newrelicobservability/models/NewRelicMonitorResource.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/AccountsListSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsCreateOrUpdateSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsDeleteSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsGetByResourceGroupSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsGetMetricRulesSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsGetMetricStatusSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListAppServicesSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListByResourceGroupSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListHostsSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListMonitoredResourcesSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsSwitchBillingSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsUpdateSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsVmHostPayloadSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/OperationsListSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/OrganizationsListSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/PlansListSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesCreateOrUpdateSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesDeleteSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesGetSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesListByNewRelicMonitorResourceSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/samples/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesUpdateSamples.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/ManagedServiceIdentityTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsCreateOrUpdateMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsGetByResourceGroupWithResponseMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListByResourceGroupMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListHostsMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsListMonitoredResourcesMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/MonitorsSwitchBillingWithResponseMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/NewRelicMonitorResourceInnerTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/NewRelicMonitorResourceListResultTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/NewRelicMonitorResourceUpdateTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/OrganizationsListMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/PlansListMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesCreateOrUpdateMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesDeleteMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesGetWithResponseMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/TagRulesListByNewRelicMonitorResourceMockTests.java
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/src/test/java/com/azure/resourcemanager/newrelicobservability/generated/UserAssignedIdentityTests.java
Labels: Mgmt - Track 2

#34528 Increment versions for newrelicobservability releases
  eng/versioning/version_client.txt
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/pom.xml
Labels: auto-merge

#34531 [Automation] Generate Fluent Lite from postgresql#package-flexibleserver-2022-12-01
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/CHANGELOG.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/README.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/SAMPLE.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/pom.xml
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/PostgreSqlManager.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/AdministratorsClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/BackupsClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/CheckNameAvailabilitiesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/CheckNameAvailabilityWithLocationsClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/ConfigurationsClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/DatabasesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/FirewallRulesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/GetPrivateDnsZoneSuffixesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/LocationBasedCapabilitiesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/OperationsClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/ReplicasClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/ServersClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/fluent/VirtualNetworkSubnetUsagesClient.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/AdministratorsClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/BackupsClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/CheckNameAvailabilitiesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/CheckNameAvailabilityWithLocationsClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/ConfigurationsClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/DatabasesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/FirewallRulesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/GetPrivateDnsZoneSuffixesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/LocationBasedCapabilitiesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/OperationsClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/ReplicasClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/ServersClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/implementation/VirtualNetworkSubnetUsagesClientImpl.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/ArmServerKeyType.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/DataEncryption.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/IdentityType.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/ReplicationRole.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/UserAssignedIdentity.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/main/java/com/azure/resourcemanager/postgresqlflexibleserver/models/UserIdentity.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/samples/java/com/azure/resourcemanager/postgresqlflexibleserver/generated/ServersCreateSamples.java
Labels: Mgmt - Track 2

#34532 Increment versions for iothub releases
  eng/versioning/version_client.txt
  sdk/iothub/azure-resourcemanager-iothub/CHANGELOG.md
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
Labels: auto-merge

#34515 [AppConfig-Patch-April] Prepare patch v1.4.4 release
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/TROUBLESHOOTING.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ClientConstants.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationClientImpl.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialsPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/resources/META-INF/native-image/com.azure/azure-data-appconfiguration/proxy-config.json
  sdk/appconfiguration/azure-data-appconfiguration/src/main/resources/META-INF/native-image/com.azure/azure-data-appconfiguration/reflect-config.json
  sdk/appconfiguration/azure-data-appconfiguration/src/main/resources/META-INF/native-image/com.azure/azure-data-appconfiguration/resource-config.json
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/implementation/ConfigurationCredentialPolicyTest.java
Labels: Client, App Configuration

#34514 Ensure that we run core tests if we touch the proxy folder
  sdk/core/ci.yml
Labels: Azure.Core

#34538 IgnoreReplicaValidationForHealthyReplica
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
Labels: Cosmos

#34512 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#34542 Azure Monitor Query: Migrate to test proxy
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryAllowPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryBatchWithServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testStatisticsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testVisualization.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testVisualizationResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryAllowPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatchWithServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryResource.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatisticsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testVisualization.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testVisualizationResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[1].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[2].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[3].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[4].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[5].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsDefinition.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsNamespaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[1].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[2].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[3].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[4].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[5].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsDefinition.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsNamespaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsQuery.json
Labels: Monitor

#34534 DataLakeFileClient getOutputStream
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/DataLakeFileOutputStreamResult.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/DataLakeFileOutputStreamOptions.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileOutputStreamTest.groovy
Labels: Storage

#34527 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#34550 Single-instance the test proxy
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyExtensions.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyTestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/RecordFilePayload.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
Labels: Azure.Core

#34353 Service Timeout Policy
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ServiceLevelTimeoutExample.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAPITest.groovy
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ServiceTimeoutPolicy.java
Labels: Storage

#34565 [Automation] Generate Fluent Lite from confidentialledger#package-preview-2023-01
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/README.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/ConfidentialLedgerManager.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/fluent/models/ConfidentialLedgerInner.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/implementation/ConfidentialLedgerImpl.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/models/ConfidentialLedger.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/models/LedgerProperties.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/main/java/com/azure/resourcemanager/confidentialledger/models/Tags.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ConfidentialLedgerInnerTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ConfidentialLedgerListTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/DeploymentTypeTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgerPropertiesTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgersCreateMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgersDeleteMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgersGetByResourceGroupWithResponseMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgersListByResourceGroupMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/LedgersListMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfListTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsCreateMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsDeleteMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsGetByResourceGroupWithResponseMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsListByResourceGroupMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsListMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ManagedCcfsUpdateMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/OperationsListMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/ResourceProvidersCheckNameAvailabilityWithResponseMockTests.java
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/generated/TagsTests.java
Labels: Mgmt - Track 2

#34569 Increment versions for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
Labels: auto-merge

#34568 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#34549 Add getMaxAppendBlockBytes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
Labels: Storage

#34559 [HttpClient-JDK] AZure JDK http client supports http 1.1 by default
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClientBuilder.java
Labels: Azure.Core, HttpClient

#34577 [HttpClient-JDK] Inital beta release prepare
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
Labels: Client, HttpClient

#34558 [AppConfig] Upgrade version after patch released.
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: App Configuration, Azure.Core, azure-spring, Monitor - Exporter, AOT

#34504 Update MSAL to 1.13.8
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/maps/azure-maps-search/src/test/java/com/azure/maps/search/MapsSearchClientTest.java
Labels: Event Hubs, Azure.Identity

#34576 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#34580 Prepare Key Vault patch release for April 2023
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client

#34459 Fix Edge Case in Query Parameter Parsing
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/CoreUtilsTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
Labels: Client, Azure.Core

#34536 Use JUnit to test azure-storage-internal-avro
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-internal-avro/src/main/java/com/azure/storage/internal/avro/implementation/AvroParserState.java
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroParserStateTest.groovy
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroParserStateTests.java
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroReaderTest.groovy
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroReaderTests.java
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroSchemaTest.groovy
  sdk/storage/azure-storage-internal-avro/src/test/java/com/azure/storage/internal/avro/implementation/AvroSchemaTests.java
Labels: Storage

#34475 Increment versions for servicebus releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, azure-spring, auto-merge

#34468 Update how XmlMapperFactory is initialized
  eng/pipelines/templates/steps/build-and-test.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
  eng/versioning/version_client.txt
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/JacksonDatabind212.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/JacksonVersion.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/MemberNameConverterImpl.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/SemanticVersion.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/XmlMapperFactory.java
  sdk/core/azure-core-serializer-json-jackson/src/test/java/com/azure/core/serializer/json/jackson/implementation/MemberNameConverterImplTests.java
  sdk/core/azure-core-version-tests/CHANGELOG.md
  sdk/core/azure-core-version-tests/README.md
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core-version-tests/src/main/java/com/azure/core/version/tests/FakeClass.java
  sdk/core/azure-core-version-tests/src/main/java/com/azure/core/version/tests/package-info.java
  sdk/core/azure-core-version-tests/src/main/java/module-info.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/JacksonTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JacksonDatabind212.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/MemberNameConverterImpl.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperFactory.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/XmlMapperFactory.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/MemberNameConverterImplTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/XmlMapperFactoryTests.java
  sdk/core/ci.yml
  sdk/core/pom.xml
Labels: Client, Azure.Core

#34535 Add More Tests to azure-core-test
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/AccessPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifierInner.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/SignedIdentifiersWrapper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slide.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/entities/Slideshow.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/RecordingRedactor.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/HttpURLConnectionHttpClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/HttpClientTestsTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/SyncAsyncExtensionTest.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestUtilsTests.java
Labels: Client, Azure.Core, test-enhancement

#34583 [Form recognizer] Merge patch release
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#34492 Change how Handlers are added in Netty Http
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/AzureNettyHttpClientContext.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/AzureSdkHandler.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
Labels: Client, Azure.Core, HttpClient

#34579 [HttpClient-JDK] Prepare release from release branch
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
Labels: Azure.Core, HttpClient

#34595 Increment versions for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
Labels: Azure.Core, auto-merge

#34596 Increment versions for keyvault releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, Azure.Core, Azure.Identity, azure-spring, auto-merge, AOT

#34581 addFaultInjectionNonApplicableEvaluationContext
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionRule.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionConditionInternal.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionConnectionErrorRule.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorRule.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/IFaultInjectionRuleInternal.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionConnectionErrorRuleTests.java
  sdk/cosmos/azure-cosmos-test/src/test/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/FaultInjectionRequestContext.java
Labels: Cosmos

#34598 [HttpClient-JDK] Merge changes to main after release v1.0.0-beta.1
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
Labels: Azure.Core

#34582 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#34500 Increment versions for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor, auto-merge

#34557 Increment version for translation releases
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/pom.xml
Labels: auto-merge

#34540 Increment versions for digitaltwins releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: auto-merge, Digital Twins

#34507 Increment versions for tables releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables, auto-merge

#34632 Missing patches apr 2023
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Labels: azure-spring, Load Testing

#34644 [Automation] Generate Fluent Lite from voiceservices#package-2023-01-31
  eng/versioning/version_client.txt
  sdk/voiceservices/azure-resourcemanager-voiceservices/CHANGELOG.md
  sdk/voiceservices/azure-resourcemanager-voiceservices/README.md
  sdk/voiceservices/azure-resourcemanager-voiceservices/SAMPLE.md
  sdk/voiceservices/azure-resourcemanager-voiceservices/pom.xml
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/VoiceServicesManager.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/CheckNameAvailabilityResponseImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/CommunicationsGatewayImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/CommunicationsGatewaysClientImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/CommunicationsGatewaysImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/NameAvailabilitiesClientImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/NameAvailabilitiesImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/OperationImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/OperationsImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/TestLineImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/TestLinesClientImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/main/java/com/azure/resourcemanager/voiceservices/implementation/TestLinesImpl.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysCreateOrUpdateSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysDeleteSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysGetByResourceGroupSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysListByResourceGroupSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysListSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysUpdateSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/NameAvailabilityCheckLocalSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/OperationsListSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/TestLinesCreateOrUpdateSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/TestLinesDeleteSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/TestLinesGetSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/TestLinesListByCommunicationsGatewaySamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/samples/java/com/azure/resourcemanager/voiceservices/generated/TestLinesUpdateSamples.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/CommunicationsGatewaysDeleteMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/NameAvailabilitiesCheckLocalWithResponseMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/OperationsListMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/TestLinesCreateOrUpdateMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/TestLinesDeleteMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/TestLinesGetWithResponseMockTests.java
  sdk/voiceservices/azure-resourcemanager-voiceservices/src/test/java/com/azure/resourcemanager/voiceservices/generated/TestLinesListByCommunicationsGatewayMockTests.java
Labels: Mgmt - Track 2

#34642 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/KuduClient.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/models/KuduAuthenticationPolicy.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/OneDeployTests.java
Labels: auto-merge

#34645 Increment versions for voiceservices releases
  eng/versioning/version_client.txt
  sdk/voiceservices/azure-resourcemanager-voiceservices/CHANGELOG.md
  sdk/voiceservices/azure-resourcemanager-voiceservices/pom.xml
Labels: auto-merge

#34616 Update github event processor to 1.0.0-dev.20230422.1
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#34594 Update msal-persistence to 1.2.0
  eng/versioning/external_dependencies.txt
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#34620 Stabilize Core Tests
  sdk/core/azure-core/src/test/java/com/azure/core/util/io/IOUtilsTest.java
Labels: Azure.Core

#34648 Incremented versions after Identity Extensions release.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: azure-spring

#34652 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#34578 Increment versions for formrecognizer releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, auto-merge, AOT

#34483 Increment versions for workloads releases
  eng/versioning/version_client.txt
  sdk/workloads/azure-resourcemanager-workloads/CHANGELOG.md
  sdk/workloads/azure-resourcemanager-workloads/pom.xml
Labels: auto-merge

#34636 core, improve polling UT
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/DefaultPollingStrategyTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/LocationPollingStrategyTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/OperationResourcePollingStrategyTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/polling/StatusCheckPollingStrategyTest.java
Labels: Azure.Core

#34592 Removing CosmosEntityInformation instnace calls from constructor.
  sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
Labels: azure-spring

#34657 Release azure cosmos encryption 2.0.0
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
Labels: Cosmos

#34628 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#34653 [AppConfig] Add label to codesnappet
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
Labels: Client, App Configuration

#34662 Increment versions for resourceconnector releases
  eng/versioning/version_client.txt
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/pom.xml
Labels: auto-merge

#34654 Increment versions after patch releases for April 2023
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/pom.xml
  sdk/confidentialledger/azure-security-confidentialledger/CHANGELOG.md
  sdk/containerregistry/azure-containers-containerregistry/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor-perf/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/pom.xml
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
Labels: Container Registry, Event Grid, Event Hubs, Monitor, Search, Schema Registry, Cognitive - Text Analytics, azure-spring, Monitor - Exporter, Cognitive - Metrics Advisor, Remote Rendering, Communication - Identity, Communication - Phone Numbers, Communication - SMS, AOT, Communication - Rooms, Load Testing, Mixed Reality Authentication

#34663 Deprecate AZURE_GERMANY in Spring Cloud Azure
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/configuration/properties/AadProfileProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/properties/core/profile/AzureProfileConfigurationProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/properties/AzureEventHubsPropertiesTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/properties/AzureServiceBusPropertiesTest.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/properties/profile/AzureEnvironmentProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/properties/profile/AzureProfileOptionsAdapter.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/provider/AzureProfileOptionsProvider.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/core/properties/EventHubsConsumerPropertiesTests.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/core/properties/EventHubsProducerPropertiesTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/core/properties/ServiceBusConsumerPropertiesTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/core/properties/ServiceBusProducerPropertiesTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/test/java/com/azure/spring/messaging/eventhubs/core/properties/NamespacePropertiesTests.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/core/properties/NamespacePropertiesTests.java
Labels: azure-spring

#34631 [Test Proxy] Enable skipping recording request bodies
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestContextManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/RecordWithoutRequestBody.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/InterceptorManagerTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestContextManagerTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/utils/TestResourceNamerTests.java
  sdk/core/azure-core-test/src/test/resources/session-records/TestProxyTests.testRecordWithPath.json
Labels: Azure.Core
