Repository Azure/azure-sdk-for-java, pull requests merged in 2023-08, with the labels that each got.

#36199 Fix Spring ci
  sdk/spring/azure-spring-data-cosmos/README.md
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
Labels: azure-spring

#36168 Prevent FluxUtil from using MappedByteBuffer on Windows
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Labels: Client, Azure.Core

#36185 Sync eng/common directory with azure-sdk-tools for PR 6611
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/onboarding/README.me
Labels: EngSys, Central-EngSys

#36195 mgmt, support "backends" for "LoadBalancingRule"
  eng/mgmt/automation/generate.py
  eng/mgmt/automation/parameters.py
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/LoadBalancerImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/LoadBalancingRuleImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/LoadBalancingRule.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/ComputeSampleTests.java
  sdk/resourcemanager/azure-resourcemanager/assets.json
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/AzureResourceManagerTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestLoadBalancer.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/VirtualNetworkGatewayTests.java
Labels: Mgmt

#36203 [OpenAI] Improve streaming samples
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamSample.java
Labels: Client, OpenAI

#36212 Added RehydratePendingToCold to ArchiveStatus
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ArchiveStatus.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestSetTierArchiveStatusRehydratePendingToCold.json
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#36190 Add content source kind support for training sources
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/BlobContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/BlobFileListContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ClassifierDocumentTypeDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/TrainingDataContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/TrainingDataContentSourceKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImplBuilder.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/AnalyzeDocumentRequest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/AzureBlobFileListContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/ClassifierDocumentTypeDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/ClassifyDocumentRequest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/ContentSourceKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentBarcode.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentBarcodeKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/TrainingDataContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildDocumentClassifier.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildDocumentClassifierAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/GetOperationSummaryAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/package-info.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdminClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/FormRecognizer.json
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Labels: Cognitive - Form Recognizer

#36222 ServiceBus: add fqdn to key credential samples
  sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReadmeSamples.java
Labels: Service Bus

#36223 Adding new service version 2023-05-03 and 2023-08-03
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestAccountSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestBlobSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ImmutableStorageWithVersioningTestContainerSas.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasBlobDeleteFails.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasBlobRead.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasCreateContainerFails.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasCreateContainerSucceeds.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasEncryptionScope.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasFilterTagsFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasOnEndpoint.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasTagsAndFilterTags.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsAccountSasTagsFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasAllPermissionsSuccess.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasEncryptionScope.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasEncryptionScope[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasEncryptionScope[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasReadPermissions.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasSnapshot.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasSnapshotUserDelegation.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasTags.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasTagsFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobSasUserDelegation.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsBlobUserDelegationSaoid.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsCanUseConnectionStringWithSasAndQuestionMark.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsCanUseSasToAuthenticate.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasFilterBlobs.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasFilterBlobsFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasIdentifierAndPermissions.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasTags.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasTagsFail.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerSasUserDelegation.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerUserDelegationCorrelationId.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/SasClientTestsContainerUserDelegationCorrelationIdError.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestSASSanitization[0].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/ServiceAPITestSASSanitization[1].json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/VersioningTestDeleteBlobByVersionUsingAccountSASToken.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/VersioningTestDeleteBlobByVersionUsingContainerSASToken.json
  sdk/storage/azure-storage-blob/src/test/resources/session-records/VersioningTestDeleteBlobByVersionUsingSASToken.json
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/DirectoryAPITestsRenameSasToken.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileAPITestsRenameSasToken.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsAccountSASNetworkAccountSasTokenOnEndpoint.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsAccountSASNetworkCreateDeleteShare.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsCanUseSasToAuthenticate.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsFileSASNetworkTestDownloadUpload.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsFileSASNetworkTestUploadFails.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsParseProtocol.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSASTestsShareSASNetworkIdentifierPermissions.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsAccountSASNetworkCreateDeleteShare.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsFileSASNetworkTestDownloadUpload.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsFileSASNetworkTestUploadFails.json
  sdk/storage/azure-storage-file-share/src/test/resources/session-records/FileSasClientTestsShareSASNetworkIdentifierPermissions.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#36221 ServiceBus: fix process span duration when concurrency is higher than 1
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTrace.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessorClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ReceiverKind.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClientTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentationTests.java
Labels: Service Bus

#36224 Fix document style bug
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
Labels: Cognitive - Form Recognizer

#36227 Service Bus Sender: Treat RequestResponseChannelClosedException as retriable and enable retry for create-batch
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
Labels: Service Bus, pillar-reliability

#36206 Added animal-sniffer plugin for checking Android compatibility
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: customer-reported, Community Contribution

#36228 Update sdk/spring/spring-reference.yml
  sdk/spring/spring-reference.yml
Labels: azure-spring

#36229 Sync spring changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
Labels: azure-spring

#36116 [DO NOT MERGE]updated naming of per-action callback URI override
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AddParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RemoveParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TransferToParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AddParticipantOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RemoveParticipantOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TransferCallToParticipantOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#36235 Sync eng/common directory with azure-sdk-tools for PR 6670
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#36231 Add logback classes that are initialized at build time
  sdk/core/azure-core/src/main/resources/META-INF/native-image/com.azure/azure-core/native-image.properties
Labels: Azure.Core

#36232 Redact error output
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#36237 Update TRC API azure core
  sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenRequestContext.java
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientCertificateCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ClientSecretCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DeviceCodeCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/UsernamePasswordCredentialTest.java
Labels: Azure.Core, Azure.Identity

#36239 Prepare Core Libraries for August 2023 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/agrifood/azure-verticals-agrifood-farming/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-json-gson/pom.xml
  sdk/core/azure-json-reflect/pom.xml
  sdk/core/azure-json/CHANGELOG.md
  sdk/core/azure-json/README.md
  sdk/core/azure-json/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Azure.Core, Azure.Identity, Azure.Core.AMQP

#36225 Channel health check improvement for cancelled requests
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthCheckerTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
Labels: Cosmos

#36238 Paginated Delete for Directory & deleteRecursively
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/Transforms.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/AzureDataLakeStorageRestAPIImplBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/PathsDeleteHeaders.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeDirectoryClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryApiTests.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Labels: Storage

#36233 [Form Recognizer] Address API view feedback
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/BlobContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/BlobFileListContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ClassifierDocumentTypeDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ContentSource.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/ContentSourceKind.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/models/DocumentClassifierDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildDocumentClassifier.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/BuildDocumentClassifierAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminAsyncClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/DocumentModelAdminClientJavaDocCodeSnippets.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ManageDocumentClassifiers.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/administration/ManageDocumentClassifiersAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClientTest.java
Labels: Cognitive - Form Recognizer

#36250 Update broken links for test proxy documentation
  sdk/core/azure-core-test/RecordingMigrationGuide.md
Labels: Azure.Core

#36254 Skip code coverage requirements for azure-core-test
  sdk/core/azure-core-test/pom.xml
Labels: Azure.Core

#36255 Fixed typo in CHANGELOG + dummy change in test to trigger CI pipeline
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
Labels: azure-spring

#36264 adjust current version in version_client and reference to it from azure-identity:pom
  eng/versioning/version_client.txt
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Identity

#36252 Fixes ServiceBusManagementError being thrown
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/assets.json
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/AdministrationModelConverter.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
Labels: Service Bus

#36267 Fixed issue when IN query statement didn't work with Long values (cherry pick from main)
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedReactiveCosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Address.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
Labels: azure-spring

#35892 Preserve Ordering in Bulk
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/batch/BulkExecutorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BatchRequestResponseConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorUtil.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorWithOrderingPreserved.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/FlushBuffersItemOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/ItemBulkOperation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/Notifiable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionBasedGoneNotifier.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionKeyRangeServerBatchRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/StatusQueue.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
Labels: Cosmos

#36253 Remove reliance on setting global system env vars in tests
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/AttachStatsbeat.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/AksResourceAttributes.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/ResourceParser.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/IntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/LocalFilePurgerTests.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporterTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/quickpulse/QuickPulseIntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/statsbeat/AttachStatsbeatTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/AksResourceAttributesTest.java
Labels: Monitor - Exporter

#36269 Spark V2->V3 Migration doc is missing the throughput control section
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/migration.md
Labels: Cosmos

#36208 Identity updates
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#34895 Replaces namespace prefix w/global namespace in payload for CreateTopicBodyImpl (fixes #34880)
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/ServiceBusManagementSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusManagementSerializerTest.java
Labels: Service Bus, customer-reported, Community Contribution

#36183 Identity - add browser customization options
  sdk/identity/azure-identity/src/main/java/com/azure/identity/BrowserCustomizationOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentityUtil.java
Labels: Event Hubs, Storage, Azure.Identity

#36283 STG90 Beta Release
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#36288 Increment versions for storage releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#36280 Updated read hang grace and cancellation count threshold
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
Labels: Cosmos

#36291 Updated release versions to 4.48.1 for azure-cosmos
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#36286 Address archboard feedback
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AadCredentialBuilderBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/BrowserCustomizationOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentityUtil.java
Labels: Azure.Identity

#35185 Locate remote recording file azure-core-test
  sdk/core/azure-core-test/assets.json
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestingHelpers.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Labels: Azure.Core, test-proxy

#36299 Sync eng/common directory with azure-sdk-tools for PR 6739
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#36300 Release prep for August GA
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/openai/azure-ai-openai/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Metrics Advisor, Open AI

#36302 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#36006 Updated min recommended version of the SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#36298 Updated release version to 4.21.0 for spark
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#36315 [Form recognizer] Prepare for August GA release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/migration-guide.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClient.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/DocumentAnalysisAsyncClientJavaDocCodeSnippets.java
Labels: Cognitive - Form Recognizer

#36311 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#36314 Azure Monitor: Enable metrics batch query
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/TROUBLESHOOTING.md
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsBatchQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsBatchQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsBatchQueryClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsBatchQueryServiceVersion.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metrics/models/MetricsHelper.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/AzureMonitorMetricBatch.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/AzureMonitorMetricBatchBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/Metrics.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/AdditionalInfoErrorResponse.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/AdditionalInfoErrorResponseError.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/AdditionalInfoErrorResponseErrorAdditionalInfoItem.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/AdditionalInfoErrorResponseException.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/LocalizableString.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/MetadataValue.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/Metric.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/MetricResultsResponse.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/MetricResultsResponseValuesItem.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/MetricUnit.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/MetricValue.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/ResourceIdList.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/TimeSeriesElement.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/models/package-info.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/package-info.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsBatchResult.java
  sdk/monitor/azure-monitor-query/src/main/java/module-info.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/MetricsBatchQuerySample.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/codesnippets/MetricsBatchQueryClientJavaDocCodeSnippets.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsBatchQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsBatchQueryTestBase.java
  sdk/monitor/azure-monitor-query/swagger/README.md
  sdk/monitor/test-resources.json
Labels: Monitor

#36321 Prepare August 2023 release for ServiceBus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus, Client

#36313 Move Bulk Ordering Tests to Live Tests
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/batch/BulkExecutorTest.java
Labels: Cosmos

#36174 Search Regeneration for August 2023 Preview
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchQueryVector.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/VectorSearchExample.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/VectorSearchTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/FieldBuilderTests.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/src/main/java/SearchIndexCustomizations.java
Labels: Search

#36328 Increment versions after servicebus august-2023 releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, azure-spring, Communication - Call Automation

#36329 Prepare Search Beta Release August 2023
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#35390 Remove azure-security-keyvault-jca from docs onboarding
  eng/scripts/Language-Settings.ps1
Labels: no-recent-activity

#36111 proactiveInit wiring in diagnostics
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientConfigDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientUnderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/SpyClientUnderTestFactory.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelperTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainerProactiveInitConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Labels: Cosmos

#36334 Increment versions for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core, Azure.Core.AMQP

#36200 Update CONTRIBUTING.md
  sdk/communication/CONTRIBUTING.md
Labels: Client, Communication

#36304 Identity ga doc updates
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#36336 Fixed CHANGELOG.md.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#36342 Increment versions for servicebus releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#36341 [Key Vault] Removed the use of a properties file for error messages in favor of using constants.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAdministrationUtil.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultSettingsClientBuilder.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/resources/kvErrorStrings.properties
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateClientBuilder.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/CertificateClientImpl.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/resources/kvErrorStrings.properties
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyClientImpl.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/resources/kvErrorStrings.properties
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/KeyVaultErrorCodeStrings.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/resources/kvErrorStrings.properties
Labels: KeyVault, Client, graalvm

#36344 increment versions after azure-core-amqp_2.9.0-beta.5 release, sync changelog
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
Labels: Azure.Core, Azure.Core.AMQP

#36345 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#36348 increment versions after azure-messaging-servicebus_7.15.0-beta.3 release, sync changelog
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#36279 [Form recognizer] Update tests for better pipeline results
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientUnitTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientUnitTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentFieldSerializationTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdminClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdminClientUnitTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClientTest.java
Labels: Cognitive - Form Recognizer

#36326 Refactored Cosmos live tests to run different CI for query and split tests
  .vscode/cspell.json
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/query-testng.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/split-testng.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/AsyncCacheNonBlockingIntegrationTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosBulkAsyncTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosBulkGatewayTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionConnectionErrorRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnGatewayTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AggregateQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ChangeFeedTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ContainerQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/DatabaseQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/DistinctQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/FeedRangeQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/GroupByQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/MultiOrderByQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OfferQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OffsetLimitQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OrderbyDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/PermissionQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedCollectionsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedDatabasesTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedDocumentsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedExceptionHandlingTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedOffersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedPermissionsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedPkrTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedStoredProceduresTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedTriggersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedUdfsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ReadFeedUsersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/SinglePartitionDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/SinglePartitionReadFeedDocumentsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/StoredProcedureQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TopQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TriggerQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/UserDefinedFunctionQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/UserQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/VeryLargeDocumentQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/resources/query-testng.xml
  sdk/cosmos/azure-cosmos-tests/src/test/resources/split-testng.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/test/resources/query-testng.xml
  sdk/cosmos/azure-cosmos/src/test/resources/split-testng.xml
  sdk/cosmos/platform-matrix.json
  sdk/cosmos/tests.yml
Labels: Cosmos

#36352 Prepare monitor pipeline
  sdk/spring/ci.monitor.yml
Labels: azure-spring

#36361 Added missing error codes
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/ReasonCode.java
Labels: Communication - Call Automation

#36364 Updated links in sync with other SDKs
  sdk/communication/azure-communication-callautomation/README.md
Labels: Communication - Call Automation

#36366 Ignored client telemetry stage juno endpoint test
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
Labels: Cosmos

#36356 Test pipeline for spring application insights
  sdk/spring/ci.monitor.yml
  sdk/spring/monitor-matrix.json
  sdk/spring/monitor-tests-job.yml
  sdk/spring/monitor-tests.yml
  sdk/spring/scripts/monitor_update_monitor_matrix_json.py
  sdk/spring/scripts/replace_v_4_monitor.py
Labels: azure-spring

#36378 Increment version for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: auto-merge, Communication - Call Automation

#36330 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#36324 Increment versions for monitor releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#36384 Fix blocking call in AsyncRestProxy
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/resources/META-INF/native-image/com.azure/azure-core/native-image.properties
Labels: Azure.Core

#35865 Cache bypass in dedicated gateway request options
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RequestHeadersSpyWireTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/DedicatedGatewayRequestOptions.java
Labels: Cosmos

#35761 Feed response diagnostics in json format
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/QueryMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/metrics/QueryMetricsTextWriter.java
Labels: Cosmos

#35987 Adding aggressive timeouts for in-region calls
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ShouldRetryValidator.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/WebExceptionRetryPolicyTest.java
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/MetadataRequestRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyControlPlaneHotPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTimeoutPolicyControlPlaneRead.java
Labels: Cosmos

#36396 Prepare Key Vault patch releases for Aug 2023.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client, Azure.Identity

#36404 Revert Key Vault patch releases changes.
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
Labels: KeyVault, Client

#36257 Change feed start time multi write coverage
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionMetadataRequestRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnGatewayTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/SessionRetryOptionsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/MetadataRequestRetryPolicyTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/MetadataRequestRetryPolicy.java
  sdk/cosmos/platform-matrix.json
Labels: Cosmos

#36397 Fixed possible `NullPointerException` issue if health-check flow kick…
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
Labels: Cosmos

#36418 Updated versions for release of azure-cosmos, azure-cosmos-encryption and azure-cosmos-test
  .vscode/cspell.json
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#36427 Updated API name for bypass integrated cache getter and setter
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RequestHeadersSpyWireTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/DedicatedGatewayRequestOptions.java
Labels: Cosmos

#36420 AzMon exporter: change awaitility scope to test
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: Monitor - Exporter

#36400 Sync eng/common directory with azure-sdk-tools for PR 6817
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#36367 ServiceBus micro fixes: close tracing scope and run admin client tests sequentially
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTrace.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
Labels: Service Bus, Client

#36370 Migrate confidential ledger to Test Proxy
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-security-confidentialledger/assets.json
  sdk/confidentialledger/azure-security-confidentialledger/pom.xml
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerCertificateClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerEnvironment.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/GetConsortiumMembersTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/UserTests.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/certificate/generated/ConfidentialLedgerCertificateClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetConsortiumMembersTests.testGetConsortiumMembersTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetEnclaveQuotesTests.testGetEnclaveQuotes.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/GetLedgerIdentityTests.testGetLedgerIdentityTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testGetCollectionIdsTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/LedgerEntriesTest.testPostLedgerEntryTests.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/resources/session-records/UserTests.testGetUserTests.json
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/InterceptorManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/models/TestProxyRecordingOptions.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/TestProxyRecordPolicy.java
Labels: Azure.Core

#36391 Test pipeline for spring application insights
  sdk/spring/monitor-supported-version-matrix.json
  sdk/spring/monitor-tests-job.yml
  sdk/spring/monitor-tests.yml
  sdk/spring/pom.xml
  sdk/spring/scripts/monitor_update_monitor_matrix_json.py
  sdk/spring/scripts/spring_monitor_version_substitution.py
Labels: azure-spring

#36434 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, AOT

#36437 [Automation] Generate Fluent Lite from resourceconnector#package-2022-10-27
  eng/versioning/version_client.txt
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/README.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/SAMPLE.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/pom.xml
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/AppliancesManager.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/fluent/AppliancesClient.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/AppliancesClientImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/AppliancesImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/AppliancesManagementClientBuilder.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/models/Appliance.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/models/Appliances.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/models/Provider.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/models/Status.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListKeysSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesUpdateSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/ApplianceCredentialKubeconfigTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/AppliancePropertiesInfrastructureConfigTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesGetUpgradeGraphWithResponseMockTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListOperationsMockTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/ArtifactProfileTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/IdentityTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/PatchableApplianceTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/SupportedVersionCatalogVersionDataTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/SupportedVersionCatalogVersionTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/SupportedVersionMetadataTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/SupportedVersionTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/UpgradeGraphInnerTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/UpgradeGraphPropertiesTests.java
Labels: Mgmt - Track 2

#36441 Add coverage profile for spring sonar check
  sdk/spring/pom.xml
Labels: azure-spring

#36392 Fixes listNetworkInterfaceIPConfigurations case-sensitivity problems
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/NetworkInterfaceImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/SubnetImpl.java
Labels: customer-reported, Community Contribution

#36424 Replace bcprov-jdk15on with newer libraries
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
Labels: dependencies

#36368 Adds azure-data-schemaregistry-jsonschema
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/JsonSchemaGenerator.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializer.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializerBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistrySchemaCache.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SerializerOptions.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/package-info.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/module-info.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/samples/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/samples/java/com/azure/data/schemaregistry/jsonschema/ReadmeSamples.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/test/java/com/azure/data/schemaregistry/jsonschema/Address.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/test/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializerBuilderTests.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/test/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializerTests.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/test/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistrySchemaCacheTests.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/package-info.java
  sdk/schemaregistry/ci.yml
  sdk/schemaregistry/pom.xml
Labels: Schema Registry

#36369 adding asynchronous tests for datalake file async client
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
Labels: Storage

#36467 Increment versions for Key Vault libraries after Aug 2023 releases.
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: KeyVault, Client

#36471 [Automation] Generate Fluent Lite from resourceconnector#package-2022-10-27
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/README.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/SAMPLE.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/pom.xml
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/ResourceConnectorManager.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/fluent/ResourceConnector.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/fluent/models/package-info.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/fluent/package-info.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceGetTelemetryConfigResultImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceListCredentialResultsImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceListKeysResultsImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ApplianceOperationImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/AppliancesClientImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/AppliancesImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ResourceConnectorBuilder.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/ResourceConnectorImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/UpgradeGraphImpl.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/implementation/package-info.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/models/package-info.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/main/java/com/azure/resourcemanager/resourceconnector/package-info.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesCreateOrUpdateSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesDeleteSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesGetByResourceGroupSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesGetTelemetryConfigSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesGetUpgradeGraphSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListByResourceGroupSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListClusterUserCredentialSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListKeysSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListOperationsSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/samples/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesUpdateSamples.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesGetUpgradeGraphWithResponseMockTests.java
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/src/test/java/com/azure/resourcemanager/resourceconnector/generated/AppliancesListOperationsMockTests.java
Labels: Mgmt - Track 2

#36469 [Release-BOM] Prepare BOM release
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Cosmos, Event Grid, Event Hubs, KeyVault, Storage, Azure.Core, Schema Registry, azure-spring, Monitor - Exporter, Remote Rendering, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Network Traversal, Communication - Phone Numbers, Communication - SMS, Azure SDK Tools, AOT, Azure Quantum, Communication - Rooms, bom, Communication - Call Automation

#36479 Users/fabianm/availability strategy all region exception fix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FaultInjectionWithAvailabilityStrategyTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientGoneForWriteTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientPartitionSplitTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientRetryWithTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
Labels: Cosmos

#36482 Fixed some Storage CHANGELOGs after patch releases.
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
Labels: Storage, Client

#36481 [BOM] Merge Prepare BOM release (#36469)
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Cosmos, azure-sdk-bom, Azure SDK Tools, bom

#36380 Sync eng/common directory with azure-sdk-tools for PR 6782
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#36484 Sync eng/common directory with azure-sdk-tools for PR 6632
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#36383 Docs onboarding v2
  eng/scripts/Language-Settings.ps1
  eng/scripts/docs/Docs-Onboarding.ps1
  eng/scripts/docs/Docs-ToC.ps1
  eng/scripts/docs/tests/Docs-Onboarding.tests.ps1
Labels: Central-EngSys

#36466 Sync eng/common directory with azure-sdk-tools for PR 6823
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#36379 [OpenAI] Wednesday support
  .vscode/cspell.json
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIServerSentEvents.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureChatExtensionConfiguration.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureChatExtensionType.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureChatExtensionsMessageContext.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureCognitiveSearchChatExtensionConfiguration.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRole.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: Open AI

#36498 Add tests for Spring Monitor
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/java/com/azure/Application.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/java/com/azure/Controller.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/java/com/azure/DatasourceConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/java/com/azure/SqlExecutor.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/resources/logback.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/CustomValidationPolicy.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/TelemetrySpringNativeTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
Labels: azure-spring

#36504 Port PR 36397 to the 4.48.2 hotfix branch
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelHealthChecker.java
Labels: Cosmos

#36485 Adds support for default EventPosition
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorClientSetInitialEventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientBuilderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientErrorHandlingTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionPumpManagerTest.java
Labels: Event Hubs

#36520 Fix the Spring Monitor pom wrong version tag
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
Labels: azure-spring

#36426 Sdk fixes
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionMetadataRequestRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnGatewayTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/SessionRetryOptionsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/MetadataRequestRetryPolicyTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/MetadataRequestRetryPolicy.java
  sdk/cosmos/platform-matrix.json
Labels: Cosmos

#36530 Fix OTel issues with GraalVM native execution of Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/native-image/native-image.properties
Labels: azure-spring

#36527 Make the Spring Monitor test runnable with Spring Boot 3
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
Labels: azure-spring

#36533 Improve an error message of the Spring Monitor test
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
Labels: azure-spring

#36507 Handle negative e2e timeout more gracefully by throwing `CosmsoException` instead of `IllegalArgumentException`
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Labels: Cosmos

#36511 Usage sample of BYOD with ChatCompletions
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/ChatCompletionsWithYourData.java
Labels: Open AI

#36534 Sync eng/common directory with azure-sdk-tools for PR 6853
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#36540 Add KeyCredentialTrait interface
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/client/traits/KeyCredentialTrait.java
Labels: Azure.Core

#36535 Handle negative e2e timeout gracefully
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Labels: Cosmos

#36542 Updated release version to 4.48.2 for azure-cosmos hotfix
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#36536 ServiceBus: small optimizations and logging improvements
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/exception/AmqpResponseCode.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ReactorHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/exception/AmqpResponseCodeTest.java
  sdk/core/azure-core-metrics-opentelemetry/src/main/java/com/azure/core/metrics/opentelemetry/OpenTelemetryUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxAutoComplete.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessageSerializer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousReceiveWork.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntityHelper.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ManagementChannel.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/Messages.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusSharedKeyCredential.java
  sdk/servicebus/azure-messaging-servicebus/src/main/resources/azure-messaging-servicebus.properties
Labels: Service Bus, Azure.Core, Azure.Core.AMQP

#36544 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, AOT

#35754 [OpenAI] Replace NonAzureOpenAIKeyCredential by KeyCredential
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClientBuilder.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIKeyCredentialPolicy.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/NonAzureOpenAIKeyCredential.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/auth/ClientCreationWithNonAzureOpenAIKeyCredentialSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
Labels: Client, OpenAI

#36445 [OpenAI] Use sync internal method instead of async method and block it
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
Labels: Client, OpenAI

#36509 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#36551 Update spring-reference and sync changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-reference.yml
Labels: azure-spring

#36545 [OpenAI] Prepare beta.4 release
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/src/samples/README.md
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/ChatCompletionsWithYourData.java
Labels: Client, OpenAI

#36403 Update CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#36539 Plumb EnvVars to subscription config builder to find duplicates
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/native.live.tests.yml
Labels: Central-EngSys

#36541 [SparkFix]itemBulkUpdateForPkNotEqualId
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/PartitionKeyHelper.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TestUtils.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PartitionKeyHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
Labels: Cosmos

#36480 Updating external dependency com.squareup.okio:okio:3.3.0
  eng/versioning/external_dependencies.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: OpenTelemetry

#36558 spark4.21.1Release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#36562 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#36565 Sync eng/common directory with azure-sdk-tools for PR 6867
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
Labels: EngSys, Central-EngSys

#36554 Remove unnecessary logging initialization in Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureTelemetryConfig.java
Labels: azure-spring

#36566 [ANDROID] Replaced newFactory methods in azure-xml with newInstance for Android compatibility
  sdk/core/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlReader.java
  sdk/core/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlWriter.java
Labels: Azure.Core, customer-reported, Community Contribution

#36584 Improve test stability of Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
Labels: azure-spring

#36585 Add tests to verify that OTel exporters are not used by Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
Labels: azure-spring

#36583 Renaming in Azure Spring Monitor
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorActivation.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorActivationConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/JvmMetricsPostProcessor.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: azure-spring

#36589 Fix checkstyle issues for Form Recognizer
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCardAsync.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AnalyzeBusinessCardFromUrlAsync.java
Labels: Cognitive - Form Recognizer

#36425 Updated OBO Cred Sample
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OnBehalfOfCredentialBuilder.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
Labels: Azure.Identity

#36597 Fix Spring Monitor test issue with GraalVM native
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
Labels: azure-spring

#36601 fixFaultInjection503Issue
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
Labels: Cosmos

#36568 [AppConfig] Add more tests and disable unstable test
  sdk/appconfiguration/azure-data-appconfiguration/assets.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Labels: Client, App Configuration

#36613 Fixes the NullPointerException in RequestResponseChannel when the thread constructing RequestResponseChannel happens to run the cleanup phase synchronously
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RequestResponseChannel.java
Labels: Azure.Core.AMQP
