Repository Azure/azure-sdk-for-java, pull requests merged in 2023-06, with the labels that each got.

#35192 Improving java docs by providing additional info and small usage samples
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ReadmeSamples.java
Labels: Cosmos

#35230 Check Variables for being null before accessing entries
  eng/pipelines/templates/steps/build-and-test.yml
  eng/pipelines/templates/steps/restore-test-proxy-recordings.yml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyPlaybackClient.java
Labels: EngSys, Azure.Core

#35246 Sync eng/common directory with azure-sdk-tools for PR 6273
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#35030 Add Test Runs using Http Fault Injector
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/http-fault-injector.yml
  eng/pipelines/templates/steps/publish-http-fault-injector-logs.yml
  eng/pipelines/templates/steps/retain-heap-dump-hprofs.yml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HttpFaultInjectingTests.groovy
  sdk/storage/tests-template.yml
Labels: Storage, EngSys, Client, test-enhancement

#35251 Fix Tracking of Long-Running Tests in ThreadDumper
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
Labels: Client, Azure.Core, test-enhancement

#35225 Add New APIs to XmlSerializable
  eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/AzureSdkAllowedExternalApis.java
  sdk/core/azure-core-experimental/src/test/java/com/azure/core/experimental/http/SimpleXmlSerializable.java
  sdk/core/azure-xml/README.md
  sdk/core/azure-xml/src/main/java/com/azure/xml/XmlSerializable.java
  sdk/core/azure-xml/src/main/java/com/azure/xml/XmlWriter.java
  sdk/core/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlReader.java
  sdk/core/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlWriter.java
  sdk/core/azure-xml/src/samples/java/com/azure/xml/XmlSerializableSamples.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/AccessPolicy.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/AzureXmlTestUtils.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/NamespaceProperties.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/NamespacePropertiesEntry.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/NamespacePropertiesEntryContent.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/ResponseAuthor.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/ResponseLink.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/SignedIdentifier.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/SignedIdentifiersWrapper.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobFlatListSegment.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobItemInternal.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobItemPropertiesInternal.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobName.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobTag.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/BlobTags.java
  sdk/core/azure-xml/src/test/java/com/azure/xml/storage/ListBlobsFlatSegmentResponse.java
Labels: Client, Azure.Core

#35262 Move where Test Proxy recordings are restored
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/build-and-test.yml
Labels: EngSys

#35249 [Keyvault - administration] Migrate recordings to asset repo
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/assets.json
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.createExistingRoleAssignmentThrows[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.createRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.deleteNonExistingRoleAssignmentDoesNotThrow[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.deleteNonExistingRoleDefinitionDoesNotThrow[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.deleteRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.deleteRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.getRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.getRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.listRoleAssignments[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.listRoleDefinitions[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlAsyncClientTest.setRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.createExistingRoleAssignmentThrows[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.createRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.deleteNonExistingRoleAssignmentDoesNotThrow[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.deleteNonExistingRoleDefinitionDoesNotThrow[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.deleteRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.deleteRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.getRoleAssignment[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.getRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.listRoleAssignments[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.listRoleDefinitions[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultAccessControlClientTest.setRoleDefinition[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupAsyncClientTest.beginBackup[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupAsyncClientTest.beginRestore[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupAsyncClientTest.beginSelectiveKeyRestore[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupClientTest.beginBackup[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupClientTest.beginRestore[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultBackupClientTest.beginSelectiveKeyRestore[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsAsyncClientTest.getSetting[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsAsyncClientTest.getSettings[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsAsyncClientTest.updateSetting[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsClientTest.getSetting[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsClientTest.getSettings[1].json
  sdk/keyvault/azure-security-keyvault-administration/src/test/resources/session-records/KeyVaultSettingsClientTest.updateSetting[1].json
Labels: KeyVault

#35209 Re-enable usage of HttpResponse.writeBodyTo
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobDownloadAsyncResponse.java
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#35273 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#35274 Sync Spring Cloud Azure 5.2.0 Changelog
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#35277 Sync .github/workflows directory with azure-sdk-tools for PR 6280
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#35263 Attempt to stabilize fluxParallelParsing test
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/DeadlockTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/DeadlockTests.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/UrlBuilderTests.java
Labels: Azure.Core

#35279 Nit: Don't pass logger to TestUtils.toURI
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyTestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
Labels: Azure.Core

#35269 Fix Event Grid Readme Issue
  sdk/eventgrid/azure-messaging-eventgrid/README.md
Labels: Event Grid

#35272 Fix OpenTelemetry Exporter Readme Issue
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: Monitor - Exporter

#35217 Fix version tag of jackson-core
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
Labels: Event Hubs

#35268 Fix Digital Twins - Core Samples Issue
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/DigitalTwinsLifecycleAsyncSample.java
Labels: Digital Twins

#35294 Setup release pipeline to only create the Version Increment
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Labels: EngSys

#35252 [Monitor Query] Migrate recordings to asset repo
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryAllowPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsQueryBatchWithServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testLogsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testStatisticsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testVisualization.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryAsyncClientTest.testVisualizationResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchQueryPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testBatchStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryAllowPartialSuccess.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatch.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryBatchWithServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testLogsQueryResource.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testMultipleWorkspaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testServerTimeout.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatistics.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testStatisticsResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testVisualization.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/LogsQueryClientTest.testVisualizationResourceQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[1].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[2].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[3].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[4].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testAggregation[5].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsDefinition.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsNamespaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryAsyncClientTest.testMetricsQuery.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[1].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[2].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[3].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[4].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testAggregation[5].json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsDefinition.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsNamespaces.json
  sdk/monitor/azure-monitor-query/src/test/resources/session-records/MetricsQueryClientTest.testMetricsQuery.json
Labels: Monitor

#35298 Skip changelog verification, nothing is being released
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Labels: EngSys

#35287 Fix Metrics Advisor Readme Issue
  sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/README.md
Labels: Cognitive - Metrics Advisor

#35117 Update Identity Javadocs.
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/doc-files/DefaultAzureCredentialAuthFlow.png
  sdk/identity/azure-identity/src/main/java/com/azure/identity/doc-files/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/src/main/java/com/azure/identity/package-info.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
Labels: Azure.Identity, auto-merge

#35296 [TA] Fix live tests
  sdk/textanalytics/azure-ai-textanalytics/assets.json
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TestUtils.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
Labels: Cognitive - Text Analytics

#35305 Prepare Identity June 2023 Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Metrics Advisor

#35299 Fix NPE in end span
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/instrumentation/EventHubsTracer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/instrumentation/EventHubsTracerTests.java
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracerTests.java
Labels: Service Bus

#35289 Sync eng/common directory with azure-sdk-tools for PR 6272
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#35254 Added additional information to the CosmosDiagnosticsContext
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsRequestEvent.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsRequestInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsSystemUsageSnapshot.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#35302 Fix the parent artifactId used in Swagger Code Customizations
  sdk/appconfiguration/azure-data-appconfiguration/swagger/pom.xml
  sdk/communication/azure-communication-identity/swagger/pom.xml
  sdk/communication/azure-communication-jobrouter/swagger/pom.xml
  sdk/communication/azure-communication-networktraversal/swagger/pom.xml
  sdk/communication/azure-communication-phonenumbers/swagger/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/swagger/pom.xml
  sdk/maps/azure-maps-elevation/swagger/pom.xml
  sdk/maps/azure-maps-geolocation/swagger/pom.xml
  sdk/maps/azure-maps-render/swagger/pom.xml
  sdk/maps/azure-maps-route/swagger/pom.xml
  sdk/maps/azure-maps-search/swagger/pom.xml
  sdk/maps/azure-maps-timezone/swagger/pom.xml
  sdk/maps/azure-maps-traffic/swagger/pom.xml
  sdk/maps/azure-maps-weather/swagger/pom.xml
  sdk/monitor/azure-monitor-query/swagger/pom.xml
  sdk/personalizer/azure-ai-personalizer/swagger/pom.xml
  sdk/search/azure-search-documents/swagger/pom.xml
  sdk/servicebus/azure-messaging-servicebus/swagger/pom.xml
  sdk/storage/azure-storage-blob/swagger/pom.xml
  sdk/storage/azure-storage-file-datalake/swagger/pom.xml
  sdk/storage/azure-storage-file-share/swagger/pom.xml
  sdk/storage/azure-storage-queue/swagger/pom.xml
  sdk/template/azure-sdk-template/swagger/pom.xml
Labels: KeyVault, Monitor, Search, Service Bus, Storage, EngSys, App Configuration, Communication - Identity, Communication - Phone Numbers

#35306 [Form recognizer] Extend expiry time for test SAS URL
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer

#35330 Try turning off Git GC Auto
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
Labels: EngSys

#35329 [AppConfig] Update SyncToken.java Microsoft Ref link
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/SyncToken.java
Labels: App Configuration

#35334 Added an optional tag `OperationSubStatusCode` for operation-level metrics
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/TagName.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosMetricTagName.java
Labels: Cosmos

#34621 [JavaDoc-AppConfig] Enhance javadoc string in App Configuration
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/package-info.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
Labels: Client, App Configuration

#35335 Disable git gc when creating version increment PRs
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
Labels: Central-EngSys

#35336 Regenerate OpenAI models without property required annotation
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClientBuilder.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatChoice.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessageDelta.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRole.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Choice.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Completions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsFinishReason.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsLogProbabilityModel.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsLogProbs.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingItem.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Embeddings.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingsUsage.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/ChatbotSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamSample.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: Open AI

#35300 Improve api docs cosmos db
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainer.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/AsyncContainerCodeSnippets.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ReadmeSamples.java
Labels: Cosmos

#35341 [OpenAI] Enabled streaming test for NonAzure OpenAI test client
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsStream[1].json
Labels: Client, Open AI

#35271 Fix Form Recognizer Readme Issue
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#35315 mgmt, databricks, add live tests
  sdk/databricks/azure-resourcemanager-databricks/pom.xml
  sdk/databricks/azure-resourcemanager-databricks/src/test/java/com/azure/resourcemanager/databricks/DatabricksTests.java
  sdk/databricks/test-resources.bicep
  sdk/databricks/tests.mgmt.yml
Labels: Mgmt

#35290 Add back spring-data-cosmos to sb3
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataDiagnosticsConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosReactiveRepositoriesAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosReactiveRepositoriesAutoConfigureRegistrar.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosRepositoriesAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosRepositoriesAutoConfigureRegistrar.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataDiagnosticsConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosReactiveRepositoriesAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosRepositoriesAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/TestAutoConfigurationPackage.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/TestAutoConfigurationPackageRegistrar.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/domain/Person.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/domain/PersonRepository.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/domain/ReactivePersonRepository.java
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/User.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/springdata/SpringDataCosmosIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/cosmos/springdata/UserRepository.java
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
Labels: azure-spring

#35317 mgmt, update doc on live tests
  sdk/resourcemanager/docs/HOW_TO_ADD_LIVE_TESTS.md
Labels: Mgmt

#35318 mgmt, live tests, update existing bicep to use stable api-version for roleAssignments
  sdk/batch/test-resources.bicep
  sdk/datafactory/test-resources.bicep
  sdk/deviceprovisioningservices/test-resources.bicep
  sdk/loadtesting/test-resources.bicep
  sdk/mediaservices/test-resources.bicep
  sdk/resourcehealth/test-resources.bicep
Labels: Batch, Mgmt, Load Testing

#35320 Make appconfig IT to be independent
  sdk/spring/tests.yml
Labels: azure-spring

#35344 [Rooms][GA] Introducing General Availability for Rooms Java SDK
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/RoomsServiceVersion.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/AzureCommunicationRoomServiceImplBuilder.java
  sdk/communication/azure-communication-rooms/src/samples/java/com/azure/communication/rooms/ReadmeSamples.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsAsyncClientTests.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsClientTest.java
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.addParticipantsOperationWithOutResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.addUpdateAndRemoveParticipantsOperationsWithFullFlow[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.createRoomFullCycleWithOutResponseStep[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.createRoomFullCycleWithResponseStep[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.deleteParticipantsWithOutResponseStep[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.deleteRoomWithConnectionString[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.getRoomWithUnexistingRoomId[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.listParticipantsWithOutResponseStep[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.listRoomTestFirstRoomIsNotNullThenDeleteRoomWithOutResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsAsyncClientTests.updateParticipantsToDefaultRoleWithResponseStep[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.addUpdateAndRemoveParticipantsOperationsSyncWithFullFlow[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncBadParticipantMri[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncNoAttributes[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncOnlyValidFromGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncOnlyValidFrom[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncOnlyValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncOnlyValidUntil[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncValidFromValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithFullOperationWithResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithFullOperation[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseNoAttributes[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseOnlyValidFromGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseOnlyValidFrom[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseOnlyValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseOnlyValidUntil[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.createRoomSyncWithResponseValidFromValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.deleteRoomSync[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.deleteRoomWithUnexistingRoomIdReturnBadRequest[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.getRoomWithUnexistingRoomIdReturnBadRequest[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.listRoomTestFirstRoomIsNotNullThenDeleteRoomWithOutResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.patchMeetingValidTimeWithResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateParticipantsSyncWithFullOperation[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateParticipantsToDefaultRoleSyncWithFullOperationWithResponse[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncOnlyValidFrom[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncOnlyValidUntil[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncValidFromGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncWithResponseOnlyValidFrom[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncWithResponseOnlyValidUntil[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncWithResponseValidFromGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/src/test/resources/session-records/RoomsClientTest.updateRoomSyncWithResponseValidUntilGreaterThan180[1].json
  sdk/communication/azure-communication-rooms/swagger/README.md
Labels: Communication - Rooms

#35357 [TA] Remove textanalytics.utils open
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/module-info.java
Labels: Client, Cognitive - Text Analytics

#35347 Sync eng/common directory with azure-sdk-tools for PR 6293
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#35362 [OpenAI] Migrate TestProxy recordings.
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetChatCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetChatCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsBadSecretKey[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsExpiredSecretKey[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsFromPrompt[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsTokenCutoff[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsUsageField[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetEmbeddingsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAIAsyncClientTest.testGetEmbeddings[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetChatCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetChatCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsBadSecretKey[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsExpiredSecretKey[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsFromPrompt[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsTokenCutoff[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsUsageField[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetEmbeddingsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/NonAzureOpenAISyncClientTest.testGetEmbeddings[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetChatCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetChatCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsFromPrompt[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsTokenCutoff[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsUsageField[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsWithResponseBadDeployment[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetEmbeddingsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAIAsyncClientTest.testGetEmbeddings[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetChatCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetChatCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetChatCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsFromPrompt[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsStream[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsTokenCutoff[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsUsageField[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsWithResponseBadDeployment[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletionsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetCompletions[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetEmbeddingsWithResponse[1].json
  sdk/openai/azure-ai-openai/src/test/resources/session-records/OpenAISyncClientTest.testGetEmbeddings[1].json
Labels: Client, Open AI

#35363 Add spring-data-cosmos into sb3 bom
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
Labels: azure-spring

#35361 Prepare June 2023 release for ServiceBus
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#35358 Sync eng/common directory with azure-sdk-tools for PR 6304
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#35238 Priority throttling support in spark
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ThroughputControlHelper.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EThroughputControlITest.scala
Labels: Cosmos

#35360 miscellaneousUpdate-2
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
Labels: Cosmos

#35285 Update to changelog `beta.1` entry with released details
  sdk/openai/azure-ai-openai/CHANGELOG.md
Labels: Open AI

#35324 [ChangeFeedProcessor]ExhaustAllRetriesBeforePollDelay
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedContextClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#35123 Fix mapPage method in PagedIterable for sync stack
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/rest/PagedIterableTest.java
Labels: Azure.Core

#35382 [Rooms] Update RoomsClientBuilder clientOptions
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/RoomsClientBuilder.java
Labels: Communication - Rooms

#35386 Update TypeSpec Java emitter version to 0.8.0
  eng/emitter-package.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatChoice.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRole.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Choice.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Completions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsFinishReason.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsLogProbabilityModel.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingItem.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Embeddings.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingsUsage.java
Labels: Open AI

#35394 Sync eng/common directory with azure-sdk-tools for PR 6305
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#35112 Ljiaqi/batch data plane sdk release for 2023 05 01 API Change
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/AccountOperations.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/BatchClient.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/CertificateOperations.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/JobOperations.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/PoolOperations.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/BatchServiceClient.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/Certificates.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/Jobs.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/Pools.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/BatchServiceClientImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/CertificatesImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/JobsImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/implementation/PoolsImpl.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/CertificateReference.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/CloudPool.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ComputeNode.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ContainerConfiguration.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/ContainerType.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/JobConstraints.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/JobGetAllLifetimeStatisticsHeaders.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/JobGetAllLifetimeStatisticsOptions.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/NetworkConfiguration.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolAddParameter.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolGetAllLifetimeStatisticsHeaders.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolGetAllLifetimeStatisticsOptions.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolPatchParameter.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolSpecification.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/PoolUpdatePropertiesParameter.java
  sdk/batch/microsoft-azure-batch/src/main/java/com/microsoft/azure/batch/protocol/models/VMExtension.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/JobTests.java
  sdk/batch/microsoft-azure-batch/src/test/java/com/microsoft/azure/batch/PoolTests.java
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDJob.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDJobSchedule.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDJobWithPoolNodeCommunicationMode.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDLowPriIaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDLowPriPaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDPaaSPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCRUDTest.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCreateContainerPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCreateCustomImageWithExpectedError.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canCreateDataDisk.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canInstallVMExtension.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canReadFromNode.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canReadFromTaskFile.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canUpdateJobScheduleState.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/canUpdateJobState.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/failCreateContainerTaskWithRegularPool.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/failIfPoisonTaskTooLarge.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/shouldFailOnCreateContainerPoolWithRegularImage.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/shouldFailOnCreateLinuxPoolWithWindowsConfig.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testGetTaskCounts.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testJobUser.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testOutputFiles.json
  sdk/batch/microsoft-azure-batch/src/test/resources/test-recordings/testPoolOData.json
Labels: Batch

#34859 Proactive connection management refactoring
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainerProactiveInitConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosContainerProactiveInitConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ContainerDirectConnectionMetadata.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/ProactiveOpenConnectionsProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdEndpoint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerIdentity.java
Labels: Cosmos

#35046 [Cosmos] Computed properties support
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ContainerPropertiesTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ComputedProperty.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ComputedPropertiesCodeSnippet.java
Labels: Cosmos

#34876 Fixed ticksSinceMidnight validation check.
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/mdesrc/cryptography/SqlSerializerUtil.java
Labels: Cosmos

#35380 Add 10KB File Download and Upload to Storage Blob Perf Matrix
  sdk/storage/azure-storage-blob/perf-tests.yml
Labels: EngSys, pillar-performance

#35402 Updated release versions to 4.46.0 for azure-cosmos, 2.2.0 for encryption and 4.19.0 for spark connector
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#35401 Add more tests to azure-core-version-tests
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/JacksonDatabind212.java
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/AdditionalPropertiesSerializerTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/AdditionalPropertiesSerializerWithJacksonAnnotationTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/BinaryDataSerializationTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/CustomSerializerTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/FlatteningSerializerTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/GeoSerializationTestHelpers.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/JacksonAdapterTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/JsonSerializableEndToEndTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/ResponseErrorDeserializerTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/RestProxyTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/RestProxyXMLTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/SerializerEncodingTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/TypeReferenceTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/AccessPolicy.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/AnimalShelter.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/AnimalWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/CatWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/ClassWithFlattenedProperties.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/ComposeTurtles.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/DogWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/FlattenDangling.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/FlattenableAnimalInfo.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/FlattenedProduct.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/FlattenedPropertiesAndJsonAnyGetter.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Foo.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/FooChild.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/HttpBinJSON.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenNestedInner.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenOnArrayType.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenOnCollectionType.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenOnJsonIgnoredProperty.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenOnPrimitiveType.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/JsonFlattenWithJsonInfoDiscriminator.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/NewFoo.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/NewFooChild.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/NonEmptyAnimalWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/RabbitWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/SampleResource.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/School.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/SignedIdentifierInner.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/SignedIdentifiersWrapper.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Slide.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Slideshow.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Student.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Teacher.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/TurtleWithTypeIdContainingDot.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/VirtualMachineIdentity.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/VirtualMachineScaleSet.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/VirtualMachineScaleSetNetworkConfiguration.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/VirtualMachineScaleSetNetworkProfile.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/VirtualMachineScaleSetVMProfile.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JacksonDatabind212.java
Labels: Client, Azure.Core, MQ-Testing

#35404 Fix spring tests emulator
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/CosmosFactory.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/MemoizerUnitTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplatePartitionIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/mapping/event/CosmosEventListenerUnitTests.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Address.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/AuditableEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/AuditableIdGeneratedEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/BasicItem.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/ComplexIndexPolicyEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/CompositeIndexEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Contact.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Course.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/CourseWithEtag.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Customer.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/GenIdEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/IndexPolicyEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/IndexPolicyOverwriteEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/IntegerIdDomain.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/LongIdDomain.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/LongIdDomainPartition.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Memo.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/NestedPartitionKeyEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/NestedPartitionKeyEntityWithGeneratedValue.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/PageableMemo.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/PageablePerson.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/PartitionPerson.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/PersistableEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Person.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/PersonWithEtag.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Project.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Question.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/ReactiveTeacher.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Role.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/SortedProject.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/SpELBeanStudent.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/SpELPropertyStudent.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Student.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/Teacher.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/TimeToLiveSample.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/UUIDIdDomain.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/UniqueKeyPolicyEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/CosmosAnnotationUnitTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ContactRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/QuestionRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/UniqueKeyPolicyIT.java
Labels: Cosmos, azure-spring

#35405 ComsosDiagnosticsContext: Made system usage property bag
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosDiagnosticsSystemUsageSnapshot.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#35406 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, AOT

#35034 [FaultInjection]FixConnectionCloseErrorNotAppliedWhenEndpointNotConfigured
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/RntbdConnectionErrorInjector.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionConnectionErrorRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
Labels: Cosmos

#35403 findById Optimization (#35261)
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/BasicItem.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AddressRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/QuestionRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/BasicItemRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveBasicItemRepository.java
Labels: azure-spring

#35388 App Config Spring - Push refresh fix
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/AppConfigurationEndpoint.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/AppConfigurationEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushbusrefresh/AppConfigurationBusRefreshEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushrefresh/AppConfigurationRefreshEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/resources/webHookValidation.json
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/properties/ConfigStore.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/stores/ConfigStoreTest.java
Labels: azure-spring

#35448 Sync eng/common directory with azure-sdk-tools for PR 6333
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#35451 Increment versions for core releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
Labels: Azure.Core, Azure.Core.AMQP

#35407 Increment versions for search releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#35450 Remove interim disabling of git gc since it was added to sparse-checkout.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
Labels: EngSys

#35432 Increment version for batch releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch

#35452 [OpenAI] Prepare for 1.0.0-beta.2 release
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
Labels: Open AI

#35456 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
Labels: Open AI

#35457 Increment versions for servicebus releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#35459 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
Labels: Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Communication - Rooms

#35348 Make appconfig IT to be independent for sb3
  sdk/spring/tests.yml
Labels: azure-spring

#35461 Increment versions for communication releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
Labels: Communication - Identity, Communication - Rooms

#35466 Azure Remote Rendering: Fix test setup
  sdk/remoterendering/test-resources.json
Labels: Remote Rendering

#35393 [TA] Autorest Customization, Rename class
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/AnalyzeActionsUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/ExtractiveSummaryUtilClient.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/ExtractiveSummarizationSortingCriteria.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/ExtractiveSummarizationTaskParameters.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntity.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntityCategory.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareEntityProperties.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/HealthcareRelation.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/models/RelationType.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/ExtractiveSummarySentencesOrder.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntityCategory.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/HealthcareEntityRelationType.java
  sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/models/package-info.java
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/swagger/Update-Codegeneration.ps1
Labels: Cognitive - Text Analytics

#34969 Add HTTP Fault Injector Capabilities to Testing
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestUtils.java
Labels: Client, Azure.Core, test-enhancement

#35417 Documentation: Adds notes to CosmosAsyncClient, CosmosClient and CosmosClientBuilder
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
Labels: Cosmos, Docs

#35454 [Internal]Add diagnostics cfg to CosmosClientBuilder logs
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
Labels: Cosmos

#35475 Onboard to Bom and Patch Release Client
  eng/pipelines/patch_release_client.txt
  sdk/boms/azure-sdk-bom/pom.xml
Labels: bom

#35453 Updated spring CI
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/ci.spring.yml
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/AbstractIntegrationTestCollectionManager.java
  sdk/spring/ci.cosmos.yml
  sdk/spring/tests.yml
Labels: Cosmos, azure-spring

#35488 [TA] Prepare for GA release
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#35485 Spring ci fixing matrix filter
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/spring/ci.cosmos.yml
Labels: azure-spring

#35492 Increment versions for textanalytics releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Cognitive - Text Analytics, AOT

#35472 Data Lake Sas with Leading Question Mark Fix
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy
  sdk/storage/azure-storage-file-datalake/src/test/resources/session-records/FileAPITestRenameSasTokenWithLeadingQuestionMark.json
Labels: Storage

#35495 Build tool updates
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/AnnotationProcessingTool.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/DependencyCheckerTool.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/ReportGenerator.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/models/BuildError.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/models/BuildErrorCode.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/models/BuildErrorLevel.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/models/BuildReport.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/mojo/AzureSdkMojo.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/util/AnnotatedMethodCallerResult.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/util/AnnotationUtils.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/util/MavenUtils.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/util/MojoUtils.java
  sdk/tools/azure-sdk-build-tool/src/test/azure-sdk-build-tool-test/pom.xml
  sdk/tools/azure-sdk-build-tool/src/test/azure-sdk-build-tool-test/src/main/java/com/test/annotation/AppConfigTestApp.java
  sdk/tools/azure-sdk-build-tool/src/test/azure-sdk-build-tool-test/src/main/java/com/test/annotation/BetaApiTestApp.java
Labels: Azure SDK Tools

#35498 Change expected exception for additional tenant tests
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureCliCredentialTest.java
Labels: Azure.Identity

#35490 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, AOT, Azure Quantum

#35500 Increment storage and communication versions after patch releases for June 2023
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, azure-spring, Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - SMS, AOT, Azure Quantum, Communication - Rooms

#35494 [Communication] SMS Fix SDK Tests
  .github/CODEOWNERS
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsAsyncClientTests.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsClientTests.java
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.checkForRepeatabilityOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendFromFakeNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendFromUnauthorizedNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsToGroupWithOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsToGroup[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsToSingleNumberWithOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsToSingleNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsUsingConnectionString[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendSmsUsingTokenCredential[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendToFakePhoneNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsAsyncClientTests.sendTwoMessages[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.checkForRepeatabilityOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendFromFakeNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendFromUnauthorizedNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsToGroupWithOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsToGroup[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsToSingleNumberWithOptions[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsToSingleNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsUsingConnectionString[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendSmsUsingTokenCredential[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendToFakePhoneNumber[1].json
  sdk/communication/azure-communication-sms/src/test/resources/session-records/SmsClientTests.sendTwoMessages[1].json
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#35427 Don't overwrite logs with log categories on creation
  sdk/resourcemanager/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/java/com/azure/resourcemanager/monitor/implementation/DiagnosticSettingImpl.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/DiagnosticSettingsTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/MonitorManagementTest.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/resources/session-records/DiagnosticSettingsTests.canCRUDDiagnosticSettingsForVault.json
Labels: Mgmt, customer-reported, Community Contribution

#35501 Adds "feed_detail" diagnostics mode to Spark connector
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/ChangeFeedSparkRowItem.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkRowItem.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/DefaultMinimalSlf4jLogger.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/DiagnosticsLoader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/DiagnosticsProvider.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/FeedDiagnosticsSlf4jLogger.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/diagnostics/SimpleDiagnosticsSlf4jLogger.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Labels: Cosmos

#35508 Sync eng/common directory with azure-sdk-tools for PR 6300
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#35310 New ContainerService Event Grid events
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceClusterSupportEndedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceClusterSupportEndingEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceClusterSupportEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceNodePoolRollingEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceNodePoolRollingFailedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceNodePoolRollingStartedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ContainerServiceNodePoolRollingSucceededEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/eventgrid/azure-messaging-eventgrid/swagger/src/main/java/EventGridCustomization.java
Labels: Event Grid

#35509 Prepare June 2023 EventGrid Release
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
Labels: Event Grid

#35507 Bump up current versions after azure-core-amqp:2.9.0-beta.2 and azure-messaging-servicebus:7.15.0-beta.1 releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus, Azure.Core, Azure.Core.AMQP

#35510 Increment versions for eventgrid releases
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Event Grid

#35284 Update Javadocs for Event Hubs
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/Checkpoint.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventBatchContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventHubConnectionStringProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/package-info.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubsJavaDocCodeSamples.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorClientCheckpointing.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ReadmeSamples.java
Labels: Event Hubs

#35258 Upgrade Wiremock Dependency
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/annotation/Post.java
  sdk/core/azure-core/src/samples/java/com/azure/core/annotation/AnnotationJavadocCodesnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/UrlBuilderTests.java
Labels: Client, Azure.Core, test-enhancement

#35031 Queues Sync Stack Integration
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClientBuilder.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessageIdsImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSasAsyncClientTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSasAsyncTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceAsyncApiTests.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#35549 Dall-E models code generation
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageGenerationOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageLocation.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageOperationResponse.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageOperationStatus.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageResponse.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageSize.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/State.java
  sdk/openai/azure-ai-openai/src/main/java/module-info.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: Open AI

#35513 Read many fix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Labels: Cosmos

#35525 [AppConfig] Remove overload API of Creating Snapshot
  sdk/appconfiguration/azure-data-appconfiguration/assets.json
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshotAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshots.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshotsAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
Labels: App Configuration

#35122 Syncify Access Token Cache
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCacheInfo.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/java/com/azure/data/schemaregistry/apacheavro/SchemaRegistryApacheAvroSerializerIntegrationTest.java
  sdk/schemaregistry/azure-data-schemaregistry/src/test/java/com/azure/data/schemaregistry/SchemaRegistryClientTests.java
Labels: Azure.Core

#35292 SessionTokenMismatchRetryPolicy optimization through customer supplied region switch hints
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/SessionRetryOptionsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientUnderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/SpyClientUnderTestFactory.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelperTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReaderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReaderUnderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriterTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientGoneForWriteTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientPartitionSplitTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientRetryWithTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreReaderDotNetTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosRegionSwitchHint.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosSessionRetryOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosSessionRetryOptionsBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/AsyncDocumentClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenMismatchRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/SharedTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClientFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
Labels: Cosmos

#35592 Sync eng/common directory with azure-sdk-tools for PR 6392
  eng/common/pipelines/templates/steps/create-pull-request.yml
Labels: EngSys, Central-EngSys

#35569 Add MemberNameConverter tests to azure-core-version-tests
  sdk/core/azure-core-experimental/src/main/java/com/azure/core/experimental/util/tracing/LoggingTracerProvider.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/GsonJsonProvider.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonJsonProvider.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/MemberNameConverterImpl.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/MemberNameConverterTests.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/GettersWithAnnotations.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/Hotel.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/NoAnnotationsGetters.java
  sdk/core/azure-core-version-tests/src/test/java/com/azure/core/version/tests/models/NoAnnotationsPublicFields.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/MemberNameConverterImpl.java
Labels: Client, Azure.Core

#35593 Upgrade HTTP Dependencies
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Client, Azure.Core, HttpClient

#35594 Adding support for parsing SAS token date only for start and end time
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy
  sdk/storage/azure-storage-blob/src/test/resources/session-records/BlobAPITestParseSasTokenWithStartAndEndTimeDateOnly.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
Labels: Storage

#35166 API for threshold based retries
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithAvailabilityTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ExcludeRegionTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/AvailabilityStrategy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosEndToEndOperationLatencyPolicyConfigBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ThresholdBasedAvailabilityStrategy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/apachecommons/lang/StringUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/SpeculativeProcessor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/speculativeprocessors/ThresholdBasedSpeculation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
Labels: Cosmos

#35590 App Config Fix Readme Typo
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
Labels: azure-spring

#35447 Fixing Push Refresh issue
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/AppConfigurationEndpoint.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/AppConfigurationWebConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/AppConfigurationEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushbusrefresh/AppConfigurationBusRefreshEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushrefresh/AppConfigurationRefreshEndpointTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/test/resources/webHookValidation.json
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/properties/ConfigStore.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/stores/ConfigStoreTest.java
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
Labels: azure-spring

#35605 [Automation] Generate Fluent Lite from graphservicesprod#package-2023-04-13
  eng/versioning/version_client.txt
  sdk/avs/azure-resourcemanager-avs/pom.xml
  sdk/graphservices/azure-resourcemanager-graphservices/CHANGELOG.md
  sdk/graphservices/azure-resourcemanager-graphservices/README.md
  sdk/graphservices/azure-resourcemanager-graphservices/SAMPLE.md
  sdk/graphservices/azure-resourcemanager-graphservices/pom.xml
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/GraphServicesManager.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/AccountOperationsClient.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/AccountsClient.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/GraphServices.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountOperationsClientImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountOperationsImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountResourceImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountsClientImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountsImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/GraphServicesImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountOperations.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/Accounts.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsCreateAndUpdateSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsDeleteSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsGetByResourceGroupSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsListByResourceGroupSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsListSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsUpdateSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/OperationsListSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsCreateAndUpdateMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsDeleteByResourceGroupWithResponseMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsGetByResourceGroupWithResponseMockTests.java
  sdk/resourcemover/azure-resourcemanager-resourcemover/pom.xml
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
Labels: Mgmt - Track 2

#35608 Port #33489 jms passwordless to spring boot 3 branch
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsCredentialSupplier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsPasswordlessConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/AzurePasswordlessEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/AbstractAzureJdbcAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessorTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessorWithApplicationContextRunnerTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/MySqlAzureJdbcAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/PostgreSqlAzureJdbcAutoConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsPasswordlessConfigurationTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/properties/AzureServiceBusJmsPropertiesTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/MergeAzureCommonPropertiesTest.java
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzurePasswordlessPropertiesUtils.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifier.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/properties/PasswordlessProperties.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/util/AzurePasswordlessPropertiesUtilsTest.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/jms/ServiceBusJmsPasswordlessIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application-servicebus-jms-passwordless.yml
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/servicebus/test-resources.json
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzureJdbcPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzureKafkaPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/kafka/KafkaOAuth2AuthenticateCallbackHandlerTest.java
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: azure-spring

#35617 Transition Anomaly Detector to Test Proxy
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
  sdk/anomalydetector/azure-ai-anomalydetector/assets.json
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTestBase.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/MultivariateAnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/resources/session-records/AnomalyDetectorClientTest.testDetect.json
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/resources/session-records/MultivariateAnomalyDetectorClientTest.testDetect.json
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/resources/session-records/testDetect.json
  sdk/anomalydetector/azure-ai-anomalydetector/test-resources.json
Labels: Client, Cognitive - Anomaly Detector

#34943 Search Regeneration
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchResultConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchResultHelper.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/QueryResultDocumentSemanticFieldState.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchDocumentsResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/Vector.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/SearchPagedResponseAccessHelper.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/EntityRecognitionSkillV1.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/SentimentSkillV1.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/EntityRecognitionSkillLanguage.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/HnswParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/HnswVectorSearchAlgorithmConfiguration.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchFieldDataType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndex.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexStatistics.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerCache.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerKnowledgeStore.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchServiceCounters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SemanticSettings.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SentimentSkillLanguage.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearch.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchAlgorithmConfiguration.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchAlgorithmMetric.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/WebApiSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/DocumentDebugInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryAnswerType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryDebugMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryResultDocumentRerankerInput.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryResultDocumentSemanticField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticDebugInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticErrorHandling.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticPartialResponseReason.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticPartialResponseType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedFlux.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedIterable.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedResponse.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search

#35623 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/jacoco-test-coverage/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring, AOT

#35610 Update to support Spring Boot 3.1.x
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/ClassNameResolverPredicate.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/redis/AzureRedisAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/ClassNameResolverPredicateTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/AzureRedisAutoConfigurationTests.java
Labels: azure-spring

#35551 Support OpenAI in Spring Cloud Azure
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/ci.yml
  sdk/spring/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/openai/AzureOpenAIAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/openai/properties/AzureOpenAIProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/openai/AzureOpenAIAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifier.java
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/openai/OpenAIClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/openai/OpenAIClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/openai/credential/NonAzureOpenAIKeyAuthenticationDescriptor.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/openai/credential/NonAzureOpenAIKeyCredentialResolver.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/openai/AzureOpenAITestProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/openai/OpenAIClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-starter-openai/pom.xml
Labels: azure-spring

#35631 Address 5.3.0 api review
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/properties/AzureServiceBusJmsProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/properties/AzureJdbcPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/properties/AzureKafkaPasswordlessProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/JdbcPropertiesBeanPostProcessorWithApplicationContextRunnerTest.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/properties/AzurePasswordlessPropertiesMapping.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/properties/PasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/kafka/AzureKafkaPropertiesUtils.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzurePasswordlessProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/kafka/KafkaOAuth2AuthenticateCallbackHandlerTest.java
Labels: azure-spring

#35633 Prepare for Spring Cloud Azure 4.9.0-beta.1 release
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-trace-sleuth/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#35620 [AppConfig] AAD test enabled
  sdk/appconfiguration/azure-data-appconfiguration/assets.json
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/AadCredentialTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
Labels: Client, App Configuration

#35618 Update logging ErrorDescription and fixing Event Hubs test
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/AmqpLoggingUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core.AMQP

#35643 [TA] Add Code Owner and Disable PII regression test
  .github/CODEOWNERS
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
Labels: Client, Cognitive - Text Analytics

#35644 [TA] Disabled regression PII tests
  sdk/textanalytics/azure-ai-textanalytics/assets.json
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsAsyncClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTest.java
  sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/TextAnalyticsClientTestBase.java
Labels: Client, Cognitive - Text Analytics

#35648 [Automation] Generate Fluent Lite from dataprotection#package-2023-01
  eng/versioning/version_client.txt
  sdk/dataprotection/azure-resourcemanager-dataprotection/CHANGELOG.md
  sdk/dataprotection/azure-resourcemanager-dataprotection/README.md
  sdk/dataprotection/azure-resourcemanager-dataprotection/pom.xml
  sdk/dataprotection/azure-resourcemanager-dataprotection/src/main/java/com/azure/resourcemanager/dataprotection/DataProtectionManager.java
Labels: Mgmt - Track 2

#35657 [Synapse-artifacts] TestProxy Migration
  sdk/synapse/azure-analytics-synapse-artifacts/assets.json
  sdk/synapse/azure-analytics-synapse-artifacts/src/test/java/com/azure/analytics/synapse/artifacts/ArtifactsClientTestBase.java
  sdk/synapse/azure-analytics-synapse-artifacts/src/test/java/com/azure/analytics/synapse/artifacts/NotebookClientTest.java
  sdk/synapse/azure-analytics-synapse-artifacts/src/test/resources/session-records/getNoteBook.json
  sdk/synapse/azure-analytics-synapse-artifacts/swagger/README.md
Labels: Synapse

#35656 Migrate azure-ai-personalizer to Test Proxy
  .vscode/cspell.json
  sdk/personalizer/azure-ai-personalizer/assets.json
  sdk/personalizer/azure-ai-personalizer/pom.xml
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/implementation/util/Constants.java
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/implementation/util/Utility.java
  sdk/personalizer/azure-ai-personalizer/src/samples/java/com/azure/ai/personalizer/RankActionsAndRewardEvents.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/ConfigurationTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/EvaluationTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/LogsTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/ModelTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/MultiSlotTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/PersonalizerTestBase.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/RankTests.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/TestUtils.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/ActionCategory.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/ActionFeatures.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/Context.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/CurrentFeatures.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/Device.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/Environment.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/FeatureMetadata.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/RecentActivity.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/SlotPositionFeatures.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/UserFeatures.java
  sdk/personalizer/azure-ai-personalizer/src/test/java/com/azure/ai/personalizer/testmodels/UserProfile.java
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/ConfigurationTests.configurationTests[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/EvaluationTests.listEvaluationsTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/EvaluationTests.runEvaluationLifecycleTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/EventsTests.singleSlotEventsTests[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/LogsTests.deleteLogsTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/LogsTests.logTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/ModelTests.exportImportModelTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/ModelTests.modelTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/MultiSlotTests.multiSlotTest[1].json
  sdk/personalizer/azure-ai-personalizer/src/test/resources/session-records/RankTests.singleSlotRankTests[1].json
  sdk/personalizer/azure-ai-personalizer/swagger/README.md
  sdk/personalizer/test-resources.json
  sdk/personalizer/tests.yml
Labels: Client, Cognitive - Personalizer

#35660 [ServiceBus] Fix NPE in instrumentProcess
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/module-info.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentationTests.java
Labels: Service Bus

#35662 Sync eng/common directory with azure-sdk-tools for PR 6434
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#35666 [Synapse-Spark] TestProxy Migration
  sdk/synapse/azure-analytics-synapse-spark/assets.json
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/src/test/java/com/azure/analytics/synapse/spark/SparkClientTestBase.java
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/getSparkBatchJob.json
  sdk/synapse/azure-analytics-synapse-spark/src/test/resources/session-records/getSparkSession.json
  sdk/synapse/azure-analytics-synapse-spark/swagger/README.md
Labels: Client, Synapse

#35663 [Dependency Update] com.google.guava:guava
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-core/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Cosmos, KeyVault

#35686 Sync eng/common directory with azure-sdk-tools for PR 6440
  eng/common/scripts/get-codeowners.lib.ps1
Labels: EngSys, Central-EngSys

#35687 Sync .github/workflows directory with azure-sdk-tools for PR 6440
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#35684 Update bouncycastle dependency version
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/mediaservices/microsoft-azure-media/pom.xml
Labels: KeyVault

#35639 Fixed issues with the previous DALL-E incorporation to the SDK
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureOpenAIOperationState.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsFinishReason.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageOperationResponse.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#35691 Update sdk/spring/spring-reference.yml
  sdk/spring/spring-reference.yml
Labels: azure-spring

#35675 Fix application id too long in AzureSpringIdentifier
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifier.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/util/AzureSpringIdentifierTests.java
Labels: azure-spring

#35700 [OpenAI] Fixed IllegalFormatConversionException
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/ChatbotWithKeySample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/SummarizeTextSample.java
Labels: OpenAI

#35140 [AppConfig] Added new features for Snapshot Configurations (#34126)
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/assets.json
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationServiceVersion.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/CreateSnapshotOperationDetailPropertiesHelper.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/CreateSnapshotUtilClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/Utility.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/CompositionType.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationSettingSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/CreateSnapshotOperationDetail.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SnapshotSelector.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/AadAuthentication.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConditionalRequest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConditionalRequestAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationAsyncClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshot.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/CreateSnapshotAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorld.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/HelloWorldAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshots.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ListSnapshotsAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/PipelineSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ProxyOptionsSample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadOnlySample.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadOnlySampleAsync.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/AadCredentialTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/swagger/README.md
Labels: Client, App Configuration
