Repository Azure/azure-sdk-for-java, pull requests merged in 2024-11, with the labels that each got.

#42715 resolveFewTODOCommentsInKafka
  sdk/cosmos/azure-cosmos-kafka-connect/dev/Confluent_Cloud_Setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/README_Sink.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/README_Source.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/docker/resources/sink.example.json
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosClientStore.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosUtils.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/ItemWriteStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/StructToJsonMap.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/JsonToStruct.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThread.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorTest.java
Labels: Cosmos

#42761 Prepare Core libraries for November 2024 release
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Labels: Container Registry, Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#41804 Optimize JsonSerializable and miscellaneous logging fixes
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Index.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Integers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Longs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/OpenConnectionAndInitCachesRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdDurableEndpointMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeEpkImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosMicrometerMetricsOptions.java
Labels: Cosmos

#42641 [Service Bus] Enabled RequestResponseChannelCache (CBS, Management channel cache) and ReactorSessionCache by default.
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Service Bus

#42777 Remove unreleased azure-core usage
  eng/versioning/version_client.txt
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
Labels: Container Registry

#42762 Remove connection strings in Stress tests
  sdk/eventhubs/azure-messaging-eventhubs-stress/Chart.yaml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/scenarios-matrix.yaml
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/scenarios/EventSenderBuffered.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/ScenarioOptions.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs-stress/stress-test-resources.bicep
Labels: Event Hubs

#41985 Refactor AuthorizationChallengeHandler class
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpHeaderName.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ProxyOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/auth/AuthUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/auth/BasicChallengeHandler.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/auth/ChallengeHandler.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/auth/DigestChallengeHandler.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/auth/package-info.java
  sdk/clientcore/core/src/main/java/module-info.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/auth/AuthorizationChallengeHandlerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/auth/CompositeChallengeHandlerTest.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClientBuilder.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/AuthorizationChallengeHandler.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticator.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticatorTests.java
Labels: clientcore

#42771 Support propagating the custom beans for binder configurations
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/resources/META-INF/shared.beans
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/resources/META-INF/shared.beans
Labels: azure-spring

#42760 Updated Springboot deprecated Method TaskExecutorBuilder -> ThreadPoolTaskExecutorBuilder
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureTokenCredentialAutoConfiguration.java
Labels: customer-reported, azure-spring, Community Contribution

#42784 Feature/propagate common beans via shared beans for release branch
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/resources/META-INF/shared.beans
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/resources/META-INF/shared.beans
Labels: azure-spring

#42636 Add Reactor 2024 RC1 to version testing
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.versions.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/build-and-test.yml
  eng/pipelines/templates/variables/globals.yml
  eng/versioning/supported_external_dependency_versions.json
  sdk/core/ci.yml
  sdk/eventhubs/version-overrides-matrix.json
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/servicebus/version-overrides-matrix.json
Labels: Event Hubs, Service Bus, Azure.Core

#42785 KafkaRelease2.0.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/Confluent_Cloud_Setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/Confluent_Platform_Setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/CosmosDB_Setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/README_Sink.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/README_Source.md
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/SignUpConfluentCloud.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/Topics-Partitions.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/add-topic.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/attach-pr-to-issue.PNG
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/cli-and-tools.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/click-add-cluster.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/click-default.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/converter-misconfigurations.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/cosmosdb-sink-records.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/delete-connector.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/delete-source-connector.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/env-configurations.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/environment-click.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/microsoft.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/name-topic.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/schema-key-and-secret.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/schema-registry.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/select-azure.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/select-enable-schema.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/select-ksqlDB.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/select-name-launch.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/select-schema-region.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/images/upload-connector-config.png
  sdk/cosmos/azure-cosmos-kafka-connect/dev/setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/docs/Confluent_Cloud_Setup.md
  sdk/cosmos/azure-cosmos-kafka-connect/docs/README_Sink.md
  sdk/cosmos/azure-cosmos-kafka-connect/docs/README_Source.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
Labels: Cosmos

#42781 Sync eng/common directory with azure-sdk-tools for PR 9300
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#42572 Use TME subscription training data account
  .vscode/cspell.json
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTestBase.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClientTest.java
  sdk/documentintelligence/test-resources.json
Labels: Document Intelligence

#42790 Sync eng/common directory with azure-sdk-tools for PR 9308
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#42780 Sync eng/common directory with azure-sdk-tools for PR 9277
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#42794 Fix api view
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/provider/authentication/TokenCredentialOptionsProvider.java
Labels: azure-spring

#42791 Prepare Identity Patch Release November 2024.
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#42804 [Service Bus] Avoid terminal signals by passing to reactor onErrorDropped, resulting log noise in error level
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousReceiver.java
Labels: Service Bus

#42806 Sync eng/common directory with azure-sdk-tools for PR 9330
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#42826 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#40239 [azure-spring-data-cosmos] Turn java.math.Big{Decimal,Integer} into simple types
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/CosmosSimpleTypes.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/common/TestConstants.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/converter/MappingCosmosConverterUnitTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/BigJavaMathTypes.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/BigType.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/BigTypeRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/BigTypeRepository.java
Labels: customer-reported, azure-spring, Community Contribution

#42832 Fix typo and grammar in app config store client files
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
Labels: App Configuration, customer-reported, Community Contribution

#42792 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
Labels: Cosmos

#41783 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: Communication - Call Automation

#42215 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/translation/azure-ai-translation-document/pom.xml
Labels: Batch, Event Hubs, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm, Azure Quantum

#42366 Increment versions for vision releases
  eng/versioning/version_client.txt
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
Labels: Image Analysis

#42839 dpg, update commit id for 3 libs
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DevBoxesAsyncClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/DevBoxesClient.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/implementation/DevBoxesClientImpl.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevBox.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevBoxAction.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevBoxImageReference.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevBoxNextAction.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevCenterOperationDetails.java
  sdk/devcenter/azure-developer-devcenter/tsp-location.yaml
  sdk/healthinsights/azure-health-insights-radiologyinsights/tsp-location.yaml
Labels: DevCenter, Cognitive - Health Insights

#42837 Sync eng/common directory with azure-sdk-tools for PR 9333
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#42845 Sync eng/common directory with azure-sdk-tools for PR 9331
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#42848 Sync eng/common directory with azure-sdk-tools for PR 9354
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Labels: EngSys, Central-EngSys

#42844 mgmt, sync cosmos 2.44.1 patch
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/assets.json
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/CassandraKeyspaceGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/CassandraTableGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/ClusterResourceInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/DatabaseAccountGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/GremlinDatabaseGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/GremlinGraphGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/MongoDBCollectionGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/MongoDBDatabaseGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/SqlContainerGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/SqlDatabaseGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/SqlStoredProcedureGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/SqlTriggerGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/SqlUserDefinedFunctionGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/TableGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/fluent/models/ThroughputSettingsGetResultsInner.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/implementation/CosmosDBManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/implementation/DatabaseAccountsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/ArmResourceProperties.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/CassandraKeyspaceCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/CassandraTableCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/DatabaseAccountCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/GremlinDatabaseCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/GremlinGraphCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/ManagedCassandraArmResourceProperties.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/MongoDBCollectionCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/MongoDBDatabaseCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlContainerCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlDatabaseCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlStoredProcedureCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlTriggerCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/SqlUserDefinedFunctionCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/TableCreateUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/java/com/azure/resourcemanager/cosmos/models/ThroughputSettingsUpdateParameters.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/cosmos/generated/GremlinResourcesCreateUpdateGremlinGraphSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/cosmos/generated/SqlResourcesCreateUpdateSqlContainerSamples.java
Labels: Mgmt

#42835 Fix throughput control npe in case of defaultGroup not set
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ContainerThroughputControlGroupPropertiesTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ContainerThroughputControlGroupProperties.java
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
Labels: Cosmos, azure-spring

#42858 [Automation] Generate SDK based on TypeSpec 0.24.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/ComputeFleetManager.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/models/VMAttributes.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/AdditionalCapabilitiesTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/ApplicationProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/CapacityReservationProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/InnerErrorTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/ManagedServiceIdentityTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/ManagedServiceIdentityUpdateTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/OSImageNotificationProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/OperationsListMockTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/ScheduledEventsProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/SecurityPostureReferenceTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/ServiceArtifactReferenceTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/TerminateNotificationProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/UserAssignedIdentityTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/VMGalleryApplicationTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/VMSizePropertiesTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/VirtualMachineScaleSetHardwareProfileTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/tsp-location.yaml
  sdk/computeschedule/azure-resourcemanager-computeschedule/src/main/java/com/azure/resourcemanager/computeschedule/ComputeScheduleManager.java
  sdk/containerorchestratorruntime/azure-resourcemanager-containerorchestratorruntime/src/main/java/com/azure/resourcemanager/containerorchestratorruntime/ContainerOrchestratorRuntimeManager.java
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/DeviceRegistryManager.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/DevOpsInfrastructureManager.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/FabricManager.java
  sdk/fabric/azure-resourcemanager-fabric/tsp-location.yaml
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/HealthDataAIServicesManager.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/java/com/azure/resourcemanager/iotoperations/IoTOperationsManager.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/main/java/com/azure/resourcemanager/mongocluster/MongoClusterManager.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/StandbyPoolManager.java
  sdk/trustedsigning/azure-resourcemanager-trustedsigning/src/main/java/com/azure/resourcemanager/trustedsigning/TrustedSigningManager.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/WorkloadsSapVirtualInstanceManager.java
Labels: Mgmt, DPG

#42578 updated ops outgoing call
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallDialogsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/MicrosoftTeamsAppIdentifierConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AnswerCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#42862 Upgrade python versions < 3.11 to 3.11
  eng/pipelines/templates/variables/globals.yml
  sdk/cosmos/spark.databricks.yml
Labels: Cosmos

#42865 Release November Patch for Form Recognizer
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#42863 [Document Intelligence] Update for failing tests
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTestBase.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/TestUtils.java
  sdk/documentintelligence/test-resources.json
Labels: Document Intelligence

#42278 FTS: Adds Full Text Search and Indexing Policy
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/FullTextIndexTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextIndex.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
Labels: Cosmos

#42333 Vector Search: Adds support for Partitioned DiskANN
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/NonStreamingOrderByQueryVectorSearchTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/VectorIndexTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorEmbedding.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexSpec.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexType.java
Labels: Cosmos

#42830 removing blocking from FileServiceAsyncApiTests file
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncApiTests.java
Labels: Storage

#42860 Fix token acquisition when using azure-json
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/resources/add-remote-jvm-debug-configuration.png
  sdk/keyvault/azure-security-keyvault-jca/resources/debug-breakpoints.png
  sdk/keyvault/azure-security-keyvault-jca/resources/start-jarsigner-command-for-debug.png
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/model/AccessToken.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/resources/module-info.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/implementation/utils/JsonConverterUtilTest.java
Labels: azure-spring

#42869 Increment versions for formrecognizer releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer, graalvm

#42838 Allow broker session acquire timeout to propagate to acceptSession sync api
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionAcquirer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSingleSessionManager.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionAcquirerIsolatedTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClientTest.java
Labels: Service Bus

#42879 Add logs to indicate that the token does not have sign permission.
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
Labels: azure-spring

#42903 sync to tsp 0.62, update tsp-location for compute-batch
  sdk/batch/azure-compute-batch/tsp-location.yaml
Labels: Batch

#42899 Changing visibility of encryptionScope and azureBlobStorage in BlobClientBase
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
Labels: Storage

#42906 Fix recursion issue when loading ImplUtils
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/HeaderCollectionHandler.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtilsMethodHandle.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/HeaderCollectionHandler.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperFactory.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLogOptionsIT.java
  sdk/core/azure-core/src/test/resources/HttpLogOptionsPolicies/simple.policy
Labels: Azure.Core

#42909 Reduce warmup and runtime and remove single thread huge blob
  sdk/storage/azure-storage-blob/perf-tests.yml
Labels: Storage

#42793 Sync eng/common directory with azure-sdk-tools for PR 9328
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#42795 Fix for set `DnsNameLabelReusePolicy`/`autoGeneratedDomainNameLabelScope` during creation of a new `ContainerGroup`.
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/assets.json
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/implementation/ContainerGroupImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/models/ContainerGroup.java
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
Labels: Mgmt

#42911 Update Netty dependency to latest
  eng/versioning/external_dependencies.txt
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Azure.Core, WebPubSub, graalvm

#42918 Document Intelligence: Fix async lro tests
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceAsyncClientTest.java
Labels: Document Intelligence

#42926 updates subscribe calls in service-bus with no-op handlers or handlers that logs
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionManager.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SessionsMessagePump.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/MessageUtils.java
Labels: Service Bus

#42923 Removing blocking from DirectoryAsyncApiTests file
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncApiTests.java
Labels: Storage

#42925 Don't run Spring build below Java 17 (baseline requirement)
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: Azure.Core, azure-spring

#42920 Sync eng/common directory with azure-sdk-tools for PR 9373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#42886 Running Prepare-Release for azure-messaging-servicebus 7.17.6
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#42929 STG96 GA Release 2024-11-13
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#42931 Add missing properties file for azure-messaging-eventgrid
  sdk/eventgrid/azure-messaging-eventgrid/src/main/resources/azure-messaging-eventgrid.properties
Labels: Event Grid

#42833 Migrate Identity libraries to new linting format
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/identity/azure-identity-broker-samples/checkstyle-suppressions.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker-samples/spotbugs-exclude.xml
  sdk/identity/azure-identity-broker/checkstyle-suppressions.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-broker/spotbugs-exclude.xml
  sdk/identity/azure-identity-broker/src/main/java/com/azure/identity/broker/implementation/package-info.java
  sdk/identity/azure-identity-extensions/checkstyle-suppressions.xml
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/identity/azure-identity-extensions/spotbugs-exclude.xml
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/provider/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/enums/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/exception/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/template/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/token/package-info.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/utils/package-info.java
  sdk/identity/azure-identity/checkstyle-suppressions.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/spotbugs-exclude.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/models/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/ApiManager.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Authenticator.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClient.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClientBuilder.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenResult.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AuthenticationInfo.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AzureJedisWrapperSample.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/package-info.java
Labels: Azure.Identity, azure-spring

#42938 [Automation] Generate SDK based on TypeSpec 0.25.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/models/CompleteRequest.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/models/EmbedRequest.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/models/ImageEmbedRequest.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatRequestUserMessage.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/EmbeddingItem.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/channels/WhatsAppMessageTemplateItem.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/InnerError.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/models/LivenessResponseBody.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/Assistant.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantCreationOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/CreateAndRunThreadOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/CreateRunOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/CreateToolResourcesOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/ThreadRun.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/UpdateAssistantOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/MongoDBChatExtensionParameters.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/models/AutoCompleteOptions.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/models/QueryOptions.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/models/SuggestOptions.java
Labels: Cognitive - Face, Purview, DPG, OpenAI, AI Model Inference

#42941 Increment versions for hybridcompute releases
  eng/versioning/version_client.txt
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/pom.xml
Labels: Mgmt

#42928 November 2024 path release for Core libraries
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#42932 Support per-call timeout in JdkHttpClient
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClient.java
Labels: Azure.Core

#42933 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/translation/azure-ai-translation-document/pom.xml
Labels: Batch, Event Grid, Event Hubs, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm, Azure Quantum

#42907 Fix PackageInfo generation and ServiceDirectory entries in ci*.yml files.
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Language-Settings.ps1
  sdk/communication/azure-communication-callautomation/ci.yml
  sdk/communication/azure-communication-callingserver/ci.yml
  sdk/communication/azure-communication-chat/ci.yml
  sdk/communication/azure-communication-common/ci.yml
  sdk/communication/azure-communication-email/ci.yml
  sdk/communication/azure-communication-identity/ci.yml
  sdk/communication/azure-communication-jobrouter/ci.yml
  sdk/communication/azure-communication-messages/ci.yml
  sdk/communication/azure-communication-phonenumbers/ci.yml
  sdk/communication/azure-communication-rooms/ci.yml
  sdk/communication/azure-communication-sms/ci.yml
  sdk/communication/azure-resourcemanager-communication/ci.yml
  sdk/eventgrid/azure-resourcemanager-eventgrid/ci.yml
  sdk/identity/azure-identity-extensions/ci.yml
  sdk/maps/azure-maps-geolocation/ci.yml
  sdk/maps/azure-maps-render/ci.yml
  sdk/maps/azure-maps-route/ci.yml
  sdk/maps/azure-maps-search/ci.yml
  sdk/maps/azure-maps-timezone/ci.yml
  sdk/maps/azure-maps-traffic/ci.yml
  sdk/maps/azure-maps-weather/ci.yml
  sdk/spring/spring-cloud-azure-starter-monitor/ci.yml
Labels: Mgmt, azure-spring, Communication - Calling Server, Communication - Chat, Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Communication - Rooms, Communication - Call Automation, Communication - Email

#42949 [OpenAI] Clean up legacy terms and outdated documentations
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/TROUBLESHOOTING.md
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/auth/ClientCreationWithAzureEntraIdCredentialSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamSample.java
Labels: OpenAI

#42945 Add missing links in azure-core-metrics-opentelemetry README
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/src/main/java/com/azure/core/metrics/opentelemetry/OpenTelemetryMeterProvider.java
  sdk/core/azure-core-metrics-opentelemetry/src/samples/java/com/azure/core/metrics/opentelemetry/MetricsJavaDocCodeSnippets.java
Labels: Azure.Core

#42912 allowHttpForEmulatorHost
  eng/pipelines/templates/stages/cosmos-emulator-vnext-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-vnext-emulator-http.yml
  eng/pipelines/templates/stages/cosmos-vnext-emulator-https.yml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EmulatorVNextWithHttpTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConfigsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/resources/emulator-vnext-testng.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
Labels: Cosmos

#42868 [DigitalTwin] Release minor version to pick up stream-style serialization
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: Digital Twins

#42953 Update TROUBLESHOOTING.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: customer-reported, Azure.Identity, Community Contribution

#42867 [Translation-Text] Prepare minor release and add it to auto patch_release_client list
  eng/pipelines/patch_release_client.txt
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/README.md
  sdk/translation/azure-ai-translation-text/pom.xml
Labels: Text Translation

#42954 Increment versions for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
Labels: Digital Twins

#42952 Migrate some libraries to new Checkstyle and Spotbugs pattern
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/spotbugs-aggregate-report/README.md
  eng/spotbugs-aggregate-report/pom.xml
  sdk/translation/azure-ai-documenttranslator/checkstyle-suppressions.xml
  sdk/translation/azure-ai-documenttranslator/pom.xml
  sdk/translation/azure-ai-documenttranslator/spotbugs-exclude.xml
  sdk/translation/azure-ai-translation-document/checkstyle-suppressions.xml
  sdk/translation/azure-ai-translation-document/pom.xml
  sdk/translation/azure-ai-translation-document/spotbugs-exclude.xml
  sdk/translation/azure-ai-translation-text/checkstyle-suppressions.xml
  sdk/translation/azure-ai-translation-text/pom.xml
  sdk/translation/azure-ai-translation-text/spotbugs-exclude.xml
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationAsyncClient.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationClient.java
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/checkstyle-suppressions.xml
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/pom.xml
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/spotbugs-exclude.xml
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/src/samples/java/com/azure/media/videoanalyzer/edge/LvaInvokeModuleSample.java
  sdk/vision/azure-ai-vision-imageanalysis/checkstyle-suppressions.xml
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/spotbugs-exclude.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/checkstyle-suppressions.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/spotbugs-exclude.xml
  sdk/webpubsub/azure-messaging-webpubsub/checkstyle-suppressions.xml
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/spotbugs-exclude.xml
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/WebPubSubUtil.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/implementation/models/package-info.java
  sdk/webpubsub/azure-messaging-webpubsub/src/main/java/com/azure/messaging/webpubsub/models/WebPubSubClientProtocol.java
Labels: WebPubSub, Image Analysis, Text Translation

#42964 Increment versions for translation releases
  eng/versioning/version_client.txt
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/pom.xml
Labels: Text Translation

#42963 Migrate Schema Registry, Synapse, Tables, and Text Analytics to new Checkstyle and Spotbugs pattern
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/checkstyle-suppressions.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/spotbugs-exclude.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/checkstyle-suppressions.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/spotbugs-exclude.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/JsonSchemaGenerator.java
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/src/main/java/com/azure/data/schemaregistry/jsonschema/SchemaRegistryJsonSchemaSerializerBuilder.java
  sdk/schemaregistry/azure-data-schemaregistry/checkstyle-suppressions.xml
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/spotbugs-exclude.xml
  sdk/synapse/azure-analytics-synapse-accesscontrol/checkstyle-suppressions.xml
  sdk/synapse/azure-analytics-synapse-accesscontrol/pom.xml
  sdk/synapse/azure-analytics-synapse-accesscontrol/spotbugs-exclude.xml
  sdk/synapse/azure-analytics-synapse-artifacts/checkstyle-suppressions.xml
  sdk/synapse/azure-analytics-synapse-artifacts/pom.xml
  sdk/synapse/azure-analytics-synapse-artifacts/spotbugs-exclude.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/checkstyle-suppressions.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/pom.xml
  sdk/synapse/azure-analytics-synapse-managedprivateendpoints/spotbugs-exclude.xml
  sdk/synapse/azure-analytics-synapse-monitoring/checkstyle-suppressions.xml
  sdk/synapse/azure-analytics-synapse-monitoring/pom.xml
  sdk/synapse/azure-analytics-synapse-monitoring/spotbugs-exclude.xml
  sdk/synapse/azure-analytics-synapse-spark/checkstyle-suppressions.xml
  sdk/synapse/azure-analytics-synapse-spark/pom.xml
  sdk/synapse/azure-analytics-synapse-spark/spotbugs-exclude.xml
  sdk/tables/azure-data-tables/checkstyle-suppressions.xml
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/spotbugs-exclude.xml
  sdk/textanalytics/azure-ai-textanalytics/checkstyle-suppressions.xml
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/spotbugs-exclude.xml
Labels: Tables, Schema Registry, Cognitive - Text Analytics

#42965 Migrate Personalizer, Purview, Quantum, and Remote Rending to new Checkstyle and Spotbugs pattern
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/personalizer/azure-ai-personalizer/checkstyle-suppressions.xml
  sdk/personalizer/azure-ai-personalizer/pom.xml
  sdk/personalizer/azure-ai-personalizer/spotbugs-exclude.xml
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/PersonalizerClientBuilder.java
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/administration/PersonalizerAdministrationClientBuilder.java
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/administration/models/CreateEvaluationOperationResult.java
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/administration/models/EvaluationOperationException.java
  sdk/personalizer/azure-ai-personalizer/src/main/java/com/azure/ai/personalizer/models/PersonalizerAudience.java
  sdk/purview/azure-analytics-purview-administration/checkstyle-suppressions.xml
  sdk/purview/azure-analytics-purview-administration/pom.xml
  sdk/purview/azure-analytics-purview-administration/spotbugs-exclude.xml
  sdk/purview/azure-analytics-purview-datamap/checkstyle-suppressions.xml
  sdk/purview/azure-analytics-purview-datamap/pom.xml
  sdk/purview/azure-analytics-purview-datamap/spotbugs-exclude.xml
  sdk/purview/azure-analytics-purview-scanning/checkstyle-suppressions.xml
  sdk/purview/azure-analytics-purview-scanning/pom.xml
  sdk/purview/azure-analytics-purview-scanning/spotbugs-exclude.xml
  sdk/purview/azure-analytics-purview-sharing/checkstyle-suppressions.xml
  sdk/purview/azure-analytics-purview-sharing/pom.xml
  sdk/purview/azure-analytics-purview-sharing/spotbugs-exclude.xml
  sdk/purview/azure-analytics-purview-workflow/checkstyle-suppressions.xml
  sdk/purview/azure-analytics-purview-workflow/pom.xml
  sdk/purview/azure-analytics-purview-workflow/spotbugs-exclude.xml
  sdk/quantum/azure-quantum-jobs/checkstyle-suppressions.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/quantum/azure-quantum-jobs/spotbugs-exclude.xml
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/QuantumClientBuilder.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/BlobDetails.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/DimensionScope.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/ErrorData.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/JobDetails.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/JobDetailsList.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/JobStatus.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/MeterPeriod.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/ProviderAvailability.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/ProviderStatus.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/ProviderStatusList.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/Quota.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/QuotaList.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/RestError.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/SasUriResponse.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/TargetAvailability.java
  sdk/quantum/azure-quantum-jobs/src/main/java/com/azure/quantum/jobs/models/TargetStatus.java
  sdk/remoterendering/azure-mixedreality-remoterendering/checkstyle-suppressions.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/spotbugs-exclude.xml
Labels: Cognitive - Personalizer, Remote Rendering, Purview, Azure Quantum

#42934 Fix scopes logic in Identity Client
  eng/versioning/external_dependencies.txt
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
Labels: Azure.Identity

#42966 New EG system events for ResourceNotification and Storage
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ResourceNotificationsContainerServiceEventResourcesScheduledEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/StorageLifecycleCompletionStatus.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/StorageLifecyclePolicyCompletedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/StorageLifecyclePolicyRunSummary.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#42961 Move docs variables to globals and fix daily docs
  eng/pipelines/docindex.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Docs

#42968 Sync eng/common directory with azure-sdk-tools for PR 9389
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#42955 eng, fix TypeSpec-Compare-CurrentToCodegeneration script
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
Labels: OpenAI

#42919 Registry Event Hubs conn string provider only when conn string is not empty
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaAutoConfigurationTests.java
Labels: azure-spring

#42985 Increment versions for netapp releases
  eng/versioning/version_client.txt
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
Labels: Mgmt

#42989 Migrate Container Registry, Content Safety, Dev Center, Device Update, Digital Twins, and Document Intelligence to new Checkstyle and Spotbugs pattern
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  sdk/containerregistry/azure-containers-containerregistry/checkstyle-suppressions.xml
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/spotbugs-exclude.xml
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/authentication/AccessTokenCacheInfoImpl.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/authentication/ContainerRegistryTokenService.java
  sdk/containerregistry/azure-containers-containerregistry/src/main/java/com/azure/containers/containerregistry/implementation/authentication/package-info.java
  sdk/contentsafety/azure-ai-contentsafety/checkstyle-suppressions.xml
  sdk/contentsafety/azure-ai-contentsafety/pom.xml
  sdk/contentsafety/azure-ai-contentsafety/spotbugs-exclude.xml
  sdk/devcenter/azure-developer-devcenter/checkstyle-suppressions.xml
  sdk/devcenter/azure-developer-devcenter/pom.xml
  sdk/devcenter/azure-developer-devcenter/spotbugs-exclude.xml
  sdk/deviceupdate/azure-iot-deviceupdate/checkstyle-suppressions.xml
  sdk/deviceupdate/azure-iot-deviceupdate/pom.xml
  sdk/deviceupdate/azure-iot-deviceupdate/spotbugs-exclude.xml
  sdk/digitaltwins/azure-digitaltwins-core/checkstyle-suppressions.xml
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/spotbugs-exclude.xml
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/converters/package-info.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/serializer/package-info.java
  sdk/documentintelligence/azure-ai-documentintelligence/checkstyle-suppressions.xml
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
  sdk/documentintelligence/azure-ai-documentintelligence/spotbugs-exclude.xml
Labels: Container Registry, Digital Twins, DevCenter, Document Intelligence

#42991 Eg nov 24 patch release
  .github/CODEOWNERS
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/README.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/ci.yml
Labels: Event Grid

#42993 Sync eng/common directory with azure-sdk-tools for PR 9393
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#42972 refactorInsecureConnectionConfig
  eng/pipelines/templates/stages/cosmos-emulator-vnext-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-vnext-emulator-http.yml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientBuilderConnectionPolicyTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConfigsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConnectionStateListenerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/SharedTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClientFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Labels: Cosmos

#42997 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Labels: Event Grid, Mgmt, azure-spring

#42994 Sync eng/common directory with azure-sdk-tools for PR 9381
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#42769 [Azure-Monitor-Opentelemetry-Exporter] Use the Live Metrics Swagger Definition & Fix request backoff behavior
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/spotbugs-exclude.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseCoordinator.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcher.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseHeaderInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseNetworkHelper.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseDependencyDocument.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseDocument.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseEnvelope.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseExceptionDocument.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseMetrics.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseMonitoringDataPoints.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/QuickPulseRequestDocument.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/model/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/LiveMetricsRestAPIsForClientSDKs.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/LiveMetricsRestAPIsForClientSDKsBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/AggregationType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/CollectionConfigurationError.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/CollectionConfigurationErrorType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/CollectionConfigurationInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/DerivedMetricInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/DocumentFilterConjunctionGroupInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/DocumentIngress.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/DocumentStreamInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/DocumentType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/Event.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/Exception.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/FilterConjunctionGroupInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/FilterInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/IsSubscribedHeaders.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/KeyValuePairString.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/MetricPoint.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/MonitoringDataPoint.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/PredicateType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/ProcessCpuData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/PublishHeaders.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/QuotaConfigurationInfo.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/RemoteDependency.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/Request.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/ServiceError.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/ServiceErrorException.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/TelemetryType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/Trace.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/models/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseCoordinatorTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcherTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseIntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseNetworkHelperTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSenderTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseTestBase.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/livemetrics_autorest.md
Labels: OpenTelemetry

#42969 Search Nov 2024 Preview
  sdk/search/azure-search-documents/spotbugs-exclude.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchResultConverter.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/converters/SearchResultHelper.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchDocumentsResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/SearchPagedResponseAccessHelper.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AIServicesAccountIdentity.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AIServicesAccountKey.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/BinaryQuantizationCompression.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/BlobIndexerParsingMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CognitiveServicesAccount.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/DocumentIntelligenceLayoutSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/DocumentIntelligenceLayoutSkillMarkdownHeaderDepth.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/DocumentIntelligenceLayoutSkillOutputMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/IndexingParametersConfiguration.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/MarkdownHeaderDepth.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/MarkdownParsingSubmode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/RescoringOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/ScalarQuantizationCompression.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchCompression.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchCompressionRescoreStorageMethod.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/DebugInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/FacetResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryAnswer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryAnswerType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryCaption.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryCaptionType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryDebugMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryRewrites.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryRewritesDebugInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryRewritesType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/QueryRewritesValuesDebugInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchResult.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticQueryRewritesResultType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticSearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizableTextQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedResponse.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/UtilityMethodTests.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/src/main/java/SearchIndexCustomizations.java
Labels: Search

#42788 Migrate Cosmos portion of Tables to Entra
  .vscode/cspell.json
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesConstants.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTestBase.java
  sdk/tables/test-resources.json
Labels: Tables

#42937 Remove character limit for Application Id in User Agent policy
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/UserAgentUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/ClientOptionsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/UserAgentUtilTest.java
Labels: Azure.Core

#42978 fixFewTests
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ChangeFeedContinuationTokenUtilsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/UserAgentSuffixTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ContainerCreateDeleteWithSameNameTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#42999 Prepare Search November 2024 Preview Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#43003 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#43013 fixChangeFeedPartitionImplCheckpointFor304
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#42885 FTS: Hybrid search query pipeline
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/HybridSearchQueryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/documents/text-3properties-1536dimensions-100documents.json
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosQueryRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/HybridSearchBadRequestException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/HybridSearchDocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/HybridSearchDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionKeyRangesAndQueryInfos.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionedQueryExecutionInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PartitionedQueryExecutionInfoInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryParams.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryFeature.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/aggregation/AggregateOperator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/hybridsearch/FullTextQueryStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/hybridsearch/GlobalFullTextSearchQueryStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/hybridsearch/HybridSearchQueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/hybridsearch/HybridSearchQueryResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/module-info.java
Labels: Cosmos

#42901 Update test region
  .vscode/cspell.json
  sdk/documentintelligence/test-resources.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/util/Transforms.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/test-resources.json
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#43021 release4.65.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#43022 [Automation] Generate Fluent Lite from TypeSpec terraform
  eng/versioning/version_client.txt
  pom.xml
  sdk/terraform/azure-resourcemanager-terraform/CHANGELOG.md
  sdk/terraform/azure-resourcemanager-terraform/README.md
  sdk/terraform/azure-resourcemanager-terraform/SAMPLE.md
  sdk/terraform/azure-resourcemanager-terraform/pom.xml
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/AzureTerraformManager.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/AzureTerraformClient.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/OperationsClient.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/TerraformsClient.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/models/OperationInner.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/models/package-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/package-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/AzureTerraformClientBuilder.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/AzureTerraformClientImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/OperationImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/OperationsClientImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/OperationsImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/ResourceManagerUtils.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/TerraformsClientImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/TerraformsImpl.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/models/OperationListResult.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/implementation/package-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/ActionType.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/BaseExportModel.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/ExportQuery.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/ExportResource.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/ExportResourceGroup.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/Operation.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/OperationDisplay.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/Operations.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/Origin.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/TargetProvider.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/Terraforms.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/Type.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/models/package-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/package-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/module-info.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-terraform/proxy-config.json
  sdk/terraform/azure-resourcemanager-terraform/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-terraform/reflect-config.json
  sdk/terraform/azure-resourcemanager-terraform/src/samples/java/com/azure/resourcemanager/terraform/generated/OperationsListSamples.java
  sdk/terraform/azure-resourcemanager-terraform/src/samples/java/com/azure/resourcemanager/terraform/generated/TerraformExportTerraformSamples.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/BaseExportModelTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/ExportQueryTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/ExportResourceGroupTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/ExportResourceTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/OperationDisplayTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/OperationInnerTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/OperationListResultTests.java
  sdk/terraform/azure-resourcemanager-terraform/src/test/java/com/azure/resourcemanager/terraform/generated/OperationsListMockTests.java
  sdk/terraform/azure-resourcemanager-terraform/tsp-location.yaml
  sdk/terraform/ci.yml
  sdk/terraform/pom.xml
Labels: Mgmt - Track 2

#42914 Fix for introduce WithCapacityReservation DefinitionStage into the VirtualMachine model
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
Labels: Mgmt

#43024 Increment versions for terraform releases
  eng/versioning/version_client.txt
  sdk/terraform/azure-resourcemanager-terraform/CHANGELOG.md
  sdk/terraform/azure-resourcemanager-terraform/pom.xml
Labels: Mgmt

#43025 Increment versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-resourcemanager-appconfiguration/pom.xml
Labels: Mgmt

#43026 Remove IndexProperty enum for queries from public surface area
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/IndexProperty.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexSpec.java
Labels: Cosmos

#43028 Fix SearchOptions missing Debug, Speller, and QueryLanguage
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#43030 versioning changes for stg97
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#43031 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#42948 Sync eng/common directory with azure-sdk-tools for PR 9326
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
  eng/common/scripts/Verify-Resource-Ref.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#43012 Sync eng/common directory with azure-sdk-tools for PR 9390
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#43043 [Automation] Generate Fluent Lite from TypeSpec healthdataaiservices
  eng/versioning/version_client.txt
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/README.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/SAMPLE.md
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/pom.xml
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/implementation/HealthDataAIServicesClientImpl.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesGetByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListByResourceGroupSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesUpdateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/OperationsListSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsCreateSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsDeleteSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsGetSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateEndpointConnectionsListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/samples/java/com/azure/resourcemanager/healthdataaiservices/generated/PrivateLinksListByDeidServiceSamples.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/tsp-location.yaml
Labels: Mgmt - Track 2

#43044 Increment versions for connectedcache releases
  eng/versioning/version_client.txt
  sdk/connectedcache/azure-resourcemanager-connectedcache/CHANGELOG.md
  sdk/connectedcache/azure-resourcemanager-connectedcache/pom.xml
Labels: Mgmt

#43051 Increment versions for networkcloud releases
  eng/versioning/version_client.txt
  sdk/networkcloud/azure-resourcemanager-networkcloud/CHANGELOG.md
  sdk/networkcloud/azure-resourcemanager-networkcloud/pom.xml
Labels: Mgmt

#43053 Increment versions for devopsinfrastructure releases
  eng/versioning/version_client.txt
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/CHANGELOG.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/pom.xml
Labels: Mgmt

#43047 eng, bump azure-autorest-customization 1.0.0-beta.9
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-code-customization-parent/pom.xml
Labels: Azure.Core

#43041 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#43036 Sync eng/common directory with azure-sdk-tools for PR 9392
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#43057 Fix Serialization of SearchDocumentsResults DebugInfo property
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchDocumentsResult.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search

#43058 Prepare Nov 2024 Search Preview Release (patch)
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#43064 Add JCA changelog
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
Labels: azure-spring

#43068 Increment versions for cognitiveservices releases
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Labels: Mgmt

#43059 Prepare Tables Nov 2024 Minor Release
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/checkstyle-suppressions.xml
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/spotbugs-exclude.xml
Labels: Tables

#43039 Event hubs: pass partition key when publishing with buffered client
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStoreTests.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataBatch.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SystemPropertiesTest.java
Labels: Event Hubs

#43061 Azure Search Documents 11.8.0-beta.4 with bug fix
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SemanticSearchResults.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedFlux.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedIterable.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/SemanticSearchExample.java
Labels: Search

#43072 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#43074 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#43076 Registry Service Bus conn string provider only when conn string is not empty
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusClientBuilderConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusClientBuilderConfigurationTests.java
Labels: azure-spring

#43089 Update the docIndex default for manual runs
  eng/pipelines/docindex.yml
Labels: Docs

#43078 Add reference link for shading jar
  sdk/keyvault/azure-security-keyvault-jca/README.md
Labels: azure-spring

#43009 Minimize shade bouncycastle dependencies
  NOTICE.txt
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/cgmanifest.json
Labels: KeyVault, azure-spring

#43077 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#43094 Prepare for azure-security-keyvault-jca 2.10.0 release
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#43082 mgmt, network, bug fix on bastion resource in subnet ipconf
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/assets.json
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/SubnetImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/test/java/com/azure/resourcemanager/network/NetworkTests.java
Labels: Mgmt

#43096 Fix warn logs in BeanPostProcessorChecker
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureServiceClientBuilderFactoryConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureServiceClientBuilderFactoryPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureTokenCredentialAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/KafkaPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jdbc/AzureJdbcAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureEventHubsKafkaBinderOAuth2AutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureEventHubsKafkaOAuth2AutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaSpringCloudStreamConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureServiceClientBuilderFactoryConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureTokenCredentialAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/TestCosmosClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaConfigurationTests.java
Labels: azure-spring

#43097 [Azure Load Testing] Add NOT_VALIDATED to list of terminal states
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/PollingUtils.java
Labels: Load Testing

#43035 [OpenAI] Reduce log pollution when using Sever Sent Event Streaming API
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIServerSentEvents.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
Labels: Client, OpenAI

#43040 Live Metrics Filtering: Part 1 of 5 - port filtering functionality
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/spotbugs-exclude.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/CustomDimensions.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/DependencyDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/ExceptionDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/Filter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/KnownDependencyColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/KnownExceptionColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/KnownRequestColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/KnownTraceColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/RequestDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TelemetryColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TraceDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/FormattedDuration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filteringTest/FilterTest.java
Labels: OpenTelemetry

#42553 ChangeFeed Spark Bug Processing All Partitions
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/ChangeFeedPartitionReaderITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeCompositeContinuationImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeContinuation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ChangeFeedFetcher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Paginator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
Labels: Cosmos

#43091 Sync eng/common directory with azure-sdk-tools for PR 9428
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#42947 allowUsingHttp2
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConfigsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConnectionStateListenerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/LogLevelTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/MultiMasterConflictResolutionTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ProxyHostTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/SharedTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClientFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2ConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2ResponseHeaderCleanerHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
  sdk/cosmos/live-http2-platform-matrix.json
  sdk/cosmos/tests.yml
Labels: Cosmos

#42796 mgmt, compute, support write accelerator
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineDataDiskImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineDataDisk.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineDiskOptions.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
Labels: Mgmt

#43117 Increment versions for hardwaresecuritymodules releases
  eng/versioning/version_client.txt
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/CHANGELOG.md
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/pom.xml
Labels: Mgmt

#43090 Increment versions for communication/azure-communication-callautomation releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: Communication - Call Automation

#43121 Spark Release 4.35.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/FullFidelityChangeFeedTest.java
Labels: Cosmos

#43127 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#43098 Fix compatibility test pipeline failures
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AbstractKafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/KafkaBinderConfigurationPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/KafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/kafka/AzureEventHubsKafkaConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AzureKafkaOAuth2BinderConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/util/TestCompatibilityUtils.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/core/handler/DefaultMessageHandler.java
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/core/implementation/instrumentation/InstrumentationSendCallback.java
  sdk/spring/spring-integration-azure-core/src/test/java/com/azure/spring/integration/core/handler/DefaultMessageHandlerTests.java
Labels: azure-spring

#43060 Added Service Bus emulator connection support
  .vscode/cspell.json
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Service Bus

#43128 Updates after azure-security-keyvault-jca:2.10.0 released
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring
