Repository Azure/azure-sdk-for-java, pull requests merged in 2024-12, with the labels that each got.

#43129 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#42910 Make HttpResponseException not final
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/exception/HttpResponseException.java
Labels: clientcore

#43038 Replace reactor-core deprecated ReplayProcessor in EH ManagementChannel with Sinks, minor renames to remove use of the term processor*
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ActiveClientTokenManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
Labels: Event Hubs, Azure.Core.AMQP

#42635 Migrate Identity Live tests deployment to Fed Auth.
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/build-and-test.yml
  sdk/identity/azure-identity/src/test/java/LiveManagedIdentityTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/Retry.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/RetryExtension.java
  sdk/identity/ci.yml
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#43093 ShareFileClient.DownloadToFile Removing Retry.max(3)
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/policy/MockPartialResponsePolicy.java
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
Labels: Storage

#43153 Sync eng/common directory with azure-sdk-tools for PR 9440
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#43157 [Automation] Generate Fluent Lite from Swagger playwrighttesting#package-2023-10-01-preview
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/README.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/SAMPLE.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/PlaywrightTestingManager.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/fluent/models/AccountInner.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/fluent/models/OperationInner.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/fluent/models/QuotaInner.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/implementation/AccountsClientImpl.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/implementation/OperationsClientImpl.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/implementation/PlaywrightTestingMgmtClientImpl.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/implementation/QuotasClientImpl.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/implementation/ResourceManagerUtils.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/AccountListResult.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/AccountProperties.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/AccountUpdate.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/AccountUpdateProperties.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/ActionType.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/EnablementStatus.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/FreeTrialProperties.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/FreeTrialState.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/OperationDisplay.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/OperationListResult.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/Origin.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/ProvisioningState.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/QuotaListResult.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/QuotaNames.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/models/QuotaProperties.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/module-info.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-playwrighttesting/proxy-config.json
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-playwrighttesting/reflect-config.json
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/samples/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsCreateOrUpdateSamples.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/samples/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsGetByResourceGroupSamples.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/samples/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsUpdateSamples.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsCreateOrUpdateMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsDeleteMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsGetByResourceGroupWithResponseMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsListByResourceGroupMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/AccountsListMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/OperationsListMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/QuotasGetWithResponseMockTests.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/generated/QuotasListBySubscriptionMockTests.java
Labels: Mgmt - Track 2

#43162 [Automation] Generate Fluent Lite from Swagger azurelargeinstance#package-2023-07-20-preview
  sdk/largeinstance/azure-resourcemanager-largeinstance/CHANGELOG.md
  sdk/largeinstance/azure-resourcemanager-largeinstance/README.md
  sdk/largeinstance/azure-resourcemanager-largeinstance/SAMPLE.md
  sdk/largeinstance/azure-resourcemanager-largeinstance/pom.xml
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/LargeInstanceManager.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/fluent/models/AzureLargeInstanceInner.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/fluent/models/AzureLargeStorageInstanceInner.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/fluent/models/OperationInner.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/fluent/models/OperationStatusResultInner.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/implementation/AzureLargeInstancesClientImpl.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/implementation/AzureLargeStorageInstancesClientImpl.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/implementation/LargeInstanceMgmtClientImpl.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/implementation/OperationsClientImpl.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/implementation/ResourceManagerUtils.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/ActionType.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceForcePowerState.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceHardwareTypeNamesEnum.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceListResult.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstancePowerStateEnum.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceProperties.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceProvisioningStatesEnum.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceSizeNamesEnum.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeInstanceTagsUpdate.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeStorageInstanceListResult.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeStorageInstanceProperties.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/AzureLargeStorageInstanceTagsUpdate.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/Disk.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/ForceState.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/HardwareProfile.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/IpAddress.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/NetworkProfile.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/OperationDisplay.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/OperationListResult.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/Origin.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/OsProfile.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/ProvisioningState.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/StorageBillingProperties.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/StorageProfile.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/com/azure/resourcemanager/largeinstance/models/StorageProperties.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/java/module-info.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeinstance/proxy-config.json
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeinstance/reflect-config.json
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/samples/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstanceGetByResourceGroupSamples.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/samples/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstanceRestartSamples.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/samples/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstanceUpdateSamples.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/samples/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstanceGetByResourceGroupSamples.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/samples/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstanceUpdateSamples.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstancesRestartMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstancesShutdownMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeInstancesStartMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstanceTagsUpdateTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstancesGetByResourceGroupWithResponseMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstancesListByResourceGroupMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstancesListMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/AzureLargeStorageInstancesUpdateWithResponseMockTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/OperationStatusResultInnerTests.java
  sdk/largeinstance/azure-resourcemanager-largeinstance/src/test/java/com/azure/resourcemanager/largeinstance/generated/OperationsListMockTests.java
Labels: Mgmt - Track 2

#43160 [Automation] Generate Fluent Lite from Swagger quantum#package-2023-11-13-preview
  sdk/quantum/azure-resourcemanager-quantum/CHANGELOG.md
  sdk/quantum/azure-resourcemanager-quantum/README.md
  sdk/quantum/azure-resourcemanager-quantum/SAMPLE.md
  sdk/quantum/azure-resourcemanager-quantum/pom.xml
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/AzureQuantumManager.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/fluent/models/CheckNameAvailabilityResultInner.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/fluent/models/ListKeysResultInner.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/fluent/models/OperationInner.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/fluent/models/ProviderDescriptionInner.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/fluent/models/QuantumWorkspaceInner.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/AzureQuantumManagementClientImpl.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/OfferingsClientImpl.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/OperationsClientImpl.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/QuantumWorkspaceImpl.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/ResourceManagerUtils.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/implementation/WorkspacesClientImpl.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ApiKey.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ApiKeys.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/CheckNameAvailabilityParameters.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/KeyType.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/OfferingsListResult.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/OperationDisplay.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/OperationsList.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/PricingDetail.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/PricingDimension.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/Provider.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ProviderProperties.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ProviderPropertiesAad.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ProviderPropertiesManagedApplication.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ProvisioningStatus.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/QuantumWorkspace.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/QuantumWorkspaceIdentity.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/QuotaDimension.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/ResourceIdentityType.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/SkuDescription.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/Status.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/TagsObject.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/TargetDescription.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/UsableStatus.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/WorkspaceListResult.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/com/azure/resourcemanager/quantum/models/WorkspaceResourceProperties.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/java/module-info.java
  sdk/quantum/azure-resourcemanager-quantum/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-quantum/proxy-config.json
  sdk/quantum/azure-resourcemanager-quantum/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-quantum/reflect-config.json
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspaceOperationCheckNameAvailabilitySamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspaceOperationListKeysSamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspaceOperationRegenerateKeysSamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspacesCreateOrUpdateSamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspacesGetByResourceGroupSamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/samples/java/com/azure/resourcemanager/quantum/generated/WorkspacesUpdateTagsSamples.java
  sdk/quantum/azure-resourcemanager-quantum/src/test/java/com/azure/resourcemanager/quantum/generated/OfferingsListMockTests.java
  sdk/quantum/azure-resourcemanager-quantum/src/test/java/com/azure/resourcemanager/quantum/generated/OperationsListMockTests.java
  sdk/quantum/azure-resourcemanager-quantum/src/test/java/com/azure/resourcemanager/quantum/generated/WorkspaceOperationsCheckNameAvailabilityWithResponseMockTests.java
  sdk/quantum/azure-resourcemanager-quantum/src/test/java/com/azure/resourcemanager/quantum/generated/WorkspacesDeleteMockTests.java
Labels: Mgmt - Track 2

#43165 Increment versions for astro releases
  eng/versioning/version_client.txt
  sdk/astro/azure-resourcemanager-astro/CHANGELOG.md
  sdk/astro/azure-resourcemanager-astro/pom.xml
Labels: Mgmt

#43167 Increment versions for playwrighttesting releases
  eng/versioning/version_client.txt
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
Labels: Mgmt

#43168 Increment versions for storageactions releases
  eng/versioning/version_client.txt
  sdk/storageactions/azure-resourcemanager-storageactions/CHANGELOG.md
  sdk/storageactions/azure-resourcemanager-storageactions/pom.xml
Labels: Mgmt

#43169 Increment versions for largeinstance releases
  eng/versioning/version_client.txt
  sdk/largeinstance/azure-resourcemanager-largeinstance/CHANGELOG.md
  sdk/largeinstance/azure-resourcemanager-largeinstance/pom.xml
Labels: Mgmt

#43166 quantum release ci, add batch release support
  sdk/quantum/ci.yml
Labels: Azure Quantum

#43174 Increment versions for quantum releases
  eng/versioning/version_client.txt
  sdk/quantum/azure-resourcemanager-quantum/CHANGELOG.md
  sdk/quantum/azure-resourcemanager-quantum/pom.xml
Labels: Mgmt

#43175 Increment versions for neonpostgres releases
  eng/versioning/version_client.txt
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/CHANGELOG.md
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/pom.xml
Labels: Mgmt

#43177 Increment versions for cosmosdbforpostgresql releases
  eng/versioning/version_client.txt
  sdk/cosmosdbforpostgresql/azure-resourcemanager-cosmosdbforpostgresql/CHANGELOG.md
  sdk/cosmosdbforpostgresql/azure-resourcemanager-cosmosdbforpostgresql/pom.xml
Labels: Mgmt

#43151 Ability to display exported data
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/DefaultLogConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/ExecutionEnvSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/LogbackSelfDiagConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/OtelSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/SelfDiagAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/SelfDiagnostics.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/SelfDiagnosticsLevel.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/selfdiagnostics/SelfDiagnosticsLevel.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/selfdiagnostics/implementation/LogbackSelfDiagConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/selfdiagnostics/package-info.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/SpringContextTest.java
Labels: azure-spring

#43118 Replace random data generation with pseudo random
  sdk/storage/azure-storage-blob-changefeed/assets.json
  sdk/storage/azure-storage-blob-cryptography/assets.json
  sdk/storage/azure-storage-blob-nio/assets.json
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageCommonTestUtils.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/BuilderHelperTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileSasTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestHelper.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ModelTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileInputOutputStreamTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageFileSeekableByteChannelTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileReadBehaviorTests.java
Labels: Storage

#43183 [AppConfig] Update troubleshooting non-displayed codesnippet
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
Labels: Client, App Configuration

#43199 [Automation] Generate Fluent Lite from Swagger edgezones#package-2024-04-01-preview
  sdk/edgezones/azure-resourcemanager-edgezones/CHANGELOG.md
  sdk/edgezones/azure-resourcemanager-edgezones/README.md
  sdk/edgezones/azure-resourcemanager-edgezones/SAMPLE.md
  sdk/edgezones/azure-resourcemanager-edgezones/pom.xml
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/EdgeZonesManager.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/fluent/models/ExtendedZoneInner.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/fluent/models/OperationInner.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/implementation/ExtendedZonesClientImpl.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/implementation/MicrosoftEdgeZonesImpl.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/implementation/OperationsClientImpl.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/ActionType.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/ExtendedZoneListResult.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/ExtendedZoneProperties.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/OperationDisplay.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/OperationListResult.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/Origin.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/ProvisioningState.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/com/azure/resourcemanager/edgezones/models/RegistrationState.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/java/module-info.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-edgezones/proxy-config.json
  sdk/edgezones/azure-resourcemanager-edgezones/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-edgezones/reflect-config.json
  sdk/edgezones/azure-resourcemanager-edgezones/src/samples/java/com/azure/resourcemanager/edgezones/generated/ExtendedZonesGetSamples.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/samples/java/com/azure/resourcemanager/edgezones/generated/ExtendedZonesListSamples.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/samples/java/com/azure/resourcemanager/edgezones/generated/ExtendedZonesRegisterSamples.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/samples/java/com/azure/resourcemanager/edgezones/generated/ExtendedZonesUnregisterSamples.java
  sdk/edgezones/azure-resourcemanager-edgezones/src/samples/java/com/azure/resourcemanager/edgezones/generated/OperationsListSamples.java
Labels: Mgmt - Track 2

#43208 Increment versions for recoveryservicesdatareplication releases
  eng/versioning/version_client.txt
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/CHANGELOG.md
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/pom.xml
Labels: Mgmt

#43209 Increment versions for quota releases
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
Labels: Mgmt

#43211 Increment versions for edgezones releases
  eng/versioning/version_client.txt
  sdk/edgezones/azure-resourcemanager-edgezones/CHANGELOG.md
  sdk/edgezones/azure-resourcemanager-edgezones/pom.xml
Labels: Mgmt

#43212 Increment versions for nginx releases
  eng/versioning/version_client.txt
  sdk/nginx/azure-resourcemanager-nginx/CHANGELOG.md
  sdk/nginx/azure-resourcemanager-nginx/pom.xml
Labels: Mgmt

#43213 Increment versions for storagecache releases
  eng/versioning/version_client.txt
  sdk/storagecache/azure-resourcemanager-storagecache/CHANGELOG.md
  sdk/storagecache/azure-resourcemanager-storagecache/pom.xml
Labels: Mgmt

#43214 Increment versions for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
Labels: Mgmt

#43215 Increment versions for maintenance releases
  eng/versioning/version_client.txt
  sdk/maintenance/azure-resourcemanager-maintenance/CHANGELOG.md
  sdk/maintenance/azure-resourcemanager-maintenance/pom.xml
Labels: Mgmt

#43216 Increment versions for devcenter releases
  eng/versioning/version_client.txt
  sdk/devcenter/azure-resourcemanager-devcenter/CHANGELOG.md
  sdk/devcenter/azure-resourcemanager-devcenter/pom.xml
Labels: Mgmt

#43210 Increment versions for eventgrid/azure-resourcemanager-eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Mgmt

#43217 Increment versions for apimanagement releases
  eng/versioning/version_client.txt
  sdk/apimanagement/azure-resourcemanager-apimanagement/CHANGELOG.md
  sdk/apimanagement/azure-resourcemanager-apimanagement/pom.xml
Labels: Mgmt

#43218 Increment versions for mysqlflexibleserver releases
  eng/versioning/version_client.txt
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/CHANGELOG.md
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/pom.xml
Labels: Mgmt

#43182 Regenerate Monitor libraries using latest Autorest
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/swagger/README.md
  sdk/monitor/azure-monitor-ingestion/swagger/src/main/java/MonitorIngestionCustomizations.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/ApplicationInsightsClientImpl.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/ApplicationInsightsClientImplBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/AvailabilityData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/ContextTagKeys.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/DataPointType.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/ExportResult.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/ExportResultException.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/MessageData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/MetricDataPoint.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/MetricsData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/MonitorBase.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/MonitorDomain.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/PageViewData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/PageViewPerfData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/RemoteDependencyData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/RequestData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/SeverityLevel.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/StackFrame.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/TelemetryErrorDetails.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/TelemetryEventData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/TelemetryExceptionData.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/TelemetryExceptionDetails.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/models/TelemetryItem.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/LiveMetricsRestAPIsForClientSDKs.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/swagger/LiveMetricsRestAPIsForClientSDKsBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/autorest_code.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/livemetrics_autorest.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/swagger/src/main/java/MonitorOpenTelemetryAutoConfigureCustomizations.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/models/TelemetryItem.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/src/main/java/MonitorOpenTelemetryExporterCustomizations.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metrics/MonitorManagementClientImplBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsdefinitions/MetricsDefinitionsClientImplBuilder.java
  sdk/monitor/azure-monitor-query/swagger/README.md
Labels: Monitor, OpenTelemetry

#43227 [BOM] Prepare for 1.2.30 BOM release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#43226 Storage Patch Release: ShareFileClient.DownloadToFile Removing Retry.max(3)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/policy/MockPartialResponsePolicy.java
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-perf/pom.xml
Labels: Storage

#43037 [OpenAI] Added support for 2024-09-01-preview and 2024-10-01-preview
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/customization/src/main/java/OpenAICustomizations.java
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/spotbugs-exclude.xml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/accesshelpers/ChatCompletionsOptionsAccessHelper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/accesshelpers/CompletionsOptionsAccessHelper.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionStreamOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsageCompletionTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsagePromptTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterCompletionTextSpan.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterCompletionTextSpanResult.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterDetailedResults.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ContentFilterResultsForChoice.java
  sdk/openai/azure-ai-openai/src/main/resources/META-INF/azure-ai-openai_apiview_properties.json
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetCompletionsStreamSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: Client, OpenAI

#43230 updating swagger link for file shares for patch release
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#43231 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Search, OpenAI

#42959 removing blocking from ShareAsyncApiTests file
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
Labels: Storage

#43237 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#43236 Increment versions for azure-storage-file-share patch release
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
Labels: Mgmt, azure-spring

#43240 Sync eng/common directory with azure-sdk-tools for PR 9471
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#43019 Adding Async Tests for LeaseApi
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/specialized/LeaseAsyncApiTests.java
Labels: Storage

#43232 updating writeFile to directly use AsynchronousByteChannelWriteSubscriber with position and emitter
  sdk/core/azure-core/src/main/java/com/azure/core/util/FluxUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
Labels: Azure.Core

#43258 Increment versions for agrifood releases
  eng/versioning/version_client.txt
  sdk/agrifood/azure-resourcemanager-agrifood/CHANGELOG.md
  sdk/agrifood/azure-resourcemanager-agrifood/pom.xml
Labels: Mgmt

#43259 Increment versions for migrationdiscoverysap releases
  eng/versioning/version_client.txt
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/CHANGELOG.md
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/pom.xml
Labels: Mgmt

#43260 Increment versions for resourcehealth releases
  eng/versioning/version_client.txt
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/pom.xml
Labels: Mgmt

#43271 Increment versions for voiceservices releases
  eng/versioning/version_client.txt
  sdk/voiceservices/azure-resourcemanager-voiceservices/CHANGELOG.md
  sdk/voiceservices/azure-resourcemanager-voiceservices/pom.xml
Labels: Mgmt

#43265 [Automation] Generate Fluent Lite from Swagger graphservicesprod#package-2023-04-13
  eng/versioning/version_client.txt
  sdk/graphservices/azure-resourcemanager-graphservices/CHANGELOG.md
  sdk/graphservices/azure-resourcemanager-graphservices/README.md
  sdk/graphservices/azure-resourcemanager-graphservices/SAMPLE.md
  sdk/graphservices/azure-resourcemanager-graphservices/pom.xml
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/GraphServicesManager.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/AccountsClient.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/GraphServices.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/OperationsClient.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/models/AccountResourceInner.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/models/OperationInner.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/models/package-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/fluent/package-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountResourceImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountsClientImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/AccountsImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/GraphServicesBuilder.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/GraphServicesImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/OperationsClientImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/OperationsImpl.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/ResourceManagerUtils.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/implementation/package-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountPatchResource.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountResource.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountResourceList.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountResourceProperties.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/AccountResourceSystemData.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/Accounts.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/ActionType.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/CreatedByType.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/Operation.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/OperationDisplay.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/OperationListResult.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/Operations.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/Origin.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/ProvisioningState.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/TagUpdate.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/models/package-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/com/azure/resourcemanager/graphservices/package-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/java/module-info.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-graphservices/proxy-config.json
  sdk/graphservices/azure-resourcemanager-graphservices/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-graphservices/reflect-config.json
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsCreateAndUpdateSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsDeleteSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsGetByResourceGroupSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsListByResourceGroupSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsListSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/AccountsUpdateSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/samples/java/com/azure/resourcemanager/graphservices/generated/OperationsListSamples.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountPatchResourceTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountResourceInnerTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountResourceListTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsCreateAndUpdateMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsDeleteByResourceGroupWithResponseMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsGetByResourceGroupWithResponseMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsListByResourceGroupMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/AccountsListMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/OperationsListMockTests.java
  sdk/graphservices/azure-resourcemanager-graphservices/src/test/java/com/azure/resourcemanager/graphservices/generated/TagUpdateTests.java
Labels: Mgmt - Track 2

#43272 Increment versions for resourcegraph releases
  eng/versioning/version_client.txt
  sdk/resourcegraph/azure-resourcemanager-resourcegraph/CHANGELOG.md
  sdk/resourcegraph/azure-resourcemanager-resourcegraph/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Mgmt

#43273 Increment versions for workloads releases
  eng/versioning/version_client.txt
  sdk/workloads/azure-resourcemanager-workloads/CHANGELOG.md
  sdk/workloads/azure-resourcemanager-workloads/pom.xml
Labels: Mgmt

#43274 Increment versions for providerhub releases
  eng/versioning/version_client.txt
  sdk/providerhub/azure-resourcemanager-providerhub/CHANGELOG.md
  sdk/providerhub/azure-resourcemanager-providerhub/pom.xml
Labels: Mgmt

#43275 Increment versions for graphservices releases
  eng/versioning/version_client.txt
  sdk/graphservices/azure-resourcemanager-graphservices/CHANGELOG.md
  sdk/graphservices/azure-resourcemanager-graphservices/pom.xml
Labels: Mgmt

#43261 [Automation] Generate Fluent Lite from Swagger changeanalysis#package-2021-04-01
  eng/versioning/version_client.txt
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/README.md
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/SAMPLE.md
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/pom.xml
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/AzureChangeAnalysisManager.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/AzureChangeAnalysisManagementClient.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/ChangesClient.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/OperationsClient.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/ResourceChangesClient.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/models/ChangeInner.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/models/ResourceProviderOperationDefinitionInner.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/models/package-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/fluent/package-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/AzureChangeAnalysisManagementClientBuilder.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/AzureChangeAnalysisManagementClientImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/ChangesClientImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/ChangesImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/OperationsClientImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/OperationsImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/ResourceChangesClientImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/ResourceChangesImpl.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/ResourceManagerUtils.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/implementation/package-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/Change.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ChangeCategory.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ChangeList.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ChangeProperties.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ChangeType.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/Changes.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/Level.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/Operations.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/PropertyChange.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ResourceChanges.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ResourceProviderOperationDefinition.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ResourceProviderOperationDisplay.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/ResourceProviderOperationList.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/models/package-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/com/azure/resourcemanager/changeanalysis/package-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/java/module-info.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-changeanalysis/proxy-config.json
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-changeanalysis/reflect-config.json
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/samples/java/com/azure/resourcemanager/changeanalysis/generated/ChangesListByResourceGroupSamples.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/samples/java/com/azure/resourcemanager/changeanalysis/generated/ChangesListSamples.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/samples/java/com/azure/resourcemanager/changeanalysis/generated/OperationsListSamples.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/samples/java/com/azure/resourcemanager/changeanalysis/generated/ResourceChangesListSamples.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ChangeInnerTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ChangeListTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ChangePropertiesTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ChangesListByResourceGroupMockTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ChangesListMockTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/OperationsListMockTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/PropertyChangeTests.java
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/generated/ResourceChangesListMockTests.java
Labels: Mgmt - Track 2

#43276 Increment versions for digitaltwins releases
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/azure-resourcemanager-digitaltwins/pom.xml
Labels: Mgmt

#43277 Increment versions for changeanalysis releases
  eng/versioning/version_client.txt
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/pom.xml
Labels: Mgmt

#43278 Increment versions for postgresqlflexibleserver releases
  eng/versioning/version_client.txt
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/CHANGELOG.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/pom.xml
Labels: Mgmt

#43241 Sync eng/common directory with azure-sdk-tools for PR 9466
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#43219 Add Spring env self-diagnostics
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/ExecutionEnvSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/SelfDiagAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/selfdiagnostics/SpringEnvSelfDiag.java
Labels: azure-spring

#43184 LiveMetrics Filtering Part 2: Configuration
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/spotbugs-exclude.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcher.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/CustomDimensions.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/DependencyDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/ExceptionDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/Filter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/FilteringConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/RequestDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TelemetryColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TraceDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseCoordinatorTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollectorTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcherTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseIntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulsePingSenderTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filteringTest/FilterTest.java
Labels: OpenTelemetry

#43281 Update docIndex to kick off the docs SDK CI run for main
  eng/docsSDKCIConfig.json
  eng/pipelines/docindex.yml
Labels: Docs

#43244 Exclude EI_EXPOSE_REP and EI_EXPOSE_REP2 in Spotbugs
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
  eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-include.xml
  sdk/core/azure-core-amqp/spotbugs-exclude.xml
  sdk/core/azure-core-experimental/spotbugs-exclude.xml
  sdk/core/azure-core-http-jdk-httpclient/spotbugs-exclude.xml
  sdk/core/azure-core-http-netty/spotbugs-exclude.xml
  sdk/core/azure-core-http-okhttp/spotbugs-exclude.xml
  sdk/core/azure-core-http-vertx/spotbugs-exclude.xml
  sdk/core/azure-core-management/spotbugs-exclude.xml
  sdk/core/azure-core-serializer-avro-apache/spotbugs-exclude.xml
  sdk/core/azure-core-serializer-json-jackson/spotbugs-exclude.xml
  sdk/core/azure-core-test/spotbugs-exclude.xml
  sdk/core/azure-core/checkstyle-suppressions.xml
  sdk/core/azure-core/spotbugs-exclude.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core, Azure.Core.AMQP

#43225 Sync eng/common directory with azure-sdk-tools for PR 9460
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#42273 [Translator] Deprecate azure-ai-documenttranslator
  sdk/translation/azure-ai-documenttranslator/CHANGELOG.md
  sdk/translation/azure-ai-documenttranslator/README.md
  sdk/translation/azure-ai-documenttranslator/pom.xml
Labels: common

#43292 Increment versions for resourcemanager-cosmos 2.46.0-beta.1 releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#43283 Sync .github/workflows directory with azure-sdk-tools for PR 9490
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42922 Removing blocking from FileAsyncApiTests file
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
Labels: Storage

#43305 Sync eng/common directory with azure-sdk-tools for PR 9497
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#43308 [Automation] Generate SDK based on TypeSpec 0.26.1
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/channels/WhatsAppMessageTemplateItem.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentClassifierBuildOperationDetails.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentClassifierCopyToOperationDetails.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentModelBuildOperationDetails.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentModelComposeOperationDetails.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentModelCopyToOperationDetails.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/AsAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/AzureDataExplorerDataConnection.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/ContactAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/DomainAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/HostAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/IpAddressAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/IpBlockAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/LogAnalyticsDataConnection.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/PageAssetResource.java
  sdk/easm/azure-analytics-defender-easm/src/main/java/com/azure/analytics/defender/easm/models/SslCertAssetResource.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/AgeMismatchInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/CompleteOrderDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/CriticalResultInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Condition.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Observation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ResearchStudy.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FindingInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FollowupCommunicationInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FollowupRecommendationInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/GenericProcedureRecommendation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ImagingProcedureRecommendation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/LateralityDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/LimitedOrderDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/RadiologyProcedureInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/SexMismatchInference.java
Labels: DPG

#43303 Update to Latest Autorest and remove removed, or default configurations part 3
  sdk/personalizer/azure-ai-personalizer/swagger/README.md
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/implementation/MixedRealityRemoteRenderingImplBuilder.java
  sdk/remoterendering/azure-mixedreality-remoterendering/src/main/java/com/azure/mixedreality/remoterendering/implementation/RemoteRenderingsImpl.java
  sdk/remoterendering/azure-mixedreality-remoterendering/swagger/autorest.md
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/Error.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaGroups.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaId.java
  sdk/schemaregistry/azure-data-schemaregistry/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaVersions.java
  sdk/schemaregistry/azure-data-schemaregistry/swagger/README.md
  sdk/search/azure-search-documents/swagger/README.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntitiesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/NamespacesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/RulesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/ServiceBusManagementClientImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/SubscriptionsImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/AuthorizationRuleImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/NamespacePropertiesEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleActionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SqlFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/models/NamespaceProperties.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
  sdk/servicebus/azure-messaging-servicebus/swagger/src/main/java/AdministrationClientCustomization.java
  sdk/tables/azure-data-tables/swagger/README.md
Labels: Search, Service Bus, Tables, Schema Registry, Cognitive - Personalizer, Remote Rendering

#43315 Update Storage to remove default or removed Autorest configs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobFlatListSegment.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobHierarchyListSegment.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsDownloadHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsGetPropertiesHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsQueryHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainersGetPropertiesHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/QueryRequest.java
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/swagger/src/main/java/BlobStorageCustomization.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/models/BlobHierarchyListSegment.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/swagger/src/main/java/DataLakeStorageCustomization.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DirectoriesGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesAndDirectoriesListSegment.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesDownloadHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SharesGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileRangeList.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/swagger/src/main/java/ShareStorageCustomization.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueuesGetPropertiesHeaders.java
  sdk/storage/azure-storage-queue/swagger/README.md
  sdk/storage/azure-storage-queue/swagger/src/main/java/QueueStorageCustomization.java
Labels: Storage

#43316 Fix proxy config for Key Vault proxy clients
  sdk/keyvault/azure-security-keyvault-certificates/src/main/resources/META-INF/native-image/com.azure/azure-security-keyvault-certificates/proxy-config.json
  sdk/keyvault/azure-security-keyvault-keys/src/main/resources/META-INF/native-image/com.azure/azure-security-keyvault-keys/proxy-config.json
  sdk/keyvault/azure-security-keyvault-secrets/src/main/resources/META-INF/native-image/com.azure/azure-security-keyvault-secrets/proxy-config.json
Labels: KeyVault

#43340 Increment versions for kubernetesconfiguration releases
  eng/versioning/version_client.txt
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration/CHANGELOG.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration/pom.xml
Labels: Mgmt

#43318 Update KeyVault to remove default or removed Autorest configs
  sdk/keyvault/azure-security-keyvault-administration/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-certificates/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyCurveName.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyExportEncryptionAlgorithm.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyType.java
  sdk/keyvault/azure-security-keyvault-keys/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-keys/swagger/src/main/java/KeysCustomizations.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/Attributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretItem.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretListResult.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretAttributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretItem.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretSetParameters.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretUpdateParameters.java
  sdk/keyvault/azure-security-keyvault-secrets/swagger/autorest.md
Labels: KeyVault

#43289 Live Metrics Filtering Part 3: Filtering For Documents, with support for Trace Document filtering
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/FilteringConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollectorTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filteringTest/FilterTest.java
Labels: OpenTelemetry

#43288 Sync eng/common directory with azure-sdk-tools for PR 9493
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#43336 [OpenAI][Realtime] README typo, samples feedback and `tool_call` sample
  sdk/openai/azure-ai-openai-realtime/README.md
  sdk/openai/azure-ai-openai-realtime/src/samples/README.md
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/AudioCollection.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/AudioCollectionSync.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/LowLevelClient.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/NonAzureLowLevelClient.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/ToolCall.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/utils/AudioFile.java
  sdk/openai/azure-ai-openai-realtime/src/samples/java/com/azure/ai/openai/realtime/utils/FileUtils.java
  sdk/openai/azure-ai-openai-realtime/src/samples/resources/arc-easy-q237-tts-24khz-16PCM.wav
  sdk/openai/azure-ai-openai-realtime/src/samples/resources/audio_weather_alaw.wav
  sdk/openai/azure-ai-openai-realtime/src/samples/resources/realtime_whats_the_weather_pcm16_24khz_mono.wav
Labels: OpenAI

#43349 Increment versions for hybridconnectivity releases
  eng/versioning/version_client.txt
  sdk/hybridconnectivity/azure-resourcemanager-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/azure-resourcemanager-hybridconnectivity/pom.xml
Labels: Mgmt

#43353 Increment versions for resourceconnector releases
  eng/versioning/version_client.txt
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/azure-resourcemanager-resourceconnector/pom.xml
Labels: Mgmt

#43352 Increment versions for managednetworkfabric releases
  eng/versioning/version_client.txt
  sdk/managednetworkfabric/azure-resourcemanager-managednetworkfabric/CHANGELOG.md
  sdk/managednetworkfabric/azure-resourcemanager-managednetworkfabric/pom.xml
Labels: Mgmt

#43351 Increment versions for resourcemover releases
  eng/versioning/version_client.txt
  sdk/resourcemover/azure-resourcemanager-resourcemover/CHANGELOG.md
  sdk/resourcemover/azure-resourcemanager-resourcemover/pom.xml
Labels: Mgmt

#43350 Increment versions for kusto releases
  eng/versioning/version_client.txt
  sdk/kusto/azure-resourcemanager-kusto/CHANGELOG.md
  sdk/kusto/azure-resourcemanager-kusto/pom.xml
Labels: Mgmt

#43354 Increment versions for iothub releases
  eng/versioning/version_client.txt
  sdk/deviceprovisioningservices/azure-resourcemanager-deviceprovisioningservices/pom.xml
  sdk/iothub/azure-resourcemanager-iothub/CHANGELOG.md
  sdk/iothub/azure-resourcemanager-iothub/pom.xml
Labels: Mgmt

#43347 [Automation] Generate SDK based on TypeSpec 0.27.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/ImageReference.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/InboundNatPool.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/NetworkConfiguration.java
  sdk/batch/azure-compute-batch/tsp-location.yaml
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/fluent/models/OperationInner.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/OperationInnerTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/OperationListResultTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/generated/OperationsListMockTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/tsp-location.yaml
  sdk/computeschedule/azure-resourcemanager-computeschedule/src/main/java/com/azure/resourcemanager/computeschedule/fluent/models/OperationInner.java
  sdk/connectedcache/azure-resourcemanager-connectedcache/src/main/java/com/azure/resourcemanager/connectedcache/fluent/models/OperationInner.java
  sdk/containerorchestratorruntime/azure-resourcemanager-containerorchestratorruntime/src/main/java/com/azure/resourcemanager/containerorchestratorruntime/fluent/models/OperationInner.java
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/fluent/models/OperationInner.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/fluent/models/OperationInner.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceClient.java
  sdk/easm/azure-analytics-defender-easm/tsp-location.yaml
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/fluent/models/OperationInner.java
  sdk/fabric/azure-resourcemanager-fabric/src/test/java/com/azure/resourcemanager/fabric/generated/OperationInnerTests.java
  sdk/fabric/azure-resourcemanager-fabric/src/test/java/com/azure/resourcemanager/fabric/generated/OperationListResultTests.java
  sdk/fabric/azure-resourcemanager-fabric/src/test/java/com/azure/resourcemanager/fabric/generated/OperationsListMockTests.java
  sdk/fabric/azure-resourcemanager-fabric/tsp-location.yaml
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/fluent/models/OperationInner.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/java/com/azure/resourcemanager/iotoperations/fluent/models/OperationInner.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/main/java/com/azure/resourcemanager/mongocluster/fluent/models/OperationInner.java
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/src/main/java/com/azure/resourcemanager/neonpostgres/fluent/models/OperationInner.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/fluent/models/OperationInner.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/fluent/models/OperationInner.java
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
  sdk/trustedsigning/azure-resourcemanager-trustedsigning/src/main/java/com/azure/resourcemanager/trustedsigning/fluent/models/OperationInner.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/fluent/models/OperationStatusResultInner.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/implementation/OperationStatusResultImpl.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/models/OperationStatusResult.java
Labels: DPG

#43362 Increment versions for loadtesting releases
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-resourcemanager-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-resourcemanager-loadtesting/pom.xml
Labels: Mgmt

#43110 Added extra security hardening
  sdk/healthdataaiservices/test-resources.bicep
Labels: Health Deidentification

#43361 Increment package versions for azure-resourcemanager-containerregistry releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#43360 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Cosmos, Mgmt

#43364 mgmt, maps, increment version after release
  eng/versioning/version_client.txt
  sdk/maps/azure-resourcemanager-maps/CHANGELOG.md
  sdk/maps/azure-resourcemanager-maps/pom.xml
Labels: Mgmt

#43234 Increment versions for storage releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Storage, Mgmt, azure-spring

#42330 Increment versions for healthinsights releases
  eng/versioning/version_client.txt
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Labels: Cognitive - Health Insights

#43356 Update spring javadoc
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/properties/core/authentication/TokenCredentialConfigurationProperties.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/properties/authentication/TokenCredentialProperties.java
Labels: azure-spring

#43192 Update Javadoc of premium SDK for azure-resourcemanager-resources
  sdk/resourcemanager/azure-resourcemanager-resources/pom.xml
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/ResourceManager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/AvailabilityZoneId.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/CountryIsoCode.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/CountryPhoneCode.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/Manager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/ResourceId.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/CheckNameAvailabilityReason.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/ExternalChildResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasId.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasManager.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasName.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasParent.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasResourceGroup.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/HasSubnet.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/ParentlessChildResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateEndpoint.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateEndpointConnection.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateEndpointConnectionProvisioningState.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateEndpointServiceConnectionStatus.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateLinkResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/PrivateLinkServiceConnectionState.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/Resource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/DAGNode.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/DAGraph.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/FunctionalTaskItem.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/Graph.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/IndexableTaskItem.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/Node.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/TaskGroup.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/TaskGroupEntry.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/dag/TaskItem.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/HasInnerModel.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/HasServiceClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/model/Indexable.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/ProviderRegistrationPolicy.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/UserAgentPolicy.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/ETagState.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/ResourceDelayProvider.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/ResourceManagerThrottlingInfo.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/ResourceManagerUtils.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Deployment.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentExportResult.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentOperation.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Feature.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ForceDeletionResourceType.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/GenericResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Location.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ManagementLock.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/PolicyAssignment.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/PolicyDefinition.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Provider.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ResourceGroup.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ResourceGroupExportResult.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Subscription.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/TagResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/Tenant.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/WhatIfOperationResult.java
Labels: Mgmt

#43189 External dependencies upgrade - Spring Boot 3.4.0 and Spring Cloud 2024.0.0
  .github/CODEOWNERS
  .vscode/cspell.json
  eng/versioning/external_dependencies.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactory.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/ReactiveCosmosRepositoryFactory.java
  sdk/spring/scripts/spring_boot_3.3.5_managed_external_dependencies.txt
  sdk/spring/scripts/spring_boot_3.4.0_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AadJwtBearerGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AadWebApplicationHttpSecurityConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AbstractOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/configuration/AadB2cOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/security/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aad/configuration/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-core/src/main/java/com/azure/spring/integration/core/handler/DefaultMessageHandler.java
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
  sdk/spring/spring-messaging-azure/src/main/java/com/azure/spring/messaging/implementation/config/AzureListenerEndpointRegistrar.java
Labels: azure-spring

#43391 Increment versions for apicenter releases
  eng/versioning/version_client.txt
  sdk/apicenter/azure-resourcemanager-apicenter/CHANGELOG.md
  sdk/apicenter/azure-resourcemanager-apicenter/pom.xml
Labels: Mgmt

#43390 Increment versions for hybridcontainerservice releases
  eng/versioning/version_client.txt
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/CHANGELOG.md
  sdk/hybridcontainerservice/azure-resourcemanager-hybridcontainerservice/pom.xml
Labels: Mgmt

#43393 Increment versions for applicationinsights releases
  eng/versioning/version_client.txt
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/CHANGELOG.md
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/pom.xml
  sdk/machinelearning/azure-resourcemanager-machinelearning/pom.xml
Labels: Mgmt

#43394 Increment versions for devtestlabs releases
  eng/versioning/version_client.txt
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/CHANGELOG.md
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/pom.xml
Labels: Mgmt

#43395 Increment versions for deviceupdate releases
  eng/versioning/version_client.txt
  sdk/deviceupdate/azure-resourcemanager-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-resourcemanager-deviceupdate/pom.xml
Labels: Mgmt

#43397 Increment versions for hybridnetwork releases
  eng/versioning/version_client.txt
  sdk/hybridnetwork/azure-resourcemanager-hybridnetwork/CHANGELOG.md
  sdk/hybridnetwork/azure-resourcemanager-hybridnetwork/pom.xml
Labels: Mgmt

#43396 Increment versions for dashboard releases
  eng/versioning/version_client.txt
  sdk/dashboard/azure-resourcemanager-dashboard/CHANGELOG.md
  sdk/dashboard/azure-resourcemanager-dashboard/pom.xml
Labels: Mgmt

#43400 Increment versions for connectedvmware releases
  eng/versioning/version_client.txt
  sdk/connectedvmware/azure-resourcemanager-connectedvmware/CHANGELOG.md
  sdk/connectedvmware/azure-resourcemanager-connectedvmware/pom.xml
Labels: Mgmt

#43371 Document Intelligence updates
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/checkstyle-suppressions.xml
  sdk/documentintelligence/azure-ai-documentintelligence/customization/src/main/java/DocumentIntelligenceCustomizations.java
  sdk/documentintelligence/azure-ai-documentintelligence/spotbugs-exclude.xml
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceAdministrationAsyncClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceAdministrationClient.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/implementation/AnalyzeOperationHelper.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/implementation/OperationLocationPollingStrategy.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/implementation/SyncOperationLocationPollingStrategy.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/AnalyzeBatchOperation.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/AnalyzeDocumentOptions.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/AnalyzeOperation.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/ClassifyDocumentOptions.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/ComposeDocumentModelOptions.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/models/DocumentBarcodeKind.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/resources/META-INF/azure-ai-documentintelligence_apiview_properties.json
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/ReadmeSamples.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/java/com/azure/ai/documentintelligence/generated/ComposeDocumentModel.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: Document Intelligence

#43368 Updating changelog and readme for recent fileshare patch
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
Labels: Storage

#43406 Increment versions for loganalytics releases
  eng/versioning/version_client.txt
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/pom.xml
  sdk/loganalytics/azure-resourcemanager-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-resourcemanager-loganalytics/pom.xml
Labels: Mgmt

#43415 Increment versions for playwrighttesting releases
  eng/versioning/version_client.txt
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
Labels: Mgmt

#43416 Increment versions for servicefabricmanagedclusters releases
  eng/versioning/version_client.txt
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/pom.xml
Labels: Mgmt

#43414 mgmt, playwrighttesting, add live tests
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/test/java/com/azure/resourcemanager/playwrighttesting/PlaywrightTestingManagerTests.java
  sdk/playwrighttesting/test-resources.bicep
  sdk/playwrighttesting/tests.mgmt.yml
Labels: Mgmt

#43411 [Automation] Generate Fluent Lite from TypeSpec iotoperations
  eng/versioning/version_client.txt
  sdk/iotoperations/azure-resourcemanager-iotoperations/CHANGELOG.md
  sdk/iotoperations/azure-resourcemanager-iotoperations/README.md
  sdk/iotoperations/azure-resourcemanager-iotoperations/SAMPLE.md
  sdk/iotoperations/azure-resourcemanager-iotoperations/pom.xml
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/java/com/azure/resourcemanager/iotoperations/implementation/IoTOperationsManagementClientImpl.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthenticationCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthenticationDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthenticationGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthenticationListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthorizationCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthorizationDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthorizationGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerAuthorizationListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerListenerCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerListenerDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerListenerGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/BrokerListenerListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowEndpointCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowEndpointDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowEndpointGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowEndpointListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowProfileCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowProfileDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowProfileGetSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/DataflowProfileListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceCreateOrUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceDeleteSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceGetByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceListByResourceGroupSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceListSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/InstanceUpdateSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/samples/java/com/azure/resourcemanager/iotoperations/generated/OperationsListSamples.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/test/java/com/azure/resourcemanager/iotoperations/generated/OperationInnerTests.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/test/java/com/azure/resourcemanager/iotoperations/generated/OperationListResultTests.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/test/java/com/azure/resourcemanager/iotoperations/generated/OperationsListMockTests.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/tsp-location.yaml
Labels: Mgmt - Track 2

#43419 Increment versions for iotoperations releases
  eng/versioning/version_client.txt
  sdk/iotoperations/azure-resourcemanager-iotoperations/CHANGELOG.md
  sdk/iotoperations/azure-resourcemanager-iotoperations/pom.xml
Labels: Mgmt

#43421 Increment versions for deviceregistry releases
  eng/versioning/version_client.txt
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/CHANGELOG.md
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/pom.xml
Labels: Mgmt

#43402 Harden VertxRequestWriteSubsriber
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxRequestWriteSubscriber.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/implementation/MockHttpClientRequest.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/implementation/VertxRequestWriteSubscriberTests.java
Labels: Azure.Core

#42951 Add additional convenience APIs to JSON model structure
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonArray.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonElement.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonNumber.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonObject.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonArrayContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonObjectContractTests.java
Labels: Azure.Core

#43436 Update for test fix
  sdk/documentintelligence/azure-ai-documentintelligence/MIGRATION_GUIDE.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTestBase.java
Labels: Document Intelligence

#43438 Fix broken links document intelligence
  sdk/documentintelligence/azure-ai-documentintelligence/src/samples/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: Document Intelligence

#43443 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: Mgmt

#43446 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#43449 [Automation] Generate SDK based on TypeSpec 0.27.1
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#43284 Enabling tracing for GenAI inference APIs
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/checkstyle-suppressions.xml
  sdk/ai/azure-ai-inference/pom.xml
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionClientTracer.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsClientBuilder.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/TraceChatCompletionsToolCallSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/TraceStreamingChatCompletionsToolCallSample.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionClientTracerTest.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
Labels: AI Model Inference

#43431 [ACS][CallAutomation] Live Test Updated V2
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAutomatedLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientBuilderUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationLiveTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Labels: Communication - Call Automation

#43422 Register provider via policy Part One
  sdk/apicenter/azure-resourcemanager-apicenter/src/test/java/com/azure/resourcemanager/apicenter/ApiCenterManagerTests.java
  sdk/apimanagement/azure-resourcemanager-apimanagement/src/test/java/com/azure/resourcemanager/apimanagement/ApiManagementManagerTest.java
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/src/test/java/com/azure/resourcemanager/applicationinsights/ApplicationInsightsManagerTests.java
  sdk/avs/azure-resourcemanager-avs/src/test/java/com/azure/resourcemanager/avs/AvsManagerTests.java
  sdk/batch/azure-resourcemanager-batch/src/test/java/com/azure/resourcemanager/batch/BatchTests.java
Labels: Mgmt

#43423 Register provider via policy Part Two
  sdk/changeanalysis/azure-resourcemanager-changeanalysis/src/test/java/com/azure/resourcemanager/changeanalysis/AzureChangeAnalysisManagerTest.java
  sdk/chaos/azure-resourcemanager-chaos/src/test/java/com/azure/resourcemanager/chaos/ChaosManagerTests.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/test/java/com/azure/resourcemanager/cognitiveservices/CognitiveServicesManagerTests.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/ComputeFleetManagerTests.java
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/src/test/java/com/azure/resourcemanager/containerservicefleet/ContainerServiceFleetManagerTests.java
  sdk/cosmosdbforpostgresql/azure-resourcemanager-cosmosdbforpostgresql/src/test/java/com/azure/resourcemanager/cosmosdbforpostgresql/CosmosDBForPostgreSqlManagerTests.java
Labels: Mgmt

#43424 Register provider via policy Part Three
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/DashboardManagerTests.java
  sdk/datafactory/azure-resourcemanager-datafactory/src/test/java/com/azure/resourcemanager/datafactory/DataFactoryTests.java
  sdk/dataprotection/azure-resourcemanager-dataprotection/src/test/java/com/azure/resourcemanager/dataprotection/DataProtectionManagerTest.java
  sdk/deviceupdate/azure-resourcemanager-deviceupdate/src/test/java/com/azure/resourcemanager/deviceupdate/DeviceUpdateManagerTests.java
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/src/test/java/com/azure/resourcemanager/devtestlabs/DevTestLabsManagerTests.java
Labels: Mgmt

#43440 Register provider via policy Part Six
  sdk/paloaltonetworks/azure-resourcemanager-paloaltonetworks-ngfw/src/test/java/com/azure/resourcemanager/paloaltonetworks/ngfw/PaloAltoNetworksNgfwManagerTests.java
  sdk/postgresql/azure-resourcemanager-postgresql/src/test/java/com/azure/resourcemanager/postgresql/PostgreSqlManagerTests.java
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/src/test/java/com/azure/resourcemanager/postgresqlflexibleserver/PostgreSqlManagerTests.java
  sdk/providerhub/azure-resourcemanager-providerhub/src/test/java/com/azure/resourcemanager/providerhub/ProviderHubManagerTests.java
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/src/test/java/com/azure/resourcemanager/recoveryservices/RecoveryServicesManagerTests.java
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/src/test/java/com/azure/resourcemanager/recoveryservicesbackup/RecoveryServicesBackupManagerTests.java
  sdk/resourcehealth/azure-resourcemanager-resourcehealth/src/test/java/com/azure/resourcemanager/resourcehealth/ResourceHealthTests.java
  sdk/resourcemover/azure-resourcemanager-resourcemover/src/test/java/com/azure/resourcemanager/resourcemover/ResourceMoverManagerTests.java
Labels: Mgmt

#43441 Register provider via policy Part Seven
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/src/test/java/com/azure/resourcemanager/servicefabricmanagedclusters/ServiceFabricManagedClustersManagerTests.java
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/src/test/java/com/azure/resourcemanager/servicenetworking/TrafficControllerManagerTests.java
  sdk/sphere/azure-resourcemanager-sphere/src/test/java/com/azure/resourcemanager/sphere/AzureSphereManagerTests.java
  sdk/storagemover/azure-resourcemanager-storagemover/src/test/java/com/azure/resourcemanager/storagemover/StorageMoverManagerTests.java
  sdk/webpubsub/azure-resourcemanager-webpubsub/src/test/java/com/azure/resourcemanager/webpubsub/WebPubSubManagerTests.java
Labels: Mgmt

#43439 Register provider via policy Part Five
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/test/java/com/azure/resourcemanager/loadtesting/TestOrchestratorTests.java
  sdk/loganalytics/azure-resourcemanager-loganalytics/src/test/java/com/azure/resourcemanager/loganalytics/LogAnalyticsManagerTests.java
  sdk/machinelearning/azure-resourcemanager-machinelearning/src/test/java/com/azure/resourcemanager/machinelearning/MachineLearningManagerTests.java
  sdk/managednetworkfabric/azure-resourcemanager-managednetworkfabric/src/test/java/com/azure/resourcemanager/managednetworkfabric/ManagedNetworkFabricManagerTest.java
  sdk/mediaservices/azure-resourcemanager-mediaservices/pom.xml
  sdk/mediaservices/azure-resourcemanager-mediaservices/src/test/java/com/azure/resourcemanager/mediaservices/MediaServicesTests.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/test/java/com/azure/resourcemanager/mongocluster/MongoClusterManagerTests.java
  sdk/mysql/azure-resourcemanager-mysql/src/test/java/com/azure/resourcemanager/mysql/MySqlManagerTests.java
  sdk/mysqlflexibleserver/azure-resourcemanager-mysqlflexibleserver/src/test/java/com/azure/resourcemanager/mysqlflexibleserver/MySqlManagerTest.java
Labels: Mgmt

#43425 Register provider via policy Part Four
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/src/test/java/com/azure/resourcemanager/fluidrelay/FluidRelayManagerTests.java
  sdk/frontdoor/azure-resourcemanager-frontdoor/src/test/java/com/azure/resourcemanager/frontdoor/FrontDoorManagerTests.java
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/src/test/java/com/azure/resourcemanager/healthcareapis/HealthcareApisManagerTests.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/test/java/com/azure/resourcemanager/imagebuilder/ImageBuilderManagerTests.java
  sdk/iotcentral/azure-resourcemanager-iotcentral/src/test/java/com/azure/resourcemanager/iotcentral/IotCentralManagerTests.java
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/src/test/java/com/azure/resourcemanager/iotfirmwaredefense/IoTFirmwareDefenseManagerTests.java
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/IotHubManagerTests.java
  sdk/kusto/azure-resourcemanager-kusto/src/test/java/com/azure/resourcemanager/kusto/KustoManagerTests.java
Labels: Mgmt

#43427 Removed jackson.databind
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/OutStreamingData.java
Labels: Communication - Call Automation

#42902 Exception Handling Overhaul for Spring
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/Constants.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosAccessException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosBadRequestException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosConflictException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosExceptionUtils.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosForbiddenException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosGoneException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosInternalServerErrorException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosInvalidPartitionException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosMethodNotAllowedException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosNotFoundException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosOperationCancelledException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosPartitionIsMigratingException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosPartitionKeyRangeGoneException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosPartitionKeyRangeIsSplittingException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosPreconditionFailedException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosRequestEntityTooLargeException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosRequestRateTooLargeException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosRequestTimeoutException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosRetryWithException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosServiceUnavailableException.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/exception/CosmosUnauthorizedException.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/exception/CosmosExceptionUtilsTest.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/ReactiveUUIDIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/EtagIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/IntegerIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/LongIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PersistableIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ProjectRepositorySortIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveEtagIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveLongIdDomainPartitionPartitionRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/UUIDIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/UniqueKeyPolicyIT.java
Labels: azure-spring

#43433 [Prototype] Support composite ObjectSerializers, add XmlSerializer
  sdk/clientcore/core/checkstyle-suppressions.xml
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/RestProxy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RequestDataConfiguration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyBase.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/serializer/CompositeSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/XmlSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/binarydata/BinaryData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/serializer/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/serializer/ObjectSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/serializer/SerializationFormat.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyXmlSerializableTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SimpleXmlSerializable.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/AdditionalPropertiesSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/BinaryDataSerializationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/JsonSerializableEndToEndTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/binarydata/BinaryDataTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/serializer/JsonSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/serializer/MockSerializer.java
Labels: clientcore

#43480 [Automation] Generate Fluent Lite from Swagger imagebuilder#package-2024-02
  eng/versioning/version_client.txt
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/README.md
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/pom.xml
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/ImageBuilderManager.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/fluent/models/ImageTemplateInner.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/fluent/models/RunOutputInner.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/fluent/models/TriggerInner.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/implementation/ImageBuilderClientImpl.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/DistributeVersionerLatest.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/DistributeVersionerSource.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateFileCustomizer.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateFileValidator.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateManagedImageDistributor.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateManagedImageSource.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplatePlatformImageSource.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplatePowerShellCustomizer.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplatePowerShellValidator.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateRestartCustomizer.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateSharedImageDistributor.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateSharedImageVersionSource.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateShellCustomizer.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateShellValidator.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateVhdDistributor.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/ImageTemplateWindowsUpdateCustomizer.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/com/azure/resourcemanager/imagebuilder/models/SourceImageTriggerProperties.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/java/module-info.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-imagebuilder/proxy-config.json
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-imagebuilder/reflect-config.json
Labels: Mgmt - Track 2

#43486 Increment versions for imagebuilder releases
  eng/versioning/version_client.txt
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/pom.xml
Labels: Mgmt

#43487 Increment versions for recoveryservicesbackup releases
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Labels: Mgmt

#43458 Update Javadoc of premium SDK for azure-resourcemanager-appplatform
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/AppPlatformManager.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/RuntimeVersion.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SkuName.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringApp.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringAppDeployment.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringAppDeployments.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringAppDomain.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringAppServiceBinding.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringConfigurationService.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringService.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringServiceCertificate.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringServiceRegistry.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/SpringServices.java
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/java/com/azure/resourcemanager/appplatform/models/UserSourceType.java
Labels: Mgmt

#43491 Increment versions for frontdoor releases
  eng/versioning/version_client.txt
  sdk/frontdoor/azure-resourcemanager-frontdoor/CHANGELOG.md
  sdk/frontdoor/azure-resourcemanager-frontdoor/pom.xml
Labels: Mgmt

#43493 Increment versions for iotfirmwaredefense releases
  eng/versioning/version_client.txt
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/CHANGELOG.md
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/pom.xml
Labels: Mgmt

#43495 Increment versions for support releases
  eng/versioning/version_client.txt
  sdk/support/azure-resourcemanager-support/CHANGELOG.md
  sdk/support/azure-resourcemanager-support/pom.xml
Labels: Mgmt

#43492 Increment versions for healthcareapis releases
  eng/versioning/version_client.txt
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/CHANGELOG.md
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/pom.xml
Labels: Mgmt

#43494 Increment versions for newrelicobservability releases
  eng/versioning/version_client.txt
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/pom.xml
Labels: Mgmt

#43496 Increment versions for sphere releases
  eng/versioning/version_client.txt
  sdk/sphere/azure-resourcemanager-sphere/CHANGELOG.md
  sdk/sphere/azure-resourcemanager-sphere/pom.xml
Labels: Mgmt

#43497 Increment versions for confluent releases
  eng/versioning/version_client.txt
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
Labels: Mgmt

#43490 Fix bug: Registered the empty value for ineligible definition, it causes NPE when sending message via bean `StreamBridge`
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsCredentialSupplier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/AzurePasswordlessEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
Labels: azure-spring

#43501 Increment versions for chaos releases
  eng/versioning/version_client.txt
  sdk/chaos/azure-resourcemanager-chaos/CHANGELOG.md
  sdk/chaos/azure-resourcemanager-chaos/pom.xml
Labels: Mgmt

#43488 Increment versions for communication/azure-resourcemanager-communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
Labels: Mgmt

#43465 Fix AKS and Spring Cloud statsbeat numbers
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/statsbeat/ResourceProvider.java
Labels: OpenTelemetry

#43434 updated SDK based on OPS outgoing call review feedback
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationClientBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/IncomingCall.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallInvite.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateGroupCallOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#43323 Live Metrics Filtering Part 4: Filtering For Metrics Charts
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollector.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataFetcher.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/CustomDimensions.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/DependencyDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/DerivedMetricAggregation.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/DerivedMetricProjections.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/ExceptionDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/FilteringConfiguration.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/RequestDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TelemetryColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filtering/TraceDataColumns.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataCollectorTests.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/filteringTest/DerivedMetricProjectionsTest.java
Labels: OpenTelemetry

#43455 Removed most mentions of Azure from Client Core.
  sdk/clientcore/README.md
  sdk/clientcore/core/README.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/client/implementation/BodyPublisherUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ProxyOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/ReflectionSerializable.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/ReflectionUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RangeReplaceSubstitution.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/serializer/HttpResponseDecodeData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/DefaultLogger.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/UriBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/implementation/StringBuilderWriter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/implementation/jackson/core/sym/CharsToNameCanonicalizer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/implementation/jackson/core/util/BufferRecyclers.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/package-info.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/ClientLogger.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/SharedExecutorService.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/binarydata/BinaryData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/configuration/Configuration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/configuration/ConfigurationBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/configuration/ConfigurationPropertyBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/annotation/AnnotationJavadocCodesnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/serialization/json/codesnippets/ReadingJsonExamples.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/serialization/json/codesnippets/WritingJsonExamples.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/util/ConfigurationJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerInterfaceParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/http-okhttp3/README.md
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/package-info.java
  sdk/clientcore/http-okhttp3/src/samples/java/io/clientcore/http/okhttp3/OkHttpHttpClientBuilderJavaDocCodeSnippets.java
Labels: Client, clientcore

#43505 Only include CHANGELOG and README in install when src exists
  sdk/parents/clientcore-parent/pom.xml
Labels: Azure.Core

#43456 Find unused deps script and cleanup existing cruft
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/versioning/external_dependencies.txt
  eng/versioning/find_unused_dependencies.py
  eng/versioning/update_versions.py
  eng/versioning/utils.py
  eng/versioning/version_client.txt
  eng/versioning/version_data_java_files.txt
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
Labels: Cosmos, Azure.Core
