Repository Azure/azure-sdk-for-java, pull requests merged in 2024-03, with the labels that each got.

#39038 SynchronousReceiverTest: scoping mock instances to test methods
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/SynchronousReceiverTest.java
Labels: Service Bus

#39008 Move some CLI output parsing to stream style
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/models/AzureCliToken.java
  sdk/identity/azure-identity/src/main/java/module-info.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/models/AzureCliTokenTests.java
Labels: Azure.Identity

#38897 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#38884 UsingTestContainerForKafkaIntegrationTests
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/connectorPlugins/build.ps1
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/connectorPlugins/build.sh
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosDbSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConnectContainer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosIntegrationTestSuiteBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestConfigurations.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestSuiteBase.java
Labels: Cosmos

#38942 Fix azure-core-test README issues
  sdk/core/azure-core-test/README.md
Labels: Azure.Core

#39047 Prepare Core libraries for March 2024 release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Service Bus, Azure.Core, Azure.Identity, Tables, OpenTelemetry, Azure.Core.AMQP

#39048 SynchronousReceiverTest: account for timer-thread in the drain-loop
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/SynchronousReceiverTest.java
Labels: Service Bus

#38791 Sync eng/common directory with azure-sdk-tools for PR 7686
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#39050 Remove invalid dependencies from microsoft-azure-storage-blob
  sdk/storage/microsoft-azure-storage-blob/pom.xml
  sdk/storage/microsoft-azure-storage-blob/src/test/java/com/microsoft/azure/storage/APISpec.groovy
  sdk/storage/microsoft-azure-storage-blob/src/test/java/com/microsoft/azure/storage/LiveOnly.java
  sdk/storage/microsoft-azure-storage-blob/src/test/java/com/microsoft/azure/storage/LiveOnlyExtension.java
Labels: Storage

#39026 [TA] Add waiting time before running test, solves 401 Access Denied Resource not ready issue.
  sdk/textanalytics/test-resources-post.ps1
Labels: Client, Cognitive - Text Analytics

#39045 azure-cosmos-spark release 2024-03-01
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCacheItem.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CosmosAsyncClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CosmosAsyncClientCacheItem.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateChangeFeedOffsetFromSpark2.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateSpark2ContinuationsFromChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/notebooks/basicScenario.scala
Labels: Cosmos

#39044 mgmt, bug fix for appservice Function App on ACA, prepare release patch
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#39058 Update spring-reference and sync changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-reference.yml
Labels: azure-spring

#38921 Updating External Dependency com.nimbusds:nimbus-jose-jwt
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callingserver/pom.xml
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-jobrouter/pom.xml
  sdk/communication/azure-communication-messages/pom.xml
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-sms/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/maps/azure-maps-route/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: Event Hubs, azure-spring, Communication - Calling Server, Communication - Chat, Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Communication - Call Automation

#39060 [Automation] Generate SDK based on TypeSpec 0.13.11
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#38999 Fix scenario when roundtripping InputStream in Blob SDKs
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobInputStream.java
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/BlobClientBaseJavaDocCodeSnippets.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
Labels: Storage

#39059 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#38318 Fix Cognitive Search Samples Issue
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/CreateIndexWithFieldBuilderExample.java
Labels: Search, customer-reported, Community Contribution

#38564 Update README.md
  sdk/spring/azure-spring-data-cosmos/README.md
Labels: customer-reported, azure-spring, Community Contribution

#39068 Sync .github/workflows directory with azure-sdk-tools for PR 7808
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#38975 [OpenAI] Regenerated with Multipart
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageGenerationContentFilterResults.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageGenerationData.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageGenerationPromptFilterResults.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ImageGenerations.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/SpeechGenerationOptions.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#39072 [AppConfiguration] Prepare for March release.
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
Labels: Client, App Configuration

#39074 Sync eng/common directory with azure-sdk-tools for PR 7758
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#39073 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
Labels: OpenAI

#39075 Increment versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Labels: App Configuration

#39054 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#39076 azure-cosmos-spark release 2024-03-05 - Reduces number of Collection GET calls
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/SparkBridgeInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReaderWithReadMany.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateSpark2ContinuationsFromChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
Labels: Cosmos

#39067 Remove simple usages of Mockito
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-identity/pom.xml
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/implementation/IdentityErrorConverterUnitTests.java
  sdk/communication/azure-communication-networktraversal/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/ContainerRegistryCredentialPolicyTests.java
  sdk/containerregistry/azure-containers-containerregistry/src/test/java/com/azure/containers/containerregistry/implementation/authentication/ContainerRegistryTokenServiceTest.java
  sdk/devcenter/azure-developer-devcenter/pom.xml
  sdk/healthinsights/azure-health-insights-cancerprofiling/pom.xml
  sdk/healthinsights/azure-health-insights-clinicalmatching/pom.xml
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/IntegrationTests.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/LocalFileLoaderTests.java
  sdk/purview/azure-analytics-purview-sharing/pom.xml
  sdk/purview/azure-analytics-purview-workflow/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/java/com/azure/data/schemaregistry/apacheavro/AvroSerializerTest.java
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/test/java/com/azure/data/schemaregistry/apacheavro/SchemaRegistryApacheAvroSerializerIntegrationTest.java
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlockBlobApiTests.java
  sdk/storage/azure-storage-blob-nio/src/test/java/com/azure/storage/blob/nio/AzureResourceTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BuilderHelperTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ProgressReporterTests.java
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileReadBehaviorTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/StorageSeekableByteChannelShareFileWriteBehaviorTests.java
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/MockClientTests.java
Labels: Container Registry, Storage, Schema Registry, Cognitive - Text Analytics, OpenTelemetry, Communication - Identity, Communication - Network Traversal, DevCenter, Load Testing, Communication - Call Automation

#38322 Support azure-json in azure-core-management
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-management/spotbugs-exclude.xml
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/ProxyResource.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Resource.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/SystemData.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/exception/AdditionalInfo.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/exception/ManagementError.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/ProxyResourceAccessHelper.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/AzureAsyncOperationData.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/Error.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/FinalResult.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/LocationData.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/PollingState.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/ProvisioningStateData.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/SynchronouslyFailedLroData.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/SynchronouslySucceededLroData.java
  sdk/core/azure-core-management/src/main/java/module-info.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/ResourceTests.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/exception/ManagementExceptionTests.java
  sdk/core/azure-core/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JsonSerializableDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JsonSerializableSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/models/ResponseError.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
Labels: Azure.Core

#39089 Sync eng/common directory with azure-sdk-tools for PR 7810
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#39082 mgmt appservice, sync patch release change
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
Labels: Mgmt

#39106 Skip spotless checks in stress tests dockerfiles
  sdk/eventhubs/azure-messaging-eventhubs-stress/Dockerfile
  sdk/servicebus/azure-messaging-servicebus-stress/Dockerfile
  sdk/template/azure-template-stress/dockerfiles/java11
  sdk/template/azure-template-stress/dockerfiles/java21
Labels: Event Hubs, Service Bus, EngSys

#39104 Sync eng/common directory with azure-sdk-tools for PR 7823
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39077 fewChangesAroundDiagnosticsHandler
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapperTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
Labels: Cosmos

#39103 Support ingestion sampling
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/LogDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/SpanDataMapper.java
Labels: OpenTelemetry

#39101 OTel exporter 1.0.0-beta.20 release
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetry

#39121 BackportFewChangesForDiagnosticsProvider
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapperTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
Labels: Cosmos

#39124 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, EngSys, azure-spring, OpenTelemetry

#39117 Increment package versions for resourcemanager search releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#39129 release4.53.3-hotfix
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, azure-spring

#39138 Sync eng/common directory with azure-sdk-tools for PR 7842
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#39140 Sync .github/workflows directory with azure-sdk-tools for PR 7845
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#39139 Sync eng/common directory with azure-sdk-tools for PR 7835
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#38784 `Response`-related classes refactoring
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/OkHttpHttpClient.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpBufferedResponse.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpResponse.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpResponseBase.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpToAzureCoreHttpHeadersWrapper.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientBuilderTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientTests.java
  sdk/generic-sdk-core/generic-core/pom.xml
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/Response.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClientResponse.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/HttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/exception/HttpResponseException.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpResponse.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/RetryOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/pipeline/HttpPipeline.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/pipeline/HttpPipelineNextPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/pipeline/HttpPipelinePolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/HttpLoggingPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/KeyCredentialPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RedirectPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RedirectStrategy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RequestRetryCondition.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RetryPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/HttpResponseAccessHelper.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/RestProxy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/SimpleResponse.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/DefaultRedirectStrategy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/policy/HttpResponseLogger.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/ResponseConstructorsCache.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/ResponseExceptionConstructorCache.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyBase.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyImpl.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/serializer/HttpResponseDecoder.java
  sdk/generic-sdk-core/generic-core/src/samples/java/com/generic/core/util/ClientLoggerJavaDocCodeSnippets.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/MockHttpResponse.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/NoOpHttpClient.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/RestProxyResponseConstructionBenchmark.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/RestProxyTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientBuilderTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTest.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/pipeline/HttpPipelineTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/policy/HttpPipelinePolicyTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/policy/RedirectPolicyTest.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/policy/RetryPolicyTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/ResponseConstructorsCacheBenchMark.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/ResponseConstructorsCacheLambdaMetaFactory.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/ResponseConstructorsNoCacheReflection.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/RestProxyImplTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/shared/HttpClientTests.java
Labels: Client, generic-core

#39078 [OpenAI] Ennhance Streaming ChatCompletion documentations and samples.
  .vscode/cspell.json
  eng/versioning/external_dependencies.txt
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/OpenAIAsyncClientJavaDocCodeSnippets.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/OpenAIClientJavaDocCodeSnippets.java
Labels: Client, OpenAI

#39142 update4.53.3-hotfixChangeLog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#39146 Running prepare-release servicebus 7.15.2
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
Labels: Service Bus

#39153 Sync .github/workflows directory with azure-sdk-tools for PR 7848
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#39156 Sync .github/workflows directory with azure-sdk-tools for PR 7853
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#38998 Search March 2024 Preview
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/spotbugs-exclude.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchServiceVersion.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/ErrorAdditionalInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/ErrorDetail.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/ErrorResponse.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/ErrorResponseException.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchableField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SimpleField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/AliasesImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/DataSourcesImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/IndexersImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/IndexesImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/SearchServiceClientImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/SkillsetsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/SynonymMapsImpl.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ErrorAdditionalInfo.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ErrorDetail.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ErrorResponse.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ErrorResponseException.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ScalarQuantizationCompressionConfiguration.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/implementation/models/ScalarQuantizationParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/CustomWebApiParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchFieldDataType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchResourceEncryptionKey.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearch.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchCompressionConfiguration.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchCompressionKind.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchCompressionTargetDataType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchProfile.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/WebApiSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizableTextQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizedQuery.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/VectorSearchTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/FieldBuilderTests.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/src/main/java/SearchIndexCustomizations.java
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Labels: Search

#39133 Support `url.query`
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/SpanDataMapper.java
Labels: OpenTelemetry

#39159 Prepare to release beta.21
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetry

#39160 Sync eng/common directory with azure-sdk-tools for PR 7854
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#39161 Prepare Search March 2024 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#39005 New ApiCenter events
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiCenterApiDefinitionAddedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiCenterApiDefinitionUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/ApiCenterApiSpecification.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#39167 Prepare March 2023 EventGrid Release
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
Labels: Event Grid

#39081 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#39169 azure-cosmos-spark: release 2024-03-12 - Reducing noisy logs in WARN but adding more verbose logs when retries have been re-enqueued.
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorDiagnosticsTracker.java
Labels: Cosmos

#38933 App Configuration provider: add telemetry schme
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationSnapshotPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/entity/Feature.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/entity/FeatureTelemetry.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestUtils.java
Labels: azure-spring

#39185 Set version of org.apache.maven.plugins:maven-gpg-plugin in publish script
  eng/scripts/Publish-MavenPackages.ps1
  eng/versioning/external_dependencies.txt
Labels: EngSys

#39166 Changed return type of `getValues()` methods in `Header` and `Headers`
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/OkHttpHttpClient.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpResponse.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpToCoreHttpHeadersWrapper.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/models/Header.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/models/Headers.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTest.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/shared/HttpClientTests.java
Labels: Client, generic-core

#39175 Removed `ErrorOptions`.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/RequestOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/RestProxy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/ErrorOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyBase.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyImpl.java
Labels: Client, generic-core

#39127 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#39164 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, EngSys, azure-spring, OpenTelemetry

#39191 Incrementing Versions for Tables Release (Cherry-Pick)
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#39179 Upgrade Spring Cloud and Spring Framework version
  eng/versioning/external_dependencies.txt
  eng/versioning/update_versions.py
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/scripts/spring_boot_2.7.18_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: KeyVault, azure-spring

#39173 Increment package versions for cosmosdb releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#39163 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Labels: Monitor

#39196 Preparing Tables March 2024 Beta Release
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#39197 Sync eng/common directory with azure-sdk-tools for PR 7821
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#39209 Increment versions for security releases
  eng/versioning/version_client.txt
  sdk/security/azure-resourcemanager-security/CHANGELOG.md
  sdk/security/azure-resourcemanager-security/pom.xml
Labels: Mgmt

#39211 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: Mgmt

#39210 Increment versions for redisenterprise releases
  eng/versioning/version_client.txt
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/pom.xml
Labels: Mgmt

#38973 KafkaV2SinkConnector
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/doc/configuration-reference.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosDBSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosDBSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosClientStore.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosConstants.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosExceptionsHelper.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosSchedulers.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosDBWriteException.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkContainersConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkWriteConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/IWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/IdStrategies.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/ItemWriteStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/KafkaCosmosBulkWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/KafkaCosmosPointWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/KafkaCosmosWriterBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/SinkOperation.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/SinkRecordTransformer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/StructToJsonMap.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/ToleranceOnErrorLevel.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/AbstractIdStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/AbstractIdStrategyConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/FullKeyStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/IdStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/KafkaMetadataStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/KafkaMetadataStrategyConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/ProvidedInConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/ProvidedInKeyStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/ProvidedInStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/ProvidedInValueStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/TemplateStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/TemplateStrategyConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosChangeFeedModes.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosChangeFeedStartFromModes.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceContainersConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThread.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/module-info.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosDBSinkConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosDBSourceConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosDbSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConfigEntry.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConnectContainer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosReflectionUtils.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestSuiteBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/idStrategy/ProvidedInStrategyTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThreadTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#39216 Increment package versions for servicebus 7.15.2 releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#39217 Running Prepare-Release for azure-messaging-servicebus 7.16.1-beta.1 with azure-xml 1.0.0-beta.3
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#39219 Use same handling as sparse-checkout to attempt to fix memory tests
  sdk/storage/azure-storage-perf/memory-stress-scenarios.ps1
Labels: Storage

#39222 Sync eng/common directory with azure-sdk-tools for PR 7877
  eng/common/testproxy/test-proxy-tool-shutdown.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#39204 [Core] Bugfix for ContentType, text/event-stream match
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/AsyncRestProxyTests.java
Labels: Azure.Core, OpenAI

#39198 Updating incorrect parameter description for getFileOutputStream
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
Labels: Storage

#39221 Update pom file version scanner
  eng/pipelines/code-quality-reports.yml
  eng/pipelines/latest-jdk.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/steps/generate-project-list-and-cache-maven-repository.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
  eng/scripts/generate_from_source_pom.py
  eng/versioning/external_dependencies.txt
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/version_data.txt
  sdk/appconfiguration/ci.yml
  sdk/core/ci.yml
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/ci.yml
  sdk/eventgrid/ci.yml
  sdk/eventhubs/azure-messaging-eventhubs-track1-perf/pom.xml
  sdk/eventhubs/ci.yml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/formrecognizer/ci.yml
  sdk/identity/azure-identity-extensions/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/ci.yml
  sdk/resourcemanager/ci.yml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/ci.yml
  sdk/storage/microsoft-azure-storage-perf/pom.xml
  sdk/textanalytics/ci.yml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Event Grid, Event Hubs, KeyVault, Storage, Mgmt, App Configuration, Azure.Core, Azure.Identity, Cognitive - Text Analytics, Cognitive - Form Recognizer, azure-spring

#39228 Update Msal Java Dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Event Hubs, Azure.Identity

#39244 Increment versions for cosmosdbforpostgresql releases
  eng/versioning/version_client.txt
  sdk/cosmosdbforpostgresql/azure-resourcemanager-cosmosdbforpostgresql/CHANGELOG.md
  sdk/cosmosdbforpostgresql/azure-resourcemanager-cosmosdbforpostgresql/pom.xml
Labels: Mgmt

#39246 Increment version for quantum releases
  eng/versioning/version_client.txt
  sdk/quantum/azure-resourcemanager-quantum/CHANGELOG.md
  sdk/quantum/azure-resourcemanager-quantum/pom.xml
Labels: Mgmt

#39249 Increment versions for chaos releases
  eng/versioning/version_client.txt
  sdk/chaos/azure-resourcemanager-chaos/CHANGELOG.md
  sdk/chaos/azure-resourcemanager-chaos/pom.xml
Labels: Mgmt

#39250 Increment versions for newrelicobservability releases
  eng/versioning/version_client.txt
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/azure-resourcemanager-newrelicobservability/pom.xml
Labels: Mgmt

#39253 Increment versions for notificationhubs releases
  eng/versioning/version_client.txt
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/CHANGELOG.md
  sdk/notificationhubs/azure-resourcemanager-notificationhubs/pom.xml
Labels: Mgmt

#39235 Service Bus version updates post 7.16.0-beta.1 release with azure-xml (beta)
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#39256 Sync eng/common directory with azure-sdk-tools for PR 7892
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#39203 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#39182 Backport for release of azure-cosmos_4.48.3-hotfix
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapperTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ImplementationBridgeHelpersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#39215 Backport for release of azure-cosmos_4.53.4-hotfix
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ImplementationBridgeHelpersTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#39184 Backport for release of azure-cosmos_4.45.3-hotfix
  eng/jacoco-test-coverage/pom.xml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapperTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ImplementationBridgeHelpersTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProviderJvmFatalErrorMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#39272 Fix dev version always being set
  eng/pipelines/templates/jobs/ci.yml
Labels: EngSys

#39271 Change log for hotfix releases (4.45.3-hotfix, 4.48.3-hotfix, 4.53.4-hotfix)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#39225 Azure Monitor Query: Update method names
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryServiceVersion.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsServiceVersion.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metrics/models/MetricsHelper.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResourcesOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResourcesResult.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/MetricsBatchQuerySample.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/codesnippets/MetricsBatchQueryClientJavaDocCodeSnippets.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsClientTest.java
Labels: Monitor

#39276 API review file filter function is failing due to non-array output from get-ChildItem
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#39262 Try 2: Adapt HTTP client stress tests to generic core
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/AzureSdkAllowedExternalApis.java
  eng/pipelines/templates/jobs/ci.yml
  sdk/generic-sdk-core/generic-core-http-okhttp/CHANGELOG.md
  sdk/generic-sdk-core/generic-core/CHANGELOG.md
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/HttpLoggingPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RedirectPolicy.java
  sdk/generic-sdk-core/generic-json/CHANGELOG.md
  sdk/template/azure-template-stress/dockerfiles/java11
  sdk/template/azure-template-stress/dockerfiles/java21
  sdk/template/azure-template-stress/pom.xml
  sdk/template/azure-template-stress/scenarios-matrix.yaml
  sdk/template/azure-template-stress/src/main/java/com/azure/sdk/template/stress/HttpGet.java
  sdk/template/azure-template-stress/src/main/java/com/azure/sdk/template/stress/util/TelemetryHelper.java
  sdk/template/azure-template-stress/templates/job.yaml
Labels: EngSys

#39263 Logging in generic core
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpRetryOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/ProxyOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/HttpLoggingPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RedirectPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/policy/RetryPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtils.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/ReflectionUtilsMethodHandle.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/DefaultLogger.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/Providers.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/ClientLogger.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/Configuration.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/configuration/ConfigurationBuilder.java
  sdk/generic-sdk-core/generic-core/src/samples/java/com/generic/core/util/ClientLoggerJavaDocCodeSnippets.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/util/ClientLoggerTests.java
Labels: EngSys

#39278 Sync eng/common directory with azure-sdk-tools for PR 7896
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#39255 channelAcquisitionExceptionForWrites
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/WebExceptionUtilityTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ChannelAcquisitionException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
Labels: Cosmos

#39290 Increment versions for iotfirmwaredefense releases
  eng/versioning/version_client.txt
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/CHANGELOG.md
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/pom.xml
Labels: Mgmt

#39291 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-resourcemanager-communication/CHANGELOG.md
  sdk/communication/azure-resourcemanager-communication/pom.xml
Labels: Mgmt

#39230 Fix beta package publishing
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: Communication - Phone Numbers

#39261 Sync eng/common directory with azure-sdk-tools for PR 7895
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#39292 springLiveTestImageFix
  sdk/spring/pipeline/cosmos-integration-matrix.json
Labels: azure-spring

#39258 [OpenAI] Added a new overload `getChatCompletionsStreamWithResponse`
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/StreamingChatSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/OpenAIAsyncClientJavaDocCodeSnippets.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/OpenAIClientJavaDocCodeSnippets.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Labels: Client, OpenAI

#39300 Repair `eventgrid` ci job
  sdk/eventgrid/ci.yml
Labels: Event Grid

#39283 Add credscan suppressions file to common path for publish daily feed
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: Central-EngSys

#39289 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#39305 Increment versions for mobilenetwork releases
  eng/versioning/version_client.txt
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/pom.xml
Labels: Mgmt

#39312 Increment versions for appcontainers releases
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
Labels: Mgmt

#39315 Increment versions for support releases
  eng/versioning/version_client.txt
  sdk/support/azure-resourcemanager-support/CHANGELOG.md
  sdk/support/azure-resourcemanager-support/pom.xml
Labels: Mgmt

#39308 Fixed cosmos readme by removing unnecessary comments
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#39323 Increase CI timeout for Core, Identity, and Serialization
  eng/pipelines/latest-jdk.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/core/ci.yml
  sdk/identity/ci.yml
  sdk/serialization/ci.yml
Labels: Azure.Core, Azure.Identity

#39298 Migrate Storage to new linting pattern
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  sdk/storage/azure-storage-blob-batch/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-batch/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob-changefeed/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-changefeed/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/models/package-info.java
  sdk/storage/azure-storage-blob-changefeed/src/main/java/com/azure/storage/blob/changefeed/implementation/util/package-info.java
  sdk/storage/azure-storage-blob-cryptography/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob-nio/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-nio/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/accesshelpers/package-info.java
  sdk/storage/azure-storage-common/checkstyle-suppressions.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/spotbugs-exclude.xml
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/connectionstring/package-info.java
  sdk/storage/azure-storage-file-datalake/checkstyle-suppressions.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-datalake/spotbugs-exclude.xml
  sdk/storage/azure-storage-file-share/checkstyle-suppressions.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-file-share/spotbugs-exclude.xml
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/package-info.java
  sdk/storage/azure-storage-internal-avro/checkstyle-suppressions.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-internal-avro/spotbugs-exclude.xml
  sdk/storage/azure-storage-internal-avro/src/main/java/com/azure/storage/internal/avro/implementation/schema/complex/package-info.java
  sdk/storage/azure-storage-internal-avro/src/main/java/com/azure/storage/internal/avro/implementation/schema/file/package-info.java
  sdk/storage/azure-storage-internal-avro/src/main/java/com/azure/storage/internal/avro/implementation/schema/package-info.java
  sdk/storage/azure-storage-internal-avro/src/main/java/com/azure/storage/internal/avro/implementation/schema/primitive/package-info.java
  sdk/storage/azure-storage-queue/checkstyle-suppressions.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/spotbugs-exclude.xml
Labels: Storage

#39320 Cleanup azure-xml APIs
  eng/versioning/version_client.txt
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/implementation/DefaultJsonProvider.java
  sdk/serialization/azure-xml/spotbugs-exclude.xml
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlProvider.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlProviders.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlReader.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlSerializable.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlWriter.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlReader.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/implementation/DefaultXmlWriter.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/implementation/package-info.java
  sdk/serialization/azure-xml/src/main/java/module-info.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/DefaultXmlReaderContractTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/DefaultXmlWriterContractTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/PlaygroundTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/contract/XmlReaderContractTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/storage/DateTimeRfc1123.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/storage/DeserializeListBlobsTests.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntityHelper.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientTest.java
  sdk/tables/azure-data-tables/pom.xml
Labels: Azure.Core

#39176 Added `ServiceMethod` and `ReturnType`.
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/annotation/ReturnType.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/annotation/ServiceMethod.java
Labels: Client, generic-core

#39309 mgmt, support convenience API for publicNetworkAccess in Vault
  sdk/resourcemanager/azure-resourcemanager-keyvault/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/assets.json
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/implementation/VaultImpl.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/java/com/azure/resourcemanager/keyvault/models/Vault.java
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/test/java/com/azure/resourcemanager/keyvault/VaultTests.java
  sdk/resourcemanager/azure-resourcemanager/assets.json
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
Labels: Mgmt

#39342 [Automation] Generate Fluent Lite from storageactions#package-2023-01-01
  sdk/storageactions/azure-resourcemanager-storageactions/CHANGELOG.md
  sdk/storageactions/azure-resourcemanager-storageactions/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-storageactions/reflect-config.json
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/ManagedServiceIdentityTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTaskInnerTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTaskUpdateParametersTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTasksCreateMockTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTasksGetByResourceGroupWithResponseMockTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTasksListByResourceGroupMockTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTasksListMockTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/StorageTasksListResultTests.java
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/generated/UserAssignedIdentityTests.java
Labels: Mgmt - Track 2

#39343 Increment versions for storageactions releases
  eng/versioning/version_client.txt
  sdk/storageactions/azure-resourcemanager-storageactions/CHANGELOG.md
  sdk/storageactions/azure-resourcemanager-storageactions/pom.xml
Labels: Mgmt

#39347 Increment versions for confluent releases
  eng/versioning/version_client.txt
  sdk/confluent/azure-resourcemanager-confluent/CHANGELOG.md
  sdk/confluent/azure-resourcemanager-confluent/pom.xml
Labels: Mgmt

#39351 Random stress test fixes for generic core
  sdk/template/azure-template-stress/README.md
  sdk/template/azure-template-stress/dockerfiles/java11.dockerignore
  sdk/template/azure-template-stress/dockerfiles/java21.dockerignore
  sdk/template/azure-template-stress/src/main/java/com/azure/sdk/template/stress/util/TelemetryHelper.java
Labels: EngSys

#38475 Add Javadocs for Monitor Query
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/LogsQueryClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsyncClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryClient.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQuery.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsColumnType.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricAvailability.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricClass.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricDefinition.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricNamespace.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricUnit.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResourcesOptions.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/NamespaceClassification.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/package-info.java
Labels: Monitor

#39335 makeMaxBatchSizePublic
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
Labels: Cosmos

#39190 Datalake Async Test rework
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/CpkAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DataLakeTestBase.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SasAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SoftDeleteAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/specialized/LeaseAsyncApiTests.java
Labels: Storage

#39322 Fixed incorrect container tag value in metrics.
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
Labels: Cosmos, customer-reported, Community Contribution

#39321 azure-cosmos log level adjustments
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClearingSessionContainerClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RenameCollectionAwareClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/VectorSessionToken.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdServiceEndpoint.java
Labels: Cosmos

#39356 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#39359 [Automation] Generate Fluent Lite from specification/workloads/resource-manager/Microsoft.Workloads/SAPVirtualInstance/readme.md#package-preview-2023-10
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/CHANGELOG.md
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/SAMPLE.md
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/fluent/OperationsClient.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/implementation/OperationsClientImpl.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/models/Operations.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/samples/java/com/azure/resourcemanager/workloadssapvirtualinstance/generated/OperationsListSamples.java
Labels: Mgmt - Track 2

#39361 [Patch-Release] Fix patch release pipeline failures
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: KeyVault, Azure.Identity, azure-spring

#39365 Increment versions for workloadssapvirtualinstance releases
  eng/versioning/version_client.txt
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/CHANGELOG.md
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/pom.xml
Labels: Mgmt

#38534 Auto failover3
  sdk/spring/ci.yml
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/AppConfigurationAutoConfiguration.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceLocator.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefresh.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientsBuilder.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/ConnectionManager.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/autofailover/ReplicaLookUp.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/autofailover/SRVRecord.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/config/AppConfigurationBootstrapConfiguration.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/properties/ConfigStore.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceLocatorTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefreshTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtilTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientBuilderTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientFactoryTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/ConnectionManagerTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/autofailover/ReplicaLookUpTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/autofailover/SRVRecordTest.java
Labels: azure-spring

#39375 Spring App Config Auto Failover doc
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/autofailover/ReplicaLookUp.java
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
Labels: azure-spring

#39284 Fix for broker scenario
  sdk/identity/azure-identity-broker-samples/src/samples/java/com/azure/identity/broker/JavaDocCodeSnippets.java
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/src/main/java/com/azure/identity/broker/InteractiveBrowserBrokerCredentialBuilder.java
  sdk/identity/azure-identity-broker/src/test/java/com/azure/identity/broker/InteractiveBrowserBrokerCredentialBuilderTest.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
Labels: Azure.Identity

#39352 Fixed issue where CosmosDiagnosticsContext is null when diagnostics are sampled out.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedOperationState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#39097 hold unhold changes for beta 3
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationEventParser.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMedia.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/CallParticipantConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallParticipant.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/HoldOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/HoldFailed.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationEventParserAndProcessorUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/ModelGenerator.java
Labels: Communication - Call Automation

#39330 Update OTEL to 2.2.0
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, EngSys, azure-spring, Attestation, OpenTelemetry

#39387 Updated release versions to 4.57.0 for azure-cosmos
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ImplementationBridgeHelpersTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#39378 Updating Tables Logic to fix 409 error-catching
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
Labels: Tables

#39391 Migrate `Cosmos CTL` image Build to `1ES Artifacts`
  sdk/cosmos/azure-cosmos-benchmark/ctl-image-build.yml
Labels: Cosmos

#39174 Removed `ExpandableStringEnum` and replaced it with `ExpandableEnum`
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/exception/HttpExceptionType.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpHeaderName.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/models/ExpandableStringEnum.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/util/ExpandableEnum.java
  sdk/generic-sdk-core/generic-core/src/main/java/module-info.java
  sdk/generic-sdk-core/generic-core/src/samples/java/com/generic/core/util/ConfigurationJavaDocCodeSnippet.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/util/serializer/DefaultJsonSerializerTests.java
Labels: Client, generic-core

#39362 Support default binder properties
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/java/com/azure/spring/cloud/stream/binder/eventhubs/config/ExtendedBindingHandlerMappingsProviderConfiguration.java
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/src/test/java/com/azure/spring/cloud/stream/binder/eventhubs/config/ExtendedBindingHandlerMappingsProviderAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/config/ExtendedBindingHandlerMappingsProviderConfiguration.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/config/ExtendedBindingHandlerMappingsProviderAutoConfigurationTests.java
Labels: azure-spring

#39396 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#39404 Remove AOT samples from ci.yml
  sdk/aot/ci.yml
Labels: graalvm

#39407 Updated release versions to 2.9.0 for azure-cosmos-encryption
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
Labels: Cosmos

#39409 Sync eng/common directory with azure-sdk-tools for PR 7951
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#39384 Add a missing sanitizer
  sdk/core/azure-core-test/assets.json
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Labels: Azure.Core

#39406 [BOM] Prepare BOM March release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: Client, azure-sdk-bom

#39376 Azure Monitor Query: Update documentation
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsClientBuilder.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/MetricsSample.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
Labels: Monitor
