Repository Azure/azure-sdk-for-java, pull requests merged in 2024-04, with the labels that each got.

#39461 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#39472 Sync eng/common directory with azure-sdk-tools for PR 7975
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#39479 [Bug] Fixed can't serialize json string in async sample
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ReadmeSamples.java
Labels: Cosmos

#39476 Further expand sanitizers
  sdk/core/azure-core-test/assets.json
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/TestProxyTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestProxyTests.java
Labels: Azure.Core

#39459 Change logging level for successful token aqcuisition
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/LoggingUtil.java
Labels: Azure.Identity

#39296 [OpenAI] New Service API version 2024-03-01-preview
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/customization/src/main/java/ChatCompletionsToolCallCustomizations.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/EmbeddingsUtils.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/NonAzureOpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingEncodingFormat.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingItem.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/EmbeddingsOptions.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetEmbeddingsAsyncSample.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetEmbeddingsSample.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/implementation/EmbeddingUtilsTests.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: Client, OpenAI

#39486 mgmt, use DefaultAzureCredentialBuilder in TestBase, remove AuthFile
  sdk/resourcemanager/azure-resourcemanager-authorization/src/test/java/com/azure/resourcemanager/authorization/ServicePrincipalsTests.java
  sdk/resourcemanager/azure-resourcemanager-perf/src/main/java/com/azure/resourcemanager/perf/core/AzureResourceManagerTest.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/utils/AuthFile.java
  sdk/resourcemanager/docs/RBAC.md
Labels: Mgmt

#39492 Updates to azure-xml implementation based on ApiView
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlReader.java
  sdk/serialization/azure-xml/src/main/java/module-info.java
Labels: Azure.Core

#39489 Update some Storage Javadocs to be valid in Java 21 Javadoc generation
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobAppendBlockFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobCreateOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/ParallelTransferOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/ProgressReporter.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/MetadataValidationPolicy.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ResponseValidationPolicyBuilder.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/ScrubEtagPolicy.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/StorageSharedKeyCredentialPolicy.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasPermission.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasResourceType.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasService.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/AccountSasSignatureValues.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/CommonSasQueryParameters.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/SasIpRange.java
Labels: Storage, Client, Docs

#39506 Sync eng/common directory with azure-sdk-tools for PR 7988
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#39507 fixExceptionMessageInGatewayDiagnostics
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
Labels: Cosmos

#39490 addServicePrincipalSupportInKafkaConnector
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/doc/configuration-reference.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAadAuthConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAccountConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAuthConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAuthTypes.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAzureEnvironments.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosClientStore.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosMasterKeyAuthConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosThroughputControlConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosBulkWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosPointWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosWriterBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/module-info.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestConfigurations.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThreadTest.java
Labels: Cosmos

#39509 Sync eng/common directory with azure-sdk-tools for PR 7989
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#39438 Optimized the partitioning strategy implementation details to avoid unnecessarily high RU usage
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/CSharp/NYC-Taxi-Data/01_Batch_csharp.ipynb
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveContainerMigrationValidation.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveSingleContainerMigration.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/CosmosDBLiveSingleContainerMigrationValidation.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/NYC-Taxi-Data/02_StructuredStreaming.ipynb
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Scala/NYC-Taxi-Data/01_Batch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Scala/NYC-Taxi-Data/01_Batch_AAD.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerITest.scala
Labels: Cosmos

#39500 capInitialTargetBatchSizeByMaxBatchSize
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholdsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholds.java
Labels: Cosmos

#39521 Increment versions for hdinsight releases
  eng/versioning/version_client.txt
  sdk/hdinsight/azure-resourcemanager-hdinsight-containers/CHANGELOG.md
  sdk/hdinsight/azure-resourcemanager-hdinsight-containers/pom.xml
Labels: Mgmt

#39437 Release ACS Rooms PSTN to GA
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/assets.json
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/RoomsServiceVersion.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/AzureCommunicationRoomServiceImplBuilder.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsAsyncClientTests.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsClientTest.java
  sdk/communication/azure-communication-rooms/swagger/README.md
Labels: Communication - Rooms

#39523 Make Application Insights for Spring native work with OTel 2.2.0
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/OpenTelemetryVersionCheckRunner.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/PropertiesPostProcessor.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/OtelSelfDiag.java
Labels: azure-spring

#39505 Add codesnippets to some XML APIs
  sdk/serialization/azure-xml/pom.xml
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlReadValueCallback.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlReader.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlSerializable.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/NamespaceProperties.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/ResponseAuthor.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/XmlReaderCodesnippetsTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/contract/XmlReaderContractTests.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/storage/BlobName.java
Labels: Azure.Core

#39524 Add azure-xml dependency to azure-core
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-experimental/src/main/java/module-info.java
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/JacksonAdapter.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/module-info.java
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessibleByteArrayOutputStream.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ReflectionSerializableTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/JacksonAdapterJsonSerializableTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/JacksonAdapterXmlSerializableTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/RestProxyJsonSerializableTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/RestProxyXmlSerializableTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/SimpleJsonSerializable.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/serializer/SimpleXmlSerializable.java
Labels: Azure.Core

#39512 Add release notes to Batch Track 1 changelog
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
Labels: Batch

#39340 Changes to `HttpClient` and client provider classes
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/OkHttpHttpClientBuilder.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/OkHttpHttpClientProvider.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientHttpClientTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientProviderTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientSingletonTests.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/test/java/com/generic/core/http/okhttp/OkHttpHttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClientBuilder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClientProvider.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/HttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/HttpClientProvider.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/HttpClientProviders.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/pipeline/HttpPipelineBuilder.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/util/Providers.java
  sdk/generic-sdk-core/generic-core/src/samples/java/com/generic/core/http/HttpPipelineBuilderJavaDocCodeSnippets.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientSingletonTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/HttpClientProvidersTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/shared/HttpClientTests.java
Labels: Client, generic-core

#39280 Lazy deserialization for an HTTP response body
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/OkHttpHttpClient.java
  sdk/generic-sdk-core/generic-core-http-okhttp/src/main/java/com/generic/core/http/okhttp/implementation/OkHttpResponse.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/client/DefaultHttpClient.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpRequest.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpRequestMetadata.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/HttpResponse.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/RequestOptions.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/models/ResponseBodyMode.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/http/pipeline/HttpLoggingPolicy.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/HttpResponseAccessHelper.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyBase.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/RestProxyImpl.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/generic-sdk-core/generic-core/src/main/java/com/generic/core/implementation/http/serializer/HttpResponseDecodeData.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/MockHttpResponseDecodeData.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/RestProxyTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/client/DefaultHttpClientTest.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/http/models/HttpResponseTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/shared/HttpClientTests.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/shared/HttpClientTestsServer.java
Labels: Client, generic-core

#39531 Fixed broken links in the READMEs for KV Certificates and ACS Job Router
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
Labels: KeyVault, Docs, Communication

#39532 Fix Javadoc issues caused by azure-core adding azure-xml dependency
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Azure.Core

#39526 Azure Monitor: Update test resources
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests.yml
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MonitorQueryTestUtils.java
  sdk/monitor/test-resources.json
  sdk/monitor/tests.yml
Labels: Monitor, OpenTelemetry

#39528 Prepare azure-xml for initial GA
  eng/versioning/version_client.txt
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/serialization/azure-xml/CHANGELOG.md
  sdk/serialization/azure-xml/README.md
  sdk/serialization/azure-xml/pom.xml
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlReader.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/NamespacePropertiesEntryContent.java
  sdk/serialization/azure-xml/src/test/java/com/azure/xml/XmlReaderCodesnippetsTests.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Service Bus, Azure.Core, Tables

#39536 Sync eng/common directory with azure-sdk-tools for PR 8015
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#39546 Spring Monitor 1.0.0-beta.5
  sdk/spring/spring-cloud-azure-starter-monitor/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Labels: azure-spring

#39545 Update some tests to reduce runtime
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/FluxUtilTest.java
  sdk/purview/azure-analytics-purview-sharing/src/test/java/com/azure/analytics/purview/sharing/PurviewShareTestBase.java
  sdk/purview/azure-analytics-purview-sharing/src/test/java/com/azure/analytics/purview/sharing/ReceivedShareClientTest.java
  sdk/purview/azure-analytics-purview-sharing/src/test/java/com/azure/analytics/purview/sharing/SentShareClientTest.java
Labels: App Configuration, Azure.Core

#39550 Increment versions for serialization releases
  eng/versioning/version_client.txt
  sdk/serialization/azure-xml/CHANGELOG.md
  sdk/serialization/azure-xml/pom.xml
Labels: Azure.Core

#39547 Prepare Core libraries for April 2024 release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Service Bus, Azure.Core, Azure.Identity, Tables, OpenTelemetry, Azure.Core.AMQP

#39569 Update release date
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, OpenTelemetry, Azure.Core.AMQP

#39553 STG93 Feature Changelogs
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#39551 STG94 Versions
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#39529 Update dll name for test server
  sdk/template/azure-template-stress/README.md
  sdk/template/azure-template-stress/templates/job.yaml
Labels: EngSys

#39559 Tracing docs fixes
  sdk/core/azure-core-tracing-opentelemetry-samples/src/samples/java/com/azure/core/tracing/opentelemetry/samples/TracingJavaDocCodeSnippets.java
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/MetricsOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/TracingOptions.java
Labels: Azure.Core, OpenTelemetry

#39564 Test fixes for Cognitive AI Search
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedAsyncSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchIndexingBufferedSender.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/IndexingDocumentManager.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingAsyncPublisher.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/batching/SearchIndexingPublisher.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/CreateIndexWithFieldBuilderExample.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchTestBase.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SuggestTests.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/IndexManagementTests.java
Labels: Search, Client

#39213 Exposing PartitionKey functions that will be needed for sub-partition…
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
Labels: Cosmos

#39581 [Automation] Generate SDK based on TypeSpec 0.15.7
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
  sdk/devcenter/azure-developer-devcenter/src/main/java/module-info.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/module-info.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/AgeMismatchInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/CompleteOrderDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/CriticalResultInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/DocumentAdministrativeMetadata.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Condition.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4DomainResource.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Observation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ResearchStudy.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FindingInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FollowupCommunicationInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FollowupRecommendationInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/GenericProcedureRecommendation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ImagingProcedureRecommendation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/LateralityDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/LimitedOrderDiscrepancyInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/OrderedProcedure.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ProcedureRecommendation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/RadiologyInsightsInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/RadiologyInsightsPatientResult.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/RadiologyProcedureInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/RecommendationFinding.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/SexMismatchInference.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceSync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/test/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClientTestBase.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/models/AtlasClassificationDef.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/models/AtlasTypeDef.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/module-info.java
  sdk/purview/azure-analytics-purview-datamap/tsp-location.yaml
Labels: DPG

#39591 Fix version mismatch log from always triggering
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/UtilityTests.java
Labels: Azure.Core

#39599 Identity April 2024 GA
  eng/versioning/version_client.txt
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/module-info.java
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/openai/azure-ai-openai/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Service Bus, Mgmt, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Metrics Advisor, OpenAI

#39571 Addressing Search Spell errors
  .vscode/cspell.json
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/indexes/CreateSkillsetExample.java
Labels: Search

#39608 Edit pass on Monitor Query README
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#39501 Fixed In ContainerServiceManager, on KubernetesClusters creation, network profile definition: add dataplane and plugin mode
  sdk/resourcemanager/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/implementation/KubernetesClusterNetworkProfileImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/java/com/azure/resourcemanager/containerservice/models/KubernetesCluster.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java
Labels: Mgmt

#39537 Fixed issue where `hsmPlatform` was not being set in `KeyProperties`.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyPropertiesHelper.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/KeyAttributes.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/KeyVaultKeysModelsUtils.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyProperties.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
Labels: KeyVault, Client

#39602 Tracing: fix explicit context propagation when running in javaagent
  sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/opentelemetry/OpenTelemetryTracer.java
Labels: OpenTelemetry

#39612 Migrate to use azure-servicebus-jms
  eng/versioning/external_dependencies.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsConnectionFactoryConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsConnectionFactoryFactory.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsPasswordlessConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/passwordless/AzurePasswordlessEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/jms/AzureServiceBusJmsConnectionFactoryCustomizer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsPasswordlessConfigurationTest.java
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
Labels: azure-spring

#39563 Deprecate APIs exposing Jackson
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/serializer/AzureJacksonAdapter.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/implementation/AzureJsonUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/jackson/OptionSerializerTests.java
Labels: Azure.Core

#39616 Fix Animal Sniffer from causing errant logs
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/PollOperation.java
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: Cosmos, Azure.Core, OpenTelemetry, Azure.Core.AMQP

#39619 Add missing credscan suppression download
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: Central-EngSys

#39611 [OpenAI] Prepare release for 1.0.0-beta.8 version
  sdk/openai/azure-ai-openai/CHANGELOG.md
Labels: OpenAI

#39610 [AppConfig] Prepare to GA 1.6.0
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
Labels: App Configuration

#39624 Set azure-batch version to 11.1.1 to prep for release
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/README.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch

#39625 Increment versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: Monitor, App Configuration, Azure.Core, azure-spring, graalvm, OpenTelemetry

#39629 Increment version for batch releases
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/batch/microsoft-azure-batch/CHANGELOG.md
  sdk/batch/microsoft-azure-batch/pom.xml
Labels: Batch

#39633 Prepared Key Vault Keys for the April 2024 release.
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
Labels: KeyVault, Client

#39614 Prepare for Spring Cloud Azure 5.12.0-beta.1 release
  sdk/spring/CHANGELOG.md
  sdk/spring/README.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/README.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#39613 [Automation] Generate Fluent Lite from specification/workloads/resource-manager/Microsoft.Workloads/SAPDiscoverySites/readme.md#package-preview-2023-10
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/CHANGELOG.md
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/SAMPLE.md
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/pom.xml
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/fluent/models/SapDiscoverySiteInner.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/fluent/models/SapInstanceInner.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/fluent/models/ServerInstanceInner.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/implementation/SapDiscoverySiteImpl.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/implementation/SapInstanceImpl.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/implementation/ServerInstanceImpl.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/ErrorDefinition.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/SapDiscoverySite.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/SapDiscoverySiteProperties.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/SapInstance.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/SapInstanceProperties.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/SapMigrateError.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/ServerInstance.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/ServerInstanceProperties.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/java/com/azure/resourcemanager/migrationdiscoverysap/models/UpdateServerInstanceRequest.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-migrationdiscoverysap/reflect-config.json
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/samples/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapDiscoverySitesCreateSamples.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/samples/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapInstancesCreateSamples.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/samples/java/com/azure/resourcemanager/migrationdiscoverysap/generated/ServerInstancesUpdateSamples.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/ConfigurationDataTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/ExcelPerformanceDataTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/ExtendedLocationTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/NativePerformanceDataTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/OperationDisplayTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/OperationInnerTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/OperationListResultTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/OperationStatusResultInnerTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/OperationsListMockTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/PerformanceDataTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapDiscoverySiteTagsUpdateTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapDiscoverySitesDeleteMockTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapDiscoverySitesImportEntitiesMockTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapInstanceTagsUpdateTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/SapInstancesDeleteMockTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/java/com/azure/resourcemanager/migrationdiscoverysap/generated/ServerInstancesDeleteMockTests.java
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Mgmt - Track 2

#39640 Sync eng/common directory with azure-sdk-tools for PR 8053
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#39641 Increment versions for migrationdiscoverysap releases
  eng/versioning/version_client.txt
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/CHANGELOG.md
  sdk/migrationdiscoverysap/azure-resourcemanager-migrationdiscoverysap/pom.xml
Labels: Mgmt

#39636 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, Mgmt, Azure.Identity, graalvm

#39637 Updates for nightly docsms publishes.
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/docs/Docs-ToC.ps1
Labels: Central-EngSys

#39354 [Translation Text] Adding support for the AAD authentication
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/assets.json
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationClientBuilder.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TranslatorRegionAuthenticationPolicy.java
  sdk/translation/azure-ai-translation-text/src/test/java/com/azure/ai/translation/text/TextTranslationClientBase.java
  sdk/translation/azure-ai-translation-text/src/test/java/com/azure/ai/translation/text/TranslateTests.java
Labels: Communication

#39578 Add custom build tag for canary validation runs
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#39651 Sync eng/common directory with azure-sdk-tools for PR 8019
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#39652 Sync eng/common directory with azure-sdk-tools for PR 8062
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#39597 STG94 Get Account Info on Container and Blob level
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AzureBlobStorageImplBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/BlobsGetAccountInfoHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/ContainersGetAccountInfoHeaders.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#39527 Deprecate network travelsal package
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/README.md
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: Communication - Network Traversal

#39334 New AcsRouterWorker events
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/SystemEventNames.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/implementation/models/AcsMessageChannelEventError.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsCommunicationIdentifierKind.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsInteractiveReplyKind.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageButtonContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageChannelKind.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageContext.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageDeliveryStatus.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageDeliveryStatusUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageInteractiveButtonReplyContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageInteractiveContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageInteractiveListReplyContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageMediaContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMicrosoftTeamsAppIdentifier.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRouterUpdatedWorkerProperty.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRouterWorkerSelector.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsRouterWorkerUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/CommunicationIdentifierModel.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
  sdk/eventgrid/azure-messaging-eventgrid/swagger/src/main/java/EventGridCustomization.java
Labels: Event Grid

#39658 Update version number in changelog
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: Communication - Network Traversal

#39645 Removed `HttpRequestMetadata` in favor of using `RequestOptions`.
  sdk/client-core/core/src/main/java/io/clientcore/core/http/client/DefaultHttpClient.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/HttpRequest.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/HttpRequestMetadata.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/pipeline/HttpLoggingPolicy.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryPolicy.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/HttpRequestAccessHelper.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyBase.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/client/DefaultHttpClientTest.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/models/HttpRequestTests.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/pipeline/RedirectPolicyTest.java
  sdk/client-core/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClient.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/OkHttpResponse.java
  sdk/generic-sdk-core/generic-core/src/test/java/com/generic/core/implementation/util/InternalContextTests.java
Labels: Client, generic-core

#39635 Fixed an issue causing failures when using change feed in batch mode with a batch location and `ChangeFeedBatch.planInputPartitions` is called multiple times
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPoolBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPoolInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
Labels: Cosmos

#39518 Yifanzhou/add migration guidance
  sdk/purview/azure-analytics-purview-datamap/MigrationGuide.md
Labels: MergeRequested

#39560 AddingAvroConverterTests
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/IdStrategyType.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/SinkRecordTransformer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/idstrategy/AbstractIdStrategyConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConnectContainer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosIntegrationTestSuiteBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestConfigurations.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaSchemaRegistryContainer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/TestItemAvro.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/TestItemKeyAvro.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/avro/TestItemAvro.avsc
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/avro/TestItemKeyAvro.avsc
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/idStrategy/TemplateStrategyTest.java
Labels: Cosmos

#39663 Increment versions for containerservicefleet releases
  eng/versioning/version_client.txt
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/CHANGELOG.md
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/pom.xml
Labels: Mgmt

#39664 [Automation] Generate SDK based on TypeSpec 0.15.8
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#39654 Add GSON 2.10 and update to GA Jackson 2.17 in version tests
  eng/versioning/supported_external_dependency_versions.json
  sdk/serialization/ci.yml
Labels: Azure.Core

#39570 Search readme update: removing reference to high dimensional space per customer feedback
  sdk/search/azure-search-documents/README.md
Labels: Search, customer-reported, Community Contribution

#39558 addItemPatchSupportInKafkaConnector
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/doc/configuration-reference.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAadAuthConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAuthType.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosAzureEnvironment.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosClientStore.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/KafkaCosmosConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosBulkWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosPointWriter.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkWriteConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/ItemWriteStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/patch/CosmosPatchConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/patch/CosmosPatchJsonPropertyConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/patch/KafkaCosmosPatchHelper.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/patch/KafkaCosmosPatchOperationType.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosChangeFeedMode.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosChangeFeedStartFromMode.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceChangeFeedConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosPatchItemRequestOptions.java
Labels: Cosmos

#38519 [ACS][Chat] Added File Sharing
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/assets.json
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatThreadsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AddChatParticipantsOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AddChatParticipantsResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatAttachment.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatAttachmentType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessage.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageContent.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceipt.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceiptsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessagesCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipantsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadsItemCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationCloudEnvironmentModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationError.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationErrorResponseException.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationIdentifierModelKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationUserIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/MicrosoftTeamsAppIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/MicrosoftTeamsUserIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/PhoneNumberIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/SendReadReceiptRequest.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/package-info.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/package-info.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatAttachmentType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadItem.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/SendChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/SendChatMessageResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/TypingNotificationOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/package-info.java
  sdk/communication/azure-communication-chat/swagger/README.md
Labels: Communication - Chat

#37735 Introducing JSON representation model with serialisation methods
  sdk/serialization/azure-json/checkstyle-suppressions.xml
  sdk/serialization/azure-json/pom.xml
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonArray.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonBoolean.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonElement.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonNull.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonNumber.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonObject.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonString.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/implementation/JsonUtils.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/implementation/StringBuilderWriter.java
  sdk/serialization/azure-json/src/samples/java/com/azure/json/JsonAPIExamples.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonBooleanTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonBuilderTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonConversionTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonCreationTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonEditingTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonInputTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonOutputTests.java
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileA.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileB.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileC.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileD.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileE.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileEmpty.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileF.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileG.json
  sdk/serialization/azure-json/src/test/resources/jsonTestFileA.json
  sdk/serialization/azure-json/src/test/resources/jsonTestFileB.json
Labels: Azure.Core, customer-reported, Community Contribution

#39665 mgmt, add test sanitizer for FunctionApp
  sdk/resourcemanager/azure-resourcemanager-appservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Labels: Mgmt

#39685 Prepare Monitor Ingestion Minor Release April 2024
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/TROUBLESHOOTING.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
  sdk/monitor/azure-monitor-ingestion/src/samples/java/com/azure/monitor/ingestion/UploadLogsSample.java
Labels: Monitor

#39692 Preparing Monitor Ingestion for April 2024 Minor Release
  sdk/monitor/azure-monitor-ingestion/src/main/java/module-info.java
Labels: Monitor

#39690 Removing unnecessary lines from module-info
  sdk/tables/azure-data-tables/src/main/java/module-info.java
Labels: Tables

#39694 Fix LogsIngestionAudience
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/models/LogsIngestionAudience.java
Labels: Monitor

#39631 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
Labels: OpenAI

#39705 Increment versions for healthcareapis releases
  eng/versioning/version_client.txt
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/CHANGELOG.md
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/pom.xml
Labels: Mgmt

#39708 Increment versions for frontdoor releases
  eng/versioning/version_client.txt
  sdk/frontdoor/azure-resourcemanager-frontdoor/CHANGELOG.md
  sdk/frontdoor/azure-resourcemanager-frontdoor/pom.xml
Labels: Mgmt

#38412 Managed Identity Automation Integration Testing
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/identity/azure-identity/src/test/java/LiveManagedIdentityTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientOptionsTest.java
  sdk/identity/ci.yml
  sdk/identity/live-test-apps/identity-test-container/Dockerfile
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-container/src/main/java/com/azure/Program.java
  sdk/identity/live-test-apps/identity-test-function/host.json
  sdk/identity/live-test-apps/identity-test-function/local.settings.json
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-function/src/main/java/com/azure/Function.java
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/src/main/java/com/azure/virtualmachine/Program.java
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/src/main/java/com/azure/identitymiserver/IdentityMiServerApplication.java
  sdk/identity/live-test-apps/identity-test-webapp/src/main/java/com/azure/identitymiserver/ManagedIdentityTestController.java
  sdk/identity/live-test-apps/identity-test-webapp/src/test/java/com/azure/identitymiserver/IdentityMiServerApplicationTests.java
  sdk/identity/pom.xml
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#39691 [Chat] Updated Release Date and Swagger Hash
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/swagger/README.md
Labels: Communication - Chat

#39698 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#39713 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Labels: Monitor

#39717 Update qpid-proton-j-extensions to 1.2.5
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Track 1, Azure.Core.AMQP

#39682 addActualItemCountOnRequesetLevel
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/docs/Metrics.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosMetricName.java
Labels: Cosmos

#39684 Sync eng/common directory with azure-sdk-tools for PR 8076
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#39720 STG93 Beta release 04-15-24
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#39700 Further expand sanitizers
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/utils/TestProxyUtils.java
Labels: Azure.Core

#39721 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/pom.xml
Labels: Communication - Chat

#39634 allowUsingCosmosContainerForMetadata
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/ContainersMetadataTopicOffset.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/ContainersMetadataTopicPartition.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosMetadataConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosMetadataStorageType.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/FeedRangesMetadataTopicOffset.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/FeedRangesMetadataTopicPartition.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/IMetadataReader.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataCosmosStorageManager.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataKafkaStorageManager.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThread.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataTaskUnit.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosReflectionUtils.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThreadTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#39653 STG94 Files OAuth - full data plane support
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/specialized/LeaseApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#39728 Update Changelog for storage-changefeed and storage-blob-nio for Beta Release
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
Labels: Storage

#39738 Revert "STG94 Files OAuth - full data plane support"
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/specialized/LeaseApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#39743 Remove Javadoc source paths from parent POM
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/tables/azure-data-tables/pom.xml
Labels: Azure.Core

#39723 [Service Bus] Signal current pump's terminal error to Processor error handler
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/MessagePumpTerminatedException.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusProcessor.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorRollingMessagePumpIsolatedTest.java
Labels: Service Bus

#39736 Made AccountDataResolver trait public again
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/AccountDataResolver.scala
Labels: Cosmos

#39718 release4.58.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#39749 Sync eng/common directory with azure-sdk-tools for PR 8110
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#39753 Fixed mgmt, support convenience API for publicNetworkAccess
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/DeploymentSlotsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionDeploymentSlotsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Disk.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Snapshot.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/ManagedDiskOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SnapshotOptionsTests.java
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/assets.json
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/implementation/SearchServiceImpl.java
  sdk/resourcemanager/azure-resourcemanager-search/src/main/java/com/azure/resourcemanager/search/models/SearchService.java
  sdk/resourcemanager/azure-resourcemanager-search/src/test/java/com/azure/resourcemanager/search/SearchServiceOperationTests.java
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/assets.json
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlServerImpl.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/models/SqlServer.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/test/java/com/azure/resourcemanager/sql/SqlServerOperationsTests.java
Labels: Mgmt

#39737 Upgrade codesnippet-maven-plugin to latest version
  eng/versioning/external_dependencies.txt
  sdk/communication/azure-communication-email/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/resourcemanagerhybrid/pom.xml
  sdk/serialization/azure-xml/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-stream-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/tools/azure-sdk-archetype/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
Labels: Mgmt, Azure.Core, Azure.Identity, azure-spring, OpenTelemetry, Azure SDK Tools

#39716 All Readme's Include Spark 3.5 Versioning
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
Labels: Cosmos

#39754 Updating links that are pointing to deleted branch within Stress packages
  sdk/storage/azure-storage-blob-stress/README.md
  sdk/storage/azure-storage-file-datalake-stress/README.md
  sdk/storage/azure-storage-file-share-stress/README.md
Labels: Storage

#39758 partitionKeyBuilderChangeBasedOnAPIReview
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosMultiHashTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKey.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/PartitionKeyBuilder.java
Labels: Cosmos

#39714 Revert changes
  sdk/communication/azure-communication-networktraversal/assets.json
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/CommunicationRelayAsyncClient.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/CommunicationRelayClient.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/CommunicationRelayClientBuilder.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/implementation/CommunicationNetworkTraversalClientImplBuilder.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/implementation/models/CommunicationRelayConfigurationRequest.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/models/CommunicationIceServer.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/models/CommunicationRelayConfiguration.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/models/GetRelayConfigurationOptions.java
  sdk/communication/azure-communication-networktraversal/src/main/java/com/azure/communication/networktraversal/models/RouteType.java
  sdk/communication/azure-communication-networktraversal/src/test/java/com/azure/communication/networktraversal/CommunicationRelayAsyncTests.java
  sdk/communication/azure-communication-networktraversal/src/test/java/com/azure/communication/networktraversal/CommunicationRelayClientTestBase.java
  sdk/communication/azure-communication-networktraversal/src/test/java/com/azure/communication/networktraversal/CommunicationRelayTests.java
  sdk/communication/azure-communication-networktraversal/swagger/README.md
Labels: Communication - Network Traversal

#39748 Resolve client properties upon EventProcessorClient creation.
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientOptions.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientBuilderTest.java
Labels: Event Hubs

#39764 Fix receiveBatch sample
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubsJavaDocCodeSamples.java
Labels: Event Hubs

#39763 Increment versions for storage releases
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
Labels: Storage

#39752 [Automation] Generate SDK based on TypeSpec 0.15.10
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/resources/META-INF/azure-communication-jobrouter_apiview_properties.json
  sdk/communication/azure-communication-messages/src/main/resources/META-INF/azure-communication-messages_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/devcenter/azure-developer-devcenter/src/main/resources/META-INF/azure-developer-devcenter_apiview_properties.json
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/module-info.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/resources/META-INF/azure-ai-documentintelligence_apiview_properties.json
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/resources/META-INF/azure-health-insights-radiologyinsights_apiview_properties.json
  sdk/openai/azure-ai-openai-assistants/src/main/resources/META-INF/azure-ai-openai-assistants_apiview_properties.json
  sdk/purview/azure-analytics-purview-datamap/src/main/java/module-info.java
  sdk/purview/azure-analytics-purview-datamap/src/main/resources/META-INF/azure-analytics-purview-datamap_apiview_properties.json
  sdk/translation/azure-ai-translation-text/src/main/resources/META-INF/azure-ai-translation-text_apiview_properties.json
Labels: DPG

#39751 Set a default time on CloudEvent
  sdk/core/azure-core/src/main/java/com/azure/core/models/CloudEvent.java
  sdk/core/azure-core/src/test/java/com/azure/core/models/CloudEventTests.java
Labels: Azure.Core

#39647 Add storage endpoint to AzureEnvironment
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/AzureEnvironment.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/AzureEnvironmentTests.java
Labels: Azure.Core, customer-reported, Community Contribution

#39782 Increment versions for postgresqlflexibleserver releases
  eng/versioning/version_client.txt
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/CHANGELOG.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/pom.xml
Labels: Mgmt

#39788 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: Mgmt

#39771 Increment versions for communication releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/pom.xml
Labels: Storage, Communication - Network Traversal

#39620 Fixing bulk save implementation to populate audit data.
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/AuditableEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AuditableIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveAuditableIT.java
Labels: azure-spring

#39790 Sync eng/common directory with azure-sdk-tools for PR 8117
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#39750 Setting v2 stack as the default for Session "Processor Client" and "Reactor Receiver Client"
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Service Bus

#39655 STG94 Authorization Error Detail
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/StorageError.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#39792 Update Powershell Script and Enable Http for Stress Test Uploads
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/BlobScenarioBase.java
  sdk/storage/azure-storage-blob-stress/src/main/java/com/azure/storage/blob/stress/PageBlobScenarioBase.java
  sdk/storage/azure-storage-file-datalake-stress/src/main/java/com/azure/storage/file/datalake/stress/DataLakeScenarioBase.java
  sdk/storage/azure-storage-file-share-stress/src/main/java/com/azure/storage/file/share/stress/ShareScenarioBase.java
Labels: Storage, EngSys

#39697 Miscellaneous updates for Client Core libraries
  sdk/client-core/core/src/main/java/io/clientcore/core/annotation/ReturnType.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/RestProxy.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/client/DefaultHttpClient.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/HttpRequest.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/HttpResponse.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/pipeline/HttpLoggingPolicy.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyBase.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/client-core/core/src/main/java/io/clientcore/core/util/ServerSentEventUtils.java
  sdk/client-core/core/src/main/java/io/clientcore/core/util/binarydata/BinaryData.java
  sdk/client-core/core/src/main/java/module-info.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/client-core/core/src/test/java/io/clientcore/core/http/client/DefaultHttpClientTest.java
  sdk/client-core/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/client-core/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/client-core/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/client-core/http-jdk-httpclient/src/main/java/io/clientcore/http/jdk/httpclient/JdkHttpClient.java
  sdk/client-core/http-jdk-httpclient/src/main/java/io/clientcore/http/jdk/httpclient/implementation/JdkHttpResponse.java
  sdk/client-core/http-jdk-httpclient/src/main/java/module-info.java
  sdk/client-core/http-jdk-httpclient/src/test/java/io/clientcore/http/jdk/httpclient/JdkHttpClientTests.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClient.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/AuthorizationChallengeHandler.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/OkHttpResponse.java
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticator.java
  sdk/client-core/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticatorTests.java
Labels: Client, client-core

#39796 Eg new namespace package
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/README.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/assets.json
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/customization/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/customization/src/main/java/EventGridCustomization.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridClient.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridClientBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridServiceVersion.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/EventGridClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/models/CloudEvent.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/models/PublishResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/models/package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/AcknowledgeOptions.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/AcknowledgeResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/BrokerProperties.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/FailedLockToken.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReceiveDetails.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReceiveResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RejectOptions.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RejectResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReleaseDelay.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReleaseOptions.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReleaseResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RenewCloudEventLocksResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RenewLockOptions.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/module-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/resources/azure-messaging-eventgrid-namespaces.properties
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/samples/java/com/azure/messaging/eventgrid/namespaces/ReadmeSamples.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/test/java/com/azure/messaging/eventgrid/namespaces/EventGridClientTestBase.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/test/java/com/azure/messaging/eventgrid/namespaces/EventGridClientTests.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
  sdk/eventgrid/ci.yml
  sdk/eventgrid/pom.xml
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#39803 Prepare beta release
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
Labels: Event Grid

#39805 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
Labels: Event Grid

#39520 tsp, re-generate openai SDK, targeting latest spec main branch
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/resources/META-INF/azure-ai-openai_apiview_properties.json
  sdk/openai/ci.yml
Labels: OpenAI

#39776 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Storage, Mgmt, common, azure-spring, graalvm

#39791 Add customization to update audience of the metrics client
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/AzureMonitorMetricBatchBuilder.java
  sdk/monitor/azure-monitor-query/swagger/README.md
  sdk/monitor/azure-monitor-query/swagger/src/main/java/LogsCustomization.java
  sdk/monitor/azure-monitor-query/swagger/src/main/java/MetricsClientCustomization.java
  sdk/monitor/azure-monitor-query/swagger/src/main/java/MetricsCustomization.java
  sdk/monitor/azure-monitor-query/swagger/src/main/java/MetricsDefinitionsCustomization.java
  sdk/monitor/azure-monitor-query/swagger/src/main/java/MetricsNamespacesCustomization.java
Labels: Monitor

#39812 [Automation] Generate SDK based on TypeSpec 0.15.12
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/azure-communication-jobrouter/src/main/resources/META-INF/azure-communication-jobrouter_apiview_properties.json
  sdk/communication/azure-communication-messages/src/main/resources/META-INF/azure-communication-messages_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/devcenter/azure-developer-devcenter/src/main/resources/META-INF/azure-developer-devcenter_apiview_properties.json
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/resources/META-INF/azure-ai-documentintelligence_apiview_properties.json
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/PublishResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/resources/META-INF/azure-messaging-eventgrid-namespaces_apiview_properties.json
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/resources/META-INF/azure-health-insights-radiologyinsights_apiview_properties.json
  sdk/openai/azure-ai-openai-assistants/src/main/resources/META-INF/azure-ai-openai-assistants_apiview_properties.json
  sdk/purview/azure-analytics-purview-datamap/src/main/resources/META-INF/azure-analytics-purview-datamap_apiview_properties.json
  sdk/translation/azure-ai-translation-text/src/main/resources/META-INF/azure-ai-translation-text_apiview_properties.json
Labels: DPG

#39818 Sync .github/workflows directory with azure-sdk-tools for PR 8131
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#39811 Merging PR39620 into SB3
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/AuditableEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AuditableIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveAuditableIT.java
Labels: azure-spring

#39689 Make Blackbird & Afterburner be dynamically added to the ObjectMapper
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/module-info.java
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/UtilsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/module-info.java
Labels: Cosmos, customer-reported, Community Contribution

#39823 Fix RuleDescription name in SB Admin
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Labels: Service Bus

#39822 updateChangeLog
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#39828 Fix spring compatibility tests
  sdk/spring/pipeline/compatibility-tests-job.yml
Labels: azure-spring

#39838 SB Readme: include details of connection IO-thread bottleneck
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#39846 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#39827 MiscellaneousChanges
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosClientStore.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosWriterBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/ItemWriteStrategy.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/StructToJsonMap.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThread.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConnectContainer.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestSuiteBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/sink/idStrategy/TemplateStrategyTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThreadTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/resources/kafka-emulator-testng.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/resources/kafka-integration-testng.xml
  sdk/cosmos/kafka-cosmos-matrix.json
  sdk/cosmos/kafka-testcontainer-matrix.json
  sdk/cosmos/kafka.yml
  sdk/cosmos/test-resources/kafka-testcontainer/test-resources.json
  sdk/cosmos/tests.yml
Labels: Cosmos

#39851 Increment versions for devcenter releases
  eng/versioning/version_client.txt
  sdk/devcenter/azure-resourcemanager-devcenter/CHANGELOG.md
  sdk/devcenter/azure-resourcemanager-devcenter/pom.xml
Labels: Mgmt

#39854 Increment versions for selfhelp releases
  eng/versioning/version_client.txt
  sdk/selfhelp/azure-resourcemanager-selfhelp/CHANGELOG.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/pom.xml
Labels: Mgmt

#39856 Increment versions for standbypool releases
  eng/versioning/version_client.txt
  sdk/standbypool/azure-resourcemanager-standbypool/CHANGELOG.md
  sdk/standbypool/azure-resourcemanager-standbypool/pom.xml
Labels: Mgmt

#39836 Regen Dev Center from latest main
  sdk/devcenter/azure-developer-devcenter/src/main/java/module-info.java
Labels: DevCenter
