Repository Azure/azure-sdk-for-java, pull requests merged in 2024-07, with the labels that each got.

#40947 Update version in the OTel exporter readme
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetry

#40901 Improve the connection string management
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorAutoConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/PropertiesPostProcessor.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/WrongConnectionStringException.java
Labels: azure-spring

#40928 Adding sub-partitioning support to azure-spring-data-cosmos (#38365)
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/README.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/mapping/Container.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/spring/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/HierarchicalEntitySample.java
  sdk/spring/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/HierarchicalPartitionKeyEntitySample.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/HierarchicalPartitionKeyEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/CompositeIndexIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/CustomerRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/EtagIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/HierarchicalPartitionKeyRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PersonCrossPartitionIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveHierarchicalPartitionKeyRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/StudentRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/TeacherRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/UniqueKeyPolicyIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/HierarchicalPartitionKeyRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveHierarchicalPartitionKeyRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformationUnitTest.java
Labels: azure-spring

#40463 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#40943 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, azure-spring, OpenTelemetry, clientcore

#40599 Fix request.success
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MetricDataMapper.java
Labels: OpenTelemetry

#40945 mgmt, update the examples in live test doc
  sdk/resourcemanager/docs/HOW_TO_ADD_LIVE_TESTS.md
Labels: Mgmt

#40969 Increment versions for mongocluster releases
  eng/versioning/version_client.txt
  sdk/mongocluster/azure-resourcemanager-mongocluster/CHANGELOG.md
  sdk/mongocluster/azure-resourcemanager-mongocluster/pom.xml
Labels: Mgmt

#40975 Add Maven central link for Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Labels: azure-spring

#40922 Improve connection string message
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/configuration/ConnectionStringBuilder.java
Labels: OpenTelemetry

#40793 Azure Monitor Query: Auth update for tests
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsClientTestBase.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/TestUtil.java
  sdk/monitor/test-resources.json
  sdk/monitor/tests.yml
Labels: Monitor

#40976 [OpenAI] Prepare for release 1.0.0-beta.10
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/models/ChatRequestMessageUnitTests.java
Labels: OpenAI

#40964 Added CosmosRequestContext
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/OperationPoliciesTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosBulkExecutionOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosQueryRequestOptionsBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosQueryRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/OverridableRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ReadOnlyRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosOperationDetails.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosRequestOptions.java
Labels: Cosmos

#40981 release4.62.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#40972 mgmt, update test on ARM SDKs (Missing parts)
  sdk/iothub/azure-resourcemanager-iothub/src/test/java/com/azure/resourcemanager/iothub/IotHubManagerTests.java
  sdk/iothub/test-resources.bicep
  sdk/iothub/tests.mgmt.yml
  sdk/loadtesting/azure-resourcemanager-loadtesting/src/test/java/com/azure/resourcemanager/loadtesting/TestOrchestratorTests.java
  sdk/loadtesting/test-resources.bicep
  sdk/loadtesting/tests.mgmt.yml
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/test/java/com/azure/resourcemanager/networkanalytics/NetworkAnalyticsManagerTests.java
  sdk/networkanalytics/test-resources.bicep
  sdk/networkanalytics/tests.mgmt.yml
Labels: Mgmt, Load Testing

#40988 [BOM-June] Prepare for BOM 1.2.25 release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#40992 [Automation] Generate SDK based on TypeSpec 0.17.1
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/BatchClientImpl.java
  sdk/batch/azure-compute-batch/tsp-location.yaml
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAsyncClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClient.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/implementation/JobRouterClientImpl.java
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/MessageTemplateClientBuilder.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/NotificationMessagesAsyncClient.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/NotificationMessagesClient.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/NotificationMessagesClientBuilder.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/implementation/MessageTemplateClientImpl.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/implementation/NotificationMessagesClientImpl.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/MessageTemplate.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/MessageTemplateBindings.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/MessageTemplateItem.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/MessageTemplateValue.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/NotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/module-info.java
  sdk/communication/azure-communication-messages/src/main/resources/META-INF/azure-communication-messages_apiview_properties.json
  sdk/communication/azure-communication-messages/tsp-location.yaml
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
  sdk/devcenter/azure-developer-devcenter/tsp-location.yaml
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/samples/java/com/azure/resourcemanager/deviceregistry/generated/AssetsCreateOrReplaceSamples.java
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/implementation/FaceClientImpl.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/implementation/FaceSessionClientImpl.java
  sdk/face/azure-ai-vision-face/tsp-location.yaml
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/DiscoveryAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/DiscoveryClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/GlossaryAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/GlossaryClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/TypeDefinitionAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/TypeDefinitionClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/DiscoveriesImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/EntitiesImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/GlossariesImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/TypeDefinitionsImpl.java
  sdk/purview/azure-analytics-purview-datamap/tsp-location.yaml
  sdk/purview/ci.yml
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/implementation/SingleDocumentTranslationClientImpl.java
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
  sdk/translation/azure-ai-translation-text/tsp-location.yaml
Labels: DPG

#40568 Increment versions for batch releases
  eng/versioning/version_client.txt
  sdk/batch/azure-compute-batch/CHANGELOG.md
  sdk/batch/azure-compute-batch/pom.xml
Labels: Batch

#40944 Provide an option to omit username for redis passwordless
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/redis/lettuce/AzureRedisCredentials.java
Labels: azure-spring

#40994 Update changelog with missing change
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#40985 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#40960 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#40997 Add Maven central link to the OTel exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetry

#40560 Align Key Vault JCA authentication with other KV libraries
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/certificates/KeyVaultCertificates.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/HttpUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AccessTokenUtilTest.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/implementation/KeyVaultClientTest.java
Labels: KeyVault, Client

#40935 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#40984 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#40933 Azure Monitor Ingestion: Auth update for tests
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionTestBase.java
Labels: Monitor

#41004 add CHANGELOG 5.12.0-beta.1
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#41003 add CHANGELOG 5.12.0-beta.1
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/passwordless/data/jedis/AzureRedisAutoConfigurationTestContainerTest.java
Labels: azure-spring

#41005 [Automation] Generate Fluent Lite from Swagger oracle#package-2023-09-01
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/CHANGELOG.md
Labels: Mgmt - Track 2

#40986 mgmt, hybrid, use DefaultAzureCredential
  sdk/resourcemanagerhybrid/azure-resourcemanager-authorization/src/test/java/com/azure/resourcemanager/authorization/ServicePrincipalsTests.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestBase.java
  sdk/resourcemanagerhybrid/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/utils/AuthFile.java
Labels: Mgmt

#41009 Increment versions for oracledatabase releases
  eng/versioning/version_client.txt
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/CHANGELOG.md
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/pom.xml
Labels: Mgmt

#40982 Fix SyncRestProxy when the response is an InputStream
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SyncRestProxy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/MockHttpResponse.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/http/rest/SyncRestProxyTests.java
Labels: Azure.Core

#41014 mgmt, update doc on thread pool
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/ThreadPoolGuideSamples.java
  sdk/resourcemanager/docs/THREAD_POOL_AND_CONNECTION_POOL.md
Labels: Mgmt

#41020 Fix logging statement
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressResolver.java
Labels: Cosmos, customer-reported, Community Contribution

#41002 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#40977 Small Change to isPauseOnStart
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStateResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingUnitTestBase.java
Labels: Communication - Call Automation

#41017 [AppConfig] Fixed cspell errors
  .vscode/cspell.json
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ConfigurationClientJavaDocCodeSnippets.java
Labels: App Configuration

#40980 Fix spring autoconfigure test
  sdk/spring/ci.yml
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/passwordless/data/jedis/AzureRedisAutoConfigurationTestContainerTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/testcontainers.properties
  sdk/spring/tests.yml
Labels: azure-spring

#41044 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#41046 Revert "Fix spring autoconfigure test"
  sdk/spring/ci.yml
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/passwordless/data/jedis/AzureRedisAutoConfigurationTestContainerTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/resources/testcontainers.properties
  sdk/spring/tests.yml
Labels: azure-spring

#41028 Azure Monitor: Use pipelines credential for live tests
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionTestBase.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/TestUtil.java
Labels: Monitor

#40834 Increment versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, Mgmt, common, Schema Registry, azure-spring, graalvm, OpenTelemetry

#41047 [OpenAI[ Added withResponse overload method for ImageGeneration
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
Labels: Client, OpenAI

#40355 Fix Azure AI Search Sample Issues
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchIndexClient.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/SearchJavaDocCodeSnippets.java
Labels: Search

#40952 Migrate azure-communication-common to azure-json.
  sdk/communication/azure-communication-common/src/main/java/module-info.java
Labels: Communication - Common

#41006 Sync eng/common directory with azure-sdk-tools for PR 8558
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#41032 migrate azure messaging servicebus tests to use token auth.
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxyReceiveTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxySelectorTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ProxySendTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusClientBuilderTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusMixClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusNonFederatedIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionManagerIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientIntegrationTest.java
  sdk/servicebus/test-resources.json
  sdk/servicebus/tests.yml
Labels: Service Bus

#40925 Minor cleanup of azure-monitor-ingestion
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionServiceVersion.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Batcher.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Utils.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/models/LogsUploadOptions.java
Labels: Monitor

#40832 Add link to Azure CA details outlining baseline Java support
  sdk/core/azure-core-amqp-experimental/README.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-jackson/README.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core/README.md
Labels: Azure.Core, OpenTelemetry, Azure.Core.AMQP

#40775 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#41064 Allow DefaultLogger to integrate better with newer versions of SLF4J
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/logging/DefaultLogger.java
Labels: Azure.Core

#41042 Added metrics and tracing for ReadMany operations
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/NonStreamingOrderByQueryVectorSearchTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFlux.java
Labels: Cosmos

#41067 [Event Hubs Processor] Like Credentials also copy connection string properties when cloning the Event Hubs builder
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClientBuilder.java
Labels: Event Hubs

#41066 Update many READMEs with Java 8 Azure CA information
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/clientcore/core-json/README.md
  sdk/clientcore/core/README.md
  sdk/clientcore/http-okhttp3/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/README.md
  sdk/eventgrid/azure-messaging-eventgrid/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-extensions/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/search/azure-search-documents/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
  sdk/tables/azure-data-tables/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, App Configuration, Azure.Identity, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, azure-spring, Cognitive - Metrics Advisor, clientcore, Document Intelligence

#40819 Migrate azure security confidential ledger tests to use token auth.
  sdk/confidentialledger/azure-security-confidentialledger/assets.json
  sdk/confidentialledger/azure-security-confidentialledger/src/test/java/com/azure/security/confidentialledger/ConfidentialLedgerClientTestBase.java
  sdk/confidentialledger/azure-security-confidentialledger/test-resources.json
  sdk/confidentialledger/azure-security-confidentialledger/tests.yml
Labels: Confidential Ledger

#41069 STG95 Versions and recording changes
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#41048 Azure Monitor Metrics: Enable sovereign cloud support
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsClientBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metricsbatch/AzureMonitorMetricBatchBuilder.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsAudience.java
  sdk/monitor/azure-monitor-query/src/samples/java/com/azure/monitor/query/ReadmeSamples.java
  sdk/monitor/azure-monitor-query/swagger/src/main/java/MetricsClientCustomization.java
Labels: Monitor

#41080 [Automation] Generate SDK based on TypeSpec 0.18.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/azure-compute-batch/tsp-location.yaml
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/NotificationMessagesAsyncClient.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/NotificationMessagesClient.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/implementation/NotificationMessagesClientImpl.java
  sdk/communication/azure-communication-messages/tsp-location.yaml
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
  sdk/devcenter/azure-developer-devcenter/tsp-location.yaml
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/module-info.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/module-info.java
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridReceiverAsyncClient.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridReceiverClient.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/implementation/EventGridReceiverClientImpl.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/resources/META-INF/azure-messaging-eventgrid-namespaces_apiview_properties.json
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/implementation/FaceClientImpl.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/implementation/FaceSessionClientImpl.java
  sdk/face/azure-ai-vision-face/src/main/resources/META-INF/azure-ai-vision-face_apiview_properties.json
  sdk/face/azure-ai-vision-face/tsp-location.yaml
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/src/main/java/module-info.java
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/src/test/java/com/azure/resourcemanager/informaticadatamanagement/generated/ServerlessRuntimesStartFailedServerlessRuntimeWitMockTests.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/main/java/module-info.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/resources/META-INF/azure-ai-openai-assistants_apiview_properties.json
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/GlossaryAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/GlossaryClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/RelationshipAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/RelationshipClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/TypeDefinitionAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/TypeDefinitionClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/EntitiesImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/GlossariesImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/RelationshipsImpl.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/implementation/TypeDefinitionsImpl.java
  sdk/purview/azure-analytics-purview-datamap/tsp-location.yaml
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/module-info.java
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
  sdk/translation/azure-ai-translation-text/tsp-location.yaml
Labels: DPG

#41076 Update CHANGELOG ahead of beta release
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
Labels: KeyVault, Client, azure-spring-jca

#41084 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#40936 migrate azure-communication-chat to azure-json
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatAsyncClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatThreadsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AddChatParticipantsOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/AddChatParticipantsResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatAttachment.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatAttachmentType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessage.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageContent.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceipt.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessageReadReceiptsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatMessagesCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipantsCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadItem.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadsItemCollection.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationCloudEnvironmentModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationError.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationErrorResponse.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationIdentifierModelKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CommunicationUserIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/IndividualStatusResponse.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/MicrosoftTeamsAppIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/MicrosoftTeamsUserIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/MultiStatusResponse.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/PhoneNumberIdentifierModel.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/SendReadReceiptRequest.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/AddChatParticipantsResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatAttachment.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatAttachmentType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatError.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessage.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageContent.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageReadReceipt.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageType.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadItem.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CreateChatThreadResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/SendChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/SendChatMessageResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/TypingNotificationOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatMessageOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatResponseMocker.java
  sdk/communication/azure-communication-chat/swagger/README.md
Labels: Communication - Chat

#41068 Cosmos - live test robustness improvements
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Labels: Cosmos

#41063 Updated subscription mapping in call connection properties.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/MediaStreamingSubscriptionConstructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/TranscriptionSubscriptionConstructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallConnectionProperties.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingSubscription.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionSubscription.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/CallTransferFailed.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/StreamingDataParserUnitTests.java
Labels: Communication - Call Automation

#41097 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#41045 Regions Contacted on Multi Region Diagnostics Fix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
Labels: Cosmos

#41031 Support SNI authentication from EnvironmentCredential/DAC
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
Labels: Azure.Core, Azure.Identity

#41102 [OpenAI] Fix GetChatCompletionsStreamAsyncSample
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/usage/GetChatCompletionsStreamAsyncSample.java
Labels: Client, OpenAI

#41038 Add Refresh On Support
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core/src/main/java/com/azure/core/credential/AccessToken.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MSIToken.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/MsalToken.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/MSITokenTests.java
Labels: Event Hubs, Azure.Core, Azure.Identity

#41087 automation, rearrange folder
  .github/CODEOWNERS
  eng/automation/api-specs.yaml
  eng/automation/changelog.py
  eng/automation/changelog/pom.xml
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/Main.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/ChangeLog.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/changelog/DefinitionStageChangeLog.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/AllMethods.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/ClassName.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/MethodName.java
  eng/automation/changelog/src/main/java/com/azure/resourcemanager/tools/changelog/utils/Namespaces.java
  eng/automation/generate.py
  eng/automation/generate_data.py
  eng/automation/generate_utils.py
  eng/automation/generation.yml
  eng/automation/generation_data.yml
  eng/automation/init.sh
  eng/automation/install_instruction.py
  eng/automation/parameters.py
  eng/automation/requirement.txt
  eng/automation/sdk_generate.py
  eng/automation/sdk_init.sh
  eng/automation/swagger_to_sdk_config.json
  eng/automation/typespec_utils.py
  eng/automation/utils.py
  eng/codegen_to_sdk_config.json
  sdk/resourcemanager/autocent.js
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Labels: Mgmt

#41111 Update spring-reference and sync changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-reference.yml
Labels: azure-spring

#41096 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#41125 Fixed live MR Auth tests by using a Remote Rendering account instead of a Spatial Anchor.
  sdk/mixedreality/test-resources.json
Labels: Client, test-reliability, Mixed Reality, Mixed Reality Authentication

#41117 Prepare for azure-security-keyvault-jca 2.8.2 release
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/redis/passwordless/data/jedis/AzureRedisAutoConfigurationTestContainerTest.java
Labels: KeyVault, azure-spring

#40835 Keyword Identifier Request Option
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/OperationPoliciesTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosBulkExecutionOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosQueryRequestOptionsBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ReadOnlyRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBatchRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosReadManyRequestOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosRequestOptions.java
Labels: Cosmos

#41134 fix pipeline for jca release
  eng/pipelines/templates/jobs/build-validate-pom.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.versions.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/native.live.tests.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/PlatformMatrixFAQs.md
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/native-platform-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/build-and-test-native.yml
  eng/pipelines/templates/steps/build-and-test.yml
  eng/pipelines/templates/steps/download-credscan-suppressions.yml
  eng/pipelines/templates/steps/fetch-package-list.yml
  eng/pipelines/templates/steps/generate-project-list-and-cache-maven-repository.yml
  eng/pipelines/templates/steps/http-fault-injector.yml
  eng/pipelines/templates/steps/initialize-test-environment.yml
  eng/pipelines/templates/steps/install-latest-jdk.yml
  eng/pipelines/templates/steps/install-rex-validation-tool.yml
  eng/pipelines/templates/steps/java-publishing.yml
  eng/pipelines/templates/steps/mvn-linux-repository-settings.yml
  eng/pipelines/templates/steps/post-job-cleanup.yml
  eng/pipelines/templates/steps/publish-http-fault-injector-logs.yml
  eng/pipelines/templates/steps/retain-heap-dump-hprofs.yml
  eng/pipelines/templates/steps/retain-test-logs.yml
  eng/pipelines/templates/steps/run-and-validate-linting.yml
  eng/pipelines/templates/steps/sparse-checkout-repo-initialized.yml
  eng/pipelines/templates/steps/upload-repository-on-failure.yml
  eng/pipelines/templates/variables/globals.yml
  eng/pipelines/templates/variables/image.yml
  sdk/keyvault/ci.yml
  sdk/keyvault/platform-matrix.json
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Labels: KeyVault

#41127 Fix CancelWorkOnEmptyWindowTruncation test
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/WindowedSubscriberFluxWindowTest.java
Labels: Azure.Core.AMQP

#41136 [ACS][CallingServer] Disabling all CallingServer test as it is in the process of decomissioning
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAutomationAsyncClientUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAutomationClientBuilderUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallMediaUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CallRecordingUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/CommunicationIdentifierConverterUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DeleteLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentAsyncUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentLiveTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/DownloadContentUnitTests.java
  sdk/communication/azure-communication-callingserver/src/test/java/com/azure/communication/callingserver/EventHandlerUnitTests.java
Labels: Communication - Calling Server

#41095 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#40838 Migrate DocumentIntelligence tests
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentAdministrationClientTestBase.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientTestBase.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationAsyncClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/DocumentModelAdministrationClientTest.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/TestUtils.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/test/java/com/azure/ai/documentintelligence/generated/DocumentIntelligenceClientTestBase.java
  sdk/documentintelligence/test-resources.json
  sdk/documentintelligence/tests.native.yml
  sdk/documentintelligence/tests.yml
Labels: Document Intelligence

#41108 Added optional id validation to prevent documents with invalid chars in id property to be created
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionProcessor.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/EncryptionUtils.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemIdEncodingTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/InternalObjectNodeTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/InternalObjectNode.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
Labels: Cosmos

#41120 Prepare core libraries for July 2024 Releases
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/test/java/com/azure/core/credential/TokenCacheTests.java
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/translation/azure-ai-translation-text/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP, Text Translation

#41146 Increment versions for informaticadatamanagement releases
  eng/versioning/version_client.txt
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/CHANGELOG.md
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/pom.xml
Labels: Mgmt

#41089 Add additional try/catch and logs to the OTel exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/quickpulse/QuickPulseCoordinator.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/quickpulse/QuickPulseDataSender.java
Labels: OpenTelemetry

#41139 Fix serialization bug
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsEmailDeliveryReportReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsEmailEngagementTrackingReportReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#41137 Remove duplication and clarify doc
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
Labels: Azure.Identity

#41103 Change detection of PEM/FPX certificates
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/CertificateUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientTests.java
Labels: Azure.Identity

#41123 Queues Samples Issue Fix
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/AsyncSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/MessageSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueExceptionSamples.java
  sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceSamples.java
Labels: Storage

#41153 Clean up Event Hubs tests for migration
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubClientMetadataIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubMessageSerializerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/LongRunningTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxyIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySelectorTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/ProxySendTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TracingIntegrationTests.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/CBSChannelTest.java
Labels: Event Hubs

#40930 Remove usages of JsonIgnore annotation from custom models in FormRecognizer
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentField.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/documentanalysis/models/DocumentLine.java
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
Labels: Cognitive - Form Recognizer

#41124 Update docs for uses of AuthenticationRecord
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredential.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
Labels: Azure.Identity

#41030 Fix PowershellManager issue
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/PowershellManager.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/PowershellManagerTests.java
Labels: Azure.Identity

#41140 Fix some aka.ms links
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/servicebus/microsoft-azure-servicebus/README.md
Labels: KeyVault, Service Bus, Track 1, OpenTelemetry

#41151 Prepare Search for July 2024 GA
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#41157 update msal4j dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
Labels: Event Hubs, Azure.Identity

#41150 Update spring monitor readme
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Labels: azure-spring

#40907 Migrate Form recognizer tests
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormRecognizerClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientBuilderTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/FormTrainingClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/DocumentAnalysisClientTestBase.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/TestUtils.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdminClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationAsyncClientTest.java
  sdk/formrecognizer/azure-ai-formrecognizer/src/test/java/com/azure/ai/formrecognizer/documentanalysis/administration/DocumentModelAdministrationClientTestBase.java
  sdk/formrecognizer/test-resources.json
  sdk/formrecognizer/tests.native.yml
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#41158 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#40818 updating alpha version
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationServiceVersion.java
Labels: Communication - Call Automation

#41172 Fix DLQ reason and description not work
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/main/java/com/azure/spring/cloud/stream/binder/servicebus/implementation/ServiceBusMessageChannelBinder.java
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/src/test/java/com/azure/spring/cloud/stream/binder/servicebus/implementation/ServiceBusMessageChannelBinderTest.java
Labels: azure-spring

#40525 Prototype parallelizing unit test group
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
Labels: Cosmos

#41182 Update azure-search-documents CHANGELOG for release
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#41187 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#41104 Adding support for encoding messages with Base64
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
Labels: Storage

#41171 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#40774 Migrate Tables tests
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientBuilderTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientBuilderTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTestBase.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TestUtils.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/implementation/AzureTableImplTest.java
  sdk/tables/tests.yml
Labels: Tables

#41109 Update credentials used in Load Testing tests
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestingClientTestBase.java
Labels: Client, Load Testing

#41105 Update credentials used in Device Update tests
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceManagementClientSyncStackTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceManagementClientTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceUpdateClientSyncStackTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/DeviceUpdateClientTests.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/TestData.java
  sdk/deviceupdate/azure-iot-deviceupdate/src/test/java/com/azure/iot/deviceupdate/TestUtils.java
Labels: Client, DeviceUpdate, Device Update

#41036 Migrate Digital Twins tests to `TokenCredential` auth
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/resources/prerequisite/setup.ps1
  sdk/digitaltwins/tests.yml
Labels: Client, Digital Twins

#41162 Add support for zoneRedundant and minimumTlsVersion to EventHubNamespace interface
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/assets.json
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/java/com/azure/resourcemanager/eventhubs/implementation/EventHubNamespaceImpl.java
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/java/com/azure/resourcemanager/eventhubs/models/EventHubNamespace.java
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/test/java/com/azure/resourcemanager/eventhubs/EventHubTests.java
Labels: Mgmt

#41166 Fix issue where parsing an ISO8601 datetime would fail if the offset didn't use a colon
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/CoreUtilsTests.java
Labels: Azure.Core

#41190 No Longer Decoding URL-Encoded Blob Name for EncryptedBlobClient and only Storing Original Name
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilder.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderTests.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
Labels: Storage

#41156 Sync eng/common directory with azure-sdk-tools for PR 8602
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#41179 Migrates SDKs to Federated Auth
  sdk/personalizer/tests.yml
  sdk/remoterendering/tests.yml
  sdk/translation/azure-ai-translation-text/src/test/java/com/azure/ai/translation/text/TextTranslationClientBase.java
Labels: Cognitive - Personalizer, Remote Rendering, Text Translation

#41184 STG94 GA Release 2024-07-17
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#41181 Public Access Live Test Failures
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/AccessPolicyAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/AccessPolicyTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
Labels: Storage

#41133 Using federated auth for ACS
  sdk/communication/azure-communication-callautomation/tests.yml
  sdk/communication/azure-communication-callingserver/tests.yml
  sdk/communication/azure-communication-chat/tests.yml
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/azure-communication-jobrouter/tests.yml
  sdk/communication/azure-communication-rooms/tests.yml
  sdk/communication/communication-tests-template.yml
  sdk/communication/test-resources/test-resources.json
Labels: Communication - Identity, Communication - Rooms

#41206 Sync monitor modules
  sdk/spring/pom.xml
Labels: azure-spring

#41016 [AppConfig] Fixed bugs where FeatureFlag prefix should always has prefix when call setKey()
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/FeatureFlagConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/FeatureFlagSettingUnitTest.java
Labels: App Configuration

#41216 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#41180 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#41115 Update credentials used in Quantum Jobs tests
  sdk/quantum/azure-quantum-jobs/src/test/java/com/azure/quantum/jobs/QuantumClientTestBase.java
Labels: Client, Quantum

#40906 Migrate Attestation Tests
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/TestUtil.java
  sdk/attestation/tests.yml
Labels: Attestation

#41228 Increment versions for hybridcompute releases
  eng/versioning/version_client.txt
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/pom.xml
Labels: Mgmt

#41229 [Automation] Generate SDK based on TypeSpec 0.18.2
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/AgentProfile.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/ResourcePredictions.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/Stateful.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/StatelessAgentProfile.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/AgentProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/AutomaticResourcePredictionsProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/AzureDevOpsOrganizationProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/AzureDevOpsPermissionProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/DataDiskTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/DevOpsAzureSkuTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/GitHubOrganizationProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/GitHubOrganizationTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ImageVersionInnerTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ImageVersionListResultTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ImageVersionPropertiesTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ImageVersionsListByImageMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ManagedServiceIdentityTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/NetworkProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/OperationsListMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/OrganizationTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PagedQuotaTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolImageTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolInnerTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolListResultTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolPropertiesTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolUpdatePropertiesTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolUpdateTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsCreateOrUpdateMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsGetByResourceGroupWithResponseMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsListByResourceGroupMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsListMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/QuotaInnerTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceDetailsListByPoolMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceDetailsObjectInnerTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceDetailsObjectListResultTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceDetailsObjectPropertiesTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourcePredictionsTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceSkuCapabilitiesTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceSkuLocationInfoTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceSkuRestrictionInfoTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/ResourceSkuZoneDetailsTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/StatefulTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/StatelessAgentProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/StorageProfileTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/SubscriptionUsagesUsagesMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/UserAssignedIdentityTests.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
Labels: DPG

#41221 Use AzurePipelinesCredential in spring live test
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/ApplicationConfiguration.java
  sdk/spring/spring-integration-azure-core/src/test/java/com/azure/spring/integration/core/implementation/instrumentation/AbstractProcessorInstrumentationTests.java
Labels: azure-spring

#41192 openai, regen based on new spec commit ID
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#41227 Fix cosmos tests pipeline failure
  sdk/spring/pipeline/cosmos-integration-matrix.json
Labels: azure-spring

#41176 Add Testcontainers Service Connection support for Cosmos, Blob and Queue
  .vscode/cspell.json
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/CHANGELOG.md
  sdk/spring/compatibility-tests.yml
  sdk/spring/pom.xml
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/CosmosClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosConnectionDetails.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/AzureCosmosPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/ConfigurationWithConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/properties/ConfigurationWithoutConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/ConditionalOnDatabaseConfigured.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobProtocolResolverConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobResourceAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/BlobClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/properties/AzureStorageBlobConnectionDetails.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/properties/AzureStorageBlobPropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/properties/ConfigurationWithConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/properties/ConfigurationWithoutConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/AzureStorageQueueAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/QueueClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/properties/AzureStorageQueueConnectionDetails.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/properties/AzureStorageQueuePropertiesConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/properties/ConfigurationWithConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/properties/ConfigurationWithoutConnectionDetailsBean.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/AzureCosmosAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/cosmos/CustomAzureCosmosConnectionDetails.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/data/cosmos/CosmosDataAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/AzureStorageAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/blob/AzureStorageBlobResourceAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/AzureStorageQueueAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-testcontainers/CHANGELOG.md
  sdk/spring/spring-cloud-azure-testcontainers/README.md
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/src/main/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/cosmos/CosmosContainerConnectionDetailsFactory.java
  sdk/spring/spring-cloud-azure-testcontainers/src/main/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/storage/StorageBlobContainerConnectionDetailsFactory.java
  sdk/spring/spring-cloud-azure-testcontainers/src/main/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/storage/StorageQueueContainerConnectionDetailsFactory.java
  sdk/spring/spring-cloud-azure-testcontainers/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-testcontainers/src/test/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/cosmos/CosmosContainerConnectionDetailsFactoryTests.java
  sdk/spring/spring-cloud-azure-testcontainers/src/test/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/storage/StorageBlobContainerConnectionDetailsFactoryTests.java
  sdk/spring/spring-cloud-azure-testcontainers/src/test/java/com/azure/spring/cloud/testcontainers/implementation/service/connection/storage/StorageQueueContainerConnectionDetailsFactoryTests.java
Labels: azure-spring

#41200 Migrate azure-ai-anomalydetector to stream-style
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/pom.xml
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorClientBuilder.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/AnomalyDetectorServiceVersion.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/MultivariateAsyncClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/MultivariateClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/UnivariateAsyncClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/UnivariateClient.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/AnomalyDetectorClientImpl.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/MultivariatesImpl.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/UnivariatesImpl.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/implementation/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AlignMode.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AlignPolicy.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyDetectionModel.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyInterpretation.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyState.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/AnomalyValue.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/CorrelationChanges.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/DataSchema.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/DiagnosticsInfo.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ErrorResponse.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/FillNAMethod.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ImputeMode.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ModelInfo.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ModelState.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/ModelStatus.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateBatchDetectionOptions.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateBatchDetectionResultSummary.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateBatchDetectionStatus.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateLastDetectionOptions.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/MultivariateLastDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/TimeGranularity.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/TimeSeriesPoint.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/UnivariateChangePointDetectionOptions.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/UnivariateChangePointDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/UnivariateDetectionOptions.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/UnivariateEntireDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/UnivariateLastDetectionResult.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/VariableState.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/VariableValues.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/models/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/com/azure/ai/anomalydetector/package-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/java/module-info.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/main/resources/META-INF/azure-ai-anomalydetector_apiview_properties.json
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectAnomaliesEntireSeries.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectAnomaliesLastPoint.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/DetectChangePoints.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/MultivariateSample.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/ReadmeSamples.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/samples/java/com/azure/ai/anomalydetector/SampleUtils.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/AnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/MultivariateAnomalyDetectorClientTest.java
  sdk/anomalydetector/azure-ai-anomalydetector/src/test/java/com/azure/ai/anomalydetector/generated/AnomalyDetectorClientTestBase.java
  sdk/anomalydetector/azure-ai-anomalydetector/tsp-location.yaml
Labels: Cognitive - Anomaly Detector

#41235 Azure Monitor Query: Prepare for July release
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#41232 Increment versions for dataprotection releases
  eng/versioning/version_client.txt
  sdk/dataprotection/azure-resourcemanager-dataprotection/CHANGELOG.md
  sdk/dataprotection/azure-resourcemanager-dataprotection/pom.xml
Labels: Mgmt

#41240 Increment versions for computefleet releases
  eng/versioning/version_client.txt
  sdk/computefleet/azure-resourcemanager-computefleet/CHANGELOG.md
  sdk/computefleet/azure-resourcemanager-computefleet/pom.xml
Labels: Mgmt

#41099 Throwing exception if blob name is passed as null
  sdk/storage/azure-storage-blob-cryptography/assets.json
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedFlux.java
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
Labels: Storage

#41245 Increment versions for computefleet releases
  eng/versioning/version_client.txt
  sdk/computefleet/azure-resourcemanager-computefleet/CHANGELOG.md
  sdk/computefleet/azure-resourcemanager-computefleet/pom.xml
Labels: Mgmt

#41197 Bump OTel dependencies
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/OpenTelemetryVersionCheckRunner.java
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, Azure.Core, azure-spring, Attestation, OpenTelemetry, clientcore

#41170 Support multiple Spring version integration tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/steps/build-and-test.yml
  sdk/spring/compatibility-tests.yml
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/pipeline/cosmos-integration-matrix.json
  sdk/spring/pipeline/tests-supported-spring-versions-template.yml
  sdk/spring/pipeline/tests-supported-version-matrix.json
  sdk/spring/scripts/_constants.py
  sdk/spring/scripts/compatibility_delete_version.py
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_insert_dependencymanagement.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/scripts/sync_external_dependencies.py
  sdk/spring/tests.yml
Labels: azure-spring

#41237 Update Mixed Reality Authentication to use federated auth
  sdk/mixedreality/tests.yml
Labels: Client, Mixed Reality, Mixed Reality Authentication

#41257 Increment versions for netapp releases
  eng/versioning/version_client.txt
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
Labels: Mgmt

#41248 Using Pipeline Credentials instead of DefaultAzureCredentials
  sdk/communication/azure-communication-identity/src/test/java/com/azure/communication/identity/CommunicationIdentityClientTestBase.java
Labels: Communication - Identity

#41230 Add imds retry strategy
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ImdsRetryStrategy.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/ImdsRetryStrategyTest.java
Labels: Azure.Identity

#40689 Switch to DefaultAzureCredential
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-batch/src/test/java/com/azure/storage/blob/batch/BlobBatchTestBase.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/KeyVaultKeyTests.java
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageCommonTestUtils.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DataLakeTestBase.java
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileServiceAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueTestBase.java
  sdk/storage/test-resources.json
  sdk/storage/tests-template.yml
Labels: Storage

#41265 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#41155 Disable public anonymous blob access for live resource tests
  sdk/storage/test-resources.json
Labels: Storage

#41090 Change design of InputStream timeout in JDK HttpClient
  sdk/core/azure-core-http-jdk-httpclient/checkstyle-suppressions.xml
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClient.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/InputStreamTimeoutResponseSubscriber.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/InputStreamWithReadTimeout.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/JdkHttpResponseSync.java
Labels: Azure.Core

#41251 Remove Jackson usage from logging implementation
  sdk/core/azure-core/checkstyle-suppressions.xml
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessibleByteArrayOutputStream.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/ClientLogger.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/logging/LoggingEventBuilder.java
Labels: Azure.Core

#41266 Identity fix powershell bugs
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/PowershellManager.java
Labels: Azure.Identity

#41273 Update CHANGELOG.md
  sdk/healthdataaiservices/azure-health-deidentification/CHANGELOG.md
Labels: Health Deidentification

#41272 Identity August 2024 Beta
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/face/azure-ai-vision-face/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/openai/azure-ai-openai/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanager/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Service Bus, Mgmt, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Face, Cognitive - Metrics Advisor, OpenAI, Document Intelligence

#41274 Increment versions for appcontainers releases
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
Labels: Mgmt
