Repository Azure/azure-sdk-for-java, pull requests merged in 2024-06, with the labels that each got.

#40434 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#40432 Link to Azure Pipelines credential API ref page
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#40428 mgmt, networkanalytics, trigger the list
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/src/test/java/com/azure/resourcemanager/networkanalytics/NetworkAnalyticsManagerTests.java
Labels: Mgmt

#40429 mgmt, apicenter, add live tests
  sdk/apicenter/azure-resourcemanager-apicenter/pom.xml
  sdk/apicenter/azure-resourcemanager-apicenter/src/test/java/com/azure/resourcemanager/apicenter/ApiCenterManagerTests.java
  sdk/apicenter/test-resources.bicep
  sdk/apicenter/tests.mgmt.yml
Labels: Mgmt

#40440 mgmt, iotfirmwaredefense, add live tests
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/pom.xml
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/src/test/java/com/azure/resourcemanager/iotfirmwaredefense/IoTFirmwareDefenseManagerTests.java
  sdk/iotfirmwaredefense/test-resources.bicep
  sdk/iotfirmwaredefense/tests.mgmt.yml
Labels: Mgmt

#40444 mgmt, frontdoor, add live tests
  sdk/frontdoor/azure-resourcemanager-frontdoor/pom.xml
  sdk/frontdoor/azure-resourcemanager-frontdoor/src/test/java/com/azure/resourcemanager/frontdoor/FrontDoorManagerTests.java
  sdk/frontdoor/test-resources.bicep
  sdk/frontdoor/tests.mgmt.yml
Labels: Mgmt

#40443 mgmt, sphere, add live tests
  sdk/sphere/azure-resourcemanager-sphere/pom.xml
  sdk/sphere/azure-resourcemanager-sphere/src/test/java/com/azure/resourcemanager/sphere/AzureSphereManagerTests.java
  sdk/sphere/test-resources.bicep
  sdk/sphere/tests.mgmt.yml
Labels: Mgmt

#39719 Implement JsonSerializable on JSON tree structure models
  sdk/serialization/azure-json/checkstyle-suppressions.xml
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonArray.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonBoolean.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonElement.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonNull.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonNumber.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonObject.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/JsonString.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/implementation/JsonUtils.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/implementation/StringBuilderWriter.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonArray.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonBoolean.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonElement.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonNull.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonNumber.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonObject.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/JsonString.java
  sdk/serialization/azure-json/src/main/java/com/azure/json/models/package-info.java
  sdk/serialization/azure-json/src/main/java/module-info.java
  sdk/serialization/azure-json/src/samples/java/com/azure/json/JsonAPIExamples.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonBooleanTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonBuilderTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonConversionTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonCreationTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonEditingTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonInputTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/JsonOutputTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonArrayContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonBooleanContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonElementContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonNullContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonNumberContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonObjectContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/contract/models/JsonStringContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/StringBuilderWriterTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonArrayContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonBooleanContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonElementContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonNullContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonNumberContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonObjectContractTests.java
  sdk/serialization/azure-json/src/test/java/com/azure/json/implementation/models/DefaultJsonStringContractTests.java
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileA.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileB.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileC.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileD.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileE.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileEmpty.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileF.json
  sdk/serialization/azure-json/src/test/resources/jsonArrayFileG.json
  sdk/serialization/azure-json/src/test/resources/jsonTestFileA.json
  sdk/serialization/azure-json/src/test/resources/jsonTestFileB.json
Labels: Azure.Core

#40446 Spark connector Catalog API doc clarification
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/catalog-api.md
Labels: Cosmos

#40462 Fix the sendIterable to not drop messages that cannot be fit in the batch
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientTest.java
Labels: Service Bus

#40441 mgmt, re-recrod DeploymentStacksTests after core-test update
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/test/java/com/azure/resourcemanager/appplatform/EnterpriseTierTest.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/ManagedDiskOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/test/java/com/azure/resourcemanager/eventhubs/EventHubTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/AutoscaleTests.java
  sdk/resourcemanager/azure-resourcemanager-monitor/src/test/java/com/azure/resourcemanager/monitor/DiagnosticSettingsTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/assets.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/DeploymentStacksTests.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/TagsTests.java
  sdk/resourcemanager/azure-resourcemanager-sql/src/test/java/com/azure/resourcemanager/sql/SqlServerOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/KubernetesEncryptionTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/PrivateLinkTests.java
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/VirtualMachineEncryptionTests.java
Labels: Mgmt

#40470 Increment versions for informaticadatamanagement releases
  eng/versioning/version_client.txt
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/CHANGELOG.md
  sdk/informaticadatamanagement/azure-resourcemanager-informaticadatamanagement/pom.xml
Labels: Mgmt

#40473 Increment versions for hybridcompute releases
  eng/versioning/version_client.txt
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/pom.xml
Labels: Mgmt

#40469 [Automation] Generate SDK based on TypeSpec 0.16.3
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterAdministrationClientBuilder.java
  sdk/communication/azure-communication-jobrouter/src/main/java/com/azure/communication/jobrouter/JobRouterClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/BlocklistClientBuilder.java
  sdk/contentsafety/azure-ai-contentsafety/src/main/java/com/azure/ai/contentsafety/ContentSafetyClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceAdministrationClientBuilder.java
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/java/com/azure/ai/documentintelligence/DocumentIntelligenceClientBuilder.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/EventGridClientBuilder.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceClientBuilder.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionClientBuilder.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/implementation/FaceClientImpl.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsAsyncClient.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClient.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClientBuilder.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/implementation/RadiologyInsightsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClientBuilder.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClientBuilder.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/DataMapClientBuilder.java
  sdk/translation/azure-ai-translation-text/src/main/java/com/azure/ai/translation/text/TextTranslationClientBuilder.java
Labels: DPG

#40452 App Config Spring AOP Aspect fix
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushbusrefresh/AppConfigurationBusRefreshEndpoint.java
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pushrefresh/AppConfigurationRefreshEndpoint.java
Labels: azure-spring

#40482 Use no custom header APIs when header type isn't used
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageImplUtils.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareDirectoryClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/specialized/ShareLeaseAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
Labels: Storage

#40486 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#40451 Update logic for extractByteBuffer to handle proper byte extraction for upload operations
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/UploadUtils.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
Labels: Storage

#40485 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#40376 Added `queryParams` to the `HttpRequestInformation` annotation.
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/annotation/HeaderParam.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/annotation/HttpRequestInformation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/QueryParameter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/UrlBuilder.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpBinJSON.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
Labels: clientcore

#40489 Fixing issues for API review.
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
Labels: azure-spring

#40491 Increment versions for resourcemanager releases (Cosmos DB 2024-05-15 Preview)
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#40494 Update REDIS_SCOPE_AZURE
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/passwordless/AzureRedisPasswordlessProperties.java
Labels: azure-spring

#40495 Fixing issues for API review. (#40489)
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/convert/MappingCosmosConverter.java
Labels: azure-spring

#40480 Add GraalVM native info to the SDK version
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/VersionGenerator.java
Labels: OpenTelemetry

#40497 Remove JDBC and Logback self-diagnostics
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/JdbcSelfDiagConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/LogbackSelfDiag.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/LogbackSelfDiagConfig.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/selfdiagnostics/SelfDiagAutoConfig.java
Labels: azure-spring

#40137 Migrate azure-security-attestation to stream-style serialization
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/attestation/azure-security-attestation/revapi-suppressions.json
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationAsyncClient.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationAdministrationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/AttestationClientBuilder.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/Utilities.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/AttestationClientImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/AttestationsImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/MetadataConfigurationsImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/PoliciesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/PolicyCertificatesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/SigningCertificatesImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestOpenEnclaveRequest.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestSgxEnclaveRequest.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationCertificateManagementBody.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationOpenIdMetadataImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationResponse.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationResult.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationSignerImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/AttestationTokenImpl.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/CloudError.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/CloudErrorBody.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/CloudErrorException.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/DataType.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/InitTimeData.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/JsonWebKey.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/JsonWebKeySet.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyCertificatesModificationResult.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyCertificatesModifyResponse.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyCertificatesResponse.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyCertificatesResult.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyResponse.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/PolicyResult.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/RuntimeData.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/StoredAttestationPolicy.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/TpmAttestationRequest.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/TpmAttestationResponse.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/models/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/implementation/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/AttestationSigningKey.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/AttestationType.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/CertificateModification.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/PolicyModification.java
  sdk/attestation/azure-security-attestation/src/main/java/com/azure/security/attestation/models/package-info.java
  sdk/attestation/azure-security-attestation/src/main/java/module-info.java
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/models/AttestationTokenTests.java
  sdk/attestation/azure-security-attestation/swagger/autorest.md
Labels: Attestation

#40488 Updating the doc for maxAutoLockRenewDuration setter in all receiver and processor builders, timeout argument for sync-receive and removing dead code in v1 path
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
Labels: Service Bus

#40521 [OpenAI-Inference] Using spec commit hash from `main` for AOAI Inference
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AzureChatExtensionRetrieveDocumentFilterReason.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#40526 [OpenAI-Assistants] Mandatory `filename` in `FileDetails` for `uploadFile` operation
  sdk/openai/azure-ai-openai-assistants/README.md
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/FileDetails.java
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/FileSearchToolSample.java
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/ReadmeSamples.java
  sdk/openai/azure-ai-openai-assistants/src/samples/java/com/azure/ai/openai/assistants/VectorStoreSample.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AssistantsClientTestBase.java
Labels: OpenAI

#39594 Clean assets and target after test run
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.versions.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/steps/clean-maven-local-cache.yml
  eng/pipelines/templates/steps/post-job-cleanup.yml
Labels: EngSys, Client

#40506 Added retries when retrieving new pages for query or readMany operations are timing out to avoid unbounded awaits
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIterator.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingReadManyIterator.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TransientIOErrorsRetryingIteratorSpec.scala
Labels: Cosmos

#40530 [OpenAI] Prepare for the new beta releases
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/README.md
  sdk/openai/azure-ai-openai/CHANGELOG.md
Labels: Client, OpenAI

#40298 Replaced the use of constants in favor of static methods for getting empty instances in `BinaryData`, `Context`, and `RequestOptions`.
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/client/DefaultHttpClient.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpRequest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpResponse.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/Context.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/binarydata/BinaryData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxySpecialParametersBenchmark.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/client/DefaultHttpClientTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/http-jdk-httpclient/src/main/java/io/clientcore/http/jdk/httpclient/JdkHttpClient.java
  sdk/clientcore/http-jdk-httpclient/src/main/java/io/clientcore/http/jdk/httpclient/implementation/JdkHttpResponse.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClient.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/OkHttpResponse.java
Labels: Client, clientcore

#40300 Replaced `byte[]` with `BinaryData` in implementation methods where a response body is expected.
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpHeader.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpHeaders.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ProxyOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpLoggingPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/PercentEscaper.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyBase.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/serializer/HttpResponseBodyDecoder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/Base64Url.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/CoreUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/DateTimeRfc1123.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/ImplUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/Providers.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/QueryParameter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/util/UrlBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/models/SocketConnectionCache.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/configuration/Configuration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/util/configuration/ConfigurationBuilder.java
  sdk/clientcore/core/src/main/resources/META-INF/native-image.io.clientcore.core/native-image.properties
  sdk/clientcore/core/src/main/resources/META-INF/native-image.io.clientcore.core/reflect-config.json
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/util/TestUtils.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/AuthorizationChallengeHandler.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticator.java
Labels: Client, clientcore

#40531 Bump storage stress addons version to ~0.3.0
  sdk/storage/azure-storage-blob-stress/Chart.yaml
  sdk/storage/azure-storage-file-datalake-stress/Chart.yaml
  sdk/storage/azure-storage-file-share-stress/Chart.yaml
Labels: Central-EngSys, Stress

#40487 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#40535 azure-cosmos-spark release 4.32.1
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#40538 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#40539 Increment versions for resourcemanager releases for Search - 2024-06-01-Preview
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-search/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-search/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#40541 Support enables allow cross-tenant replication via `allowCrossTenantReplication` in `Create` mode.
  sdk/resourcemanager/azure-resourcemanager-storage/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-storage/assets.json
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/models/StorageAccount.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/test/java/com/azure/resourcemanager/storage/StorageAccountOperationsTests.java
Labels: Mgmt

#40548 Increment versions for redisenterprise releases
  eng/versioning/version_client.txt
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/pom.xml
Labels: Mgmt

#40543 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#40544 Update spring-reference and sync changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-reference.yml
Labels: azure-spring

#40534 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#40483 Add support for parsing local emulator slug
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionStringProperties.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionStringPropertiesTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Event Hubs, Service Bus, Azure.Core.AMQP

#40555 Prepare patch release for azure-core-amqp 2.9.6
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionOptions.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ConnectionStringProperties.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorHandlerProvider.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionOptionsTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ConnectionStringPropertiesTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorHandlerProviderTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsConnectionHandlerTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
Labels: Event Hubs, Service Bus, Azure.Core, Azure.Core.AMQP

#40301 Batch Workaround for Deserialization of Long Properties
  sdk/batch/azure-compute-batch/CHANGELOG.md
  sdk/batch/azure-compute-batch/assets.json
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolResourceStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/FileProperties.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/FileTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobScheduleTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/JobTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/TaskTests.java
Labels: Batch

#40556 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Batch, Event Grid, Event Hubs, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm, Azure Quantum

#40511 Set v2 as default for sync receiver, ensure sync receiver does lock renewal and change live test to run on v2 clients by default
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/LockRenewalOperation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusProcessorClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClientIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TestUtils.java
  sdk/servicebus/test-resources.json
Labels: Service Bus

#40558 Increment version for Storage patch releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Batch, Event Grid, Event Hubs, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm, Azure Quantum

#40559 Increment versions for core releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Labels: Azure.Core, common, azure-spring, Azure.Core.AMQP

#40557 Added missing PR to changelog
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
Labels: Cosmos

#40565 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#40439 API updates for Pipelines Credential
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePipelinesCredentialBuilderTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePipelinesCredentialTest.java
Labels: Azure.Identity

#40504 ResourceAttributes has been deprecated upstream
  eng/versioning/external_dependencies.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/ResourceAttributes.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/AksResourceAttributes.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/ResourceParser.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/ResourceParserTest.java
Labels: OpenTelemetry

#40575 Increment versions for identity releases
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#40566 Prepare Azure Monitor Query for release
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#40596 Increment versions for spring releases
  eng/versioning/version_client.txt
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
Labels: azure-spring

#40591 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#40392 [Tables] Fix Deserialization Issues within ListEntities
  .vscode/cspell.json
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClient.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/EntityDataModelType.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesJacksonSerializer.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableEntityQueryResponse.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceAsyncClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TestUtils.java
Labels: Tables

#40594 Increment versions for storage releases
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#40416 Handle 206
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/LocalStorageTelemetryPipelineListener.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/logging/DiagnosticTelemetryPipelineListener.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/ResponseError.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemSerialization.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryPipeline.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryPipelineRequest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryPipelineResponse.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/Handle206Test.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/localstorage/Resources.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/TestUtils.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/resources/206_response_body.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/resources/request_body_result_to_206_status_code.txt
Labels: OpenTelemetry

#40601 [Client core ] Add service version interface
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ServiceVersion.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/implementation/ProxyAuthenticator.java
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/http-stress/src/main/java/io/clientcore/http/stress/App.java
  sdk/clientcore/http-stress/src/main/java/io/clientcore/http/stress/HttpPatch.java
Labels: clientcore

#40603 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#40598 Merge after data redis lettuce release
  eng/versioning/version_client.txt
  sdk/spring/ci.yml
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
Labels: azure-spring

#40406 Migrate App Config tests to TokenCredential Auth
  .vscode/cspell.json
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-native-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/build-and-test.yml
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration/assets.json
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/AadCredentialTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationAsyncClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTest.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientTestBase.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/TestHelper.java
  sdk/appconfiguration/test-resources.json
  sdk/appconfiguration/tests.native.yml
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#40554 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#40605 Service Bus: Updating doc for receiveMessages API to include details of background auto lock renewal
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverClient.java
Labels: Service Bus

#40581 Update github account from chenrujun to rujche
  .github/CODEOWNERS
  eng/pipelines/patch_release_client.txt
  eng/versioning/external_dependencies.txt
Labels: customer-reported, azure-spring, Community Contribution

#40550 Disable transitive dependency checks in RevApi
  eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/AzureSdkTreeFilterProvider.java
  eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/JacksonDatabindRemovalTransform.java
  eng/code-quality-reports/src/main/resources/META-INF/services/org.revapi.DifferenceTransform
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/parents/azure-client-sdk-parent/pom.xml
Labels: EngSys

#40611 Prepare Tables June 2024 Patch Release
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#40600 Increment version for documentintelligence releases
  .github/CODEOWNERS
  eng/versioning/version_client.txt
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
Labels: Document Intelligence

#40621 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#38949 mgmt, authorization, update Javadoc
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/fluent/models/MicrosoftGraphChannel.java
Labels: Mgmt

#39844 Diagnostics Improvements for quorumAckedLSN, CurrentReplicaSetSize, and replicaStatusList
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/AddressSelectorWrapper.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreReaderTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressSelector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyWriter.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResponseDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResultDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/Uri.java
Labels: Cosmos

#40617 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#40635 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#40642 Remove scheduled enqueued time when forwarding received message
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusMessage.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceivedMessageTest.java
Labels: Service Bus

#40652 Increment versions for mobilenetwork releases
  eng/versioning/version_client.txt
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/azure-resourcemanager-mobilenetwork/pom.xml
Labels: Mgmt

#40215 App Configuration Spring - V2 Feature Management Schema
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceLocator.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefresh.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationSnapshotPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/StateHolder.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/config/AppConfigurationBootstrapConfiguration.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/FeatureFlagState.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/FeatureFlags.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/entity/Conditions.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/entity/Feature.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/feature/entity/FeatureFilterEvaluationContext.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceSnapshotTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceKeyVaultTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceLocatorTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefreshTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtilTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientBuilderTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientFactoryTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/ConnectionManagerTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/StateHolderTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementProperties.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/ServerSideFeatureManagementPropertiesListTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/ServerSideFeatureManagementPropertiesTest.java
Labels: azure-spring

#40362 Update Redis Code Samples
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Authenticator.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClient.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClientBuilder.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AzureJedisWrapperSample.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HellloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HellloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HelloWorld.java
Labels: Azure.Identity

#40662 Sync eng/common directory with azure-sdk-tools for PR 8457
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#40660 Update macos image from 11 to latest
  common/smoke-tests/smoke-test-dependencies.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
  sdk/communication/azure-communication-phonenumbers/phone-numbers-livetest-matrix.json
  sdk/storage/platform-matrix.json
  sdk/tables/platform-matrix.json
Labels: Storage, common, Tables, Communication - Phone Numbers

#40666 [OpenAI] Increase version after released OpenAI and OpenAI-Assistant
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/pom.xml
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Search, Client, OpenAI

#40668 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#40667 Removing duplicate ReactorSession::closeAsync call in session-endpoint error-handler.
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
Labels: Azure.Core.AMQP

#40587 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#40454 Removal of azure-keyvault-webkey
  eng/spotbugs-aggregate-report/pom.xml
  eng/versioning/version_data.txt
  sdk/keyvault/microsoft-azure-keyvault-complete/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-cryptography/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-extensions/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-test/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/pom.xml
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/Base64UrlJsonDeserializer.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/Base64UrlJsonSerializer.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/ByteExtensions.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKey.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKeyCurveName.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKeyEncryptionAlgorithm.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKeyOperation.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKeySignatureAlgorithm.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/JsonWebKeyType.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/main/java/com/microsoft/azure/keyvault/webkey/package-info.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/AesValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/ClearMemoryTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/EcHsmValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/EcValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/RsaHsmValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault-webkey/src/test/java/com/microsoft/azure/keyvault/webkey/test/RsaValidationTests.java
  sdk/keyvault/microsoft-azure-keyvault/pom.xml
  sdk/keyvault/pom.xml
Labels: KeyVault

#40677 mgmt, graphapi, update javadoc
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/java/com/azure/resourcemanager/authorization/fluent/models/MicrosoftGraphChannel.java
  sdk/resourcemanager/azure-resourcemanager-authorization/swagger/Groups.yml
Labels: Mgmt

#40674 Use Connection::closeAsync() API if closing connection is needed from within ReactorConnectionCache
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnectionCache.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorSession.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/ReactorConnectionTest.java
Labels: Azure.Core.AMQP

#40671 [OpenAI] Added TROUBLESHOOTING.md to openai inference SDK
  sdk/openai/azure-ai-openai/README.md
  sdk/openai/azure-ai-openai/TROUBLESHOOTING.md
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/impl/ReadmeSamples.java
Labels: Client, OpenAI

#40665 Update createShareWithArgs test to handle Quota of 6000
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
Labels: Storage

#40684 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#40639 Pass pipeline vnet to spring mysql live test arm template
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/jdbc/mysql/test-resources.json
Labels: Central-EngSys

#40683 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
  sdk/template/azure-sdk-template-three/CHANGELOG.md
  sdk/template/azure-sdk-template-two/CHANGELOG.md
  sdk/template/azure-sdk-template/CHANGELOG.md
Labels: EngSys, Central-EngSys

#40693 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
Labels: Event Grid

#40703 tsp, eventgrid, disable formatter in package-info.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/package-info.java
  sdk/eventgrid/ci.yml
Labels: Event Grid

#40643 Stream style serialization for Azure Communication SMS
  sdk/communication/azure-communication-sms/pom.xml
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/AzureCommunicationSMSServiceImpl.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/AzureCommunicationSMSServiceImplBuilder.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/SmsImpl.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SendMessageRequest.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsRecipient.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendResponse.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendResponseItem.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/SmsSendResponseItemRepeatabilityResult.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/models/package-info.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/implementation/package-info.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/models/SmsSendOptions.java
  sdk/communication/azure-communication-sms/src/main/java/com/azure/communication/sms/models/package-info.java
  sdk/communication/azure-communication-sms/src/main/java/module-info.java
  sdk/communication/azure-communication-sms/src/test/java/com/azure/communication/sms/SmsTestBase.java
  sdk/communication/azure-communication-sms/swagger/README.md
Labels: Communication - SMS

#40547 added connect api live test
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
Labels: Communication - Call Automation

#40692 Move links directly into a storage account to aka.ms
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/CONTRIBUTING.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CONTRIBUTING.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Event Grid, Event Hubs, KeyVault, Service Bus, Storage, Azure.Identity

#40717 Image Analysis: Enable stream style serialization
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisAsyncClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClientBuilder.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/implementation/ImageAnalysisClientImpl.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/implementation/models/ImageUrl.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/CaptionResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/CropRegion.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DenseCaption.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DenseCaptionsResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedObject.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedPerson.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedTag.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedTextBlock.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedTextLine.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/DetectedTextWord.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ImageAnalysisResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ImageBoundingBox.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ImageMetadata.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ImagePoint.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ObjectsResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/PeopleResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/ReadResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/SmartCropsResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/TagsResult.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/models/VisualFeatures.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/module-info.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/resources/META-INF/azure-ai-vision-imageanalysis_apiview_properties.json
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/generated/ImageAnalysisClientTestBase.java
  sdk/vision/azure-ai-vision-imageanalysis/tsp-location.yaml
Labels: Image Analysis

#40437 Data Lake Sync Stack Migration
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakePathClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/AzureDataLakeStorageRestAPIImplBuilder.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FileSystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/PathsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Labels: Storage

#40719 Use the correct ReflectiveInvoker methods
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/implementation/JsonSerializableTypeAdapter.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/JsonSerializableDeserializer.java
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/ObjectMapperShim.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ConstructorReflectiveInvoker.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/MethodHandleReflectiveInvoker.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/ResponseExceptionConstructorCache.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JsonSerializableDeserializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperShim.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ExpandableStringEnum.java
Labels: Azure.Core

#40697 Fix AccessTokenUtil does not url encode its parameters
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/AccessTokenUtilTest.java
Labels: azure-spring, azure-spring-jca

#40384 Added a mechanism to disable all local cryptographic operations and delegate them to the service instead.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyAsyncClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClient.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientBuilder.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/implementation/CryptographyUtils.java
Labels: KeyVault, Client

#40722 Identity refactor pipeline
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ClientAssertionCredentialHelper.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePipelinesCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/IdentityClientIntegrationTests.java
Labels: Azure.Identity

#40720 Fix issue with container types using JsonSerializable as a value
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JsonSerializableSerializer.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperFactory.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/JacksonAdapterTests.java
  sdk/core/azure-core/src/test/java/com/azure/core/util/serializer/nojackson/Simple.java
Labels: Azure.Core

#40686 Removed the non streaming order by flag from spring data cosmos CI
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AddressRepositoryIT.java
  sdk/spring/pipeline/cosmos-integration-matrix.json
Labels: azure-spring

#40748 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: Mgmt

#40751 Increment versions for imagebuilder releases
  eng/versioning/version_client.txt
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/pom.xml
Labels: Mgmt

#40757 Increment versions for selfhelp releases
  eng/versioning/version_client.txt
  sdk/selfhelp/azure-resourcemanager-selfhelp/CHANGELOG.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/pom.xml
Labels: Mgmt

#40723 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/common/testproxy/target_version.txt
  sdk/containerregistry/azure-containers-containerregistry/assets.json
Labels: EngSys, Central-EngSys

#40764 Add missing TSG section link for WAM support
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#40746 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#40766 azure-cosmos-spark release 4.33.0 at 2024-06-22
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#40721 Add pool variable and user env variables to test resources environment
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#40738 fixRetryPolicyWhenSplitHandlingDisabledForChangeFeed
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorType.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ChangeFeedFetcher.java
Labels: Cosmos

#40773 Running Prepare-Release for azure-messaging-servicebus June-2024 release
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#40776 mgmt, storage, regen from PR 29534
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/fluent/StorageTaskAssignmentInstancesReportsClient.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/fluent/StorageTaskAssignmentsInstancesReportsClient.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/implementation/StorageTaskAssignmentInstancesReportsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/implementation/StorageTaskAssignmentsInstancesReportsClientImpl.java
Labels: Mgmt

#40770 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#40771 Prepare Event Hubs release for June
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#40188 Move CallAutomation GA3 Changes to ALPHA3
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallMediasImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AzureOpenAIDialog.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/AzureOpenAIDialogUpdate.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/BaseDialog.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/BlobStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallIntelligenceOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CustomContext.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/DialogUpdateBase.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ExternalStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingConfigurationInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PowerVirtualAgentsDialog.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecognizeRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStateResponseInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageTypeInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartMediaStreamingRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartTranscriptionRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StopMediaStreamingRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StopTranscriptionRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TeamsComplianceRecordingStateChanged.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TeamsRecordingStateChanged.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TranscriptionConfiguration.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TranscriptionFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TranscriptionResumed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TranscriptionStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TranscriptionStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TransferToParticipantRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/UpdateTranscriptionRequest.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AzureBlobContainerRecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AzureCommunicationsRecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#40787 Fix dependency tag, it should be current
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/spark.databricks.yml
Labels: Cosmos

#40790 CosmosDbKafkaConnectorRelease1.0.0-beta.3
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
Labels: Cosmos

#40792 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
Labels: Cosmos

#40799 Increment versions for storagemover releases
  eng/versioning/version_client.txt
  sdk/storagemover/azure-resourcemanager-storagemover/CHANGELOG.md
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
Labels: Mgmt

#40741 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#40804 Increment versions for avs releases
  eng/versioning/version_client.txt
  sdk/avs/azure-resourcemanager-avs/CHANGELOG.md
  sdk/avs/azure-resourcemanager-avs/pom.xml
Labels: Mgmt

#40795 Added close on cosmos client
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/CosmosFactoryTestIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PersonCrossPartitionIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/SpELCosmosAnnotationIT.java
Labels: azure-spring

#40808 Added close on cosmos client (#40795)
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/CosmosFactoryTestIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/PersonCrossPartitionIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/SpELCosmosAnnotationIT.java
Labels: azure-spring

#40733 Change Netty version logging
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyUtility.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/NettyUtilityTests.java
Labels: Azure.Core

#40821 [PatchRelease] Prepare for manually patch release wave 1
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/README.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
  sdk/identity/azure-identity-extensions/Azure-Database-for-MySQL-README.md
  sdk/identity/azure-identity-extensions/Azure-Database-for-PostgreSQL-README.md
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: App Configuration, Cognitive - Text Analytics, azure-spring, DevCenter

#40824 [Automation] Generate Fluent Lite from Swagger oracle#package-2023-09-01-preview
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/CHANGELOG.md
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/ActivationLinksInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/AutonomousDatabaseWalletFileInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/CloudAccountDetailsInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/OperationInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/PrivateIpAddressPropertiesInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/fluent/models/SaasSubscriptionDetailsInner.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/AutonomousDatabaseBackupListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/AutonomousDatabaseCharacterSetListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/AutonomousDatabaseListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/AutonomousDatabaseNationalCharacterSetListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/AutonomousDbVersionListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/CloudExadataInfrastructureListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/CloudVmClusterListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/DbNodeListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/DbServerListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/DbSystemShapeListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/DnsPrivateViewListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/DnsPrivateZoneListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/GiVersionListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/OperationDisplay.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/OperationListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/OracleSubscriptionListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/SystemVersionListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/main/java/com/azure/resourcemanager/oracledatabase/models/VirtualNetworkAddressListResult.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/ActivationLinksInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/AutonomousDatabaseBackupListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/AutonomousDatabaseCharacterSetListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/AutonomousDatabaseNationalCharacterSetListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/AutonomousDatabaseWalletFileInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/AutonomousDbVersionListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/CloudAccountDetailsInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/CloudExadataInfrastructureListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/DbNodeListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/DbServerListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/DbSystemShapeListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/DnsPrivateViewListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/DnsPrivateZoneListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/GiVersionListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/OperationDisplayTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/OperationInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/OperationListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/PrivateIpAddressPropertiesInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/SaasSubscriptionDetailsInnerTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/SystemVersionListResultTests.java
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/src/test/java/com/azure/resourcemanager/oracledatabase/generated/VirtualNetworkAddressListResultTests.java
Labels: Mgmt - Track 2

#40827 Increment versions for oracledatabase releases
  eng/versioning/version_client.txt
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/CHANGELOG.md
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/pom.xml
Labels: Mgmt

#40826 mgmt, azure-resourcemanager, update auth doc, avoid ClientSecretCredential
  eng/mgmt/automation/parameters.py
  sdk/resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appservice/README.md
  sdk/resourcemanager/azure-resourcemanager-authorization/README.md
  sdk/resourcemanager/azure-resourcemanager-cdn/README.md
  sdk/resourcemanager/azure-resourcemanager-compute/README.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/README.md
  sdk/resourcemanager/azure-resourcemanager-containerregistry/README.md
  sdk/resourcemanager/azure-resourcemanager-containerservice/README.md
  sdk/resourcemanager/azure-resourcemanager-cosmos/README.md
  sdk/resourcemanager/azure-resourcemanager-dns/README.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/README.md
  sdk/resourcemanager/azure-resourcemanager-keyvault/README.md
  sdk/resourcemanager/azure-resourcemanager-monitor/README.md
  sdk/resourcemanager/azure-resourcemanager-msi/README.md
  sdk/resourcemanager/azure-resourcemanager-network/README.md
  sdk/resourcemanager/azure-resourcemanager-privatedns/README.md
  sdk/resourcemanager/azure-resourcemanager-redis/README.md
  sdk/resourcemanager/azure-resourcemanager-resources/README.md
  sdk/resourcemanager/azure-resourcemanager-search/README.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/README.md
  sdk/resourcemanager/azure-resourcemanager-sql/README.md
  sdk/resourcemanager/azure-resourcemanager-storage/README.md
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/README.md
  sdk/resourcemanager/azure-resourcemanager/README.md
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/AuthSamples.java
  sdk/resourcemanager/docs/AUTH.md
Labels: Mgmt

#40829 Increment versions for scvmm releases
  eng/versioning/version_client.txt
  sdk/scvmm/azure-resourcemanager-scvmm/CHANGELOG.md
  sdk/scvmm/azure-resourcemanager-scvmm/pom.xml
Labels: Mgmt

#40702 Migrate eventgrid tests
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/assets.json
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/java/com/azure/messaging/eventgrid/cloudnative/cloudevents/EventGridCloudNativeEventPublisherTests.java
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/resources/session-records/EventGridCloudNativeEventPublisherTests.publishEventGridEventsToDomain.json
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/resources/session-records/EventGridCloudNativeEventPublisherTests.publishEventGridEventsToTopic.json
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/src/test/resources/session-records/EventGridCloudNativeEventPublisherTests.publishEventGridEventsWithoutContentType.json
  sdk/eventgrid/azure-messaging-eventgrid/assets.json
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherAsyncClientTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherClientTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridPublisherImplTests.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/EventGridTestBase.java
  sdk/eventgrid/azure-messaging-eventgrid/src/test/java/com/azure/messaging/eventgrid/TestUtil.java
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#40797 Wrapping exceptions thrown in custom serializers as a CosmosException with StatusCode 400
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/CosmosEncryptionAsyncContainer.java
  sdk/cosmos/azure-cosmos-encryption/src/main/java/com/azure/cosmos/encryption/implementation/CosmosEncryptionQueryTransformer.java
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/CosmosEncryptionItemSerializerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemSerializerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ParallelDocumentQueryTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosItemSerializer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Document.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
Labels: Cosmos

#40845 [Automation] Generate Fluent Lite from Swagger appcomplianceautomation#package-2024-06
  sdk/appcomplianceautomation/azure-resourcemanager-appcomplianceautomation/CHANGELOG.md
  sdk/appcomplianceautomation/azure-resourcemanager-appcomplianceautomation/README.md
Labels: Mgmt - Track 2

#40848 Increment versions for appcomplianceautomation releases
  eng/versioning/version_client.txt
  sdk/appcomplianceautomation/azure-resourcemanager-appcomplianceautomation/CHANGELOG.md
  sdk/appcomplianceautomation/azure-resourcemanager-appcomplianceautomation/pom.xml
Labels: Mgmt

#40846 mgmt, update test on mediaservice
  sdk/mediaservices/azure-resourcemanager-mediaservices/src/test/java/com/azure/resourcemanager/mediaservices/MediaServicesTests.java
  sdk/mediaservices/test-resources.bicep
  sdk/mediaservices/tests.mgmt.yml
Labels: Mgmt

#40847 mgmt, resourcemanager, use MockTokenCredential in playback
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/src/test/java/com/azure/resourcemanager/confidentialledger/ConfidentialLedgerManagementTestBase.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Labels: Mgmt

#40740 Fix access token util does not urlencode its parameters
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/AccessTokenUtil.java
Labels: azure-spring, azure-spring-jca

#40844 Adjusting queue length for Schedulers used in BulkWriter
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosBulkExecutionOptions.java
Labels: Cosmos

#40823 Migrate Anomaly Detector Test Setup
  sdk/anomalydetector/azure-ai-anomalydetector/test-resources.json
  sdk/anomalydetector/azure-ai-anomalydetector/tests.yml
Labels: Cognitive - Anomaly Detector

#40820 Add pool env variable to build-test-resource-config template
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#40909 [Patch-June-1] Manually increase the version and update CHANGELOG after released
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
  sdk/identity/azure-identity-extensions/CHANGELOG.md
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-redis/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/textanalytics/azure-ai-textanalytics-perf/pom.xml
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/pom.xml
Labels: Monitor, App Configuration, Azure.Core, Cognitive - Text Analytics, azure-spring, graalvm, OpenTelemetry, DevCenter

#40093 App Configuration: recurring time window filter
  sdk/spring/spring-cloud-azure-feature-management/README.md
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TargetingFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TimeWindowFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/Recurrence.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrencePattern.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrencePatternType.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrenceRange.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrenceRangeType.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/TimeWindowFilterSettings.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/TimeWindowUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceConstants.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceEvaluator.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceValidator.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/FilterParameters.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/TimeWindowFilterTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceEvaluatorTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceValidatorTest.java
Labels: azure-spring

#40800 Migrate Auth in Spring SDKs
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/test-resources.json
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/ApplicationConfiguration.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/keyvault/secret/KeyVaultSecretPropertySourceIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/binder/ServiceBusMultiBindersIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/servicebus/jms/ServiceBusJmsPasswordlessIT.java
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application-jdbc-mysql.yml
  sdk/spring/spring-cloud-azure-integration-tests/src/test/resources/application.yml
  sdk/spring/spring-cloud-azure-integration-tests/test-resources/common/test-resources.json
  sdk/spring/tests.yml
Labels: azure-spring
