Repository Azure/azure-sdk-for-java, pull requests merged in 2024-10, with the labels that each got.

#42139 Prepare Core libraries for October 2024 release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/credential/ProofOfPossessionOptions.java
  sdk/e2e/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#42080 Increment versions for schemaregistry releases
  eng/versioning/version_client.txt
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-data-schemaregistry/pom.xml
Labels: Schema Registry

#42105 [AI] [Inference] Add correct Auth policy for non-AOAI models
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsClientBuilder.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/EmbeddingsClientBuilder.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsClientBuilder.java
Labels: AI Model Inference

#41511 Fix Azure Redis Checkpoint Store Samples Issue
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/main/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisJavaDocCodeSamples.java
Labels: Event Hubs, Community Contribution

#41812 Enabling integration/live tests for Event Hubs V2 stack
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
Labels: Event Hubs

#42150 Mark AzureAuthorityHosts.AZURE_GERMANY deprecated
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureAuthorityHosts.java
Labels: Azure.Identity

#42103 Remove confusing message
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/logging/NetworkFriendlyExceptions.java
Labels: OpenTelemetry

#42149 Update msal4j and remove workaround
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-extensions/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
Labels: Azure.Identity

#42152 Add getBearerTokenSupplier
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthenticationUtil.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AuthenticationUtilTest.java
Labels: Azure.Identity

#42134 API change of the Azure Monitor exporter
  eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/src/main/java/com/azure/messaging/eventhubs/stress/util/TelemetryHelper.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporter.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporterOptions.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/AzureMonitorLogRecordExporterProvider.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/AzureMonitorMetricExporterProvider.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/AzureMonitorSpanExporterProvider.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/package-info.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/AppConfigurationAzureMonitorExporterSample.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorMetricExporterSample.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/EventHubsAzureMonitorExporterSample.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/ReadmeSamples.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExporterTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/MonitorExporterClientTestBase.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/implementation/utils/TestUtils.java
  sdk/servicebus/azure-messaging-servicebus-stress/src/main/java/com/azure/messaging/servicebus/stress/util/TelemetryHelper.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/AzureSpringMonitorAutoConfiguration.java
  sdk/template/azure-template-stress/src/main/java/com/azure/sdk/template/stress/util/TelemetryHelper.java
Labels: azure-spring, OpenTelemetry

#41956 External dependencies upgrade - Spring Boot 3.3.4 and Spring Cloud 2023.0.3
  eng/versioning/external_dependencies.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/scripts/spring_boot_3.3.4_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: azure-spring, clientcore

#42135 Update OTel exporter changelog
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: OpenTelemetry

#42163 Disable log ingestion test on macOS
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionAsyncClientTest.java
Labels: Monitor

#42142 Sync eng/common directory with azure-sdk-tools for PR 9074
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#42166 Update CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
Labels: Cognitive - Health Insights

#42170 [communication]-[sms]-Splits tests for public and int environments.
  sdk/communication/azure-communication-sms/tests.int.yml
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#42006 Ability to use AzureMonitorExporterOptions as a bean
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/AzureSpringMonitorAutoConfiguration.java
Labels: azure-spring

#42167 [AI] [Inference] Update CHANGELOG.md (#42166)
  sdk/ai/azure-ai-inference/CHANGELOG.md
Labels: AI Model Inference

#42164 Update MI Credential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ManagedIdentityCredentialTest.java
Labels: Azure.Identity

#42171 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#42177 [AI] [Inference] update dependency version in README
  sdk/ai/azure-ai-inference/README.md
Labels: AI Model Inference

#42179 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#42160 AllowChangeFeedQueryToCompleteAfterFetchedChangesAvailableNow
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeCompositeContinuationImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/feedranges/FeedRangeContinuation.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ChangeFeedFetcher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Fetcher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Paginator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosChangeFeedRequestOptions.java
Labels: Cosmos

#42181 Increment versions for edgeorder releases
  eng/versioning/version_client.txt
  sdk/edgeorder/azure-resourcemanager-edgeorder/CHANGELOG.md
  sdk/edgeorder/azure-resourcemanager-edgeorder/pom.xml
Labels: Mgmt

#42191 Update-databricks-support
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
Labels: Cosmos

#42117 Parse Connection String
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ServiceEndpointTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
Labels: Cosmos

#42206 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#41813 V2 Encryption Bug 4MB file downloads
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/assets.json
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobLength.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRange.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobLengthTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRangeTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ChunkedDownloadUtils.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobInputStream.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
Labels: Storage

#41895 Turn Off Federated Auth and Move Kafka Images to MCR
  sdk/cosmos/kafka.yml
Labels: Cosmos

#42207 Update java2docfx version
  eng/scripts/docs/java2docfx.version.txt
Labels: Docs

#42212 Sync eng/common directory with azure-sdk-tools for PR 9113
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#42208 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#42211 New field on AcsIncomingCallEventData
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsIncomingCallEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageInteractiveListReplyContent.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#42213 V2 Encryption Bug 4MB file downloads (#41813)
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/assets.json
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClient.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobLength.java
  sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRange.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobLengthTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobRangeTests.java
  sdk/storage/azure-storage-blob-cryptography/src/test/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlockBlobApiTests.java
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ChunkedDownloadUtils.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobInputStream.java
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#42217 Increment versions for containerinstance beta package releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#42218 Increment versions for fluidrelay releases
  eng/versioning/version_client.txt
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/CHANGELOG.md
  sdk/fluidrelay/azure-resourcemanager-fluidrelay/pom.xml
Labels: Mgmt

#42202 add customization for java sdk radiologyinsights
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ClinicalDocumentAuthor.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ClinicalDocumentContent.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ClinicalDocumentContentType.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/DocumentType.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/PatientDocument.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/module-info.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/resources/META-INF/azure-health-insights-radiologyinsights_apiview_properties.json
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleAgeMismatchInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCompleteOrderDiscrepancyInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleCriticalResultInferenceSync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleDefaultAzureCredential.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleFindingInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleFollowupCommunicationAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleFollowupRecommendationInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleLateralityDiscrepancyInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleLimitedOrderDiscrepancyInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleRadiologyProcedureInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/samples/java/com/azure/health/insights/radiologyinsights/SampleSexMismatchInferenceAsync.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/test/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsClientTestBase.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/test/java/com/azure/health/insights/radiologyinsights/RadiologyInsightsInputDataTest.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/tsp-location.yaml
Labels: Cognitive - Health Insights

#42226 Increment versions for iotcentral releases
  eng/versioning/version_client.txt
  sdk/iotcentral/azure-resourcemanager-iotcentral/CHANGELOG.md
  sdk/iotcentral/azure-resourcemanager-iotcentral/pom.xml
Labels: Mgmt

#42225 Increment versions for oep releases
  eng/versioning/version_client.txt
  sdk/oep/azure-resourcemanager-oep/CHANGELOG.md
  sdk/oep/azure-resourcemanager-oep/pom.xml
Labels: Mgmt

#42227 Increment versions for servicelinker releases
  eng/versioning/version_client.txt
  sdk/servicelinker/azure-resourcemanager-servicelinker/CHANGELOG.md
  sdk/servicelinker/azure-resourcemanager-servicelinker/pom.xml
Labels: Mgmt

#42232 Increment versions for marketplaceordering releases
  eng/versioning/version_client.txt
  sdk/marketplaceordering/azure-resourcemanager-marketplaceordering/CHANGELOG.md
  sdk/marketplaceordering/azure-resourcemanager-marketplaceordering/pom.xml
Labels: Mgmt

#42235 Increment versions for botservice releases
  eng/versioning/version_client.txt
  sdk/botservice/azure-resourcemanager-botservice/CHANGELOG.md
  sdk/botservice/azure-resourcemanager-botservice/pom.xml
Labels: Mgmt

#42204 Drive traffic to credential chains Learn doc
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/doc-files/DefaultAzureCredentialAuthFlow.png
Labels: Azure.Identity

#42241 Exception type name missing
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/SpanDataMapper.java
Labels: OpenTelemetry

#42178 Scope out per-partition circuit breaker for partition split/merge and invalid partition cases.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/GlobalPartitionEndpointManagerForCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PartitionLevelCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/circuitBreaker/GlobalPartitionEndpointManagerForCircuitBreaker.java
Labels: Cosmos

#42243 Update change log for upcoming release
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: OpenTelemetry

#42236 Increment versions for servicelinker releases
  eng/versioning/version_client.txt
  sdk/servicelinker/azure-resourcemanager-servicelinker/CHANGELOG.md
  sdk/servicelinker/azure-resourcemanager-servicelinker/pom.xml
Labels: Mgmt

#42246 Add date to change log
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: OpenTelemetry

#42252 [Automation] Generate Fluent Lite from Swagger healthbot#package-2020-12-08
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/README.md
  sdk/healthbot/azure-resourcemanager-healthbot/SAMPLE.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/HealthbotManager.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/BotsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/HealthbotClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/OperationsClient.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/HealthBotInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/OperationDetailInner.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/models/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/fluent/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/BotsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthBotImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientBuilder.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/HealthbotClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationDetailImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsClientImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/OperationsImpl.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/ResourceManagerUtils.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/implementation/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/AvailableOperations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/BotResponseList.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Bots.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBot.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotProperties.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/HealthBotUpdateParameters.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/OperationDetail.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/OperationDisplay.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Operations.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/Sku.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/SkuName.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/models/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/com/azure/resourcemanager/healthbot/package-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/java/module-info.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-healthbot/proxy-config.json
  sdk/healthbot/azure-resourcemanager-healthbot/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-healthbot/reflect-config.json
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsCreateSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsDeleteSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsGetByResourceGroupSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsListByResourceGroupSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsListSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/BotsUpdateSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/samples/java/com/azure/resourcemanager/healthbot/generated/OperationsListSamples.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/AvailableOperationsTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotResponseListTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotsCreateMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotsDeleteMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotsGetByResourceGroupWithResponseMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotsListByResourceGroupMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/BotsListMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/HealthBotInnerTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/HealthBotPropertiesTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/HealthBotUpdateParametersTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/OperationDetailInnerTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/OperationDisplayTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/OperationsListMockTests.java
  sdk/healthbot/azure-resourcemanager-healthbot/src/test/java/com/azure/resourcemanager/healthbot/generated/SkuTests.java
Labels: Mgmt - Track 2

#42257 Increment versions for healthbot releases
  eng/versioning/version_client.txt
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
Labels: Mgmt

#42259 Increment versions for alertsmanagement releases
  eng/versioning/version_client.txt
  sdk/alertsmanagement/azure-resourcemanager-alertsmanagement/CHANGELOG.md
  sdk/alertsmanagement/azure-resourcemanager-alertsmanagement/pom.xml
Labels: Mgmt

#42260 Increment versions for labservices releases
  eng/versioning/version_client.txt
  sdk/labservices/azure-resourcemanager-labservices/CHANGELOG.md
  sdk/labservices/azure-resourcemanager-labservices/pom.xml
Labels: Mgmt

#42261 Increment versions for extendedlocation releases
  eng/versioning/version_client.txt
  sdk/extendedlocation/azure-resourcemanager-extendedlocation/CHANGELOG.md
  sdk/extendedlocation/azure-resourcemanager-extendedlocation/pom.xml
Labels: Mgmt

#42262 Increment versions for automation releases
  eng/versioning/version_client.txt
  sdk/automation/azure-resourcemanager-automation/CHANGELOG.md
  sdk/automation/azure-resourcemanager-automation/pom.xml
Labels: Mgmt

#42263 Increment versions for automanage releases
  eng/versioning/version_client.txt
  sdk/automanage/azure-resourcemanager-automanage/CHANGELOG.md
  sdk/automanage/azure-resourcemanager-automanage/pom.xml
Labels: Mgmt

#42258 Increment versions for dnsresolver releases
  eng/versioning/version_client.txt
  sdk/dnsresolver/azure-resourcemanager-dnsresolver/CHANGELOG.md
  sdk/dnsresolver/azure-resourcemanager-dnsresolver/pom.xml
Labels: Mgmt

#42244 Allow duplicate uniqueKeyPolicy in DocumentCollection - Part 2
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/DocumentCollectionTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/JsonSerializable.java
Labels: Cosmos

#42270 release4.64.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#42279 Updated 4.63.2 CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#42280 update azure-cosmos-spark_3-4_2-12
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
Labels: Cosmos

#42267 Increment versions for mgmt dns releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager-dns/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-dns/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#42292 Increment versions for hybridcompute releases
  eng/versioning/version_client.txt
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/pom.xml
Labels: Mgmt

#42293 Fix password generation mode for live test of MongoCluster
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/test/java/com/azure/resourcemanager/mongocluster/MongoClusterManagerTests.java
Labels: Mgmt

#42294 Increment versions for relay releases
  eng/versioning/version_client.txt
  sdk/relay/azure-resourcemanager-relay/CHANGELOG.md
  sdk/relay/azure-resourcemanager-relay/pom.xml
Labels: Mgmt

#42286 mgmt, servicefabricmanagedclusters, add live tests
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/pom.xml
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/src/test/java/com/azure/resourcemanager/servicefabricmanagedclusters/ServiceFabricManagedClustersManagerTests.java
  sdk/servicefabricmanagedclusters/test-resources.bicep
  sdk/servicefabricmanagedclusters/tests.mgmt.yml
Labels: Mgmt

#42277 Sync eng/common directory with azure-sdk-tools for PR 9102
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#42299 Update ImageAnalysis SDK to stable version 1.0.0
  eng/versioning/version_client.txt
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
Labels: Image Analysis

#42300 GetProperties Blob Performance Test
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/App.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/GetPropertiesTest.java
Labels: Storage

#42295 mgmt, update data boundary 2024-08
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/DataBoundariesManagementClientImpl.java
Labels: Mgmt

#42297 mgmt, mongocluster, update commit ID after 0.61
  sdk/mongocluster/azure-resourcemanager-mongocluster/README.md
  sdk/mongocluster/azure-resourcemanager-mongocluster/pom.xml
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/test/java/com/azure/resourcemanager/mongocluster/MongoClusterManagerTests.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/tsp-location.yaml
Labels: Mgmt

#42290 Merge to main after spring cloud azure 5.17.1 released
  sdk/spring/CHANGELOG.md
  sdk/spring/README.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/README.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-docker-compose/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-testcontainers/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#42264 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#42302 [Automation] Generate SDK based on TypeSpec 0.22.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/models/ManagedServiceIdentityType.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/ManagedServiceIdentityType.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolUpdateTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsCreateOrUpdateMockTests.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/test/java/com/azure/resourcemanager/devopsinfrastructure/generated/PoolsListByResourceGroupMockTests.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/models/LivenessResponseBody.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/models/ManagedServiceIdentityType.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/test/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesCreateMockTests.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/test/java/com/azure/resourcemanager/healthdataaiservices/generated/DeidServicesGetByResourceGroupWithResponseMockTests.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/test/java/com/azure/resourcemanager/healthdataaiservices/generated/ManagedServiceIdentityTests.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Resource.java
Labels: DPG

#42320 Increment versions for policyinsights releases
  eng/versioning/version_client.txt
  sdk/policyinsights/azure-resourcemanager-policyinsights/CHANGELOG.md
  sdk/policyinsights/azure-resourcemanager-policyinsights/pom.xml
Labels: Mgmt

#42322 Increment versions for advisor releases
  eng/versioning/version_client.txt
  sdk/advisor/azure-resourcemanager-advisor/CHANGELOG.md
  sdk/advisor/azure-resourcemanager-advisor/pom.xml
Labels: Mgmt

#42323 Increment versions for attestation releases
  eng/versioning/version_client.txt
  sdk/attestation/azure-resourcemanager-attestation/CHANGELOG.md
  sdk/attestation/azure-resourcemanager-attestation/pom.xml
Labels: Mgmt

#42321 Increment versions for networkfunction releases
  eng/versioning/version_client.txt
  sdk/networkfunction/azure-resourcemanager-networkfunction/CHANGELOG.md
  sdk/networkfunction/azure-resourcemanager-networkfunction/pom.xml
Labels: Mgmt

#42324 Increment versions for azurearcdata releases
  eng/versioning/version_client.txt
  sdk/azurearcdata/azure-resourcemanager-azurearcdata/CHANGELOG.md
  sdk/azurearcdata/azure-resourcemanager-azurearcdata/pom.xml
Labels: Mgmt

#42325 Increment versions for billingbenefits releases
  eng/versioning/version_client.txt
  sdk/billingbenefits/azure-resourcemanager-billingbenefits/CHANGELOG.md
  sdk/billingbenefits/azure-resourcemanager-billingbenefits/pom.xml
Labels: Mgmt

#42326 Increment versions for education releases
  eng/versioning/version_client.txt
  sdk/education/azure-resourcemanager-education/CHANGELOG.md
  sdk/education/azure-resourcemanager-education/pom.xml
Labels: Mgmt

#42327 Increment versions for securityinsights releases
  eng/versioning/version_client.txt
  sdk/securityinsights/azure-resourcemanager-securityinsights/CHANGELOG.md
  sdk/securityinsights/azure-resourcemanager-securityinsights/pom.xml
Labels: Mgmt

#42328 eng, healthinsights, config batch release
  sdk/healthinsights/ci.yml
Labels: Cognitive - Health Insights

#42289 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#42284 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Labels: Event Grid, Mgmt, azure-spring

#42240 Remove package info
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/SpringMonitorTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/AzureSpringMonitorAutoConfiguration.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/OTelVersion.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/OpenTelemetryVersionCheckRunner.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/WrongConnectionStringException.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/package-info.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/OTelVersionTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/SpringContextTest.java
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/SpringMonitorPropertyFileTest.java
Labels: azure-spring

#41841 Setup clientcore perf pipeline
  sdk/clientcore/ci.yml
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/ContextJavaDocCodeSnippets.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/models/SocketConnectionCacheTest.java
  sdk/clientcore/http-stress/README.md
  sdk/clientcore/perf-resources.bicep
  sdk/clientcore/perf-tests.yml
  sdk/clientcore/perf.yml
Labels: clientcore

#41682 Blob async rework part 2
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/AzuriteTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceSasModelsTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobServiceVersionTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobInputOutputStreamTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BuilderHelperTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ImmutableStorageWithVersioningTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasAsyncClientTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/VersioningTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobAsyncApiTests.java
Labels: Storage

#41537 Removed direct jackson dependencies from azure cosmos and spark
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#42247 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
Labels: Storage, OpenTelemetry, clientcore

#42343 Fixing CHANGELOG.md of azure-cosmos 4.64.0
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#42155 Remove JsonCreator from DevCenter
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevBox.java
  sdk/devcenter/azure-developer-devcenter/src/main/java/com/azure/developer/devcenter/models/DevCenterEnvironment.java
Labels: DevCenter

#42347 Updated CHANGELOG to mention pre-backup and pre-restore
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
Labels: KeyVault

#42203 Move AccessController usage into its own utility
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/HeaderCollectionHandler.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessControllerUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtilsMethodHandle.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/HeaderCollectionHandler.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperFactory.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java
Labels: Azure.Core

#42348 Release azure-cosmos 4.63.4
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/GlobalPartitionEndpointManagerForCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PartitionLevelCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/SessionNotAvailableRetryTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/circuitBreaker/GlobalPartitionEndpointManagerForCircuitBreaker.java
  sdk/cosmos/live-platform-matrix.json
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#42345 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42351 Manually mock a few classes seen in test failures
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientRecoveryIsolatedTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorReceiverTest.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/ServiceBusReactorSessionTest.java
Labels: Service Bus

#42352 Release/jeet1995/azure cosmos 4.63.4
  eng/scripts/Save-Package-Namespaces-Property.ps1
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#42354 Align `KeyEncryptionKeyClientBuilder` with `CryptographyClientBuilder`
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientBuilder.java
Labels: KeyVault, Client

#42306 Set pool mode as servicebus jms default mode
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsPropertiesEnvironmentPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/spring.factories
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/AzureServiceBusJmsPropertiesEnvironmentPostProcessorTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/jms/ServiceBusJmsAutoConfigurationTests.java
Labels: azure-spring

#42355 Made `isChallengeResourceVerificationDisabled()` package-private
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
Labels: azure-spring

#42311 mgmt, computefleet, add live tests
  sdk/computefleet/azure-resourcemanager-computefleet/pom.xml
  sdk/computefleet/azure-resourcemanager-computefleet/src/test/java/com/azure/resourcemanager/computefleet/ComputeFleetManagerTests.java
  sdk/computefleet/test-resources.bicep
  sdk/computefleet/tests.mgmt.yml
Labels: Mgmt

#42356 mgmt, container group, add beginCreate
  sdk/resourcemanager/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-containerinstance/assets.json
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/implementation/ContainerGroupImpl.java
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/models/ContainerGroup.java
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/test/java/com/azure/resourcemanager/containerinstance/ContainerGroupTest.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Labels: Mgmt

#42357 Fix `EMBEDME_START_COMMENT` and `EMBEDME_START_COMMENT` for live test cases
  sdk/apicenter/azure-resourcemanager-apicenter/src/test/java/com/azure/resourcemanager/apicenter/ApiCenterManagerTests.java
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/src/test/java/com/azure/resourcemanager/applicationinsights/ApplicationInsightsManagerTests.java
  sdk/chaos/azure-resourcemanager-chaos/src/test/java/com/azure/resourcemanager/chaos/ChaosManagerTests.java
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/src/test/java/com/azure/resourcemanager/containerservicefleet/ContainerServiceFleetManagerTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/DashboardManagerTests.java
  sdk/deviceupdate/azure-resourcemanager-deviceupdate/src/test/java/com/azure/resourcemanager/deviceupdate/DeviceUpdateManagerTests.java
  sdk/devtestlabs/azure-resourcemanager-devtestlabs/src/test/java/com/azure/resourcemanager/devtestlabs/DevTestLabsManagerTests.java
  sdk/elasticsan/azure-resourcemanager-elasticsan/src/test/java/com/azure/resourcemanager/elasticsan/ElasticSanManagerTests.java
  sdk/frontdoor/azure-resourcemanager-frontdoor/src/test/java/com/azure/resourcemanager/frontdoor/FrontDoorManagerTests.java
  sdk/healthcareapis/azure-resourcemanager-healthcareapis/src/test/java/com/azure/resourcemanager/healthcareapis/HealthcareApisManagerTests.java
  sdk/imagebuilder/azure-resourcemanager-imagebuilder/src/test/java/com/azure/resourcemanager/imagebuilder/ImageBuilderManagerTests.java
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/src/test/java/com/azure/resourcemanager/iotfirmwaredefense/IoTFirmwareDefenseManagerTests.java
  sdk/kusto/azure-resourcemanager-kusto/src/test/java/com/azure/resourcemanager/kusto/KustoManagerTests.java
  sdk/loganalytics/azure-resourcemanager-loganalytics/src/test/java/com/azure/resourcemanager/loganalytics/LogAnalyticsManagerTests.java
  sdk/paloaltonetworks/azure-resourcemanager-paloaltonetworks-ngfw/src/test/java/com/azure/resourcemanager/paloaltonetworks/ngfw/PaloAltoNetworksNgfwManagerTests.java
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/src/test/java/com/azure/resourcemanager/servicefabricmanagedclusters/ServiceFabricManagedClustersManagerTests.java
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/src/test/java/com/azure/resourcemanager/servicenetworking/TrafficControllerManagerTests.java
  sdk/sphere/azure-resourcemanager-sphere/src/test/java/com/azure/resourcemanager/sphere/AzureSphereManagerTests.java
Labels: Mgmt

#42360 mgmt, support vm image version
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/GalleryImageVersionImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/GalleryImageVersion.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/SharedGalleryImageTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/assets.json
  sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/compute/samples/CreateVirtualMachineWithTrustedLaunchFromGalleryImage.java
  sdk/resourcemanager/azure-resourcemanager-samples/src/test/java/com/azure/resourcemanager/samples/ComputeSampleTests.java
Labels: Mgmt

#42353 ServiceBusSharedKeyCredential: Create a new HMAC object for each token acquisition, since sharing an HMAC is not thread-safe.
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusSharedKeyCredential.java
Labels: Service Bus

#42332 Fix issue updating UserMetadata in subscriptions..
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/assets.json
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/AdministrationModelConverter.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
Labels: Service Bus

#42365 [Service Bus]: Running prepare-release for October 2024 release
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#42358 adding getProperties perf test config to the pipeline yaml
  sdk/storage/azure-storage-blob/perf-tests.yml
  sdk/storage/azure-storage-blob/perf.yml
Labels: Storage

#42370 Changing Arguments to list format in perf-tests.yml for get-properties
  sdk/storage/azure-storage-blob/perf-tests.yml
Labels: Storage

#42374 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#42371 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#42369 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42368 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#42359 Update spring changelog
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#42399 Increment versions for powerbidedicated releases
  eng/versioning/version_client.txt
  sdk/powerbidedicated/azure-resourcemanager-powerbidedicated/CHANGELOG.md
  sdk/powerbidedicated/azure-resourcemanager-powerbidedicated/pom.xml
Labels: Mgmt

#42400 Increment versions for mariadb releases
  eng/versioning/version_client.txt
  sdk/mariadb/azure-resourcemanager-mariadb/CHANGELOG.md
  sdk/mariadb/azure-resourcemanager-mariadb/pom.xml
Labels: Mgmt

#42401 Increment versions for delegatednetwork releases
  eng/versioning/version_client.txt
  sdk/delegatednetwork/azure-resourcemanager-delegatednetwork/CHANGELOG.md
  sdk/delegatednetwork/azure-resourcemanager-delegatednetwork/pom.xml
Labels: Mgmt

#42403 Increment versions for storageimportexport releases
  eng/versioning/version_client.txt
  sdk/storageimportexport/azure-resourcemanager-storageimportexport/CHANGELOG.md
  sdk/storageimportexport/azure-resourcemanager-storageimportexport/pom.xml
Labels: Mgmt

#42405 Increment versions for logz releases
  eng/versioning/version_client.txt
  sdk/logz/azure-resourcemanager-logz/CHANGELOG.md
  sdk/logz/azure-resourcemanager-logz/pom.xml
Labels: Mgmt

#42404 [Automation] Generate Fluent Lite from TypeSpec fabric
  eng/versioning/version_client.txt
  sdk/fabric/azure-resourcemanager-fabric/CHANGELOG.md
  sdk/fabric/azure-resourcemanager-fabric/README.md
  sdk/fabric/azure-resourcemanager-fabric/pom.xml
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/FabricManager.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/fluent/FabricManagementClient.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/implementation/FabricCapacitiesClientImpl.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/implementation/FabricManagementClientBuilder.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/implementation/FabricManagementClientImpl.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/implementation/OperationsClientImpl.java
  sdk/fabric/azure-resourcemanager-fabric/tsp-location.yaml
Labels: Mgmt, Mgmt - Track 2

#42407 Increment versions for datamigration releases
  eng/versioning/version_client.txt
  sdk/datamigration/azure-resourcemanager-datamigration/CHANGELOG.md
  sdk/datamigration/azure-resourcemanager-datamigration/pom.xml
Labels: Mgmt

#42408 Increment versions for hanaonazure releases
  eng/versioning/version_client.txt
  sdk/hanaonazure/azure-resourcemanager-hanaonazure/CHANGELOG.md
  sdk/hanaonazure/azure-resourcemanager-hanaonazure/pom.xml
Labels: Mgmt

#42409 Increment versions for mixedreality releases
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-resourcemanager-mixedreality/CHANGELOG.md
  sdk/mixedreality/azure-resourcemanager-mixedreality/pom.xml
Labels: Mgmt

#42411 Increment versions for subscription releases
  eng/versioning/version_client.txt
  sdk/subscription/azure-resourcemanager-subscription/CHANGELOG.md
  sdk/subscription/azure-resourcemanager-subscription/pom.xml
Labels: Mgmt

#42410 Increment versions for peering releases
  eng/versioning/version_client.txt
  sdk/peering/azure-resourcemanager-peering/CHANGELOG.md
  sdk/peering/azure-resourcemanager-peering/pom.xml
Labels: Mgmt

#42413 Increment versions for vmwarecloudsimple releases
  eng/versioning/version_client.txt
  sdk/vmwarecloudsimple/azure-resourcemanager-vmwarecloudsimple/CHANGELOG.md
  sdk/vmwarecloudsimple/azure-resourcemanager-vmwarecloudsimple/pom.xml
Labels: Mgmt

#42414 Increment versions for hybridkubernetes releases
  eng/versioning/version_client.txt
  sdk/hybridkubernetes/azure-resourcemanager-hybridkubernetes/CHANGELOG.md
  sdk/hybridkubernetes/azure-resourcemanager-hybridkubernetes/pom.xml
Labels: Mgmt

#42415 Increment versions for fabric releases
  eng/versioning/version_client.txt
  sdk/fabric/azure-resourcemanager-fabric/CHANGELOG.md
  sdk/fabric/azure-resourcemanager-fabric/pom.xml
Labels: Mgmt

#42416 Increment versions for customerinsights releases
  eng/versioning/version_client.txt
  sdk/customerinsights/azure-resourcemanager-customerinsights/CHANGELOG.md
  sdk/customerinsights/azure-resourcemanager-customerinsights/pom.xml
Labels: Mgmt

#42417 Increment versions for purview releases
  eng/versioning/version_client.txt
  sdk/purview/azure-resourcemanager-purview/CHANGELOG.md
  sdk/purview/azure-resourcemanager-purview/pom.xml
Labels: Mgmt

#42421 Increment versions for logic releases
  eng/versioning/version_client.txt
  sdk/logic/azure-resourcemanager-logic/CHANGELOG.md
  sdk/logic/azure-resourcemanager-logic/pom.xml
Labels: Mgmt

#42420 Increment versions for appcontainers releases
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
Labels: Mgmt

#42423 Increment versions for containerservicefleet releases
  eng/versioning/version_client.txt
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/CHANGELOG.md
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/pom.xml
Labels: Mgmt

#42412 Increment versions for devspaces releases
  eng/versioning/version_client.txt
  sdk/devspaces/azure-resourcemanager-devspaces/CHANGELOG.md
  sdk/devspaces/azure-resourcemanager-devspaces/pom.xml
Labels: Mgmt

#42428 Increment versions for datalakeanalytics releases
  eng/versioning/version_client.txt
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/CHANGELOG.md
  sdk/datalakeanalytics/azure-resourcemanager-datalakeanalytics/pom.xml
Labels: Mgmt

#42364 Sync eng/common directory with azure-sdk-tools for PR 9177
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#42426 Increment versions for databoxedge releases
  eng/versioning/version_client.txt
  sdk/databoxedge/azure-resourcemanager-databoxedge/CHANGELOG.md
  sdk/databoxedge/azure-resourcemanager-databoxedge/pom.xml
Labels: Mgmt

#42425 Increment versions for datalakestore releases
  eng/versioning/version_client.txt
  sdk/datalakestore/azure-resourcemanager-datalakestore/CHANGELOG.md
  sdk/datalakestore/azure-resourcemanager-datalakestore/pom.xml
Labels: Mgmt

#42350 Blob Sync Test Coverage
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlockBlobInputOutputStreamTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKNTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/CPKTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SoftDeleteTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/AppendBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobSeekableByteChannelTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/LeaseApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/PageBlobApiTests.java
Labels: Storage

#42431 Increment package versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#42138 API changes for HttpLogOptions
  sdk/core/azure-core/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogDetailLevel.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLogOptions.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/UrlSanitizer.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java
  sdk/core/azure-core/src/samples/java/com/azure/core/http/policy/JavaDocCodeSnippets.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLogOptionsTest.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/HttpLoggingPolicyTests.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentityUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/useragent/http/IdentityUserAgentTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/converter/AzureHttpLogOptionsConverter.java
Labels: Azure.Core, Azure.Identity

#42433 Update a few dependencies
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/supported_external_dependency_versions.json
  sdk/aot/azure-aot-graalvm-support-netty/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/implementation/AzureJsonUtils.java
  sdk/core/azure-core-serializer-json-gson/src/main/java/com/azure/core/serializer/json/gson/implementation/GsonJsonReader.java
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/core/ci.yml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/clientcore-parent/pom.xml
  sdk/serialization/azure-json-gson/pom.xml
  sdk/serialization/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonReader.java
  sdk/serialization/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonWriter.java
  sdk/serialization/azure-json-reflect/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Event Hubs, Azure.Core, common, Azure.Identity, WebPubSub, graalvm

#42375 Updated versions after KV releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm

#42435 Update how get-properties perf test runs
  sdk/storage/azure-storage-blob/perf-tests.yml
  sdk/storage/azure-storage-blob/perf.yml
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/BlobPerfStressOptions.java
  sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/GetPropertiesTest.java
Labels: Storage

#42440 Prepare Tables October 2024 patch release
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#41968 Reapply "Blobs Sync Stack Migration (#40812)" (#41819)
  sdk/storage/azure-storage-blob/checkstyle-suppressions.xml
  sdk/storage/azure-storage-blob/spotbugs-exclude.xml
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ContainersImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/ServicesImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobConstants.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobLeaseClientBuilder.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlobBaseApiTests.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#42437 Deprecate config methods for removed cache configuration.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/IntelliJCredentialBuilder.java
Labels: Azure.Identity

#42441 Sync eng/common directory with azure-sdk-tools for PR 9181
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#42445 STG96 Beta Release
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#42449 Update Spring property description
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/properties/AzureServiceBusProperties.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/properties/ProcessorProperties.java
Labels: azure-spring
