Repository Azure/azure-sdk-for-java, pull requests merged in 2024-05, with the labels that each got.

#39985 Service Bus Readme: correcting the readme link to the source-code
  sdk/servicebus/azure-messaging-servicebus/README.md
Labels: Service Bus

#39983 Increment versions for devcenter releases
  eng/versioning/version_client.txt
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/pom.xml
Labels: DevCenter

#39979 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, Mgmt, Azure.Identity, graalvm

#39984 Increment version for communication releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: common, Communication - Call Automation

#38860 Add global thread pool concept to azure-core
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ImplUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/ConfigurationProperty.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/CoreUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/SharedExecutorService.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollingUtil.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/ImplUtilsSecurityIT.java
Labels: Azure.Core

#39835 Support ResponseBodyMode and deserialize SSE data values
  sdk/client-core/core/pom.xml
  sdk/client-core/core/src/main/java/io/clientcore/core/http/client/DefaultHttpClient.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/ServerSentEvent.java
  sdk/client-core/core/src/main/java/io/clientcore/core/http/models/ServerSentEventListener.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyBase.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/util/ServerSentEventHelper.java
  sdk/client-core/core/src/main/java/io/clientcore/core/util/ServerSentEventUtils.java
  sdk/client-core/core/src/main/java/io/clientcore/core/util/ServerSentResult.java
  sdk/client-core/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/client-core/http-jdk-httpclient/pom.xml
  sdk/client-core/http-jdk-httpclient/src/main/java/io/clientcore/http/jdk/httpclient/JdkHttpClient.java
  sdk/client-core/http-okhttp3/pom.xml
  sdk/client-core/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClient.java
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: client-core

#39872 Search May 2024 Preview Regen
  .vscode/cspell.json
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchAsyncClient.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/SearchRequest.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/models/VectorQueryKind.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/SearchableField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AIServicesVisionParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AIServicesVisionVectorizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AIStudioModelCatalogName.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AMLParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AMLVectorizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AzureOpenAIEmbeddingSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AzureOpenAIModelName.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AzureOpenAIParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchField.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchFieldDataType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerDataSourceType.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchIndexerSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchResourceEncryptionKey.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchServiceLimits.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorEncodingFormat.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchAlgorithmMetric.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchVectorizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchVectorizerKind.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VisionVectorizeSkill.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/HybridCountAndFacetMode.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/HybridSearch.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchOptions.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/SearchScoreThreshold.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorSimilarityThreshold.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorThreshold.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorThresholdKind.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizableImageBinaryQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizableImageUrlQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizableTextQuery.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/models/VectorizedQuery.java
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/codesnippets/SearchClientJavaDocSnippets.java
  sdk/search/azure-search-documents/swagger/README.md
  sdk/search/azure-search-documents/swagger/Update-Codegeneration.ps1
  sdk/search/azure-search-documents/swagger/src/main/java/SearchIndexCustomizations.java
  sdk/search/azure-search-documents/swagger/src/main/java/SearchServiceCustomizations.java
Labels: Search

#39915 Fix test iteration bug
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/attestation/azure-security-attestation/src/test/java/com/azure/security/attestation/AttestationClientTestBase.java
  sdk/core/azure-core-test/checkstyle-suppressions.xml
  sdk/core/azure-core-test/spotbugs-exclude.xml
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/AzureTestWatcher.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestContextManager.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/TestProxyTestBase.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/ThreadDumper.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/DoNotRecord.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/LiveOnly.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/PlaybackOnly.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestIterationContext.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/implementation/TestingHelpers.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/junitextensions/LiveOnlyExtension.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/junitextensions/PlaybackOnlyExtension.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/junitextensions/TestContextManagerParameterResolver.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/junitextensions/package-info.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java
  sdk/core/azure-core-test/src/main/java/module-info.java
  sdk/core/azure-core-test/src/main/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/FakeTestClass.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/TestContextManagerTests.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/implementation/MockExtensionContext.java
  sdk/core/azure-core-test/src/test/java/com/azure/core/test/policy/RecordNetworkCallPolicyTests.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/IntegrationTestBase.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AppConfigurationExporterIntegrationTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/EventHubsExporterIntegrationTest.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/microsoft-azure-storage-blob/pom.xml
Labels: Container Registry, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Mgmt, EngSys, App Configuration, Azure.Core, Azure.Identity, Tables, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Personalizer, azure-spring, Attestation, Cognitive - Metrics Advisor, Remote Rendering, Digital Twins, graalvm, OpenTelemetry, Communication - Calling Server, Communication - Chat, Communication - Common, Communication - Identity, Communication - Network Traversal, Communication - Phone Numbers, Communication - SMS, Azure SDK Tools, DevCenter, Azure.Core.AMQP, Azure Quantum, Communication - Rooms, Mixed Reality Authentication, Models Repository, Communication - Call Automation, OpenAI, Image Analysis, Load Testing

#39973 createMetadataContainerIfNotExistsForMasterKeyAuth
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosConnectContainer.java
Labels: Cosmos

#39992 Kafka1.0.0-beta.2Release
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
Labels: Cosmos

#39998 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
Labels: Cosmos

#40004 [Cosmos][VectorIndex]Adding changes for vectorIndex and vectorEmbeddingPolicy
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/VectorIndexTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CompositePath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorDataType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorDistanceFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorEmbedding.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorEmbeddingPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexSpec.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
Labels: Cosmos

#39994 Ensure Service Bus session idle timeout fall back to retry-options::try-timeout
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SessionsMessagePump.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/IntegrationTestBase.java
Labels: Service Bus

#40002 Added Alpha3 Java Media Streaming Events
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationEventParser.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStatus.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStatusDetails.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MediaStreamingUpdate.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStatus.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStatusDetails.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingUpdate.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationEventParserAndProcessorUnitTests.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#40012 Sync .github/workflows directory with azure-sdk-tools for PR 8193
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#40006 Prepare May 2024 Identity Release
  eng/versioning/version_client.txt
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/openai/azure-ai-openai/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-catalog/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/purview/azure-analytics-purview-workflow/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/README.md
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Event Hubs, Monitor, Service Bus, Mgmt, Azure.Identity, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Metrics Advisor, OpenAI

#40014 Prepare Identity Broker May 2024 Release
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/pom.xml
Labels: Azure.Identity

#40005 FixFaultInjectionRuleFailedToApplyPerPartitionInGatewayMode
  sdk/cosmos/azure-cosmos-kafka-connect/doc/configuration-reference.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnGatewayTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/GatewayServerErrorInjector.java
Labels: Cosmos

#40021 azure-cosmos-test_1.0.0.beta.7Release
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
Labels: Cosmos

#40022 Fixed existsById API in ReactiveCosmosTemplate
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/ReactiveUUIDIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveLongIdDomainPartitionPartitionRepositoryIT.java
Labels: azure-spring

#40029 [ACS][Callautomation] Skip Recorded test and delete Event record until test proxy to work with event recordings
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallDialogAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/dialogActionInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/session-records/playMediaInACallAutomatedTest.json
Labels: Communication - Call Automation

#39962 ServiceBus: fix session tracing
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTrace.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxTraceV2.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusAsyncConsumer.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverAsyncClient.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSingleSessionManager.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SessionsMessagePump.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/TracingFluxOperator.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentation.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusTracer.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/TracingIntegrationTests.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/implementation/instrumentation/ServiceBusReceiverInstrumentationTests.java
Labels: Service Bus

#40048 [Automation] Generate SDK based on TypeSpec 0.15.15
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/models/FunctionCallPreset.java
Labels: DPG

#40049 [CODEOWNERS] Updates for org changes
  .github/CODEOWNERS
  .github/CODEOWNERS_baseline_errors.txt
Labels: EngSys, Client

#40050 Ported fix of existsByID API to SB3
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplateIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/ReactiveUUIDIdDomainRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveLongIdDomainPartitionPartitionRepositoryIT.java
Labels: azure-spring

#39744 Move from using the docker image to java2docfx for docs validation
  eng/pipelines/docindex.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
  eng/pipelines/templates/steps/install-rex-validation-tool.yml
  eng/repo-docs/docms/daily.update.setting.xml
  eng/scripts/Language-Settings.ps1
  eng/scripts/docs/java2docfx.version.txt
Labels: Docs, Central-EngSys

#40053 Fix null pointer exception and context usage
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/implementation/Utility.java
Labels: App Configuration

#40056 Rename AML to AzureMachineLearning
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AzureMachineLearningParameters.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/AzureMachineLearningVectorizer.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchServiceLimits.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchVectorizer.java
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search

#40037 Fixed the Key Vault `test-resources.json` file to properly configure its deployment script for certificate creation
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client, test-reliability

#40052 Close response body in bearer policy
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RedirectPolicy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/PolicyConsumesResponseBodyTest.java
Labels: Azure.Core

#40058 Running Prepare-Release for azure-messaging-servicebus 7.17.0 (May-2024 release)
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#39963 mgmt, TypeSpec code generation pipeline
  eng/mgmt/automation/generation.yml
  eng/mgmt/automation/generation_data.yml
Labels: Mgmt

#40031 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
Labels: Cosmos

#40069 Add reduced embeddings sample to azure-search-documents
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/VectorSearchReducedEmbeddings.java
Labels: Search

#40057 Search May Preview Regen Updates
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/util/FieldBuilder.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchServiceLimits.java
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/VectorSearchVectorizer.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/indexes/FieldBuilderTests.java
Labels: Search

#40071 Preparing Search May 2024 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#39552 Miscellaneous Core performance improvements
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/JdkHttpUtils.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponseBase.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/Utility.java
  sdk/core/azure-core/spotbugs-exclude.xml
  sdk/core/azure-core/src/main/java/com/azure/core/http/HttpHeaders.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/AsyncRestProxy.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/SwaggerMethodParser.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/HttpHeadersAccessHelper.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/SerializerEncoding.java
Labels: Azure.Core

#40072 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#40086 [Dependency Update] io.fabric8:kubernetes-client
  eng/versioning/external_dependencies.txt
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
Labels: Mgmt

#39837 [clientcore] Logging with optional slf4j
  sdk/client-core/core/pom.xml
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/util/DefaultLogger.java
  sdk/client-core/core/src/main/java/io/clientcore/core/implementation/util/Slf4jLoggerShim.java
  sdk/client-core/core/src/main/java/io/clientcore/core/util/ClientLogger.java
  sdk/client-core/core/src/main/java/module-info.java
  sdk/client-core/core/src/test/java/io/clientcore/core/util/ClientLoggerTests.java
  sdk/client-core/http-stress/pom.xml
Labels: Client, client-core

#40094 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#39960 Emit stable auto-instrumented otel metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/MetricDataMapper.java
Labels: OpenTelemetry

#39878 [Key Vault] Added support for `/prerestore` and `/prebackup` endpoints in Backup clients
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/assets.json
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAdministrationServiceVersion.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupClient.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/KeyVaultBackupClientImpl.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/PreBackupOperationParameters.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/PreFullBackupHeaders.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/PreFullRestoreOperationHeaders.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/models/PreRestoreOperationParameters.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/package-info.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/ReadmeSamples.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultBackupAsyncClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/codesnippets/KeyVaultBackupClientJavaDocCodeSnippets.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultAccessControlClientTestBase.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupClientTest.java
  sdk/keyvault/azure-security-keyvault-administration/src/test/java/com/azure/security/keyvault/administration/KeyVaultBackupClientTestBase.java
  sdk/keyvault/azure-security-keyvault-administration/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-certificates/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateServiceVersion.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/CertificateClientTest.java
  sdk/keyvault/azure-security-keyvault-certificates/src/test/java/com/azure/security/keyvault/certificates/FakeCredentialsForTests.java
  sdk/keyvault/azure-security-keyvault-certificates/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-keys/assets.json
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/LifetimeActionsType.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyRotationPolicyAction.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/KeyClientTest.java
  sdk/keyvault/azure-security-keyvault-keys/swagger/autorest.md
  sdk/keyvault/azure-security-keyvault-secrets/assets.json
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretServiceVersion.java
  sdk/keyvault/azure-security-keyvault-secrets/swagger/autorest.md
Labels: KeyVault, Client

#40098 [Cosmos][VectorSearch] Non Streaming Order By Query
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
Labels: Container Registry, Cosmos, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Mgmt, App Configuration, Azure.Core, azure-spring, Attestation, Digital Twins, OpenTelemetry, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Azure Quantum, Communication - Rooms, Communication - Call Automation, OpenAI, Image Analysis

#40099 Fix template name
  eng/pipelines/docindex.yml
Labels: Docs

#40076 core mgmt, `SubResource` implements `JsonSerializable` to support azure-json
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/SubResource.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/ResourceTests.java
Labels: Mgmt, Azure.Core

#40105 Update spring-reference and sync changelog
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/spring-reference.yml
Labels: azure-spring

#40017 Support per-call response timeout in all HttpClient implementations
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClient.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/JdkHttpClientBuilder.java
  sdk/core/azure-core-http-jdk-httpclient/src/main/java/com/azure/core/http/jdk/httpclient/implementation/AzureJdkHttpRequest.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/JdkHttpClientLocalTestServer.java
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/JdkHttpClientTests.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/NettyHttpClientLocalTestServer.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/PerCallTimeoutCall.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/ResponseTimeoutListener.java
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/implementation/ResponseTimeoutListenerFactory.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpClientLocalTestServer.java
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-http-vertx/spotbugs-exclude.xml
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClient.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxAsyncHttpClientProvider.java
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/implementation/VertxRequestWriteSubscriber.java
  sdk/core/azure-core-http-vertx/src/samples/java/com/azure/core/http/vertx/VertxHttpClientBuilderJavaDocCodeSnippets.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxAsyncHttpClientBuilderTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxAsyncHttpClientProviderTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxAsyncHttpClientTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxHttpClientLocalTestServer.java
  sdk/core/azure-core-test/src/main/java/com/azure/core/test/http/HttpClientTests.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/rest/RestProxyBase.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/HttpUtils.java
  sdk/core/azure-core/src/main/java/com/azure/core/util/HttpClientOptions.java
Labels: Azure.Core, HttpClient

#40112 Change how JavaType is resolved to support JsonSerializable better
  sdk/core/azure-core-serializer-json-jackson/src/main/java/com/azure/core/serializer/json/jackson/implementation/ObjectMapperShim.java
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperShim.java
Labels: Azure.Core

#40118 Users/akataria/non streaming order by
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
Labels: Cosmos, Service Bus

#40121 [Automation] Generate SDK based on TypeSpec 0.15.16
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/fluent/models/OperationInner.java
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/models/ActionType.java
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/models/Operation.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/fluent/models/OperationInner.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/models/ActionType.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/models/Operation.java
Labels: DPG

#40126 [Automation] Generate SDK based on TypeSpec 0.15.17
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Annotation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Condition.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ConditionStage.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ContactDetail.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ContactPoint.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4DomainResource.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Narrative.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4Observation.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ObservationComponent.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ObservationReferenceRange.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/FhirR4ResearchStudy.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ResearchStudyArm.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/java/com/azure/health/insights/radiologyinsights/models/ResearchStudyObjective.java
Labels: DPG

#40130 [Automation] Generate SDK based on TypeSpec 0.15.18
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/contentsafety/azure-ai-contentsafety/src/main/resources/META-INF/azure-ai-contentsafety_apiview_properties.json
  sdk/contentsafety/azure-ai-contentsafety/tsp-location.yaml
  sdk/documentintelligence/azure-ai-documentintelligence/src/main/resources/META-INF/azure-ai-documentintelligence_apiview_properties.json
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: DPG

#39511 Standalone, library-specific RevApi suppression support
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-file-share/revapi-suppressions.json
  sdk/tables/azure-data-tables/pom.xml
  sdk/tables/azure-data-tables/revapi-suppressions.json
Labels: Azure.Core, Tables

#40136 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, azure-spring, OpenTelemetry

#40028 GA Changes
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/FileSmbProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/FileSmbPropertiesHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileDownloadResponse.java
  sdk/storage/azure-storage-file-share/src/main/java/module-info.java
Labels: Storage

#40134 Change azure-core-http-netty Netty versions log message
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyAsyncHttpResponse.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NettyUtility.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/NettyUtilityTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/UtilityTests.java
Labels: Azure.Core

#40138 Simplify XmlSerializable interface
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionSerializable.java
  sdk/serialization/azure-xml/src/main/java/com/azure/xml/XmlSerializable.java
Labels: Azure.Core

#40139 Regenerate XML libraries with latest version of Autorest
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/DirectoriesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/FilesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/CopyFileSmbInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/DestinationLeaseAccessConditions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FileProperty.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SharePermission.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/ShareSignedIdentifierWrapper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/ShareStats.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SourceLeaseAccessConditions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareCorsRule.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileHttpHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareRetentionPolicy.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/SourceModifiedAccessConditions.java
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/PeekedMessageItemInternalWrapper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueueMessageItemInternal.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueueMessageItemInternalWrapper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueueSignedIdentifierWrapper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/SendMessageResultWrapper.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/GeoReplication.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueCorsRule.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueRetentionPolicy.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/SendMessageResult.java
  sdk/storage/azure-storage-queue/swagger/README.md
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesImpl.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/CorsRule.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/GeoReplication.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/QueryOptions.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/RetentionPolicy.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/SignedIdentifierWrapper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableEntityQueryResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableProperties.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableQueryResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableResponse.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableResponseProperties.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableServiceJsonError.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableServiceOdataError.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/models/TableServiceOdataErrorMessage.java
  sdk/tables/azure-data-tables/swagger/README.md
Labels: Storage, Tables

#40142 Increment versions for keyvault releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
Labels: Cosmos, KeyVault, Storage, Mgmt, Azure.Core, common, Azure.Identity, azure-spring, graalvm

#40145 mgmt, policy definition, support mode and metadata
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/PolicyDefinitionImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/PolicyDefinition.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/PolicyTests.java
Labels: Mgmt

#40150 Remove azure-core-test dependency from Spring Monitor tests
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
Labels: azure-spring

#40148 Replace ClientLogger by SLF4J in Spring Monitor
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/AzureSpringMonitorAutoConfig.java
Labels: azure-spring

#40154 Regenerate ServiceBus Admin with source version of Autorest
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/EntitiesImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/ServiceBusManagementClientImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/AuthorizationRuleImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/CorrelationFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/EmptyRuleActionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/FalseFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/NamespacePropertiesEntryContentImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/NamespacePropertiesEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionEntryContentImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleActionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionEntryContentImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/RuleFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SqlFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SqlRuleActionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionEntryContentImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionEntryContentImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionEntryImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionFeedImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TrueFilterImpl.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
  sdk/servicebus/azure-messaging-servicebus/swagger/src/main/java/AdministrationClientCustomization.java
Labels: Service Bus

#40162 Users/akataria/non streaming order by
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/NonStreamingOrderByUtils.java
Labels: Cosmos, Service Bus

#40083 Fixing Annotated Query select * with no where but with a sort.
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/NativeQueryGenerator.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
Labels: azure-spring

#38740 Change feed mode switch error handling
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/BootstrapperImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/PkRangeIdVersionLeasesBootstrapperImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/LeaseStoreManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/ChangeFeedProcessorImplBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PkRangeIdVersionLeaseStoreBootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/IncrementalChangeFeedProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/LeaseStoreManagerImpl.java
Labels: Cosmos

#40165 Fixing Annotated Query select * with no where but with a sort. (#40083)
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/NativeQueryGenerator.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AnnotatedQueryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java
Labels: azure-spring

#40169 Sync eng/common directory with azure-sdk-tools for PR 8268
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Labels: EngSys, Central-EngSys

#40160 More GA Changes
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/options/ReadToFileOptions.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileAsyncClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/DataLakeFileClientJavaDocSamples.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/main/java/module-info.java
Labels: Storage

#40119 Sync eng/common directory with azure-sdk-tools for PR 8249
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#40184 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#39379 [Cosmos][VectorIndex]Adding changes for vectorIndex and vectorEmbeddingPolicy
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/VectorIndexTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CompositePath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosContainerProperties.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorDataType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorDistanceFunction.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorEmbedding.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorEmbeddingPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexSpec.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosVectorIndexType.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java
Labels: Cosmos

#40185 STG93 GA Release 2024-05-15
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#40179 Updating scala external dependency to support Java 21 class files
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
Labels: Cosmos

#40172 Added support for providing a custom login URI to get access tokens from via the system property `azure.login.uri`
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultLoadStoreParameter.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/certificates/KeyVaultCertificates.java
  sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/implementation/KeyVaultClientTest.java
Labels: KeyVault, Client, azure-spring-jca

#40194 Increment versions for security releases
  eng/versioning/version_client.txt
  sdk/security/azure-resourcemanager-security/CHANGELOG.md
  sdk/security/azure-resourcemanager-security/pom.xml
Labels: Mgmt

#40191 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#40190 Fix issue where response headers would be logged twice
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java
Labels: Client, Azure.Core

#40199 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#40181 Sync eng/common directory with azure-sdk-tools for PR 8216
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#40206 Updating changelog.
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
Labels: azure-spring

#40110 Added beta4 media streaming apis.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMedia.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AzureBlobContainerRecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AzureCommunicationsRecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallConnectionProperties.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/RecordingStorage.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartMediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StopMediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TransferCallResult.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaUnitTests.java
Labels: Communication - Call Automation

#40202 Sync eng/common directory with azure-sdk-tools for PR 8267
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#40204 Query methods issue with no criteria bug fix for Spring JPA Keywords …
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CosmosQuery.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/AddressRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/AddressRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveCourseRepository.java
Labels: azure-spring

#40208 Batch: Add Changelog for Data Plane
  sdk/batch/azure-compute-batch/CHANGELOG.md
Labels: Batch

#40212 STG93 GA Release with Release Dates for Changefeed and Blob-Nio
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
Labels: Storage

#40218 Sync eng/common directory with azure-sdk-tools for PR 8277
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#40207 Sync eng/common directory with azure-sdk-tools for PR 8270
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#40201 mgmt, add extra retry for Function App on ACA
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appservice/assets.json
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/FunctionAppImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/HostnameBindingImpl.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/RetryUtils.java
  sdk/resourcemanager/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/FunctionAppsTests.java
Labels: Mgmt

#40200 Increment versions for azure-resourcemanager-sql premiun preview release
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#40232 Increment versions for containerservicefleet releases
  eng/versioning/version_client.txt
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/CHANGELOG.md
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/pom.xml
Labels: Mgmt

#40240 Sync eng/common directory with azure-sdk-tools for PR 8288
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#40238 Sync eng/common directory with azure-sdk-tools for PR 8283
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#40242 Remove usage of azure-sdk-docs-prod-sas
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: Docs

#40155 Fix errant warnings in azure-core-http-okhttp
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientHttpClientTests.java
Labels: Azure.Core

#39618 Mark java package as shipped in APIView
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release.yml
Labels: Central-EngSys

#40221 Increment versions for batch releases
  eng/versioning/version_client.txt
  sdk/batch/azure-compute-batch/CHANGELOG.md
  sdk/batch/azure-compute-batch/pom.xml
Labels: Batch

#39905 Sync eng/common directory with azure-sdk-tools for PR 8157
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#40219 Increment versions for storage releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-trace-sleuth/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Batch, Event Grid, Event Hubs, KeyVault, Storage, Mgmt, common, Azure.Identity, azure-spring, graalvm, Azure Quantum

#40245 Sync eng/common directory with azure-sdk-tools for PR 8295
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#39897 [Cosmos][VectorSearch] Non Streaming Order By Query
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/NonStreamingOrderByQueryVectorSearchTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosQueryRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextFactory.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/NonStreamingOrderByBadRequestException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/NonStreamingOrderByDocumentProducer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/NonStreamingOrderByDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/NonStreamingOrderByUtils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryFeature.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java
  sdk/cosmos/test-resources.json
Labels: Cosmos

#40247 Updated azure-cosmos release version to 4.60.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#40251 Increment versions for maintenance releases
  eng/versioning/version_client.txt
  sdk/maintenance/azure-resourcemanager-maintenance/CHANGELOG.md
  sdk/maintenance/azure-resourcemanager-maintenance/pom.xml
Labels: Mgmt

#40259 Increment versions for nginx releases
  eng/versioning/version_client.txt
  sdk/nginx/azure-resourcemanager-nginx/CHANGELOG.md
  sdk/nginx/azure-resourcemanager-nginx/pom.xml
Labels: Mgmt

#40262 Increment versions for storagecache releases
  eng/versioning/version_client.txt
  sdk/storagecache/azure-resourcemanager-storagecache/CHANGELOG.md
  sdk/storagecache/azure-resourcemanager-storagecache/pom.xml
Labels: Mgmt

#40269 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/aot/azure-aot-graalvm-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring, graalvm

#40265 Increment versions for recoveryservices releases
  eng/versioning/version_client.txt
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Labels: Mgmt

#40270 Updated azure-cosmos-spark release versions
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#40274 Increment versions after Service Bus 7.18.0-beta.1 release
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#40276 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#40253 mgmt, add new region `Israel Central`
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java
Labels: Azure.Core

#40280 [Automation] Generate Fluent Lite from Swagger help#package-2024-03-01-preview
  sdk/selfhelp/azure-resourcemanager-selfhelp/CHANGELOG.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/README.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/SAMPLE.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/pom.xml
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/SelfHelpManager.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/fluent/DiscoverySolutionNlpSubscriptionScopesClient.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/fluent/HelpRP.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/DiscoverySolutionNlpSubscriptionScopesClientImpl.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/DiscoverySolutionNlpSubscriptionScopesImpl.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/HelpRPBuilder.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/implementation/HelpRPImpl.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/main/java/com/azure/resourcemanager/selfhelp/models/DiscoverySolutionNlpSubscriptionScopes.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/samples/java/com/azure/resourcemanager/selfhelp/generated/DiscoverySolutionNlpSubscriptionScopePostSamples.java
  sdk/selfhelp/azure-resourcemanager-selfhelp/src/test/java/com/azure/resourcemanager/selfhelp/generated/DiscoverySolutionNlpSubscriptionScopesPostWithResponseMockTests.java
Labels: Mgmt - Track 2

#40281 Increment versions for selfhelp releases
  eng/versioning/version_client.txt
  sdk/selfhelp/azure-resourcemanager-selfhelp/CHANGELOG.md
  sdk/selfhelp/azure-resourcemanager-selfhelp/pom.xml
Labels: Mgmt

#40261 mgmt, add storage scope for auth
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/utils/ResourceManagerUtils.java
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/src/test/java/com/azure/resourcemanager/storage/StorageBlobContainersTests.java
Labels: Mgmt

#40275 Adds support for geo-dr
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStoreTests.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/MetricsHelperTests.java
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/jedis/JedisCheckpointStoreSample.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/SystemProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ManagementChannel.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/Checkpoint.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/LastEnqueuedEventProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubMessageSerializerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventPositionIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientBuilderTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventProcessorClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/InteropAmqpPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionPumpManagerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SystemPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSessionTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/models/EventBatchContextTest.java
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/checkpoint/BatchCheckpointManager.java
Labels: Event Hubs, Azure.Core.AMQP

#40284 beta4 hold options update.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMedia.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/HoldOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaUnitTests.java
Labels: Communication - Call Automation

#40286 Added beta4 AnsweredFor pstn
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallConnectionProperties.java
Labels: Communication - Call Automation

#40267 Added beta4 recognize prompt list.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallMediaRecognizeOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncUnitTests.java
Labels: Communication - Call Automation

#40294 Fix linting issues.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/test/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStoreTests.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
Labels: Event Hubs

#40272 fixStackOverflowErrorWhenSerializingCosmosDiagnostics
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestRecord.java
Labels: Cosmos

#40244 Sync eng/common directory with azure-sdk-tools for PR 8294
  eng/common/testproxy/target_version.txt
  eng/target_proxy_version.txt
Labels: EngSys, Central-EngSys

#40213 Adds injectionRate to FaultInjectionServerErrorResult
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorResult.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorResultBuilder.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorRule.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
Labels: Cosmos

#40306 Avoiding client-side parsing errors when Gateway returns duplicate unqiueKeyPolicy in IndexPolicy (invalid json)
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentCollection.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
Labels: Cosmos

#40277 fixShowTablesOrShowDatabasesOnlyReturnInCorrectResult
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/test/scala/com.azure.cosmos.spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/test/scala/com.azure.cosmos.spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalogBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosCatalogITestBase.scala
Labels: Cosmos

#40293 Fix UserAgent encoding
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/UserAgentSuffixTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UserAgentContainer.java
Labels: Cosmos

#39990 Enable query statement
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosPagedFluxOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/FeedOperationState.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ShowQueryOptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
Labels: Cosmos, customer-reported, Community Contribution

#40310 Remove unreleased dependency
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#40308 Update documentation and changelogs
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#40312 Disable _OTELRESOURCE_ custom metric in non-AKS env
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/main/java/com/azure/monitor/opentelemetry/exporter/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AzureMonitorExportersEndToEndTest.java
Labels: OpenTelemetry

#40283 Fix IllegalArgumentException: Subscription cannot be null
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusConsumerCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusProcessorCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/utils/AzureServiceBusPropertiesUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusConsumerClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusProcessorClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusConsumerClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusProcessorClientConfigurationTests.java
Labels: azure-spring

#40264 Fix `IllegalArgumentException: Subscription cannot be null`
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusConsumerClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusConsumerCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusProcessorClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusProcessorCondition.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/utils/AzureServiceBusPropertiesUtils.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusConsumerClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusProcessorClientConfigurationTests.java
Labels: azure-spring

#40323 Increment versions for recoveryservicesbackup releases
  eng/versioning/version_client.txt
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Labels: Mgmt

#40324 Increment versions for devopsinfrastructure releases
  eng/versioning/version_client.txt
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/CHANGELOG.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/pom.xml
Labels: Mgmt

#40289 Bump OpenTelemetry to 1.38.0 and OpenTelemetry instrumentation to 2.4.0
  eng/versioning/external_dependencies.txt
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/src/main/resources/application.properties
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/monitor/applicationinsights/spring/OpenTelemetryVersionCheckRunner.java
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, Azure.Core, azure-spring, Attestation, OpenTelemetry

#40316 Release azure-monitor-opentelemetry-exporter beta.23
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetry

#40315 Fixing Java samples
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/ReadmeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/FileSample.java
Labels: Storage

#40327 Sync eng/common directory with azure-sdk-tools for PR 8278
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#40332 Support external ObjectMapper usage with CloudEvent
  sdk/core/azure-core/src/main/java/com/azure/core/models/CloudEvent.java
  sdk/core/azure-core/src/test/java/com/azure/core/models/CloudEventTests.java
Labels: Azure.Core

#40330 Revert azure-core-test back to released version
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: OpenTelemetry

#40328 Fix ordering issue in create subscription with rule, add test
  sdk/servicebus/azure-messaging-servicebus/assets.json
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationAsyncClientIntegrationTest.java
Labels: Service Bus

#40132 [App Configuration] Not log value of key
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationSnapshotPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/JsonConfigurationParser.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceKeyVaultTest.java
Labels: azure-spring

#40246 Identity azure pipelines service connection
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzurePipelinesCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientAssertionCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ClientAssertionCredentialHelper.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientBase.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/models/OidcTokenResponse.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/ValidationUtil.java
  sdk/identity/azure-identity/src/samples/java/com/azure/identity/credential/JavaDocCodeSnippets.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePipelinesCredentialBuilderTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzurePipelinesCredentialTest.java
  sdk/identity/ci.yml
Labels: Azure.Identity

#40334 Prepare release for Identity May 2024 Beta
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#40339 Increment versions for identity releases
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#40333 Fix ServiceBus property reordering in Swagger transformation
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/QueueDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/SubscriptionDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescriptionImpl.java
  sdk/servicebus/azure-messaging-servicebus/swagger/README.md
Labels: Service Bus

#40347 Update link to reactor metrics docs
  sdk/template/azure-template-stress/README.md
Labels: EngSys

#40313 Increment versions for eventhubs releases
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#40335 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, azure-spring, OpenTelemetry, clientcore

#40361 Increment versions for oracledatabase releases
  eng/versioning/version_client.txt
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/CHANGELOG.md
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/pom.xml
Labels: Mgmt
