Repository Azure/azure-sdk-for-java, pull requests merged in 2025-05, with the labels that each got.

#45169 Spring Feature Management - Adding Missing Java docs
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Allocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Conditions.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/EvaluationEvent.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/GroupAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/PercentileAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/UserAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Variant.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantAssignmentReason.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantReference.java
Labels: azure-spring

#45190 Sync eng/common directory with azure-sdk-tools for PR 10523
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#45189 Use ServiceDirectories from PackageInfo instead of the ChangedServices from diff.json
  eng/pipelines/templates/jobs/ci.yml
  sdk/clientcore/annotation-processor/README.md
Labels: Central-EngSys

#45192 Better error status handling and header name constants
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase1ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase2ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
Labels: clientcore

#45188 Better handling for response creation in annotation-processor
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase1ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase2ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/SpecialReturnBodiesService.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceServiceClientGenerationTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/TypeConverter.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/mocks/MockDeclaredType.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/TypeConverterTest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
Labels: clientcore

#45194 [Identity] Cleanup code snippets for deprecated cred
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
Labels: Azure.Identity

#45198 [Internal]Moving avro dependency in azure-cosmos-kafka-connect to 1.11.4
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
Labels: Cosmos

#45193 Add try-with-resources to annotation processor
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase1ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostEdgeCase2ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ProgressAndTimeoutHandler.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/Netty4ProgressAndTimeoutHandlerTests.java
Labels: clientcore

#45101 Identity mi dac fixes
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/test/java/LiveManagedIdentityTests.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ManagedIdentityCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/util/TestUtils.java
Labels: Azure.Identity

#45199 Update dependency check plugin for bug fix
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-sdk-parent/pom.xml
Labels: Azure.Core

#45196 Enabled `excludeRegions` to be applied for `QueryPlan` calls.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ExcludeRegionTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
Labels: Cosmos

#45208 Add live test case for storage actions
  sdk/storageactions/azure-resourcemanager-storageactions/pom.xml
  sdk/storageactions/azure-resourcemanager-storageactions/src/test/java/com/azure/resourcemanager/storageactions/StorageActionsManagerTests.java
  sdk/storageactions/test-resources.bicep
  sdk/storageactions/tests.mgmt.yml
Labels: Mgmt

#45212 Increment versions for redisenterprise releases
  eng/versioning/version_client.txt
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/CHANGELOG.md
  sdk/redisenterprise/azure-resourcemanager-redisenterprise/pom.xml
Labels: Mgmt

#45197 User agent suffixing for PPAF and PPCB enablement.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/UserAgentContainerTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UserAgentContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UserAgentFeatureFlags.java
Labels: Cosmos

#45204 Sync eng/common directory with azure-sdk-tools for PR 10534
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#45217 Add succeeded() conditions to generate-project-list
  eng/pipelines/templates/steps/generate-project-list-and-cache-maven-repository.yml
Labels: Central-EngSys

#45213 STG98 release commit
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#45184 Clientcore keycredpolicy https
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/KeyCredentialPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/OAuthBearerTokenAuthenticationPolicy.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/KeyCredentialPolicyTests.java
Labels: clientcore

#45073 Feature Management Telemetry
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientsBuilder.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/TestUtils.java
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementProperties.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/PercentileAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Telemetry.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/LoggerTelemetryPublisher.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/TelemetryConstants.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/TelemetryPublisher.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/package-info.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerVariantTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementPropertiesTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/telemetry/LoggerTelemetryPublisherTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/resources/logback-test.xml
Labels: azure-spring

#45183 Sync eng/common directory with azure-sdk-tools for PR 10518
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#45108 [AutoPR azure-resourcemanager-servicenetworking]-generated-from-spec-gen-sdk - java-4794083
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/README.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/SAMPLE.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/pom.xml
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/tsp-location.yaml
Labels: Mgmt

#45239 Increment versions for netapp releases
  eng/versioning/version_client.txt
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
Labels: Mgmt

#45203 Sync eng/common directory with azure-sdk-tools for PR 10542
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#45224 Reduce Reactor parallelization in HTTP tests
  sdk/core/azure-core-http-jdk-httpclient/src/test/java/com/azure/core/http/jdk/httpclient/JdkHttpClientTests.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientTests.java
  sdk/core/azure-core-http-okhttp/src/test/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClientTests.java
  sdk/core/azure-core-http-vertx/src/test/java/com/azure/core/http/vertx/VertxHttpClientTests.java
Labels: Azure.Core

#45249 Fix identity version
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/pom.xml
Labels: Mgmt

#45247 Support using native transports when available
  sdk/clientcore/http-netty4/pom.xml
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/NettyHttpClientBuilder.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/NettyHttpClientBuilderTests.java
Labels: HttpClient, clientcore

#45256 [AutoPR azure-resourcemanager-weightsandbiases]-generated-from-spec-gen-sdk - java-4841700
  eng/versioning/version_client.txt
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/CHANGELOG.md
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/README.md
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/SAMPLE.md
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/pom.xml
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/main/java/com/azure/resourcemanager/weightsandbiases/implementation/WeightsAndBiasesManagementClientImpl.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/main/java/com/azure/resourcemanager/weightsandbiases/models/InstanceProperties.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesCreateOrUpdateSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesDeleteSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesGetByResourceGroupSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesListByResourceGroupSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesListSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesUpdateSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/samples/java/com/azure/resourcemanager/weightsandbiases/generated/OperationsListSamples.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstancePropertiesTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstanceResourceInnerTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstanceResourceListResultTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstanceResourceUpdateTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesCreateOrUpdateMockTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesGetByResourceGroupWithResponseMockTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesListByResourceGroupMockTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/InstancesListMockTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/ManagedServiceIdentityTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/MarketplaceDetailsTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/OfferDetailsTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/OperationsListMockTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/PartnerPropertiesTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/SingleSignOnPropertiesV2Tests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/UserAssignedIdentityTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/src/test/java/com/azure/resourcemanager/weightsandbiases/generated/UserDetailsTests.java
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/tsp-location.yaml
Labels: Mgmt

#45254 [AutoPR azure-resourcemanager-arizeaiobservabilityeval]-generated-from-spec-gen-sdk - java-4841513
  eng/versioning/version_client.txt
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/CHANGELOG.md
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/README.md
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/SAMPLE.md
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/pom.xml
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/main/java/com/azure/resourcemanager/arizeaiobservabilityeval/implementation/ArizeAIObservabilityEvalMgmtClientImpl.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/main/java/com/azure/resourcemanager/arizeaiobservabilityeval/models/OrganizationProperties.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OperationsListSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsCreateOrUpdateSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsDeleteSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsGetByResourceGroupSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsListByResourceGroupSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsListSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/samples/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsUpdateSamples.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/ManagedServiceIdentityTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/MarketplaceDetailsTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OfferDetailsTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OperationsListMockTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationPropertiesTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationResourceInnerTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationResourceListResultTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationResourceUpdateTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/OrganizationsListMockTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/PartnerPropertiesTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/SingleSignOnPropertiesV2Tests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/UserAssignedIdentityTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/src/test/java/com/azure/resourcemanager/arizeaiobservabilityeval/generated/UserDetailsTests.java
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/tsp-location.yaml
Labels: Mgmt

#45262 STG99 versioning changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#45244 Enabled Per-Partition Circuit Breaker to kick in for requests part of availability strategy.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PerPartitionCircuitBreakerE2ETests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/perPartitionCircuitBreaker/GlobalPartitionEndpointManagerForPerPartitionCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Fetcher.java
Labels: Cosmos

#45200 Sync eng/common directory with azure-sdk-tools for PR 10521
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#45271 update autorest.java to 4.1.47
  eng/automation/parameters.py
  sdk/resourcemanager/api-specs.json
Labels: Mgmt

#45182 Alpha SDK Version Upgrade
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: Communication - Call Automation

#45177 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-netty4/pom.xml
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/identity-v2/azure-identity/pom.xml
Labels: clientcore

#45282 Update core v2 poller types
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/core-v2/azure-core-test/pom.xml
  sdk/core-v2/azure-core/pom.xml
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/ChainedPollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/DefaultPollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/LocationPollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/OperationResourcePollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/Poller.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/PollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/http/polling/StatusCheckPollingStrategy.java
  sdk/core-v2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/PollingUtils.java
Labels: Azure.Core.V2, clientcore

#45269 Sync eng/common directory with azure-sdk-tools for PR 10579
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#45216 [Internal] Refactoring live-tests to reduce flakiness
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/fi-multi-master-testng.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/AAD-Auth.md
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/AsyncCacheNonBlockingIntegrationTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/BatchTestBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosAsyncClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosBulkGatewayTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosResponseWrapper.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FITests_queryAfterCreation.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FITests_readAfterCreation.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FITests_readAllAfterCreation.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FITests_readManyAfterCreation.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FITests_writeAfterCreate.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FaultInjectionWithAvailabilityStrategyTestsBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/FlakyTestRetryAnalyzer.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ItemOperationInvocationParameters.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/Log4jDebugLoggingRegistryFactory.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/MaxRetryCountTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/SplitTestsRetryAnalyzer.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/SplitTimeoutException.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/SuperFlakyTestRetryAnalyzer.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/TransactionalBatchTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCacheTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/QueryValidationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/resources/fi-multi-master-testng.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedIterable.java
  sdk/cosmos/live-platform-matrix.json
Labels: Cosmos

#45287 [AutoPR azure-resourcemanager-lambdatesthyperexecute]-generated-from-spec-gen-sdk - java-4853737
  eng/versioning/version_client.txt
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/CHANGELOG.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/README.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/SAMPLE.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/pom.xml
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/main/java/com/azure/resourcemanager/lambdatesthyperexecute/implementation/LambdaTestHyperExecuteMgmtClientImpl.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OperationsListSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsCreateOrUpdateSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsDeleteSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsGetByResourceGroupSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsListByResourceGroupSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsListSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/samples/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsUpdateSamples.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/ManagedServiceIdentityTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/MarketplaceDetailsTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OfferDetailsTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OperationDisplayTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OperationInnerTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OperationListResultTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationPropertiesTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationResourceInnerTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationResourceListResultTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationResourceUpdateTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/OrganizationsListMockTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/PartnerPropertiesTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/SingleSignOnPropertiesV2Tests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/UserAssignedIdentityTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/src/test/java/com/azure/resourcemanager/lambdatesthyperexecute/generated/UserDetailsTests.java
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/tsp-location.yaml
Labels: Mgmt

#45290 Fixing possible hang in CosmosPagedIterable when using custom defaultPageSize or FeedResponse handler
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFluxDefaultImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/CosmosPagedFluxStaticListImpl.java
Labels: Cosmos

#44933 Don't call .toString() or .length() on null strings/urls
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulseDataSender.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/IKeyMasker.java
Labels: OpenTelemetry

#45280 Sync eng/common directory with azure-sdk-tools for PR 10593
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#45267 Default enablement of Threshold-Based Availability Strategy with Per-Partition Automatic Failover.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/EndToEndTimeOutWithAvailabilityTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/perPartitionAutomaticFailover/GlobalPartitionEndpointManagerForPerPartitionAutomaticFailover.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
Labels: Cosmos

#45297 Preparing for Cosmos releases.
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/dev/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#45300 Sync eng/common directory with azure-sdk-tools for PR 10611
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#45276 mgmt, upgrade resources to 2025-03
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/assets.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/DeploymentExportResultInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/GenericResourceExpandedInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/ResourceGroupExportResultInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ResourceManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentExtensionConfigItem.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentExtensionDefinition.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentParameter.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentPropertiesExtended.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentWhatIfProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ExtensionConfigPropertyType.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/HttpMessage.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ResourceReference.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/TargetResource.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/WhatIfChange.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/WhatIfPropertyChange.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCalculateTemplateHashSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProviderResourceTypesListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersGetAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersProviderPermissionsSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsExportTemplateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsCreateOrUpdateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsDeleteAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsGetAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsUpdateAtScopeSamples.java
Labels: Mgmt

#45246 [New API] Tables Sovereign Cloud Support
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClientBuilder.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/StorageConstants.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TablesConstants.java
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/models/TableAudience.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableAudienceTests.java
Labels: Tables

#45309 Remove UsernamePasswordCredential links from Redis samples
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
Labels: Azure.Identity

#45313 Sync eng/common directory with azure-sdk-tools for PR 10615
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#45308 ShareSnapshotNotFound error code feature changes
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/DirectoriesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/FilesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/ServicesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareErrorCode.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#45311 Increase the default timeout for the build job
  eng/pipelines/templates/jobs/ci.yml
Labels: EngSys

#45314 Fix Uri for host substitution when the path is /
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/HostPathEdgeCase3ServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/HostPathEdgeCase3Service.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
Labels: clientcore

#45310 Allow usage in non-public clouds
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/AAD-Auth.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/test-databricks/notebooks/basicScenarioAad.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
Labels: Cosmos

#45286 [Key Vault] Prepare patch release for Key Vault JCA
  NOTICE.txt
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
Labels: KeyVault, Client, azure-spring-jca

#45295 AppConfig-v2: update exception logging
  sdk/appconfiguration/azure-data-appconfiguration-v2/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/implementation/ConfigurationClientCredentials.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/implementation/ConfigurationSettingDeserializationHelper.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/implementation/SyncToken.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/implementation/SyncTokenPolicy.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/implementation/Utility.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/models/FeatureFlagConfigurationSetting.java
  sdk/appconfiguration/azure-data-appconfiguration-v2/src/main/java/com/azure/v2/data/appconfiguration/models/SecretReferenceConfigurationSetting.java
Labels: App Configuration

#45319 Increment versions for carbonoptimization releases
  eng/versioning/version_client.txt
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/CHANGELOG.md
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/pom.xml
Labels: Mgmt

#45294 EnableHttp2PublicAPI
  sdk/cosmos/azure-cosmos-benchmark/src/test/java/com/azure/cosmos/benchmark/FlakyTestRetryAnalyzer.java
  sdk/cosmos/azure-cosmos-benchmark/src/test/java/com/azure/cosmos/benchmark/ReadMyWritesConsistencyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientConfigDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxDocumentClientImplTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/GatewayConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/Http2ConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2ConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Labels: Cosmos

#45321 Increment versions for containerservicefleet releases
  eng/versioning/version_client.txt
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/CHANGELOG.md
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/pom.xml
Labels: Mgmt

#45305 Fix invalid scope in Lettuce sample using identity for Redis Cache
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
Labels: customer-reported, Azure.Identity, Community Contribution

#45327 Sync eng/common directory with azure-sdk-tools for PR 10616
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#45320 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-jca/pom.xml
Labels: KeyVault, azure-spring

#45187 Sync eng/common directory with azure-sdk-tools for PR 10522
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#45330 Azure AI Agents Persistent: Updated typespec and samples
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/PersistentAgentsAdministrationAsyncClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/PersistentAgentsAdministrationClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/RunsAsyncClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/RunsClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/ThreadsAsyncClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/ThreadsClient.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/PersistentAgentsAdministrationClientImpl.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/RunsImpl.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/ThreadsImpl.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/VectorStoreFileBatchesImpl.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/models/CreateThreadAndRunRequest.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/implementation/models/FileDetails.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/AISearchIndexResource.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/AzureAISearchToolResource.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/BingGroundingSearchToolParameters.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/BingGroundingToolDefinition.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/CreateThreadAndRunOptions.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/PersistentAgentsNamedToolChoiceType.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/ThreadRun.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/ToolResources.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/UpdateCodeInterpreterToolResourceOptions.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/UpdateFileSearchToolResourceOptions.java
  sdk/ai/azure-ai-agents-persistent/src/main/java/com/azure/ai/agents/persistent/models/UpdateToolResourcesOptions.java
  sdk/ai/azure-ai-agents-persistent/src/main/resources/META-INF/azure-ai-agents-persistent_apiview_properties.json
  sdk/ai/azure-ai-agents-persistent/src/samples/java/com/azure/ai/agents/persistent/AgentAzureAISearchAsyncSample.java
  sdk/ai/azure-ai-agents-persistent/src/samples/java/com/azure/ai/agents/persistent/AgentAzureAISearchSample.java
  sdk/ai/azure-ai-agents-persistent/src/samples/java/com/azure/ai/agents/persistent/AgentBingGroundingAsyncSample.java
  sdk/ai/azure-ai-agents-persistent/src/samples/java/com/azure/ai/agents/persistent/AgentBingGroundingSample.java
  sdk/ai/azure-ai-agents-persistent/src/samples/java/com/azure/ai/agents/persistent/AgentFunctionsStreamingAsyncSample.java
  sdk/ai/azure-ai-agents-persistent/tsp-location.yaml
Labels: AI Agents

#45329 Sync eng/common directory with azure-sdk-tools for PR 10532
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#45301 Identity dac env opt out
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ChainedTokenCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/ChainedTokenCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#45332 Prepare Identity Patch release May 2025
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#45331 Sync eng/common directory with azure-sdk-tools for PR 10550
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#45325 Reacted to API-review feedback for Http2Config changes
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/Http2ConnectionConfigTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/Http2ConnectionConfig.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
Labels: Cosmos

#45338 Preview release of Azure AI Persistent Agents (1.0.0-beta.1)
  sdk/ai/azure-ai-agents-persistent/CHANGELOG.md
  sdk/ai/ci.yml
Labels: AI, AI Agents

#45337 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring

#45315 Preview release of Azure AI Projects (1.0.0-beta.1) and Azure AI Persistent Agents (1.0.0-beta.1)
  eng/versioning/external_dependencies.txt
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/pom.xml
Labels: AI Model Inference, AI, AI Agents

#45344 Added openai sample in Azure AI Projects library
  sdk/ai/azure-ai-projects/pom.xml
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/InferenceOpenAIAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/InferenceOpenAISample.java
Labels: AI

#45355 [Azure AI Inference] Updates for new release
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
Labels: AI Model Inference

#45351 Updated AI Inference dependency to current in AI Projects library
  eng/versioning/external_dependencies.txt
  sdk/ai/azure-ai-projects/pom.xml
Labels: AI

#45358 Sync eng/common directory with azure-sdk-tools for PR 10665
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#45339 mgtm, compute, support disk IOPS and throughput
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Disk.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-test/src/main/java/com/azure/resourcemanager/test/ResourceManagerTestProxyTestBase.java
Labels: Mgmt

#45346 Increment versions for resourcemanager releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-appplatform/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/README.md
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/resourcemanager/ci.yml
Labels: Mgmt

#45362 Increment versions for confidentialledger releases
  eng/versioning/version_client.txt
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-resourcemanager-confidentialledger/pom.xml
Labels: Mgmt

#45364 Increment versions for chaos releases
  eng/versioning/version_client.txt
  sdk/chaos/azure-resourcemanager-chaos/CHANGELOG.md
  sdk/chaos/azure-resourcemanager-chaos/pom.xml
Labels: Mgmt

#45365 Increment versions for postgresqlflexibleserver releases
  eng/versioning/version_client.txt
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/CHANGELOG.md
  sdk/postgresqlflexibleserver/azure-resourcemanager-postgresqlflexibleserver/pom.xml
Labels: Mgmt

#45363 Fixed split bug on pkversion lease during first request if split happens
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImplTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionControllerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionControllerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#45374 Backport fix cfp pk version split bug
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImplTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionControllerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionControllerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#45299 Fix ResponseHandler for return of generic BinaryData types
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/SpecialReturnBodiesService.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
Labels: clientcore

#45375 Prepare May 2025 release for azure-messaging-eventhubs
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#45378 Sync eng/common directory with azure-sdk-tools for PR 10657
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#45380 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring

#45381 Update CHANGELOG.md
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#45326 Make QueueProperties.ApproximateMessagesCount a long
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessageIdsImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/MessagesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/QueuesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/QueuesGetPropertiesHeaders.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueProperties.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#45391 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Central-EngSys

#45151 Update to latest version 2023-10-31
  eng/versioning/version_client.txt
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/README.md
  sdk/digitaltwins/azure-digitaltwins-core/assets.json
  sdk/digitaltwins/azure-digitaltwins-core/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsAsyncClient.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/DigitalTwinsServiceVersion.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/AzureDigitalTwinsAPIImplBuilder.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DeleteJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinModelsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/DigitalTwinsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/ImportJobsImpl.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJob.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobStatus.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsAddHeaders.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsAddOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsGetByIdOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/DeleteJobsListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJob.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobCollection.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsAddOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsCancelOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsDeleteOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsGetByIdOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/ImportJobsListOptions.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/QuerySpecification.java
  sdk/digitaltwins/azure-digitaltwins-core/src/main/java/com/azure/digitaltwins/core/implementation/models/Status.java
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/BuildingTwin.json
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/FloorTwin.json
  sdk/digitaltwins/azure-digitaltwins-core/src/samples/resources/DTDL/DigitalTwins/RoomTwin.json
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipAsyncTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/DigitalTwinsRelationshipTest.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/PublishTelemetryAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/PublishTelemetryTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/PublishTelemetryTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryAsyncTests.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryTestBase.java
  sdk/digitaltwins/azure-digitaltwins-core/src/test/java/com/azure/digitaltwins/core/QueryTests.java
  sdk/digitaltwins/azure-digitaltwins-core/swagger/autorest.md
  sdk/digitaltwins/azure-digitaltwins-core/swagger/pom.xml
  sdk/digitaltwins/azure-digitaltwins-core/swagger/src/main/java/DigitalTwinsCustomization.java
Labels: Digital Twins

#45392 Updated versions for release and changelog for azure-cosmos 4.71.0-beta.1
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#45383 Increment versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, Mgmt, common, Schema Registry, azure-spring, Monitor - Autoconfigure

#45393 Update Search Changelog and version client
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#45397 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#45399 Merged latest post release version commits and resolved conflicts
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#45401 using the correct dev version for event hubs
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#45368 azure-core-management, add new members to `Region`
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/test/java/com/azure/resourcemanager/resources/SubscriptionsTests.java
Labels: Mgmt, Azure.Core

#45406 mgmt security, remove deprecated `request` package
  sdk/resourcemanager/autocent.js
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
  sdk/resourcemanager/package.json
Labels: Mgmt

#45411 Queue properties
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#45409 Made GA5 changes and recorded the live tests.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMedia.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/AudioDataContructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/AudioMetadataConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AnswerCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioChannelType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioMetadata.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallInvite.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateGroupCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/OutStreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/SpeechResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionSubscription.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TransferCallToParticipantOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/UpdateTranscriptionOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MediaStreamingUpdateResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionResumed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionStarted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionStopped.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionUpdateResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/TranscriptionUpdated.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationClientUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Labels: Communication - Call Automation

#45400 [Messaging]: MessageFlux: adding a retry const that limit retry to terminal completion event
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/MessageFlux.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core.AMQP

#45415 Update date for beta release
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Labels: Communication - Phone Numbers

#45419 [AutoPR azure-resourcemanager-onlineexperimentation]-generated-from-spec-gen-sdk - java-4889609
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/CHANGELOG.md
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/README.md
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/SAMPLE.md
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/pom.xml
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/OnlineExperimentationManager.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/fluent/OnlineExperimentationMgmtClient.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/fluent/OnlineExperimentationWorkspacesClient.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/fluent/models/OnlineExperimentationWorkspaceInner.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/implementation/OnlineExperimentationMgmtClientImpl.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/implementation/OnlineExperimentationWorkspaceImpl.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/implementation/OnlineExperimentationWorkspacesClientImpl.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/implementation/OnlineExperimentationWorkspacesImpl.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/implementation/models/OnlineExperimentationWorkspaceListResult.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/OnlineExperimentationWorkspace.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/OnlineExperimentationWorkspacePatch.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/OnlineExperimentationWorkspacePatchProperties.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/OnlineExperimentationWorkspaceProperties.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/OnlineExperimentationWorkspaces.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/java/com/azure/resourcemanager/onlineexperimentation/models/ResourceEncryptionConfiguration.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/resources/META-INF/azure-resourcemanager-onlineexperimentation_apiview_properties.json
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/resources/META-INF/azure-resourcemanager-onlineexperimentation_metadata.json
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-onlineexperimentation/proxy-config.json
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentWorkspacesDeleteSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentWorkspacesListByResourceGroupSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentWorkspacesListSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesCreateOrUpdateSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesDeleteSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesGetByResourceGroupSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesListByResourceGroupSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesListSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspacesUpdateSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/samples/java/com/azure/resourcemanager/onlineexperimentation/generated/OperationsListSamples.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/KeyEncryptionKeyIdentityTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/ManagedServiceIdentityTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/OnlineExperimentationWorkspaceSkuTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/OperationDisplayTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/OperationInnerTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/OperationListResultTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/src/test/java/com/azure/resourcemanager/onlineexperimentation/generated/UserAssignedIdentityTests.java
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/tsp-location.yaml
Labels: Mgmt

#45347 Added the parser for the dtmf data.
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/DtmfDataContructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/DtmfDataConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/TranscriptionMetadataConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/DtmfData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingDataKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionMetadata.java
Labels: Communication - Call Automation

#45413 Fix version update when a major.minor.0-beta.1 already exists
  eng/versioning/set_versions.py
Labels: EngSys

#45352 Resolving Misc Pipeline Test Failures
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/BlockBlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/specialized/HttpFaultInjectingTests.java
Labels: Storage

#45432 GA5 Javadoc Issues
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/AudioMetadata.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingContentType.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingSubscription.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
Labels: Communication - Call Automation

#45440 Increment versions for cognitiveservices releases
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Labels: Mgmt

#45427 Remove unreleased dependency tags when library is shipped
  eng/versioning/set_versions.py
  eng/versioning/update_versions.py
  eng/versioning/utils.py
  sdk/appconfiguration/azure-data-appconfiguration-v2/pom.xml
  sdk/identity-v2/pom.xml
  sdk/identity/pom.xml
Labels: EngSys

#45448 GA5 Linting Issues + Re-recording tests
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StreamingData.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Labels: Communication - Call Automation

#45423 Support BinaryData serialization
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/logging/ExceptionLoggingEvent.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonWriter.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/serialization/json/JsonSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/MockSerializer.java
Labels: clientcore

#45417 Lower the priority of the EntityType used by ServiceBusTemplate
  sdk/spring/CHANGELOG.md
  sdk/spring/pipeline/ClientFromSourcePom.xml
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceConsumerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/DefaultServiceBusNamespaceProducerFactory.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/ServiceBusTemplate.java
Labels: azure-spring

#45457 [Automation] Generate Fluent Lite from Swagger specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/readme.md#package-2024-11
  eng/automation/api-specs.yaml
  eng/versioning/version_client.txt
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/CHANGELOG.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/README.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/SAMPLE.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/pom.xml
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/ExtensionsManager.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/ExtensionsClient.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/ExtensionsManagementClient.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/OperationStatusClient.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/models/ExtensionInner.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/models/ExtensionProperties.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/models/OperationStatusResultInner.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/models/PatchExtensionProperties.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/models/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/fluent/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ExtensionImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ExtensionsClientImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ExtensionsImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ExtensionsManagementClientBuilder.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ExtensionsManagementClientImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/OperationStatusClientImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/OperationStatusImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/OperationStatusResultImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/ResourceManagerUtils.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/implementation/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/AksIdentityType.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/Extension.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ExtensionPropertiesAksAssignedIdentity.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ExtensionStatus.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/Extensions.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ExtensionsList.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/Identity.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/LevelType.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/OperationStatus.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/OperationStatusResult.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/PatchExtension.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/Plan.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ProvisioningState.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ResourceIdentityType.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/Scope.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ScopeCluster.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/ScopeNamespace.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/models/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/java/module-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/resources/META-INF/native-image/com.azure.resourcemanager/kubernetesconfiguration-extensions/proxy-config.json
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/resources/META-INF/native-image/com.azure.resourcemanager/kubernetesconfiguration-extensions/reflect-config.json
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/main/resources/azure-resourcemanager-kubernetesconfiguration-extensions.properties
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsCreateSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsDeleteSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsGetSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsListSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsUpdateSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/OperationStatusGetSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensions/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensions/generated/ExtensionsDeleteMockTests.java
  sdk/kubernetesconfiguration/ci.yml
  sdk/kubernetesconfiguration/pom.xml
Labels: Mgmt - Track 2

#45464 Sync eng/common directory with azure-sdk-tools for PR 10736
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#45467 mgmt, retire mediaservices lib
  eng/versioning/version_client.txt
  sdk/mediaservices/azure-resourcemanager-mediaservices/CHANGELOG.md
  sdk/mediaservices/azure-resourcemanager-mediaservices/README.md
  sdk/mediaservices/azure-resourcemanager-mediaservices/pom.xml
Labels: Mgmt

#45476 Increment versions for datafactory releases
  eng/versioning/version_client.txt
  sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
Labels: Mgmt, App Configuration

#45479 Increment versions for mediaservices releases
  eng/versioning/version_client.txt
  sdk/mediaservices/azure-resourcemanager-mediaservices/CHANGELOG.md
  sdk/mediaservices/azure-resourcemanager-mediaservices/pom.xml
Labels: Mgmt, App Configuration

#45430 Increment versions for communication/azure-communication-phonenumbers releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/pom.xml
Labels: Communication - Phone Numbers

#45481 Add additional check before removing unreleased dependency tag
  eng/versioning/utils.py
Labels: EngSys

#45490 Azure SDK for Java Bom 1.2.35 Release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#45488 Avoid resetting client-level diagnostic thresholds for point read operations
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosItemRequestOptions.java
Labels: Cosmos

#45491 Add support for Base64Uri Response handling
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/SpecialReturnBodiesService.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
Labels: clientcore

#45487 Sync eng/common directory with azure-sdk-tools for PR 10735
  eng/common/pipelines/templates/jobs/npm-publish.yml
Labels: EngSys, Central-EngSys

#45495 Moving to non-blocking UUIDs in product code
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedTable.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosReadManyReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsReadOnlyTable.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/PointWriter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CosmosAsyncClientCacheItem.scala
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UUIDs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutor.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/PartitionScopeThresholds.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdContextNegotiator.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/ThroughputRequestThrottler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/throughputControl/controller/group/global/ThroughputControlContainerManager.java
Labels: Cosmos

#45395 [Key Vault JCA] Included the `org.brotli:dec` library in the list of shaded dependencies to avoid issues when generating and publishing docs to MSLearn
  .vscode/cspell.json
  NOTICE.txt
  eng/versioning/external_dependencies.txt
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/pom.xml
Labels: KeyVault, Client, Docs, azure-spring-jca

#45500 add live test case for site manager
  sdk/sitemanager/azure-resourcemanager-sitemanager/pom.xml
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/test/java/com/azure/resourcemanager/sitemanager/SiteManagerManagerTests.java
  sdk/sitemanager/test-resources.bicep
  sdk/sitemanager/tests.mgmt.yml
Labels: Mgmt

#45493 Fix failure where setting dev version would raise error
  eng/pipelines/scripts/Set-Dev-Versioning.ps1
  eng/versioning/update_versions.py
  eng/versioning/utils.py
Labels: EngSys

#45498 Sync .github/workflows directory with azure-sdk-tools for PR 10752
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#45496 Javadoc Pipeline Issues
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MediaStreamingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TranscriptionOptions.java
Labels: Communication - Call Automation

#45510 Remove `eng/` from triggering `azure-core`
  sdk/core/ci.yml
Labels: Azure.Core

#45503 [Automation] Generate Fluent Lite from Swagger specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensionTypes/readme.md#package-preview-2024-11
  eng/automation/api-specs.yaml
  eng/versioning/version_client.txt
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/CHANGELOG.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/README.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/SAMPLE.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/pom.xml
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/ExtensionTypesManager.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/ExtensionTypesClient.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/ExtensionTypesMgmtClient.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/models/ClusterScopeSettingsProperties.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/models/ExtensionTypeInner.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/models/VersionForReleaseTrainInner.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/models/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/fluent/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ExtensionTypeImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ExtensionTypesClientImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ExtensionTypesImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ExtensionTypesMgmtClientBuilder.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ExtensionTypesMgmtClientImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/ResourceManagerUtils.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/VersionForReleaseTrainImpl.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/implementation/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ClusterScopeSettings.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionType.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypeProperties.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypePropertiesPlanInfo.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypePropertiesSupportedScopes.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypeVersionsList.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypes.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/ExtensionTypesList.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/UnsupportedKubernetesMatrixItem.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/UnsupportedKubernetesVersions.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/VersionForReleaseTrain.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/VersionForReleaseTrainProperties.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/models/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/package-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/java/module-info.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/resources/META-INF/native-image/com.azure.resourcemanager/kubernetesconfiguration-extensiontypes/proxy-config.json
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/resources/META-INF/native-image/com.azure.resourcemanager/kubernetesconfiguration-extensiontypes/reflect-config.json
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/main/resources/azure-resourcemanager-kubernetesconfiguration-extensiontypes.properties
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesClusterGetVersiSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesClusterListVersSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesGetSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesGetVersionSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesListSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesListVersionsSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesLocationGetSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/samples/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesLocationListSamples.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesClusterGetVersioMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesClusterListVersiMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesGetVersionWithReMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesGetWithResponseMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesListMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesListVersionsMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesLocationGetWithRMockTests.java
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-extensiontypes/src/test/java/com/azure/resourcemanager/kubernetesconfiguration/extensiontypes/generated/ExtensionTypesLocationListMockTests.java
  sdk/kubernetesconfiguration/ci.yml
  sdk/kubernetesconfiguration/pom.xml
Labels: Mgmt - Track 2

#45520 Sync eng/common directory with azure-sdk-tools for PR 10731
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#45505 Internal: Few memory allocation optimizations on the point-read hot-path
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosDiagnosticsSystemUsageSnapshot.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/UserAgentContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestArgs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponseHeaders.java
Labels: Cosmos

#45522 Clientcore: Remove logThrowableAsError and logThrowableAsWarning
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/logging/ClientLogger.java
Labels: clientcore

#45526 Sync eng/common directory with azure-sdk-tools for PR 10765
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#45504 Increment versions for secretsstoreextension releases
  eng/versioning/version_client.txt
  sdk/secretsstoreextension/azure-resourcemanager-secretsstoreextension/CHANGELOG.md
  sdk/secretsstoreextension/azure-resourcemanager-secretsstoreextension/pom.xml
Labels: Mgmt, App Configuration

#45480 Increment versions for loadtesting releases
  eng/versioning/version_client.txt
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/pom.xml
Labels: App Configuration, Load Testing

#45534 Replace RequestContext addHeader convenience with setHeader
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/RequestContext.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/models/RequestContextJavaDocCodeSnippets.java
Labels: clientcore

#45528 Fix body optionality for contentType and request body setting
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/SpecialReturnBodiesService.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceServiceClientGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/serializers/XmlSerializableTests.java
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/RequestBodyHandler.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/RequestBodyHandlerTest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/GeneratedCodeUtils.java
Labels: clientcore
