Repository Azure/azure-sdk-for-java, pull requests merged in 2025-10, with the labels that each got.

#46384 Pass additional information when calculating HTTP retry delay
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryCondition.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryPolicy.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/RetryPolicyTests.java
  sdk/clientcore/http-netty4/spotbugs-exclude.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java
  sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryStrategy.java
  sdk/core/azure-core/src/test/java/com/azure/core/http/policy/RetryPolicyTests.java
Labels: Azure.Core, clientcore

#46885 Sync eng/common directory with azure-sdk-tools for PR 12267
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#46897 Sync eng/common directory with azure-sdk-tools for PR 12325
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#46898 Prepare Sept 2025 Bom Release
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#46901 Deid/2025-07-15-preview
  sdk/healthdataaiservices/azure-health-deidentification/CHANGELOG.md
  sdk/healthdataaiservices/azure-health-deidentification/README.md
  sdk/healthdataaiservices/azure-health-deidentification/assets.json
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/DeidentificationAsyncClient.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/DeidentificationClient.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/DeidentificationServiceVersion.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/implementation/DeidentificationClientImpl.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/DeidentificationContent.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/DeidentificationCustomizationOptions.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/DeidentificationJobCustomizationOptions.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/DeidentificationOperationType.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/SimplePhiEntity.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/TaggedPhiEntities.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/java/com/azure/health/deidentification/models/TextEncodingType.java
  sdk/healthdataaiservices/azure-health-deidentification/src/main/resources/META-INF/azure-health-deidentification_apiview_properties.json
  sdk/healthdataaiservices/azure-health-deidentification/src/main/resources/META-INF/azure-health-deidentification_metadata.json
  sdk/healthdataaiservices/azure-health-deidentification/src/test/java/com/azure/health/deidentification/batch/AsyncJobOperationsTest.java
  sdk/healthdataaiservices/azure-health-deidentification/src/test/java/com/azure/health/deidentification/batch/BatchOperationTestBase.java
  sdk/healthdataaiservices/azure-health-deidentification/src/test/java/com/azure/health/deidentification/batch/SyncJobOperationsTest.java
  sdk/healthdataaiservices/azure-health-deidentification/src/test/java/com/azure/health/deidentification/realtime/AsyncRealtimeOperationsTest.java
  sdk/healthdataaiservices/azure-health-deidentification/src/test/java/com/azure/health/deidentification/realtime/SyncRealtimeOperationsTest.java
  sdk/healthdataaiservices/azure-health-deidentification/tsp-location.yaml
Labels: Health Deidentification

#46825 [AutoPR azure-resourcemanager-durabletask]-generated-from-SDK Generation - Java-5382081
  eng/versioning/version_client.txt
  sdk/durabletask/azure-resourcemanager-durabletask/CHANGELOG.md
  sdk/durabletask/azure-resourcemanager-durabletask/README.md
  sdk/durabletask/azure-resourcemanager-durabletask/SAMPLE.md
  sdk/durabletask/azure-resourcemanager-durabletask/pom.xml
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/java/com/azure/resourcemanager/durabletask/implementation/DurableTaskManagementClientImpl.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/java/com/azure/resourcemanager/durabletask/models/SchedulerSku.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/java/com/azure/resourcemanager/durabletask/models/SchedulerSkuName.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/java/com/azure/resourcemanager/durabletask/models/SchedulerSkuUpdate.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/resources/META-INF/azure-resourcemanager-durabletask_apiview_properties.json
  sdk/durabletask/azure-resourcemanager-durabletask/src/main/resources/META-INF/azure-resourcemanager-durabletask_metadata.json
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/OperationsListSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesCreateOrReplaceSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesDeleteSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesGetSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesListBySchedulerSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesUpdateSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersCreateOrUpdateSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersDeleteSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersGetByResourceGroupSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersListByResourceGroupSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersListSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/SchedulersUpdateSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/TaskHubsCreateOrUpdateSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/TaskHubsDeleteSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/TaskHubsGetSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/samples/java/com/azure/resourcemanager/durabletask/generated/TaskHubsListBySchedulerSamples.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/OperationsListMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesCreateOrReplaceMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesGetWithResponseMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesListBySchedulerMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPoliciesUpdateMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPolicyDetailsTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPolicyInnerTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPolicyListResultTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/RetentionPolicyPropertiesTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerInnerTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerListResultTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerPropertiesTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerPropertiesUpdateTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerSkuTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerSkuUpdateTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulerUpdateTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulersCreateOrUpdateMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulersGetByResourceGroupWithResponseMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulersListByResourceGroupMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/SchedulersListMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubInnerTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubListResultTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubPropertiesTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubsCreateOrUpdateMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubsGetWithResponseMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/src/test/java/com/azure/resourcemanager/durabletask/generated/TaskHubsListBySchedulerMockTests.java
  sdk/durabletask/azure-resourcemanager-durabletask/tsp-location.yaml
Labels: Mgmt
