Repository Azure/azure-sdk-for-java, pull requests merged in 2025-07, with the labels that each got.

#45882 Sync eng/common directory with azure-sdk-tools for PR 11056
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#45767 [AutoPR azure-resourcemanager-mongodbatlas]-generated-from-SDK Generation - Java-4991063
  eng/versioning/version_client.txt
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/CHANGELOG.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/README.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/SAMPLE.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/pom.xml
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/fluent/OrganizationsClient.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/MongoDBAtlasManagementClientImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationResourceImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/implementation/OrganizationsClientImpl.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResource.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdate.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/java/com/azure/resourcemanager/mongodbatlas/models/OrganizationResourceUpdateProperties.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_apiview_properties.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/main/resources/META-INF/azure-resourcemanager-mongodbatlas_metadata.json
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OperationsListSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsCreateOrUpdateSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsDeleteSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsGetByResourceGroupSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListByResourceGroupSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/samples/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsUpdateSamples.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/ManagedServiceIdentityTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/MarketplaceDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OfferDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationDisplayTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationInnerTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationListResultTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OperationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationPropertiesTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationResourceInnerTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationResourceListResultTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/OrganizationsListMockTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/PartnerPropertiesTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/UserAssignedIdentityTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/src/test/java/com/azure/resourcemanager/mongodbatlas/generated/UserDetailsTests.java
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/tsp-location.yaml
Labels: Mgmt

#45899 Increment versions for lambdatesthyperexecute releases
  eng/versioning/version_client.txt
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/CHANGELOG.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/pom.xml
Labels: Mgmt

#45894 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#45901 Annotation processor: use response headers to deserialize response
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/ParameterizedMultipleHostServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SimpleXmlSerializableServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/SpecialReturnBodiesServiceImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientServiceImpl.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
Labels: clientcore

#45698 Messaging: handle proxy connection close header
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnection.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ReactorConnectionCache.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/ConnectionHandler.java
  sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandler.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/handler/WebSocketsProxyConnectionHandlerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core.AMQP

#45908 [Automation] Generate SDK based on TypeSpec 0.31.6
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#45910 [Automation] Generate SDK based on TypeSpec 0.31.6
  sdk/arizeaiobservabilityeval/azure-resourcemanager-arizeaiobservabilityeval/SAMPLE.md
  sdk/avs/azure-resourcemanager-avs/SAMPLE.md
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/SAMPLE.md
  sdk/chaos/azure-resourcemanager-chaos/SAMPLE.md
  sdk/cloudhealth/azure-resourcemanager-cloudhealth/SAMPLE.md
  sdk/computeschedule/azure-resourcemanager-computeschedule/SAMPLE.md
  sdk/containerservicefleet/azure-resourcemanager-containerservicefleet/SAMPLE.md
  sdk/dell/azure-resourcemanager-dell-storage/SAMPLE.md
  sdk/dependencymap/azure-resourcemanager-dependencymap/SAMPLE.md
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/SAMPLE.md
  sdk/durabletask/azure-resourcemanager-durabletask/SAMPLE.md
  sdk/fabric/azure-resourcemanager-fabric/SAMPLE.md
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/SAMPLE.md
  sdk/iotoperations/azure-resourcemanager-iotoperations/SAMPLE.md
  sdk/lambdatesthyperexecute/azure-resourcemanager-lambdatesthyperexecute/SAMPLE.md
  sdk/mongocluster/azure-resourcemanager-mongocluster/SAMPLE.md
  sdk/mongodbatlas/azure-resourcemanager-mongodbatlas/SAMPLE.md
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/SAMPLE.md
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/SAMPLE.md
  sdk/oracledatabase/azure-resourcemanager-oracledatabase/SAMPLE.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/SAMPLE.md
  sdk/planetarycomputer/azure-resourcemanager-planetarycomputer/SAMPLE.md
  sdk/portalservices/azure-resourcemanager-portalservicescopilot/SAMPLE.md
  sdk/programmableconnectivity/azure-resourcemanager-programmableconnectivity/SAMPLE.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/SAMPLE.md
  sdk/recoveryservicesdatareplication/azure-resourcemanager-recoveryservicesdatareplication/SAMPLE.md
  sdk/secretsstoreextension/azure-resourcemanager-secretsstoreextension/SAMPLE.md
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/SAMPLE.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/SAMPLE.md
  sdk/sitemanager/azure-resourcemanager-sitemanager/SAMPLE.md
  sdk/standbypool/azure-resourcemanager-standbypool/SAMPLE.md
  sdk/trustedsigning/azure-resourcemanager-trustedsigning/SAMPLE.md
  sdk/weightsandbiases/azure-resourcemanager-weightsandbiases/SAMPLE.md
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/SAMPLE.md
Labels: DPG

#45916 Increment versions for purestorageblock releases
  eng/versioning/version_client.txt
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/CHANGELOG.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/pom.xml
Labels: Mgmt

#45929 Fixing OpenTelemetryTraces to include the GA V1 semantic conventionttributes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/AttributeNamesCommon.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/AttributeNamesPreV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/AttributeNamesV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/AttributeNamingScheme.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
Labels: Cosmos

#45978 Sync eng/common directory with azure-sdk-tools for PR 11152
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#45653 Add MoveParticipants Functionality API and Event Handling Support
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationEventParser.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnection.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/accesshelpers/MoveParticipantsResponseConstructorProxy.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MoveParticipantEventResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MoveParticipantsOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/MoveParticipantsResult.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MoveParticipantFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/MoveParticipantSucceeded.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationEventParserAndProcessorUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationUnitTestBase.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
Labels: Communication - Call Automation

#45952 Fixing memory leak in gateway mode
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpTransportSerializer.java
Labels: Cosmos

#45989 Increment versions for resources releases
  eng/versioning/version_client.txt
  sdk/resources/azure-resourcemanager-resources-deploymentstacks/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources-deploymentstacks/pom.xml
Labels: Mgmt

#45986 Update Changelog Spark Min Version
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
Labels: Cosmos

#45864 Allow DAC to select specific credentials via AZURE_TOKEN_CREDENTIALS env var.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#45998 VS Code Credential Updates
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/VisualStudioCodeCredential.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#46004 Prepare July 2025 release for azure-core-amqp
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core.AMQP

#45854 Updating storage code owners and patch release owners for onboarding new member
  .github/CODEOWNERS
  eng/pipelines/patch_release_client.txt
Labels: Storage

#46016 Updating Java LTS Version in Documentation
  README.md
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/tools/azure-sdk-archetype/README.md
Labels: Docs, Azure SDK Tools

#45941 Cleanup TempTypeSpecFiles when running Compare-CurrentToCodegeneration.ps1
  eng/scripts/Compare-CurrentToCodegeneration.ps1
Labels: EngSys

#46001 Fix null exception message error
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/SpanDataMapper.java
Labels: Monitor - Autoconfigure

#45851 Update Powershell Credential Auth Script
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/PowerShellUtil.java
Labels: Azure.Identity

#46027 STG98 GA Release 2025-07-15
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#46028 Adding direct dependency for commons-lang3 where apache avro is present
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
Labels: Azure.Core, Schema Registry

#46030 Changing just storage CONTRIBUTING.md for release
  sdk/storage/CONTRIBUTING.md
Labels: Storage

#45898 Update ACS Email Java SDK with Poller rehydration by operation ID
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/assets.json
  sdk/communication/azure-communication-email/pom.xml
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailAsyncClient.java
  sdk/communication/azure-communication-email/src/main/java/com/azure/communication/email/EmailClient.java
  sdk/communication/azure-communication-email/src/samples/java/com/azure/communication/email/ReadmeSamples.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailAsyncClientTests.java
  sdk/communication/azure-communication-email/src/test/java/com/azure/communication/email/EmailClientTests.java
Labels: Communication - Email

#46024 updating string encoding docs, test resource file upload
  sdk/healthdataaiservices/azure-health-deidentification/README.md
  sdk/healthdataaiservices/azure-health-deidentification/tsp-location.yaml
  sdk/healthdataaiservices/test-resources-post.ps1
Labels: Health Deidentification

#45946 External dependencies upgrade - Spring Boot 3.5.3 and Spring Cloud 2025.0.0
  .vscode/cspell.json
  eng/versioning/external_dependencies.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/scripts/spring_boot_3.4.4_managed_external_dependencies.txt
  sdk/spring/scripts/spring_boot_3.5.3_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-postgresql/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: azure-spring

#46034 Increment versions for playwright releases
  eng/versioning/version_client.txt
  sdk/playwright/azure-resourcemanager-playwright/CHANGELOG.md
  sdk/playwright/azure-resourcemanager-playwright/pom.xml
Labels: Mgmt

#46021 mgmt, fix premium sdk version
  sdk/resourcemanager/azure-resourcemanager-appplatform/src/main/resources/azure-resourcemanager-appplatform.properties
  sdk/resourcemanager/azure-resourcemanager-appservice/src/main/resources/azure-resourcemanager-appservice.properties
  sdk/resourcemanager/azure-resourcemanager-authorization/src/main/resources/azure-resourcemanager-authorization.properties
  sdk/resourcemanager/azure-resourcemanager-cdn/src/main/resources/azure-resourcemanager-cdn.properties
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/resources/azure-resourcemanager-compute.properties
  sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/resources/azure-resourcemanager-containerinstance.properties
  sdk/resourcemanager/azure-resourcemanager-containerregistry/src/main/resources/azure-resourcemanager-containerregistry.properties
  sdk/resourcemanager/azure-resourcemanager-containerservice/src/main/resources/azure-resourcemanager-containerservice.properties
  sdk/resourcemanager/azure-resourcemanager-cosmos/src/main/resources/azure-resourcemanager-cosmos.properties
  sdk/resourcemanager/azure-resourcemanager-dns/src/main/resources/azure-resourcemanager-dns.properties
  sdk/resourcemanager/azure-resourcemanager-eventhubs/src/main/resources/azure-resourcemanager-eventhubs.properties
  sdk/resourcemanager/azure-resourcemanager-keyvault/src/main/resources/azure-resourcemanager-keyvault.properties
  sdk/resourcemanager/azure-resourcemanager-monitor/src/main/resources/azure-resourcemanager-monitor.properties
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/resources/azure-resourcemanager-msi.properties
  sdk/resourcemanager/azure-resourcemanager-network/src/main/resources/azure-resourcemanager-network.properties
  sdk/resourcemanager/azure-resourcemanager-privatedns/src/main/resources/azure-resourcemanager-privatedns.properties
  sdk/resourcemanager/azure-resourcemanager-redis/src/main/resources/azure-resourcemanager-redis.properties
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/AzureServiceClient.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/resources/azure-resourcemanager-resources.properties
  sdk/resourcemanager/azure-resourcemanager-search/src/main/resources/azure-resourcemanager-search.properties
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/resources/azure-resourcemanager-servicebus.properties
  sdk/resourcemanager/azure-resourcemanager-sql/src/main/resources/azure-resourcemanager-sql.properties
  sdk/resourcemanager/azure-resourcemanager-storage/src/main/resources/azure-resourcemanager-storage.properties
  sdk/resourcemanager/azure-resourcemanager-trafficmanager/src/main/resources/azure-resourcemanager-trafficmanager.properties
  sdk/resourcemanager/azure-resourcemanager/assets.json
  sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/UserAgentPolicyTests.java
Labels: Mgmt

#46031 Pushing STG98 GA release date out by 1 day
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#46045 Fixing Changelogs After 98 GA Release
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#46057 Monitor Ingestion TypeSpec Transition
  sdk/monitor/azure-monitor-ingestion/assets.json
  sdk/monitor/azure-monitor-ingestion/customization/pom.xml
  sdk/monitor/azure-monitor-ingestion/customization/src/main/java/MonitorIngestionCustomizations.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/LogsIngestionServiceVersion.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/IngestionUsingDataCollectionRulesServiceVersion.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/LogsIngestionAsyncClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/LogsIngestionClient.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/LogsIngestionClientBuilder.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/LogsIngestionClientImpl.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/Utils.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/implementation/package-info.java
  sdk/monitor/azure-monitor-ingestion/src/main/java/com/azure/monitor/ingestion/package-info.java
  sdk/monitor/azure-monitor-ingestion/src/main/resources/META-INF/azure-monitor-ingestion_apiview_properties.json
  sdk/monitor/azure-monitor-ingestion/src/main/resources/META-INF/azure-monitor-ingestion_metadata.json
  sdk/monitor/azure-monitor-ingestion/src/test/java/com/azure/monitor/ingestion/LogsIngestionTestBase.java
  sdk/monitor/azure-monitor-ingestion/swagger/README.md
  sdk/monitor/azure-monitor-ingestion/tsp-location.yaml
Labels: Monitor

#45891 add OS default broker auth to DAC
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/OSBrokerCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/IdentityUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DacOsBrokerCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#46048 Increment versions for communication/azure-communication-email releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/pom.xml
Labels: Communication - Email

#45734 Sofiar/beta mobile numbers
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersServiceVersion.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumberAdminClientImplBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumbersImpl.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumberSearchRequest.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberSearchResult.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberType.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PurchasedPhoneNumber.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Labels: Communication - Phone Numbers

#46068 Prep Identity Beta release July 2025
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#46069 Prepare Azure Identity July 2025 Patch release
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity-v2/azure-identity/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/PowerShellUtil.java
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Event Hubs, Azure.Identity

#46072 Increment versions for identity releases
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#46079 Increment versions for healthbot releases
  eng/versioning/version_client.txt
  sdk/healthbot/azure-resourcemanager-healthbot/CHANGELOG.md
  sdk/healthbot/azure-resourcemanager-healthbot/pom.xml
Labels: Mgmt

#46090 Prepare 1.0.0-beta.11 release for io.clientcore:core
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/README.md
Labels: clientcore

#46096 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/appconfiguration-v2/azure-data-appconfiguration/pom.xml
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-netty4/pom.xml
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/core-v2/azure-core-test/pom.xml
  sdk/core-v2/azure-core/pom.xml
  sdk/identity-v2/azure-identity/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-administration/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-keys/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-secrets/pom.xml
  sdk/storage-v2/azure-storage-blob/pom.xml
  sdk/storage-v2/azure-storage-perf/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Labels: Azure.Core.V2, Azure SDK Tools, clientcore

#46092 Prepare 1.0.0.beta-4 release of annotation-processor
  sdk/clientcore/annotation-processor/CHANGELOG.md
Labels: clientcore

#46105 [Automation] Generate SDK based on TypeSpec 0.31.10
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#46047 Updating version client file to reflect stg98 ga release
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-projects/pom.xml
  sdk/batch/azure-compute-batch/pom.xml
  sdk/datafactory/azure-resourcemanager-datafactory/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/quantum/azure-quantum-jobs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-containerinstance/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanager/azure-resourcemanager-storage/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-compute/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-blob/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-file-share/pom.xml
  sdk/spring/spring-cloud-azure-starter-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
  sdk/translation/azure-ai-translation-document/pom.xml
Labels: Batch, Event Grid, Event Hubs, KeyVault, Storage, Mgmt, Azure.Identity, azure-spring, Azure SDK Tools, Azure Quantum

#46109 Add CHANGELOG entry for linting-extensions
  sdk/tools/linting-extensions/CHANGELOG.md
Labels: Azure SDK Tools

#46117 Add missing POM data to be able to release linting-extensions
  sdk/tools/azure-openrewrite/pom.xml
  sdk/tools/linting-extensions/pom.xml
Labels: Azure SDK Tools

#46113 Add date to package
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Labels: Communication - Phone Numbers

#46108 logLevelChangeInCFPPartitionProcessor
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#45922 mgmt, local generation for Managed Service Identity 2024-11-30
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-msi/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-msi/assets.json
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/FederatedIdentityCredentialInner.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/IdentityInner.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/SystemAssignedIdentityInner.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/UserAssignedIdentityProperties.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/FederatedIdentityCredentialsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/ManagedServiceIdentityClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/OperationsClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/SystemAssignedIdentitiesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/UserAssignedIdentitiesClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/IdentityUpdate.java
  sdk/resourcemanager/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/IsolationScope.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/FederatedIdentityCredentialsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/FederatedIdentityCredentialsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/FederatedIdentityCredentialsGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/FederatedIdentityCredentialsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/OperationsListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/SystemAssignedIdentitiesGetByScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesGetByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesListByResourceGroupSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/msi/generated/UserAssignedIdentitiesUpdateSamples.java
Labels: Mgmt

#46128 mgmt, compute, fix test case VirtualMachineUpdateTests
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/implementation/VirtualMachineUpdateTests.java
Labels: Mgmt

#46123 Increment versions for tools releases
  eng/versioning/version_client.txt
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-data-sdk-parent/pom.xml
  sdk/parents/clientcore-parent/CHANGELOG.md
  sdk/parents/clientcore-parent/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
  sdk/tools/azure-sdk-archetype/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
  sdk/tools/linting-extensions/CHANGELOG.md
  sdk/tools/linting-extensions/pom.xml
Labels: Azure.Core, Azure SDK Tools

#46114 Prepare Monitor Ingestion July 2025 Patch Release
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-ingestion-perf/pom.xml
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/pom.xml
Labels: Monitor

#46133 Updating TypeSpec Commit and Regenerate
  sdk/monitor/azure-monitor-ingestion/tsp-location.yaml
Labels: Monitor

#46131 Retire Azure Cache for Redis code samples
  sdk/identity/azure-identity/checkstyle-suppressions.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/Azure-AAD-Authentication-With-Jedis.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/ApiManager.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/Authenticator.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClient.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/AzureJedisClientBuilder.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AccessTokenResult.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/AuthenticationInfo.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/implementation/authentication/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/AzureJedisWrapperSample.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Jedis/java/com/azure/jedis/sample/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/java/com/azure/lettuce/sample/withcredentialprovider/package-info.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/Azure-AAD-Authentication-With-Redisson.md
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/AuthenticateWithTokenCache.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HandleReauthentication.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/HelloWorld.java
  sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Redisson/java/com/azure/redisson/sample/package-info.java
Labels: Azure.Identity

#46138 mgmt compute, fix test
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineScaleSetOperationsTests.java
Labels: Mgmt

#46140 Increment versions for core releases
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Labels: Event Hubs, Service Bus, Azure.Core, azure-spring, Azure.Core.AMQP

#46071 Perform quicker cross region retries for 410 `Lease Not Found` cases.
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/faultinjection/FaultInjectionServerErrorType.java
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionServerErrorResultInternal.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionMetadataRequestRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnDirectTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionServerErrorRuleOnGatewayTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionTestBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/LeaseNotFoundException.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RMResources.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
Labels: Cosmos

#46000 SDK MCP Server
  .github/copilot-instructions.md
  .vscode/mcp.json
Labels: common

#46141 Increment package versions for azure-core-amqp releases
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
Labels: Event Hubs, Service Bus, azure-spring, Azure.Core.AMQP

#46150 Release azure-cosmos and azure-cosmos-test
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#46151 Prepare Messaging releases July 2025
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Event Hubs, Service Bus

#46152 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#46017 [AutoPR azure-resourcemanager-carbonoptimization]-generated-from-SDK Generation - Java-5088007
  eng/versioning/version_client.txt
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/CHANGELOG.md
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/README.md
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/pom.xml
  sdk/carbonoptimization/azure-resourcemanager-carbonoptimization/tsp-location.yaml
Labels: Mgmt

#46174 AzMon: Fix live tests for sync client
  sdk/monitor/azure-monitor-query-logs/src/test/java/com/azure/monitor/query/logs/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
Labels: Monitor

#46173 Sync eng/common directory with azure-sdk-tools for PR 11333
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#46179 Sync eng/common directory with azure-sdk-tools for PR 11353
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#46175 Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: Central-EngSys

#46154 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#46188 Increment versions for datamigration releases
  eng/versioning/version_client.txt
  sdk/datamigration/azure-resourcemanager-datamigration/CHANGELOG.md
  sdk/datamigration/azure-resourcemanager-datamigration/pom.xml
Labels: Mgmt

#46177 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#46178 Increment versions for eventhubs releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, Mgmt, Schema Registry, azure-spring, Monitor - Autoconfigure

#44590 added sip routing trunk setting sdk changes.
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingAsyncClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClient.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/SipRoutingServiceVersion.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/SipRoutingAdminClientImplBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/SipRoutingsImpl.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/converters/SipDomainConverter.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/converters/SipTrunkConverter.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/converters/SipTrunkRouteConverter.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/DomainPatch.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/ExpandEnum.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/HealthStatusReason.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/RoutesForNumber.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/SipConfiguration.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/SipDomain.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/SipTrunk.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/implementation/models/SipTrunkRoute.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/HealthStatusReason.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/IpAddressVersion.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/OverallHealth.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/OverallHealthStatus.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/PingHealth.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/PingStatus.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/PrivacyHeader.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/SipDomain.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/SipTrunk.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/SipTrunkRoute.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/TlsHealth.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/TlsStatus.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/TrunkHealth.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/siprouting/models/package-info.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/AsyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/ReadmeSamples.java
  sdk/communication/azure-communication-phonenumbers/src/samples/java/com/azure/communication/phonenumbers/siprouting/SyncClientJavaDocCodeSnippets.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingAsyncClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingClientIntegrationTest.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/siprouting/SipRoutingIntegrationTestBase.java
  sdk/communication/azure-communication-phonenumbers/swagger/README-siprouting.md
  sdk/communication/azure-communication-phonenumbers/swagger/src/main/java/SipRoutingCustomizations.java
Labels: Communication - Phone Numbers

#46145 stg100 versioning changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#46204 Increment versions for providerhub releases
  eng/versioning/version_client.txt
  sdk/providerhub/azure-resourcemanager-providerhub/CHANGELOG.md
  sdk/providerhub/azure-resourcemanager-providerhub/pom.xml
Labels: Mgmt

#46205 Increment versions for policyinsights releases
  eng/versioning/version_client.txt
  sdk/policyinsights/azure-resourcemanager-policyinsights/CHANGELOG.md
  sdk/policyinsights/azure-resourcemanager-policyinsights/pom.xml
Labels: Mgmt

#45328 Query: Adds support for weighted RRF in Hybrid Search
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/HybridSearchQueryTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/HybridSearchDocumentQueryExecutionContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryFeature.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/QueryPlanRetriever.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/hybridsearch/HybridSearchQueryInfo.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextIndex.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextPath.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosFullTextPolicy.java
Labels: Cosmos

#46199 Sync eng/common directory with azure-sdk-tools for PR 11373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#46180 Renamed OSBrokerCredential to BrokerCredential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/BrokerCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DacOsBrokerCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
Labels: Azure.Identity

#46176 update docs to include code for `deleteBlobs` that is inert.
  sdk/storage/azure-storage-blob-batch/src/main/java/com/azure/storage/blob/batch/BlobBatchClient.java
Labels: Storage

#46212 Increment versions for computeschedule releases
  eng/versioning/version_client.txt
  sdk/computeschedule/azure-resourcemanager-computeschedule/CHANGELOG.md
  sdk/computeschedule/azure-resourcemanager-computeschedule/pom.xml
Labels: Mgmt

#46216 mgmt, add trouble shooting for http header, add BOM part
  sdk/resourcemanager/README.md
Labels: Mgmt

#46217 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-logs/CHANGELOG.md
  sdk/monitor/azure-monitor-query-logs/pom.xml
Labels: Monitor

#46194 New Monitor Metrics Query Library
  .vscode/cspell.json
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-metrics/CHANGELOG.md
  sdk/monitor/azure-monitor-query-metrics/README.md
  sdk/monitor/azure-monitor-query-metrics/TROUBLESHOOTING.md
  sdk/monitor/azure-monitor-query-metrics/assets.json
  sdk/monitor/azure-monitor-query-metrics/customization/pom.xml
  sdk/monitor/azure-monitor-query-metrics/customization/src/main/java/MetricsQueryCustomization.java
  sdk/monitor/azure-monitor-query-metrics/pom.xml
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsAsyncClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsClientBuilder.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsServiceVersion.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsAsyncClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClientBuilder.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClientImpl.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsUtils.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/LocalizableString.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetadataValue.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/Metric.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricResultsResponse.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricResultsResponseValuesItem.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/ResourceIdList.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/TimeSeriesElement.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/AggregationType.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricResult.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricUnit.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricValue.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryAudience.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryResourcesOptions.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryResourcesResult.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryResult.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryTimeInterval.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/TimeSeriesElement.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/module-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/resources/META-INF/azure-monitor-query-metrics_apiview_properties.json
  sdk/monitor/azure-monitor-query-metrics/src/main/resources/META-INF/azure-monitor-query-metrics_metadata.json
  sdk/monitor/azure-monitor-query-metrics/src/main/resources/azure-monitor-query-metrics.properties
  sdk/monitor/azure-monitor-query-metrics/src/samples/java/com/azure/monitor/query/metrics/MetricsQuerySample.java
  sdk/monitor/azure-monitor-query-metrics/src/samples/java/com/azure/monitor/query/metrics/ReadmeSamples.java
  sdk/monitor/azure-monitor-query-metrics/src/samples/java/com/azure/monitor/query/metrics/TroubleshootingSamples.java
  sdk/monitor/azure-monitor-query-metrics/src/test/java/com/azure/monitor/query/metrics/MetricsAsyncClientTest.java
  sdk/monitor/azure-monitor-query-metrics/src/test/java/com/azure/monitor/query/metrics/MetricsClientTest.java
  sdk/monitor/azure-monitor-query-metrics/src/test/java/com/azure/monitor/query/metrics/MetricsClientTestBase.java
  sdk/monitor/azure-monitor-query-metrics/src/test/java/com/azure/monitor/query/metrics/TestUtil.java
  sdk/monitor/azure-monitor-query-metrics/tsp-location.yaml
  sdk/monitor/ci.yml
  sdk/monitor/pom.xml
  sdk/monitor/tests.yml
Labels: Monitor

#46226 Spark and Fabric Spark Release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/CHANGELOG.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#45831 [AutoPR azure-resourcemanager-containerservicesafeguards]-generated-from-SDK Generation - Java-5012419
  eng/versioning/version_client.txt
  pom.xml
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/CHANGELOG.md
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/README.md
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/SAMPLE.md
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/pom.xml
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/ContainerServiceSafeguardsManager.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/ContainerServiceSafeguardsManagementClient.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/DeploymentSafeguardsClient.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/OperationsClient.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/models/DeploymentSafeguardInner.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/models/OperationInner.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/models/package-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/fluent/package-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/ContainerServiceSafeguardsManagementClientBuilder.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/ContainerServiceSafeguardsManagementClientImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/DeploymentSafeguardImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/DeploymentSafeguardsClientImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/DeploymentSafeguardsImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/OperationImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/OperationsClientImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/OperationsImpl.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/ResourceManagerUtils.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/models/DeploymentSafeguardListResult.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/models/OperationListResult.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/implementation/package-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/ActionType.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/DeploymentSafeguard.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/DeploymentSafeguards.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/DeploymentSafeguardsLevel.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/DeploymentSafeguardsProperties.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/Operation.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/OperationDisplay.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/Operations.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/Origin.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/PodSecurityStandardsLevel.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/ProvisioningState.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/models/package-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/com/azure/resourcemanager/containerservicesafeguards/package-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/java/module-info.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/resources/META-INF/azure-resourcemanager-containerservicesafeguards_apiview_properties.json
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/resources/META-INF/azure-resourcemanager-containerservicesafeguards_metadata.json
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-containerservicesafeguards/proxy-config.json
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-containerservicesafeguards/reflect-config.json
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/main/resources/azure-resourcemanager-containerservicesafeguards.properties
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/samples/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsCreateSamples.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/samples/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsDeleteSamples.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/samples/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsGetSamples.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/samples/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsListSamples.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/samples/java/com/azure/resourcemanager/containerservicesafeguards/generated/OperationsListSamples.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/test/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsCreateMockTests.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/test/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsGetWithResponseMockTests.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/test/java/com/azure/resourcemanager/containerservicesafeguards/generated/DeploymentSafeguardsListMockTests.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/src/test/java/com/azure/resourcemanager/containerservicesafeguards/generated/OperationsListMockTests.java
  sdk/containerservicesafeguards/azure-resourcemanager-containerservicesafeguards/tsp-location.yaml
  sdk/containerservicesafeguards/ci.yml
  sdk/containerservicesafeguards/pom.xml
Labels: Mgmt

#46225 Updates to Metrics Query Library
  sdk/monitor/azure-monitor-query-metrics/CHANGELOG.md
  sdk/monitor/azure-monitor-query-metrics/customization/src/main/java/MetricsQueryCustomization.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsClientBuilder.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/MetricsServiceVersion.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsAsyncClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClient.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClientBuilder.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/MonitorQueryMetricsClientImpl.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/LocalizableString.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetadataValue.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/Metric.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricResultsResponse.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/MetricResultsResponseValuesItem.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/ResourceIdList.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/TimeSeriesElement.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/models/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/implementation/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryResourcesResult.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/MetricsQueryTimeInterval.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/TimeSeriesElement.java
  sdk/monitor/azure-monitor-query-metrics/src/main/java/com/azure/monitor/query/metrics/models/package-info.java
  sdk/monitor/azure-monitor-query-metrics/src/samples/java/README.md
  sdk/monitor/azure-monitor-query-metrics/tsp-location.yaml
Labels: Monitor

#45982 Call Automation GA changes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationServiceVersion.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallConnectionAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallRecordingAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/AzureCommunicationCallAutomationServiceImplBuilder.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallRecordingsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/converters/CommunicationIdentifierConverter.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CommunicationIdentifierModel.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CommunicationIdentifierModelKind.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CreateCallRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/MicrosoftTeamsUserIdentifierModel.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PhoneNumberIdentifierModel.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartCallRecordingRequestInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/StartRecordingFailed.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/TeamsExtensionUserIdentifierModel.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallInvite.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CreateGroupCallOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CustomCallingContext.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/SipHeaderPrefix.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/StartRecordingOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/TransferCallToParticipantOptions.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/events/StartRecordingFailed.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallAutomationAsyncClientAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionAsyncUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallConnectionUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CommunicationIdentifierConverterUnitTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndStartRecordingWithCallConnectionIdTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerWithCustomContextThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/interruptAudioAndAnnounceToholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWhenParticipantOnHoldTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/swagger/README.md
  sdk/communication/azure-communication-callautomation/swagger/src/main/java/CallautomationCustomizations.java
Labels: Communication - Call Automation

#46238 Pom Fix For Fabric-Cosmos-Spark-Auth_3
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#46207 Upgrade Netty and Reactor versions
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
  sdk/clientcore/http-netty4/pom.xml
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4AlpnHandler.java
  sdk/clientcore/http-stress/src/main/java/io/clientcore/http/stress/util/TelemetryHelper.java
  sdk/communication/azure-communication-common/pom.xml
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/NettyAsyncHttpClientProviderTests.java
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/e2e/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/openai/azure-ai-openai-realtime/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-resources/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Cosmos, Event Hubs, Mgmt, App Configuration, Azure.Core, common, Azure.Identity, WebPubSub, OpenTelemetry, Communication - Common, OpenAI, clientcore
