Repository Azure/azure-sdk-for-java, pull requests merged in 2025-08, with the labels that each got.

#46236 BackportCFPFix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
Labels: Cosmos

#46247 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
Labels: Cosmos

#46242 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-metrics/CHANGELOG.md
  sdk/monitor/azure-monitor-query-metrics/pom.xml
Labels: Monitor

#46244 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/CHANGELOG.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#46245 Monitor query logs: migration guide
  sdk/monitor/azure-monitor-query/migration-guide-query-logs.md
Labels: Monitor

#46240 Migration guide to Monitor Metrics Query
  sdk/monitor/azure-monitor-query/migration-guide-query-metrics.md
Labels: Monitor

#46252 Increment versions for remoterendering releases
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: Remote Rendering

#46251 Increment versions for mixedreality releases
  eng/versioning/version_client.txt
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/pom.xml
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: Remote Rendering, Mixed Reality Authentication

#46254 Increment versions for keyvault releases
  eng/versioning/version_client.txt
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Labels: KeyVault, Mgmt, Azure SDK Tools

#46235 backport CFP fix
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosAsyncClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/SplitTimeoutException.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
Labels: Cosmos

#46078 [AutoPR azure-resourcemanager-dashboard]-generated-from-SDK Generation - Java-5112177
  sdk/dashboard/azure-resourcemanager-dashboard/CHANGELOG.md
  sdk/dashboard/azure-resourcemanager-dashboard/README.md
  sdk/dashboard/azure-resourcemanager-dashboard/SAMPLE.md
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/java/com/azure/resourcemanager/dashboard/fluent/GrafanasClient.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/java/com/azure/resourcemanager/dashboard/fluent/models/ManagedGrafanaInner.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/java/com/azure/resourcemanager/dashboard/implementation/GrafanasClientImpl.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/java/com/azure/resourcemanager/dashboard/implementation/ManagedGrafanaImpl.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/java/com/azure/resourcemanager/dashboard/models/ManagedGrafana.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/resources/META-INF/azure-resourcemanager-dashboard_apiview_properties.json
  sdk/dashboard/azure-resourcemanager-dashboard/src/main/resources/META-INF/azure-resourcemanager-dashboard_metadata.json
  sdk/dashboard/azure-resourcemanager-dashboard/src/samples/java/com/azure/resourcemanager/dashboard/generated/GrafanaCreateSamples.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/DashboardManagerTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/AzureMonitorWorkspaceIntegrationTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/EnterpriseConfigurationsTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/EnterpriseDetailsInnerTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanaAvailablePluginListResponseInnerTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanaAvailablePluginTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanaIntegrationsTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanaPluginTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanasCheckEnterpriseDetailsWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanasDeleteMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/GrafanasFetchAvailablePluginsWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/IntegrationFabricsCreateMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/IntegrationFabricsGetWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/IntegrationFabricsListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedDashboardsCreateMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedDashboardsDeleteByResourceGroupWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedDashboardsGetByResourceGroupWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedDashboardsListByResourceGroupMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedDashboardsListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointConnectionStateTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointModelInnerTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointModelListResponseTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointModelPropertiesTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointUpdateParametersTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointsCreateMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointsDeleteMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointsGetWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointsListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedPrivateEndpointsRefreshMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ManagedServiceIdentityTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/MarketplaceTrialQuotaTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/OperationsListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/PrivateEndpointConnectionsGetWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/PrivateEndpointConnectionsListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/PrivateLinkResourcesGetWithResponseMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/PrivateLinkResourcesListMockTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/ResourceSkuTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/SaasSubscriptionDetailsTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/SecurityTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/SubscriptionTermTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/UserAssignedIdentityTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/src/test/java/com/azure/resourcemanager/dashboard/generated/UsersTests.java
  sdk/dashboard/azure-resourcemanager-dashboard/tsp-location.yaml
Labels: Mgmt

#46262 mgmt, bug fix for cdn
  sdk/resourcemanager/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-cdn/assets.json
  sdk/resourcemanager/azure-resourcemanager-cdn/pom.xml
  sdk/resourcemanager/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/implementation/CdnEndpointImpl.java
  sdk/resourcemanager/azure-resourcemanager-cdn/src/test/java/com/azure/resourcemanager/cdn/CdnManagementTest.java
  sdk/resourcemanager/azure-resourcemanager-cdn/src/test/java/com/azure/resourcemanager/cdn/CdnProfileOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-samples/assets.json
Labels: Mgmt

#46256 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Cosmos, Event Hubs, Service Bus, Storage, EngSys, azure-spring, Monitor - Autoconfigure, clientcore

#46265 release 4.71.1-hotfix
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#46266 release 4.68.2 hotfix
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#46276 updateChangelogAfterHotfixRelease
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#46287 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#46289 Update JavaDocs for DefaultAzureCredential
  sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java
Labels: Azure.Identity

#46127 Loosen error message matching for IMDS 403 responsesx
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/ImdsRetryStrategy.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/ImdsRetryStrategyTest.java
Labels: Azure.Identity

#46298 Delete sdk/eventhubs/microsoft-azure-eventhubs-eph directory
  eng/versioning/version_client.txt
  sdk/eventhubs/ci.data.yml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/.gitignore
  sdk/eventhubs/microsoft-azure-eventhubs-eph/Overview.md
  sdk/eventhubs/microsoft-azure-eventhubs-eph/README.md
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureBlobLease.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureStorageCheckpointLeaseManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/AzureStoragePartitionManagerOptions.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/BaseLease.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/Checkpoint.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/Closable.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/CloseReason.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/CompleteLease.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/DefaultEventProcessorFactory.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventHubClientFactory.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventProcessorHost.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventProcessorHostActionStrings.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/EventProcessorOptions.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ExceptionReceivedEventArgs.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ExceptionWithAction.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/HostContext.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ICheckpointManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/IEventProcessor.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/IEventProcessorFactory.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/ILeaseManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/InMemoryCheckpointManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/InMemoryLeaseManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/LeaseLostException.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/LoggingUtils.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionContext.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionManagerOptions.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionPump.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PartitionScanner.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/main/java/com/microsoft/azure/eventprocessorhost/PumpManager.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/CheckpointManagerTest.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/DummyPump.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/EPHConstructorTests.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/LeaseManagerTest.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PartitionManagerTest.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PerTestSettings.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PrefabEventProcessor.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PrefabGeneralErrorHandler.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/PrefabProcessorFactory.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/RealEventHubUtilities.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/Repros.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SadPathTests.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/SmokeTest.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/TestBase.java
  sdk/eventhubs/microsoft-azure-eventhubs-eph/src/test/java/com/microsoft/azure/eventprocessorhost/TestUtilities.java
  sdk/eventhubs/pom.xml
Labels: Event Hubs

#46300 Sync eng/common directory with azure-sdk-tools for PR 11547
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#46313 Use Azure Pipeline Credential when running Search tests in DevOps
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchTestBase.java
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/TestHelpers.java
Labels: Search

#46314 Increment versions for dashboard releases
  eng/versioning/version_client.txt
  sdk/dashboard/azure-resourcemanager-dashboard/CHANGELOG.md
  sdk/dashboard/azure-resourcemanager-dashboard/pom.xml
Labels: Mgmt

#46321 azure-ai-translation-text, update commit id
  sdk/translation/azure-ai-translation-text/tsp-location.yaml
Labels: Text Translation

#46295 Prep Identity release Aug 2025
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#46250 Fixed the cosmos emulator tests to run on emulator pipelines
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/unit-testng.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/java/com/azure/cosmos/encryption/EncryptionAsyncApiQueryTest.java
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/unit-testng.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/resources/unit-testng.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EGatewayChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EGatewayQueryITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EGatewayWriteITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EWriteITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/TestUtils.scala
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ConnectionConfigTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ProactiveOpenConnectionsProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AadAuthorizationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ContainerCreateDeleteWithSameNameTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/resources/unit-testng.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/BridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/src/test/scala/com/azure/cosmos/spark/fabric/UnitSpec.scala
Labels: Cosmos

#46327 mgmt, sitemanager, update commit ID
  sdk/sitemanager/azure-resourcemanager-sitemanager/README.md
  sdk/sitemanager/azure-resourcemanager-sitemanager/SAMPLE.md
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/main/java/com/azure/resourcemanager/sitemanager/implementation/SiteManagerManagementClientImpl.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/main/resources/META-INF/azure-resourcemanager-sitemanager_metadata.json
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesByServiceGroupCreateOrUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesByServiceGroupDeleteSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesByServiceGroupGetSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesByServiceGroupListByServiceGroupSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesByServiceGroupUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesBySubscriptionCreateOrUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesBySubscriptionDeleteSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesBySubscriptionGetSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesBySubscriptionListSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesBySubscriptionUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesCreateOrUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesDeleteSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesGetByResourceGroupSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesListByResourceGroupSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/src/samples/java/com/azure/resourcemanager/sitemanager/generated/SitesUpdateSamples.java
  sdk/sitemanager/azure-resourcemanager-sitemanager/tsp-location.yaml
Labels: Mgmt

#46353 dpg, loadtest, bump commit ID
  sdk/loadtesting/azure-developer-loadtesting/tsp-location.yaml
Labels: Load Testing

#46354 Increment package versions for azure-resourcemanager-sql releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager-sql/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-sql/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#46342 Rename sampleN folders inside azure-security-keyvault-secrets to descriptive class-based names
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/BackupAndRestoreOperations/v1/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/BackupAndRestoreOperations/v2/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/BackupAndRestoreOperationsAsync/v1/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/BackupAndRestoreOperationsAsync/v2/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/HelloWorld/v1/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/HelloWorld/v2/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/HelloWorldAsync/v1/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/HelloWorldAsync/v2/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ListOperations/v1/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ListOperations/v2/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ListOperationsAsync/v1/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ListOperationsAsync/v2/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ManagingDeletedSecrets/v1/ManagingDeletedSecrets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ManagingDeletedSecrets/v2/ManagingDeletedSecrets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ManagingDeletedSecretsAsync/v1/ManagingDeletedSecretsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ManagingDeletedSecretsAsync/v2/ManagingDeletedSecretsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/PersistentTokenCacheDemo/v1/PersistentTokenCacheDemo.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/PersistentTokenCacheDemo/v2/PersistentTokenCacheDemo.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ReadmeSamples/v1/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/ReadmeSamples/v2/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/SecretAsyncClientJavaDocCodeSnippets/v1/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/SecretAsyncClientJavaDocCodeSnippets/v2/SecretAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/SecretClientJavaDocCodeSnippets/v1/SecretClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-secrets/SecretClientJavaDocCodeSnippets/v2/SecretClientJavaDocCodeSnippets.java
Labels: customer-reported, Community Contribution, Azure SDK Tools

#46341 Rename sampleN folders inside azure-security-keyvault-keys to descriptive class-based names
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/BackupAndRestoreOperations/v1/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/BackupAndRestoreOperations/v2/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/BackupAndRestoreOperationsAsync/v1/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/BackupAndRestoreOperationsAsync/v2/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/CryptographyAsyncClientJavaDocCodeSnippets/v1/CryptographyAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/CryptographyAsyncClientJavaDocCodeSnippets/v2/CryptographyAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/CryptographyClientJavaDocCodeSnippets/v1/CryptographyClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/CryptographyClientJavaDocCodeSnippets/v2/CryptographyClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/EncryptDecryptOperations/v1/EncryptDecryptOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/EncryptDecryptOperations/v2/EncryptDecryptOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/EncryptDecryptOperationsAsync/v1/EncryptDecryptOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/EncryptDecryptOperationsAsync/v2/EncryptDecryptOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/HelloWorld/v1/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/HelloWorld/v2/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/HelloWorldAsync/v1/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/HelloWorldAsync/v2/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyAsyncClientJavaDocCodeSnippets/v1/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyAsyncClientJavaDocCodeSnippets/v2/KeyAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyClientJavaDocCodeSnippets/v1/KeyClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyClientJavaDocCodeSnippets/v2/KeyClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyRotation/v1/KeyRotation.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyRotation/v2/KeyRotation.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyRotationAsync/v1/KeyRotationAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyRotationAsync/v2/KeyRotationAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyWrapUnwrapOperations/v1/KeyWrapUnwrapOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyWrapUnwrapOperations/v2/KeyWrapUnwrapOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyWrapUnwrapOperationsAsync/v1/KeyWrapUnwrapOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/KeyWrapUnwrapOperationsAsync/v2/KeyWrapUnwrapOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ListOperations/v1/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ListOperations/v2/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ListOperationsAsync/v1/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ListOperationsAsync/v2/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ManagingDeletedKeys/v1/ManagingDeletedKeys.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ManagingDeletedKeys/v2/ManagingDeletedKeys.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ManagingDeletedKeysAsync/v1/ManagingDeletedKeysAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ManagingDeletedKeysAsync/v2/ManagingDeletedKeysAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ReadmeSamples/v1/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/ReadmeSamples/v2/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/SignVerifyOperations/v1/SignVerifyOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/SignVerifyOperations/v2/SignVerifyOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/SignVerifyOperationsAsync/v1/SignVerifyOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-keys/SignVerifyOperationsAsync/v2/SignVerifyOperationsAsync.java
Labels: customer-reported, Community Contribution, Azure SDK Tools

#46339 Rename sampleN folders inside azure-security-keyvault-certificates to descriptive class-based names
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/BackupAndRestoreOperations/v1/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/BackupAndRestoreOperations/v2/BackupAndRestoreOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/BackupAndRestoreOperationsAsync/v1/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/BackupAndRestoreOperationsAsync/v2/BackupAndRestoreOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/CertificateAsyncClientJavaDocCodeSnippets/v1/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/CertificateAsyncClientJavaDocCodeSnippets/v2/CertificateAsyncClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/CertificateClientJavaDocCodeSnippets/v1/CertificateClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/CertificateClientJavaDocCodeSnippets/v2/CertificateClientJavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/HelloWorld/v1/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/HelloWorld/v2/HelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/HelloWorldAsync/v1/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/HelloWorldAsync/v2/HelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ListOperations/v1/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ListOperations/v2/ListOperations.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ListOperationsAsync/v1/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ListOperationsAsync/v2/ListOperationsAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ManagingDeletedCertificates/v1/ManagingDeletedCertificates.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ManagingDeletedCertificates/v2/ManagingDeletedCertificates.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ManagingDeletedCertificatesAsync/v1/ManagingDeletedCertificatesAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ManagingDeletedCertificatesAsync/v2/ManagingDeletedCertificatesAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ReadmeSamples/v1/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-certificates/ReadmeSamples/v2/ReadmeSamples.java
Labels: customer-reported, Community Contribution, Azure SDK Tools

#46338 Rename sampleN folders inside azure-security-keyvault-administration to descriptive class-based names
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/AccessControlHelloWorld/v1/AccessControlHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/AccessControlHelloWorld/v2/AccessControlHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/AccessControlHelloWorldAsync/v1/AccessControlHelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/AccessControlHelloWorldAsync/v2/AccessControlHelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/BackupAndRestoreHelloWorld/v1/BackupAndRestoreHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/BackupAndRestoreHelloWorld/v2/BackupAndRestoreHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/BackupAndRestoreHelloWorldAsync/v1/BackupAndRestoreHelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/BackupAndRestoreHelloWorldAsync/v2/BackupAndRestoreHelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/CreateRoleAssignmentsForDifferentScopes/v1/CreateRoleAssignmentsForDifferentScopes.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/CreateRoleAssignmentsForDifferentScopes/v2/CreateRoleAssignmentsForDifferentScopes.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/ReadmeSamples/v1/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/ReadmeSamples/v2/ReadmeSamples.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SelectiveKeyRestore/v1/SelectiveKeyRestore.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SelectiveKeyRestore/v2/SelectiveKeyRestore.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SettingsHelloWorld/v1/SettingsHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SettingsHelloWorld/v2/SettingsHelloWorld.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SettingsHelloWorldAsync/v1/SettingsHelloWorldAsync.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-security-keyvault-administration/SettingsHelloWorldAsync/v2/SettingsHelloWorldAsync.java
Labels: customer-reported, Community Contribution, Azure SDK Tools

#46330 Migrate Search to Bicep
  sdk/search/azure-search-documents/src/test/java/com/azure/search/documents/SearchTestBase.java
  sdk/search/test-resources.bicep
  sdk/search/test-resources.json
Labels: Search

#46310 Deprecation of azure-monitor-query
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-logs/README.md
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#46362 adding enableSmbDirectoryLease property
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/SharesImpl.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SharePropertiesInternal.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/SharesGetPropertiesHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareProperties.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareCreateOptions.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareSetPropertiesOptions.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#46014 Increase realtime api websocket frame size to accomodate large model outputs.
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketSessionNettyImpl.java
Labels: customer-reported, Community Contribution, OpenAI

#46378 fixKafkaConnectorStuckIssue
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSinkConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
Labels: Cosmos

#46358 Added long emulator CI to cosmos pipelines
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/long-emulator-testng.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/long-emulator-testng.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/RetryContextOnDiagnosticTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/NetworkFailureTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ProactiveOpenConnectionsProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ProactiveOpenConnectionsProcessorUnitTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AadAuthorizationTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ContainerCreateDeleteWithSameNameTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/resources/long-emulator-testng.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/SharedTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/TransportClient.java
Labels: Cosmos

#46389 fixBadRequestForIncludingAllContainersInKafkaSourceConnector
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/CosmosSourceConnector.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/CosmosContainerUtils.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceContainersConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSourceConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/CosmosContainerUtilsTest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/MetadataMonitorThreadTest.java
Labels: Cosmos

#46374 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#46417 [Automation] Generate SDK based on TypeSpec 0.32.1
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#46409 Increment versions for eventhubs releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-apacheavro/pom.xml
  sdk/schemaregistry/azure-data-schemaregistry-jsonschema/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, Mgmt, Schema Registry, azure-spring, Monitor - Autoconfigure

#46442 Sync eng/common directory with azure-sdk-tools for PR 11726
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#46430 Upgrade Netty, Reactor, and Vertx dependencies
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/clientcore/http-netty4/pom.xml
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/openai/azure-ai-openai-realtime/pom.xml
  sdk/template/azure-template-stress/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Event Hubs, EngSys, Azure.Core, common, WebPubSub, OpenAI, clientcore

#46435 Remove azure-sdk-java-mcp copilot edits and configurations
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
Labels: common

#46396 [KafkaConnector]FixNullRefForAllVersionsAndDeletes
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/sink/CosmosSinkTaskConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTask.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/main/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskConfig.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/CosmosSinkConnectorITest.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/KafkaCosmosTestSuiteBase.java
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskTest.java
Labels: Cosmos

#46282 STG100 - Blob Principal Bound Identity SAS
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/util/BlobSasImplUtil.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasSignatureValues.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasAsyncClientTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/SasClientTests.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/sas/CommonSasQueryParameters.java
  sdk/storage/azure-storage-common/src/test-shared/java/com/azure/storage/common/test/shared/StorageCommonTestUtils.java
Labels: Storage

#46445 STG100 - Datalake Principal Bound Identity SAS
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/DataLakeSasImplUtil.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/sas/DataLakeServiceSasSignatureValues.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DataLakeTestBase.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileApiTest.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SasAsyncTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/SasTests.java
Labels: Storage

#46406 STG100 - Get and Set Blob Tags Conditional Headers
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#46311 STG100 - Queue User Delegation SAS
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceAsyncClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceClient.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/ServicesImpl.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/models/ServicesGetUserDelegationKeyHeaders.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/implementation/util/QueueSasImplUtil.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/KeyInfo.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/UserDelegationKey.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/sas/QueueServiceSasSignatureValues.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSasAsyncClientTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueSasClientTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueServiceAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueTestBase.java
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#46404 dpg, bump commit id for azure-messaging-eventgrid-namespaces and azure-communication-jobroute
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/AcknowledgeResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReceiveResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RejectResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/ReleaseResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/src/main/java/com/azure/messaging/eventgrid/namespaces/models/RenewLocksResult.java
  sdk/eventgrid/azure-messaging-eventgrid-namespaces/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
Labels: Event Grid

#46478 External dependencies upgrade - Spring Boot 3.5.5 and Spring Cloud 2025.0.0
  eng/versioning/external_dependencies.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/scripts/spring_boot_3.5.5_managed_external_dependencies.txt
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-core/pom.xml
  sdk/spring/spring-cloud-azure-docker-compose/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-resourcemanager/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory-b2c/pom.xml
  sdk/spring/spring-cloud-azure-starter-active-directory/pom.xml
  sdk/spring/spring-cloud-azure-starter-actuator/pom.xml
  sdk/spring/spring-cloud-azure-starter-data-redis-lettuce/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-integration-storage-queue/pom.xml
  sdk/spring/spring-cloud-azure-starter-jdbc-mysql/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus-jms/pom.xml
  sdk/spring/spring-cloud-azure-starter/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-testcontainers/pom.xml
  sdk/spring/spring-integration-azure-core/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-servicebus/pom.xml
  sdk/spring/spring-integration-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
  sdk/spring/spring-messaging-azure-storage-queue/pom.xml
  sdk/spring/spring-messaging-azure/pom.xml
Labels: azure-spring

#46451 Shading log4j dependency in Spark Connector
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/batch/BulkExecutorUtil.java
Labels: Cosmos

#46483 Sync eng/common directory with azure-sdk-tools for PR 11801
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#46501 Increment versions for communication/azure-communication-callautomation releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: Communication - Call Automation

#46522 Make package as in release for mobile GA
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Labels: Communication - Phone Numbers

#46521 cfp304LeaseUpdateImprovement
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#46549 Sync eng/common directory with azure-sdk-tools for PR 11896
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#46535 Add mapping for session.id
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/SpanDataMapper.java
Labels: Monitor - Autoconfigure
