Repository Azure/azure-sdk-for-java, pull requests merged in 2025-03, with the labels that each got.

#44461 Sync eng/common directory with azure-sdk-tools for PR 9950
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#44466 mgmt core, `SyncPollerFactory` use Type instead of class
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/SyncPollOperation.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/polling/SyncPollerFactory.java
Labels: Azure.Core, ARM - Core

#44450 Increment versions for remoterendering releases
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/pom.xml
Labels: Remote Rendering

#44454 Increment versions for remoterendering release
  eng/versioning/version_client.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
Labels: Remote Rendering

#44467 Fix serialization issue in EventHubsExporterIntegrationTest
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/EventHubsExporterIntegrationTest.java
Labels: OpenTelemetry

#44398 [INTERNAL]: Add `RegionalRoutingContext` to encapsulate `URI`.
  sdk/cosmos/azure-cosmos-test/src/main/java/com/azure/cosmos/test/implementation/faultinjection/FaultInjectionRuleProcessor.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/GlobalPartitionEndpointManagerForCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/PartitionLevelCircuitBreakerTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ProactiveConnectionManagementTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConfigsTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RegionScopedSessionContainerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RenameCollectionAwareClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/RxGatewayStoreModelTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ThinClientStoreModelTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/WebExceptionRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ConnectionStateListenerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolverTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GlobalEndPointManagerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/MetadataRequestRetryPolicyTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/query/DocumentProducerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/routing/LocationCacheTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnostics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientSideRequestStatistics.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DocumentServiceRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/MetadataRequestRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RegionScopedSessionContainer.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceThrottleRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ShouldRetryResult.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/WebExceptionRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/circuitBreaker/GlobalPartitionEndpointManagerForCircuitBreaker.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GlobalAddressResolver.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdOpenConnectionsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/faultinjection/FaultInjectionRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/Fetcher.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/LocationCache.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/RegionalRoutingContext.java
Labels: Cosmos

#44476 Sync eng/common directory with azure-sdk-tools for PR 9955
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#44479 Sync eng/common directory with azure-sdk-tools for PR 9945
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44142 Update for jca
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/resources/jarsigned.png
  sdk/keyvault/azure-security-keyvault-jca/resources/jarverified.png
  sdk/keyvault/azure-security-keyvault-jca/resources/place-jar.png
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ServerSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/mtls/ClientMTLSSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/mtls/ServerMTLSSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/tls/ClientSSLSample.java
  sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/tls/ServerSSLSample.java
  sdk/keyvault/ci.yml
Labels: KeyVault, azure-spring

#44478 Fix missing sample compilation in ClientCore libraries
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/client/JdkHttpClientBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipelineBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/Instrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/logging/ClientLogger.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/HttpPipelineBuilderJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/annotation/AnnotationJavadocCodesnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/client/JdkHttpClientBuilderJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/http/models/RequestOptionsJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClient.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClientBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/TelemetryForLibraryDevelopersJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/TelemetryJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/binarydata/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/utils/ClientLoggerJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/utils/union/NestedUnion.java
  sdk/clientcore/http-okhttp3/spotbugs-exclude.xml
  sdk/clientcore/optional-dependency-tests/src/samples/java/io/clientcore/core/instrumentation/TelemetryJavaDocCodeSnippets.java
  sdk/parents/clientcore-parent/pom.xml
Labels: Azure.Core, clientcore

#44484 Merge to main after spring cloud azure 5.20.1 released
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/CHANGELOG.md
  sdk/spring/README.md
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/README.md
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-actuator/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/CHANGELOG.md
  sdk/spring/spring-cloud-azure-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-docker-compose/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-resourcemanager/CHANGELOG.md
  sdk/spring/spring-cloud-azure-service/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/README.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/CHANGELOG.md
  sdk/spring/spring-cloud-azure-stream-binder-servicebus/CHANGELOG.md
  sdk/spring/spring-cloud-azure-testcontainers/CHANGELOG.md
  sdk/spring/spring-integration-azure-core/CHANGELOG.md
  sdk/spring/spring-integration-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-integration-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-integration-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure-eventhubs/CHANGELOG.md
  sdk/spring/spring-messaging-azure-servicebus/CHANGELOG.md
  sdk/spring/spring-messaging-azure-storage-queue/CHANGELOG.md
  sdk/spring/spring-messaging-azure/CHANGELOG.md
Labels: azure-spring

#44486 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#44480 Adding config option `spark.cosmos.read.responseContinuationTokenLimitInKb` to reduce query continuation token size
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/SparkBridgeInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ItemsPartitionReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/SparkUtils.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EQueryITestBase.scala
Labels: Cosmos

#44384 Simplify operation instrumentation API further - use callback
  sdk/clientcore/core/checkstyle-suppressions.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/InstrumentationUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/NoopMeter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/OTelInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelMeter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelTracer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/Instrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/InstrumentedOperationDetails.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/LibraryInstrumentationOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/OperationInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/tracing/Tracer.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClient.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClientBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/TelemetryForLibraryDevelopersJavaDocCodeSnippets.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackInstrumentationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackTracingBenchmarks.java
  sdk/clientcore/optional-dependency-tests/src/samples/java/io/clientcore/core/instrumentation/TelemetryJavaDocCodeSnippets.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicyTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/ContextPropagationTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/InstrumentationTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/MeterTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/OperationInstrumentationTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/SuppressionTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/TracerTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/TracingShimBenchmarks.java
Labels: clientcore

#44488 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
Labels: Cosmos

#44245 Updates for 1ES ESRP Publishing Changes
  eng/pipelines/partner-release.yml
  eng/pipelines/patch-release.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/steps/gpg-sign-and-flatten.yml
  eng/pipelines/templates/steps/java-dev-feed-publishing.yml
  eng/pipelines/templates/steps/java-esrp-publishing.yml
  eng/pipelines/templates/steps/java-publishing.yml
  eng/scripts/Flatten-MavenPackageFolder.ps1
  sdk/boms/azure-sdk-template-bom/pom.xml
  sdk/boms/ci.yml
  sdk/parents/ci.yml
Labels: EngSys, Central-EngSys

#44489 Internal: Fixing md files to reflect azure-cosmos-spark 4.37.1 hotfix
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
Labels: Cosmos

#44497 Testing something with the SdkType environment var
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#44504 Fix assertions to `>= 0` for live test of `DeviceRegister`
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/test/java/com/azure/resourcemanager/deviceregistry/DeviceRegistryManagerTests.java
Labels: Mgmt

#44490 Fix AppConfigurationExporterIntegrationTest
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/AppConfigurationExporterIntegrationTest.java
Labels: OpenTelemetry

#44512 Internal: Allows configuring PendingAcquireMaxCount
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ConnectionPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClientConfig.java
Labels: Cosmos

#44501 Make clientcore JsonSerializer public
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/MockHttpResponse.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/RestProxy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/models/binarydata/BinaryData.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/models/JsonPatchDocument.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/models/binarydata/BinaryDataJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/MockHttpResponse.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/RestProxyImplTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/SwaggerMethodParserTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/AdditionalPropertiesSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/BinaryDataSerializationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/HttpResponseBodyDecoderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/serializer/JsonSerializableEndToEndTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/models/binarydata/BinaryDataTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/serialization/json/models/JsonPatchDocumentTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTestsServer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/JsonSerializerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/MockSerializer.java
Labels: clientcore

#44513 Sync eng/common directory with azure-sdk-tools for PR 9982
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#43721 Added interrupt hold audio flag for play media.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallMediaAsync.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/PlayOptions.java
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallMediaAsyncAutomatedLiveTests.java
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallAndUnmixedAudioTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createACSCallUnmixedAudioAffinityTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyCancelAddParticipant.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenAddParticipantFinallyRemoveParticipantAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndAnswerWithCustomContextThenHangupAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndConnectCallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndMediaStreamingTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndRejectAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/createVOIPCallAndTranscriptionTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/dtmfActionsInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/holdUnholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/interruptAudioAndAnnounceToholdParticipantInACallTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMediaInACallAutomatedTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleCombinedSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWhenParticipantOnHoldTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleFileSourcesWithPlayMediaTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaAllTest.json
  sdk/communication/azure-communication-callautomation/src/test/resources/playMultipleTextSourcesWithPlayMediaTest.json
Labels: Communication - Call Automation

#44514 Updating external dependency
  common/perf-test-core/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/template/azure-template-stress/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Labels: EngSys, Azure.Core, common, Azure SDK Tools

#44495 Sync eng/common directory with azure-sdk-tools for PR 9918
  eng/common/scripts/job-matrix/pullrequest-faq.md
Labels: EngSys, Central-EngSys

#44487 Fix EventHubsExporterIntegrationTest
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/EventHubsExporterIntegrationTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/TokenCredentialUtil.java
  sdk/monitor/test-resources.json
Labels: Event Hubs, OpenTelemetry

#44522 Fix "java - monitor-opentelemetry-exporter - tests" pipeline
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/AppConfigurationExporterIntegrationTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/EventHubsExporterIntegrationTest.java
  sdk/monitor/azure-monitor-opentelemetry-exporter/src/test/java/com/azure/monitor/opentelemetry/exporter/TokenCredentialUtil.java
Labels: OpenTelemetry

#44493 Turn off PRBatching for version override matrices
  sdk/core/ci.yml
Labels: Central-EngSys

#44534 Prepare Azure SDK Bom Release 1.2.32
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#44247 [WIP] Identity V2 Init
  .vscode/cspell.json
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/identity/azure-identity-v2/CHANGELOG.md
  sdk/identity/azure-identity-v2/README.md
  sdk/identity/azure-identity-v2/pom.xml
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AuthenticationRecord.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AuthenticationRequiredException.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AzureAuthorityHosts.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AzurePipelinesCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/AzurePipelinesCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/BrowserCustomizationOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/ClientSecretCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/ClientSecretCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/CredentialAuthenticationException.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/CredentialBuilderBase.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/CredentialUnavailableException.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/EntraIdCredentialBuilderBase.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/InteractiveBrowserCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/InteractiveBrowserCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/ManagedIdentityCredential.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/ManagedIdentityCredentialBuilder.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/TokenCachePersistenceOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/ClientBase.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/ConfidentialClient.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/HttpPipelineAdapter.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/ManagedIdentityClient.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/PersistentTokenCacheImpl.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/PublicClient.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/SynchronousAccessor.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/client/package-info.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/ClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/ConfidentialClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/HttpPipelineOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/ManagedIdentityClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/MsalAuthenticationAccount.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/MsalToken.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/OidcTokenResponse.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/PublicClientOptions.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/models/package-info.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/IdentityConstants.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/IdentityUtil.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/LoggingUtil.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/ScopeUtil.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/ValidationUtil.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/implementation/util/package-info.java
  sdk/identity/azure-identity-v2/src/main/java/com/azure/identity/v2/package-info.java
  sdk/identity/azure-identity-v2/src/main/module-info.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/AzurePipelinesCredentialBuilderTest.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/ClientSecretCredentialTest.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/InteractiveBrowserCredentialTest.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/util/TestUtils.java
  sdk/identity/ci.v2.yml
  sdk/identity/pom.xml
Labels: Azure.Core, Azure.Identity, clientcore

#44455 Sync eng/common directory with azure-sdk-tools for PR 9943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44536 Fix autoconfigure typo
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorAutoConfigure.java
Labels: OpenTelemetry

#44275 [Communication][Rooms] Introduce Collaborator role feature
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/assets.json
  sdk/communication/azure-communication-rooms/pom.xml
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/RoomsServiceVersion.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/AzureCommunicationRoomServiceImplBuilder.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/converters/ParticipantRoleConverter.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/ParticipantRole.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/RoomsCollection.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/implementation/models/UpdateRoomRequest.java
  sdk/communication/azure-communication-rooms/src/main/java/com/azure/communication/rooms/models/ParticipantRole.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsAsyncClientTests.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsClientTest.java
  sdk/communication/azure-communication-rooms/src/test/java/com/azure/communication/rooms/RoomsTestBase.java
  sdk/communication/azure-communication-rooms/swagger/README.md
Labels: Communication - Rooms

#44537 Update OTel autoconfigure changelog
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
Labels: OpenTelemetry

#44545 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, azure-spring, OpenTelemetry, clientcore

#44547 [Automation] Generate SDK based on TypeSpec 0.27.8
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#44528 [AI] [Inference] use model version 2024-05-01-preview as default #44517
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/customization/src/main/java/InferenceCustomizations.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ModelServiceVersion.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/StructuredJsonChatSample.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
Labels: AI Model Inference

#44274 Add section to READMEs about Android support
  README.md
  sdk/serialization/azure-xml/README.md
Labels: Azure.Core

#44557 Prepare Minor Release for azure-json
  eng/versioning/version_client.txt
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/serialization/azure-json/CHANGELOG.md
  sdk/serialization/azure-json/README.md
  sdk/serialization/azure-json/pom.xml
Labels: Azure.Core

#44516 Prepare release for clientcore beta.6
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/http-okhttp3/CHANGELOG.md
Labels: clientcore

#44381 Deprecate UsernamePasswordCredential
  sdk/e2e/src/main/java/com/azure/endtoend/identity/MultiTenantTest.java
  sdk/identity/azure-identity-extensions/src/main/java/com/azure/identity/extensions/implementation/credential/provider/DefaultTokenCredentialProvider.java
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredential.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/UsernamePasswordCredentialTest.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureTokenCredentialAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/AbstractAzureServiceConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/context/AzureTokenCredentialAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/implementation/factory/credential/UsernamePasswordCredentialBuilderFactory.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/credential/resolver/AzureTokenCredentialResolverTests.java
  sdk/spring/spring-cloud-azure-core/src/test/java/com/azure/spring/cloud/core/implementation/factory/credential/UsernamePasswordCredentialBuilderFactoryTest.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/AzureServiceClientBuilderFactoryBaseTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/servicebus/factory/AbstractServiceBusSubClientBuilderFactoryTests.java
Labels: Azure.Identity

#44552 Increment package versions for eventhubs releases (#44518)
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, common, azure-spring, OpenTelemetry

#44572 Update Readme
  sdk/spring/spring-cloud-azure-starter-monitor/README.md
Labels: azure-spring

#44573 Remove unnecessary file
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/assets.json
Labels: OpenTelemetry

#44576 Sync eng/common directory with azure-sdk-tools for PR 10013
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44440 Compile-Time codegen updates
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientService.java
  sdk/clientcore/annotation-processor-test/src/main/java/module-info.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor/checkstyle-suppressions.xml
  sdk/clientcore/annotation-processor/spotbugs-exclude.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/TemplateInput.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/PathBuilder.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGeneration.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/TypeConverter.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/mocks/MockDeclaredType.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/mocks/MockTemplateInput.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/APIGenerationTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/BodyContentTypeProcessorTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpPipelineBuilderMethodTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/ServiceInterfaceGenerationTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/PathBuilderTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGenerationTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/TypeConverterTest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CodegenUtil.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
Labels: clientcore

#44539 [AppConfig] Added Audience Scope support
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/TROUBLESHOOTING.md
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationAsyncClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClient.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationAudience.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/package-info.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/README.md
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/EntraIdAuthentication.java
  sdk/appconfiguration/azure-data-appconfiguration/src/samples/java/com/azure/data/appconfiguration/ReadmeSamples.java
  sdk/appconfiguration/azure-data-appconfiguration/src/test/java/com/azure/data/appconfiguration/ConfigurationClientBuilderTest.java
Labels: Client, App Configuration

#44579 Update changelog date for core release
  sdk/clientcore/annotation-processor/CHANGELOG.md
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/http-okhttp3/CHANGELOG.md
Labels: clientcore

#44577 Prepare March Release of Core Libraries
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/README.md
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/serialization/azure-json/README.md
  sdk/synapse/azure-analytics-synapse-artifacts/README.md
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP, Communication - Rooms

#44305 Add logging for user-assigned managed identity
  sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java
Labels: Azure.Identity

#44574 Increment versions for ai releases
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/pom.xml
Labels: AI Model Inference

#44582 Cleanup Identity CI YMLs
  sdk/identity/ci.v2.yml
  sdk/identity/ci.yml
Labels: Azure.Identity

#44584 Removing azure-core unreleased dependency for release.
  sdk/core/azure-core/pom.xml
Labels: Azure.Core

#44585 Removing azure-core unreleased dependency for release.
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
Labels: Azure.Core

#44544 Update readme and add logging for abnormal http status codes when processing HTTP
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/README.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/utils/HttpUtil.java
Labels: azure-spring

#44583 Update msal4j dependency
  eng/versioning/external_dependencies.txt
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-v2/pom.xml
  sdk/identity/azure-identity/pom.xml
Labels: Event Hubs, Azure.Identity

#44594 begin the session idle timeout-timer when downstream request for messages
  sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReactorReceiver.java
  sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusSessionReactorReceiverTest.java
Labels: Service Bus

#44565 Prototype for simplifying Configuration in ClientCore
  sdk/clientcore/core/checkstyle-suppressions.xml
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ProxyOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipelineBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/DefaultLogger.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/EnvironmentConfiguration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/ImplUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/SharedExecutorService.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/Configuration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/ConfigurationBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/ConfigurationProperty.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/ConfigurationPropertyBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/ConfigurationSource.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/EnvironmentVariableConfigurationSource.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/NoopConfiguration.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/configuration/SystemPropertiesConfigurationSource.java
  sdk/clientcore/core/src/main/java12/io/clientcore/core/http/client/JdkHttpClientBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/utils/ConfigurationJavaDocCodeSnippet.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/client/JdkHttpClientBuilderIT.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/utils/ImplUtilsTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/TestConfigurationSource.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/OkHttpHttpClientBuilderTests.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/TestBase.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/TestConfigurationSource.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/AzurePipelinesCredentialBuilderTest.java
  sdk/identity/azure-identity-v2/src/test/java/com/azure/identity/v2/util/TestUtils.java
Labels: Azure.Core, Azure.Identity, clientcore

#44568 STG97 GA Release 2025-03-11
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#44581 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-okhttp3/CHANGELOG.md
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
Labels: clientcore

#44593 Increase test coverage in ClientCore
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/ImplUtils.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/UriBuilder.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/models/HttpHeadersTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/models/HttpRangeTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/models/ProxyOptionsTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/OTelAttributeKeyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/OTelAttributesTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/OTelContextTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/OTelInstrumentationTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelDoubleHistogramTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelLongCounterTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelLongUpDownCounterTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelMeterTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelSpanBuilderTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelSpanContextTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelSpanTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelTraceContextPropagatorTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelTracerTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/utils/ImplUtilsTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/AuthUtilsTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/Base64UriTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/ContextTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/ProgressReporterTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/UnionTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/UriBuilderTests.java
Labels: clientcore

#44596 Sync eng/common directory with azure-sdk-tools for PR 9993
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#44598 [AppConfig] Rename AZURE_US_GOVERNMENT to AZURE_GOVERNMENT
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java
  sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/ConfigurationAudience.java
Labels: Client, App Configuration

#44578 Internal: Update sample readme
  sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration/README.md
Labels: Cosmos

#44615 [Automation] Generate SDK based on TypeSpec 0.27.9
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: DPG

#44538 Adding support for BatchError.fromExeception
  sdk/batch/azure-compute-batch/README.md
  sdk/batch/azure-compute-batch/assets.json
  sdk/batch/azure-compute-batch/pom.xml
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchError.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/BatchErrorTests.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/models/BatchErrorUnitTest.java
Labels: Batch

#44617 Sync eng/common directory with azure-sdk-tools for PR 10028
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#43801 Fixing bug when PK is inhertied from a parent entity.
  sdk/spring/azure-spring-data-cosmos/CHANGELOG.md
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosEntityInformation.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/EntityImpl.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/GrandparentEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/domain/ParentEntity.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/EntityImplRepositoryIT.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/EntityImplRepository.java
  sdk/spring/azure-spring-data-cosmos/src/test/java/com/azure/spring/data/cosmos/repository/repository/ParentEntityRepository.java
Labels: azure-spring

#44123 Add subscription option to Az CLI.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClientOptions.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/ValidationUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/AzureCliCredentialTest.java
Labels: Azure.Identity

#44624 Prepare for clientcore beta.7 release
  sdk/clientcore/annotation-processor/CHANGELOG.md
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/http-okhttp3/CHANGELOG.md
Labels: clientcore

#44618 Increment versions for appconfiguration releases
  eng/versioning/version_client.txt
  sdk/appconfiguration/azure-data-appconfiguration-perf/pom.xml
  sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-data-appconfiguration/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/monitor/azure-monitor-query/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration/pom.xml
Labels: Monitor, App Configuration, Azure.Core, azure-spring, OpenTelemetry

#44625 [Automation] Generate Fluent Lite from TypeSpec pineconevectordb
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/CHANGELOG.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/README.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/SAMPLE.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/pom.xml
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/main/java/com/azure/resourcemanager/pineconevectordb/models/MarketplaceDetails.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/main/java/com/azure/resourcemanager/pineconevectordb/models/UserDetails.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/ManagedServiceIdentityTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/MarketplaceDetailsTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OfferDetailsTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OperationsListMockTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationPropertiesTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationResourceInnerTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationResourceListResultTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationResourceUpdateTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationsCreateOrUpdateMockTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationsGetByResourceGroupWithResponseMockTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationsListByResourceGroupMockTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/OrganizationsListMockTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/PartnerPropertiesTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/SingleSignOnPropertiesV2Tests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/UserAssignedIdentityTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/test/java/com/azure/resourcemanager/pineconevectordb/generated/UserDetailsTests.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/tsp-location.yaml
Labels: Mgmt - Track 2

#44626 Increment versions for pineconevectordb releases
  eng/versioning/version_client.txt
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/CHANGELOG.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/pom.xml
Labels: Mgmt

#44606 Sync eng/common directory with azure-sdk-tools for PR 10027
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44635 Remove ResponseBodyMode
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGeneration.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGenerationTest.java
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/RequestOptions.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/ResponseBodyMode.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCache.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/ResponseExceptionConstructorCache.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/http/rest/RestProxyImpl.java
  sdk/clientcore/core/src/main/java12/io/clientcore/core/implementation/http/client/JdkHttpClient.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyResponseConstructionBenchmark.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/RestProxyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMark.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheBenchMarkTestData.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsCacheLambdaMetaFactory.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/http/rest/ResponseConstructorsNoCacheReflection.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/http-okhttp3/src/main/java/io/clientcore/http/okhttp3/OkHttpHttpClient.java
Labels: clientcore

#44622 Prepare March 2025 Beta for Identity
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#44629 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-okhttp3/CHANGELOG.md
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
Labels: clientcore

#44556 Use OS variables from image.yml and remove ArtifactName template parameter which is always hard coded to 'packages'
  eng/pipelines/templates/jobs/build-validate-pom.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-client-patch.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-pom-only.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/steps/compilation.check.yml
  sdk/boms/azure-sdk-template-bom/pom.xml
Labels: Central-EngSys

#44641 Annotation Processor: Use released version of clientcore
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/corev2/azure-core-test/pom.xml
  sdk/corev2/azure-core/pom.xml
Labels: clientcore

#44627 Sync eng/common directory with azure-sdk-tools for PR 10039
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44644 Sync eng/common directory with azure-sdk-tools for PR 10041
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#44649 Increment versions for identity releases
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#44634 [Internal]:Fixes benchmark tool to retry 500 on initialization
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
Labels: Cosmos

#44482 Support parsing AAD Audience from connection string
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/ConnectionString.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/ConnectionStringBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/configuration/ConnectionStringParsingTests.java
Labels: OpenTelemetry

#44650 Sync eng/common directory with azure-sdk-tools for PR 10045
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#44658 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Search, OpenAI

#44657 Increment versions for clientcore/annotation-processor releases
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor/CHANGELOG.md
  sdk/clientcore/annotation-processor/pom.xml
Labels: clientcore

#44642 Only run cosmos vnext on internal. Clean up/de-dup configs.
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/pipelines/templates/stages/cosmos-emulator-vnext-matrix.json
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-vnext-emulator-http.yml
  eng/pipelines/templates/stages/cosmos-vnext-emulator-https.yml
  eng/pipelines/templates/steps/cosmos-vnext-emulator.yml
Labels: Central-EngSys

#44661 Sync .github/workflows directory with azure-sdk-tools for PR 10054
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#44673 Removing Spark 3.1 and 3.2 connectors
  eng/pipelines/templates/stages/cosmos-emulator-matrix.json
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CONTRIBUTING.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/migration-guide.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/scalastyle_config.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/resources/azure-cosmos-spark.properties
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScan.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/ItemsWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/SparkInternalsBridge.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientBuilderInterceptor
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientInterceptor
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.WriteOnRetryCommitInterceptor
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com.azure.cosmos.spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com.azure.cosmos.spark/RowSerializerPollTest.scala
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/test/scala/com.azure.cosmos.spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CONTRIBUTING.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/migration-guide.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/scalastyle_config.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/resources/azure-cosmos-spark.properties
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosBytesWrittenMetric.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosCatalog.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRecordsWrittenMetric.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRowConverter.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriter.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScan.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/ItemsScanBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/ItemsWriterBuilder.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/RowSerializerPool.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/SparkInternalsBridge.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/main/scala/com/azure/cosmos/spark/TotalRequestChargeMetric.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientBuilderInterceptor
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.CosmosClientInterceptor
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/resources/META-INF/services/com.azure.cosmos.spark.WriteOnRetryCommitInterceptor
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/scala/com.azure.cosmos.spark/CosmosCatalogITest.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/scala/com.azure.cosmos.spark/ItemsScanITest.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/scala/com.azure.cosmos.spark/RowSerializerPollTest.scala
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/src/test/scala/com.azure.cosmos.spark/SparkE2EQueryITest.scala
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/dev/README.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/ci.yml
  sdk/cosmos/pom.xml
  sdk/cosmos/spark.yml
Labels: Cosmos

#44680 Make animal-sniffer plugin optional
  sdk/parents/clientcore-parent/pom.xml
Labels: Azure.Core

#44665 Add monitor into spring pipeline and bom
  eng/versioning/version_client.txt
  sdk/boms/spring-cloud-azure-dependencies/pom.xml
  sdk/spring/ci.yml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-monitor/ci.yml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/src/test/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/SpringMonitorPropertyFileTest.java
Labels: azure-spring

#44630 Add new property session idle timeout for service bus session processor client
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/properties/AzureServiceBusProperties.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/servicebus/factory/ServiceBusSessionProcessorClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/servicebus/properties/ServiceBusProcessorClientProperties.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/AzureGenericServiceClientBuilderFactoryBaseTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/servicebus/factory/ServiceBusSessionProcessorClientBuilderFactoryTests.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/servicebus/properties/ServiceBusProcessorClientTestProperties.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/core/properties/ProcessorProperties.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/properties/merger/ProcessorPropertiesMerger.java
  sdk/spring/spring-messaging-azure-servicebus/src/test/java/com/azure/spring/messaging/servicebus/implementation/properties/merger/ProcessorPropertiesParentMergerTests.java
Labels: azure-spring

#44637 [Internal]: Deprecates ClientTelemetry and removes unused code
  eng/versioning/version_client.txt
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/CHANGELOG.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/Player.json
  sdk/cosmos/azure-cosmos-dotnet-benchmark/README.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/BenchmarkConfig.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/IBenchmarkOperation.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/IExecutionStrategy.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/IExecutor.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/JsonHelper.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/Main.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/OperationResult.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/ParallelExecutionStrategy.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/RunSummary.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/SerialOperationExecutor.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/Summary.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/TelemetrySpan.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/Utility.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/java/com/azure/cosmos/dotnet/benchmark/operations/InsertBenchmarkOperation.java
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/main/resources/log4j2.properties
  sdk/cosmos/azure-cosmos-dotnet-benchmark/src/test/java/BasicOperationTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientTelemetryTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientUnderTestBuilder.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ConnectionConfigTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosClientBuilderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/RntbdTransportClientTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosBridgeInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ImplementationBridgeHelpers.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetry.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryDiagnosticsHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdChannelAcquisitionTimeline.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosClientTelemetryConfig.java
  sdk/cosmos/ci.yml
  sdk/cosmos/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/cosmos/CosmosClientBuilderFactory.java
  sdk/spring/spring-cloud-azure-service/src/test/java/com/azure/spring/cloud/service/implementation/cosmos/CosmosClientBuilderFactoryTests.java
Labels: Cosmos

#44692 Preparing azure-messaging-servicebus march-2025 release
  eng/versioning/version_client.txt
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/README.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
Labels: Service Bus

#44448 add platform id to feedback template
  .github/ISSUE_TEMPLATE/z-learn-feedback.yml
Labels: customer-reported, Community Contribution

#44609 Update compile-time codegen for serializer changes
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/SimpleXmlSerializableService.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/SimpleXmlSerializable.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/serializers/XmlSerializableTests.java
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGeneration.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/BodyContentTypeProcessorTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpPipelineBuilderMethodTest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/json/JsonSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/serialization/xml/XmlSerializer.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/CoreUtilsTests.java
Labels: clientcore

#44695 Shrink version testing matrix
  sdk/core/version-overrides-matrix.json
Labels: Azure.Core

#44262 Support Emitting Application Insights Custom Events
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/LogDataMapper.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorExportersEndToEndTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/logging/LogDataMapperTest.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/TestUtils.java
Labels: OpenTelemetry

#44696 Add support for non-null path param in codegen URLs
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor/checkstyle-suppressions.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/PathBuilder.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseHandler.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/mocks/MockPathParam.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/models/TemplateInputTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpRequestInitializerTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/PathBuilderTest.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/CoreUtilsTests.java
Labels: clientcore

#44687 Enable annotation @EnableAzureMessaging automatically
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/messaging/AzureMessagingListenerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/messaging/AzureMessagingListenerAutoConfigurationTests.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/annotation/EventHubsListenerAnnotationBeanPostProcessor.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/annotation/ServiceBusListenerAnnotationBeanPostProcessor.java
Labels: azure-spring

#44675 Bump OpenTelemetry
  eng/versioning/external_dependencies.txt
  sdk/ai/azure-ai-inference/pom.xml
  sdk/attestation/azure-security-attestation/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/java/com/azure/spring/cloud/autoconfigure/monitor/implementation/OpenTelemetryVersionCheckRunner.java
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, Azure.Core, azure-spring, Attestation, OpenTelemetry, clientcore, AI Model Inference

#44707 Increment versions for communication/azure-communication-rooms releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/pom.xml
Labels: Communication - Rooms

#44697 Increment versions for servicebus releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/servicebus/azure-messaging-servicebus-track2-perf/pom.xml
  sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md
  sdk/servicebus/azure-messaging-servicebus/docs/pom.xml
  sdk/servicebus/azure-messaging-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-servicebus-core/pom.xml
  sdk/spring/spring-messaging-azure-servicebus/pom.xml
Labels: Service Bus, Mgmt, azure-spring, Communication - Call Automation

#44682 CosmosPatchTransformationPolicy Not Applied in Sovereign Clouds
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/BuilderHelper.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableServiceClientBuilderTest.java
  sdk/tables/test-resources.json
Labels: Tables

#44670 Add sync polling support to azure-core v2
  sdk/corev2/azure-core/pom.xml
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/ChainedPollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/DefaultPollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/LocationPollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/LongRunningOperationStatus.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/OperationResourcePollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/PollResponse.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/Poller.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/PollingContext.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/PollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/PollingStrategyOptions.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/SimplePoller.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/StatusCheckPollingStrategy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/polling/package-info.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/ImplUtils.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/PollContextRequiredException.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/PollResult.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/PollingConstants.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/PollingUtils.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/implementation/polling/package-info.java
  sdk/corev2/azure-core/src/main/java/module-info.java
  sdk/corev2/azure-core/src/test/java/com/azure/v2/core/http/polling/CertificateOutput.java
  sdk/corev2/azure-core/src/test/java/com/azure/v2/core/http/polling/PollingUtilsTests.java
  sdk/corev2/azure-core/src/test/java/com/azure/v2/core/http/polling/SimplePollerTests.java
  sdk/corev2/azure-core/src/test/java/com/azure/v2/core/http/polling/TestResponse.java
Labels: Azure.Core.V2

#44653 Add support for live metrics
  eng/versioning/external_dependencies.txt
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/README.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorAutoConfigure.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorExporterBuilder.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/AzureMonitorLogRecordExporter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/LiveMetrics.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/LiveMetricsSpanProcessor.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/AksResourceAttributes.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/ResourceParser.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/module-info.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/CustomValidationPolicy.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/test/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/ResourceParserTest.java
Labels: OpenTelemetry

#44603 Update revapi versions
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/clientcore-parent/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
  sdk/tools/azure-sdk-archetype/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
Labels: Azure.Core, Azure.Identity, azure-spring, Azure SDK Tools

#44648 Fixed an issue where leases could be missed when errors happen during initialization
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/epkversion/BootstrapperImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImplTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/FullFidelityChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionSynchronizerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/BootstrapperImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/LeaseStoreManagerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ChangeFeedProcessorOptions.java
Labels: Cosmos

#44732 Update changelog
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
Labels: OpenTelemetry

#44721 Increment versions for tables releases
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#44739 Add OpenTelemetry SDK to changelog
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
Labels: OpenTelemetry

#44741 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Event Hubs, Service Bus, Storage, EngSys, azure-spring, OpenTelemetry, clientcore

#44734 Make Spring monitor work with GraalVM native 22 and 23
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/native-image/native-image.properties
  sdk/spring/spring-cloud-azure-starter-monitor/src/main/resources/META-INF/native-image/reflect-config.json
Labels: azure-spring

#44745 Update starter monitor release note
  sdk/spring/CHANGELOG.md
Labels: azure-spring

#44752 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#44728 Disable the unstable testcase
  sdk/identity/azure-identity-extensions/src/test/java/com/azure/identity/extensions/implementation/template/AzureAuthenticationTemplateTest.java
Labels: azure-spring

#44719 Adding `service_tier` for request and response `ChatCompletions`
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ServiceTier.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ServiceTierOptions.java
Labels: OpenAI

#44757 Sync eng/common directory with azure-sdk-tools for PR 10096
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
  eng/scripts/Language-Settings.ps1
Labels: EngSys, Central-EngSys

#44664 adding tests for get sect ACL using OAuth
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueTestBase.java
Labels: Storage

#44755 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring

#44758 Sync eng/common directory with azure-sdk-tools for PR 10100
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#44766 Increment versions for eventgrid/azure-resourcemanager-eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-resourcemanager-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
Labels: Mgmt

#44674 Fix: serialization and deserialization of `ChatRequestMessage` subclasses
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestAssistantMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestDeveloperMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestSystemMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestToolMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestUserMessage.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/models/ChatRequestMessageUnitTests.java
Labels: OpenAI

#44762 Add support for multipleQueryParams in annotation-processor
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientImpl.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/PagingOperationTests.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpRequestInitializerTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/PathBuilderTest.java
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CoreUtils.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/CoreUtilsTests.java
Labels: clientcore

#44761 release azure-cosmos 4.68.0
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring

#44754 Improve message converter definition
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/storage/queue/AzureStorageQueueMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/servicebus/AzureServiceBusTemplateConfigurationTests.java
Labels: azure-spring

#44782 Increment versions for hybridkubernetes releases
  eng/versioning/version_client.txt
  sdk/hybridkubernetes/azure-resourcemanager-hybridkubernetes/CHANGELOG.md
  sdk/hybridkubernetes/azure-resourcemanager-hybridkubernetes/pom.xml
Labels: Mgmt

#44783 mgmt, doc, Update THREAD_POOL_AND_CONNECTION_POOL.md
  sdk/resourcemanager/docs/THREAD_POOL_AND_CONNECTION_POOL.md
Labels: Mgmt

#44786 Increment versions for durabletask releases
  eng/versioning/version_client.txt
  sdk/durabletask/azure-resourcemanager-durabletask/CHANGELOG.md
  sdk/durabletask/azure-resourcemanager-durabletask/pom.xml
Labels: Mgmt

#44767 Update to `Completions` and `ChatCompletions` `usage` field requiredness
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/Completions.java
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#44780 Increment versions for batch releases
  eng/versioning/version_client.txt
  sdk/batch/azure-compute-batch/CHANGELOG.md
  sdk/batch/azure-compute-batch/pom.xml
Labels: Batch

#44772 Use PackageInfo ArtifactName instead of Name when fetching Namespaces
  eng/scripts/Language-Settings.ps1
  eng/scripts/Save-Package-Namespaces-Property.ps1
Labels: Central-EngSys

#44302 Add Vanilla Netty to client core.
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/versioning/external_dependencies.txt
  sdk/clientcore/http-netty/CHANGELOG.md
  sdk/clientcore/http-netty/README.md
  sdk/clientcore/http-netty/checkstyle-suppressions.xml
  sdk/clientcore/http-netty/pom.xml
  sdk/clientcore/http-netty/spotbugs-exclude.xml
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClient.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClientBuilder.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/NettyHttpClientProvider.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/implementation/NettyHttpResponse.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/implementation/package-info.java
  sdk/clientcore/http-netty/src/main/java/io/clientcore/http/netty/package-info.java
  sdk/clientcore/http-netty/src/main/java/module-info.java
  sdk/clientcore/http-netty/src/main/resources/META-INF/services/io.clientcore.core.http.client.HttpClientProvider
  sdk/clientcore/http-netty/src/test/resources/upload.txt
  sdk/clientcore/optional-dependency-tests/pom.xml
  sdk/clientcore/pom.xml
Labels: clientcore

#44793 Sync eng/common directory with azure-sdk-tools for PR 10129
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44779 Update AzureCliCredentialBuilder doc
  sdk/identity/azure-identity/src/main/java/com/azure/identity/AzureCliCredentialBuilder.java
Labels: Azure.Identity

#44742 Sync eng/common directory with azure-sdk-tools for PR 10099
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#44789 sdk automation, fix global catch
  eng/automation/generate.py
Labels: Do Not Merge

#44268 STG98 - NFS over REST
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesCreateSymbolicLinkHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileSymbolicLinkInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCreateSymbolicLinkOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileShareTestBase.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#44792 [OpenAI] Prepare for 1.0.0-beta.16 release
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/README.md
Labels: OpenAI

#44802 Sync eng/common directory with azure-sdk-tools for PR 10135
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#44803 Fix vNext Bearer Token Policy
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/OAuthBearerTokenAuthenticationPolicy.java
  sdk/corev2/azure-core/src/main/java/com/azure/v2/core/http/pipeline/BearerTokenAuthenticationPolicy.java
Labels: Azure.Core.V2, clientcore

#44801 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Search, OpenAI

#44816 Sync eng/common directory with azure-sdk-tools for PR 10004
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#44814 Sync eng/common directory with azure-sdk-tools for PR 10145
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44812 Image Analysis: Use customization to add codesnippets
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
  sdk/vision/azure-ai-vision-imageanalysis/customization/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/customization/src/main/java/ImageAnalysisCustomization.java
  sdk/vision/azure-ai-vision-imageanalysis/pom.xml
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisAsyncClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClient.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/ImageAnalysisClientBuilder.java
  sdk/vision/azure-ai-vision-imageanalysis/src/main/java/com/azure/ai/vision/imageanalysis/implementation/ImageAnalysisClientImpl.java
  sdk/vision/azure-ai-vision-imageanalysis/src/test/java/com/azure/ai/vision/imageanalysis/generated/ImageAnalysisClientTestBase.java
  sdk/vision/azure-ai-vision-imageanalysis/tsp-location.yaml
  sdk/vision/ci.yml
Labels: Image Analysis

#44819 Increment versions for databox releases
  eng/versioning/version_client.txt
  sdk/databox/azure-resourcemanager-databox/CHANGELOG.md
  sdk/databox/azure-resourcemanager-databox/pom.xml
Labels: Mgmt

#44823 Sync - auto enable azure messaging annotation
  eng/versioning/version_client.txt
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/eventhubs/AzureEventHubsMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/messaging/AzureMessagingListenerAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/servicebus/AzureServiceBusMessagingAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/EventHubsTemplate.java
  sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/implementation/core/annotation/EventHubsListenerAnnotationBeanPostProcessor.java
  sdk/spring/spring-messaging-azure-servicebus/src/main/java/com/azure/spring/messaging/servicebus/implementation/core/annotation/ServiceBusListenerAnnotationBeanPostProcessor.java
Labels: spring-boot-2

#44827 March 2025 Bom Release
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom
