Repository Azure/azure-sdk-for-java, pull requests merged in 2025-06, with the labels that each got.

#45542 add releasedate and links to samples
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
Labels: Cognitive - Health Insights

#45544 Increment versions for healthinsights releases
  eng/versioning/version_client.txt
  sdk/healthinsights/azure-health-insights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/pom.xml
Labels: Cognitive - Health Insights

#45359 Increment versions for ai releases
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/pom.xml
Labels: AI

#45357 Increment versions for ai releases
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/pom.xml
  sdk/ai/azure-ai-projects/pom.xml
Labels: AI Model Inference, AI

#45382 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Labels: Event Grid, Mgmt, azure-spring

#45512 Making ShareFileSymbolicLinkInfo Package Private
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/accesshelpers/ShareFileSymbolicLinkInfoHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileSymbolicLinkInfo.java
Labels: Storage

#45384 Increment versions for eventhubs releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
  sdk/spring/spring-cloud-azure-stream-binder-eventhubs/pom.xml
  sdk/spring/spring-integration-azure-eventhubs/pom.xml
  sdk/spring/spring-messaging-azure-eventhubs/pom.xml
Labels: Event Hubs, common, azure-spring, Monitor - Autoconfigure

#45548 Prepare release clientcore:core and annotation-processor
  sdk/clientcore/annotation-processor/CHANGELOG.md
  sdk/clientcore/core/CHANGELOG.md
Labels: clientcore

#45537 Sync eng/common directory with azure-sdk-tools for PR 10755
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#45559 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#45554 Fix Thin Client Live Tests
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DatabaseAccount.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalEndpointManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
Labels: Cosmos

#45555 Increment versions for clientcore/annotation-processor releases
  eng/versioning/version_client.txt
  sdk/appconfiguration-v2/azure-data-appconfiguration/pom.xml
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/CHANGELOG.md
  sdk/clientcore/annotation-processor/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-administration/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-keys/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-secrets/pom.xml
Labels: clientcore

#45551 Adding missing java docs
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationKeyVaultClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefresh.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLoader.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLocationResolver.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataResource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/BackoffTimeCalculator.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/ConnectionManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
Labels: azure-spring

#45428 Sync eng/common directory with azure-sdk-tools for PR 10681
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#45429 Sync eng/common directory with azure-sdk-tools for PR 10694
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#45568 App Config 6.0 bug fixes
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationKeyVaultClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLoader.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLocationResolver.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/BackoffTimeCalculator.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/ConnectionManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
Labels: azure-spring

#45577 mgmt, update resources to 2025-04
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-resources/assets.json
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/DeploymentInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/DeploymentStackProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/DeploymentStackTemplateDefinitionInner.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicyAssignmentProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicyDefinitionProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicyDefinitionVersionProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicyExemptionProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicySetDefinitionProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluent/models/PolicySetDefinitionVersionProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/implementation/ResourceManagementClientImpl.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DataEffect.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentExternalInput.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentExternalInputDefinition.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentIdentity.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentIdentityType.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentParameter.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/DeploymentWhatIfProperties.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ParameterDefinitionsValue.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ParameterValuesValue.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/ResourceReference.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/UserAssignedIdentity.java
  sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/WhatIfChange.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCalculateTemplateHashSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsValidateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtManagementGroupScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtSubscriptionScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/DeploymentsWhatIfSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProviderResourceTypesListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersGetAtTenantScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersGetSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersListSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ProvidersProviderPermissionsSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsCreateOrUpdateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsDeleteSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/ResourceGroupsExportTemplateSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsCreateOrUpdateAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsDeleteAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsGetAtScopeSamples.java
  sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/resources/generated/TagOperationsUpdateAtScopeSamples.java
Labels: Mgmt

#45552 Start honoring ReadConsistencyStrategy for query
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosItemTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosLatestCommittedItemTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosDiagnosticsContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosRequestContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ChangeFeedQueryImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentQueryExecutionContextBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/IDocumentQueryClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/util/Beta.java
Labels: Cosmos

#45592 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring

#45589 Increment versions for spring releases
  eng/versioning/version_client.txt
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-feature-management-web/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management-web/pom.xml
  sdk/spring/spring-cloud-azure-feature-management/CHANGELOG.md
  sdk/spring/spring-cloud-azure-feature-management/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/CHANGELOG.md
  sdk/spring/spring-cloud-azure-starter-appconfiguration-config/pom.xml
Labels: azure-spring

#41555 Enabling bearer challenges for file share
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/BuilderHelper.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/FileAsyncApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareApiTests.java
  sdk/storage/azure-storage-file-share/src/test/java/com/azure/storage/file/share/ShareAsyncApiTests.java
Labels: Storage

#45597 mgmt compute, support beginCreate with context for VirtualMachine
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/pom.xml
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachine.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
Labels: Mgmt

#45621 Increment versions for resources releases
  eng/versioning/version_client.txt
  sdk/resources/azure-resourcemanager-resources-deploymentstacks/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources-deploymentstacks/pom.xml
Labels: Mgmt

#45623 Support 1es canary template validation for unified pipeline
  eng/pipelines/pullrequest.yml
Labels: Central-EngSys

#45631 Increment versions for purestorageblock releases
  eng/versioning/version_client.txt
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/CHANGELOG.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/pom.xml
Labels: Mgmt

#45626 Increment versions for computeschedule releases
  eng/versioning/version_client.txt
  sdk/computeschedule/azure-resourcemanager-computeschedule/CHANGELOG.md
  sdk/computeschedule/azure-resourcemanager-computeschedule/pom.xml
Labels: Mgmt

#45420 Query Functionality For ThinClient
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ThinClientE2ETest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/routing/HexConvertTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/OffsetLimitQueryTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/TestSuiteBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/HexConvert.java
  sdk/cosmos/live-thinclient-platform-matrix.json
  sdk/cosmos/tests.yml
Labels: Cosmos

#45641 Sync eng/common directory with azure-sdk-tools for PR 10835
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#45639 Prepare Identity Release June 2025 + Bump Msal dependency
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity-v2/azure-identity/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Event Hubs, Azure.Identity

#45416 Minor cleanup and logging for PartitionBasedLoadBalancer and adding unit tests for MessageFlux.RETRY_ONLY_COMPLETION
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MessageFluxIsolatedTest.java
  sdk/core/azure-core-amqp/src/test/java/com/azure/core/amqp/implementation/MessageFluxTest.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
Labels: Event Hubs, Azure.Core.AMQP

#45585 Queue properties
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/pom.xml
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/QueueProperties.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueApiTests.java
  sdk/storage/azure-storage-queue/src/test/java/com/azure/storage/queue/QueueAsyncApiTests.java
Labels: Storage

#45610 Use JavaParser-based code customizations in KeyVault instead of Eclipse
  sdk/ai/azure-ai-inference/customization/src/main/java/InferenceCustomizations.java
  sdk/ai/azure-ai-inference/spotbugs-exclude.xml
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/models/EmbedRequest1.java
  sdk/keyvault/azure-security-keyvault-administration/customizations/src/main/java/AdministrationCustomizations.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultAdministrationServiceVersion.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/KeyVaultAdministrationClientImpl.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/RoleAssignmentsImpl.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/implementation/RoleDefinitionsImpl.java
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/models/KeyVaultRoleScope.java
  sdk/keyvault/azure-security-keyvault-administration/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-certificates/customizations/src/main/java/CertificatesCustomizations.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/CertificateServiceVersion.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/models/CertificateOperation.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/CertificateKeyUsage.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/CertificateOperationError.java
  sdk/keyvault/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-keys/customizations/src/main/java/KeysCustomizations.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyServiceVersion.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/models/KeyAttestation.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyAttestation.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/KeyCurveName.java
  sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/ReleaseKeyResult.java
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-secrets/customizations/src/main/java/SecretsCustomizations.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretServiceVersion.java
  sdk/keyvault/azure-security-keyvault-secrets/tsp-location.yaml
Labels: KeyVault, AI Model Inference

#45541 [OPS Common SDK] Update Communication Common SDK for Teams Phone Extensibility GA
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-common-perf/pom.xml
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/README.md
  sdk/communication/azure-communication-common/checkstyle-suppressions.xml
  sdk/communication/azure-communication-common/pom.xml
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/CommunicationTokenCredential.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/EntraCommunicationTokenCredentialOptions.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/EntraCommunicationTokenUtils.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/EntraTokenCredential.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/MicrosoftTeamsUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/TeamsExtensionUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/communication/common/implementation/EntraTokenGuardPolicy.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationIdentifierTests.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/CommunicationTokenCredentialTests.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/EntraCredentialHelper.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/EntraTokenCredentialTests.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/communication/common/implementation/EntraTokenGuardPolicyTests.java
Labels: Communication - Common

#45666 Prepare Search for 11.7.7 patch release
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/TROUBLESHOOTING.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/DocumentsImpl.java
  sdk/search/azure-search-documents/src/samples/README.md
  sdk/search/azure-search-documents/src/test/README.md
  sdk/search/azure-search-documents/swagger/README.md
Labels: Search

#45667 Increment versions for planetarycomputer releases
  eng/versioning/version_client.txt
  sdk/planetarycomputer/azure-resourcemanager-planetarycomputer/CHANGELOG.md
  sdk/planetarycomputer/azure-resourcemanager-planetarycomputer/pom.xml
Labels: Mgmt

#45663 Increment versions for onlineexperimentation/azure-resourcemanager-onlineexperimentation releases
  eng/versioning/version_client.txt
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/CHANGELOG.md
  sdk/onlineexperimentation/azure-resourcemanager-onlineexperimentation/pom.xml
Labels: Mgmt

#45674 Add breaking changes into changelog.md for App Service 2024-11-01
  sdk/resourcemanager/azure-resourcemanager-appservice/CHANGELOG.md
Labels: Mgmt

#45659 mgmt compute, more support on beginXX with context
  sdk/resourcemanager/azure-resourcemanager-compute/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-compute/assets.json
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DiskImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/DisksImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotsImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachinesImpl.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Disk.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Disks.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Snapshot.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Snapshots.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachines.java
  sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java
  sdk/resourcemanager/azure-resourcemanager-network/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/implementation/NetworkInterfacesImpl.java
  sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/NetworkInterfaces.java
Labels: Mgmt

#45681 Sync eng/common directory with azure-sdk-tools for PR 10878
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#45682 Sync eng/common directory with azure-sdk-tools for PR 10886
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#45684 [Key Vault] Updated code generation commit hashes ahead of minor release.
  sdk/keyvault/azure-security-keyvault-administration/src/main/java/com/azure/security/keyvault/administration/KeyVaultBackupAsyncClient.java
  sdk/keyvault/azure-security-keyvault-administration/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-certificates/customizations/src/main/java/CertificatesCustomizations.java
  sdk/keyvault/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-secrets/tsp-location.yaml
Labels: KeyVault, Client

#45691 Sync eng/common directory with azure-sdk-tools for PR 10895
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#45689 Sync eng/common directory with azure-sdk-tools for PR 10892
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#45695 Prepare KV Release June 2025
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#45693 API updates client core Oauth
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/AuthMetadata.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpCredentialPolicy.java
Labels: clientcore

#45697 Increment versions for keyvault releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/e2e/pom.xml
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/pom.xml
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/pom.xml
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/pom.xml
  sdk/keyvault/azure-security-keyvault-perf/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/pom.xml
  sdk/resourcemanager/azure-resourcemanager-appplatform/pom.xml
  sdk/resourcemanager/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanager/azure-resourcemanager-network/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-keyvault/pom.xml
  sdk/resourcemanagerhybrid/azure-resourcemanager-network/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-certificates/pom.xml
  sdk/spring/spring-cloud-azure-starter-keyvault-secrets/pom.xml
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Labels: Cosmos, KeyVault, Storage, Mgmt, Azure.Core, common, Azure.Identity, azure-spring, Azure SDK Tools

#45202 Adding New Isolated Timeout Test Class
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/TimeoutAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/TimeoutTests.java
Labels: Storage

#45702 Increment versions for hybridcompute releases
  eng/versioning/version_client.txt
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-resourcemanager-hybridcompute/pom.xml
Labels: Mgmt

#45603 Increment versions for communication/azure-communication-callautomation releases
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/pom.xml
Labels: Communication - Call Automation

#45662 fix: upgrades jackson to 2.18.4.1 to fix android build failures
  eng/bomgenerator/pom.xml
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/keyvault/azure-security-test-keyvault-jca/pom.xml
  sdk/modelsrepository/azure-iot-modelsrepository/pom.xml
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/clientcore-parent/pom.xml
  sdk/serialization/azure-json/pom.xml
  sdk/tools/azure-openrewrite/pom.xml
Labels: Batch, Cosmos, KeyVault, Azure.Core, azure-spring, Azure SDK Tools, Models Repository

#45699 Cherrypicking testing changes
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobTestBase.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ContainerAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/ServiceAsyncApiTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/TimeoutAsyncTests.java
  sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/TimeoutTests.java
Labels: Storage

#45678 Add version override test for Vert.x 5.0 releases
  eng/versioning/supported_external_dependency_versions.json
  sdk/core/ci.yml
  sdk/core/version-overrides-vertx-matrix.json
Labels: EngSys, Azure.Core, HttpClient

#45709 Use reflection to properly support Vert.x 5.x
  sdk/core/azure-core-http-vertx/src/main/java/com/azure/core/http/vertx/VertxHttpClientBuilder.java
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core/src/main/java/module-info.java
  sdk/parents/azure-perf-test-parent/pom.xml
Labels: Azure.Core, HttpClient

#45719 Fix NPE when using JCA Starter with system Managed Identity
  sdk/spring/CHANGELOG.md
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/jca/AzureKeyVaultSslBundleRegistrar.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/jca/AzureKeyVaultJcaAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/keyvault/jca/AzureKeyVaultSslBundleRegistrarTests.java
Labels: azure-spring

#45720 Fixed the NPE where the token object was not returned
  sdk/keyvault/azure-security-keyvault-jca/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implementation/KeyVaultClient.java
Labels: azure-spring

#45711 [JAVA] Communication Common | Teams Phone Extensibility GA release updates
  sdk/communication/azure-communication-common/CHANGELOG.md
Labels: Communication - Common

#45735 Increment versions for ai releases
  eng/versioning/version_client.txt
  sdk/ai/azure-ai-agents-persistent/CHANGELOG.md
  sdk/ai/azure-ai-agents-persistent/pom.xml
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/pom.xml
Labels: AI, AI Agents

#45456 Jimin/2025 ga
  sdk/communication/azure-communication-chat/assets.json
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatServiceVersion.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadAsyncClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/ChatThreadClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/AzureCommunicationChatServiceImplBuilder.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/ChatThreadsImpl.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatParticipantConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatRetentionPolicyConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatThreadPropertiesConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/CreateChatThreadOptionsConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/NoneRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/RetentionPolicyKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/models/ThreadCreationDateRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatParticipant.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatThreadProperties.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CreateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/CreateChatThreadResult.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/NoneRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/RetentionPolicyKind.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ThreadCreationDateRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/UpdateChatThreadOptions.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/implementation/ChatOptionsProvider.java
  sdk/communication/azure-communication-chat/swagger/README.md
Labels: Communication - Chat

#45738 Sofiar/fix serialization errors
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/AvailablePhoneNumber.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberCost.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumbersReservation.java
  sdk/communication/azure-communication-phonenumbers/swagger/src/main/java/PhoneNumbersCustomization.java
Labels: Communication - Phone Numbers

#45746 Increment versions for kubernetesconfiguration releases
  eng/versioning/version_client.txt
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-privatelinkscopes/CHANGELOG.md
  sdk/kubernetesconfiguration/azure-resourcemanager-kubernetesconfiguration-privatelinkscopes/pom.xml
Labels: Mgmt

#45748 Updating param name when creating a Dataset or Index and sample fix
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DatasetsAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/DatasetsClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/IndexesAsyncClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/IndexesClient.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/DatasetsImpl.java
  sdk/ai/azure-ai-projects/src/main/java/com/azure/ai/projects/implementation/IndexesImpl.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/DatasetsSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/EvaluationsAsyncSample.java
  sdk/ai/azure-ai-projects/src/samples/java/com/azure/ai/projects/EvaluationsSample.java
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#45740 Sync eng/common directory with azure-sdk-tools for PR 10921
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#45739 Sync eng/common directory with azure-sdk-tools for PR 10913
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#45736 Fix ServiceDirectory in KeyVault V2 Yamls
  eng/scripts/TypeSpec-Compare-CurrentToCodegeneration.ps1
  sdk/appconfiguration-v2/azure-data-appconfiguration/customization/src/main/java/AppConfigCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/Update-Codegeneration-disabled.ps1
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-administration/customizations/src/main/java/AdministrationCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-administration/tsp-location.yaml
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-certificates/customizations/src/main/java/CertificatesCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-keys/customizations/src/main/java/KeysCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/autorest.md
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/pom.xml
  sdk/keyvault-v2/azure-security-keyvault-secrets/customizations/src/main/java/SecretsCustomizations.java
  sdk/keyvault-v2/azure-security-keyvault-secrets/tsp-location.yaml
  sdk/keyvault-v2/ci.yml
  sdk/keyvault-v2/tests.yml
Labels: KeyVault

#45771 Increment versions for recoveryservices releases
  eng/versioning/version_client.txt
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-resourcemanager-recoveryservices/pom.xml
  sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/pom.xml
Labels: Mgmt

#45774 Better AddressResolverGroup handling in azure-core-http-netty
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClient.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/InetSocketAddressNoopAddressResolver.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NonProxyHostAddressResolver.java
  sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation/NonProxyHostAddressResolverGroup.java
  sdk/core/azure-core-http-netty/src/samples/java/com/azure/core/http/netty/ReadmeSamples.java
  sdk/core/azure-core-http-netty/src/test/java/com/azure/core/http/netty/implementation/ComplexProxyingTests.java
Labels: Azure.Core, HttpClient

#45760 update changelog for release
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/pom.xml
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/implementation/converters/ChatRetentionPolicyConverter.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ThreadCreationDateRetentionPolicy.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatAsyncClientTest.java
  sdk/communication/azure-communication-chat/src/test/java/com/azure/communication/chat/ChatThreadClientTest.java
Labels: Communication - Chat

#45747 Fix Flaky Test with EndLSN
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
Labels: Cosmos

#45782 Sync eng/common directory with azure-sdk-tools for PR 10949
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#45764 Allow for publishing to DevOps feed instead of maven.org
  eng/pipelines/templates/stages/archetype-java-release-batch.yml
  eng/pipelines/templates/stages/archetype-java-release-patch.yml
  eng/pipelines/templates/stages/archetype-java-release-pom-only.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/java-dev-feed-publishing.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
Labels: Storage, EngSys

#45785 Sync eng/common directory with azure-sdk-tools for PR 10953
  eng/common/pipelines/codeowners-linter.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#45772 mgmt servicebus, support chained declaration of authorizationrule's listen/send/manage
  sdk/resourcemanager/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-servicebus/assets.json
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/java/com/azure/resourcemanager/servicebus/implementation/ServiceBusNamespaceImpl.java
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/java/com/azure/resourcemanager/servicebus/models/NamespaceAuthorizationRule.java
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/java/com/azure/resourcemanager/servicebus/models/QueueAuthorizationRule.java
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/java/com/azure/resourcemanager/servicebus/models/ServiceBusNamespace.java
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/main/java/com/azure/resourcemanager/servicebus/models/TopicAuthorizationRule.java
  sdk/resourcemanager/azure-resourcemanager-servicebus/src/test/java/com/azure/resourcemanager/servicebus/ServiceBusOperationsTests.java
Labels: Mgmt

#45753 [o11y] Fix some attributes to match Otel Semantic Conventions
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
Labels: Cosmos, customer-reported, Community Contribution

#45810 Jimin/update spec link to main branch
  sdk/communication/azure-communication-chat/swagger/README.md
Labels: Communication - Chat

#45486 [Internal]Extending benchmark project to run http2 and gateway 2.0 tests
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/AsyncBenchmark.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/CosmosSamplingDiagnosticsLogger.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/java/com/azure/cosmos/benchmark/CosmosTotalResultReporter.java
  sdk/cosmos/azure-cosmos-benchmark/src/main/resources/log4j2.properties
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/Http2ConnectionConfigTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientConfigDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ConfigsTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Configs.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/Http2ResponseHeaderCleanerHandler.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyClient.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/ReactorNettyRequestRecord.java
Labels: Cosmos

#45804 Sync eng/common directory with azure-sdk-tools for PR 10969
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#45647 Identity OpenRewrite Migration
  sdk/tools/azure-openrewrite/pom.xml
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/core/credential/AccessTokenCustomRecipe.java
  sdk/tools/azure-openrewrite/src/main/resources/META-INF/rewrite/migrationRecipes/identity/LibraryMigration.yml
  sdk/tools/azure-openrewrite/src/main/resources/META-INF/rewrite/rewrite.yml
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/migration/FullSampleMigrationTest.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample1/v1/JavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample1/v2/JavaDocCodeSnippets.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample10/v1/AzureCliCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample10/v2/AzureCliCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample11/v1/IntellijCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample11/v2/IntellijCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample12/v1/DeviceCodeCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample12/v2/DeviceCodeCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample13/v1/AzurePowershellCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample13/v2/AzurePowershellCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample14/v1/AuthorizationCodeCredentialsSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample14/v2/AuthorizationCodeCredentialsSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample15/v1/OboCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample15/v2/OboCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample16/v1/WorkloadIdentityCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample16/v2/WorkloadIdentityCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample17/v1/AzureDeveloperCliCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample17/v2/AzureDeveloperCliCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample18/v1/AzurePipelinesCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample18/v2/AzurePipelinesCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample2/v1/ClientSecretCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample2/v2/ClientSecretCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample3/v1/ClientCertificateCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample3/v2/ClientCertificateCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample4/v1/ClientAssertionCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample4/v2/ClientAssertionCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample5/v1/ChainedTokenCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample5/v2/ChainedTokenCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample6/v1/DefaultAzureCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample6/v2/DefaultAzureCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample7/v1/InteractiveBrowserCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample7/v2/InteractiveBrowserCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample8/v1/ManagedIdentityCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample8/v2/ManagedIdentityCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample9/v1/EnvironmentCredentialSample.java
  sdk/tools/azure-openrewrite/src/test/resources/migrationExamples/azure-identity/sample9/v2/EnvironmentCredentialSample.java
  sdk/tools/azure-sdk-build-tool/src/main/java/com/azure/sdk/build/tool/DependencyCheckerTool.java
  sdk/tools/openrewrite-sample-compiler-ci.yml
Labels: Azure SDK Tools

#45826 [Internal]Fixing test regressions introduced by recent PR adding new Otel attributes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/TracerUnderTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
Labels: Cosmos

#45835 Remove smoke-tests and fix aggregate reports
  .github/CODEOWNERS
  .vscode/README.md
  .vscode/cspell.json
  common/smoke-tests/README.md
  common/smoke-tests/pom.xml
  common/smoke-tests/smoke-test-dependencies.yml
  common/smoke-tests/smoke-test-job.yml
  common/smoke-tests/smoke-test-samples.yml
  common/smoke-tests/smoke-test.yml
  common/smoke-tests/src/main/java/com/azure/smoketest/App.java
  common/smoke-tests/src/main/java/com/azure/smoketest/CosmosDB.java
  common/smoke-tests/src/main/java/com/azure/smoketest/EventHubs.java
  common/smoke-tests/src/main/java/com/azure/smoketest/KeyVaultSecrets.java
  common/smoke-tests/src/main/java/com/azure/smoketest/StorageBlob.java
  common/smoke-tests/src/main/java/module-info.java
  common/smoke-tests/test-resources.json
  common/smoke-tests/util.py
  common/smoke-tests/validate_version_dates.py
  eng/.docsettings.yml
  eng/pipelines/aggregate-reports.yml
  eng/versioning/external_dependencies.txt
  samples/README.md
  samples/azure-samples-graalvm-spring-storageexplorer/README.md
  sdk/clientcore/http-stress/README.md
  sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/package-info.java
  sdk/healthinsights/azure-health-insights-cancerprofiling/README.md
  sdk/healthinsights/azure-health-insights-clinicalmatching/README.md
  sdk/healthinsights/azure-health-insights-radiologyinsights/README.md
  sdk/identity/test-resources.bicep
  sdk/maps/azure-maps-render/README.md
  sdk/monitor/azure-monitor-query/swagger/README.md
  sdk/storage/CONTRIBUTING.md
  sdk/storage/azure-storage-queue/README.md
  sdk/template/azure-template-stress/README.md
Labels: Monitor, Storage, EngSys, Azure.Core, common, Azure.Identity, Cognitive - Health Insights, clientcore

#45840 fixKafkaSplitTest
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/src/test/java/com/azure/cosmos/kafka/connect/implementation/source/CosmosSourceTaskTest.java
Labels: Cosmos

#45811 [AutoPR azure-resourcemanager-purestorageblock]-generated-from-SDK Generation - Java-5007102
  eng/versioning/version_client.txt
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/CHANGELOG.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/README.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/SAMPLE.md
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/pom.xml
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/main/java/com/azure/resourcemanager/purestorageblock/implementation/PureStorageBlockMgmtClientImpl.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/main/resources/META-INF/azure-resourcemanager-purestorageblock_metadata.json
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainerVolumesDeleteSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainerVolumesGetSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainerVolumesListByAvsStorageContainerSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainerVolumesUpdateSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainersDeleteSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainersGetSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsStorageContainersListByStoragePoolSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmVolumesDeleteSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmVolumesGetSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmVolumesListByAvsVmSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmVolumesUpdateSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmsDeleteSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmsGetSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmsListByStoragePoolSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/AvsVmsUpdateSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/OperationsListSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/ReservationsGetBillingReportSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/ReservationsGetBillingStatusSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/ReservationsGetResourceLimitsSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsCreateSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsDeleteSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsDisableAvsConnectionSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsEnableAvsConnectionSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsFinalizeAvsConnectionSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsGetAvsConnectionSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsGetAvsStatusSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsGetByResourceGroupSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsGetHealthStatusSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsListByResourceGroupSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsListSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsRepairAvsConnectionSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/src/samples/java/com/azure/resourcemanager/purestorageblock/generated/StoragePoolsUpdateSamples.java
  sdk/purestorageblock/azure-resourcemanager-purestorageblock/tsp-location.yaml
Labels: Mgmt

#45822 Prepare 4.72.0 Release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#45843 Add eventgrid system events migration guide
  sdk/eventgrid/azure-messaging-eventgrid/SYSTEM_EVENTS_MIGRATION_GUIDE.md
Labels: Event Grid

#45855 Sync eng/common directory with azure-sdk-tools for PR 10964
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#45848 Prepare Core libraries for July 2025 GA
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#45793 HTTP/2 in netty-http4
  sdk/clientcore/http-netty4/checkstyle-suppressions.xml
  sdk/clientcore/http-netty4/spotbugs-exclude.xml
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/NettyHttpClient.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/NettyHttpClientBuilder.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4AlpnHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ChannelBinaryData.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ChannelInputStream.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4EagerConsumeChannelHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4HandlerNames.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4InitiateOneReadHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4ResponseHandler.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4StreamingHttp2Adapter.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/Netty4Utility.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/ResponseStateInfo.java
  sdk/clientcore/http-netty4/src/main/java/io/clientcore/http/netty4/implementation/WrappedHttp11Headers.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/NettyHttp2HttpClientTests.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/Netty4Http11ChannelBinaryDataTests.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/Netty4Http11ChannelInputStreamTests.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/Netty4HttpProxyHandlerTests.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/WrappedHttp11HeadersTests.java
  sdk/clientcore/http-netty4/src/test/java/io/clientcore/http/netty4/implementation/WrappedHttpHeadersTests.java
Labels: Azure.Core, clientcore

#45853 Increment versions for servicefabricmanagedclusters releases
  eng/versioning/version_client.txt
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/azure-resourcemanager-servicefabricmanagedclusters/pom.xml
Labels: Mgmt

#45859 mgmt, remove mediaservices from readme
  sdk/resourcemanager/README.md
Labels: Mgmt

#45867 Event Grid: Rename resourceUri to resourceUrl in Resource events
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceActionCancelEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceActionFailureEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceActionSuccessEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceDeleteCancelEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceDeleteFailureEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceDeleteSuccessEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceWriteCancelEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceWriteFailureEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/models/ResourceWriteSuccessEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
Labels: Event Grid

#45865 Fix tests in Face SDK
  sdk/face/azure-ai-vision-face/pom.xml
  sdk/face/azure-ai-vision-face/src/test/java/com/azure/ai/vision/face/tests/DetectionTest.java
  sdk/face/azure-ai-vision-face/src/test/java/com/azure/ai/vision/face/tests/LivenessSessionTest.java
  sdk/face/azure-ai-vision-face/src/test/java/com/azure/ai/vision/face/tests/LivenessSessionWithVerifyTest.java
  sdk/face/azure-ai-vision-face/src/test/java/com/azure/ai/vision/face/tests/utils/FaceDisplayNameGenerator.java
  sdk/face/azure-ai-vision-face/src/test/java/com/azure/ai/vision/face/tests/utils/TestUtils.java
Labels: Cognitive - Face

#45852 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, azure-spring

#45868 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Labels: Event Grid, Mgmt, azure-spring

#45733 Fix broken Spring compatibility tests
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/CosmosQueryMethod.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/query/ReactiveCosmosQueryMethod.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/CosmosRepositoryFactory.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/ReactiveCosmosRepositoryFactory.java
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/pipeline/monitor-tests-job.yml
  sdk/spring/scripts/compatibility_get_spring_cloud_version.py
  sdk/spring/scripts/compatibility_update_supported_version_matrix_json.py
  sdk/spring/scripts/monitor_update_monitor_matrix_json.py
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/configuration/AadOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AadJwtBearerGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AadWebApplicationHttpSecurityConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aad/security/AbstractOAuth2AuthorizationCodeGrantRequestEntityConverter.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/configuration/AadB2cOAuth2ClientConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/security/AadB2cAuthorizationRequestResolver.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/security/AadB2cOidcLoginConfigurer.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/AzureSpringBootVersionVerifier.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/compatibility/properties/AzureCompatibilityVerifierProperties.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/eventgrid/AzureEventGridAutoConfiguration.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/implementation/kafka/AbstractKafkaPropertiesBeanPostProcessor.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aad/RestTemplateTestUtil.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aad/configuration/AadOAuth2ClientConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/configuration/AadB2cAutoConfigurationTests.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/configuration/AbstractAadB2cOAuth2ClientTestConfigurations.java
  sdk/spring/spring-cloud-azure-autoconfigure/src/test/java/com/azure/spring/cloud/autoconfigure/implementation/aadb2c/configuration/WebOAuth2ClientTestApp.java
Labels: EngSys, azure-spring

#45881 Merging BOM updates from release branch to main
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#45880 Sync eng/common directory with azure-sdk-tools for PR 11039
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys
