Repository Azure/azure-sdk-for-java, pull requests merged in 2025-02, with the labels that each got.

#43881 Full Fidelity Change Feed Deletes JSON Change
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedTable.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosRowConverterBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedITest.scala
Labels: Cosmos

#43788 [Bug] CFP Skipping Changes
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosChangeFeedRequestOptionsImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedContextClientImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/common/ChangeFeedStateV1.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/ChangeFeedProcessorImplBase.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/epkversion/PartitionProcessorImpl.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionProcessorImpl.java
Labels: Cosmos

#43996 Reduce noise in package discovery logging
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#43932 Fix Endian
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TargetingFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/TargetingFilterTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/implemenation/TargetingFilterUtilsTest.java
Labels: azure-spring

#43752 Crc polynomial
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/StorageCrc64Calculator.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/StorageCrc64CalculatorTests.java
Labels: Storage

#44011 Sync eng/common directory with azure-sdk-tools for PR 9752
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#44012 Sync eng/common directory with azure-sdk-tools for PR 9698
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Labels: EngSys, Central-EngSys

#43992 Deprecate the OpenTelemetry exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/MIGRATION.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: OpenTelemetry

#44015 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/pom.xml
Labels: OpenTelemetry

#44009 Sync eng/common directory with azure-sdk-tools for PR 9747
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#43937 Perform cross-region retry of Document Read request when enclosing address request hits a 408:10002.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/faultinjection/FaultInjectionMetadataRequestRuleTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/ClientRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/WebExceptionRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ClientRetryPolicy.java
Labels: Cosmos

#44021 Additional pipeline changes
  eng/pipelines/templates/jobs/ci.yml
  sdk/core/ci.yml
  sdk/serialization/ci.yml
Labels: Azure.Core

#44010 Add OWASP Dependency Check Plugin
  eng/versioning/external_dependencies.txt
  sdk/parents/azure-sdk-parent/pom.xml
Labels: Azure.Core

#44020 Sync eng/common directory with azure-sdk-tools for PR 9745
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44022 Update github.io doc links
  sdk/appconfiguration/azure-data-appconfiguration/README.md
  sdk/cosmos/azure-cosmos-dotnet-benchmark/README.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-tests/README.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/eventgrid/azure-messaging-eventgrid/migration-guide.md
  sdk/eventhubs/azure-messaging-eventhubs/migration-guide.md
  sdk/spring/spring-reference.yml
Labels: Cosmos, Event Grid, Event Hubs, App Configuration, azure-spring

#44008 Fixed small perf overhead due to NPE for readItem returning 404
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EGatewayChangeFeedITest.scala
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/ClientMetricsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosTracerTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/ReflectionUtils.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DiagnosticsProvider.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/clienttelemetry/ClientTelemetryMetrics.java
Labels: Cosmos

#43504 HttpPipelineBuilder proposal
  sdk/clientcore/core/spotbugs-exclude.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpCredentialPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipelineBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipelineOrder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpPipelinePolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRedirectPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpRetryPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/KeyCredentialPolicy.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/HttpInstrumentationLoggingTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicyFallbackTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/HttpPipelinePolicyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/HttpPipelineTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/RedirectPolicyTest.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/http/pipeline/RetryPolicyTests.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/shared/HttpClientTests.java
  sdk/clientcore/http-stress/src/main/java/io/clientcore/http/stress/HttpGet.java
  sdk/clientcore/http-stress/src/main/java/io/clientcore/http/stress/HttpPatch.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicyTests.java
Labels: clientcore

#43998 Replace Java Poet with JavaParser in annotation processing
  eng/versioning/external_dependencies.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/Foo.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientService.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/LocalHttpClient.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/RestProxyTests.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceClientServiceImplGenerationTest.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor/checkstyle-suppressions.xml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/annotation-processor/spotbugs-exclude.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaPoetTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/TemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/PathBuilder.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGeneration.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/APIGenerationTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/BodyContentTypeProcessorTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/HttpPipelineBuilderMethodTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGenerationTest.java
  sdk/parents/clientcore-parent/pom.xml
Labels: Azure.Core, clientcore

#44040 Update pattern for testing scopes
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/ScopeUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/ScopeUtilTests.java
Labels: Azure.Identity

#43435 Feature context and Async Filters
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/ContextualFeatureFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/ContextualFeatureFilterAsync.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/FeatureFilterAsync.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TargetingFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementConstants.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/TargetingFilterTest.java
Labels: azure-spring

#44041 Sync eng/common directory with azure-sdk-tools for PR 9781
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44048 mgmt, pinevectordb, prepare beta release
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/CHANGELOG.md
Labels: Mgmt

#44053 Increment versions for pineconevectordb releases
  eng/versioning/version_client.txt
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/CHANGELOG.md
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/pom.xml
Labels: Mgmt

#44034 Prepare Core libraries for February 2025 release
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/profile/AzureProfile.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/AzureProfileTests.java
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/core/azure-core/src/main/java/com/azure/core/models/AzureCloud.java
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#44033 stg98 versioning changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/ci.system.properties
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#44064 Sync eng/common directory with azure-sdk-tools for PR 9783
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#44069 Sync eng/common directory with azure-sdk-tools for PR 9788
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#44057 Increment versions for servicenetworking releases
  eng/versioning/version_client.txt
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/pom.xml
Labels: Mgmt

#44074 Sync eng/common directory with azure-sdk-tools for PR 9793
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#44006 Clientcore: instrumentation convenience API
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicy.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/AttributeKeys.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/NoopInstrumentationContext.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/NoopMeter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackAttributes.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackSpan.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackSpanBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/OTelInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelDoubleHistogram.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/metrics/OTelMeter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelSpan.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/instrumentation/otel/tracing/OTelSpanBuilder.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/Instrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/InstrumentedOperationDetails.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/OperationInstrumentation.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/metrics/DoubleHistogram.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/metrics/Meter.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/package-info.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/tracing/NoopSpan.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/instrumentation/tracing/SpanBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClient.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/SampleClientBuilder.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/TelemetryForLibraryDevelopersJavaDocCodeSnippets.java
  sdk/clientcore/core/src/samples/java/io/clientcore/core/instrumentation/TelemetryJavaDocCodeSnippets.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/implementation/instrumentation/fallback/FallbackInstrumentationTests.java
  sdk/clientcore/optional-dependency-tests/src/samples/java/io/clientcore/core/instrumentation/TelemetryJavaDocCodeSnippets.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/http/pipeline/HttpInstrumentationPolicyTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/InstrumentationTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/MeterTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/OperationInstrumentationTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/SuppressionTests.java
  sdk/clientcore/optional-dependency-tests/src/test/java/io/clientcore/core/instrumentation/TracerTests.java
Labels: Azure.Core, clientcore

#44072 Add CI for annotation-processor module under clientcore
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/ci.yml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/ci.yml
Labels: clientcore

#44039 API Review Updates.
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosOperations.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java
  sdk/spring/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repository/support/StringBasedCosmosQuery.java
Labels: azure-spring

#44087 Update versions for release
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/test/java/com/azure/identity/OnBehalfOfCredentialTest.java
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Event Hubs, Azure.Identity

#44090 Update versions for EG SystemEvents library
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/pom.xml
Labels: Event Grid

#44089 Sync eng/common directory with azure-sdk-tools for PR 9799
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#44031 mgmt, add poller support for sync-stack
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/PollOperation.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/SyncPollOperation.java
  sdk/core/azure-core-management/src/main/java/com/azure/core/management/polling/SyncPollerFactory.java
  sdk/core/azure-core-management/src/test/java/com/azure/core/management/implementation/polling/LROPollerTests.java
Labels: Azure.Core, ARM - Core

#44098 [Automation] Generate SDK based on TypeSpec 0.27.3
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionAsyncClient.java
  sdk/face/azure-ai-vision-face/src/main/java/com/azure/ai/vision/face/FaceSessionClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIAsyncClient.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityAsyncClient.java
  sdk/purview/azure-analytics-purview-datamap/src/main/java/com/azure/analytics/purview/datamap/EntityClient.java
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/SingleDocumentTranslationAsyncClient.java
  sdk/translation/azure-ai-translation-document/src/main/java/com/azure/ai/translation/document/SingleDocumentTranslationClient.java
Labels: DPG

#44088 Cosmos DB Feb. 2025 release
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/README.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/README.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
Labels: Cosmos

#43290 number insight ga
  eng/versioning/version_client.txt
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/pom.xml
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/CodeCoverageAnnotation.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/PhoneNumbersServiceVersion.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/PhoneNumberAdminClientImplBuilder.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/implementation/models/PhoneNumberSearchResultError.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/OperatorDetails.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberSearchResult.java
  sdk/communication/azure-communication-phonenumbers/src/main/java/com/azure/communication/phonenumbers/models/PhoneNumberSearchResultError.java
  sdk/communication/azure-communication-phonenumbers/src/test/java/com/azure/communication/phonenumbers/PhoneNumbersClientBuilderTest.java
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Labels: Communication - Phone Numbers

#44079 Stg98/versions
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceVersion.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/Constants.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceVersion.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/util/TransformUtils.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareServiceVersion.java
  sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/QueueServiceVersion.java
Labels: Storage

#44063 [Tables] Adjust catch level to exception
  sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/implementation/TableUtils.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientBuilderTest.java
  sdk/tables/azure-data-tables/src/test/java/com/azure/data/tables/TableClientTest.java
Labels: Tables

#44114 Fix to address test regression in SimpleSerializationTest
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosContainerChangeFeedTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/CosmosDiagnosticsTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/epkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/changefeed/pkversion/IncrementalChangeFeedProcessorTest.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/DefaultCosmosItemSerializer.java
Labels: Cosmos

#44068 STG97 Beta Release
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/README.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/README.md
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/README.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#44149 Sync eng/common directory with azure-sdk-tools for PR 9803
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#44152 Guoqing/mark number insight as in release
  sdk/communication/azure-communication-phonenumbers/swagger/README.md
Labels: Communication - Phone Numbers

#43460 [OpenAI] Improved logging and specific handlers
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/RealtimeAsyncClient.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/KeepAliveHandler.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketClient.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketClientHandler.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketClientNettyImpl.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketPingHandler.java
  sdk/openai/azure-ai-openai-realtime/src/main/java/com/azure/ai/openai/realtime/implementation/websocket/WebSocketSessionNettyImpl.java
Labels: OpenAI

#44153 Increment versions for storage releases
  eng/versioning/version_client.txt
  sdk/storage/azure-storage-blob-batch/CHANGELOG.md
  sdk/storage/azure-storage-blob-batch/pom.xml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/pom.xml
  sdk/storage/azure-storage-blob-cryptography/CHANGELOG.md
  sdk/storage/azure-storage-blob-cryptography/pom.xml
  sdk/storage/azure-storage-blob-nio/CHANGELOG.md
  sdk/storage/azure-storage-blob-nio/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-internal-avro/CHANGELOG.md
  sdk/storage/azure-storage-internal-avro/pom.xml
  sdk/storage/azure-storage-perf/pom.xml
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/pom.xml
Labels: Storage

#44155 Sync eng/common directory with azure-sdk-tools for PR 9810
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#44151 Updating Netty external dependencies
  eng/versioning/external_dependencies.txt
  sdk/core/azure-core-http-netty/pom.xml
  sdk/openai/azure-ai-openai-realtime/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Azure.Core, WebPubSub, OpenAI

#44159 Sync eng/common directory with azure-sdk-tools for PR 9778
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#44124 Add new properties on AcsMessageReceivedEventData
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/customization/src/main/java/EventGridSystemEventsCustomization.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageDeliveryStatusUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageInteractiveContent.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageMediaContent.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageReactionContent.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/src/main/resources/META-INF/azure-messaging-eventgrid_apiview_properties.json
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageDeliveryStatusUpdatedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageMediaContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageReactionContent.java
  sdk/eventgrid/azure-messaging-eventgrid/src/main/java/com/azure/messaging/eventgrid/systemevents/AcsMessageReceivedEventData.java
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#44169 Prepare hotfix for azure-core-http-netty
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#43988 Enabling CI for azure-openrewrite
  sdk/tools/azure-openrewrite/pom.xml
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/AddTryCatchToMethodCallRecipe.java
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/RemoveFixedDelayRecipe.java
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/TypeReferenceRecipe.java
  sdk/tools/azure-openrewrite/src/main/java/com/azure/openrewrite/core/RetryOptionsConstructorRecipe.java
  sdk/tools/azure-openrewrite/src/main/resources/META-INF/rewrite/migrationRecipes/core/azure-core-migration.yml
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/migration/FullSampleMigrationTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/migration/core/clientcore/ClientcoreMigrationTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/migration/core/v2/AzureCoreV2MigrationTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/AddTryCatchToMethodCallTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/AddTryCatchToMethodCallUnitTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/BinaryDataTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/ClientLoggerTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/ContextTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/CoreUtilsTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/CredentialTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/ExceptionTypesTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/HttpHeaderNameTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/HttpLogOptionsTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/RecipeTestBase.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/RequestOptionsTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/ResponseTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/RetryOptionsConstructorTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/TextTranslationClientBuilderHttpTraitTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/TypeReferenceTest.java
  sdk/tools/azure-openrewrite/src/test/java/com/azure/openrewrite/recipe/UtilConfigurationTest.java
  sdk/tools/ci.yml
Labels: Azure SDK Tools, OpenRewrite

#43033 [Key Vault] Added TSP configuration for Key Vault Secrets
  sdk/keyvault/azure-security-keyvault-secrets/checkstyle-suppressions.xml
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/DeletedSecretHelper.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/SecretClientImpl.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/Attributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/BackupSecretResult.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretItem.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletedSecretListResult.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/DeletionRecoveryLevel.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/Error.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/KeyVaultError.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/KeyVaultErrorException.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretAttributes.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretBundle.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretItem.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretListResult.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretProperties.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretRestoreParameters.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretSetParameters.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretUpdateParameters.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/SecretsModelsUtils.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/models/package-info.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/implementation/package-info.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/models/DeletedSecret.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/models/KeyVaultSecret.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/models/SecretProperties.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/package-info.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/java/module-info.java
  sdk/keyvault/azure-security-keyvault-secrets/src/main/resources/META-INF/native-image/com.azure/azure-security-keyvault-secrets/resource-config.json
  sdk/keyvault/azure-security-keyvault-secrets/src/main/resources/azure-security-keyvault-secrets.properties
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/KeyVaultSecretsUserAgentPropertiesTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretAsyncClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientBuilderTest.java
  sdk/keyvault/azure-security-keyvault-secrets/src/test/java/com/azure/security/keyvault/secrets/SecretClientTest.java
  sdk/keyvault/azure-security-keyvault-secrets/swagger/pom.xml
  sdk/keyvault/azure-security-keyvault-secrets/swagger/src/main/java/SecretsCustomizations.java
  sdk/keyvault/azure-security-keyvault-secrets/tsp-location.yaml
Labels: KeyVault, Client

#44172 Sync eng/common directory with azure-sdk-tools for PR 9807
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44171 Sync eng/common directory with azure-sdk-tools for PR 9821
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#44164 [Automation] Generate SDK based on TypeSpec 0.27.4
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/ComputeFleetManager.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/java/com/azure/resourcemanager/computefleet/models/UserAssignedIdentity.java
  sdk/computefleet/azure-resourcemanager-computefleet/src/main/resources/azure-resourcemanager-computefleet.properties
  sdk/computeschedule/azure-resourcemanager-computeschedule/src/main/java/com/azure/resourcemanager/computeschedule/ComputeScheduleManager.java
  sdk/computeschedule/azure-resourcemanager-computeschedule/src/main/resources/azure-resourcemanager-computeschedule.properties
  sdk/connectedcache/azure-resourcemanager-connectedcache/src/main/java/com/azure/resourcemanager/connectedcache/ConnectedCacheManager.java
  sdk/connectedcache/azure-resourcemanager-connectedcache/src/main/resources/azure-resourcemanager-connectedcache.properties
  sdk/containerorchestratorruntime/azure-resourcemanager-containerorchestratorruntime/src/main/java/com/azure/resourcemanager/containerorchestratorruntime/ContainerOrchestratorRuntimeManager.java
  sdk/containerorchestratorruntime/azure-resourcemanager-containerorchestratorruntime/src/main/resources/azure-resourcemanager-containerorchestratorruntime.properties
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/java/com/azure/resourcemanager/deviceregistry/DeviceRegistryManager.java
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/main/resources/azure-resourcemanager-deviceregistry.properties
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/DevOpsInfrastructureManager.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/java/com/azure/resourcemanager/devopsinfrastructure/models/UserAssignedIdentity.java
  sdk/devopsinfrastructure/azure-resourcemanager-devopsinfrastructure/src/main/resources/azure-resourcemanager-devopsinfrastructure.properties
  sdk/fabric/azure-resourcemanager-fabric/src/main/java/com/azure/resourcemanager/fabric/FabricManager.java
  sdk/fabric/azure-resourcemanager-fabric/src/main/resources/azure-resourcemanager-fabric.properties
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/HealthDataAIServicesManager.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/java/com/azure/resourcemanager/healthdataaiservices/models/UserAssignedIdentity.java
  sdk/healthdataaiservices/azure-resourcemanager-healthdataaiservices/src/main/resources/azure-resourcemanager-healthdataaiservices.properties
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/java/com/azure/resourcemanager/iotoperations/IoTOperationsManager.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/java/com/azure/resourcemanager/iotoperations/models/UserAssignedIdentity.java
  sdk/iotoperations/azure-resourcemanager-iotoperations/src/main/resources/azure-resourcemanager-iotoperations.properties
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/main/java/com/azure/resourcemanager/mongocluster/MongoClusterManager.java
  sdk/mongocluster/azure-resourcemanager-mongocluster/src/main/resources/azure-resourcemanager-mongocluster.properties
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/src/main/java/com/azure/resourcemanager/neonpostgres/NeonPostgresManager.java
  sdk/neonpostgres/azure-resourcemanager-neonpostgres/src/main/resources/azure-resourcemanager-neonpostgres.properties
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/main/java/com/azure/resourcemanager/pineconevectordb/PineconeVectorDbManager.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/main/java/com/azure/resourcemanager/pineconevectordb/models/UserAssignedIdentity.java
  sdk/pineconevectordb/azure-resourcemanager-pineconevectordb/src/main/resources/azure-resourcemanager-pineconevectordb.properties
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/java/com/azure/resourcemanager/playwrighttesting/PlaywrightTestingManager.java
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/src/main/resources/azure-resourcemanager-playwrighttesting.properties
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/src/main/java/com/azure/resourcemanager/servicenetworking/TrafficControllerManager.java
  sdk/servicenetworking/azure-resourcemanager-servicenetworking/src/main/resources/azure-resourcemanager-servicenetworking.properties
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/java/com/azure/resourcemanager/standbypool/StandbyPoolManager.java
  sdk/standbypool/azure-resourcemanager-standbypool/src/main/resources/azure-resourcemanager-standbypool.properties
  sdk/terraform/azure-resourcemanager-terraform/src/main/java/com/azure/resourcemanager/terraform/AzureTerraformManager.java
  sdk/terraform/azure-resourcemanager-terraform/src/main/resources/azure-resourcemanager-terraform.properties
  sdk/trustedsigning/azure-resourcemanager-trustedsigning/src/main/java/com/azure/resourcemanager/trustedsigning/TrustedSigningManager.java
  sdk/trustedsigning/azure-resourcemanager-trustedsigning/src/main/resources/azure-resourcemanager-trustedsigning.properties
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/WorkloadsSapVirtualInstanceManager.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/java/com/azure/resourcemanager/workloadssapvirtualinstance/models/UserAssignedIdentity.java
  sdk/workloadssapvirtualinstance/azure-resourcemanager-workloadssapvirtualinstance/src/main/resources/azure-resourcemanager-workloadssapvirtualinstance.properties
Labels: DPG

#44170 Push Refresh Telemetry
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationConstants.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtil.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationSnapshotPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLoader.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/http/policy/BaseAppConfigurationPolicy.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/http/policy/TracingInfo.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceSnapshotTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPropertySourceKeyVaultTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationRefreshUtilTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/http/policy/TracingInfoTest.java
Labels: azure-spring

#44070 Evaluation Event
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/ContextualFeatureFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/ContextualFeatureFilterAsync.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TargetingFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementConstants.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Conditions.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/EvaluationEvent.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/FeatureManagementException.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/TargetingFilterTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/implemenation/TargetingFilterUtilsTest.java
Labels: azure-spring

#44178 Sync eng/common directory with azure-sdk-tools for PR 9823
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#44130 Adds support for Continuation WebSocketFrames
  sdk/webpubsub/azure-messaging-webpubsub-client/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/WebPubSubAsyncClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/MessageDecoder.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/websocket/WebSocketClient.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/websocket/WebSocketClientHandler.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/websocket/WebSocketClientNettyImpl.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/main/java/com/azure/messaging/webpubsub/client/implementation/websocket/WebSocketSessionNettyImpl.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/samples/java/com/azure/messaging/webpubsub/client/EchoSample.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/MockClientTests.java
  sdk/webpubsub/azure-messaging-webpubsub-client/src/test/java/com/azure/messaging/webpubsub/client/implementation/websocket/WebSocketClientHandlerTests.java
Labels: WebPubSub

#44185 Feb 2025 Identity Patch release
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#43803 Message encoder
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/StructuredMessageEncoder.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/StructuredMessageFlags.java
  sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/structuredmessage/package-info.java
  sdk/storage/azure-storage-common/src/main/java/module-info.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/structuredmessage/MessageEncoderTests.java
  sdk/storage/azure-storage-common/src/test/java/com/azure/storage/common/implementation/structuredmessage/StructuredMessageFlagsTests.java
Labels: Storage

#44194 Prepare clientcore release beta.4
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/README.md
Labels: clientcore

#44112 Add deprecation note for Microsoft.Logz
  sdk/logz/azure-resourcemanager-logz/README.md
  sdk/logz/azure-resourcemanager-logz/pom.xml
Labels: Mgmt, customer-reported, Community Contribution

#44193 Sync eng/common directory with azure-sdk-tools for PR 9832
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#44197 [Automation] Generate Fluent Lite from Swagger logz#package-2020-10-01
  sdk/logz/azure-resourcemanager-logz/CHANGELOG.md
  sdk/logz/azure-resourcemanager-logz/README.md
  sdk/logz/azure-resourcemanager-logz/pom.xml
  sdk/logz/azure-resourcemanager-logz/src/main/java/com/azure/resourcemanager/logz/LogzManager.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorOperationsListVMHostsMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorOperationsListVmHostUpdateMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsCreateMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsDeleteMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsGetByResourceGroupWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsListByResourceGroupMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsListMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsListMonitoredResourcesMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/MonitorsListUserRolesMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/OperationsListMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SingleSignOnsCreateOrUpdateMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SingleSignOnsGetWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SingleSignOnsListMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountTagRulesCreateOrUpdateWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountTagRulesDeleteWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountTagRulesGetWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountTagRulesListMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsCreateMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsDeleteMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsGetWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsListMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsListMonitoredResourcesMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsListVMHostsMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsListVmHostUpdateMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/SubAccountsUpdateWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/TagRulesCreateOrUpdateWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/TagRulesDeleteWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/TagRulesGetWithResponseMockTests.java
  sdk/logz/azure-resourcemanager-logz/src/test/java/com/azure/resourcemanager/logz/generated/TagRulesListMockTests.java
Labels: Mgmt - Track 2

#44200 Increment versions for logz releases
  eng/versioning/version_client.txt
  sdk/logz/azure-resourcemanager-logz/CHANGELOG.md
  sdk/logz/azure-resourcemanager-logz/pom.xml
Labels: Mgmt

#44157 STG98 NFS over REST API View
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileAsyncClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/models/FilesCreateSymbolicLinkHeaders.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/implementation/util/ModelHelper.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/models/ShareFileSymbolicLinkInfo.java
  sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/options/ShareFileCreateSymbolicLinkOptions.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileAsyncJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareFileJavaDocCodeSamples.java
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#44183 stg98 file intent header changes
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/AppendBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/BlockBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/PageBlobsImpl.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/implementation/models/FileShareTokenIntent.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/AppendBlobAppendBlockFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobCopyFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlobUploadFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobStageBlockFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/PageBlobUploadPagesFromUrlOptions.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/AppendBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobAsyncClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java
  sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobAsyncClient.java
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#44195 Sync eng/common directory with azure-sdk-tools for PR 9834
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#44198 Sync eng/common directory with azure-sdk-tools for PR 9836
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#44208 Support deserialization of lists containing JsonSerializable types
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/utils/JsonSerializer.java
  sdk/clientcore/core/src/test/java/io/clientcore/core/utils/serializers/JsonSerializerTests.java
Labels: clientcore

#44212 Fix code-quality-reports pipeline
  eng/code-quality-reports/ci.yml
  eng/pipelines/scripts/Get-Linting-Commands.ps1
  sdk/parents/clientcore-parent/pom.xml
Labels: Azure.Core

#44196 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
Labels: clientcore

#44215 Prepare for clientcore beta.5 release
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/README.md
  sdk/clientcore/http-okhttp3/CHANGELOG.md
  sdk/core/azure-core-test-v2/pom.xml
  sdk/core/azure-core-v2/pom.xml
Labels: clientcore

#44218 Increment versions for clientcore releases
  eng/versioning/version_client.txt
  sdk/clientcore/core/CHANGELOG.md
  sdk/clientcore/core/pom.xml
  sdk/clientcore/http-okhttp3/pom.xml
  sdk/clientcore/http-stress/pom.xml
  sdk/clientcore/optional-dependency-tests/pom.xml
Labels: clientcore

#44204 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#44221 Add deprecated artifacts in `autocent.js`
  sdk/resourcemanager/autocent.js
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Labels: Mgmt

#44222 Add deprecated artifacts in autocent.js
  sdk/resourcemanager/autocent.js
  sdk/resourcemanager/docs/SINGLE_SERVICE_PACKAGES.md
Labels: Mgmt

#44226 Increment package versions for azure-resourcemanager-eventhubs releases
  eng/versioning/version_client.txt
  sdk/resourcemanager/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/resourcemanager/azure-resourcemanager-eventhubs/pom.xml
  sdk/resourcemanager/azure-resourcemanager-monitor/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#44209 [Internal]Adding API to calculate EPK as byte-array (as alternative to HEX encoded string)
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/PartitionKeyInternalTest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternal.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternalHelper.java
Labels: Cosmos

#44186 Monitor Fix Missing ResourceId Bug
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/implementation/metrics/models/MetricsHelper.java
  sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/MetricsQueryResult.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/LogsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsAsyncCientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsClientTestBase.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryAsyncClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MetricsQueryClientTest.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/MonitorQueryTestUtils.java
  sdk/monitor/azure-monitor-query/src/test/java/com/azure/monitor/query/TestUtil.java
Labels: Monitor

#43826 Java Added backupCognitiveServicesEndpoint to CallIntelligenceOptions
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/CallAutomationAsyncClient.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/CallRecordingsImpl.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallIntelligenceOptionsInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallLocatorInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallLocatorKindInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/CallSessionEndReason.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/ChunkEndReason.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/Error.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/HoldAudioCompleted.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/PlayOptionsInternal.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingChunkStorageInfo.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingResultResponse.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/implementation/models/RecordingStorageInfo.java
  sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models/CallIntelligenceOptions.java
  sdk/communication/azure-communication-callautomation/swagger/README.md
Labels: Communication - Call Automation

#44217 Remove telemetry APIs in azure-core-v2
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestCounter.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestGauge.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestHistogram.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestMeasurement.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestMeter.java
  sdk/core/azure-core-test-v2/src/main/java/com/azure/v2/core/test/utils/metrics/TestTelemetryAttributes.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/http/policy/UserAgentPolicy.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/ClientOptions.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/MetricsOptions.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/ServiceVersion.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/TelemetryAttributes.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/TracingOptions.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/DefaultMeterProvider.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/DoubleHistogram.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/LongCounter.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/LongGauge.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/Meter.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/MeterProvider.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/NoopMeter.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/metrics/package-info.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/DefaultTracerProvider.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/NoopTracer.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/ProcessKind.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/SpanKind.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/StartSpanOptions.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/Tracer.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/TracerProvider.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/TracerProxy.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/TracingLink.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/Utils.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/utils/tracing/package-info.java
  sdk/core/azure-core-v2/src/main/java/module-info.java
Labels: Azure.Core

#44232 AdditionalValidationPackagesFromPackageSetFn implementation for PR pipeline
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Language-Settings.ps1
  eng/validation-groups.yml
Labels: EngSys

#44168 Rolling dependency updates
  eng/code-quality-reports/pom.xml
  eng/versioning/external_dependencies.txt
  sdk/batch/microsoft-azure-batch/pom.xml
  sdk/clientcore/core/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs-eph/pom.xml
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-extensions/pom.xml
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
  sdk/parents/azure-client-sdk-parent/pom.xml
  sdk/parents/azure-data-sdk-parent/pom.xml
  sdk/parents/azure-sdk-parent/pom.xml
  sdk/parents/clientcore-parent/pom.xml
  sdk/serialization/azure-json/pom.xml
  sdk/serialization/azure-xml/pom.xml
  sdk/servicebus/microsoft-azure-servicebus/pom.xml
  sdk/spring/spring-cloud-azure-integration-test-appconfiguration-config/pom.xml
  sdk/spring/spring-cloud-azure-integration-tests/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor-test/pom.xml
  sdk/storage/azure-storage-blob/pom.xml
  sdk/storage/azure-storage-common/pom.xml
  sdk/storage/azure-storage-file-datalake/pom.xml
  sdk/storage/azure-storage-file-share/pom.xml
  sdk/storage/azure-storage-queue/pom.xml
  sdk/tools/azure-sdk-archetype/pom.xml
  sdk/tools/azure-sdk-build-tool/pom.xml
Labels: Batch, Cosmos, Event Hubs, Service Bus, Storage, Azure.Core, Azure.Identity, Track 1, azure-spring, Azure SDK Tools, clientcore

#44255 Prepare Tables Feb 2025 Patch Release
  eng/versioning/version_client.txt
  sdk/tables/azure-data-tables-perf/pom.xml
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/pom.xml
Labels: Tables

#44248 Prepare Search Feb 2025 Beta Release
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/SearchServiceVersion.java
  sdk/search/azure-search-documents/src/samples/README.md
Labels: Search

#44261 Increment versions for impactreporting releases
  eng/versioning/version_client.txt
  sdk/impactreporting/azure-resourcemanager-impactreporting/CHANGELOG.md
  sdk/impactreporting/azure-resourcemanager-impactreporting/pom.xml
Labels: Mgmt

#44265 Increment versions for applicationinsights releases
  eng/versioning/version_client.txt
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/CHANGELOG.md
  sdk/applicationinsights/azure-resourcemanager-applicationinsights/pom.xml
Labels: Mgmt

#44233 [Internal]Adding API to force specific RNTBD header ordering as preparation for ThinClient
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdTokenStreamTests.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdTokenTests.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/HttpConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ThinClientStoreModel.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdConstants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdContext.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdContextRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdObjectMapper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestEncoder.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdRequestManager.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponse.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdResponseHeaders.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdToken.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdTokenStream.java
Labels: Cosmos

#44257 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-query-perf/pom.xml
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/pom.xml
Labels: Monitor

#44260 Increment versions for search releases
  eng/versioning/version_client.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/pom.xml
  sdk/search/azure-search-perf/pom.xml
Labels: Search

#44252 Batch: Update Dataplane SDK to encode all Long Types as Strings
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchAsyncClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/BatchClient.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/implementation/BatchClientImpl.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobManagerTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobNetworkConfiguration.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobPreparationTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobReleaseTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobScheduleStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchJobStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchNode.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPool.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolEvaluateAutoScaleContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolResourceStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolSpecification.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolUpdateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchPoolUsageMetrics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchStartTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTask.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskCreateContent.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/BatchTaskStatistics.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/DiffDiskPlacement.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/DiffDiskSettings.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/FileProperties.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/ImageReference.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/NetworkConfiguration.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/OutputFileBlobContainerDestination.java
  sdk/batch/azure-compute-batch/src/main/java/com/azure/compute/batch/models/VirtualMachineConfiguration.java
  sdk/batch/azure-compute-batch/src/test/java/com/azure/compute/batch/PoolTests.java
  sdk/batch/azure-compute-batch/tsp-location.yaml
Labels: Batch

#43865 Increment versions for eventgrid releases
  eng/versioning/version_client.txt
  sdk/eventgrid/azure-messaging-eventgrid-cloudnative-cloudevents/pom.xml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/pom.xml
  sdk/eventgrid/azure-resourcemanager-eventgrid/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-eventgrid/pom.xml
Labels: Event Grid, Mgmt, azure-spring

#43771 Fix `azure-cosmos` Sample Issue
  sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ReadmeSamples.java
Labels: Cosmos, customer-reported, Community Contribution

#44276 Prepare hotfix for azure-core-http-netty
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp-experimental/pom.xml
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-avro-jackson/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
  sdk/openai/azure-ai-openai-realtime/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: Azure.Core, Azure.Identity, WebPubSub, OpenTelemetry, Azure.Core.AMQP, OpenAI

#43994 [AI] [Inference] - beta 3 changes
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/customization/src/main/java/InferenceCustomizations.java
  sdk/ai/azure-ai-inference/spotbugs-exclude.xml
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ChatCompletionsClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/EmbeddingsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/EmbeddingsClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/EmbeddingsClientBuilder.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsAsyncClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsClient.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ImageEmbeddingsClientBuilder.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/ModelServiceVersion.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/ChatCompletionsClientImpl.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/EmbeddingsClientImpl.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/ImageEmbeddingsClientImpl.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/implementation/models/ImageEmbedRequest.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsNamedFunctionToolSelection.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsNamedToolChoice.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsNamedToolChoiceFunction.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsOptions.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsResponseFormat.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsResponseFormatJsonObject.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsResponseFormatJsonSchema.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsResponseFormatJsonSchemaDefinition.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatCompletionsToolChoicePreset.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatRequestDeveloperMessage.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatRequestMessage.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatRequestToolMessage.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ChatRole.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/EmbeddingInputType.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/EmbeddingsResult.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ImageEmbeddingInput.java
  sdk/ai/azure-ai-inference/src/main/java/com/azure/ai/inference/models/ModelType.java
  sdk/ai/azure-ai-inference/src/main/resources/META-INF/azure-ai-inference_apiview_properties.json
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/ChatCompletionsToolCallSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/ImageEmbeddingsAsyncSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/ImageEmbeddingsSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/StreamingToolCallSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/StructuredJsonChatSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/TraceChatCompletionsToolCallSample.java
  sdk/ai/azure-ai-inference/src/samples/java/com/azure/ai/inference/usage/TraceStreamingChatCompletionsToolCallSample.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ChatCompletionsSyncClientTest.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/EmbeddingsClientTestBase.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ImageEmbeddingsAsyncClientTest.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/ImageEmbeddingsSyncClientTest.java
  sdk/ai/azure-ai-inference/src/test/java/com/azure/ai/inference/TestUtils.java
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#44230 Remove warning messages in tests
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/pipeline/TelemetryItemExporter.java
Labels: OpenTelemetry

#44231 [OpenAI][Assistants] Introducing changes for v2025-01-01-preview
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/assets.json
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsAsyncClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsClient.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/AssistantsServiceVersion.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/implementation/AssistantsClientImpl.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/ApiResponseFormat.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormat.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatJsonObject.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatJsonSchema.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatJsonSchemaJsonSchema.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatMode.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatText.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/AssistantsApiResponseFormatType.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/CreateAndRunThreadOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/CreateRunOptions.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/FileSearchToolCallResult.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/FileSearchToolCallResultContentItem.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/RunIncludes.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/RunStepFileSearchToolCall.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/ThreadRun.java
  sdk/openai/azure-ai-openai-assistants/src/main/java/com/azure/ai/openai/assistants/models/VectorStoreFileErrorCode.java
  sdk/openai/azure-ai-openai-assistants/src/main/resources/META-INF/azure-ai-openai-assistants_apiview_properties.json
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/AzureRunThreadAsyncTest.java
  sdk/openai/azure-ai-openai-assistants/src/test/java/com/azure/ai/openai/assistants/implementation/AssistantApiFormatSerializerTests.java
  sdk/openai/azure-ai-openai-assistants/tsp-location.yaml
Labels: OpenAI

#44300 Prepare release for Identity re-release
  eng/versioning/version_client.txt
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#44304 Disable Call Automation test failing pipeline tests
  sdk/communication/azure-communication-callautomation/src/test/java/com/azure/communication/callautomation/CallRecordingAutomatedLiveTests.java
Labels: Communication - Call Automation

#44273 Sync eng/common directory with azure-sdk-tools for PR 9862
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#44307 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#44032 [OpenAI][Inference] Introducing changes for `v2025-01-01-preview`
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/assets.json
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/OpenAIServiceVersion.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/implementation/OpenAIClientImpl.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioOutputParameters.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/AudioResponseData.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionModality.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatCompletionsOptions.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessageAudioContentItem.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatMessageContentItem.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestDeveloperMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRequestMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatResponseMessage.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ChatRole.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsageCompletionTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/CompletionsUsagePromptTokensDetails.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/InputAudioContent.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/InputAudioFormat.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/OutputAudioFormat.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/PredictionContent.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/PredictionContentType.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/ReasoningEffortValue.java
  sdk/openai/azure-ai-openai/src/main/java/com/azure/ai/openai/models/UserSecurityContext.java
  sdk/openai/azure-ai-openai/src/main/resources/META-INF/azure-ai-openai_apiview_properties.json
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/AudioChatCompletions.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/PredictionChatCompletion.java
  sdk/openai/azure-ai-openai/src/samples/java/com/azure/ai/openai/ReasoningEffort.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/NonAzureOpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIAsyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAIClientTestBase.java
  sdk/openai/azure-ai-openai/src/test/java/com/azure/ai/openai/OpenAISyncClientTest.java
  sdk/openai/azure-ai-openai/src/test/resources/realtime_whats_the_weather_pcm16_24khz_mono.wav
  sdk/openai/azure-ai-openai/tsp-location.yaml
Labels: OpenAI

#44313 [Automation] Generate Fluent Lite from Swagger quota#package-2025-03-01
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/README.md
  sdk/quota/azure-resourcemanager-quota/SAMPLE.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
  sdk/quota/azure-resourcemanager-quota/src/main/java/com/azure/resourcemanager/quota/QuotaManager.java
  sdk/quota/azure-resourcemanager-quota/src/main/java/com/azure/resourcemanager/quota/implementation/AzureQuotaExtensionApiImpl.java
  sdk/quota/azure-resourcemanager-quota/src/main/resources/azure-resourcemanager-quota.properties
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsRequestGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsRequestListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsRequestUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationRequestGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationRequestListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationRequestUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionRequestsGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionRequestsListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsCreateOrUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsDeleteSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotasCreateOrUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotasDeleteSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotasGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotasListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/GroupQuotasUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaCreateOrUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaOperationListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaRequestStatusGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaRequestStatusListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/QuotaUpdateSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/UsagesGetSamples.java
  sdk/quota/azure-resourcemanager-quota/src/samples/java/com/azure/resourcemanager/quota/generated/UsagesListSamples.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsListWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaLimitsRequestsUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationRequestsUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionAllocationsListWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionRequestsGetWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionRequestsListMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsCreateOrUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsGetWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsListMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotaSubscriptionsUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotasCreateOrUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotasGetWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotasListMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/GroupQuotasUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/QuotaOperationsListMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/QuotasCreateOrUpdateMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/QuotasGetWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/QuotasListMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/UsagesGetWithResponseMockTests.java
  sdk/quota/azure-resourcemanager-quota/src/test/java/com/azure/resourcemanager/quota/generated/UsagesListMockTests.java
Labels: Mgmt - Track 2

#44317 Increment versions for networkcloud releases
  eng/versioning/version_client.txt
  sdk/networkcloud/azure-resourcemanager-networkcloud/CHANGELOG.md
  sdk/networkcloud/azure-resourcemanager-networkcloud/pom.xml
Labels: Mgmt

#44322 Increment versions for quota releases
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
Labels: Mgmt

#44325 [OpenAI] Update CHANGELOG.md for preparing release for inference and asisstant SDKs
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai/CHANGELOG.md
Labels: Client, OpenAI

#44150 Add support for Response body generation in Compile time generation
  eng/versioning/version_client.txt
  sdk/clientcore/annotation-processor-test/pom.xml
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/Foo.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/TestInterfaceClientService.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/Foo.java
  sdk/clientcore/annotation-processor-test/src/main/java/io/clientcore/annotation/processor/test/implementation/models/HttpBinJSON.java
  sdk/clientcore/annotation-processor-test/src/test/java/io/clientcore/annotation/processor/test/TestInterfaceGenerationTests.java
  sdk/clientcore/annotation-processor/pom.xml
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/AnnotationProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/HttpRequestContext.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/models/TemplateInput.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/templating/JavaParserTemplateProcessor.java
  sdk/clientcore/annotation-processor/src/main/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGeneration.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/models/TemplateInputTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/APIGenerationTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/templating/BodyContentTypeProcessorTest.java
  sdk/clientcore/annotation-processor/src/test/java/io/clientcore/annotation/processor/utils/ResponseBodyModeGenerationTest.java
  sdk/clientcore/core/pom.xml
  sdk/clientcore/core/src/main/java/io/clientcore/core/utils/CodegenUtil.java
  sdk/core/azure-core-test-v2/pom.xml
  sdk/core/azure-core-v2/pom.xml
Labels: clientcore

#44272 Event Hubs: Expose Offset as a String and add Geo-DR capability
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/main/java/com/azure/messaging/eventhubs/checkpointstore/blob/BlobCheckpointStore.java
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubMessageSerializer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/SystemProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/ClientConstants.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/implementation/EventHubReactorSession.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/Checkpoint.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventBatchContext.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/EventPosition.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/LastEnqueuedEventProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataBatchTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventDataTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubMessageSerializerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/PartitionBasedLoadBalancerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/SystemPropertiesTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/TestUtils.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/implementation/instrumentation/EventHubsConsumerInstrumentationTests.java
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/implementation/converter/EventPositionConverter.java
  sdk/spring/spring-cloud-azure-starter-eventhubs/pom.xml
Labels: Event Hubs

#44333 Prepare for beta release.
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/README.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/README.md
Labels: Event Hubs

#44332 Sync eng/common directory with azure-sdk-tools for PR 9896
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#43935 Adding Default Filters
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/AppConfigurationWatchAutoConfiguration.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationKeyVaultClientFactory.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefresh.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientsBuilder.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigBoostrapRegistrar.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLoader.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataLocationResolver.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/AzureAppConfigDataResource.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClient.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/properties/AppConfigurationProviderProperties.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/main/java/com/azure/spring/cloud/appconfiguration/config/implementation/stores/AppConfigurationSecretClientManager.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationApplicationSettingPropertySourceSnapshotTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationFeatureManagementPropertySourceTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationPullRefreshTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/AppConfigurationReplicaClientBuilderTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/FeatureFlagClientTest.java
  sdk/spring/spring-cloud-azure-appconfiguration-config/src/test/java/com/azure/spring/cloud/appconfiguration/config/implementation/stores/KeyVaultClientTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementProperties.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagementConfigurationTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/TargetingContextAccessorTestConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/implementation/FeatureManagementPropertiesTest.java
Labels: azure-spring

#44301 Add AzureCloud to azure-core-v2 and LRO enum to ReturnType in clientcore
  sdk/clientcore/core/src/main/java/io/clientcore/core/annotations/ReturnType.java
  sdk/clientcore/core/src/main/java/io/clientcore/core/http/models/HttpHeaderName.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/models/AzureCloud.java
  sdk/core/azure-core-v2/src/main/java/com/azure/v2/core/models/package-info.java
  sdk/parents/azure-client-sdk-parent-v2/pom.xml
Labels: Azure.Core, clientcore

#44329 Sync eng/common directory with azure-sdk-tools for PR 9889
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#44336 Update javadocs
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/SystemProperties.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/Checkpoint.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/models/LastEnqueuedEventProperties.java
Labels: Event Hubs

#44323 Check iKey length for live metrics iKey masking
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/checkstyle-suppressions.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/pipeline/TelemetryItemExporter.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/quickpulse/QuickPulse.java
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/src/main/java/com/azure/monitor/opentelemetry/autoconfigure/implementation/utils/IKeyMasker.java
Labels: OpenTelemetry

#44324 Update OTel autoconfigure changelog
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
Labels: OpenTelemetry

#44335 Using minor bump for azure-messaging-webpubsub-client release
  eng/code-quality-reports/src/main/resources/revapi/revapi.json
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub-client/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/README.md
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
Labels: WebPubSub

#44337 Sync eng/common directory with azure-sdk-tools for PR 9895
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#44314 Update azure identity extension readme
  sdk/identity/azure-identity-extensions/README.md
Labels: azure-spring

#44166 Deprecation of the java packages for networkanalytics
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/README.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/pom.xml
Labels: Mgmt

#44349 Increment versions for netapp releases
  eng/versioning/version_client.txt
  sdk/netapp/azure-resourcemanager-netapp/CHANGELOG.md
  sdk/netapp/azure-resourcemanager-netapp/pom.xml
Labels: Mgmt

#44351 mgmt, deprecate networkanalytics, prepare release
  eng/versioning/version_client.txt
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/README.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/pom.xml
Labels: Mgmt

#44352 Increment versions for deviceregistry releases
  eng/versioning/version_client.txt
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/CHANGELOG.md
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/pom.xml
Labels: Mgmt

#44359 Increment versions for networkanalytics releases
  eng/versioning/version_client.txt
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/azure-resourcemanager-networkanalytics/pom.xml
Labels: Mgmt

#44368 Add versioning files to PR pipeline excludes
  eng/pipelines/pullrequest.yml
Labels: EngSys

#44341 Sync eng/common directory with azure-sdk-tools for PR 9901
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#44376 Increment versions for webpubsub releases
  eng/versioning/version_client.txt
  sdk/webpubsub/azure-messaging-webpubsub-client/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub-client/pom.xml
  sdk/webpubsub/azure-messaging-webpubsub/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsub/pom.xml
Labels: WebPubSub

#42853 Variants
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManagementConfiguration.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/PercentageFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/filters/TimeWindowFilter.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/FeatureFilterUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrencePattern.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/models/RecurrenceRange.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/TimeWindowFilterSettings.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/TimeWindowUtils.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceEvaluator.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/implementation/timewindow/recurrence/RecurrenceValidator.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Allocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/EvaluationEvent.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Feature.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/FeatureManagementException.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/GroupAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/PercentileAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/UserAllocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Variant.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantAssignmentReason.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantReference.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerVariantTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceEvaluatorTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/filters/recurrence/RecurrenceValidatorTest.java
Labels: azure-spring

#44377 Increment versions for eventhubs releases
  eng/versioning/version_client.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-jedis/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-track2-perf/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/docs/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs/pom.xml
Labels: Event Hubs

#44379 Sync eng/common directory with azure-sdk-tools for PR 9902
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#44383 mgmt, deviceregistry, add live tests
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/pom.xml
  sdk/deviceregistry/azure-resourcemanager-deviceregistry/src/test/java/com/azure/resourcemanager/deviceregistry/DeviceRegistryManagerTests.java
  sdk/deviceregistry/test-resources.bicep
  sdk/deviceregistry/tests.mgmt.yml
Labels: Mgmt

#44375 Prepare release for Formrecognizer
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#44392 Fixes enqueuing events with partitionId and getBufferedEventCount();
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventDataAggregator.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducer.java
  sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClient.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedPartitionProducerTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientIntegrationTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubBufferedProducerAsyncClientTest.java
  sdk/eventhubs/azure-messaging-eventhubs/src/test/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClientIntegrationTest.java
Labels: Event Hubs

#44371 Add triggeringPaths to their correct ci.yml files and remove the, now defunct, validation-groups.yml
  eng/pipelines/scripts/generate-project-list.ps1
  eng/scripts/Language-Settings.ps1
  eng/validation-groups.yml
  sdk/clientcore/ci.yml
  sdk/core/ci.v2.yml
  sdk/core/ci.yml
Labels: EngSys

#44406 [Automation] Generate Fluent Lite from Swagger specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/readme.md#package-2023-03
  sdk/migration/azure-resourcemanager-migration-assessment/CHANGELOG.md
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/MigrationAssessmentManager.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/fluent/MigrationAssessmentManagementClient.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/fluent/models/package-info.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/fluent/package-info.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessedMachinesOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessedSqlDatabaseV2OperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessedSqlInstanceV2OperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessedSqlMachinesOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessedSqlRecommendedEntityOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessmentOptionsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessmentProjectSummaryOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessmentProjectsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AssessmentsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AvsAssessedMachinesOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AvsAssessmentOptionsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/AvsAssessmentsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/GroupsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/HypervCollectorsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/ImportCollectorsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/MachinesOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/MigrationAssessmentManagementClientBuilder.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/MigrationAssessmentManagementClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/OperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/PrivateEndpointConnectionOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/PrivateLinkResourceOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/ServerCollectorsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/SqlAssessmentOptionsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/SqlAssessmentV2OperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/SqlAssessmentV2SummaryOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/SqlCollectorOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/VmwareCollectorsOperationsClientImpl.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/implementation/package-info.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/models/package-info.java
  sdk/migration/azure-resourcemanager-migration-assessment/src/main/java/com/azure/resourcemanager/migration/assessment/package-info.java
Labels: Mgmt - Track 2

#44403 Revert Spring compatibility tests 3.4.3/3.3.9
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#44407 Increment versions for migration releases
  eng/versioning/version_client.txt
  sdk/migration/azure-resourcemanager-migration-assessment/CHANGELOG.md
  sdk/migration/azure-resourcemanager-migration-assessment/pom.xml
Labels: Mgmt

#44411 Fix javadoc generation for the remoterendering sdk
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
Labels: Remote Rendering

#43722 Make starter monitor based on Spring Boot 3
  eng/versioning/external_dependencies.txt
  sdk/spring/spring-cloud-azure-starter-monitor/ci.yml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
Labels: azure-spring

#44416 Sync eng/common directory with azure-sdk-tools for PR 9921
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#44410 Removed more mentions of Azure in clientcore.
  sdk/clientcore/core/src/main/java/io/clientcore/core/implementation/ReflectionUtilsMethodHandle.java
  sdk/clientcore/http-okhttp3/src/test/java/io/clientcore/http/okhttp3/TestUtils.java
Labels: clientcore

#44415 Remove impressions pixel from README
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/README.md
Labels: Event Grid

#44397 Increment versions for formrecognizer releases
  eng/versioning/version_client.txt
  sdk/formrecognizer/azure-ai-formrecognizer-perf/pom.xml
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/pom.xml
Labels: Cognitive - Form Recognizer

#44331 Increment versions for openai releases
  eng/versioning/version_client.txt
  sdk/openai/azure-ai-openai-assistants/CHANGELOG.md
  sdk/openai/azure-ai-openai-assistants/pom.xml
  sdk/openai/azure-ai-openai/CHANGELOG.md
  sdk/openai/azure-ai-openai/pom.xml
  sdk/search/azure-search-documents/pom.xml
Labels: Search, OpenAI

#44418 Update to correct sha
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid-systemevents/tsp-location.yaml
  sdk/eventgrid/azure-messaging-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-messaging-eventgrid/swagger/README.md
Labels: Event Grid

#44320 Increment versions for cosmos releases
  common/smoke-tests/pom.xml
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-dotnet-benchmark/pom.xml
  sdk/cosmos/azure-cosmos-encryption/CHANGELOG.md
  sdk/cosmos/azure-cosmos-encryption/pom.xml
  sdk/cosmos/azure-cosmos-kafka-connect/CHANGELOG.md
  sdk/cosmos/azure-cosmos-kafka-connect/pom.xml
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-1_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-2_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-test/CHANGELOG.md
  sdk/cosmos/azure-cosmos-test/pom.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/pom.xml
  sdk/resourcemanager/azure-resourcemanager-samples/pom.xml
  sdk/spring/azure-spring-data-cosmos/pom.xml
  sdk/spring/spring-cloud-azure-actuator-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-actuator/pom.xml
  sdk/spring/spring-cloud-azure-autoconfigure/pom.xml
  sdk/spring/spring-cloud-azure-service/pom.xml
  sdk/spring/spring-cloud-azure-starter-cosmos/pom.xml
Labels: Cosmos, Mgmt, common, azure-spring
