Repository Azure/azure-sdk-for-java, pull requests merged in 2025-09, with the labels that each got.

#46469 STG100 - DFS List Paths Begin From
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeDirectoryClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemClient.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/implementation/FileSystemsImpl.java
  sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/models/ListPathsOptions.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/DirectoryAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemApiTests.java
  sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileSystemAsyncApiTests.java
  sdk/storage/azure-storage-file-datalake/swagger/README.md
Labels: Storage

#46553 mgmt, fix live test in storage mover
  sdk/storagemover/azure-resourcemanager-storagemover/pom.xml
  sdk/storagemover/azure-resourcemanager-storagemover/src/test/java/com/azure/resourcemanager/storagemover/StorageMoverManagerTests.java
Labels: Mgmt

#46568 Bug Fixes
  sdk/spring/spring-cloud-azure-appconfiguration-config-web/src/main/java/com/azure/spring/cloud/appconfiguration/config/web/implementation/pullrefresh/AppConfigurationEventListener.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
Labels: azure-spring

#46581 Increment versions for playwright releases
  eng/versioning/version_client.txt
  sdk/playwright/azure-resourcemanager-playwright/CHANGELOG.md
  sdk/playwright/azure-resourcemanager-playwright/pom.xml
Labels: Mgmt

#46582 mgmt, split msi
  pom.xml
  sdk/msi/azure-resourcemanager-msi/CHANGELOG.md
  sdk/msi/azure-resourcemanager-msi/README.md
  sdk/msi/azure-resourcemanager-msi/assets.json
  sdk/msi/azure-resourcemanager-msi/pom.xml
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/MsiManager.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/FederatedIdentityCredentialsClient.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/ManagedServiceIdentityClient.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/OperationsClient.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/SystemAssignedIdentitiesClient.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/UserAssignedIdentitiesClient.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/FederatedIdentityCredentialInner.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/FederatedIdentityCredentialProperties.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/IdentityInner.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/OperationInner.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/SystemAssignedIdentityInner.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/SystemAssignedIdentityProperties.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/UserAssignedIdentityProperties.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/models/package-info.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/fluent/package-info.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/FederatedIdentityCredentialsClientImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/IdentitesImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/IdentityImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/ManagedServiceIdentityClientBuilder.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/ManagedServiceIdentityClientImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/OperationsClientImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/SystemAssignedIdentitiesClientImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/implementation/UserAssignedIdentitiesClientImpl.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/FederatedIdentityCredentialsListResult.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/Identities.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/Identity.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/IdentityUpdate.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/IsolationScope.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/OperationDisplay.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/OperationListResult.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/UserAssignedIdentitiesListResult.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/models/package-info.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/com/azure/resourcemanager/msi/package-info.java
  sdk/msi/azure-resourcemanager-msi/src/main/java/module-info.java
  sdk/msi/azure-resourcemanager-msi/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-msi/proxy-config.json
  sdk/msi/azure-resourcemanager-msi/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-msi/reflect-config.json
  sdk/msi/azure-resourcemanager-msi/src/main/resources/azure-resourcemanager-msi.properties
  sdk/msi/azure-resourcemanager-msi/src/samples/java/com/azure/resourcemanager/msi/ReadmeSamples.java
  sdk/msi/azure-resourcemanager-msi/src/test/java/com/azure/resourcemanager/msi/MSIIdentityManagementTests.java
  sdk/msi/azure-resourcemanager-msi/src/test/resources/junit-platform.properties
  sdk/msi/ci.yml
  sdk/msi/pom.xml
  sdk/resourcemanager/api-specs.json
  sdk/resourcemanager/azure-resourcemanager-msi/assets.json
  sdk/resourcemanager/azure-resourcemanager/pom.xml
  sdk/resourcemanager/ci.yml
  sdk/resourcemanager/pom.xml
  sdk/spring/pipeline/ClientFromSourcePom.xml
  sdk/spring/pipeline/compatibility-tests-job.yml
Labels: Mgmt, azure-spring

#46433 Fail fast in current region when Document requests hit 410 `Lease Not Found`.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicyTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/directconnectivity/StoreReaderTest.java
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/ClientRetryPolicyE2ETests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Exceptions.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/BarrierRequestHelper.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/QuorumReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreResult.java
Labels: Cosmos

#46594 Hybrid Search: Adding fixes for schedulingStopWatch start/stop for a race condition
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/metrics/SchedulingStopwatch.java
Labels: Cosmos

#46590 BOM Mergeback August 2025
  sdk/boms/azure-sdk-bom/CHANGELOG.md
  sdk/boms/azure-sdk-bom/README.md
  sdk/boms/azure-sdk-bom/pom.xml
Labels: azure-sdk-bom

#46604 Increment versions for iotfirmwaredefense releases
  eng/versioning/version_client.txt
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/CHANGELOG.md
  sdk/iotfirmwaredefense/azure-resourcemanager-iotfirmwaredefense/pom.xml
Labels: Mgmt

#46598 Fix azd hanging issue.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentitySyncClient.java
Labels: Azure.Identity

#46572 Fix edge case response parsing for pwsh credential
  eng/versioning/version_client.txt
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/util/PowerShellUtil.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/implementation/util/PowerShellUtilTests.java
Labels: Azure.Identity

#46610 Prepare Core libraries for September 2025 GA
  eng/versioning/version_client.txt
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/pom.xml
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/pom.xml
  sdk/core/azure-core-http-jdk-httpclient/CHANGELOG.md
  sdk/core/azure-core-http-jdk-httpclient/README.md
  sdk/core/azure-core-http-jdk-httpclient/pom.xml
  sdk/core/azure-core-http-netty/CHANGELOG.md
  sdk/core/azure-core-http-netty/README.md
  sdk/core/azure-core-http-netty/pom.xml
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http-okhttp/pom.xml
  sdk/core/azure-core-http-vertx/CHANGELOG.md
  sdk/core/azure-core-http-vertx/README.md
  sdk/core/azure-core-http-vertx/pom.xml
  sdk/core/azure-core-management/CHANGELOG.md
  sdk/core/azure-core-management/README.md
  sdk/core/azure-core-management/pom.xml
  sdk/core/azure-core-metrics-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-metrics-opentelemetry/README.md
  sdk/core/azure-core-metrics-opentelemetry/pom.xml
  sdk/core/azure-core-perf/pom.xml
  sdk/core/azure-core-serializer-avro-apache/CHANGELOG.md
  sdk/core/azure-core-serializer-avro-apache/README.md
  sdk/core/azure-core-serializer-avro-apache/pom.xml
  sdk/core/azure-core-serializer-json-gson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-gson/README.md
  sdk/core/azure-core-serializer-json-gson/pom.xml
  sdk/core/azure-core-serializer-json-jackson/CHANGELOG.md
  sdk/core/azure-core-serializer-json-jackson/README.md
  sdk/core/azure-core-serializer-json-jackson/pom.xml
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/pom.xml
  sdk/core/azure-core-tracing-opentelemetry-samples/pom.xml
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/pom.xml
  sdk/core/azure-core-version-tests/pom.xml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/pom.xml
  sdk/e2e/pom.xml
Labels: Azure.Core, Azure.Identity, OpenTelemetry, Azure.Core.AMQP

#46608 Removing dependencies on Log4j (and as a necessary side effect stopping to export Log4J logs to Azuremonitor)
  eng/versioning/external_dependencies.txt
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/AzureMonitorConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosClientCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosClientConfigurationSpec.scala
Labels: Cosmos

#46615 Internal: Updating changelogs with missing PR
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
Labels: Cosmos

#46617 [Release]azure-cosmos-spark_4.39.0 | fabric-cosmos-spark-auth 1.0.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/CHANGELOG.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#46607 Increment versions for computerecommender releases
  eng/versioning/version_client.txt
  sdk/computerecommender/azure-resourcemanager-computerecommender/CHANGELOG.md
  sdk/computerecommender/azure-resourcemanager-computerecommender/pom.xml
Labels: Mgmt

#46601 docs(playwrighttesting): Readme update with deprecation message
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/README.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
Labels: Mgmt

#46631 Increment versions for playwrighttesting releases
  eng/versioning/version_client.txt
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
Labels: Mgmt

#46620 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/CHANGELOG.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#46612 Fix/Update Identity Docs
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#46644 Increment versions for playwrighttesting releases
  eng/versioning/version_client.txt
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/azure-resourcemanager-playwrighttesting/pom.xml
Labels: Mgmt

#46640 Fixed long emulator tests
  sdk/cosmos/azure-cosmos-benchmark/src/test/resources/long-emulator-testng.xml
  sdk/cosmos/azure-cosmos-encryption/src/test/resources/long-emulator-testng.xml
  sdk/cosmos/azure-cosmos-tests/pom.xml
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/throughputControl/ThroughputControlTests.java
Labels: Cosmos

#46626 dpg, loadtesting, remove unused java files
  sdk/appservice/azure-resourcemanager-appservice/src/test/java/com/azure/resourcemanager/appservice/OneDeployTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/Aggregation.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/CreateByTypes.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/DimensionValueList.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/FileStatus.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/FileType.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/MetricRequestPayload.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/NameAndDesc.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/PFAction.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/PFAgFunc.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/PFResult.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/PFTestResult.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/Status.java
  sdk/loadtesting/azure-developer-loadtesting/src/main/java/com/azure/developer/loadtesting/models/TestKind.java
  sdk/loadtesting/azure-developer-loadtesting/src/samples/java/com/azure/developer/loadtesting/LongRunningOperations.java
  sdk/loadtesting/azure-developer-loadtesting/src/samples/java/com/azure/developer/loadtesting/LongRunningOperationsAsync.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestAdministrationAsyncTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestAdministrationTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunAsyncTests.java
  sdk/loadtesting/azure-developer-loadtesting/src/test/java/com/azure/developer/loadtesting/LoadTestRunTests.java
Labels: Load Testing

#46650 Increment versions for resources releases
  eng/versioning/version_client.txt
  sdk/resources/azure-resourcemanager-resources-bicep/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources-bicep/pom.xml
Labels: Mgmt

#46684 Increment versions for computefleet releases
  eng/versioning/version_client.txt
  sdk/computefleet/azure-resourcemanager-computefleet/CHANGELOG.md
  sdk/computefleet/azure-resourcemanager-computefleet/pom.xml
Labels: Mgmt

#46691 Sync eng/common directory with azure-sdk-tools for PR 11931
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#46676 Update Msal dependency to v.1.23.1
  eng/versioning/external_dependencies.txt
  sdk/agrifood/azure-verticals-agrifood-farming/src/samples/java/com/azure/verticals/agrifood/farming/ReadmeSamples.java
  sdk/agrifood/azure-verticals-agrifood-farming/src/test/java/com/azure/verticals/agrifood/farming/PartiesClientTests.java
  sdk/eventhubs/microsoft-azure-eventhubs/pom.xml
  sdk/face/azure-ai-vision-face/src/samples/java/com/azure/ai/vision/face/samples/FindSimilarWithIds.java
  sdk/identity-v2/azure-identity/pom.xml
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity/pom.xml
  sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/OnBehalfOfCredentialTest.java
  sdk/spring/spring-cloud-azure-service/pom.xml
Labels: Event Hubs, Azure.Identity, Cognitive - Face

#46696 [Automation] Generate Fluent Lite from Swagger cognitiveservices#package-2025-06-01
  eng/automation/api-specs.yaml
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/README.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/AccountConnectionsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/CommitmentPlansClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/DeploymentsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/EncryptionScopesClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/NetworkSecurityPerimeterConfigurationsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/ProjectConnectionsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/RaiBlocklistItemsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/RaiBlocklistsClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/RaiPoliciesClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/ResourceSkusClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/implementation/UsagesClientImpl.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/models/AccountProperties.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/main/java/com/azure/resourcemanager/cognitiveservices/models/NetworkInjection.java
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/src/test/java/com/azure/resourcemanager/cognitiveservices/generated/NetworkInjectionTests.java
Labels: Mgmt, Mgmt - Track 2

#46698 Increment versions for cognitiveservices releases
  eng/versioning/version_client.txt
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/azure-resourcemanager-cognitiveservices/pom.xml
Labels: Mgmt

#46702 [manual] Increment versions for appcontainers releases
  eng/versioning/version_client.txt
  sdk/appcontainers/azure-resourcemanager-appcontainers/CHANGELOG.md
  sdk/appcontainers/azure-resourcemanager-appcontainers/pom.xml
  sdk/appservice/azure-resourcemanager-appservice/pom.xml
Labels: Mgmt

#46678 Prepare Identity Release 1.18.0
  eng/versioning/version_client.txt
  sdk/documentintelligence/azure-ai-documentintelligence/pom.xml
  sdk/e2e/pom.xml
  sdk/identity/azure-identity-broker-samples/pom.xml
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/pom.xml
  sdk/identity/azure-identity-perf/pom.xml
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/pom.xml
  sdk/identity/live-test-apps/identity-test-container/pom.xml
  sdk/identity/live-test-apps/identity-test-function/pom.xml
  sdk/identity/live-test-apps/identity-test-vm/pom.xml
  sdk/identity/live-test-apps/identity-test-webapp/pom.xml
Labels: Azure.Identity

#46637 AAD Auth: Adds a fallback mechanism for AAD audience scope.
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/rx/AadAuthorizationTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Constants.java
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java
Labels: Cosmos

#46716 [Automation] Generate SDK based on TypeSpec 0.33.3
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/src/main/java/com/azure/resourcemanager/hardwaresecuritymodules/models/CloudHsmClusterBackupStatusGetHeaders.java
  sdk/hardwaresecuritymodules/azure-resourcemanager-hardwaresecuritymodules/src/main/java/com/azure/resourcemanager/hardwaresecuritymodules/models/CloudHsmClusterRestoreStatusGetHeaders.java
  sdk/healthinsights/azure-health-insights-radiologyinsights/src/main/resources/META-INF/azure-health-insights-radiologyinsights_metadata.json
Labels: DPG

#46726 Sync eng/common directory with azure-sdk-tools for PR 12124
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#46700 usePkRangeCacheToEnumeratePartitionKeyCacheInPkCFP
  sdk/cosmos/azure-cosmos-tests/src/test/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImplTests.java
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/pkversion/PartitionSynchronizerImpl.java
Labels: Cosmos

#46727 improvePerfDuringPartitionPlanning
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/implementation/SparkBridgeImplementationInternal.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateSpark2ContinuationsFromChangeFeedOffset.scala
Labels: Cosmos

#46729 Fix spring compatibility tests
  sdk/spring/pipeline/compatibility-tests-job.yml
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#46741 Sync eng/common directory with azure-sdk-tools for PR 11968
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#46742 Sync eng/common directory with azure-sdk-tools for PR 11868
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#46748 [Automation] Generate SDK based on TypeSpec 0.33.3
  sdk/disconnectedoperations/azure-resourcemanager-disconnectedoperations/src/main/resources/META-INF/azure-resourcemanager-disconnectedoperations_metadata.json
Labels: DPG

#46738 Feature Management - API View Changes
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/FeatureManager.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/Allocation.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantAssignmentReason.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/models/VariantReference.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/LoggerTelemetryPublisher.java
  sdk/spring/spring-cloud-azure-feature-management/src/main/java/com/azure/spring/cloud/feature/management/telemetry/TelemetryPublisher.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/FeatureManagerTest.java
  sdk/spring/spring-cloud-azure-feature-management/src/test/java/com/azure/spring/cloud/feature/management/telemetry/LoggerTelemetryPublisherTest.java
Labels: azure-spring

#46622 Port WorkloadIdentityCredential's auth flow to ClientAssertionCredential.
  sdk/identity/azure-identity/src/main/java/com/azure/identity/WorkloadIdentityCredential.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/DefaultAzureCredentialTest.java
  sdk/identity/azure-identity/src/test/java/com/azure/identity/WorkloadIdentityCredentialTest.java
Labels: Azure.Identity

#46762 Prepare OTel AutoConfigure release v1.4.0
  eng/versioning/version_client.txt
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
Labels: Monitor - Autoconfigure

#46619 Update README to reflect AZURE_TOKEN_CREDENTIALS usage and not promote SP
  sdk/agrifood/azure-verticals-agrifood-farming/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/README.md
  sdk/confidentialledger/azure-security-confidentialledger/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/face/azure-ai-vision-face/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/maps/azure-maps-geolocation/README.md
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-route/README.md
  sdk/maps/azure-maps-search/README.md
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-traffic/README.md
  sdk/maps/azure-maps-weather/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/openai/azure-ai-openai/README.md
  sdk/purview/azure-analytics-purview-administration/README.md
  sdk/purview/azure-analytics-purview-scanning/README.md
  sdk/resourcemanagerhybrid/README.md
  sdk/schemaregistry/azure-data-schemaregistry/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/translation/azure-ai-translation-document/README.md
Labels: Monitor, Schema Registry, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Face, Cognitive - Metrics Advisor, Purview, Confidential Ledger, OpenAI, Document Intelligence

#46735 mgmt, fix ci for keyvault and storage
  sdk/keyvault/azure-resourcemanager-keyvault/ci.yml
  sdk/keyvault/azure-resourcemanager-keyvault/pom.xml
  sdk/keyvault/ci.yml
  sdk/storage/azure-resourcemanager-storage/ci.yml
  sdk/storage/azure-resourcemanager-storage/pom.xml
  sdk/storage/ci.yml
Labels: KeyVault, Storage, Mgmt

#46706 dpg, keyvault, update commit in tsp-location
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/AudioNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/DocumentNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/ImageNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/InteractiveNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/MediaNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/NotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/ReactionNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/StickerNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/TemplateNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/TextNotificationContent.java
  sdk/communication/azure-communication-messages/src/main/java/com/azure/communication/messages/models/VideoNotificationContent.java
  sdk/communication/azure-communication-messages/tsp-location.yaml
  sdk/healthdataaiservices/azure-health-deidentification/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-administration/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/models/CertificateBundle.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/implementation/models/DeletedCertificateBundle.java
  sdk/keyvault/azure-security-keyvault-certificates/src/main/java/com/azure/security/keyvault/certificates/models/SubjectAlternativeNames.java
  sdk/keyvault/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-secrets/tsp-location.yaml
Labels: KeyVault

#46763 Fix broken links
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#46668 Sync eng/common directory with azure-sdk-tools for PR 12061
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#46800 Increment versions for quota releases
  eng/versioning/version_client.txt
  sdk/quota/azure-resourcemanager-quota/CHANGELOG.md
  sdk/quota/azure-resourcemanager-quota/pom.xml
Labels: Mgmt

#46792 Update spring reference
  sdk/spring/spring-reference.yml
Labels: azure-spring

#46809 Increment versions for containerservice releases
  eng/versioning/version_client.txt
  sdk/containerservice/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/containerservice/azure-resourcemanager-containerservice/pom.xml
  sdk/resourcemanager/azure-resourcemanager/pom.xml
Labels: Mgmt

#46817 Increment versions for compute releases
  eng/versioning/version_client.txt
  sdk/compute/azure-resourcemanager-compute-recommender/CHANGELOG.md
  sdk/compute/azure-resourcemanager-compute-recommender/pom.xml
Labels: Mgmt

#46824 Prepare OTel AutoConfigure release v1.4.0
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
Labels: Monitor - Autoconfigure

#46818 Prepare ARM patch release after package split
  eng/pipelines/patch-release.yml
  eng/versioning/version_client.txt
  sdk/appservice/azure-resourcemanager-appservice/CHANGELOG.md
  sdk/appservice/azure-resourcemanager-appservice/pom.xml
  sdk/authorization/azure-resourcemanager-authorization/CHANGELOG.md
  sdk/authorization/azure-resourcemanager-authorization/pom.xml
  sdk/cdn/azure-resourcemanager-cdn/CHANGELOG.md
  sdk/cdn/azure-resourcemanager-cdn/pom.xml
  sdk/compute/azure-resourcemanager-compute/CHANGELOG.md
  sdk/compute/azure-resourcemanager-compute/pom.xml
  sdk/containerinstance/azure-resourcemanager-containerinstance/CHANGELOG.md
  sdk/containerinstance/azure-resourcemanager-containerinstance/pom.xml
  sdk/containerregistry/azure-containers-containerregistry-perf/pom.xml
  sdk/containerregistry/azure-containers-containerregistry/pom.xml
  sdk/containerregistry/azure-resourcemanager-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-resourcemanager-containerregistry/pom.xml
  sdk/containerservice/azure-resourcemanager-containerservice/CHANGELOG.md
  sdk/containerservice/azure-resourcemanager-containerservice/pom.xml
  sdk/cosmos/azure-resourcemanager-cosmos/CHANGELOG.md
  sdk/cosmos/azure-resourcemanager-cosmos/pom.xml
  sdk/dns/azure-resourcemanager-dns/CHANGELOG.md
  sdk/dns/azure-resourcemanager-dns/pom.xml
  sdk/eventhubs/azure-resourcemanager-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-resourcemanager-eventhubs/pom.xml
  sdk/monitor/azure-resourcemanager-monitor/CHANGELOG.md
  sdk/monitor/azure-resourcemanager-monitor/pom.xml
  sdk/msi/azure-resourcemanager-msi/CHANGELOG.md
  sdk/msi/azure-resourcemanager-msi/pom.xml
  sdk/network/azure-resourcemanager-network/CHANGELOG.md
  sdk/network/azure-resourcemanager-network/pom.xml
  sdk/privatedns/azure-resourcemanager-privatedns/CHANGELOG.md
  sdk/privatedns/azure-resourcemanager-privatedns/pom.xml
  sdk/redis/azure-resourcemanager-redis/CHANGELOG.md
  sdk/redis/azure-resourcemanager-redis/pom.xml
  sdk/resources/azure-resourcemanager-resources/CHANGELOG.md
  sdk/resources/azure-resourcemanager-resources/pom.xml
  sdk/search/azure-resourcemanager-search/CHANGELOG.md
  sdk/search/azure-resourcemanager-search/pom.xml
  sdk/servicebus/azure-resourcemanager-servicebus/CHANGELOG.md
  sdk/servicebus/azure-resourcemanager-servicebus/pom.xml
  sdk/sql/azure-resourcemanager-sql/CHANGELOG.md
  sdk/sql/azure-resourcemanager-sql/pom.xml
  sdk/storage/azure-resourcemanager-storage/CHANGELOG.md
  sdk/storage/azure-resourcemanager-storage/pom.xml
  sdk/trafficmanager/azure-resourcemanager-trafficmanager/CHANGELOG.md
  sdk/trafficmanager/azure-resourcemanager-trafficmanager/pom.xml
Labels: Container Registry, Mgmt

#46826 azure-search-documents, fix codegen diff
  sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/SearchField.java
Labels: Search

#46803 Update Access Token Cache to handle Tenant
  sdk/core/azure-core/src/main/java/com/azure/core/implementation/AccessTokenCache.java
  sdk/core/azure-core/src/test/java/com/azure/core/implementation/AccessTokenCacheTests.java
Labels: Azure.Core

#46833 Increment versions for storagecache releases
  eng/versioning/version_client.txt
  sdk/storagecache/azure-resourcemanager-storagecache/CHANGELOG.md
  sdk/storagecache/azure-resourcemanager-storagecache/pom.xml
Labels: Mgmt

#46821 Sync eng/common directory with azure-sdk-tools for PR 12238
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#46759 support feedrange cache refresh interval config
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedMicroBatchStream.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/BulkWriter.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedBatch.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ChangeFeedTable.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/ContainerFeedRangesCache.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConfig.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosConstants.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosPartitionPlanner.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosReadManyReader.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/CosmosWriterBase.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/catalog/CosmosCatalogCosmosSDKClient.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/catalog/CosmosCatalogManagementSDKClient.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/CreateSpark2ContinuationsFromChangeFeedOffset.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/main/scala/com/azure/cosmos/spark/udf/GetFeedRangesForContainer.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/BulkWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosConfigSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/CosmosPartitionPlannerSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/PartitionMetadataSpec.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/PointWriterITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/PointWriterSubpartitionITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EChangeFeedSplitITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/SparkE2EStructuredStreamingITest.scala
  sdk/cosmos/azure-cosmos-spark_3_2-12/src/test/scala/com/azure/cosmos/spark/utils/CosmosPatchTestHelper.scala
  sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/DocumentProducer.java
Labels: Cosmos

#46808 Update Spring Boot and Spring Cloud versions for the Spring compatibility tests
  sdk/spring/pipeline/spring-cloud-azure-supported-spring.json
Labels: azure-spring

#46840 Increment versions for monitor releases
  eng/versioning/version_client.txt
  sdk/clientcore/http-stress/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/pom.xml
  sdk/eventhubs/azure-messaging-eventhubs-stress/pom.xml
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-autoconfigure/pom.xml
  sdk/servicebus/azure-messaging-servicebus-stress/pom.xml
  sdk/spring/spring-cloud-azure-starter-monitor/pom.xml
  sdk/storage/azure-storage-blob-stress/pom.xml
  sdk/storage/azure-storage-file-datalake-stress/pom.xml
  sdk/storage/azure-storage-file-share-stress/pom.xml
  sdk/storage/azure-storage-stress/pom.xml
  sdk/template/azure-template-stress/pom.xml
Labels: Cosmos, Event Hubs, Service Bus, Storage, EngSys, azure-spring, Monitor - Autoconfigure, clientcore

#46852 spark release 4.40.0
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/README.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3_2-12/docs/quick-start.md
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos

#46861 Increment versions for sitemanager releases
  eng/versioning/version_client.txt
  sdk/sitemanager/azure-resourcemanager-sitemanager/CHANGELOG.md
  sdk/sitemanager/azure-resourcemanager-sitemanager/pom.xml
Labels: Mgmt

#46855 Increment versions for cosmos releases
  eng/versioning/version_client.txt
  sdk/cosmos/azure-cosmos-spark-account-data-resolver-sample/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-3_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-4_2-12/pom.xml
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/CHANGELOG.md
  sdk/cosmos/azure-cosmos-spark_3-5_2-12/pom.xml
  sdk/cosmos/fabric-cosmos-spark-auth_3/pom.xml
Labels: Cosmos
